$primary-color: #00B1EB;
$secondary-color: #3c3c3c;
$secondary-color-shade: shade($secondary-color, 15%);
$secondary-color-tint: tint($secondary-color, 15%);
$tertiary-color: #575757;
$light-bg: #fff;
$font-light: #fff;
