.custom-list{
 
    padding: 5px;
}
.custom-list-item{
    display: block;
    background: white;
    padding: 3px;
    text-align: left;
    width: 250px;
  
}
 .custom-list-item.selected {    
    background: #1e90ff;
    color: white;
    cursor: pointer;
    
}

.custom-list-item:hover {    
    background: #E6E6E6 !important; 
    cursor: pointer;
    color: black;
}

 