{% extends '@customerFacing/style-3-rows-email/style-3-rows.twig' %}
{# @var string contactFirstName #}
{# @var InvoiceItem[] invoices
invoice.id integer   The invoice ID
invoice.amount    float     The amount of the invoice
#}
{# @var float totalAmount #}


{% block styles %}

    table.salesInvoice td {
    padding: 5px;
    }

{% endblock %}
{% block headerTitle %}
    Invoice
{% endblock %}

{% block headerContet %}
    You've got bills to pay
{% endblock %}

{% block firstRow %}
    <p>{{ contactFirstName }},</p>
    <p>Please find attached the following invoice(s) for your attention: </p>
{% endblock %}

{% block secondRow %}
    <table class="salesInvoice">
        <tbody>
        <tr>
            <td>Invoice </td>
            <td>Amount £(ex VAT)</td>
        </tr>
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.id }}</td>
                <td>{{ invoice.amount | format_currency('GBP',{fraction_digit:2}) }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td>Total</td>
            <td>{{ totalAmount | format_currency('GBP',{fraction_digit:2}) }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
{% block serviceRequestURL %}
    https://www.cnc-ltd.co.uk/portal/invoices/
{% endblock %}

{% block rightFooter %}

{% endblock %}

