/vendor
/.idea
/stencil/.idea

sessions/*
logs/*
cache/*
receipts/*
!.gitkeep
/htdocs/components/FixedServiceRequestCountComponent/dist/
/htdocs/components/FixedServiceRequestCountComponent/node_modules/
/htdocs/components/FixedServiceRequestCountComponent/.cache/
