/vendor
.idea/*
htdocs/components/.idea/*
/stencil/.idea
node_modules/
sessions/*
logs/*
cache/*
receipts/*
!.gitkeep
/htdocs/components/FixedServiceRequestCountComponent/dist/
/htdocs/components/FixedServiceRequestCountComponent/node_modules/
/htdocs/components/FixedServiceRequestCountComponent/.cache/
/.vscode/ftp-sync.json
.vscode/launch.json
