{% extends "@internal/wrapper.html.twig" %}
{% block content %}
    <table border="0" cellpadding="30" cellspacing="0" width="100%">
        <tr>
            <td align="center" valign="top">

                <!-- CONTENT TABLE // -->
                <table border="0"
                       cellpadding="0"
                       cellspacing="0"
                       width="100%">
                    <tr>
                        <td valign="top" class="textContent">
                            <!--
                                The "mc:edit" is a feature for MailChimp which allows
                                you to edit certain row. It makes it easy for you to quickly edit row sections.
                                http://kb.mailchimp.com/templates/code/create-editable-content-areas-with-mailchimps-template-language
                            -->
                            <table width="100%">
                                <tbody><tr>
                                    <td>
                                        {contactName}
                                    </td>
                                    <td style="text-align: right">
                                        {cncCompanyName}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {companyName}
                                    </td>
                                    <td style="text-align: right">
                                        {cncAddLine1}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {addressLine1}
                                    </td>
                                    <td style="text-align: right">
                                        {cncAddLine2}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {town}
                                    </td>

                                    <td style="text-align: right">
                                        {cncTown}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {county}
                                    </td>
                                    <td style="text-align: right">
                                        {cncPostCode}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {postCode}
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Date: {date}
                                    </td>
                                </tr>
                                </tbody></table>

                            <div mc:edit="header"
                                 style="color:#000;line-height:125%;text-align:center;font-weight:600!important;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:normal;margin-top:1rem;margin-bottom:1rem;">
                                Important: Advance Notification of a Direct Debit Collection
                            </div>

                            <h3 mc:edit="header"
                                style="color:#5F5F5F;line-height:125%;font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:normal;margin-top:0;margin-bottom:1rem;text-align:left;">
                                Dear {contactName}</h3>
                            <div mc:edit="body"
                                 style="text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:1rem;color:#5F5F5F;line-height:135%;">
                                We are writing to advise you that we will be collecting the following payment by Direct Debit on or just after the advised date.
                            </div>


                            <table class="report-table">
                                <tbody>
                                <tr>
                                    <td style="font-weight: 700 !important;"> Service User Name:</td>
                                    <td> Computer &amp; Network Consultants Ltd</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: 700 !important;"> Service User Number:</td>
                                    <td> 446364</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: 700 !important;"> Reference:</td>
                                    <td> {invoiceNo}</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: 700 !important;"> Payment Date:</td>
                                    <td> {paymentDate}</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: 700 !important;"> Amount:</td>
                                    <td> £{totalAmount}</td>
                                </tr>
                                </tbody>
                            </table>

                            <div mc:edit="body"
                                 style="text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:1rem;color:#5F5F5F;line-height:135%;">
                                If any of the above details are incorrect, please call us as soon as possible on 01273 384100 or e-mail us at accounts@cnc-ltd.co.uk. However, if your details are correct you need do nothing and your Direct Debit will be processed as normal. For your information, the collections will be made using the reference above.

                                Should the amount, date or frequency of your Direct Debit change, we will notify you at least 10 working days in advance.
                            </div>

                            <div mc:edit="footer"
                                 style="text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:135%;">
                                Yours sincerely,
                                Accounts Team                                                                            </div>
                        </td>
                    </tr>
                </table>
                <!-- // CONTENT TABLE -->

            </td>
        </tr>
    </table>
{% endblock %}