{% extends '@customerFacing/wrapper.html.twig' %}
{# @var integer activityRef #}
{# @var string lastActivityReason #}
{# @var string technicianResponsible #}
{# @var string extra #}
{# @var string contactFirstName #}
{% block replyText %}
{% endblock %}
{% block headerTitle %}
    Daily Report
{% endblock %}

{% block headerContet %}

{% endblock %}

{% block content %}
    <p>Dear Customer</p>
    <p>Please find attached your daily serverguard report.</p>
    <p> Best Regards </p>
{% endblock %}

{% block leftFooter %}
    <br><br>
{% endblock %}

{% block rightFooter %}

{% endblock %}
