{% extends '@customerFacing/style-3-rows-email/style-3-rows.twig' %}
{# @var integer activityRef #}
{# @var string lastActivityReason #}
{# @var string technicianResponsible #}
{# @var string extra #}
{# @var string contactFirstName #}
{% block headerTitle %}
    Daily Report
{% endblock %}

{% block headerContet %}

{% endblock %}

{% block content %}

    <p>Dear Customer</p>

    <p>Please find attached your daily serverguard report.</p>


    Best Regards
{% endblock %}

{% block leftFooter %}
    <br><br>
{% endblock %}

{% block rightFooter %}

{% endblock %}
