<script>
    document.addEventListener('DOMContentLoaded', () => {
        $('#expensesTable').dataTable({
            dom: 'lfrtip',
            stateSave: true,
            searchDelay: 1000,
            columns: [
                {data: "staffName"},
                {data: "approvedValue"},
                {data: "pendingValue"},
                {data: 'YTD'},

            ],
            order: [[0, "desc"]],
            serverSide: false,
            ajax: {
                url: "?action=getExpensesRunningTotalData",
                type: "GET",
                dataSrc: (result) => {
                    return result;
                }
            },
            processing: true,
            language: {
                'loadingRecords': '&nbsp;',
                'processing': 'Loading...'
            }
        });
        $('#overtimeTable').dataTable({
            dom: 'lfrtip',
            stateSave: true,
            searchDelay: 1000,
            columns: [
                {data: "staffName"},
                {data: "approvedValue"},
                {data: "pendingValue"},
                {data: 'YTD'},

            ],
            order: [[0, "desc"]],
            serverSide: false,
            ajax: {
                url: "?action=getOvertimeRunningTotalData",
                type: "GET",
                dataSrc: (result) => {
                    return result;
                }
            },
            processing: true,
            language: {
                'loadingRecords': '&nbsp;',
                'processing': 'Loading...'
            }
        });

    })
</script>
<h1>Expenses</h1>
<table id="expensesTable">
    <thead>
    <tr>
        <th>Name</th>
        <th>Approved</th>
        <th>Pending</th>
        <th>YTD</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<br>
<h1>Overtime</h1>
<table id="overtimeTable">
    <thead>
    <tr>
        <th>Name</th>
        <th>Approved</th>
        <th>Pending</th>
        <th>YTD</th>
    </tr>
    </thead>
    <tbody>
    {% for overtime in overtimes %}
        <tr>
            <td>
                {{ overtime.staffName }}
            </td>
            <td>
                {{ overtime.approvedValue }}
            </td>
            <td>
                {{ overtime.pendingValue }}
            </td>
            <td>
                {{ overtime.YTD }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
