.card {
    margin: 10px;
    padding: 0;
    background-color: #ffffff;
    position: absolute;
}

.card-title {
    font-weight: bold;
    font-size: 16px;
    cursor: grab;
}

.card-header {

    /* background-color: #f8f9fc; */
    background-color: #C6C6C6;
    padding: 0 1rem 0 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: grab;
    height: 40px;
}

.card-body {
    padding: 0 1rem 1rem 1rem;
    margin-top: 5px;
}

tfoot {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.card-colapse {
    height: 70px;
    overflow-y: hidden;
}

.action-bar {
    position: "absolute";
    bottom: 0px;
    display: flex;
}

.action-bar-item {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    background-color: #C6C6C6;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.drag-card {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}
.input{
    width: 200px;
    border:1px solid;
    margin-right: 0px;
    box-sizing: unset !important;
    box-shadow: unset;
    padding: 2px;
    font-size: 12px;
    line-height: 16px;
}