.sd-card {
    display: flex;
    flex-direction: column;
    min-width: 195px;
    min-height: 150px;
    justify-content: flex-start;
    padding: 10px;
    margin: 5px;
    background: gray;
    align-items: center;

}

.sd-card td {
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0px;
    padding-right: 5px;
    white-space: nowrap;
}

.sd-card table {
    border-spacing: 0px
}

.sd-card-title {
    margin-top: 5px;
    font-size: 22px;
    font-weight: bold;
}

.not-yet-started {
    color: rgb(255, 245, 179);
    --fa-primary-color: gold;
    --fa-secondary-color: gray;
}

.being-worked-on {
    color: rgb(189, 248, 186);
    --fa-primary-color: #32a852;
    --fa-secondary-color: gray;
}

.start-work {
    color: rgb(198,198,198);
    --fa-secondary-color: gray;
}