{% extends '@customerFacing/style-3-rows-email/style-3-rows.twig' %}
{# @var integer activityRef #}
{# @var string lastActivityReason #}
{# @var string technicianResponsible #}
{# @var string extra #}
{# @var string contactFirstName #}
{% block headerTitle %}
    Contracts
{% endblock %}

{% block headerContet %}
    It's official and here's the proof
{% endblock %}

{% block firstRow %}
    <p>
    <span style="color: #a6a6a6">

    </span>
    </p>
    <p>{{ contactFirstName }},</p>
    <p>Please find attached all your contract schedules as requested. If you have any questions please do not hesitate
        to contact us.
    </p>
{% endblock %}

{% block secondRow %}

{% endblock %}

{% block thirdRow %}

{% endblock %}

{% block serviceRequestURL %}
    https://www.cnc-ltd.co.uk/portal/renewals/
{% endblock %}


{% block rightFooter %}

{% endblock %}