.sd-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    justify-content: flex-start;
    padding: 10px;
    background: gray;
    align-items: center;
}

.resizable .sd-card {
    width: calc((100vw - 180px) / 6);
    height: calc((100vw - 150px) / 6);
}

.sd-card td {
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0 5px 0 0;
    white-space: nowrap;
}

.resizable .sd-card td {
    font-size: 1.6vw;
}

.sd-card table {
    border-spacing: 0;
    padding-top: 10px;
}

.sd-card-title {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
}

.resizable .sd-card-title {
    font-size: 1.5vw;
}

.total {
    margin-top: 30%;
}

.total-big {
    font-size: 60px;
    margin-top: 30%;
}

.resizable .total {
    font-size: 2vw;
}

.resizable .total-big {
    font-size: 3vw;
}