<!-- Template: ActivityReasonPopup.inc.html -->
<style>
    h1 a{
        color: #000080;
    }
    .ml-5{
        margin-left: 5px;
    }
</style>
<P class="hiddenText">{problemHiddenText}</P>
<BR/>
<table width="100%">
    <tr>
        <td class="redText">Latest Update</td>
    </tr>
    <tr>
        <td class="performance-warn">
            {lastActivityText}
        </td>
    </tr>
    <tr>
        <td>{lastActivityReason}</td>
    </tr>
    <tr>
        <td bgcolor="#f1f9d1">
            <label for=""
                   style="color:#992211"
            >CNC Next Action</label>
            {lastCncNextAction}
        </td>
    </tr>
    <tr  >
        <td></td>
    </tr>
    <tr  >
        <td></td>
    </tr>
    <tr>
        <td bgcolor="#bfe8f2">
            <label for="" style="color: #8c4754;  " >Customer Summary</label>            
            {lastCustomerSummary}
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td></td>
    </tr>

    <!-- BEGIN activityBlock -->
    {originalRequestHeader}

    <tr>
        <td class="{colorClass}"
            align="left"
        >
            {date} {startTime} - {endTime} ({duration})
            {activityType} - {contactName} - {siteAddress} - {userName}
        </td>
    </tr>

    <tr>
        <td class="hiddenText">{activityHiddenText}</td>
    </tr>

    <tr>
        <td>{reason}</td>
    </tr>
    <!-- END activityBlock -->
    <tr>
        <td bgcolor="#cccccc"
            align="left"
        >Internal Notes
        </td>
    </tr>
    <!-- BEGIN internalNotesBlock -->
    <tr>
        <td class="boring-gray"
            align="left"
        >
            {internalNoteDate} by {internalNoteUpdatedByName}
        </td>
    </tr>
    <tr>
        <td>
            {internalNoteContent}
        </td>
    </tr>
    <!-- END internalNotesBlock -->
</table>
<!-- End Template: ActivityReasonPopup.inc.html -->
