<!-- Template: ActivityDisplay.inc.html -->
<script language='JavaScript'
        src="CommonJS.js"
></script>
<script type="text/javascript"
        src="ckfinder/ckfinder.js"
></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        CKEDITOR.replace('reason', {customConfig: '/ckeditor_config.js'});
    })
</script>
{activityWizardHeader}
<P id="autoUpdateLabel"></P>
<FORM method="post"
      action="{urlUpdateInitialActivity}"
      name="callActivity"
      AUTOCOMPLETE="off"
>
    <input type="hidden"
           id="callActivityID"
           name="callActivity[1][callActivityID]"
           value="{callActivityID}"
    >
    <input type="hidden"
           name="callActivity[1][customerID]"
           value="{customerID}"
    >

    <table class="singleBorder"
           width="1024"
           border="0"
    >
        <tr>
            <td class="promptText">Problem ID</td>
            <td class="mainHeadText">{problemID}</td>
        </tr>
        <tr>
            <td class="promptText">Customer</td>
            <td class="mainHeadText">{customerName}</td>
        </tr>
        <tr>
            <td class="promptText">Site</td>
            <td class="fieldText">
                <select
                        name="callActivity[1][siteNo]"
                        onchange="setFormChanged(); submit();"
                >
                    <option value="">Please Select</option>
                    <!-- BEGIN siteBlock -->
                    <option {siteSelected}
                            value="{siteNo}"
                    >{siteDesc}
                    </option>
                    <!-- END siteBlock -->
                </select>
                <span class="formErrorMessage">{siteNoMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Contact</td>
            <td class="mainHeadText">
                <select
                        name="callActivity[1][contactID]"
                        {DISABLED}
                >
                    <option value="">Please Select</option>
                    <!-- BEGIN contactBlock -->
                    <option {contactSelected}
                            value="{contactID}"
                    >{contactName}
                    </option>
                    <!-- END contactBlock -->
                </select>
                <a href="tel:{contactPhone}">{contactPhone}</a> <span class="formErrorMessage">{contactIDMessage}</span>
            </td>
        </tr>
        <tr>
            <td colspan="2"><H2>{customerDetails}</H2></td>
        </tr>
        <tr>
            <td colspan="2"><span class="formErrorMessage">{reasonMessage}</span></td>
        </tr>
        <tr>
            <td colspan="2">
        <textarea
                name="reason"
        >{reason}
        </textarea>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit"
                       name="Submit2"
                       value="Update"
                />
            </td>
        </tr>
    </table>
</FORM>
<!-- End Template: ActvityDisplay.inc.html -->
