<style>
    .redRow {
        background: red;
    }
</style>
Technical Notes
<div class="promptTextLeft">
    {techNotes}
</div>
<BR>
<h2>Before creating a new Service Request, establish whether it is related to an existing one below.</h2>
<BR>
<h2>Recent Service Requests for {contactName}</h2>
<table width="1000"
       border="0"
       cellpadding="1"
       cellspacing="1"
       class="singleBorder"
>
    <tr>
        <td class="listHeadText">ID</td>
        <td class="listHeadText">Raised</td>
        <td class="listHeadText">Reason</td>
        <td class="listHeadText">Priority</td>
        <td class="listHeadText">Allocated To</td>
        <td class="listHeadText">&nbsp;</td>
    </tr>

    <!-- BEGIN contactProblemBlock -->
    <tr onMouseOver="this.bgColor='#FFFFCC';"
        onMouseOut="this.bgColor='';"
        {contactPriorityClass}
    >
        <td class="listItemText">{contactProblemID}</td>
        <td class="listItemText">{contactDateRaised}</td>
        <td class="listItemText">
            <A
                    href="#"
                    onClick="window.open(
        '{contactUrlProblemHistoryPopup}',
        'reason',
        'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0')"
            >{contactReason}
            </A>
        </td>
        <td>{contactPriority}</td>
        <td>{contactEngineerName}</td>
        <td>
            <button type="button"
                    onclick="submitThis()"
                    class="fakeLink {supportClass}"
            >
                Log Activity
            </button>
        </td>
    </tr>
    <!-- END contactProblemBlock -->
</table>
<br>
<p>
    <button onclick="window.location = '{urlCreateNewSr}'">Log a new Service Request</button>
</p>

<h2>Recent Service Requests for the customer</h2>
<table width="1000"
       border="0"
       cellpadding="1"
       cellspacing="1"
       class="singleBorder"
>
    <tr>
        <td class="listHeadText">ID</td>
        <td class="listHeadText">Raised</td>
        <td class="listHeadText">Reason</td>
        <td class="listHeadText">Priority</td>
        <td class="listHeadText">Allocated To</td>
        <td class="listHeadText">&nbsp;</td>
    </tr>

    <!-- BEGIN problemBlock -->
    <tr onMouseOver="this.bgColor='#FFFFCC';"
        onMouseOut="this.bgColor='';"
        {priorityClass}
    >
        <td class="listItemText">{problemID}</td>
        <td class="listItemText">{dateRaised}</td>
        <td class="listItemText">
            <A
                    href="#"
                    onClick="window.open(
        '{urlProblemHistoryPopup}',
        'reason',
        'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0')"
            >{reason}
            </A>
        </td>
        <td>{priority}</td>
        <td>{engineerName}</td>
        <td><a href="{urlCreateFollowOn}">Log activity</a></td>
    </tr>
    <!-- END problemBlock -->
</table>
<br/>
<br/>
<p>
    <button onclick="window.location = '{urlCreateNewSr}'">Log a new Service Request</button>
</p>