<!-- Template: ActivityCreate6.inc.html -->
{activityWizardHeader} {contractListPopupLink}
<BR/><BR/>
<script src="CommonJS.js"></script>
<script src="ckeditor/ckeditor.js"></script>
<script language='JavaScript'
        src='popcalendar/popcalendar.js'
></script>

<P id="autoUpdateLabel"></P>
<form name="detailsForm"
      method="post"
      action="{submitURL}"
      enctype="multipart/form-data"
>
    <!-- dont think this is required: remove if not
      <input type="hidden" name="callActivityID" id="callActivityID" value="
    {callActivityID}" />
    -->
    <input type="hidden"
           name="MAX_FILE_SIZE"
           value="6291456"
    >
    <input type="hidden"
           name="customerID"
           id="customerID"
           value="{customerID}"
    >
    <input type="hidden"
           name="priority"
           id="priority"
           value="{priority}"
    >

    <table>
        <tr>
            <td>&nbsp;</td>
            <td colspan="3"
                valign="top"
            >
                <input name="hdQ"
                       type="submit"
                       id="AddToHDQueue"
                       value="HD Q"
                >
                 <input name="escQ"
                       type="submit"
                       id="AddToESCQueue"
                       value="ESC Q"
                >
                 <input name="imtQ"
                       type="submit"
                       id="AddToIMTQueue"
                       value="IMT Q"
                >
                <input name="StartWork"
                       type="submit"
                       id="StartWork"
                       value="Start Work"
                >
                <input name="Back"
                       type="button"
                       value="Cancel"
                       onclick="document.location='{backURL}';"
                >
            </td>
        </tr>

        <tr>
            <td colspan="4">&nbsp;</td>
        </tr>
        <tr class="content">
            <td class="promptText">Contact</td>
            <td class="mainHeadText"><select
                    name="contactID"
                    id="contactID"
            >
                <option value="">Please Select</option>
                <!-- BEGIN contactBlock -->
                {optGroupOpen}
                <option {contactSelected}
                        value="{contactID}"
                >{contactName} {startMainContactStyle}
                </option>
                {optGroupClose}
                <!-- END contactBlock -->
            </select>
                <a href="tel:{contactPhone}">{contactPhone}</a><span class="formErrorMessage">{contactIDMessage}</span>
            </td>

            <td class="promptText">Date Raised</td>

            <td class="mainHeadText">
                <input
                        type="text"
                        name="dateRaised"
                        id="dateRaised"
                        value="{dateRaised}"
                        {DISABLED}
                        size="10"
                        maxlength="12"
                        placeholder="dd/mm/yyyy"
                />{calendarLinkDate}

                <span class="formErrorMessage">{dateRaisedMessage}</span>
            </td>
        </tr>

        <tr class="content">
            <td class="promptText">Site</td>
            <td class="field">
                <select
                        id="siteNo"
                        name="siteNo"
                >
                    <option value="99">Please Select</option>
                    <!-- BEGIN siteBlock -->
                    <option {siteSelected}
                            value="{siteNo}"
                    >{siteDesc}
                    </option>
                    <!-- END siteBlock -->
                </select>
                <span class="formErrorMessage">{siteNoMessage}</span>
            </td>

            <td class="promptText">Time Raised</td>

            <td class="mainHeadText">
                <input
                        type="text"
                        name="timeRaised"
                        id="timeRaised"
                        value="{timeRaised}"
                        {DISABLED}
                        size="5"
                        maxlength="12"
                        placeholder="HH:MM"
                />

                <span class="formErrorMessage">{timeRaisedMessage}</span>
            </td>
        </tr>

        <tr class="content">
            <td class="promptText">Priority</td>
            <td class="field">
                <select
                        id="priority"
                        name="priority"
                >
                    <option value="">Please Select</option>
                    <!-- BEGIN priorityBlock -->
                    <option {prioritySelected}
                            value="{priority}"
                    >{priorityDesc}
                    </option>
                    <!-- END priorityBlock -->
                </select>
                <span class="formErrorMessage">{priorityMessage}</span>
            </td>

            <td class="promptText">Hide Entire SR From Customer</td>
            <td class="field">
                <input type="checkbox"
                       name="hideFromCustomerFlag"
                       value="Y"
                       {hideFromCustomerFlagChecked}
                       title="Hide this SR from customer"
                >
                <span class="formErrorMessage">{hideFromCustomerFlagMessage}</span>
            </td>
        </tr>

    </table>

    <table>
        <tr>
            <td colspan="4"><span class="formErrorMessage">{reasonMessage}</span></td>
        </tr>
        <tr>
            <td colspan="4"
                class="promptTextLeft"
            >Details
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <textarea name="reason">{reason}</textarea>
                <script type="text/javascript">
                    reason = CKEDITOR.replace('reason', {customConfig: '/ckeditor_config.js'});
                    reason.addCss('body { font-size: 10pt; }');
                </script>
            </td>
        </tr>
        <tr>
            <td colspan="4"><span class="formErrorMessage">{internalNotesMessage}</span></td>
        </tr>
        <tr>
            <td colspan="4"
                class="promptTextLeft"
            >Internal Notes
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <textarea name="internalNotes">{internalNotes}</textarea>
                <script type="text/javascript">
                    internalNotes = CKEDITOR.replace('internalNotes',
                        {
                            customConfig: '/ckeditor_config.js'
                        }
                    );
                    internalNotes.addCss('body { font-size: 10pt; }');
                </script>
            </td>
        </tr>
        <tr>
            <td colspan="4"
                valign="top"
            >&nbsp;
            </td>
        </tr>

        <tr>
            <td colspan="4"
                class="promptTextLeft"
            ><h3>Upload document</h3></td>
        </tr>

        <tr>
            <td class="promptTextLeft">Description</td>
            <td colspan="4">
                <input name="uploadDescription"
                       type="text"
                       size="45"
                       maxlength="50"
                       value="{uploadDescription}"
                >
                <input
                        name="userfile"
                        type="file"
                        value="{userfile}"
                        class="dragUploader"
                        data-description="uploadDescription"
                >
            </td>
        </tr>
        <tr>
            <td colspan="4"><span class="formErrorMessage">{fileMessage}</span></td>
        </tr>

        <tr>
            <td colspan="4">&nbsp;</td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td colspan="3"
                valign="top"
            >
                <input name="AddToQueue"
                       type="submit"
                       id="AddToQueue"
                       value="Add to Queue"
                >
                <input name="StartWork"
                       type="submit"
                       id="StartWork"
                       value="Start Work"
                >
                <input name="Escalate"
                       type="submit"
                       id="Escalate"
                       value="Escalate"
                       onClick="return (window.confirm('Are you sure you want to escalate this SR?'))"
                >
                <input name="Back"
                       type="button"
                       value="Cancel"
                       onclick="document.location='{backURL}';"
                >
            </td>
        </tr>
    </table>
</form>
<!-- End Template: ActivityCreate6.inc.html -->
