<!-- Template: ActivityCreate6.inc.html -->


{activityWizardHeader} {contractListPopupLink} {thirdPartyContactLink} {contactHistoryLink}
<BR>
<script src="CommonJS.js"></script>
<script>
    window.addEventListener('DOMContentLoaded', function () {
        checkauthorisedBy();
        CKEDITOR.replace('reason', {customConfig: '/ckeditor_config.js'});
    })

    function changeContactNotes(contactID) {
        if (!contactID) {
            return;
        }
        const object = {contactID: contactID};
        spinnerComponent.showSpinner();
        $.ajax({
            url: '?action=contactNotes',
            method: 'POST',
            type: 'post',
            dataType: 'json',
            data: object
        }).then(function (result) {
            $('.contactPhone').html(result.phone);
        }).catch(function () {
        }).then(function () {
            spinnerComponent.hideSpinner();
        });

    }

    function checkauthorisedBy() {
        const selectedOption = $('#contactID')[0].selectedOptions[0];
        if (selectedOption && selectedOption.text.indexOf('- Delegate') > -1) {
            $("#authorisedRow").show();
            $("#authorisedBy").prop('required', true);
        } else {
            $("#authorisedBy").prop('required', false);
            $("#authorisedRow").hide();
        }

        changeContactNotes(selectedOption && selectedOption.value);
    }

</script>
<P id="autoUpdateLabel"></P>
<form name="detailsForm"
      method="post"
      action="{submitURL}"
      enctype="multipart/form-data"
>
    <!-- dont think this is required: remove if not
      <input type="hidden" name="callActivityID" id="callActivityID" value="
    {callActivityID}" />
    -->
    <input type="hidden"
           name="MAX_FILE_SIZE"
           value="6291456"
    >
    <input type="hidden"
           name="customerID"
           id="customerID"
           value="{customerID}"
    >
    <input type="hidden"
           name="priority"
           id="priority"
           value="{priority}"
    >

    <input type="hidden"
           name="raiseTypeId"
           id="raiseTypeId"
           value="{raiseTypeId}"
    />

    <table>
        <tr>
            <td>&nbsp;</td>
            <td colspan="3"
                valign="top"
            >
                <input name="hdQ"
                       type="submit"
                       value="HD Q"
                >
                <input name="escQ"
                       type="submit"
                       value="ESC Q"
                >
                <input name="smallProjectsQueue"
                       type="submit"
                       value="SP Q"
                >
                <input name="salesQ"
                       type="submit"
                       value="Sales Q"
                >
                <input name="projectsQueue"
                       type="submit"
                       value="Projects Q"
                >
                <input name="StartWork"
                       type="submit"
                       id="StartWork"
                       value="Start Work"
                >
                <input name="Back"
                       type="button"
                       value="Cancel"
                       onclick="document.location='{backURL}';"
                >
            </td>
        </tr>

        <tr>
            <td colspan="4">&nbsp;</td>
        </tr>
        <tr>
            <td class="promptText">
                Email Subject Summary
            </td>
            <td colspan="3">
                <input type="text"
                       required
                       aria-label="email subject summary"
                       value="{emailSubjectSummary}"
                       width="350px"
                >
            </td>
        </tr>
        <tr id="authorisedRow"
        >
            <td class="promptText"
            >
                Authorised By
            </td>
            <td class="mainHeadText">
                <select name="authorisedBy"
                        id="authorisedBy"
                        required
                >
                    <option value="">Please Select</option>
                    <!-- BEGIN contactOnlyMainAndSupervisorsBlock -->
                    {optGroupOpen}
                    <option {contactSelected}
                            value="{contactID}"
                    >{contactName} {startMainContactStyle}
                    </option>
                    <!-- END contactOnlyMainAndSupervisorsBlock -->
                </select>
            </td>
        </tr>
        <tr class="content">
            <td class="promptText">Contact</td>
            <td class="mainHeadText">
                <select
                        name="contactID"
                        id="contactID"
                        onchange="checkauthorisedBy()"
                >
                    <option value="">Please Select</option>
                    <!-- BEGIN contactBlock -->
                    {optGroupOpen}
                    <option {contactSelected}
                            value="{contactID}"
                    >{contactName} {startMainContactStyle}
                    </option>
                    <!-- END contactBlock -->
                </select>
                <span class="contactPhone">

                </span>
                <span class="formErrorMessage">{contactIDMessage}</span>
            </td>

            <td class="promptText">Date Raised</td>

            <td class="mainHeadText">
                <input
                        type="text"
                        name="dateRaised"
                        id="dateRaised"
                        value="{dateRaised}"
                        {DISABLED}
                        size="10"
                        maxlength="12"
                        placeholder="dd/mm/yyyy"
                />{calendarLinkDate}

                <span class="formErrorMessage">{dateRaisedMessage}</span>
            </td>
        </tr>

        <tr class="content">
            <td class="promptText">Site</td>
            <td class="field">
                <select
                        id="siteNo"
                        name="siteNo"
                >
                    <option value="99">Please Select</option>
                    <!-- BEGIN siteBlock -->
                    <option {siteSelected}
                            value="{siteNo}"
                    >{siteDesc}
                    </option>
                    <!-- END siteBlock -->
                </select>
                <span class="formErrorMessage">{siteNoMessage}</span>
            </td>

            <td class="promptText">Time Raised</td>

            <td class="mainHeadText">
                <input
                        type="text"
                        name="timeRaised"
                        id="timeRaised"
                        value="{timeRaised}"
                        {DISABLED}
                        size="5"
                        maxlength="12"
                        placeholder="HH:MM"
                />

                <span class="formErrorMessage">{timeRaisedMessage}</span>
            </td>
        </tr>

        <tr class="content">
            <td class="promptText">Priority</td>
            <td class="field">
                <select id="prioritySelector"
                        name="priority"
                >
                    <option value="">Please Select</option>
                    <!-- BEGIN priorityBlock -->
                    <option {prioritySelected}
                            value="{priority}"
                    >{priorityDesc}
                    </option>
                    <!-- END priorityBlock -->
                </select>
                <span class="formErrorMessage">{priorityMessage}</span>
            </td>

            <td class="promptText">Hide Entire SR From Customer</td>
            <td class="field">
                <input type="checkbox"
                       name="hideFromCustomerFlag"
                       value="Y"
                       {hideFromCustomerFlagChecked}
                       title="Hide this SR from customer"
                >
                <span class="formErrorMessage">{hideFromCustomerFlagMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Critical SR</td>
            <td class="field">
                <input type="checkbox"
                       name="criticalSRFlag"
                       value="Y"
                       title="Define this SR as critical"
                >
            </td>
            <td class="promptText">Monitor SR</td>
            <td class="field">
                <input type="checkbox"
                       name="monitorSRFlag"
                       value="Y"
                       title="Monitor this SR"
                >
            </td>
        </tr>

    </table>

    <table>
        <tr>
            <td colspan="4"><span class="formErrorMessage">{reasonMessage}</span></td>
        </tr>
        <tr>
            <td colspan="4"
                class="promptTextLeft"
            >Details
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <textarea name="reason">{reason}</textarea>
            </td>
        </tr>
        <tr>
            <td colspan="4"
                valign="top"
            >&nbsp;
            </td>
        </tr>

        <tr>
            <td colspan="4"
                class="promptTextLeft"
            ><h3>Upload document</h3></td>
        </tr>

        <tr>
            <td colspan="4">
                <input name="userfile[]"
                       type="file"
                       value="{userfile}"
                       class="dragUploader"
                       multiple
                >
            </td>
        </tr>
        <tr>
            <td colspan="4"><span class="formErrorMessage">{fileMessage}</span></td>
        </tr>

        <tr>
            <td colspan="4">&nbsp;</td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td colspan="3"
                valign="top"
            >
                <input name="hdQ"
                       type="submit"
                       value="HD Q"
                >
                <input name="escQ"
                       type="submit"
                       value="ESC Q"
                >
                <input name="smallProjectsQueue"
                       type="submit"
                       value="SP Q"
                >
                <input name="salesQ"
                       type="submit"
                       value="Sales Q"
                >
                <input name="projectsQueue"
                       type="submit"
                       value="Projects Q"
                >
                <input name="StartWork"
                       type="submit"
                       value="Start Work"
                >
                <input name="Back"
                       type="button"
                       value="Cancel"
                       onclick="document.location='{backURL}';"
                >
            </td>
        </tr>
    </table>
</form>
<!-- End Template: ActivityCreate6.inc.html -->
