<!-- Template: ActvityFurtherNewActivity.inc.html -->
<script language='JavaScript' src='popcalendar/popcalendar.js'></script>
<script language='JavaScript' src='iespell/iespell.js'></script>
<table border="0">
	<form action="{urlCreateFurtherActivity}" method="post">
	<input type="hidden" name="input[1][callActivityID]" value="{callActivityID}" />
	<input type="hidden" name="input[1][furtherActionID]" value="{furtherActionID}" />
	<TR>
		<td class="promptText">Type</td>
		<td class="fieldText">
		<select
			type="text"
			name="input[1][callActTypeID]"
		>
						<!-- BEGIN activityTypeBlock -->
						<option {activityTypeSelected} value="{callActTypeID}">{activityTypeDesc}</option>
						<!-- END activityTypeBlock -->
				</select>
		</td>
	</TR>
	<TR>
		<td class="promptText">Details</td>
		<td class="fieldText">
			<textarea
				name="input[1][details]"
				onChange="checknodespelling2(this);setFormChanged();"
				cols="130"
				rows="20">{details}</textarea>
			<span class="formErrorMessage">{detailsMessage}</span>
		</td>
	</TR>
	<TR>
		<td class="promptText">User</td>
		<td class="fieldText">
			<select
				type="text"
				name="input[1][userID]"
			>
			<!-- BEGIN userBlock -->
			<option {userSelected} value="{userID}">{userName}</option>
			<!-- END userBlock -->
			</select>
		</td>
	</TR>
		<tr>
			<td class="promptText">Date</td>
			<td class="fieldText">
				<input
					type="text"
					name="input[1][date]"
					id="date"
					value="{date}"
					size="10"
					maxlength="10"
				/>
							<a href="javascript:;" onclick="popUpCalendar(this, date, 'dd/mm/yyyy')"><img src="images/calendar.gif" alt="Calendar" width="24" height="22" hspace="0" vspace="0" border="0" align="absmiddle" /></a> <span class="formErrorMessage">{dateMessage}</span>
			</td>
		</tr>
		<tr>
			<td class="promptText">Start Time</td>
			<td class="fieldText"><input
				type="text"
				name="input[1][startTime]"
				value="{startTime}"
				size="5"
				maxlength="5"
				<span class="formErrorMessage">{startTimeMessage}</span>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td class="fieldText">
				<input type="submit" name="Update" value="Create" />
			</td>
		</tr>
	</form>
</table>
