<!-- Template: ActvityWasWorkCarriedOut.inc.html -->
<table border="0" cellpadding="2" cellspacing="2">
  <TR>
    <td colspan="2" valign="top" align="left">Was Work Carried Out?</td>
  </TR>
	<TR>
		<TD>
			<input name="WorkCarriedOut" type="button" value="Yes" onclick="document.location='{urlYes}';"/>
      <input
        name="WorkNotCarriedOut"
        type="button"
        value="No"
        onClick="{confirmJavascript} document.location='{urlNo}'">
		</TD>
	</TR>
</table>
<!-- End Template: ActvityWasWorkCarriedOut.inc.html -->
