<!-- Template: ActvitySalesRequest.inc.html -->
<script type="application/javascript">
    $(function () {
        window.alarmDate = $('#alarmDate').get(0);

    });
</script>
<form name="action_date"
      action="{urlNext}"
      method="post"
      enctype="multipart/form-data"
>
    <input type="hidden"
           name="input[1][callActivityID]"
           value="{callActivityID}"
    />
    <table border="0">
        <TR>
            <td colspan="2"
                valign="top"
                class="content"
            >Message to Sales (if required)
            </td>
        </tr>
        <tr>
            <td colspan="2"
                class="fieldText"
            >
				<textarea
                        name="input[1][emailBody]"
                        id="emailBody"
                        cols="130"
                        rows="20"
                >{emailBody}</textarea>
            </td>
        </TR>
        <TR>
            <td class="content"
                colspan="2"
                valign="top"
                align="left"
            >
                <input type="radio"
                       name="input[1][serviceStatus]"
                       value="ESCALATION"
                       checked="{escalationChecked}"
                >Escalation<br>
            </td>
        </TR>
        <TR>
            <td class="content"
                valign="top"
                align="left"
            >
                <input type="radio"
                       name="input[1][serviceStatus]"
                       value="WAITING_FOR_CUSTOMER"
                       checked="{waitingForCustomerChecked}"
                >Waiting for further action by customer<br>
                <input type="radio"
                       name="input[1][serviceStatus]"
                       value="WAITING_FOR_CNC"
                       checked="{waitingForCncChecked}"
                >Further CNC Work Required<br>
                <span class="message">{serviceStatusMessage}</span>
            </td>
            <td class="content">on
                <input
                        type="text"
                        name="input[1][alarmDate]"
                        id="alarmDate"
                        value="{alarmDate}"
                        {DISABLED}
                        size="10"
                        maxlength="10"
                        autocomplete="off"
                        class="jQueryCalendar"
                />
                at
                <input
                        type="text"
                        {DISABLED}
                        name="input[1][alarmTime]"
                        value="{alarmTime}"
                        size="5"
                        maxlength="5"
                        onchange="setFormChanged();"
                />
                <span class="formErrorMessage">{alarmDateMessage}</span>
                <span class="formErrorMessage">{alarmTimeMessage}</span>
            </td>
        </TR>

        <TR>
            <td class="fieldText">
                <input type="submit"
                       name="Submit"
                       value="Finished"
                />
            </td>
        </TR>
    </table>
</form>
<!-- End Template: ActvitySalesRequest.inc.html -->