<!-- Template: ActivityEdit.inc.html -->
<script language='JavaScript'
        src="CommonJS.js"
></script>
<script type="text/javascript"
        src="ckeditor/ckeditor.js"
></script>
<script type="application/javascript"
        src=".javascript/salesRequest.js"
></script>
<script language='JavaScript'>
    window.callActivityID = "{callActivityID}";
    window.problemID = "{problemID}";

    function showSalesRequestDialog() {
        startSalesRequest(problemID);
    }

    var authorisedByName = "{authorisedByName}";
    $(function () {
        window.alarmDate = $('#alarmDate').get(0);

        var activityTypeSelector = $('select[name="callActivity[1][callActTypeID]"]');

        if (activityTypeSelector.val() == 59) {
            hideChangeRequestButtons();
        }

        activityTypeSelector.change(function () {
            if (activityTypeSelector.val() == 59) {
                hideChangeRequestButtons();
            } else {
                showChangeRequestButtons();
            }
        });


        function hideChangeRequestButtons() {
            $('input[name="Fixed"]').hide();
            $('input[name="CustomerAction"]').hide();
            $('input[name="Escalate"]').hide();
            $('input[name="Update"]').hide();
        }

        function showChangeRequestButtons() {
            $('input[name="Fixed"]').show();
            $('input[name="CustomerAction"]').show();
            $('input[name="Escalate"]').show();
            $('input[name="Update"]').show();
        }


    })
    var formChanged = false;

    function proceedWithCancel(form) {
        if (formChanged == true) {
            return confirm('Are you sure that you want to cancel without saving your changes?');
        } else {
            return true;
        }
    }


    function setFormChanged() {
        formChanged = true;
    }

    function strpad(val) {
        return (!isNaN(val) && val.toString().length == 1) ? "0" + val : val;
    }

    function checkFunctionKey(field) {
        if (event.keyCode == 120) {			// F9 - edit
        }
        return;
    }

    function linkedSalesOrderPopup() {
        window.open(
            '{urlLinkedSalesOrder}',
            'salesOrder',
            'scrollbars=no,resizable=no,width=300,height=100,copyhistory=no, menubar=0'
        );

    }

    function checkChangedContact() {
        if (!authorisedByName) {
            // we need to check if the contact selected is a delegate
            const optionSelected = event.target.options[event.target.selectedIndex];
            const $optionSelected = $(optionSelected);

            const data = $optionSelected.data();

            if (data.delegate) {

                const object = {customerID: {customerID}};
                $.ajax({
                    url: '?action=authorisingContacts',
                    method: 'POST',
                    type: 'post',
                    dataType: 'json',
                    data: object
                }).then(function (result) {
                    const options = result.data.reduce((acc, contact) => {

                        const prefix = contact.supportLevel === 'supervisor' ? '- Supervisor ' : '* ';

                        const suffix = contact.supportLevel === 'supervisor' ? ' - Supervisor ' : ' *';

                        acc += "<option value='" + contact.id + "'>" + prefix + contact.firstName + " " + contact.lastName + suffix + "</option>";
                        return acc;
                    }, '');

                    const selector = "<select name='problem[{problemID}][authorisedBy]' required><option value>Select the authoriser contact</option>" + options + "</select>";

                    $optionSelected.closest('tr').before('<tr id="authorisedByRow"><td class="promptText">Authorised By</td><td class="mainHeadText">' + selector + '</td></tr>');

                }).catch(function () {

                }).then(function () {

                });


            } else {
                $('#authorisedByRow').remove();
            }


        }

        changeContactNotes();
    }

    function changeContactNotes() {
        const object = {contactID: event.target.value};
        $.LoadingOverlay("show", {text: 'Fetching contact notes'});
        $.ajax({
            url: '?action=contactNotes',
            method: 'POST',
            type: 'post',
            dataType: 'json',
            data: object
        }).then(function (result) {
            $('#contactNotes').val(result.data);
            $('#contactNotesAlert').text(result.data);
            $('#moreContactNotes').text(result.data);
            $('.contactPhone').html(result.phone);

        }).catch(function () {

        }).then(function () {
            $.LoadingOverlay('hide');
        });

    }

    function confirmCancel() {
        let text = 'Are you sure you want to cancel?';

        if ($('[name="callActivity[1][callActTypeID]"]').val() == 59) {
            text = "This will delete the Change Request activity, please confirm.";
        }

        if (confirm(text)) {
            document.location = '{urlCancelEdit}'
        }
    }
</script>
<script src=".javascript/sendPartsUsed.js"></script>
<table width="100%">
    <tr>
        <td>{activityWizardHeader} {contractListPopupLink} {thirdPartyContactLink} {contactHistoryLink}</td>
        <td align="right"
            id="autoUpdateLabel"
        ></td>
    </tr>
</table>
<P><span class="formErrorMessage">{problemStatusMessage}</span></P>
<form method="post"
      action="{urlUpdateActivity}"
      name="callActivity"
      AUTOCOMPLETE="off"
      enctype="multipart/form-data"
>
    <input type="hidden"
           name="userWarned"
           value="{userWarned}"
    >

    <input type="hidden"
           id="callActivityID"
           name="callActivity[1][callActivityID]"
           value="{callActivityID}"
    >
    <input type="hidden"
           name="callActivity[1][customerID]"
           value="{customerID}"
    >
    <input type="hidden"
           id="problemID"
           name="callActivity[1][problemID]"
           value="{problemID}"
    >
    <input type="hidden"
           name="callActivity[1][problemStatus]"
           value="{problemStatus}"
    >
    <input type="hidden"
           name="callActivity[1][status]"
           value="{status}"
    >
    <input type="hidden"
           name="callActivity[1][siteDesc]"
           value="{siteDesc}"
    >
    <input type="hidden"
           name="callActivity[1][date]"
           value="{date}"
    >
    <input type="hidden"
           name="callActivity[1][startTime]"
           value="{startTime}"
    >
    <input type="hidden"
           name="callActivity[1][endTime]"
           value="{endTime}"
    >

    <input type="hidden"
           name="callActivity[1][onSiteFlag]"
           value="{onSiteFlag}"
    >
    <input type="hidden"
           name="callActivity[1][rootCauseID]"
           value="{rootCauseID}"
    >

    <input type="hidden"
           name="callActivity[1][customerName]"
           value="{customerName}"
    >
    <input type="hidden"
           name="callActivity[1][authorisedFlag]"
           value="{authorisedFlag}"
    >
    <input type="hidden"
           name="callActivity[1][priority]"
           value="{hiddenPriority}"
    >
    <input type="hidden"
           name="callActivity[1][contractCustomerItemID]"
           value="{hiddenContractCustomerItemID}"
    >
    <input type="hidden"
           name="callActivity[1][hideFromCustomerFlag]"
           value="{hideFromCustomerFlag}"
    >
    {hiddenActivityType}
    <input type="hidden"
           name="callActivity[1][salesRequestStatus]"
           value="{salesRequestStatus}"
    >
    <input type="hidden"
           name="MAX_FILE_SIZE"
           value="6291456"
    >
    <table class="singleBorder"
           width="1000"
           border="0"
    >
        <tr>
            <td colspan="5">
                <div align="left">
                    <input type="submit"
                           name="Fixed"
                           value="Fixed"
                           id="fixedBtn"
                           onClick="return confirm('Are you sure this SR is fixed?')"
                    >
                    <input type="submit"
                           name="CustomerAction"
                           value="Customer Action"
                           id="customerActionBtn"
                    >
                    <input type="submit"
                           name="CncAction"
                           value="CNC Action"
                           id="cncActionBtn"
                    >
                    Future Action
                    <input
                            type="text"
                            name="callActivity[1][alarmDate]"
                            id="alarmDate"
                            title="Date when this request needs to be re-activated"
                            value="{alarmDate}"
                            placeholder="dd/mm/yyyy"
                            size="10"
                            maxlength="10"
                            onchange="setFormChanged();"
                            class="jqueryCalendar"
                            autocomplete="off"
                    />
                    <span class="formErrorMessage">{alarmDateMessage}</span>
                    <input
                            type="text"
                            title="Time to re-activate this request"
                            name="callActivity[1][alarmTime]"
                            id="alarmTime"
                            value="{alarmTime}"
                            size="5"
                            maxlength="5"
                            placeholder="HH:MM"
                            onchange="setFormChanged();"
                    />
                    <span class="formErrorMessage">{alarmTimeMessage}</span>

                    <input type="submit"
                           name="Escalate"
                           value="Escalate"
                           onClick="return (confirm('Are you sure you want to escalate this SR?') )"
                           id="escalateBtn"
                    >

                    <input type="submit"
                           name="Update"
                           value="Update"
                           id="updateBtn"
                    >
                    <input name="Cancel"
                           type="button"
                           value="Cancel"
                           onclick="confirmCancel();"
                    />
                    <input type="button"
                           class="partsUsedButton"
                           value="Parts Used"
                    >
                    <input type="button"
                           onclick="showSalesRequestDialog()"
                           value="Sales Request"
                    >
                </div>
            </td>
        </tr>

        <tr>
            <td class="promptText">ID</td>
            <td class="mainHeadText">{customerID}_{callActivityID}</td>
            <td
                    class="promptText"
            >
                <span {authoriseHide}>Authorised By</span>
            </td>
            <td class="mainHeadText"
            > <span {authoriseHide}>
                {authorisedByName}
            </span>
            </td>
            <td></td>
            <td class="promptText">Type</td>
            <td class="fieldText">
                <select {INITIAL_DISABLED}
                        {typeDisabled}
                        onchange="setFormChanged();"
                        id="{contractID}"
                        name="callActivity[1][callActTypeID]"
                >
                    <option value="">Please Select</option>
                    <!-- BEGIN activityTypeBlock -->
                    <option {activityTypeSelected}
                            value="{callActTypeID}"
                    >{activityTypeDesc}
                    </option>
                    <!-- END activityTypeBlock -->
                </select>
                <span class="formErrorMessage">{callActTypeIDMessage}</span>
            </td>

        </tr>
        <tr>
            <td class="promptText">Customer</td>
            <td class="mainHeadText"
                colspan="2"
            >{customerName}
            </td>
            <td></td>
            <td></td>
            <td class="promptText">Value</td>
            <td class="fieldText">
                <input {DISABLED}
                       type="text"
                       name="callActivity[1][curValue]"
                       value="{curValue}"
                       size="10"
                       maxlength="10"
                       onchange="setFormChanged();"
                />
                <span class="formErrorMessage">{curValueMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Contact</td>
            <td class="mainHeadText"
                id="contactSelectorContainer"
            >
                <select name="callActivity[1][contactID]"
                        required
                        onchange="checkChangedContact()"
                >

                    <option value="">Please Select</option>
                    <!-- BEGIN contactBlock -->
                    {optGroupOpen}
                    <option {contactSelected}
                            {dataDelegate}
                            value="{contactID}"
                    >{startMainContactStyle} {contactName}
                        {endMainContactStyle}
                    </option>
                    {optGroupClose}
                    <!-- END contactBlock -->
                </select>
                <span class="contactPhone">{contactPhone}</span>
                <span class="formErrorMessage">{contactIDMessage}</span>
            </td>
            <td colspan="3"
                style="color: red;"
            >
                <span id="hdRemainMinutes">HD:{hdRemainMinutes}</span>
                <span id="esRemainMinutes">ES:{esRemainMinutes}</span>
                <span id="imRemainMinutes">IM:{imRemainMinutes}</span>
            </td>
            <td class="promptText">Date</td>
            <td class="fieldText">
                <DIV>

                    {INITIAL_DATE_DISABLED}
                </DIV>
                <DIV>
                    {DISABLED}
                </DIV>
                <input type="text"
                       name="callActivity[1][date]"
                       id="date"
                       value="{date}"
                       {DISABLED}
                       {INITIAL_DATE_DISABLED}
                       size="10"
                       maxlength="10"
                       onchange="setFormChanged();"
                       class="jqueryCalendar"
                       autocomplete="off"
                />
                {calendarLinkDate}<span class="formErrorMessage">{dateMessage}</span>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td class="promptText">Site</td>
            <td class="fieldText"
                colspan="2"
            >
                <select name="callActivity[1][siteNo]"
                        required
                >
                    <option value="">Please Select</option>
                    <!-- BEGIN siteBlock -->
                    <option {siteSelected}
                            value="{siteNo}"
                    >{siteDesc}
                    </option>
                    <!-- END siteBlock -->
                </select>
                <span class="formErrorMessage">{siteNoMessage}</span>
            </td>
            <td></td>
            <td></td>
            <td class="promptText">Time from</td>
            <td class="fieldText"><input
                    type="text"
                    {DISABLED}
                    {INITIAL_DATE_DISABLED}
                    name="callActivity[1][startTime]"
                    value="{startTime}"
                    size="5"
                    maxlength="8"
                    placeholder="HH:MM"
                    onchange="setFormChanged();"
                    id="startTime"
            />
                <span class="formErrorMessage">{startTimeMessage}</span>
                to <input
                        {DISABLED}
                        {INITIAL_DATE_DISABLED}
                        type="text"
                        name="callActivity[1][endTime]"
                        id="endTime"
                        value="{endTime}"
                        size="5"
                        placeholder="HH:MM"
                        maxlength="8"
                        onchange="setFormChanged();"
                />
                {setTimeNowLink}<span class="formErrorMessage">{endTimeMessage}</span>
            </td>
        </tr>

        <tr>
            <td class="promptText">Priority</td>
            <td colspan="2">
                <select {DISABLED}
                        {PRIORITY_DISABLED}
                        id="priority"
                        name="callActivity[1][priority]"
                        required
                >
                    <option value="">Please Select</option>
                    <!-- BEGIN priorityBlock -->
                    <option {prioritySelected}
                            value="{priority}"
                    >{priorityDesc}
                    </option>
                    <!-- END priorityBlock -->
                </select>
            </td>
            <td colspan="2">
                <input type="button"
                       id="requestAdditionalTime"
                       value="Request More Time"
                       title="Request more time for this SR"
                >
            </td>
            <td class="promptText">User</td>
            <td>
                <select
                        name="callActivity[1][userID]"
                        onchange="setFormChanged();"
                        required
                >
                    <option value="">Please Select</option>
                    <!-- BEGIN userBlock -->
                    <option {userSelected}
                            value="{userID}"
                    >{userName}
                    </option>
                    <!-- END userBlock -->
                </select>
                <span class="formErrorMessage">{userIDMessage}</span>
            </td>
        </tr>

        <tr>
            <td class="promptText">Contract</td>
            <td class="mainHeadText"
                colspan="2"
            >
                <select
                        {CONTRACT_DISABLED}
                        name="callActivity[1][contractCustomerItemID]"
                        type="text"
                >
                    <option value="99"
                            {noContractSelected}
                    >Please select
                    </option>
                    <option value=""
                            {tandMSelected}
                    >T &amp; M
                    </option>
                    <!-- BEGIN contractBlock -->
                    {optGroupClose}
                    {optGroupOpen}
                    <option {contractSelected}
                            value="{contractCustomerItemID}"
                    >{contractDescription}
                    </option>
                    {optGroupCloseLast}
                    <!-- END contractBlock -->
                </select>
                <span class="formErrorMessage">{contractCustomerItemIDMessage}</span>
            </td>
            <td></td>
            <td></td>
            <td class="promptText">Root Cause</td>
            <td>
                <select
                        {DISABLED}
                        {PRIORITY_DISABLED}
                        name="callActivity[1][rootCauseID]"
                >
                    <option value="">Not known</option>
                    <!-- BEGIN rootCauseBlock -->
                    <option {rootCauseSelected}
                            value="{rootCauseID}"
                    >{rootCauseDescription}
                    </option>
                    <!-- END rootCauseBlock -->
                </select><span class="formErrorMessage">{rootCauseIDMessage}</span>
            </td>
        </tr>

        <tr>
            <td class="promptText">Contact Notes</td>
            <td class="contactNotes"
                colspan="2"
            >
                <input
                        type="text"
                        title="Contact Notes"
                        name="callActivity[1][contactNotes]"
                        id="contactNotes"
                        value="{contactNotes}"
                        {DISABLED}
                        size="100"
                        maxlength="200"
                        onchange="setFormChanged();"
                />
                <span class="formErrorMessage">{contactNotesMessage}</span>
            </td>
            <td></td>
            <td></td>

            <td class="promptText">Complete On</td>
            <td class="fieldText">
                <input type="text"
                       title="Date when this request should be set to completed"
                       name="callActivity[1][completeDate]"
                       id="completeDate"
                       value="{completeDate}"
                       {DISABLED}
                       {COMPLETE_DISABLED}
                       size="10"
                       maxlength="10"
                       onchange="setFormChanged();"
                       autocomplete="off"
                       class="jQueryCalendar"
                />
                <span class="formErrorMessage">{completeDateMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Customer Notes</td>
            <td class="contactNotes"
                colspan="2"
            >
                <input type="text"
                       title="Customer Notes"
                       name="callActivity[1][techNotes]"
                       id="techNotes"
                       value="{techNotes}"
                       {DISABLED}
                       size="100"
                       maxlength="200"
                       onchange="setFormChanged();"
                />
                <span class="formErrorMessage">{techNotesMessage}</span>
            </td>
            <td></td>
            <td></td>
            <td class="promptText">Hide From Customer</td>
            <td>
                <input
                        {hideFromCustomerDisabled}
                        type="checkbox"
                        name="callActivity[1][hideFromCustomerFlag]"
                        value="Y"
                        {hideFromCustomerFlagChecked}
                        title="Hide this SR from customer"
                >
            </td>
        </tr>
        <tr>
            <td colspan="6"><H2>{customerDetails}</H2></td>
        </tr>
        <tr>
            <td colspan="6"
                class="notesAlert"
                id="contactNotesAlert"
            >{contactNotes}
            </td>
        </tr>
        <tr>
            <td colspan="6"
                class="notesAlert"
            >{techNotes}
            </td>
        </tr>
    </table>
    <table class="singleBorder"
           width="900"
           border="0"
    >
        <tr>
            <td colspan="4"><span class="formErrorMessage">{reasonMessage}</span></td>
        </tr>
        <tr>
            <td colspan="4">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="4"
                class="promptTextLeft"
                valign="top"
            >Activity Notes
            </td>
        </tr>
        <tr>
            <td colspan="4"><textarea name="reason">{reason}</textarea>
                <script type="text/javascript">
                    reason = CKEDITOR.replace('reason', {
                            customConfig: '/ckeditor_config.js'
                        }
                    );
                </script>
            </td>
        </tr>
        {htmlInternalNotes}
        <tr>
            <td colspan="4">
                <div align="left">
                    <input type="submit"
                           name="Fixed"
                           value="Fixed"
                           onClick="return confirm('Are you sure this SR is fixed?')"
                    >
                    <input type="submit"
                           name="CustomerAction"
                           value="Customer Action"
                    >
                    <input type="submit"
                           name="CncAction"
                           value="CNC Action"
                    >

                    <input type="submit"
                           name="Escalate"
                           value="Escalate"
                           onClick="return (confirm('Are you sure you want to escalate this SR?') )"
                    >

                    <input type="submit"
                           name="Update"
                           value="Update"
                    >

                    <input name="Cancel"
                           type="button"
                           value="Cancel"
                           onclick="if(confirm('Are you sure you want to cancel?')) document.location='{urlCancelEdit}';"
                    />
                    <input type="button"
                           class="partsUsedButton"
                           value="Parts Used"
                    >

                    <input type="button"
                           onclick="showSalesRequestDialog()"
                           value="Sales Request"
                    >
                </div>
            </td>
        </tr>
    </table>
</form>
<table class="singleBorder"
       width="900"
       border="0"
>
    <tr>
        <td class="listHead">Documents</td>
    </tr>
    <tr>
        <td>
            <table class="singleBorder"
                   width="100%"
            >
                <tr>
                    <td width="29%"
                        class="listHeadText"
                    >Description
                    </td>
                    <td width="28%"
                        class="listHeadText"
                    >File
                    </td>
                    <td width="18%"
                        class="listHeadText"
                    >Date
                    </td>
                    <td width="14%"
                        class="listHeadText"
                    >User
                    </td>
                    <td width="14%"
                        class="listHeadText"
                    >&nbsp;
                    </td>
                </tr>
                <!-- BEGIN documentBlock -->
                <tr valign="top"
                    onMouseOver="this.bgColor='#ffffcc';"
                    onMouseOut="this.bgColor='';"
                >
                    <td nowrap="nowrap"><A href="{urlViewFile}"
                                           title="View attached document"
                                           target="_blank"
                    >{description}</A>
                    </td>
                    <td nowrap="nowrap"><A href="{urlViewFile}"
                                           title="View attached document"
                                           target="_blank"
                    >{filename}</A>
                    </td>
                    <td nowrap="nowrap">{createDate}</td>
                    <td nowrap="nowrap">{createUserName}</td>
                    <td><A href="{urlDeleteFile}&isEdit=true"
                           title="Delete attached document"
                           onClick="if(!confirm('Are you sure you want to remove this document?')) return(false)"
                    >{txtDeleteFile}</A>
                    </td>
                </tr>
                <!-- END documentBlock -->
                <tr>
                    <td class="promptTextLeft">Description</td>
                    <td colspan="4">
                        <form action="{urlUploadFile}"
                              method="post"
                              enctype="multipart/form-data"
                        >
                            <input name="uploadDescription"
                                   type="text"
                                   size="45"
                                   maxlength="150"
                                   value="{uploadDescription}"
                            >
                            <input type="hidden"
                                   name="edit"
                                   value="true"
                            >
                            <input name="userfile"
                                   type="file"
                                   value="{userfile}"
                                   class="dragUploader"
                                   data-description="uploadDescription"
                                   multiple
                            >
                            <input type="submit"
                                   name="uploadFile"
                                   value="Upload"
                            >
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<div id="dialog"
     title="Alert"
><p></p></div>
<script>
    var timeout;              // timer

    function lPad(number, length) {
        var str = '' + number;
        while (str.length < length)
            str = '0' + str;
        return str;
    }

    function setServerTime(field) {
        $.ajax({
            url: 'Activity.php',
            data: {
                action: "getServerTime"
            },

            success: function (data) {

                document.getElementById(field.id).value = strpad(data);
            }

        });
    }

    function autoSave() {
        $.ajax({
            url: 'Activity.php',
            type: 'POST',
            // contentType: 'multipart/form-data; charset=UTF-8',
            data: {
                action: "autoUpdate",
                callActivityID: $("INPUT#callActivityID").val(),
                reason: CKEDITOR.instances.reason.getData(),
                internalNotes: CKEDITOR.instances.internalNotes.getData()

            },

            dataType: "json",

            success: function (data) {

                var tDate = new Date();

                $('td#autoUpdateLabel').html(
                    "Autosaved at " + lPad(tDate.getHours(), 2) + ":" + lPad(tDate.getMinutes(), 2) + ":" + lPad(tDate.getSeconds(), 2)
                );
            },

            complete: function () {
                // Schedule the next request when the current one's complete
                timeout = setTimeout(autoSave, 10000);
            }
        });
    }


    $(document).ready(function () {
        // run the first time; all subsequent calls will take care of themselves
        timeout = setTimeout(autoSave, 10000); // 10 seconds

        $('input#requestAdditionalTime').click(function () {

            var reason = prompt('Please provide your reason to request additional time');
            if (!reason) {
                return;
            }

            $.ajax({
                url: 'Activity.php',
                data: {
                    action: "requestAdditionalTime",
                    problemID: $("INPUT#problemID").val(),
                    reason: reason,
                    callActivityID: {callActivityID}
                }
            });

            alert('Additional time has been requested');

        });
    });
</script>
<!-- End Template: ActivityEdit.inc.html -->
