<!-- Template: ActvityTypeEdit.inc.html -->
<script language='JavaScript' src="CommonJS.js">
</script>
<script language='JavaScript'>

    function checkFunctionKey(field) {
        if (event.keyCode == 120) {			// F9 - edit
            switch (field.id) {
                case "itemDescription":
                    window.open(
                        '{urlItemEdit}&itemID=' +
                        escape(document.getElementById("itemID").value) +
                        '&parentIDField=itemID' +
                        '&parentDescField=itemDescription',
                        'item',
                        'scrollbars=yes,resizable=yes,width=610,height=560,copyhistory=no, menubar=0'
                    );
                    break;
            }
        }

    }

    function validateItemDescription() {
        if (Trim(document.getElementById("itemDescription").value) != "") {
            window.open('{urlItemPopup}&itemDescription=' +
                escape(document.getElementById("itemDescription").value) +
                '&parentIDField=itemID' +
                '&parentDescField=itemDescription',
                'items', 'scrollbars=yes,resizable=no,width=610,height=560,copyhistory=no, menubar=0')
        }
    }
    setTimeout(()=>{
        $("select").each(
            (index,element)=>{                
                $(element).val( $(element).attr('value'));
            }
        );        
    },1)
</SCRIPT>
<TABLE width="200px" border="0" cellpadding="2" cellspacing="1">
    <TR>
        <TD width="100px" class="navigateLink" valign="top">
            <a href="{urlDisplayList}">Back to list</a>
        </TD>
        <TD width="100px" class="navigateLink" valign="top">
            <a href="{urlDelete}">{txtDelete}</a>
        </TD>
    </TR>
</table>
<FORM method="post" action="{urlUpdate}" name="callActType" AUTOCOMPLETE="OFF">
    <table width="700px" border="0">
        <input type="hidden"
               name="callActType[1][callActTypeID]"
               value="{callActTypeID}"
        >
        <tr>
            <td width="115" class="promptText">Type</td>
            <td width="575" class="fieldText">
                <input name="callActType[1][description]"
                       type="text" value="{description}"
                       size="50"
                       maxlength="50"
                >
                <span class="formErrorMessage">{descriptionMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Linked Item</td>
            <td class="fieldText">
                <input type="hidden"
                       id="itemID"
                       name="callActType[1][itemID]"
                       value="{itemID}"
                >
                <input
                        type="text"
                        name="callActType[1][itemDescription]"
                        id="itemDescription"
                        value="{itemDescription}"
                        onChange="javascript:validateItemDescription()"
                        onKeydown="javascript:checkFunctionKey(itemDescription)"
                        size="50"
                        maxlength="50"
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">Value Activity Only</td>
            <td class="fieldText">
                <INPUT name="callActType[1][curValueFlag]" type="checkbox" value="Y"
                       {curValueFlagChecked} id="curValueFlag">
                Indicates that this type of activity has a value and not a duration
            </td>
        </tr>
        <tr>
            <td class="promptText">Out of hours multiplier</td>
            <td class="fieldText">
                <input type="text"
                       id="oohMultiplier"
                       name="callActType[1][oohMultiplier]"
                       value="{oohMultiplier}"
                       size="5"
                       maxlength="5"
                >
                <span class="formErrorMessage">{oohMultiplierMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Minimum hours to charge</td>
            <td class="fieldText">
                <input type="text"
                       id="minHours"
                       name="callActType[1][minHours]"
                       value="{minHours}"
                       size="5"
                       maxlength="5"
                >
                <span class="formErrorMessage">{minHoursMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Maximum hours to charge</td>
            <td class="fieldText">
                <input id="maxHours"
                       type="text"
                       name="callActType[1][maxHours]"
                       value="{maxHours}"
                       size="5"
                       maxlength="5"
                >
                <span class="formErrorMessage">{maxHoursMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Visible In SRs</td>
            <td class="fieldText">
                <INPUT name="callActType[1][visibleInSRFlag]" {DISABLED} type="checkbox" value="Y"
                       {visibleInSRFlagChecked}>
            </td>
        </tr>
        <tr>
            <td class="promptText">Send Emails To Customer</td>
            <td class="fieldText">
                <INPUT name="callActType[1][customerEmailFlag]" {DISABLED} type="checkbox" value="Y"
                       {customerEmailFlagChecked}>
            </td>
        </tr>
        <tr>
            <td class="promptText">Requires Checking</td>
            <td class="fieldText">
                <INPUT name="callActType[1][requireCheckFlag]" {DISABLED} type="checkbox" value="Y"
                       {requireCheckFlagChecked}>
            </td>
        </tr>
        <tr>
            <td class="promptText">Is this travel?</td>
            <td class="fieldText">
                <input name="callActType[1][travelFlag]" {DISABLED} type="checkbox" value="Y"
                       {travelFlagChecked}/>
            </td>
        </tr>
        <tr>
            <td class="promptText">On-site?</td>
            <td class="fieldText">
                <input name="callActType[1][onSiteFlag]" {DISABLED} type="checkbox" value="Y"
                       {onSiteFlagChecked}/>
            </td>
        </tr>
        <tr>
            <td class="promptText">Activity notes required?</td>
            <td class="fieldText">
                <input name="callActType[1][activityNotesRequired]" {DISABLED} type="checkbox" value="Y"
                       {activityNotesRequiredChecked}/>
            </td>
        </tr>
        <tr>
            <td class="promptText">Show in portal?</td>
            <td class="fieldText">
                <input name="callActType[1][portalDisplayFlag]" {DISABLED} type="checkbox" value="Y"
                       {portalDisplayFlagChecked}/>
            </td>
        </tr>
        <tr>
            <td class="promptText">Is this active?</td>
            <td class="fieldText">
                <input name="callActType[1][activeFlag]" {DISABLED} type="checkbox" value="Y"
                       {activeFlagChecked}/>
            </td>
        </tr>
        <tr>
            <td class="promptText">Allow engineer overtime</td>
            <td class="fieldText">
                <input name="callActType[1][engineerOvertimeFlag]" type="checkbox"
                       title="Do not pay engineer overtime" value="Y" {DISABLED}
                       {engineerOvertimeFlagChecked}/>
            </td>
        </tr>


        <tr>
            <td class="promptText">Require CNC Next Action, CNC Action</td>
            <td class="fieldText">          
                <select name="callActType[1][catRequireCNCNextActionCNCAction]" {DISABLED} value="{catRequireCNCNextActionCNCAction}">
                    <option value="0">Off</option>
                    <option value="1">On</option>
                    <option value="2">Optional</option>
                </select> 
            </td>
        </tr>
        <tr>
            <td class="promptText">Require CNC Next Action, On Hold</td>
            <td class="fieldText">
               
                <select name="callActType[1][catRequireCNCNextActionOnHold]" {DISABLED} value="{catRequireCNCNextActionOnHold}">
                    <option value="0">Off</option>
                    <option value="1">On</option>
                    <option value="2">Optional</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="promptText">Require Customer Note, CNC Action</td>
            <td class="fieldText">              
                <select name="callActType[1][catRequireCustomerNoteCNCAction]" {DISABLED} value="{catRequireCustomerNoteCNCAction}">
                    <option value="0">Off</option>
                    <option value="1">On</option>
                    <option value="2">Optional</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="promptText">Require Customer Note, On Hold</td>
            <td class="fieldText">               
                <select name="callActType[1][catRequireCustomerNoteOnHold]" {DISABLED} value="{catRequireCustomerNoteOnHold}">
                    <option value="0">Off</option>
                    <option value="1">On</option>
                    <option value="2">Optional</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="promptText">Minimum Minutes Allowed</td>
            <td class="fieldText">     
                <input name="callActType[1][minMinutesAllowed]" type="number"
                 value="{minMinutesAllowed}" {DISABLED}
              />               
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="formErrorMessage">&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="formErrorMessage">
                <input type="submit" name="Submit" value="Update">
            </td>
        </tr>
    </table>
</form>
<!-- End Template: ActvityTypeEdit.inc.html -->