<!-- Template: ActivitySearch.inc.html -->
<script>
    const autocompleteURL = "/Customer.php?action=searchName";
    var state = 'none'; // display status
    var savedCustomerString;

    window.addEventListener('DOMContentLoaded', function () {
        renderContracts();
        const customerIDInput = document.getElementById('customerID');
        document.getElementById('customerString').addEventListener('autocompleteselect', function ($event) {
            customerIDInput.value = $event.detail.item.value;
            renderContracts();
        });
    })

    function appendOptGroup(parent, label, options) {
        const optGroupElement = document.createElement('optgroup');
        optGroupElement.label = label;
        options.forEach(option => {
            const optionElement = document.createElement('option');
            optionElement.value = option.id;
            optionElement.textContent = option.description;
            optGroupElement.appendChild(optionElement);
        })
        parent.appendChild(optGroupElement);
    }

    let contractSelector;
    let customerIDInput;

    function renderContracts() {
        if (!contractSelector) {
            contractSelector = document.getElementById('contractSelector');
        }
        if (!customerIDInput) {
            customerIDInput = document.getElementById('customerID');
        }
        contractSelector.innerHTML = null;
        const allOption = document.createElement('option');
        allOption.value = "99";
        allOption.text = "T & M";
        contractSelector.appendChild(allOption);
        if (customerIDInput.value) {
            $.ajax({
                url: '{fetchContractsURL}',
                method: 'POST',
                type: 'post',
                dataType: 'json',
                data: {customerID: customerIDInput.value}
            }).then(function (result) {
                console.log(result);
                Object.keys(result).forEach(function (key) {
                    //for each key we create an optgroup
                    appendOptGroup(contractSelector, key, result[key]);
                });
            });
        }
    }

    function postToBlank() {
        if (document.searchForm) {
            document.searchForm.target = "_blank";
            document.location.reload();
        }
        return true;
    }

    function createActivity() {
        if (document.searchForm.customerID.value != "") {
            document.location = '{urlCreateActivity}&customerID=' + escape(document.searchForm.customerID.value);
        }
    }

    function submitOnReturn() {
        if (event.keyCode == 13) {
            document.searchForm.submit();
        }
    }

    function checkAll() {
        for (var i = 0; i < document.searchForm.elements.length; i++) {
            var e = document.searchForm.elements[i];
            e.checked = document.searchForm.checkAllBox.checked;
        }
    }

    function tickBox() {
        const elm = $(event.target);

        if (elm.val()) {
            elm.closest('tr').find('[type="checkbox"]').prop('checked', true);
        } else {
            elm.closest('tr').find('[type="checkbox"]').prop('checked', false);
        }
    }

    function sumbit(value) {
        $('#searchForm').remove('#CSV');
        $('#searchForm').remove('#Search');
        $('#searchForm').append('<input type="hidden" value="' + value + '" name="' + value + '"  />');
        $('#searchForm').submit();

    }
</script>
<style type="text/css">

    /* .style2 {
        font-size: x-small
    } */


</style>

<!--<P class="formErrorMessage">{formError} test</P>-->
<form name="searchForm"
      id="searchForm"
      method="get"
      action="{urlSubmit}"
>
    <input type="hidden"
           name="action"
           value="search"
    >
    <table width="500px"
           border="0"
           cellspacing="0"
           cellpadding="1"
    >
        <tr>
            <td width="100"
                class="promptText"
            >
                <div align="right">Customer</div>
            </td>
            <td>
                <input
                        type="hidden"
                        name="activity[1][customerID]"
                        id="customerID"
                        value="{customerID}"
                > <input
                    type="text"
                    id="customerString"
                    name="customerString"
                    value="{customerString}"
                    size="50"
                    maxlength="50"
                    customer-search
            >
                <p class="formErrorMessage"> {customerStringMessage}</p></td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Activity ID</div>
            </td>
            <td><input type="text"
                       onKeypress="javascript:submitOnReturn()"
                       name="activity[1][callActivityID]"
                       value="{callActivityID}"
            >
                <font class="formErrorMessage">{callActivityIDMessage}</font></td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Request ID</div>
            </td>
            <td><input type="number"
                       onKeypress="javascript:submitOnReturn()"
                       name="activity[1][problemID]"
                       value="{problemID}"
            >
                <font class="formErrorMessage">{problemIDMessage}</font></td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Activity Type</div>
            </td>
            <td>
                <select name="activity[1][callActTypeID]"
                        style="width: 220px"
                >
                    <option value="">All</option>
                    <!-- BEGIN activityTypeBlock -->
                    <option {activityTypeSelected}
                            value="{callActTypeID}"
                    >{activityTypeDescription}
                    </option>
                    <!-- END activityTypeBlock -->
                </select>
            </td>
        </tr>
        <tr>
            <td class="promptText">Contract</td>
            <td>
                <select
                        name="activity[1][contractCustomerItemID]"
                        id="contractSelector"
                >
                    <option value="99"
                            {noContractSelected}
                    >All
                    </option>
                    <option value=""
                            {tandMSelected}
                    >T &amp; M
                    </option>
                    <!-- BEGIN contractBlock -->
                    {optGroupClose}
                    {optGroupOpen}
                    <option {contractSelected}
                            value="{contractCustomerItemID}"
                    >{contractDescription}
                    </option>
                    {optGroupCloseLast}
                    <!-- END contractBlock -->
                </select>
                <span class="formErrorMessage">{contractCustomerItemIDMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Activity Status</div>
            </td>
            <td>
                <select name="activity[1][status]"
                        style="width: 220px"
                >
                    <!-- BEGIN statusBlock -->
                    <option {statusSelected}
                            value="{statusValue}"
                    >{statusDescription}
                    </option>
                    <!-- END statusBlock -->
                </select>
            </td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Priority</div>
            </td>
            <td><select name="activity[1][priority]"
                        style="width: 220px"
            >
                <option value="">All</option>
                <!-- BEGIN priorityBlock -->
                <option {prioritySelected}
                        value="{priority}"
                >{priorityDesc}
                </option>
                <!-- END priorityBlock -->
            </select></td>
        </tr>

        <tr>
            <td class="promptText">
                <div align="right">Response SLA Status</div>
            </td>
            <td>
                <select name="activity[1][breachedSlaOption]">
                    <option value="">Ignore</option>
                    <!-- BEGIN breachedSlaOptionBlock -->
                    <option {breachedSlaOptionSelected}
                            value="{breachedSlaOption}"
                    >{breachedSlaOptionDesc}
                    </option>
                    <!-- END breachedSlaOptionBlock -->
                </select>
            </td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Fix SLA Status</div>
            </td>
            <td>
                <select name="activity[1][searchFormFixSLAOption]">
                    <option value="">Ignore</option>
                    <!-- BEGIN searchFormFixSLAOptionBlock -->
                    <option {searchFormFixSLAOptionSelected}
                            value="{searchFormFixSLAOptionValue}"
                    >{searchFormFixSLAOptionDescription}
                    </option>
                    <!-- END searchFormFixSLAOptionBlock -->
                </select>
            </td>
        </tr>

        <tr>
            <td class="promptText">
                <div align="right">Root Cause</div>
            </td>
            <td>
                <select name="activity[1][rootCauseID]">
                    <option value="">All</option>
                    <!-- BEGIN rootCauseBlock -->
                    <option {rootCauseSelected}
                            value="{itemRootCauseID}"
                    >{rootCauseDescription}
                    </option>
                    <!-- END rootCauseBlock -->
                </select></td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Engineer</div>
            </td>
            <td><select name="activity[1][userID]">
                <option value="">All</option>
                <!-- BEGIN userBlock -->
                <option {userSelected}
                        value="{userID}"
                >{userName}
                </option>
                <!-- END userBlock -->
            </select></td>
        </tr>

        <tr>
            <td class="promptText">Flagged For Review</td>
            <td>
                <input
                        type="checkbox"
                        name="activity[1][managementReviewOnly]"
                        {managementReviewOnlyChecked}
                        value="Y"
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">Individual Activity Spent Time</td>
            <td>
                <input
                        type="text"
                        name="activity[1][individualActivitySpentTime]"
                        value="{individualActivitySpentTime}"
                >
                <span>
                    Search like 4.5, > 4.5, >= 4.5, < 4.5, <= 4.5 or <> 4.5
                </span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Service Request Spent Time</td>
            <td>
                <input
                        type="text"
                        name="activity[1][serviceRequestSpentTime]"
                        value="{serviceRequestSpentTime}"
                >
                <span>
                    Search like 4.5, > 4.5, >= 4.5, < 4.5, <= 4.5 or <> 4.5
                </span>
            </td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Search for</div>
            </td>
            <td>
                <input name="activity[1][activityText]"
                       type="text"
                       value="{activityText}"
                       size="100"
                       maxlength="100"
                >
                <i name="Help"
                   class="fal fa-question-square fa-2x icon m-5"
                   onclick="alert('+Office and +essentials – will search for any text that’s Office AND Essentials\n'+
                '“Office 365” and +premium – will search for any text that’s “Office 365” AND there’s also Premium\n'+
                'Office 365 premium – will search for any of those key words (i.e. its Office OR 365 OR Premium)')"
                ></i>


            </td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Raised from</div>
            </td>
            <td>
                <input type="date"
                       name="activity[1][fromDate]"
                       id="fromDate"
                       value="{fromDate}"
                       size="10"
                       maxlength="10"
                       onKeypress="javascript:submitOnReturn()"
                       autocomplete="off"
                > <span
                    class="formErrorMessage"
            >{fromDateMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">to</div>
            </td>
            <td>
                <input type="date"
                       name="activity[1][toDate]"
                       id="toDate"
                       value="{toDate}"
                       size="10"
                       maxlength="10"
                       onKeypress="javascript:submitOnReturn()"
                       autocomplete="off"
                >
                <span class="formErrorMessage">{toDateMessage}</span>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <div style="display: flex;flex-direction: row;width:100px">
                    <div class="tooltip">
                        <i name="SearchIcon"
                           class="fal fa-search fa-2x icon m-5 pointer"
                           onclick="sumbit('Search')"
                        ></i>
                        <div class="tooltiptext tooltip-bottom">
                            Search
                        </div>
                    </div>
                    <div class="tooltip">
                        <i name="CSVIcon"
                           class="fal fa-file-csv fa-2x icon m-5 pointer"
                           onclick="sumbit('CSV')"
                        ></i>
                        <div class="tooltiptext tooltip-bottom">
                            Export Results to CSV file
                        </div>
                    </div>
                    <div class="tooltip">
                        <i name="clearIcon"
                           class="fal fa-sync fa-2x icon m-5 pointer"
                           onclick="document.location='Activity.php'"
                        ></i>
                        <div class="tooltiptext tooltip-bottom">
                            Clear Inputs
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    {rowsFound} activities found
    <div>{bulkActionButtons}</div>
    <table width="100%"
           border="0"
           cellpadding="1"
           cellspacing="1"
           class="singleBorder"
    >
        <tr>
            <td class="listHeadText">{checkAllBox}</td>
            <td nowrap
                class="listHeadText"
            ><a href="{requestUri}&sortColumn=problemID">Request</a></td>
            <td class="listHeadText"><a href="{requestUri}&sortColumn=customerName">Customer</a></td>
            <td class="listHeadText"><a href="{requestUri}&sortColumn=date">Date</a></td>
            <td class="listHeadText"><a href="{requestUri}&sortColumn=reason">Description</a></td>
            <td class="listHeadText"><a href="{requestUri}&sortColumn=priority">Priority</a></td>
            <td class="listHeadText"><a href="{requestUri}&sortColumn=salesOrderID">Order</a></td>
            <td class="listHeadTextRight"><a href="{requestUri}&sortColumn=activityDurationHours">Activity</a></td>
            <td class="listHeadText"><a href="{requestUri}&sortColumn=contractDescription">Contract</a></td>
            <td class="listHeadText"><a href="{requestUri}&sortColumn=rootCause">Root Cause</a></td>
            <td class="listHeadTextRight"><a href="{requestUri}&sortColumn=workingHours">Elapsed</a></td>
            <td class="listHeadText"><a href="{requestUri}&sortColumn=activityCount">Activities</a></td>
            <td class="listHeadText"><a href="{requestUri}&sortColumn=fixEngineer">Fixed By</a></td>
            {weirdColumns}
        </tr>
        <!-- BEGIN activityBlock -->
        <tr valign="top"
            onMouseOver="this.bgColor='#FFFFCC';"
            onMouseOut="this.bgColor='';"
        >
            <td>{checkBox}&nbsp;</td>
            <td align="top"
                nowrap
                class="listItemText"
            ><A href="{listCallURL}"
                target="_blank"
            >{listProblemID}</A></td>
            <td align="top"
                nowrap
                class="listItemText"
            >{listCustomerName}
            </td>
            <td align="top"
                nowrap
                class="listItemText"
            >{listDate}
            </td>
            <td align="top"
                class="listItemText"
            >{reason}
            </td>
            <td align="top"
                nowrap
            >{listPriority}
            </td>
            <td align="top">
                {listOrderLink}
            </td>
            <td align="right"
                nowrap
            >{listActivityDurationHours}
            </td>
            <td align="top"
                nowrap
            >{listContractDescription}
            </td>
            <td align="top"
                nowrap
            >{listRootCause}
            </td>
            <td align="right"
                nowrap
            >{listWorkingHours}
            </td>
            <td align="right"
                nowrap
            >{listActivityCount}
            </td>
            <td align="top"
                nowrap
            >{listFixEngineer}
            </td>
            {weirdFields}
        </tr>
        <!-- END activityBlock -->
    </table>
</form>
<!-- End Template: ActivitySearch.inc.html -->