<!-- Template: ActivityReasonPopup.inc.html -->
<P class="hiddenText">{problemHiddenText}</P>
<BR/>
<table width="100%">
  <!-- BEGIN activityBlock -->
  <tr>
    <td bgcolor="#cccccc" align="left">{date} {startTime} - {endTime} ({duration}) 
    {activityType} - {contactName} - {siteAddress} - {userName}</td>
  </tr>
  <tr>
    <td class="hiddenText">{activityHiddenText}</td>
  </tr>
  <tr>
    <td>{reason}</td>
  </tr>
  <!-- END activityBlock -->
  <tr>
    <td bgcolor="#cccccc" align="left">Internal Notes</td>
  </tr>
  <tr>
    <td>{internalNotes}</td>
  </tr>
</table>  
<!-- End Template: ActivityReasonPopup.inc.html -->
