<!-- Template: ActivityWasThereWork.inc.html -->
<form name="form" action="{urlNextStep}" method="post">
<table border="0">
	<TR>
		<td class="promptText">Was any work done?</td>
		<td class="fieldText">
		<input name="workWasDone" type="checkbox" value="1" checked="checked" /></td>
	</TR>
	<TR>
		<td class="promptText">Are we waiting for the customer?</td>
		<td class="fieldText">
		<input name="waitingForCustomer" type="checkbox" value="0" checked="checked" /></td>
	</TR>
	<tr> 
			<td valign="top">&nbsp;</td>
			<td> <input type="submit" name="Go" value="Next"> 
		</td>
	</tr>
</table>
</form>
