<!-- Template: ActivityEditLinkedSalesOrder.inc.html -->
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const submit = document.querySelector('input[type="submit"]');
        // submit.addEventListener('click', () => {
        //     window.update();
        // })
    })
</script>
<form name="linkedSalesOrder"
      method="post"
      action="Activity.php?action=editLinkedSalesOrder"
>
    <input type="hidden"
           name="callActivityID"
           value="{callActivityID}"
    >
    <table>
        <tr>
            <td colspan="2">{errorMessage}</td>
        </tr>
        <tr>
            <td>Order ID</td>
            <td>
                <input type="text"
                       name="linkedOrderID"
                       value="{linkedOrderID}"
                >{linkedSalesOrderMessage}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"
                       value="Update"
                >
            </td>
        </tr>
    </table>
</form>
<!-- End Template: ActivityEditLinkedSalesOrder.inc.html -->
