<!-- Template: ActivityDisplay.inc.html -->
<style>

    a.button {
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;

        text-decoration: none;
        color: initial;
    }
</style>
<script language='JavaScript'
        src="CommonJS.js"
></script>


<script type="text/JavaScript">
    window.callActivityID = "{callActivityID}";

    function MM_jumpMenu(targ, selObj, restore) { //v3.0
        eval(targ + ".location='" + selObj.options[selObj.selectedIndex].value + "'");
        if (restore) selObj.selectedIndex = 0;
    }

    function managerCommentPopup() {
        window.open(
            '{urlManagerComment}',
            'item',
            'scrollbars=yes,resizable=yes,width=610,height=560,copyhistory=no, menubar=0'
        );

    }

    function linkedSalesOrderPopup() {
        window.open(
            '{urlLinkedSalesOrder}',
            'salesOrder',
            'scrollbars=no,resizable=no,width=300,height=100,copyhistory=no, menubar=0'
        );

    }
</script>
<script src=".javascript/sendPartsUsed.js"></script>
{activityWizardHeader} {contractListPopupLink} {thirdPartyContactLink} {contactHistoryLink}
<table width="1000"
       border="0"
       cellspacing="2"
       cellpadding="2"
>
    <tr>
        <td>
            <table class="singleBorder"
                   align="center"
                   width="100%"
                   border="0"
                   cellspacing="1"
                   cellpadding="1"
            >
                <TR>
                    <TD>
                        <table width="100%"
                               border="0"
                               cellspacing="1"
                               cellpadding="1"
                        >
                            <tr>
                                <td nowrap="nowrap"
                                    width="30"
                                >{linkFirstActivity}
                                </td>
                                <td nowrap="nowrap"
                                    width="60"
                                >{linkPreviousActivity}
                                </td>
                                <td nowrap="nowrap"
                                    width="60"
                                ><select name="menu1"
                                         onchange="MM_jumpMenu('parent',this,0)"
                                >
                                    <!-- BEGIN jumpBlock -->
                                    <option value="{urlJumpToActivity}"
                                            {selected}
                                    >{callActivityID} - {dateEngineer} -
                                        {contactName} - {activityType}
                                    </option>
                                    <!-- END jumpBlock -->
                                </select></td>
                                <td nowrap="nowrap"
                                    width="60"
                                ><strong>{thisRowNumber}</strong> of {activityChainCount}
                                </td>
                                <td nowrap="nowrap"
                                    width="30"
                                >{linkNextActivity}
                                </td>
                                <td nowrap="nowrap"
                                    width="30"
                                >{linkLastActivity}
                                </td>
                            </tr>
                        </table>
                    </TD>
                </tr>
                <tr>
                    <td>
                        <table width="100%"
                               border="0"
                               cellspacing="1"
                               cellpadding="1"
                        >
                            <tr>
                                <td valign="top">
                                    <input type="checkbox"
                                           name="callActivity[1][criticalFlag]"
                                           {disabled}
                                           id="criticalFlag"
                                           value="Y"
                                           {criticalFlagChecked}
                                           title="This SR is critical"
                                           onclick="window.location='{urlToggleCriticalFlag}'"
                                    >
                                    <label for="criticalFlag">Critical SR</label>
                                </td>
                                <td valign="top">
                                    <input type="checkbox"
                                           name="callActivity[1][monitoringFlag]"
                                           {disabled}
                                           id="monitoringFlag"
                                           value="Y"
                                           {monitoringFlagChecked}
                                           title="This SR is being monitored"
                                           onclick="window.location='{urlToggleMonitoringFlag}'"
                                    >
                                    <label for="monitoringFlag">Monitor SR</label>
                                </td>
                                <td valign="top">
                                    <input type="checkbox"
                                           name="checkbox"
                                           id="includeTravel"
                                           value="checkbox"
                                           onclick="window.location='{urlToggleIncludeTravel}'"
                                           {includeTravelChecked}
                                    />
                                    <label for="includeTravel">Show Travel</label>
                                </td>

                                <td valign="top"><input type="checkbox"
                                                        name="toggleIncludeOperationalTasks"
                                                        id="toggleIncludeOperationalTasks"
                                                        value="checkbox"
                                                        onclick="window.location='{urlToggleIncludeOperationalTasks}'"
                                                        {includeOperationalTasksChecked}
                                /><label
                                        for="toggleIncludeOperationalTasks"
                                >Show Operational Tasks</label>
                                </td>

                                <td valign="top"><input type="checkbox"
                                                        name="checkbox"
                                                        id="includeServerGuardUpdates"
                                                        value="checkbox"
                                                        onclick="window.location='{urlToggleIncludeServerGuardUpdates}'"
                                                        {includeServerGuardUpdatesChecked}
                                /><label
                                        for="includeServerGuardUpdates"
                                >Show ServerGuard Updates</label>
                                </td>

                                <td>Activity hours: {totalActivityDurationHours}</td>
                                <td>Chargeable hours: {chargeableActivityDurationHours}</td>
                            </tr>
                            {onSiteActivities}
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<TABLE width="1000"
       border="0"
       cellpadding="2"
       cellspacing="1"
>
    <TR>
        <TD width="90"
            valign="top"
            nowrap="nowrap"
            class="navigateLink"
        >
            {followLink}
        </TD>
        <TD width="90"
            valign="top"
            nowrap="nowrap"
            class="navigateLink"
        >
            {travelLink}</A>
        </TD>
        <TD width="90"
            class="navigateLink"
            valign="top"
        >
            <A href="{urlEditActivity}"
               title="Edit activity details"
            >{txtEditActivity}</A></TD>
        <TD width="90"
            class="navigateLink"
            valign="top"
        >{deleteLink}
        </TD>
        <TD width="90"
            class="navigateLink"
            valign="top"
        >
            <A href="{urlViewExpenses}"
               title="View/Edit Expenses"
            >{txtViewExpenses}</A></TD>
        <TD width="90"
            class="navigateLink"
            valign="top"
        >
            <A href="{urlUnhideSR}"
               title="Unhide SR from customer"
               onClick="if(!confirm('This will unhide the SR from the customer and can\'t be undone, are you sure?')) return(false)"
            >{txtUnhideSR}</A>
        </TD>
        <TD width="90"
            class="navigateLink"
            valign="top"
        >
            <A href="{urlAddToCalendar}"
               title="Add to calendar"
            >{txtAddToCalendar}</A>
        </TD>
        <TD width="90"
            valign="top"
            nowrap="nowrap"
            class="navigateLink"
        >
            <A href="{urlSendVisitEmail}"
               title="Send client a visit confirmation email"
               onClick="if(!confirm('Are you sure you want to send the client a confirmation email?')) return(false)"
            >{txtSendVisitEmail}</A>
        </TD>
        <TD width="90"
            valign="top"
            nowrap="nowrap"
            class="navigateLink"
        >
            <a href="#"
               onclick="managerCommentPopup()"
            >{txtManagerComment}</a>
        </TD>
</table>
<table class="singleBorder"
       width="1000"
       border="0"
>
    <tr>
        <td colspan="4"
            class="hiddenText"
        >{hiddenText}
        </td>
    </tr>
    <tr>
        <td class="promptText">ID</td>
        <td class="mainHeadText">{problemID}_{callActivityID}</td>
        <td class="mainHeadText"
            colspan="2"
        >{priority}
        </td>
        <td class="mainHeadText">{problemStatus}</td>
    </tr>
    <tr>
        <td class="promptText">Type</td>
        <td class="fieldText">{activityType}</td>
        <td>
            <span {authorisedByHide}>Authorised by {authorisedByName}</span>
        </td>
        <td class="promptText">User</td>
        <td class="fieldText">{engineerName}</td>
    </tr>
    <tr>
        <td class="promptText">Contract</td>
        <td class="mainHeadText">{contractDescription}</td>
        <td></td>
        <td class="promptText">Value</td>
        <td class="fieldText">{curValue}</td>
    </tr>
    <tr>
        <td class="promptText">&nbsp;</td>
        <td class="mainHeadText">{serverGuard}</td>
        <td></td>
        <td class="promptText">Date</td>
        <td class="fieldText">{date}</td>
    </tr>
    <tr>
        <td class="promptText">Project</td>
        <td class="mainHeadText">{projectDescription}</td>
        <td></td>
        <td class="promptText">Start Time</td>
        <td class="fieldText">{startTime}</td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td class="promptText"
            colspan="2"
        >End Time
        </td>
        <td>{endTime}</td>
    </tr>
    <tr>
        <td class="promptText">Root Cause</td>
        <td class="fieldText"
            valign="top"
        >{rootCauseDescription}
        </td>
        <td></td>
        <td class="promptText"
            valign="top"
        >Complete Date
        </td>
        <td>{completeDate}</td>
    </tr>
    <tr>
        <td colspan="4"
            bgcolor="{currentUserBgColor}"
            align="center"
            valign="top"
        >{currentUser}
        </td>
    </tr>
    <tr>
        <td colspan="4"
            class="promptTextLeft"
            valign="top"
        >Details
        </td>
    </tr>
    <tr>
        <td colspan="4">{reason}</td>
    </tr>
    <tr>
        <td colspan="4"
            class="promptTextLeft"
            valign="top"
        >Notes
        </td>
    </tr>
    <tr>
        <td colspan="4">{internalNotes}</td>
    </tr>

</table>
<BR/>
<table class="singleBorder"
       width="1000"
       border="0"
>
    <tr>
        <td class="listHead"> Documents</td>
    </tr>
    <tr>
        <td>
            <table class="singleBorder"
                   width="100%"
            >
                <tr>
                    <td width="29%"
                        class="listHeadText"
                    >Description
                    </td>
                    <td width="28%"
                        class="listHeadText"
                    >File
                    </td>
                    <td width="18%"
                        class="listHeadText"
                    >Date
                    </td>
                    <td width="14%"
                        class="listHeadText"
                    >User
                    </td>
                    <td width="14%"
                        class="listHeadText"
                    >&nbsp;
                    </td>
                </tr>
                <!-- BEGIN documentBlock -->
                <tr valign="top"
                    onMouseOver="this.bgColor='#ffffcc';"
                    onMouseOut="this.bgColor='';"
                >
                    <td nowrap="nowrap"><A href="{urlViewFile}"
                                           title="View attached document"
                                           target="_blank"
                    >{description}</A>
                    </td>
                    <td nowrap="nowrap"><A href="{urlViewFile}"
                                           title="View attached document"
                                           target="_blank"
                    >{filename}</A>
                    </td>
                    <td nowrap="nowrap">{createDate}</td>
                    <td nowrap="nowrap">{createUserName}</td>
                    <td><A href="{urlDeleteFile}"
                           title="Delete attached document"
                           onClick="if(!confirm('Are you sure you want to remove this document?')) return(false)"
                    >{txtDeleteFile}</A>
                    </td>
                </tr>
                <!-- END documentBlock -->
                <tr style="height: 10px !important;">
                    <td colspan="5"></td>
                </tr>
                <form name="uploadFile"
                      action="{urlUploadFile}"
                      method="post"
                      enctype="multipart/form-data"
                >
                    <tr>
                        <td>
                            <label class="custom-file-upload">
                                <input name="userfile[]"
                                       type="file"
                                       value="{userfile}"
                                       size="30"
                                       multiple
                                       class="dragUploader"
                                >
                                Choose Files
                            </label>

                        </td>
                        <td colspan="2">
                            <input type="submit"
                                   name="Submit2"
                                   value="Upload"
                            >
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                </form>
            </table>
        </td>
    </tr>
</table>
<BR/>
<table class="singleBorder"
       width="1000"
       border="0"
>
    <tr>
        <td colspan="4"
            class="listHead"
        >Expenses
        </td>
    </tr>
    <tr>
        <td>
            <table class="singleBorder"
                   width="100%"
            >
                <tr>
                    <td class="listHeadText">Expense</td>
                    <td class="listHeadText">Miles</td>
                    <td class="listHeadText">Amount</td>
                    <td class="listHeadText">VAT included</td>
                </tr>
                <!-- BEGIN expenseBlock -->
                <tr valign="top"
                    onMouseOver="this.bgColor='#ffffcc';"
                    onMouseOut="this.bgColor='';"
                >
                    <td class="orderLineItem">
                        <DIV align="left">{expenseType}</DIV>
                    </td>
                    <td class="orderLineItem">
                        <DIV align="left">{mileage}</DIV>
                    </td>
                    <td class="orderLineItem">
                        <DIV align="left">{value}</DIV>
                    </td>
                    <td class="orderLineItem">
                        <DIV align="left">{vatFlag}</DIV>
                    </td>
                </tr>
                <!-- END expenseBlock -->
                <tr>
                    <td class="listHeadText">Total</td>
                    <td class="listHeadText">&nbsp;</td>
                    <td class="listHeadText">{totalValue}</td>
                    <td colspan="2"
                        class="listHeadText"
                    >&nbsp;
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<script>
    function showSalesRequestDialog() {
        startSalesRequest({problemID});
    }

    function showChangeRequestDialog() {
        startChangeRequest({problemID});
    }

</script>
<table>
    <tr>
        <td colspan="4"
            class="promptTextLeft"
            valign="top"
        >
            <button class="partsUsedButton">Parts Used</button>
        </td>
        <td colspan="4"
            class="promptTextLeft"
            valign="top"
        >
            <button onclick="showSalesRequestDialog()">Sales Request</button>
            <button onclick="showChangeRequestDialog()"
                    {disabledChangeRequest}
            >Change Request
            </button>
        </td>
    </tr>
</table>
<script type="text/html"
        id="newStarterTemplate"
>
    <table>
        <tbody>
        <tr>
            <td>License Required</td>
            <td></td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td></td>
        </tr>
        <tr>
            <td>Approved By Customer?</td>
            <td></td>
        </tr>
        <tr>
            <td>Installation Time Needed (hours)</td>
            <td></td>
        </tr>
        <tr>
            <td>Other Information</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</script>
<script type="text/html"
        id="otherRequestTemplate"
>
    <table>
        <tbody>
        <tr>
            <td>Reason for request</td>
            <td></td>
        </tr>
        <tr>
            <td>Software/hardware required</td>
            <td></td>
        </tr>
        <tr>
            <td>Time Needed (hours)</td>
            <td></td>
        </tr>
        <tr>
            <td>Other Information</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</script>


<!-- End Template: ActvityDisplay.inc.html -->
