<!-- Template: ActvityFurtherDate.inc.html -->
<script language='JavaScript' src='popcalendar/popcalendar.js'></script>
<script language='JavaScript'>
    $(function () {
        window.date = $('#date').get(0);
    });
    function setElementToTimeNow(field) {
        var today = new Date();
        field.value = strpad(today.getHours()) + ':' + strpad(today.getMinutes());
    }
</script>
<table border="0">
    <form name="action_date" action="{urlFurtherActionProcess}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="input[1][callActivityID]" value="{callActivityID}"/>
        <input type="hidden" name="input[1][furtherActionID]" value="{furtherActionID}"/>

        <TR>
            <td class="promptText">Date for next action</td>
            <td class="fieldText">
                <input
                        type="text"
                        name="input[1][date]"
                        id="date"
                        value="{date}"
                        size="10"
                        maxlength="10"
                />
                <a href="javascript:;" onclick="popUpCalendar(this, date, 'dd/mm/yyyy')"><img src="images/calendar.gif"
                                                                                              alt="Calendar" width="24"
                                                                                              height="22" hspace="0"
                                                                                              vspace="0" border="0"
                                                                                              align="absmiddle"/></a>
            </td>
            <td class="fieldText">&nbsp;</td>
        </TR>
        <!--
                <TR>
                  <td class="promptText">Time</td>
                  <td class="fieldText"><input
                            type="text"
                            name="input[1][time]"
                            id="time"
                            value="{time}"
                            size="10"
                            maxlength="10">
                <a href="javascript:;" onclick="popUpCalendar(this, date, 'dd/mm/yyyy')"><img src="images/calendar.gif" alt="Calendar" width="24" height="22" hspace="0" vspace="0" border="0" align="absmiddle" /></a> </td>
                  <td class="fieldText">&nbsp;</td>
              </TR>
        -->
        <TR>
            <td class="promptText">&nbsp;</td>
            <td class="fieldText"><span class="promptText">
      <input type="submit" name="Submit" value="Next"/>
      </span></td>
            <td class="fieldText">&nbsp;</td>
        </TR>
    </form>
</table>
