<!-- Template: ActivityIsProblemResolved.inc.html -->
<table border="0" cellpadding="2" cellspacing="2">
  <TR>
    <td colspan="2" valign="top" align="left">Is The Problem Resolved?</td>
  </TR>
	<TR>
		<TD>
			<input name="resolvedButton" type="button" value="Yes" onclick="document.location='{urlYes}';"/>
      <input
        name="resolvedButton"
        type="button"
        value="No"
        onClick="document.location='{urlNo}'">
		</TD>
	</TR>
</table>
<!-- End Template: ActivityIsProblemResolved.inc.html -->
