<!-- Template: BatchCallResolve.inc.html -->
<script type="application/javascript">
    $(function () {
        window.startDate = $('#startDate').get(0);
        window.endDate = $('#endDate').get(0);
    });
</script>
<form name="expenseExportForm"
      method="post"
      action="{urlSubmit}"
>
    <P>Resolve calls in the given date range</P>
    <table width="100%"
           border="0"
           cellspacing="0"
           cellpadding="1"
    >
        <tr>
            <td width="20%"
                class="promptText"
            >Start Date
            </td>
            <td class="field">
                <input
                        type="date"
                        name="callResolve[1][startDate]"
                        id="startDate"
                        value="{startDate}"
                        size="10"
                        maxlength="10"
                        autocomplete="off"
                >

                <font class="formErrorMessage">{startDateMessage}</font></td>
        </tr>
        <tr>
            <td width="20%"
                class="promptText"
            >End Date
            </td>
            <td class="field">
                <input type="date"
                       name="callResolve[1][endDate]"
                       id="endDate"
                       value="{endDate}"
                       size="10"
                       maxlength="10"
                       autocomplete="off"
                >
                <font class="formErrorMessage">{endDateMessage}</font>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit"
                       name="Resolve"
                       value="Resolve"
            ></td>
        </tr>
    </table>
</form>
<!-- End Template: BatchCallResolve.inc.html -->