<!-- Template: ActivitySearch.inc.html -->
<script>
    const autocompleteURL = "/Customer.php?action=searchName";
    const bookedActivityURL = '{bookedActivityURL}';

    if (bookedActivityURL) {
        window.open(
            bookedActivityURL,
            '_blank'
        )
    }

    let customerStringElm = null;
    let contactIDElm = null;
    let contactStringElm = null;
    let customerIDElm = null;


    window.addEventListener('DOMContentLoaded', function () {
        customerStringElm = document.getElementById("customerString");
        contactIDElm = document.getElementById('contactID');
        contactStringElm = document.getElementById('contactString');
        customerIDElm = document.getElementById('customerID');

        $('#customerString')[0].addEventListener('autocompleteselect', function ($event) {
            $('#customerID').val($event.detail.item.value);
            checkContactID();
        });

        checkContactID();
    });

    var state = 'none'; // display status


    function checkContactID() {

        if (customerIDElm.value) {
            $(contactStringElm).data().customerId = customerIDElm.value;
            $(contactStringElm).attr('disabled', false);
        } else {
            $(contactStringElm).attr('disabled', true);
        }

    }
    function vaildate(){
        const contactID=document.getElementById("contactID")
        if(!contactID.value)
        {
            alert("Please select customer contact");
            return false;
        }
        
        return true;
    }
</script>
<style type="text/css">
   
</style>

<!--<P class="formErrorMessage">{formError} test</P>-->

<form name="searchForm"
      id="searchForm"
      method="get"
      onsubmit="return vaildate()"
>
    <input hidden
           name="action"
           value="bookSalesVisit"
    >
    <table width="500px"
           border="0"
           cellspacing="0"
           cellpadding="1"
    >
        <tr>
            <td width="100"
                class="promptText"
            >
                <div align="right">Customer</div>
            </td>
            <td>
                <input type="hidden"
                       name="form[0][customerID]"
                       id="customerID"
                       value="{customerID}"
                > <input
                    type="text"
                    id="customerString"
                    name="customerString"
                    value="{customerString}"
                    size="50"
                    maxlength="50"
                    customer-search
            >
                <p class="formErrorMessage">{customerIDMessage}</p>
            </td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Attendees</div>
            </td>
            <td>
                <select multiple="multiple"
                        name="form[0][attendees][]"
                        style="height: 150px;"
                        required
                >
                    <!-- BEGIN attendeesBlock -->
                    <option value="{attendeeID}"
                            {attendeeSelected}
                    >
                        {attendeeName}
                    </option>
                    <!-- END attendeesBlock -->
                </select>
                <span class="formErrorMessage">{attendeesMessage}</span></td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Type of Meeting</div>
            </td>
            <td>
                <select name="form[0][typeOfMeetingID]"
                        required
                        data-name="typeOfMeetingID"
                >
                    <option value>-- Select Type Of Meeting --</option>
                    <!-- BEGIN typeOfMeetingBlock -->
                    <option value="{typeOfMeetingID}"
                            {typeOfMeetingSelected}
                    >
                        {typeOfMeetingDescription}
                    </option>
                    <!-- END typeOfMeetingBlock -->
                </select>
                <span class="formErrorMessage">{typeOfMeetingIDMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Contact</td>
            <td>
                <input type="hidden"
                       name="form[0][contactID]"
                       id="contactID"
                       value="{contactID}"
                >
                <input type="text"
                       contact-lookup
                       data-result="contactID"
                       id="contactString"
                       name="contactString"
                       value="{contactString}"
                       disabled
                >
                <span class="formErrorMessage">{contactIDMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Meeting Date</div>
            </td>
            <td><input type="date"
                       name="form[0][meetingDate]"
                       value="{meetingDate}"
                       size="10"
                       maxlength="10"
                       onKeypress="javascript:submitOnReturn()"
                       autocomplete="off"
                       required
            > <span
                    class="formErrorMessage"
            >{meetingDateMessage}</span></td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Meeting Time</div>
            </td>
            <td>
                <input type="time"
                       name="form[0][meetingTime]"
                       value="{meetingTime}"
                       size="10"
                       min="08:00:00"
                       max="18:00:00"
                       maxlength="10"
                       required
                >
                <span class="formErrorMessage">{meetingTimeMessage}</span>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit"
                       name="Book Meeting"
                       value="Book Meeting"
                >
                <input type="button"
                       name="Clear"
                       value="Clear"
                       onClick="document.location = '/BookSalesVisit.php'"
                />
            </td>
        </tr>
    </table>
</form>
<!-- End Template: ActivitySearch.inc.html -->