<table class="oddRows">
    <thead>
    <tr>
        <th>
            Customer Name
        </th>
        <th>
            SR Link
        </th>
        <th>
            Change Requested
        </th>
        <th>
            Requested By
        </th>
        <th>
            Requested Date&Time
        </th>
        <th>
            Process CR
        </th>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN ChangeRequestsBlock -->
    <tr>
        <td>
            {customerName}
        </td>
        <td>
            {srLink}
        </td>
        <td>
            {changeRequested}
        </td>
        <td>
            {requestedBy}
        </td>
        <td>
            {requestedDateTime}
        </td>
        <td>
            {processCRLink}
        </td>
    </tr>
    <!-- END ChangeRequestsBlock -->
    </tbody>
</table>