


<script>
    const filters = {
        HD: true,
        ES: true,
        SP: true,
        P: true
    };

    let enabledCount = 4;

    function getQueueFiltersObject() {
        return Object.keys(filters).reduce(function (acc, key) {
            if (filters[key]) {
                acc[key] = true;
            }
            return acc;
        }, {});
    }

   const spinnerReady = new Promise((resolve, reject) => {
       window.addEventListener('SpinnerReady', () => {
           resolve();
       })
   })

    document.addEventListener('DOMContentLoaded', () => {
        const allFilterElements = document.querySelectorAll('input[type="checkbox"]');

        allFilterElements.forEach(elm => {
            elm.addEventListener('change', ($event) => {
                console.log('test');
                if (!$event.target.checked) {
                    if (enabledCount < 2) {
                        $event.target.checked = true;
                        return;
                    }
                    filters[$event.target.name] = false;
                    enabledCount--;
                } else {
                    enabledCount++;
                    filters[$event.target.name] = true;
                }
                table.ajax.reload();
            })
        })

        let table = $('#changeRequestTable').DataTable({
            dom: 'rt',
            paging: false,
            columns: [
                {data: "customerName", name: "customerName"},
                {
                    data: "serviceRequestId", name: "serviceRequestId", render: (data, type, row, meta) => {
                        if (type === 'sort') {
                            return data;
                        }

                        return '<a href="Activity.php?action=displayLastActivity&problemID=' + data + '" target="_blank">' + data + '</a>';
                    }
                },
                {data: "requestBody", name: 'requestBody'},
                {data: 'requesterName', name: 'requesterName'},
                {
                    data: 'requestedAt', name: 'requestedAt', render: (data, type, row, meta) => {
                        if (type === 'sort') {
                            return data;
                        }
                        if (!data) {
                            return '';
                        }
                        return moment(data, 'YYYY-MM-DD HH:mm:ss').format('DD/MM/YYYY HH:mm:ss');
                    }
                },
                {
                    data: "activityId", name: "activityId", sortable: false, render: (data, type, row, meta) => {
                        return "<button><a target='_blank' href='Activity.php?action=changeRequestReview&callActivityID=" + row.activityId + "'>Process Change Request</a>" +
                            "</button>";
                    }
                },
            ],
            order: [[4, "asc"]],
            serverSide: false,
            createdRow: (row, data, index) => {
                row.classList.add('topAlign');
            },
            ajax: {
                url: "?action=getData",
                type: "GET",
                dataSrc: (response) => {

                    spinnerReady.then(() => {
                        spinnerComponent.hideSpinner();
                    })

                    return response.data;
                },
                data: (data) => {
                    spinnerReady.then(() => {
                        spinnerComponent.showSpinner();
                    })

                    return getQueueFiltersObject();
                }
            },
        });
    })

</script>
<div>
    <label>
        HD
        <input type="checkbox"
               checked
               name="HD"
        >
    </label>
    <label>
        ES
        <input type="checkbox"
               checked
               name="ES"
        >
    </label>
    <label>
        SP
        <input type="checkbox"
               checked
               name="SP"
        >
    </label>
    <label>
        P
        <input type="checkbox"
               checked
               name="P"
        >
    </label>

</div>
<table class="oddRows"
       id="changeRequestTable"
>
    <thead>
    <tr>
        <th>
            Customer Name
        </th>
        <th>
            SR Link
        </th>
        <th>
            Change Requested
        </th>
        <th>
            Requested By
        </th>
        <th>
            Requested Date&Time
        </th>
        <th>
            Process CR
        </th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>