<!-- Template: ContractsAnalysisReport.inc.html -->
<script language='JavaScript' src="CommonJS.js"></script>
<script language='JavaScript' src='popcalendar/popcalendar.js'></script>
<P class="formErrorMessage">{formError}</P>
<form name="searchForm" method="get" action="{urlSubmit}">
    <table width="500px" border="0" cellspacing="0" cellpadding="1">
        <tr>
            <td width="100" class="promptText">
                <div align="right">Contracts(s)</div>
            </td>
            <td>
                <input
                        type="hidden"
                        name="action"
                        value="search"
                >
                <input
                        type="text"
                        id="contracts"
                        name="searchForm[1][contracts]"
                        value="{contracts}"
                        size="100"
                        title="Enter a list of strings to match against contract names"
                        maxlength="100"
                > <font class="formErrorMessage"> {contractsMessage} </font></td>
        </tr>
        <tr>
            <td width="100" class="promptText">
                <div align="right">Start MM/YYYY</div>
            </td>
            <td>
                <input
                        type="text"
                        name="searchForm[1][startYearMonth]"
                        value="{startYearMonth}"
                        placeholder="MM/YYYY"
                        size="10"
                        maxlength="7"
                > <font class="formErrorMessage"> {startYearMonthMesage} </font></td>
        </tr>
        <tr>
            <td width="100" class="promptText">
                <div align="right">End MM/YYYY</div>
            </td>
            <td>
                <input
                        type="text"
                        name="searchForm[1][endYearMonth]"
                        value="{endYearMonth}"
                        placeholder="MM/YYYY"
                        size="10"
                        maxlength="7"
                > <font class="formErrorMessage"> {endYearMonthMessage} </font></td>
        </tr>
        <tr>
            <td class="promptText">&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" name="Search" value="Screen Report" onClick="submit();">
                <input type="submit" name="Search" value="Generate CSV" onClick="submit();">
                <input type="reset" name="Clear" value="Clear"></td>
        </tr>
    </table>
    <br>
    <p class="promptTextLeft">*The Sale Column&nbsp;Excludes Other Sales & Pre-Pay</p>
    <br>
    <table>
        <thead>
        <tr>
            <th>Customer</th>
            <th><a href="{reportUrl}&orderBy=sales">Sale(&pound;)</a></th>
            <th><a href="{reportUrl}&orderBy=cost">Cost(&pound;)</a></th>
            <th><a href="{reportUrl}&orderBy=labourCost">Labour(&pound;)</a></th>
            <th><a href="{reportUrl}&orderBy=profit">Profit(&pound;)</a></th>
            <th><a href="{reportUrl}&orderBy=profitPercent">Profit(%)</a></th>
            <th><a href="{reportUrl}&orderBy=labourHours">Labour(Hours)</a></th>
        </tr>
        </thead>
        <tbody>
        <!-- BEGIN customersBlock -->
        <tr class="{profitAlertClass}">
            <td><a href="{customerAnalysisUrl}">{customerName}</a></td>
            <td align="right">{sales}</td>
            <td align="right">{cost}</td>
            <td align="right">{labourCost}</td>
            <td align="right">{profit}</td>
            <td align="right">{profitPercent}</td>
            <td align="right">{labourHours}</td>
        </tr>
        <!-- END customersBlock -->
        <tr>
            <td colspan="6">&nbsp;</td>
        </tr>
        <tr>
            <td>TOTALS</td>
            <td align="right">{totalSales}</td>
            <td align="right">{totalCost}</td>
            <td align="right">{totalLabour}</td>
            <td align="right">{totalProfit}</td>
            <td align="right">{totalProfitPercent}</td>
            <td align="right">{totalLabourHours}</td>
        </tr>
        </tbody>
    </table>
</form>
<!-- End Template: ContractAnalysisReport.inc.html -->