<!-- Template: Customer.inc.html -->
<script type="application/javascript">

    $(function () {
        $.LoadingOverlay("show", {text: 'Please wait while the data is loading...'});

        $.ajax('?action=getData', {
            dataType: 'json',
        })
            .then(data => {
                let headers = false;
                const dataTableConfig = {
                    dom: 'Blrtip',
                    buttons: [
                        {
                            extend: 'excel'
                        }
                    ],
                    paging: false,
                    columns: [],
                    orderCellsTop: true,
                    fixedHeader: true,
                    order: [[0, 'asc']],
                    columnDefs: [
                        {className: "dt-center", targets: "_all"}
                    ],
                }
                data.forEach(row => {
                    if (!headers) {
                        Object.keys(row).forEach(columnName => {
                            $('#myTable>thead>tr').append('<th>' + columnName + '</th>');
                            dataTableConfig.columns.push({
                                data: columnName, render: function (value) {
                                    if (columnName !== "Customer Name" && (!value || value.indexOf('Yes') === -1)) {
                                        return '<i class="fa fa-times" style="color: red"></i>'
                                    }
                                    return value;
                                }
                            })
                        })
                        headers = true;
                    }
                })

                dataTableConfig.data = data;
                $('#myTable').dataTable(dataTableConfig);
                $.LoadingOverlay('hide');
            })

    })
</script>


<table width="100%"
       border="0"
       cellspacing="0"
       cellpadding="1"
       id="myTable"
       class="oddRows"
>
    <thead>
    <tr>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<!-- End Template: Customer.inc.html -->
