<!-- Template: ContactEdit.inc.html -->
<style>
    .lockedIcon::before {
        font-family: "FontAwesome";
        content: '\f023';
        color: green;
    }

    .unlockedIcon::before {
        font-family: "FontAwesome";
        content: '\f13e';
        color: red;
    }

    fieldset label {
        height: 20px;
        width: 140px;
        margin-left: 10px;
        text-align: right;
        clear: both;
        float: left;
        margin-right: 15px;
        margin-top: 10px;
    }

    fieldset input {
        height: 20px;
        width: 200px;
        border: 1px solid #000;
        margin-top: 10px;
        float: left;
    }

    fieldset .comment {
        float: left;
        margin-top: 10px;
    }

</style>
<div id="newPasswordDialog"
     title="New Password"
>
    <fieldset id="register">
        <label>Password </label>
        <input type="password"
               id="password"
        >
        <span class="comment"
              id="passwordComment"
        ></span>
        <label>Repeat Password </label>
        <input type="password"
               id="repeatPassword"
        >
        <span class="comment"
              id="repeatPasswordComment"
        ></span>
    </fieldset>
    <br>
    <div>
        <button onclick="saveNewPassword()"
                disabled
                id="savePasswordButton"
        >Save
        </button>
        <button onclick="cancelNewPassword()">Cancel</button>
    </div>
</div>
<script>
    var currentContactId = null;
    var currentPasswordButton = null;

    function resetPasswordFields() {
        $('#password').val(null);
        $('#repeatPassword').val(null);
    }

    function cancelNewPassword() {
        $('#newPasswordDialog').dialog('close');
    }

    function saveNewPassword() {
        var object = {
            password: $('#password').val(),
            contactID: currentContactId
        };

        $.ajax({
            url: '?action=saveContactPassword',
            method: 'POST',
            type: 'post',
            dataType: 'json',
            data: object
        }).then(function (result) {
            if (result.status == 'error') {
                throw 'Failed to save password';
            } else {
                alert('Submitted OK');
                if ($(currentPasswordButton).hasClass('unlockedIcon')) {
                    $(currentPasswordButton).removeClass('unlockedIcon').addClass('lockedIcon');
                }
            }
        }).catch(function (error) {
            alert('Failed to save password');
            resetPasswordFields();
        }).then(function () {
            $('#newPasswordDialog').dialog('close');
        });
    }

    $('#newPasswordDialog').dialog({
        autoOpen: false, width: 500, close: function () {
            resetPasswordFields();
        }
    });


    function askNewPassword() {
        var data = $(event.target).data();
        currentContactId = data.siteNo;
        currentPasswordButton = event.target;
        $('#newPasswordDialog').dialog('open');
    }

    var validPassword = false;
    var validRepeatPassword = false;

    window.addEventListener('DOMContentLoaded', function () {


        $('#password').keyup(function () {
            $('#passwordComment').html(checkStrength($('#password').val()));
            checkSavePassword();
        });

        $('#repeatPassword').keyup(function () {
            $('#repeatPasswordComment').html(checkPasswordEqual($('#password').val(), $('#repeatPassword').val()));
            checkSavePassword();
        });

        function checkSavePassword() {
            if (validPassword && validRepeatPassword) {
                $('#savePasswordButton').prop("disabled", false);
            } else {
                $('#savePasswordButton').prop("disabled", true);
            }
        }

        function checkPasswordEqual(password, repeatPassword) {
            validRepeatPassword = false;
            if (!password || !repeatPassword) {
                return null;
            }

            if (password != repeatPassword) {
                return 'Not Equal';
            }
            validRepeatPassword = true;
            return null;
        }

        function checkStrength(password) {
            validPassword = false;
            if (!password) {
                return false;
            }

            var strength = 0;
            if (password.length < 6) {
                return 'Too short'
            }

            if (password.match(/([a-z])/)) strength += 1;
            if (password.match(/([A-Z])/)) strength += 1;
            if (password.match(/([0-9])/)) strength += 1;
            if (password.match(/([!,%,&,@,#,$,^,*,?,_,~])/)) strength += 1;
// Calculated strength value, we can return messages
// If value is less than 2
            if (strength < 3) {
                $('#result').removeClass();
                $('#result').addClass('weak');
                return 'Weak'
            } else if (strength >= 3) {
                $('#result').removeClass();
                $('#result').addClass('good');
                validPassword = true;
                return null
            }
        }

        var assignClass = function () {
            var elem = $(this);
            if (elem[0].value === 'main') {
                // we want to show the
                $('.onlyMain').show();
            } else {
                $('.onlyMain').hide();
            }
        };

        $('body').on('change', '[data-type="mainSelector"]', assignClass);

        $('[data-type="mainSelector"]').each(assignClass);
    });
</script>

<form name="contactForm"
      method="post"
      action="{urlSubmit}"
      AUTOCOMPLETE="off"
>
    <input type="hidden"
           name="contact[1][contactID]"
           value="{contactID}"
    >
    <input type="hidden"
           name="contact[1][supplierID]"
           value="{supplierID}"
    >
    <input type="hidden"
           name="contact[1][customerID]"
           value="{customerID}"
    >
    <input type="hidden"
           name="contact[1][siteNo]"
           value="{siteNo}"
    >
    <input type="hidden"
           name="contact[1][linkedInURL]"
           value="{linkedInURL}"
    >
    <table width="100%"
           border="0"
           cellspacing="0"
           cellpadding="1"
    >
        <tr>
            <td width="20%"
                class="promptText"
            >First Name
            </td>
            <td class="field">
                <input
                        type="text"
                        name="contact[1][firstName]"
                        id="firstName"
                        value="{firstName}"
                        size="50"
                        maxlength="50"
                >
                <font class="formErrorMessage">{firstNameMessage}</font>
            </td>
        </tr>
        <tr>
            <td class="promptText">Last Name</td>
            <td class="field">
                <input
                        type="text"
                        name="contact[1][lastName]"
                        id="lastName"
                        value="{lastName}"
                        size="50"
                        maxlength="50"
                >
                <font class="formErrorMessage">{lastNameMessage}</font>
            </td>
        </tr>
        <tr>
            <td class="promptText">Title</td>
            <td class="field">
                <input
                        type="text"
                        name="contact[1][title]"
                        id="title"
                        value="{title}"
                        size="50"
                        maxlength="50"
                >
                <font class="formErrorMessage">{titleMessage}</font>
            </td>
        </tr>
        <tr>
            <td class="promptText">Position</td>
            <td class="field">
                <input
                        type="text"
                        name="contact[1][position]"
                        id="position"
                        value="{position}"
                        size="50"
                        maxlength="50"
                >
                <font class="formErrorMessage">{positionMessage}</font>
            </td>
        </tr>
        <tr>
            <td class="promptText">Email</td>
            <td class="field">
                <input
                        type="text"
                        name="contact[1][email]"
                        id="email"
                        value="{email}"
                        size="50"
                        maxlength="50"
                >
                <font class="formErrorMessage">{emailMessage}</font>
            </td>
        </tr>
        <tr>
            <td class="promptText">Portal Password</td>
            <td class="field">
                <button onclick="askNewPassword()"
                        data-contact-id="{contactID}"
                        type="button"
                        class="{portalPasswordButtonClass}"
                >
                </button>
            </td>
        </tr>
        <tr>
            <td class="promptText">Failed Login Count</td>
            <td class="field">
                <input
                        type="text"
                        name="contact[1][failedLoginCount]"
                        id="failedLoginCount"
                        value="{failedLoginCount}"
                        size="2"
                        maxlength="3"
                >
                <font class="formErrorMessage">{failedLoginCountMessage}</font>
            </td>
        </tr>
        <tr>
            <td class="promptText">Phone</td>
            <td class="field">
                <input
                        type="text"
                        name="contact[1][phone]"
                        id="phone"
                        value="{phone}"
                        size="50"
                        maxlength="50"
                >
                <font class="formErrorMessage">{phoneMessage}</font>
            </td>
        </tr>
        <tr>
            <td class="promptText">Mobile</td>
            <td class="field">
                <input
                        type="text"
                        name="contact[1][mobilePhone]"
                        id="mobilePhone"
                        value="{mobilePhone}"
                        size="50"
                        maxlength="50"
                >
                <font class="formErrorMessage">{mobilePhoneMessage}</font>
            </td>
        </tr>
        <tr>
            <td class="promptText">Notes</td>
            <td class="field">
                <input
                        type="text"
                        name="contact[1][notes]"
                        id="notes"
                        value="{notes}"
                        size="200"
                        maxlength="200"
                >
                <font class="formErrorMessage">{notesMessage}</font>
            </td>
        </tr>
        <tr>
            <td class="promptText">Work Started Email</td>
            <td class="field">

                <input {disabled}
                       type="checkbox"
                       name="contact[1][workStartedEmailFlag]"
                       value="Y"
                       {workStartedEmailFlagChecked}
                       class="checkboxAlign"
                >

            </td>
        </tr>
        <tr>
            <td class="promptText">Work Updates Email</td>
            <td class="field">

                <input {disabled}
                       type="checkbox"
                       name="contact[1][workUpdatesEmailFlag]"
                       value="Y"
                       {workUpdatesEmailFlagChecked}
                       class="checkboxAlign"
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">Fixed Email</td>
            <td class="field">

                <input {disabled}
                       type="checkbox"
                       name="contact[1][fixedEmailFlag]"
                       value="Y"
                       {fixedEmailFlagChecked}
                       class="checkboxAlign"
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">Pending Closure Email</td>
            <td class="field">

                <input {disabled}
                       type="checkbox"
                       name="contact[1][pendingClosureEmailFlag]"
                       value="Y"
                       {pendingClosureEmailFlagChecked}
                       class="checkboxAlign"
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">Closure Email</td>
            <td class="field">

                <input {disabled}
                       type="checkbox"
                       name="contact[1][closureEmailFlag]"
                       value="Y"
                       {closureEmailFlagChecked}
                       class="checkboxAlign"
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">Others Initial Logging Email</td>
            <td class="field">

                <input {disabled}
                       type="checkbox"
                       name="contact[1][othersInitialLoggingEmailFlag]"
                       value="Y"
                       {othersInitialLoggingEmailFlagChecked}
                       hidden
                       class="onlyMain"
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">Others Work Started Email</td>
            <td class="field">

                <input {disabled}
                       type="checkbox"
                       name="contact[1][othersWorkStartedEmailFlag]"
                       value="Y"
                       {othersWorkStartedEmailFlagChecked}
                       hidden
                       class="onlyMain"
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">Others Work Updates Email</td>
            <td class="field">

                <input {disabled}
                       type="checkbox"
                       name="contact[1][othersWorkUpdatesEmailFlag]"
                       value="Y"
                       {othersWorkUpdatesEmailFlagChecked}
                       hidden
                       class="onlyMain"
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">Others Fixed Email</td>
            <td class="field">

                <input {disabled}
                       type="checkbox"
                       name="contact[1][othersFixedEmailFlag]"
                       value="Y"
                       {othersFixedEmailFlagChecked}
                       hidden
                       class="onlyMain"
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">Others Pending Closure Email</td>
            <td class="field">

                <input {disabled}
                       type="checkbox"
                       name="contact[1][othersPendingClosureEmailFlag]"
                       value="Y"
                       {othersPendingClosureEmailFlagChecked}
                       hidden
                       class="onlyMain"
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">Others Closure Email</td>
            <td class="field">

                <input {disabled}
                       type="checkbox"
                       name="contact[1][othersClosureEmailFlag]"
                       value="Y"
                       {othersClosureEmailFlagChecked}
                       hidden
                       class="onlyMain"
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">Accounts Contact?</td>
            <td class="field">
                <input type="checkbox"
                       name="contact[1][accountsFlag]"
                       value="Y"
                       {accountsFlagChecked}
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">Discontinued</td>
            <td class="field">
                <input type="checkbox"
                       name="contact[1][discontinuedFlag]"
                       value="Y"
                       {discontinuedFlagChecked}
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">Send Mailshots</td>
            <td class="field">
                <input type="checkbox"
                       name="contact[1][sendMailshotFlag]"
                       value="Y"
                       {sendMailshotFlagChecked}
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">{mailshot2FlagDesc}</td>
            <td class="field">
                <input type="checkbox"
                       name="contact[1][mailshot2Flag]"
                       value="Y"
                       {mailshot2FlagChecked}
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">{mailshot3FlagDesc}</td>
            <td class="field">
                <input type="checkbox"
                       name="contact[1][mailshot3Flag]"
                       value="Y"
                       {mailshot3FlagChecked}
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">{mailshot4FlagDesc}</td>
            <td class="field">
                <input type="checkbox"
                       name="contact[1][mailshot4Flag]"
                       value="Y"
                       {mailshot4FlagChecked}
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">Support Level</td>
            <td class="field">
                <select
                        name="contact[1][supportLevel]"
                        data-validation="atLeastOneMain"
                        data-type="mainSelector"
                        data-except="$('#referred').prop('checked')"
                >
                    <!-- BEGIN supportLevelBlock -->
                    <option {supportLevelSelected}
                            value="{supportLevelValue}"
                    >
                        {supportLevelDescription}
                    </option>
                    <!-- END supportLevelBlock -->
                </select>
            </td>
        </tr>
        <tr>
            <td class="promptText">HR user</td>
            <td class="field">
                <input type="checkbox"
                       name="contact[1][hrUser]"
                       value="Y"
                       {hrUserFlagChecked}
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">Review user</td>
            <td class="field">
                <input type="checkbox"
                       name="contact[1][reviewUser]"
                       value="Y"
                       {reviewUserFlagChecked}
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">{mailshot8FlagDesc}</td>
            <td class="field">
                <input type="checkbox"
                       name="contact[1][mailshot8Flag]"
                       value="Y"
                       {mailshot8FlagChecked}
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">{mailshot11FlagDesc}</td>
            <td class="field">
                <input type="checkbox"
                       name="contact[1][mailshot11Flag]"
                       value="Y"
                       {mailshot11FlagChecked}
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">{mailshot9FlagDesc}</td>
            <td class="field">
                <input type="checkbox"
                       name="contact[1][mailshot9Flag]"
                       value="Y"
                       {mailshot9FlagChecked}
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">Pending Leaver</td>
            <td class="field">
                <input {disabled}
                       type="checkbox"
                       name="form[contact][{contactID}][pendingLeaverFlag]"
                       value="Y"
                       {pendingLeaverFlagChecked}
                />
            </td>
        </tr>
        <tr>
            <td class="promptText">Pending Leaver Date</td>
            <td class="field">
                <input {disabled}
                       type="date"
                       name="form[contact][{contactID}][pendingLeaverDate]"
                       value="{pendingLeaverDate}"
                       autocomplete="off"
                />
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td align="left">
                <input type="submit"
                       name="Submit"
                       value="Submit"
                >
            </td>
        </tr>
    </table>
</form>
<!-- End Template: ContactEdit.inc.html -->