<!-- Template: ActivitySearch.inc.html -->
<script language='JavaScript'
        src="CommonJS.js"
></script>
<script type="text/javascript">
    function download3CXExport() {
        fetch('?action=3cxExport')
            .then(data => {
                return data.json();
            })
            .then(data => {
                let link = document.createElement("a");
                link.download = 'export.zip';
                link.href = "data:application/x-zip-compressed;base64," + data.base64Data;
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            })
    }

    const autocompleteURL = "/Customer.php?action=searchName";
    window.addEventListener('DOMContentLoaded', function () {
        const config = {
            contentsCss: '/screen.css',
            toolbarStartupExpanded: false,
            disableNativeSpellChecker: false,
            toolbar_CNCToolbar:
                [
                    {
                        name: 'line1',
                        items: ['Source', '-', '-', 'Bold', 'Italic', 'Underline', 'Strike', 'TextColor', 'BGColor']
                    },
                    ['NumberedList', 'BulletedList'],
                    ['Table'],
                    ['Format', 'Font', 'FontSize'],
                    ['Anchor', 'Link'],
                    ['Undo', 'Redo'],
                    {name: 'tokens', items: ['tokens']}
                ],
            toolbar: 'CNCToolbar',
            extraPlugins: 'tokens,font',
            removePlugins: 'tableselection',
            fontSize_sizes: '8/8pt;9/9pt;10/10pt;11/11pt;12/12pt;14/14pt;16/16pt;18/18pt;20/20pt;22/22pt;24/24pt;26/26pt;28/28pt;36/36pt;48/48pt;72/72pt',
            tags: ["ContactFirstName", "ContactLastName"]
        };
        CKEDITOR.replace('emailBody', config);

        window.newCustomerFromDate = $('#newCustomerFromDate').get(0);
        window.newCustomerToDate = $('#newCustomerToDate').get(0);
        window.droppedCustomerFromDate = $('#droppedCustomerFromDate').get(0);
        window.droppedCustomerToDate = $('#droppedCustomerToDate').get(0);

        $('#customerString')[0].addEventListener('autocompleteselect', function ($event) {
            $('#customerID').val($event.detail.item.value);
        });
    });

    var state = 'none'; // display status

    function clearSupportLevelSelector() {
        $("#supportLevelSelector option:selected").prop("selected", false);
    }


    function submitOnReturn() {
        if (event.keyCode == 13) {
            document.searchForm.submit();
        }
    }
</script>
<P class="formErrorMessage">{formError}</P>
<form name="searchForm"
      method="post"
      action="{urlSubmit}"
>
    <table width="100%"
           border="0"
           cellspacing="0"
           cellpadding="1"
    >
        <tr valign="top">
            <td>
                <table>
                    <tr>
                        <td class="promptText">Search Criteria Requirements</td>
                        <td>
                            <select name="searchCriteria">
                                <option value="AND"
                                        {andSelected}
                                >AND
                                </option>
                                <option value="OR"
                                        {orSelected}
                                >OR
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="promptText">Customer</td>
                        <td>
                            <input
                                    type="hidden"
                                    name="searchForm[1][customerID]"
                                    id="customerID"
                                    value="{customerID}"
                            > <input
                                type="text"
                                id="customerString"
                                name="customerString"
                                value="{customerString}"
                                size="50"
                                maxlength="50"
                                customer-search
                        > <font class="formErrorMessage"> {customerStringMessage} </font></td>
                    </tr>

                    <tr>
                        <td class="promptText">
                            Type
                        </td>
                        <td>
                            <select id="prospectFlag"
                                    name="searchForm[1][prospectFlag]"
                            >
                                <option {prospectFlagBothSelected}
                                        value=""
                                        title="Include Prospects and Customers"
                                >
                                    All
                                </option>
                                <option {prospectFlagProspectSelected}
                                        value="Y"
                                        title="Include Prospects Only"
                                >
                                    Prospects
                                </option>
                                <option {prospectFlagCustomerSelected}
                                        value="N"
                                        title="Include Customers Only"
                                >
                                    Customers
                                </option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td class="promptText">
                            Referred
                        </td>
                        <td>
                            <input type="checkbox"
                                   name="searchForm[1][referredFlag]"
                                   value="Y"
                                   {referredFlagChecked}
                            >
                        </td>
                    </tr>
                    <tr>
                        <td class="promptText">
                            Send Mailshot
                        </td>
                        <td>
                            <input type="checkbox"
                                   name="searchForm[1][mailshot]"
                                   value="Y"
                                   {mailshotChecked}
                            >
                        </td>
                    </tr>
                    <tr>
                        <td class="promptText">
                            {mailshot2FlagDesc}
                        </td>
                        <td>
                            <input type="checkbox"
                                   name="searchForm[1][mailshot2Flag]"
                                   value="Y"
                                   {mailshot2FlagChecked}
                            >
                        </td>
                    </tr>
                    <tr>
                        <td class="promptText">
                            {mailshot3FlagDesc}
                        </td>
                        <td>
                            <input type="checkbox"
                                   name="searchForm[1][mailshot3Flag]"
                                   value="Y"
                                   {mailshot3FlagChecked}
                            >
                        </td>
                    </tr>
                    <tr>
                        <td class="promptText">
                            <div align="right">{mailshot8FlagDesc}</div>
                        </td>
                        <td>
                            <input type="checkbox"
                                   name="searchForm[1][mailshot8Flag]"
                                   value="Y"
                                   {mailshot8FlagChecked}
                            >
                        </td>
                    </tr>
                    <tr>
                        <td class="promptText">
                            <div align="right">{mailshot11FlagDesc}</div>
                        </td>
                        <td>
                            <input type="checkbox"
                                   name="searchForm[1][mailshot11Flag]"
                                   value="Y"
                                   {mailshot11FlagChecked}
                            >
                        </td>
                    </tr>
                    <tr>
                        <td class="promptText">
                            <div align="right">{mailshot9FlagDesc}</div>
                        </td>
                        <td>
                            <input type="checkbox"
                                   name="searchForm[1][mailshot9Flag]"
                                   value="Y"
                                   {mailshot9FlagChecked}
                            >
                        </td>
                    </tr>
                    <tr>
                        <td class="promptText">
                            HR
                        </td>
                        <td>
                            <input type="checkbox"
                                   name="searchForm[1][hrUser]"
                                   value="Y"
                                   {hrUserChecked}
                            >
                        </td>
                    </tr>
                    <tr>
                        <td class="promptText">
                            Review
                        </td>
                        <td>
                            <input type="checkbox"
                                   name="searchForm[1][reviewUser]"
                                   value="Y"
                                   {reviewUserChecked}
                            >
                        </td>
                    </tr>
                    <tr>
                        <td class="promptText">
                            Active
                        </td>
                        <td>
                            <input type="checkbox"
                                   name="searchForm[1][active]"
                                   value="1"
                                   {activeChecked}
                            >
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(AND)</td>
                    </tr>
                    <tr>
                        <td class="promptText">
                            <div align="right">Support Level</div>
                        </td>
                        <td>
                            <div class="contactSupportLevel">

                                <select name="searchForm[1][supportLevel][]"
                                        style="height: 90px"
                                        multiple
                                        id="supportLevelSelector"
                                >
                                    <!-- BEGIN supportLevelBlock -->
                                    <option {supportLevelSelected}
                                            data-test="{supportLevelSelected}"
                                            value="{supportLevelValue}"
                                    >
                                        {supportLevelDescription}
                                    </option>
                                    <!-- END supportLevelBlock -->
                                </select>
                                <button type="button"
                                        onclick="clearSupportLevelSelector()"
                                >Clear
                                </button>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td class="promptText">
                            Export Email Only
                        </td>
                        <td>
                            <input type="checkbox"
                                   name="searchForm[1][exportEmailOnlyFlag]"
                                   value="Y"
                                   {exportEmailOnlyFlagChecked}
                            >
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit"
                                   name="Export"
                                   value="Export CSV"
                            >
                            <button type="button"
                                    onclick="download3CXExport()"
                            >3CX Address Book Export
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="promptText">From Email Address</td>
                        <td>
                            <input type="text"
                                   id="fromEmailAddress"
                                   name="searchForm[1][fromEmailAddress]"
                                   value="{fromEmailAddress}"
                                   size="60"
                            ><font class="formErrorMessage">{fromEmailAddressMessage}</font>
                        </td>
                    </tr>
                    <tr>
                        <td class="promptText">Email Subject</td>
                        <td>
                            <input type="text"
                                   id="emailSubject"
                                   name="searchForm[1][emailSubject]"
                                   value="{emailSubject}"
                                   size="60"
                            ><font
                                class="formErrorMessage"
                        >{emailSubjectMessage}</font>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top"
                            class="promptText"
                        >Email Body
                        </td>
                        <td>
                            <textarea id="emailBody"
                                      name="searchForm[1][emailBody]"
                                      cols="30"
                                      rows="20"
                            >
                                {emailBody}
                            </textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <input type="submit"
                                   name="SendEmail"
                                   value="Send Email"
                                   onclick="if(!confirm('Are you sure you want to send these emails?')) return(false)"
                            >
                        </td>
                    </tr>
                </table>
            </td>
            <td valign="top">
                <table>
                    <tr valign="top">
                        <td class="listHeadText"
                            colspan="2"
                        >
                            Contract Renewal
                        </td>
                    </tr>
                    <!-- BEGIN contractItemBlock -->
                    <tr>
                        <td class="promptText">{contractItemDescription}</td>
                        <td>
                            <input class="contractItem"
                                   type="checkbox"
                                   name="contractItemIDs[]"
                                   value="{contractItemID}"
                                   {contractItemIDChecked}
                            >
                        </td>
                        <!-- END contractItemBlock -->
                    </tr>
                </table>
            </td>
        </tr>

    </table>
</form>
<script>
    /*
     Handler for change of a contract item checkbox: set the main contract item check box on
     */
    $('.contractItem').change(function () {

        if ($(this).attr('checked')) {

            $('.contractRenewalFlag').attr('checked', true);

        }
    });
</script>
<!-- End Template: ActivitySearch.inc.html -->