<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/datatables.min.css"/>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/datatables.min.js"></script>
<script>
    $(function () {
        $('#theTable').DataTable({
            dom: 'Blfrtip',
            buttons: [
                {
                    extend: 'csv',
                    bom: true
                }
            ],
            paging: false,
            footerCallback: function (tfoot, data, start, end, display) {
                var api = this.api();
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[£,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };

                // Total over all pages
                var total = api
                    .column(3)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Update footer
                $(api.column(3).footer()).html(
                    'Total: £' + total
                );

                var serverCareTotal = api
                    .column(8)
                    .data()
                    .reduce(function (acc, item) {
                        return acc + intVal(item)
                    }, 0);

                $(api.column(8).footer()).html(
                    'Total: £' + serverCareTotal
                );

                var avgTotal = 0;

                var costPerUserPerMonthTotalAVG = api
                    .column(4)
                    .data()
                    .reduce(function (a, b) {
                        var val = intVal(b);

                        if (val > 0) {
                            avgTotal++;
                        }

                        return intVal(a) + intVal(b);
                    }, 0) / avgTotal;

                $(api.column(4).footer()).html(
                    'AVG £' + costPerUserPerMonthTotalAVG.toFixed(2)
                );

                var totalServiceDeskUsers = api
                    .column(2)
                    .data()
                    .reduce(function (acc, item) {
                        return acc + intVal(item);
                    }, 0);

                $(api.column(2).footer()).html(
                    'Total: ' + totalServiceDeskUsers
                );

                var totalPhysicalServers = api
                    .column(6)
                    .data()
                    .reduce(function (acc, item) {
                        return acc + intVal(item);
                    }, 0);

                $(api.column(6).footer()).html(
                    'Total: ' + totalPhysicalServers
                );

                var totalVirtualServers = api
                    .column(7)
                    .data()
                    .reduce(function (acc, item) {
                        return acc + intVal(item);
                    }, 0);

                $(api.column(7).footer()).html(
                    'Total: ' + totalVirtualServers
                )

            }
        });
    })
</script>
<style>
    table.dataTable tfoot th {
        padding-right: 0 !important;
    }
</style>
<div class="reportDescription">
    This report breakdowns down the support contracts to show details about the ratio of supported users and servers.
</div>
<table id="theTable">
    <thead>
    <tr>
        <th>
            Customer
        </th>
        <th>
            ServiceDesk Product
        </th>
        <th>
            ServiceDesk Users
        </th>
        <th>
            ServiceDesk Contract
        </th>
        <th>
            Cost per user per month
        </th>
        <th>
            ServerCare Product
        </th>
        <th>
            Physical Servers
        </th>
        <th>
            Virtual Servers
        </th>
        <th>
            ServerCare Contract
        </th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th></th>
        <th></th>
        <th style="text-align: right"></th>
        <th style="text-align:right">Total</th>
        <th style="text-align:right">Average</th>
        <th></th>
        <th style="text-align:right"></th>
        <th style="text-align:right"></th>
        <th style="text-align:right">Total</th>
    </tr>
    </tfoot>
    <tbody>
    <!-- BEGIN contractItemBlock -->
    <tr valign="top">
        <td>
            {customerName}
        </td>
        <td>
            {serviceDeskProduct}
        </td>
        <td style="text-align:right">
            {serviceDeskUsers}
        </td>
        <td style="text-align:right">
            £{serviceDeskContract}
        </td>
        <td style="text-align:right">
            £{serviceDeskCostPerUserMonth}
        </td>
        <td>
            {serverCareProduct}
        </td>
        <td style="text-align:right">
            {physicalServers}
        </td>
        <td style="text-align:right">
            {virtualServers}
        </td>
        <td style="text-align:right">
            £{serverCareContract}
        </td>

    </tr>
    <!-- END contractItemBlock -->
    </tbody>
</table>