<script type="application/javascript"
        src=".javascript/salesRequest.js"
></script>
<script>
    $(function () {
        const customerIDHiddenElement = document.getElementById('customerID');
        const customerStringElement = document.getElementById('customerString');

        //property mutation for hidden input
        Object.defineProperty(customerIDHiddenElement, "value", {
            // Don't override the getter, but stub it in.
            get: function () {
                return this.getAttribute("value");
            },
            // In the setter, we want to set the value
            //  and also fire off the change event.
            //  By doing this, the coder changing the
            //  value never needs worry about it.
            set: function (val) {
                let evt;
                console.log("set");

                // handle value change here
                this.setAttribute("value", val);

                //fire the event
                evt = document.createEvent("HTMLEvents");
                evt.initEvent("change", false, true);
                customerIDHiddenElement.dispatchEvent(evt);
            }
        });

        startCreateSalesRequest(1, $('#container')[0]);
        salesRequest.onCancel = function () {
            customerIDHiddenElement.value = null;
            customerStringElement.value = null;
        }
    });

    function changeCustomerID() {
        if (salesRequest) {
            salesRequest.customerID = event.target.value;
        } else {
            startCreateSalesRequest(event.target.value, $('#container')[0])
        }
    }
</script>
<table width="500px"
       border="0"
       cellspacing="0"
       cellpadding="1"
>
    <tbody>
    <tr>
        <td width="100"
            class="promptText"
        >
            <div align="right">Customer</div>
        </td>
        <td>
            <input type="hidden"
                   id="customerID"
                   onchange="changeCustomerID()"
            >
            <input type="text"
                   id="customerString"
                   name="customerString"
                   value=""
                   customer-picker="customerID"
                   size="50"
                   maxlength="50"
            >
        </td>
    </tr>
    </tbody>
</table>
<br>
<div id="container">

</div>