<script>
    const autocompleteURL = "/Customer.php?action=searchName";
    window.addEventListener('DOMContentLoaded', function () {
        const customerIDHiddenElement = document.getElementById('customerID');
        const customerStringElement = document.getElementById('customerString');

        $('#customerString')[0].addEventListener('autocompleteselect', function ($event) {
            $('#customerID').val($event.detail.item.value);
            changeCustomerID($event.detail.item.value);
        });
        startCreateSalesRequest(1, $('#container')[0]);
        salesRequest.onCancel = function () {
            customerIDHiddenElement.value = null;
            customerStringElement.value = null;
        }
    });

    function changeCustomerID(customerID) {
        if (salesRequest) {
            salesRequest.customerID = customerID;
        } else {
            startCreateSalesRequest(customerID, $('#container')[0])
        }
    }
</script>
<table width="500px"
       border="0"
       cellspacing="0"
       cellpadding="1"
>
    <tbody>
    <tr>
        <td width="100"
            class="promptText"
        >
            <div align="left">Customer</div>
        </td>
    </tr>
    <tr>

        <td>
            <input type="hidden"
                   id="customerID"
            >
            <input type="text"
                   id="customerString"
                   name="customerString"
                   value=""
                   size="50"
                   maxlength="50"
                   style="margin-left: 0"
                   customer-search
            >
        </td>
    </tr>
    </tbody>
</table>
<br>
<div id="container">

</div>