<script>
    const autocompleteURL = "/Customer.php?action=searchName";
    $(function () {
        const customerIDHiddenElement = document.getElementById('customerID');
        const customerStringElement = document.getElementById('customerString');

        $('#customerString').autocomplete({
            minLength: 0,
            source: function (request, responseCB) {
                const data = {};
                data.term = request.term;
                $.ajax(
                    autocompleteURL,
                    {
                        method: 'POST',
                        dataType: 'json',
                        data: data
                    }
                ).then(response => {
                    responseCB(response);
                })
            },
            select: function (event, ui) {
                event.preventDefault();
                event.target.value = ui.item.label;
                $('#customerID').val(ui.item.id);
                changeCustomerID(ui.item.id);
            },
            delay: 200,
        }).focus(function () {
            $(this).autocomplete("search", $(this).val());
        });

        startCreateSalesRequest(1, $('#container')[0]);
        salesRequest.onCancel = function () {
            customerIDHiddenElement.value = null;
            customerStringElement.value = null;
        }
    });

    function changeCustomerID(customerID) {
        if (salesRequest) {
            salesRequest.customerID = customerID;
        } else {
            startCreateSalesRequest(customerID, $('#container')[0])
        }
    }
</script>
<table width="500px"
       border="0"
       cellspacing="0"
       cellpadding="1"
>
    <tbody>
    <tr>
        <td width="100"
            class="promptText"
        >
            <div align="left">Customer</div>
        </td>
    </tr>
    <tr>

        <td>
            <input type="hidden"
                   id="customerID"
            >
            <input type="text"
                   id="customerString"
                   name="customerString"
                   value=""
                   size="50"
                   maxlength="50"
                   style="margin-left: 0"
            >
        </td>
    </tr>
    </tbody>
</table>
<br>
<div id="container">

</div>