<!-- Template: CurrentActivityReport.inc.html -->
<META HTTP-EQUIV=REFRESH
      CONTENT=240
>
<a href="Activity.php?action=activityCreate1">Log New Request</a>
<br>
<div id="SDManagerLinks"
     hidden
>
    <a href="SDManagerDashboard.php">SD Manager Dashboard</a>
</div>
<script>

    window.addEventListener('DOMContentLoaded', function () {


        $("#selectall").change(function () {
            $(".priorityFilterCheckbox").prop('checked', $(this).prop("checked"));
        });

        if ({displayToBeLoggedFlag} == 0) {
            $('table#toBeLogged').children('tbody').toggle();
        }

        if ({displayQueue1Flag} == 0) {
            $('table#queue1').children('tbody').toggle();
        }

        if ({displayQueue2Flag} == 0) {
            $('table#queue2').children('tbody').toggle();
        }

        if ({displayQueue3Flag} == 0) {
            $('table#queue3').children('tbody').toggle();
        }

        if ({displayQueue4Flag} == 0) {
            $('table#queue4').children('tbody').toggle();
        }

        if ({displayQueue5Flag} == 0) {
            $('table#queue5').children('tbody').toggle();
        }

        if ({displayQueue6Flag} == 0) {
            $('table#queue6').children('tbody').toggle();
        }

        if ({displayQueue7Flag} == 0) {
            $('table#queue7').children('tbody').toggle();
        }
        if ({displayPendingReopenedFlag} == 0) {
            $('table#pendingReopened').children('tbody').toggle();
        }


        $('table#pendingReopened th').click(function () {
                $(this).parents('table#pendingReopened').children('tbody').toggle();
                fetch("CurrentActivityReport.php?action=toggleDisplayPendingReopenedFlag");
            }
        );

        $('table#toBeLogged th').click(
            function () {
                $(this).parents('table#toBeLogged').children('tbody').toggle();
                fetch("CurrentActivityReport.php?action=toggleDisplayToBeLoggedFlag");
            }
        );

        $('table#queue1 th').click(
            function () {
                $(this).parents('table#queue1').children('tbody').toggle();
                fetch("CurrentActivityReport.php?action=toggleDisplayQueue1Flag");
            }
        );
        $('table#queue2 th').click(
            function () {
                $(this).parents('table#queue2').children('tbody').toggle();
                fetch("CurrentActivityReport.php?action=toggleDisplayQueue2Flag");
            }
        );
        $('table#queue3 th').click(
            function () {
                $(this).parents('table#queue3').children('tbody').toggle();
                fetch("CurrentActivityReport.php?action=toggleDisplayQueue3Flag");
            }
        );
        $('table#queue4 th').click(
            function () {
                $(this).parents('table#queue4').children('tbody').toggle();
                fetch("CurrentActivityReport.php?action=toggleDisplayQueue4Flag");
            }
        );
        $('table#queue5 th').click(
            function () {
                $(this).parents('table#queue5').children('tbody').toggle();
                fetch("CurrentActivityReport.php?action=toggleDisplayQueue5Flag");
            }
        );
        $('table#queue6 th').click(
            function () {
                $(this).parents('table#queue6').children('tbody').toggle();
                fetch("CurrentActivityReport.php?action=toggleDisplayQueue6Flag");
            }
        );
        $('table#queue7 th').click(
            function () {
                $(this).parents('table#queue7').children('tbody').toggle();
                fetch("CurrentActivityReport.php?action=toggleDisplayQueue7Flag");
            }
        );

        if ({isSDManager}) {
            document.getElementById('SDManagerLinks').style.display = "block";
            document.getElementById('pendingReopened').style.display = "table";
        }

        $('.requestAdditionalTime').click(function () {

            var reason = prompt('Please provide your reason for requesting additional time.(Required)');
            if (!reason) {
                return;
            }

            var problemID = ($(this).data()).problemid;

            $.ajax({
                url: 'Activity.php',
                data: {
                    action: "requestAdditionalTime",
                    problemID: problemID,
                    reason: reason
                }
            });

            alert('Additional time has been requested');

        });

        $('.userAllocation').change(function () {
            window.location = this.value;
            //console.log(this.value)
        })

        let queuePreviousValue = null;

        $('.queueSelector').click(function (event) {
            queuePreviousValue = $(this).val();
        })
        $('.queueSelector').change(function (event) {
            debugger;
            const dataSet = $(this).data();
            const problemID = dataSet.problemid;
            const problemStatus = dataSet.problemStatus;
            let answer = null;
            if (problemStatus === "P") {
                answer = prompt('Please provide a reason for moving this SR into a different queue');

                if (!answer) {
                    $(this).val(queuePreviousValue);
                    return;
                }
            }

            window.location = '/CurrentActivityReport.php?action=changeQueue&problemID=' + problemID + '&queue=' + this.value + "&reason=" + answer
        })
    })

</script>
<table width="100%">
    <tr>
        <!-- BEGIN userSrCountBlock -->
        <td>{openSrInitials}:{openSrCount}</td>
        <!-- END userSrCountBlock -->
    </tr>
</table>

<table id="toBeLogged"
       width="100%"
>
    <thead>
    <tr valign="top">
        <th class="listHeadText"
            colspan="4"
        >
            <div align="left">To Be Logged ({cpCount})</div>
        </th>
        <th class="listHeadText"
            width="5"
            nowrap
        >SR
        </th>
        <th class="listHeadText"
            width="5"
            nowrap
        >
            <div>Priority</div>
        </th>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN customerRequestsBlock -->
    <form name="userForm">
        <tr valign="center">
            <td bgcolor="{cpBgColor}">
                <input type="button"
                       name="delete"
                       title="Delete"
                       value="D"
                       onClick="if(confirm('Are you sure you want to remove this request?')) document.location='{urlDeleteCustomerRequest}'"
                >{cpNewButton}
            </td>
            <td bgcolor="{cpBgColor}"><A href={cpUrlCustomer}
                                         target="_blank"
            >{cpCustomerName}</a></td>
            <td bgcolor="{cpBgColor}">
                <A
                        href="javascript:"
                        onClick="window.open(
            '{urlDetailsPopup}',
            'customer_problem',
            'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0'); return false"
                >{cpTruncatedReason}
                </A>
            </td>
            <td bgcolor="{cpBgColor}"
                nowrap="nowrap"
            >{cpDate} {cpTime}
            </td>
            <td bgcolor="{cpBgColor}"><A href={cpUrlServiceRequest}
                                         target="_blank"
            >{cpServiceRequestID}</a></td>
            <td bgcolor="{cpBgColor}">
                <div align="center">{cpPriority}</div>
            </td>
        </tr>
    </form>
    <!-- END customerRequestsBlock -->
    </tbody>
</table>
<br>
<table id="pendingReopened"
       width="100%"
       style="display: none"
>
    <thead>
    <tr valign="top">
        <th class="listHeadText"
            style="width: 11%;"
        >
            <div align="left">Pending Reopened ({pendingReopenedCount})</div>
        </th>
        <th class="listHeadText"
            style="width: 10%;"
        >
            Received
        </th>
        <th class="listHeadText"
            style="width: 5%;"
            nowrap
        >SR
        </th>
        <th class="listHeadText"
            style="width: 15%;"
            nowrap
        >Customer
        </th>
        <th class="listHeadText"
            style="width: 54%;"
            nowrap
        >Summary
        </th>
        <th class="listHeadText"
            style="width: 5%;"
            nowrap
        >
            <div>Priority</div>
        </th>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN pendingReopenedBlock -->

    <tr valign="center">
        <td>
            <form>
                <input type="hidden"
                       name="action"
                       value="processPendingReopened"
                >
                <input type="hidden"
                       name="pendingReopenedID"
                       value="{pendingReopenedID}"
                >
                <input type="submit"
                       name="result"
                       title="Reopen"
                       value="R"
                       onClick="if(!confirm('Are you sure you want to reopen?')){ window.event.preventDefault()}"
                >

                <input type="submit"
                       name="result"
                       title="Delete"
                       value="D"
                       onClick="if(!confirm('Are you sure you want to delete?')){ window.event.preventDefault()}"
                >
                <script>
                    function submitNew() {
                        const form = document.createElement("form");
                        form.method = "post";
                        form.action = "/Activity.php";
                        addInputs([
                            {
                                name: 'action',
                                value: 'editServiceRequestHeader'
                            },
                            {
                                name: 'contactID',
                                value: event.target.dataset.siteNo
                            },
                            {
                                name: 'customerID',
                                value: event.target.dataset.customerId,
                            },
                            {
                                name: 'reason',
                                value: atob(event.target.dataset.reason),
                            },
                            {
                                name: 'pendingReopenedID',
                                value: event.target.dataset.pendingReopenedId,
                            },
                            {
                                name: 'deletePending',
                                value: true,
                            }
                        ], form);
                        document.body.appendChild(form);
                        form.submit();
                    }
                </script>
                <button type="button"
                        onclick="submitNew()"
                        title="Submit new SR, unrelated message"
                        data-contact-id="{pendingReopenedContactID}"
                        data-customer-id="{pendingReopenedCustomerID}"
                        data-reason="{base64Reason}"
                        data-pending-reopened-id="{pendingReopenedID}"

                >N
                </button>
            </form>
        </td>
        <td>
            {receivedDate}
        </td>
        <td>
            <A href={pendingReopenSRURL}
               target="_blank"
            >{pendingReopenSR}</a>
        </td>
        <td>
            {pendingReopenCustomerName}
        </td>
        <td>
            <a href="javascript:"
               onClick="window.open(
            '{pendingReopenDescriptionURL}',
            'customer_problem',
            'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0'); return false"
            >
                {pendingReopenDescriptionSummary}
            </a>
        </td>
        <td>
            <div align="center">{pendingReopenPriority}</div>
        </td>
    </tr>
    <!-- END pendingReopenedBlock -->
    </tbody>
</table>

<br/>
<form name="filterForm"
      method="post"
      action="{urlSetFilter}"
>
    <table class="table-bordered"
           width="100%"
    >
        <thead>
        <tr valign="center">
            <th width="30%"
                class="listHeadText"
            >
                Customer:
                <select
                        onchange="document.filterForm.submit()"
                        name="selectedCustomerID"
                >
                    <option value="">All customers</option>
                    <!-- BEGIN customerFilterBlock -->
                    <option {filterCustomerIDSelected}
                            value="{filterCustomerID}"
                    >{filterCustomerName}
                    </option>
                    <!-- END customerFilterBlock -->
                </select>
            </th>

            <th width="10%"
                class="listHeadText"
                nowrap
            >
                Priority:
                <input type="checkbox"
                       id="selectall"
                /><label for="selectall">All</label>
                <!-- BEGIN priorityFilterBlock -->
                <input type="checkbox"
                       class="priorityFilterCheckbox"
                       name="priorityFilter[]"
                       id="priorityFilter{priority}"
                       value="{priority}"
                       {priorityChecked}
                ><label
                    for="priorityFilter{priority}"
                    title="{priority}"
            >{priority}</label>
                <!-- END priorityFilterBlock -->
                <input type="submit"
                       name="applyFilter"
                       value="Apply"
                >
                <input type="button"
                       name="clearFilter"
                       value="Reset"
                       onclick="document.location='/CurrentActivityReport.php?action=resetFilter'"
                >
            </th>


            <th width="60%"
                class="listHeadText"
                nowrap
            >
                Engineer:
                <select
                        onchange="document.filterForm.submit()"
                        name="selectedUserID"
                >
                    <option value="">All engineers</option>
                    <!-- BEGIN userFilterBlock -->
                    <option {filterUserSelected}
                            value="{filterUserID}"
                    >{filterUserName}
                    </option>
                    <!-- END userFilterBlock -->
                </select>
            </th>
        </tr>
        </thead>
    </table>
</form>
<BR/>
<table id="queue1"
       class="table-bordered oddRows"
       width="100%"
>
    <thead>
    <tr valign="center">
        <th class="listHeadText"
            colspan="4"
            width="34%"
        >
            <div align="left">{queue1Name} ({queue1Count})</div>
        </th>
        <th class="listHeadText"
            width="1%"
        >
            <div align="left">Priority</div>
        </th>
        <th class="listHeadText">&nbsp;</th>
        <th class="listHeadText">
            <div align="left">Open Hours</div>
        </th>
        <th class="listHeadText">
            <div align="left">Time Spent</div>
        </th>
        <th class="listHeadText">
            <div align="left">Time Budget</div>
        </th>
        <th class="listHeadText">
            <div align="left">Description</div>
        </th>
        <th class="listHeadText">
            <div align="left">Assigned To</div>
        </th>
        <th class="listHeadText">
            <div align="left">Updated</div>
        </th>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN queue1Block -->
    <tr valign="center">

        <td width="3%"
            bgColor="{workBgColor}"
        >
            <INPUT type="button"
                   value="Work"
                   title="Log activity against this SR"
                   onClick="{workOnClick}"
                   class="{workHidden}"
            >
        </td>

        <td width="3%">
            <select class="queueSelector"
                    data-problemId="{problemID}"
                    data-problem-status="{problemStatus}"
            >
                {queueOptions}
            </select></td>

        <td width="2%"
            bgcolor="{bgColour}"
            class="problemId"
        >
            <A href="{urlViewActivity}"
               target="_blank"
            >{problemID}</A>
        </td>

        <td width="20%"
            {customerNameDisplayClass}
        >
            <A href={urlCustomer}
               target="_blank"
            >{customerName}</a>
        </td>

        <td width="3%"
            bgcolor="{priorityBgColor}"
        >
            <div align="center">{priority}</div>
        </td>

        <td>{linkAllocateAdditionalTime}</td>

        <td width="5%"
            bgcolor="{hoursRemainingBgColor}"
            title="Green = Awaiting Customer Blue = CNC Yellow = Not Started"
        >
            <div align="center">{hoursRemaining}</div>
        </td>
        <td width="5%"
            align="center"
            class="{timeSpentColorClass}"
        >{totalActivityDurationHours}
        </td>
        <td width="15%"
            align="left"
        >
                <span style="cursor: pointer"
                      class="requestAdditionalTime"
                      data-problemId="{problemID}"
                >
                    <img src="images/clock.gif"
                         alt="Clock"
                         width="24"
                         height="25"
                         title="Request Time"
                    >
                </span>

            <span style="color: {hdColor}">H:{hdRemaining}</span>
            <span style="color: {esColor}">E:{esRemaining}</span>
            <span style="color: {smallProjectsTeamColor}">SP:{smallProjectsTeamRemaining}</span>
            <span style="color: {projectTeamColor}">P:{projectTeamRemaining}</span>
        </td>

        <td width="37%">
            <A
                    href="javascript:"
                    onClick="window.open(
          '{urlProblemHistoryPopup}',
          'reason',
          'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0'); return false"
            >{reason}
            </A>
        </td>

        <td width="10%"
            valign="center"
        >
            <select class="userAllocation">{engineerDropDown}</select>
        </td>

        <td width="10%"
            nowrap="nowrap"
            bgcolor="{updatedBgColor}"
            title="Purple = Updated by another user OR has an alarm date in past"
        >{date} {time}
        </td>

    </tr>
    <!-- END queue1Block -->
    </tbody>
</table>

<table id="queue2"
       class="table-bordered oddRows"
       width="100%"
>
    <thead>
    <tr valign="center">
        <th class="listHeadText"
            colspan="4"
            width="34%"
        >
            <div align="left">{queue2Name} ({queue2Count})</div>
        </th>
        <th class="listHeadText">
            <div align="left">Priority</div>
        </th>
        <th class="listHeadText">&nbsp;</th>
        <th class="listHeadText">
            <div align="left">Open Hours</div>
        </th>
        <th class="listHeadText">
            <div align="left">Time Spent</div>
        </th>
        <th class="listHeadText">
            <div align="left">Time Budget</div>
        </th>
        <th class="listHeadText">
            <div align="left">Description</div>
        </th>
        <th class="listHeadText">
            <div align="left">Assigned To</div>
        </th>
        <th class="listHeadText">
            <div align="left">Updated</div>
        </th>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN queue2Block -->

    <tr valign="center">
        <td width="3%"
            bgColor="{workBgColor}"
        >
            <INPUT
                    type="button"
                    value="Work"
                    title="Log activity against this SR"
                    onClick="{workOnClick}"
                    class="{workHidden}"
            >
        </td>

        <td width="3%">
            <select class="queueSelector"
                    data-problemId="{problemID}"
                    data-problem-status="{problemStatus}"
            >
                {queueOptions}
            </select></td>
        <td width="2%"
            bgcolor="{bgColour}"
        ><A href="{urlViewActivity}"
            target="_blank"
        >{problemID}</A>
        </td>


        <td width="20%"
            {customerNameDisplayClass}
        ><A href={urlCustomer}
            target="_blank"
        >{customerName}</a>
        </td>

        <td width="3%"
            bgcolor="{priorityBgColor}"
        >
            <div align="center">{priority}</div>
        </td>

        <td>{linkAllocateAdditionalTime}</td>


        <td width="5%"
            bgcolor="{hoursRemainingBgColor}"
            title="Green = Awaiting Customer Blue = CNC Yellow = Not Started"
        >
            <div align="center">{hoursRemaining}</div>
        </td>

        <td width="5%"
            align="center"
        >{totalActivityDurationHours}
        </td>
        <td width="15%"
            align="left"
        >
                <span style="cursor: pointer"
                      class="requestAdditionalTime"
                      data-problemId="{problemID}"
                >
                    <img src="images/clock.gif"
                         alt="Clock"
                         width="24"
                         height="25"
                         title="Request Time"
                    >
                </span>

            <span style="color: {hdColor}">H:{hdRemaining}</span>
            <span style="color: {esColor}">E:{esRemaining}</span>
            <span style="color: {smallProjectsTeamColor}">SP:{smallProjectsTeamRemaining}</span>
            <span style="color: {projectTeamColor}">P:{projectTeamRemaining}</span>
        </td>

        <td width="37%">
            <A
                    href="javascript:"
                    onClick="window.open(
          '{urlProblemHistoryPopup}',
          'reason',
          'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0'); return false"
            >{reason}
            </A>
        </td>

        <td width="10%"
            valign="center"
        >
            <select class="userAllocation">{engineerDropDown}</select>
        </td>

        <td width="10%"
            nowrap="nowrap"
            bgcolor="{updatedBgColor}"
            title="Purple = Updated by another user"
        >{date}
            {time}
        </td>

    </tr>

    <!-- END queue2Block -->
    </tbody>
</table>

<table id="queue3"
       class="table-bordered oddRows"
       width="100%"
>
    <thead>
    <tr valign="center">
        <th class="listHeadText"
            colspan="4"
            width="34%"
        >
            <div align="left">{queue3Name} ({queue3Count})</div>
        </th>
        <th class="listHeadText">
            <div align="left">Priority</div>
        </th>
        <th class="listHeadText">&nbsp;</th>
        <th class="listHeadText">
            <div align="left">Open Hours</div>
        </th>
        <th class="listHeadText">
            <div align="left">Time Spent</div>
        </th>
        <th class="listHeadText">
            <div align="left">Time Budget</div>
        </th>
        <th class="listHeadText">
            <div align="left">Description</div>
        </th>
        <th class="listHeadText">
            <div align="left">Assigned To</div>
        </th>
        <th class="listHeadText">
            <div align="left">Updated</div>
        </th>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN queue3Block -->

    <tr valign="center">
        <td width="3%"
            bgColor="{workBgColor}"
        >
            <INPUT
                    type="button"
                    value="Work"
                    title="Log activity against this SR"
                    onClick="{workOnClick}"
                    class="{workHidden}"
            >
        </td>

        <td width="3%">
            <select class="queueSelector"
                    data-problemId="{problemID}"
                    data-problem-status="{problemStatus}"
            >
                {queueOptions}
            </select></td>
        <td width="2%"
            bgcolor="{bgColour}"
        ><A href="{urlViewActivity}"
            target="_blank"
        >{problemID}</A>
        </td>


        <td width="20%"
            {customerNameDisplayClass}
        ><A href={urlCustomer}
            target="_blank"
        >{customerName}</a>
        </td>

        <td width="3%"
            bgcolor="{priorityBgColor}"
        >
            <div align="center">{priority}</div>
        </td>

        <td>{linkAllocateAdditionalTime}</td>


        <td width="5%"
            bgcolor="{hoursRemainingBgColor}"
            title="Green = Awaiting Customer Blue = CNC Yellow = Not Started"
        >
            <div align="center">{hoursRemaining}</div>
        </td>

        <td width="5%"
            align="center"
        >{totalActivityDurationHours}
        </td>
        <td width="15%"
            align="left"
        >
                <span style="cursor: pointer"
                      class="requestAdditionalTime"
                      data-problemId="{problemID}"
                >
                    <img src="images/clock.gif"
                         alt="Clock"
                         width="24"
                         height="25"
                         title="Request Time"
                    >
                </span>

            <span style="color: {hdColor}">H:{hdRemaining}</span>
            <span style="color: {esColor}">E:{esRemaining}</span>
            <span style="color: {smallProjectsTeamColor}">SP:{smallProjectsTeamRemaining}</span>
            <span style="color: {projectTeamColor}">P:{projectTeamRemaining}</span>
        </td>

        <td width="37%">
            <A
                    href="javascript:"
                    onClick="window.open(
          '{urlProblemHistoryPopup}',
          'reason',
          'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0'); return false"
            >{reason}
            </A>
        </td>

        <td width="10%"
            valign="center"
        >
            <select class="userAllocation">{engineerDropDown}</select>
        </td>

        <td width="10%"
            nowrap="nowrap"
            bgcolor="{updatedBgColor}"
            title="Purple = Updated by another user"
        >{date}
            {time}
        </td>

    </tr>

    <!-- END queue3Block -->
    </tbody>
</table>

<table id="queue5"
       class="table-bordered oddRows"
       width="100%"
>
    <thead>
    <tr valign="center">
        <th class="listHeadText"
            colspan="4"
        >
            <div align="left">{queue5Name} ({queue5Count})</div>
        </th>
        <th class="listHeadText">
            <div align="left">Priority</div>
        </th>
        <th class="listHeadText"></th>
        <th class="listHeadText">
            <div align="left">Open Hours</div>
        </th>
        <th class="listHeadText">
            <div align="left">Time Spent</div>
        </th>
        <th class="listHeadText">
            <div align="left">Time Budget</div>
        </th>
        <th class="listHeadText">
            <div align="left">Description</div>
        </th>
        <th class="listHeadText">
            <div align="left">Assigned To</div>
        </th>
        <th class="listHeadText">
            <div align="left">Updated</div>
        </th>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN queue5Block -->

    <tr valign="center">
        <td width="3%"
            bgColor="{workBgColor}"
        >
            <INPUT type="button"
                   value="Work"
                   title="Log activity against this SR"
                   onClick="{workOnClick}"
                   class="{workHidden}"
            >
        </td>

        <td width="3%">
            <select class="queueSelector"
                    data-problemId="{problemID}"
                    data-problem-status="{problemStatus}"
            >
                {queueOptions}
            </select></td>
        <td width="2%"
            bgcolor="{bgColour}"
        ><A href="{urlViewActivity}"
            target="_blank"
        >{problemID}</A>
        </td>


        <td width="20%"
            {customerNameDisplayClass}
        ><A href={urlCustomer}
            target="_blank"
        >{customerName}</a>
        </td>

        <td width="3%"
            bgcolor="{priorityBgColor}"
        >
            <div align="center">{priority}</div>
        </td>

        <td>{linkAllocateAdditionalTime}</td>

        <td width="5%"
            bgcolor="{hoursRemainingBgColor}"
            title="Green = Awaiting Customer Blue = CNC Yellow = Not Started"
        >
            <div align="center">{hoursRemaining}</div>
        </td>

        <td width="5%"
            align="center"
        >{totalActivityDurationHours}
        </td>
        <td width="15%"
            align="left"
        >
                <span style="cursor: pointer"
                      class="requestAdditionalTime"
                      data-problemId="{problemID}"
                >
                    <img src="images/clock.gif"
                         alt="Clock"
                         width="24"
                         height="25"
                         title="Request Time"
                    >
                </span>

            <span style="color: {hdColor}">H:{hdRemaining}</span>
            <span style="color: {esColor}">E:{esRemaining}</span>
            <span style="color: {smallProjectsTeamColor}">SP:{smallProjectsTeamRemaining}</span>
            <span style="color: {projectTeamColor}">P:{projectTeamRemaining}</span>
        </td>


        <td width="37%">
            <A
                    href="javascript:"
                    onClick="window.open(
          '{urlProblemHistoryPopup}',
          'reason',
          'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0'); return false"
            >{reason}
            </A>
        </td>

        <td width="10%"
            valign="center"
        >
            <select class="userAllocation">{engineerDropDown}</select>
        </td>

        <td width="10%"
            nowrap="nowrap"
            bgcolor="{updatedBgColor}"
            title="Purple = Updated by another user"
        >{date}
            {time}
        </td>

    </tr>

    <!-- END queue5Block -->
    </tbody>
</table>


<table id="queue4"
       class="table-bordered oddRows"
       width="100%"
>
    <thead>
    <tr valign="center">
        <th class="listHeadText"
            colspan="4"
        >
            <div align="left">{queue4Name} ({queue4Count})</div>
        </th>
        <th class="listHeadText">
            <div align="left">Priority</div>
        </th>
        <th class="listHeadText">&nbsp;</th>
        <th class="listHeadText">
            <div align="left">Open Hours</div>
        </th>
        <th class="listHeadText">
            <div align="left">Time Spent</div>
        </th>
        <th class="listHeadText">
            <div align="left">Time Budget</div>
        </th>
        <th class="listHeadText">
            <div align="left">Description</div>
        </th>
        <th class="listHeadText">
            <div align="left">Assigned To</div>
        </th>
        <th class="listHeadText">
            <div align="left">Updated</div>
        </th>
    </tr>
    </thead>
    <tbody>


    <!-- BEGIN queue4Block -->

    <tr valign="center">
        <td width="3%"
            bgColor="{workBgColor}"
        >
            <INPUT type="button"
                   value="Work"
                   title="Log activity against this SR"
                   onClick="{workOnClick}"
                   class="{workHidden}"
            >
        </td>

        <td width="3%">
            <select class="queueSelector"
                    data-problemId="{problemID}"
                    data-problem-status="{problemStatus}"
            >
                {queueOptions}
            </select></td>
        <td width="2%"
            bgcolor="{bgColour}"
        ><A href="{urlViewActivity}"
            target="_blank"
        >{problemID}</A>
        </td>


        <td width="20%"
            {customerNameDisplayClass}
        ><A href={urlCustomer}
            target="_blank"
        >{customerName}</a>
        </td>

        <td width="3%"
            bgcolor="{priorityBgColor}"
        >
            <div align="center">{priority}</div>
        </td>

        <td>{linkAllocateAdditionalTime}</td>

        <td width="5%"
            bgcolor="{hoursRemainingBgColor}"
            title="Green = Awaiting Customer Blue = CNC Yellow = Not Started"
        >
            <div align="center">{hoursRemaining}</div>
        </td>

        <td width="5%"
            align="center"
        >{totalActivityDurationHours}
        </td>
        <td width="15%"
            align="left"
        >
                <span style="cursor: pointer"
                      class="requestAdditionalTime"
                      data-problemId="{problemID}"
                >
                    <img src="images/clock.gif"
                         alt="Clock"
                         width="24"
                         height="25"
                         title="Request Time"
                    >
                </span>

            <span style="color: {hdColor}">H:{hdRemaining}</span>
            <span style="color: {esColor}">E:{esRemaining}</span>
            <span style="color: {smallProjectsTeamColor}">SP:{smallProjectsTeamRemaining}</span>
            <span style="color: {projectTeamColor}">P:{projectTeamRemaining}</span>
        </td>

        <td width="37%">
            <A
                    href="javascript:"
                    onClick="window.open(
          '{urlProblemHistoryPopup}',
          'reason',
          'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0'); return false"
            >{reason}
            </A>
        </td>

        <td width="10%"
            valign="center"
        >
            <select class="userAllocation">{engineerDropDown}</select>
        </td>

        <td width="10%"
            nowrap="nowrap"
            bgcolor="{updatedBgColor}"
            title="Purple = Updated by another user"
        >{date}
            {time}
        </td>

    </tr>

    <!-- END queue4Block -->
    </tbody>
</table>

<table id="queue7"
       class="table-bordered oddRows"
       width="100%"
>
    <thead>
    <tr valign="center">
        <th class="listHeadText"
            colspan="4"
        >
            <div align="left">Future ({queue7Count})</div>
        </th>
        <th class="listHeadText">
            <div align="left">Priority</div>
        </th>
        <th class="listHeadText">
            <div align="left">&nbsp;</div>
        </th>
        <th class="listHeadText">
            <div align="left">Open Hours</div>
        </th>
        <th class="listHeadText">
            <div align="left">Time Spent</div>
        </th>
        <th class="listHeadText">
            <div align="left">Time Budget</div>
        </th>
        <th class="listHeadText">
            <div align="left">Description</div>
        </th>
        <th class="listHeadText">
            <div align="left">Assigned To</div>
        </th>
        <th class="listHeadText">
            <div align="left">Updated</div>
        </th>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN queue7Block -->

    <tr valign="center">
        <td width="3%"
            bgColor="{workBgColor}"
        >
            <INPUT type="button"
                   value="Work"
                   title="Log activity against this SR"
                   onClick="{workOnClick}"
                   class="{workHidden}"
            >
        </td>

        <td width="3%">{alarmDateTime}</td>
        <td width="2%"
            bgcolor="{bgColour}"
        ><A href="{urlViewActivity}"
            target="_blank"
        >{problemID}</A>
        </td>


        <td width="20%"
            {customerNameDisplayClass}
        ><A href={urlCustomer}
            target="_blank"
        >{customerName}</a>
        </td>

        <td width="3%"
            bgcolor="{priorityBgColor}"
        >
            <div align="center">{priority}</div>
        </td>

        <td>{linkAllocateAdditionalTime}</td>

        <td width="5%"
            bgcolor="{hoursRemainingBgColor}"
            title="Green = Awaiting Customer Blue = CNC Yellow = Not Started"
        >
            <div align="center">{hoursRemaining}</div>
        </td>

        <td width="5%"
            align="center"
        >{totalActivityDurationHours}
        </td>
        <td width="15%"
            align="left"
        >
                <span style="cursor: pointer"
                      class="requestAdditionalTime"
                      data-problemId="{problemID}"
                >
                    <img src="images/clock.gif"
                         alt="Clock"
                         width="24"
                         height="25"
                         title="Request Time"
                    >
                </span>

            <span style="color: {hdColor}">H:{hdRemaining}</span>
            <span style="color: {esColor}">E:{esRemaining}</span>
            <span style="color: {smallProjectsTeamColor}">SP:{smallProjectsTeamRemaining}</span>
            <span style="color: {projectTeamColor}">P:{projectTeamRemaining}</span>
        </td>

        <td width="40%">
            <A
                    href="javascript:"
                    onClick="window.open(
          '{urlProblemHistoryPopup}',
          'reason',
          'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0'); return false"
            >{reason}
            </A>
        </td>

        <td width="10%"
            valign="center"
        >
            <select class="userAllocation">{engineerDropDown}</select>
        </td>

        <td width="10%"
            nowrap="nowrap"
            bgcolor="{updatedBgColor}"
            title="Purple = Updated by another user"
        >{date}
            {time}
        </td>

    </tr>

    <!-- END queue7Block -->
    </tbody>
</table>


<table id="queue6"
       class="table-bordered"
       width="100%"
>
    <thead>
    <tr valign="center">
        <th class="listHeadText"
            colspan="4"
        >
            <div align="left">Fixed Pending Closure ({queue6Count})</div>
        </th>
        <th class="listHeadText">
            <div align="left">Priority</div>
        </th>
        <th class="listHeadText">
            <div align="left">Description</div>
        </th>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN queue6Block -->
    <form name="userForm">
        <tr valign="center">

            <td width="3%">&nbsp;</td>
            <td width="3%">&nbsp;</td>
            <td width="2%"
                bgcolor="{bgColour}"
            ><A href="{urlViewActivity}"
                target="_blank"
            >{problemID}</A>
            </td>


            <td width="20%"><A href={urlCustomer}
                               target="_blank"
            >{customerName}</a>
            </td>

            <td width="12%"
                bgcolor="{priorityBgColor}"
            >
                <div align="center">{priority}</div>
            </td>

            <td width="40%">
                <A
                        href="javascript:"
                        onClick="window.open(
          '{urlProblemHistoryPopup}',
          'reason',
          'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0'); return false"
                >{reason}
                </A>
            </td>

        </tr>
    </form>
    <!-- END queue6Block -->
    </tbody>
</table>

<!-- End Template: CurrentActivityReport.inc.html -->
