<table class="critical" width="100%">
  <thead>
    <tr valign="center">
      <th width="55%" class="listHeadText" colspan="4"><div align="left">Critical {criticalCount}</div></td>
      <th width="10%" class="listHeadText" nowrap><div align="left">Priority</div></th>
      <th width="10%" class="listHeadText" nowrap><div align="left">Activity</div></th>
      <th width="10%" class="listHeadText" nowrap><div align="left">Hours</div></th>
      <th width="10%" class="listHeadText" nowrap><div align="left">Alarm</div></th>
      <th width="10%" class="listHeadText" nowrap><div align="left">Updated</div></th>
    </tr>
  </thead>
  <tbody>
  <!-- BEGIN criticalBlock -->
  <form name="userForm">
    <tr valign="center">
      <td width="5%" bgcolor="{cBgColor}"><A href={cUrlViewActivity} target="_blank"  title="Green = Being Worked On Now">{cProblemID}</A></td>
      <td width="10%" valign="center" class="content"><select name="userID" onchange="allocateUser( this.form )">{cEngineerDropDown}</select></td>
      <td  width="15%" class="{cCustomerNameDisplayClass}"><A href={cUrlCustomer} target="_blank">{cCustomerName}</a></td>
      <td   width="25%" class="content">
        <A
          href="javascript:"
          onClick= "window.open(
          '{cUrlProblemHistoryPopup}',
          'reason',
          'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0')">{cReason}
        </A>
      </td>
      <td width="10%"  class="content"><div align="center">{cPriority}</div></td>
      <td  width="10%" class="content"  title="Total Activity Hours Accrued">{cTotalActivityHours}</td>
      <td  width="10%"  bgcolor="{cWorkingHoursBgColor}" title="Green = Awaiting Customer Blue = CNC">{cWorkingHours}</td>
      <td  width="10%" nowrap="nowrap" bgcolor="{cAlarmBgColor}" title="Red = Overdue">{cAlarmDateTime}</td>
      <td  width="10%" nowrap="nowrap" bgcolor="{cUpdatedBgColor}" title="Purple = Updated by another user">{cDate} {cTime}</td>
    </tr>
  </form>
  <!-- END criticalBlock -->
  </tbody>
</table>
<br/>