<!-- Template: CurrentActivityReport.inc.html -->
<META HTTP-EQUIV=REFRESH CONTENT=240>
<script type='text/JavaScript' src='/.javascript/ajax.js'></script>
<script language='JavaScript' src='jquery/jquery.min.js'></script>
<a href="Activity.php?action=activityCreate1">Log New Request</a>
<br/>

<table width="100%"> 
  <tr>
    <!-- BEGIN userSrCountBlock -->
    <td>{openSrInitials}:{openSrCount}</td>
    <!-- END userSrCountBlock -->
  </tr>
</table>

<table id="toBeLogged" width="100%"> 
  <thead>
    <tr valign="top">
      <th class="listHeadText" colspan="4"><div align="left">To Be Logged ({cpCount})</div></th>
      <th class="listHeadText"  width="5" nowrap>SR</th>
      <th class="listHeadText"  width="5" nowrap><div>Priority</div></th>
    </tr>
  </thead>
  <tbody>
    <!-- BEGIN customerRequestsBlock -->
    <form name="userForm">
      <tr valign="center">
        <td bgcolor="{cpBgColor}"><input type="button" name="delete" title="Delete" value="D" onClick="if(confirm('Are you sure you want to remove this request?')) document.location='{urlDeleteCustomerRequest}'">{cpNewButton}</td>
        <td bgcolor="{cpBgColor}"><A href={cpUrlCustomer} target="_blank">{cpCustomerName}</a></td>
        <td bgcolor="{cpBgColor}">
          <A
            href="#"
            onClick= "window.open(
            '{urlDetailsPopup}',
            'customer_problem',
            'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0'); return false">{cpTruncatedReason}
          </A>
        </td>
        <td bgcolor="{cpBgColor}" nowrap="nowrap" >{cpDate} {cpTime}</td>
        <td bgcolor="{cpBgColor}" ><A href={cpUrlServiceRequest} target="_blank">{cpServiceRequestID}</a></td>
        <td bgcolor="{cpBgColor}" ><div align="center">{cpPriority}</div></td>
      </tr>
    </form>
    <!-- END customerRequestsBlock -->
  </tbody>
</table>
<BR/>
<form name="filterForm" method="post" action="{urlSetFilter}" >
<table class="table-bordered" width="100%">
  <thead>
    <tr valign="center">
      <th width="30%" class="listHeadText" >
        Customer:
        <select
            onchange="document.filterForm.submit()"
            name="selectedCustomerID"
            >
            <option value="">All customers</option>
            <!-- BEGIN customerFilterBlock -->
            <option {filterCustomerIDSelected} value="{filterCustomerID}">{filterCustomerName}</option>
            <!-- END customerFilterBlock -->
        </select>
      </th>

      <th width="10%" class="listHeadText" nowrap>
        Priority:
        <input type="checkbox" id="selectall"/><label for="selectall">All</label>
        <!-- BEGIN priorityFilterBlock -->
          <input type="checkbox" class="priorityFilterCheckbox" name="priorityFilter[]" id="priorityFilter{priority}" value="{priority}" {priorityChecked}><label for="priorityFilter{priority}" title="{priority}">{priority}</label>
        <!-- END priorityFilterBlock -->
        <input type="submit" name="applyFilter" value="Apply" >      
        <input type="button" name="clearFilter" value="Reset" onclick="document.location='/CurrentActivityReport.php?action=resetFilter'">      
      </th>

      
      <th width="60%" class="listHeadText" nowrap>
        Engineer:
        <select
          onchange="document.filterForm.submit()"
          name="selectedUserID"
          >
          <option value="">All engineers</option>
          <!-- BEGIN userFilterBlock -->
          <option {filterUserSelected} value="{filterUserID}">{filterUserName}</option>
          <!-- END userFilterBlock -->
        </select>
      </th>
    </tr>
  </thead>
</table>
</form>
<BR/>
<table id="queue1" class="table-bordered" width="100%">
  <thead>
    <tr valign="center">
      <th class="listHeadText" colspan="5" width="34%"><div align="left">{queue1Name} ({queue1Count})</div></th>
      <th class="listHeadText"><div align="left">Priority</div></th>
      <th class="listHeadText">&nbsp;</th>
      <th class="listHeadText"><div align="left">Hours</div></th>
      <th class="listHeadText"><div align="left">Description</div></th>
      <th class="listHeadText"><div align="left">Assigned To</div></th>
      <th class="listHeadText"><div align="left">Updated</div></th>
    </tr>
  </thead>
  <tbody>
  <!-- BEGIN queue1Block -->
  <form name="userForm">
    <tr valign="center">

      <td width="3%" bgColor="{workBgColor}">
        <INPUT
          type="button"
          value="Work"
          title="Log activity against this SR"
          onClick="{workOnClick}"
        >
      </td>

      <td width="3%" class="content">{escalateButton}</td>

      <td width="3%" class="content">{deEscalateButton}</td>

      <td width="7%" bgcolor="{bgColour}"><A href="{urlViewActivity}" target="_blank">{problemID}</A></td>

      <td  width="20%" class="{customerNameDisplayClass}"><A href={urlCustomer} target="_blank">{customerName}</a></td>

      <td width="12%" bgcolor="{priorityBgColor}"><div align="center">{priority}</div></td>

      <td class="content">{linkAllocateAdditionalTime}</td>

      <td width="5%"  bgcolor="{hoursRemainingBgColor}" title="Green = Awaiting Customer Blue = CNC Yellow = Not Started"><div align="center">{hoursRemaining}</div></td>

      <td   width="37%" class="content">
        <A
          href="#"
          onClick= "window.open(
          '{urlProblemHistoryPopup}',
          'reason',
          'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0'); return false">{reason}
        </A>
      </td>

      <td width="10%" valign="center" class="content">
        <select name="userID" onchange="javascript:allocateUser( this.form )">{engineerDropDown}</select>
      </td>
      
      <td  width="10%" nowrap="nowrap" bgcolor="{updatedBgColor}" title="Purple = Updated by another user OR has an alarm date in past">{date} {time}</td>      

    </tr>
  </form>
  <!-- END queue1Block -->
  </tbody>
</table>

<table id="queue2" class="table-bordered" width="100%">
  <thead>
    <tr valign="center">
      <th class="listHeadText" colspan="5"><div align="left">{queue2Name} ({queue2Count})</div></th>
      <th class="listHeadText"><div align="left">Priority</div></th>
      <th class="listHeadText">&nbsp;</th>
      <th class="listHeadText"><div align="left">Hours</div></th>
      <th class="listHeadText"><div align="left">Description</div></th>
      <th class="listHeadText"><div align="left">Assigned To</div></th>
      <th class="listHeadText"><div align="left">Updated</div></th>
    </tr>
  </thead>
  <tbody>
  <!-- BEGIN queue2Block -->
  <form name="userForm">
    <tr valign="center">
      <td width="3%" bgColor="{workBgColor}">
        <INPUT
          type="button"
          value="Work"
          title="Log activity against this SR"
          onClick="{workOnClick}"
        >
      </td>

      <td width="3%"  class="content">{escalateButton}</td>
      <td width="3%"  class="content">{deEscalateButton}</td>
      <td width="7%" bgcolor="{bgColour}"><A href="{urlViewActivity}" target="_blank">{problemID}</A></td>


      <td  width="20%" class="{customerNameDisplayClass}"><A href={urlCustomer} target="_blank">{customerName}</a></td>

      <td width="12%" bgcolor="{priorityBgColor}"><div align="center">{priority}</div></td>

      <td class="content">{linkAllocateAdditionalTime}</td>


      <td width="5%"  bgcolor="{hoursRemainingBgColor}" title="Green = Awaiting Customer Blue = CNC Yellow = Not Started"><div align="center">{hoursRemaining}</div></td>

      <td   width="37%" class="content">
        <A
          href="#"
          onClick= "window.open(
          '{urlProblemHistoryPopup}',
          'reason',
          'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0'); return false">{reason}
        </A>
      </td>

      <td width="10%" valign="center" class="content">
        <select name="userID" onchange="javascript:allocateUser( this.form )">{engineerDropDown}</select>
      </td>

      <td  width="10%" nowrap="nowrap" bgcolor="{updatedBgColor}" title="Purple = Updated by another user">{date} {time}</td>      

    </tr>
  </form>
  <!-- END queue2Block -->
  </tbody>
</table>

<table id="queue3" class="table-bordered" width="100%">
  <thead>
    <tr valign="center">
      <th class="listHeadText" colspan="5"><div align="left">{queue3Name} ({queue3Count})</div></th>
      <th class="listHeadText"><div align="left">Priority</div></th>
      <th class="listHeadText">&nbsp;</th>
      <th class="listHeadText"><div align="left">Hours</div></th>
      <th class="listHeadText"><div align="left">Description</div></th>
      <th class="listHeadText"><div align="left">Assigned To</div></th>
      <th class="listHeadText"><div align="left">Updated</div></th>
    </tr>
  </thead>
  <tbody>
  <!-- BEGIN queue3Block -->
  <form name="userForm">
    <tr valign="center">
      <td width="3%" bgColor="{workBgColor}">
        <INPUT
          type="button"
          value="Work"
          title="Log activity against this SR"
          onClick="{workOnClick}"
        >
      </td>

      <td width="3%"  class="content">{escalateButton}</td>
      <td width="3%"  class="content">{deEscalateButton}</td>
      <td width="7%" bgcolor="{bgColour}"><A href="{urlViewActivity}" target="_blank">{problemID}</A></td>


      <td  width="20%" class="{customerNameDisplayClass}"><A href={urlCustomer} target="_blank">{customerName}</a></td>

      <td width="12%" bgcolor="{priorityBgColor}"><div align="center">{priority}</div></td>

      <td class="content">{linkAllocateAdditionalTime}</td>


      <td width="5%"  bgcolor="{hoursRemainingBgColor}" title="Green = Awaiting Customer Blue = CNC Yellow = Not Started"><div align="center">{hoursRemaining}</div></td>

      <td   width="37%" class="content">
        <A
          href="#"
          onClick= "window.open(
          '{urlProblemHistoryPopup}',
          'reason',
          'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0'); return false">{reason}
        </A>
      </td>

      <td width="10%" valign="center" class="content">
        <select name="userID" onchange="javascript:allocateUser( this.form )">{engineerDropDown}</select>
      </td>

      <td  width="10%" nowrap="nowrap" bgcolor="{updatedBgColor}" title="Purple = Updated by another user">{date} {time}</td>      

    </tr>
  </form>
  <!-- END queue3Block -->
  </tbody>
</table>

<table id="queue4" class="table-bordered" width="100%">
  <thead>
    <tr valign="center">
      <th class="listHeadText" colspan="5"><div align="left">{queue4Name} ({queue4Count})</div></th>
      <th class="listHeadText"><div align="left">Priority</div></th>
      <th class="listHeadText">&nbsp;</th>
      <th class="listHeadText"><div align="left">Hours</div></th>
      <th class="listHeadText"><div align="left">Description</div></th>
      <th class="listHeadText"><div align="left">Assigned To</div></th>
      <th class="listHeadText"><div align="left">Updated</div></th>
    </tr>
  </thead>
  <tbody>
  <!-- BEGIN queue4Block -->
  <form name="userForm">
    <tr valign="center">
      <td width="3%" bgColor="{workBgColor}">
        <INPUT
          type="button"
          value="Work"
          title="Log activity against this SR"
          onClick="{workOnClick}"
        >
      </td>

      <td width="3%"  class="content">{escalateButton}</td>
      <td width="3%"  class="content">{deEscalateButton}</td>
      <td width="7%" bgcolor="{bgColour}"><A href="{urlViewActivity}" target="_blank">{problemID}</A></td>


      <td  width="20%" class="{customerNameDisplayClass}"><A href={urlCustomer} target="_blank">{customerName}</a></td>

      <td width="12%" bgcolor="{priorityBgColor}"><div align="center">{priority}</div></td>

      <td class="content">{linkAllocateAdditionalTime}</td>


      <td width="5%"  bgcolor="{hoursRemainingBgColor}" title="Green = Awaiting Customer Blue = CNC Yellow = Not Started"><div align="center">{hoursRemaining}</div></td>

      <td   width="37%" class="content">
        <A
          href="#"
          onClick= "window.open(
          '{urlProblemHistoryPopup}',
          'reason',
          'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0'); return false">{reason}
        </A>
      </td>

      <td width="10%" valign="center" class="content">
        <select name="userID" onchange="javascript:allocateUser( this.form )">{engineerDropDown}</select>
      </td>

      <td  width="10%" nowrap="nowrap" bgcolor="{updatedBgColor}" title="Purple = Updated by another user">{date} {time}</td>      

    </tr>
  </form>
  <!-- END queue4Block -->
  </tbody>
</table>


<table id="queue7" class="table-bordered" width="100%">
  <thead>
    <tr valign="center">
      <th class="listHeadText" colspan="4"><div align="left">Future ({queue7Count})</div></th>
      <th class="listHeadText"><div align="left">Priority</div></th>
      <th class="listHeadText"><div align="left">&nbsp;</div></th>
      <th class="listHeadText"><div align="left">Hours</div></th>
      <th class="listHeadText"><div align="left">Description</div></th>
      <th class="listHeadText"><div align="left">Assigned To</div></th>
      <th class="listHeadText"><div align="left">Updated</div></th>
    </tr>
  </thead>
  <tbody>
  <!-- BEGIN queue7Block -->
  <form name="userForm">
    <tr valign="center">
      <td width="3%" bgColor="{workBgColor}">
        <INPUT
          type="button"
          value="Work"
          title="Log activity against this SR"
          onClick="{workOnClick}"
        >
      </td>

      <td width="3%"  class="content">{alarmDateTime}</td>
      <td width="7%" bgcolor="{bgColour}"><A href="{urlViewActivity}" target="_blank">{problemID}</A></td>


      <td  width="20%" class="{customerNameDisplayClass}"><A href={urlCustomer} target="_blank">{customerName}</a></td>

      <td width="12%" bgcolor="{priorityBgColor}"><div align="center">{priority}</div></td>

      <td class="content">{linkAllocateAdditionalTime}</td>

      <td width="5%"  bgcolor="{hoursRemainingBgColor}" title="Green = Awaiting Customer Blue = CNC Yellow = Not Started"><div align="center">{hoursRemaining}</div></td>

      <td   width="40%" class="content">
        <A
          href="#"
          onClick= "window.open(
          '{urlProblemHistoryPopup}',
          'reason',
          'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0'); return false">{reason}
        </A>
      </td>

      <td width="10%" valign="center" class="content">
        <select name="userID" onchange="javascript:allocateUser( this.form )">{engineerDropDown}</select>
      </td>

      <td  width="10%" nowrap="nowrap" bgcolor="{updatedBgColor}" title="Purple = Updated by another user">{date} {time}</td>      

    </tr>
  </form>
  <!-- END queue7Block -->
  </tbody>
</table>

<table id="queue5" class="table-bordered" width="100%">
  <thead>
    <tr valign="center">
      <th class="listHeadText" colspan="5"><div align="left">{queue5Name} ({queue5Count})</div></th>
      <th class="listHeadText"><div align="left">Priority</div></th>
      <th class="listHeadText"><div align="left">Hours</div></th>
      <th class="listHeadText"><div align="left">Description</div></th>
      <th class="listHeadText"><div align="left">Assigned To</div></th>
      <th class="listHeadText"><div align="left">Updated</div></th>
    </tr>
  </thead>
  <tbody>
  <!-- BEGIN queue5Block -->
  <form name="userForm">
    <tr valign="center">
      <td width="3%" bgColor="{workBgColor}">
        <INPUT
          type="button"
          value="Work"
          title="Log activity against this SR"
          onClick="{workOnClick}"
        >
      </td>

      <td width="3%"  class="content">{escalateButton}</td>
      <td width="3%"  class="content">{deEscalateButton}</td>
      <td width="7%" bgcolor="{bgColour}"><A href="{urlViewActivity}" target="_blank">{problemID}</A></td>


      <td  width="20%" class="{customerNameDisplayClass}"><A href={urlCustomer} target="_blank">{customerName}</a></td>

      <td width="12%" bgcolor="{priorityBgColor}"><div align="center">{priority}</div></td>

      <td width="5%"  bgcolor="{hoursRemainingBgColor}" title="Green = Awaiting Customer Blue = CNC Yellow = Not Started" ><div align="center">{hoursRemaining}</div></td>

      <td   width="37%" class="content">
        <A
          href="#"
          onClick= "window.open(
          '{urlProblemHistoryPopup}',
          'reason',
          'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0'); return false">{reason}
        </A>
      </td>

      <td width="10%" valign="center" class="content">
        <select name="userID" onchange="javascript:allocateUser( this.form )">{engineerDropDown}</select>
      </td>

      <td  width="10%" nowrap="nowrap" bgcolor="{updatedBgColor}" title="Purple = Updated by another user">{date} {time}</td>      

    </tr>
  </form>
  <!-- END queue5Block -->
  </tbody>
</table>

<table id="queue6" class="table-bordered" width="100%">
  <thead>
    <tr valign="center">
      <th class="listHeadText" colspan="4"><div align="left">Fixed Pending Closure ({queue6Count})</div></th>
      <th class="listHeadText"><div align="left">Priority</div></th>
      <th class="listHeadText"><div align="left">Description</div></th>
    </tr>
  </thead>
  <tbody>
  <!-- BEGIN queue6Block -->
  <form name="userForm">
    <tr valign="center">

      <td width="3%" class="content">&nbsp;</td>
      <td width="3%" class="content">&nbsp;</td>
      <td width="7%" bgcolor="{bgColour}"><A href="{urlViewActivity}" target="_blank">{problemID}</A></td>


      <td  width="20%" class="{customerNameDisplayClass}"><A href={urlCustomer} target="_blank">{customerName}</a></td>

      <td width="12%" bgcolor="{priorityBgColor}"><div align="center">{priority}</div></td>

      <td   width="40%" class="content">
        <A
          href="#"
          onClick= "window.open(
          '{urlProblemHistoryPopup}',
          'reason',
          'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0'); return false">{reason}
        </A>
      </td>

    </tr>
  </form>
  <!-- END queue6Block -->
  </tbody>
</table>


<script>
$(document).ready(function() {

    $("#selectall").change(function(){
      $(".priorityFilterCheckbox").prop('checked', $(this).prop("checked"));
    });
  
    if ( {displayToBeLoggedFlag} == 0 ){
      $('table#toBeLogged') .children('tbody') . toggle();
    }

    if ( {displayQueue1Flag} == 0 ){
      $('table#queue1') .children('tbody') . toggle();
    }
  
    if ( {displayQueue2Flag} == 0 ){
      $('table#queue2') .children('tbody') . toggle();
    }

    if ( {displayQueue3Flag} == 0 ){
      $('table#queue3') .children('tbody') . toggle();
    }
  
    if ( {displayQueue4Flag} == 0 ){
      $('table#queue4') .children('tbody') . toggle();
    }
  
    if ( {displayQueue5Flag} == 0 ){
      $('table#queue5') .children('tbody') . toggle();
    }

    if ( {displayQueue7Flag} == 0 ){
      $('table#queue7') .children('tbody') . toggle();
    }
});

$('table#toBeLogged th') .click(
  function() {
    $(this) .parents('table#toBeLogged') .children('tbody') .toggle();
    loadXMLDoc( "CurrentActivityReport.php?action=toggleDisplayToBeLoggedFlag" );
  }
);

$('table#queue1 th') .click(
  function() {
    $(this) .parents('table#queue1') .children('tbody') .toggle();
    loadXMLDoc( "CurrentActivityReport.php?action=toggleDisplayQueue1Flag" );
  }
);
$('table#queue2 th') .click(
  function() {
    $(this) .parents('table#queue2') .children('tbody') .toggle();
    loadXMLDoc( "CurrentActivityReport.php?action=toggleDisplayQueue2Flag" );
  }
);
$('table#queue3 th') .click(
  function() {
    $(this) .parents('table#queue3') .children('tbody') .toggle();
    loadXMLDoc( "CurrentActivityReport.php?action=toggleDisplayQueue3Flag" );
  }
);
$('table#queue4 th') .click(
  function() {
    $(this) .parents('table#queue4') .children('tbody') .toggle();
    loadXMLDoc( "CurrentActivityReport.php?action=toggleDisplayQueue4Flag" );
  }
);
$('table#queue5 th') .click(
  function() {
    $(this) .parents('table#queue5') .children('tbody') .toggle();
    loadXMLDoc( "CurrentActivityReport.php?action=toggleDisplayQueue5Flag" );
  }
);
$('table#queue7 th') .click(
  function() {
    $(this) .parents('table#queue7') .children('tbody') .toggle();
    loadXMLDoc( "CurrentActivityReport.php?action=toggleDisplayQueue7Flag" );
  }
);

</script>
<!-- End Template: CurrentActivityReport.inc.html -->
