<!-- Template: CustomerReviewMeeting.inc.html -->
<script language='JavaScript' src="CommonJS.js"></script>

<script type="text/javascript" src="ckeditor/ckeditor.js"></script>

<script language='JavaScript' src='popcalendar/popcalendar.js'></script>

<script language='JavaScript'>
    $(function () {
        window.meetingDate = $('#meetingDate').get(0);
    });
    var state = 'none'; // display status
    var savedCustomerString

    function saveCustomerString() {
        savedCustomerString = document.getElementById("customerString").value
    }

    function validateCustomerString() {
        if (Trim(document.getElementById("customerString").value) != "") {
            if (document.getElementById("customerString").value != savedCustomerString) {
                window.open('{urlCustomerPopup}&customerString=' +
                    escape(document.getElementById("customerString").value) +
                    '&parentIDField=customerID' +
                    '&parentDescField=customerString',
                    'customers', 'scrollbars=yes,resizable=no,width=300,height=300,copyhistory=no, menubar=0')
            }
        }
        else {
            document.searchForm.customerID.value = "";
        }
    }

    function submitOnReturn() {
        if (event.keyCode == 13) {
            document.searchForm.submit();
        }
    }

    function validateCustomerStringOnReturn() {
        if (event.keyCode == 13) {
            validateCustomerString();
        }
    }
</script>
<P class="formErrorMessage">{formError}</P>
<form name="searchForm" method="get" action="{urlSubmit}">
    <table width="500px" border="0" cellspacing="0" cellpadding="1">
        <tr>
            <td width="100" class="promptText">
                <div align="right">Customer</div>
            </td>
            <td>
                <input
                        type="hidden"
                        name="action"
                        value="search"
                >
                <input
                        type="hidden"
                        name="searchForm[1][customerID]"
                        id="customerID"
                        value="{customerID}"
                > <input
                    type="text"
                    id="customerString"
                    name="customerString"
                    value="{customerString}"
                    onFocus="javascript:saveCustomerString()"
                    onBlur="javascript:validateCustomerString()"
                    onKeypress="javascript:validateCustomerStringOnReturn()"
                    size="50"
                    maxlength="50"
            > <font class="formErrorMessage"> {customerIDMessage} </font></td>
        </tr>
        <tr>
            <td width="100" class="promptText">
                <div align="right">Start Year/Month</div>
            </td>
            <td>
                <input
                        type="text"
                        name="searchForm[1][startYearMonth]"
                        value="{startYearMonth}"
                        placeholder="YYYY-MM"
                        size="10"
                        maxlength="7"
                > <font class="formErrorMessage"> {startYearMonthMessage} </font></td>
        </tr>
        <tr>
            <td width="100" class="promptText">
                <div align="right">End Year/Month</div>
            </td>
            <td>
                <input
                        type="text"
                        name="searchForm[1][endYearMonth]"
                        value="{endYearMonth}"
                        placeholder="YYYY-MM"
                        size="10"
                        maxlength="7"
                > <font class="formErrorMessage"> {endYearMonthMessage} </font></td>
        </tr>
        <tr>
            <td width="100" class="promptText">
                <div align="right">Review Meeting Date</div>
            </td>
            <td>
                <input
                        type="text"
                        name="searchForm[1][meetingDate]"
                        value="{meetingDate}"
                        id="meetingDate"
                        placeholder="d/m/y"
                        size="10"
                        maxlength="10"
                ><a href="javascript:;" onclick="popUpCalendar(this, meetingDate, 'dd/mm/yyyy')"><img
                    src="images/calendar.gif" alt="Calendar" width="24" height="22" hspace="0" vspace="0" border="0"
                    align="absmiddle"/></a>
                <font class="formErrorMessage"> {meetingDateMessage} </font></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" name="Search" value="Generate" onClick="submit();">
        </tr>
    </table>
</form>

<form name="textForm" method="post" action="{urlGeneratePdf}">

    <input type="hidden" name="customerID" value="{customerID}">

    <input type="hidden" name="startYearMonth" value="{startYearMonth}">

    <input type="hidden" name="endYearMonth" value="{endYearMonth}">

    <input type="hidden" name="meetingDateYmd" value="{meetingDateYmd}">

    <textarea name="meetingText">{meetingText}</textarea>

    <script type="text/javascript">
        reason = CKEDITOR.replace('meetingText', {
                height: '800px',
                extraAllowedContent: true,
                allowedContent: true,
                script: true
            }
        );
    </script>
    <input type="submit" name="Search" value="Create Pdfs" onClick="submit();">
</form>

<!-- End Template: CustomerReviewMeeting.inc.html -->