<!-- Template: CustomerReviewMeeting.inc.html -->
<script language='JavaScript'
        src="CommonJS.js"
></script>
<style>
    .ul3 {
        margin: 0 auto;
        padding: 0;
        max-width: 800px;
        display: block
    }

    .ul3 li {
        width: 33%;
        list-style-type: none;
        display: inline-block;
    }
</style>
{data}
<script>
    const autocompleteURL = "/Customer.php?action=searchName";
    window.addEventListener('DOMContentLoaded', function () {
        CKEDITOR.replace('editableText', {
                contentsCss: '/screen.css',
                toolbarStartupExpanded: false,
                disableNativeSpellChecker: false,

                toolbar: 'CNCToolbar',

                toolbar_CNCToolbar:
                    [
                        ['Source', '-', '-', 'Bold', 'Italic', 'Underline', 'Strike', 'TextColor', 'BGColor'],
                        ['NumberedList', 'BulletedList'],
                        ['Table'],
                        ['Format', 'Font', 'FontSize'],
                        ['Anchor', 'Link'],
                        ['Undo', 'Redo']
                    ],
                extraPlugins: 'font',
                fontSize_sizes: '8/8pt;9/9pt;10/10pt;11/11pt;12/12pt;14/14pt;16/16pt;18/18pt;20/20pt;22/22pt;24/24pt;26/26pt;28/28pt;36/36pt;48/48pt;72/72pt',
                height: '800px',
                width: '890px',
                extraAllowedContent: true,
                allowedContent: true,
                script: true
            }
        );
        CKEDITOR.config.disableNativeSpellChecker = false;
        CKEDITOR.config.removePlugins = 'liststyle,tabletools,scayt,menubutton,contextmenu,language,tableselection';

        window.meetingDate = $('#meetingDate').get(0);
        $('#customerString')[0].addEventListener('autocompleteselect', function ($event) {
            $('#customerID').val($event.detail.item.value);
        });
        $('#create-pdf').click(function () {
            $(this).attr('disabled', true);
            //loop through sections looking for large tables
            updateTables();
            handleEditableText();
            var sections = 1;
            $('h2').each(function () {
                $(this).prepend(sections + '. ');
                sections++;
            })

            var height = 0;
            //1305 px is page height including margins
            $('.reportSection').not('.noNewPage').each(function () {
                if ((height + $(this).outerHeight()) > 1290) {
                    //if adding the next section would cause it to spill onto a new page add in a page break and reset the height count
                    $(this).addClass('newPage');
                    height = 0;
                }
                height += $(this).outerHeight();
                console.log(height)
            });

            var result = $('#reportContent').html();

            var data = {
                html: result,
                customerID: "{customerID}",
                startYearMonth: "{startYearMonth}",
                endYearMonth: "{endYearMonth}",
                meetingDateYmd: "{meetingDateYmd}"
            };

            $.ajax({
                url: '{urlGeneratePdf}',
                method: 'POST',
                type: 'post',
                dataType: 'json',
                data: data
            }).then(function (result) {
                if (result.status == 'error') {
                    alert(result.description);
                } else {
                    alert('PDF created successfully');
                }

            })
        })
    });
    var state = 'none'; // display status

    function submitOnReturn() {
        if (event.keyCode == 13) {
            document.searchForm.submit();
        }
    }

    var tableID = 1;

    function updateTables() {


        $('.reportSection table').each(function () {
            var rowCount = $('tbody tr', $(this)).length;

            if (this.id === 'servicesTable') {
                return;
            }

            const createdElements = [];

            if (rowCount > 50) {
                $(this).addClass('thirdTable').attr('id', 'table' + tableID);
                var firstCol = 'table' + tableID;
                createdElements.push(tableID);
                tableID++;
                $(this).clone().appendTo($(this).parent()).attr('id', 'table' + tableID);
                var secondCol = 'table' + tableID;
                createdElements.push(tableID);
                tableID++;
                $(this).clone().appendTo($(this).parent()).attr('id', 'table' + tableID);
                var thirdCol = 'table' + tableID;
                createdElements.push(tableID);
                tableID++;
                var rowsPerTable = Math.ceil(rowCount / 3);
                console.log('rows per table:' + rowsPerTable);
                $("tbody tr:gt(" + (rowsPerTable - 1) + ")", '#' + firstCol).remove();
                $("tbody tr:lt(" + rowsPerTable + ")", '#' + secondCol).remove();
                $("tbody tr:gt(" + (rowsPerTable - 1) + ")", '#' + secondCol).remove();
                $("tbody tr:lt(" + (rowsPerTable * 2) + ")", '#' + thirdCol).remove();
            } else if (rowCount > 20) {
                $(this).addClass('overflow').attr('id', 'table' + tableID);

                var leftCol = 'table' + tableID;
                createdElements.push(tableID);
                tableID++;
                $(this).clone().appendTo($(this).parent()).attr('id', 'table' + tableID);
                var rightCol = 'table' + tableID;
                createdElements.push(tableID);
                tableID++;

                var split = Math.floor(rowCount / 2);
                console.log('split: ' + split);
                $("tbody tr:gt(" + (split - 1) + ")", '#' + leftCol).remove();
                $("tbody tr:lt(" + split + ")", '#' + rightCol).remove();
            }
            // if we had to split the tables, make sure they are wrapped into a div with text-align center
            if (createdElements.length) {
                $(this).parent().find('table').wrapAll('<div style="text-align: center"></div>');
            }
        });
    }

    function handleEditableText() {
        var editableText = '<div class="ckeditorContent">' + CKEDITOR.instances['editableText'].getData() + "</div>";
        $('#reportContent').append(editableText);
        $('.ckeditorContent h2').each(function () {
            $(this).nextUntil('h2').addBack().wrapAll("<div class='reportSection'></div>")
        });
    }
</script>

<style>
    h2, h3 {
        text-align: left;
    }


    #reportContent {
        width: 810px;
        float: left;
        background: #FFF;
        padding: 30px 40px;
        text-align: center;
        font-size: 10pt;
    }

    #reportContent p {
        margin-bottom: inherit;
        margin-top: inherit;
        margin-block-start: 1em;
        margin-block-end: 1em;
    }

    #reportContent h2 {
        font-size: 16pt;
    }

    #reportContent h3 {
        font-size: 14pt;
    }

    #reportContent th, #reportContent td {
        border: 1px solid black;
        font-size: 1em;
        font-family: 'Open Sans', sans-serif;
        font-kerning: normal;
        letter-spacing: 0px;
    }

    #reportContent .diskSpaceReportSection .thirdTable td {
        font-size: 0.95em;
    }

    .pageBreak {
        page-break-after: always;
        border-bottom: 2px dotted #333;
        margin-bottom: 30px;
    }

    .requestCount {
        width: 450px;
        margin: 0 auto;
    }

    .collapse {
        padding: 0;
        width: 0;
    }

    .collapse li {
        list-style-type: none;
        display: block
    }

    .collapse li div:first-child {
        width: 90%;
        display: inline-block;
    }

    .collapse li div:nth-child(2) {
        width: 10%;
        display: inline-block;
    }

    .reportSection table {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        padding-right: 1%;
        padding-left: 1%;
    }

    .reportSection img {
        margin: 0 auto;
        display: inline-block
    }

    .overflow {
        width: 42%;
        display: inline-block;
        vertical-align: top;
    }


    .reportSection {
        width: 100%;
        padding-bottom: 30px;
    }
    .subSection {
        width: 100%;
        padding-bottom: 20px;
    }
    .reportSection.newPage {
        page-break-before: always;
    }

    .reportSection img {
        margin: 0 auto;
        display: inline-block;
        float: none
    }

    .reportSection td, .reportSection th {
        border: 1px solid #666;
        padding: 2px;
    }

    #create-pdf {
        margin-top: 30px;
        line-height: 28px;
        height: 35px;
        width: 150px;
        background: #0d2c52;
        color: #FFF;
        border-radius: 6px;
        border: none;
        font-size: 15px;
    }

    table, tr, td, th, tbody, thead, tfoot {
        page-break-inside: avoid !important;
    }

    .thirdTable {
        width: 30%;
        display: inline-block;
        vertical-align: top;
    }

    .thirdTable td {
        white-space: pre-wrap;
    }
</style>
<script>
    function getCustomerStats(){
        const customerID=document.getElementById("customerID").value;
        console.log('customerID',customerID);
        // fetch(`/internal-api/customerStats/`+customerID).then((res) => res.json()).then(res=>{
        //     console.log(res);
        // })
    }
</script>

<P class="formErrorMessage">{formError}</P>
<form name="searchForm"
      method="get"
      action="{urlSubmit}"
>
    <table width="500px"
           border="0"
           cellspacing="0"
           cellpadding="1"
    >
        <tr>
            <td width="100"
                class="promptText"
            >
                <div align="right">Customer</div>
            </td>
            <td>
                <input
                        type="hidden"
                        name="action"
                        value="search"
                >
                <input
                        type="hidden"
                        name="searchForm[1][customerID]"
                        id="customerID"
                        value="{customerID}"
                > <input
                    type="text"
                    id="customerString"
                    name="customerString"
                    value="{customerString}"
                    size="50"
                    maxlength="50"
                    customer-search
                    required
            > <font class="formErrorMessage"> {customerIDMessage} </font></td>
        </tr>
        <tr>
            <td width="100"
                class="promptText"
            >
                <div align="right">Start Month/Year</div>
            </td>
            <td>
                <input
                        type="text"
                        name="searchForm[1][startYearMonth]"
                        value="{startYearMonth}"
                        placeholder="MM/YYYY"
                        size="10"
                        maxlength="7"
                        required
                > <font class="formErrorMessage"> {startYearMonthMessage} </font></td>
        </tr>
        <tr>
            <td width="100"
                class="promptText"
            >
                <div align="right">End Month/Year</div>
            </td>
            <td>
                <input
                        type="text"
                        name="searchForm[1][endYearMonth]"
                        value="{endYearMonth}"
                        placeholder="MM/YYYY"
                        size="10"
                        maxlength="7"
                        required
                > <font class="formErrorMessage"> {endYearMonthMessage} </font></td>
        </tr>
        <tr>
            <td width="100"
                class="promptText"
            >
                <div align="right">Review Meeting Date</div>
            </td>
            <td>
                <input type="date"
                       name="searchForm[1][meetingDate]"
                       value="{meetingDate}"
                       id="meetingDate"
                       placeholder="d/m/y"
                       size="10"
                       maxlength="10"
                       autocomplete="off"
                       required
                >
                <font class="formErrorMessage"> {meetingDateMessage} </font></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit"
                       name="Search"
                       value="Generate"
                       onclick="getCustomerStats()"
                >
        </tr>
    </table>
</form>

<!-- A4 PAGE WITH MARGINS 890px WIDE BY 1305px HIGH -->
<div style="width: 920px; float: left">
    <div id="reportContent">{nonEditableText}</div>
    <textarea id="editableText"
              name="editableText"
    >{editableText}</textarea>
    <input type="button"
           name="create-pdf"
           id="create-pdf"
           value="Create PDF"
    >
</div>


<!-- End Template: CustomerReviewMeeting.inc.html -->