<!-- Template: CustomerProfitabilityMonthsReport.inc.html -->
<script>
    var state = 'none'; // display status
    const autocompleteURL = "/Customer.php?action=searchName";
    window.addEventListener('DOMContentLoaded', function () {
        $('#customerString')[0].addEventListener('autocompleteselect', function ($event) {
            $('#customerID').val($event.detail.item.value);
        });
    });

    function submitOnReturn() {
        if (event.keyCode == 13) {
            document.searchForm.submit();
        }
    }

</script>
<P class="formErrorMessage">{formError}</P>
<form name="searchForm"
      method="get"
      action="{urlSubmit}"
>
    <table width="500px"
           border="0"
           cellspacing="0"
           cellpadding="1"
    >
        <tr>
            <td width="100"
                class="promptText"
            >
                <div align="right">Customer</div>
            </td>
            <td>
                <input
                        type="hidden"
                        name="action"
                        value="search"
                >
                <input
                        type="hidden"
                        name="searchForm[1][customerID]"
                        id="customerID"
                        value="{customerID}"
                >
                <input type="text"
                       id="customerString"
                       name="customerString"
                       value="{customerString}"
                       size="50"
                       maxlength="50"
                       customer-search
                > <font class="formErrorMessage"> {customerIDMessage} </font></td>
        </tr>
        <tr>
            <td width="100"
                class="promptText"
            >
                <div align="right">Start Month/Year</div>
            </td>
            <td>
                <input
                        type="text"
                        name="searchForm[1][startYearMonth]"
                        value="{startYearMonth}"
                        placeholder="MM/YYYY"
                        size="10"
                        maxlength="7"
                > <font class="formErrorMessage"> {startYearMonthMessage} </font></td>
        </tr>
        <tr>
            <td width="100"
                class="promptText"
            >
                <div align="right">End Month/Year</div>
            </td>
            <td>
                <input
                        type="text"
                        name="searchForm[1][endYearMonth]"
                        value="{endYearMonth}"
                        placeholder="MM/YYYY"
                        size="10"
                        maxlength="7"
                > <font class="formErrorMessage"> {endYearMonthMessage} </font></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit"
                       name="Search"
                       value="Screen"
                >
                <input type="submit"
                       name="Search"
                       value="CSV"
                >
        </tr>
    </table>
</form>
<table>
    <tr>
        <th>Period</th>
        <th>Profit (&pound;)</th>
    </tr>
    <!-- BEGIN periodBlock -->
    <tr>
        <td align="left">{period}</td>
        <td align="right">{profit}</td>
    </tr>
    <!-- END periodBlock -->
</table>


<!-- End Template: CustomerProfitabilityMonthsReport.inc.html -->