<div class="orders">
    <h3>Orders</h3>
    <table class="singleBorder"
           width="500"
           border="0"
           cellspacing="1"
           cellpadding="1"
    >
        <tr>
            <td width="50"
                class="listHeadText"
            >Order No
            </td>
            <td width="100"
                class="listHeadText"
            >Type
            </td>
            <td width="50"
                class="listHeadText"
            >Date
            </td>
            <td width="250"
                class="listHeadText"
            >Cust PO Ref
            </td>
            <td width="50"
                class="listHeadText"
            >Contract
            </td>
        </tr>
        <!-- BEGIN orderBlock -->
        <tr>
            <td class="listItemText">
                <a href="{orderURL}"
                   target="_blank"
                >{ordheadID}</a>
            </td>
            <td class="listItemText">{orderType}</td>
            <td class="listItemText">{orderDate}</td>
            <td class="listItemText">{custPORef}</td>
            <td class="listItemText">
                <a href="{listContractURL}">{contract}</a>
            </td>
        </tr>
        <!-- END orderBlock -->
    </table>
</div>