<H2>Daily Call List</H2>
<!-- Template: CustomerReviewList.inc.html -->
<table class="singleBorder" width="878" border="0" cellspacing="1" cellpadding="1">
  <tr>
    <td width="125" class="listHeadText"><a href="{reportURL}?sortColumn=cus_name">Customer</a></td>
    <td width="117" class="listHeadText"><a href="{reportURL}?sortColumn=reviewDate">Date</a></td>
    <td width="99" class="listHeadText">Time</td>
    <td width="292" class="listHeadText"><a href="{reportURL}?sortColumn=reviewAction">Action</a></td>
    <td width="229" class="listHeadText"><a href="{reportURL}?sortColumn=reviewUserID">User</a></td>
  </tr>
  <!-- BEGIN reviewBlock -->
	<tr valign="top" onMouseOver="this.bgColor='#FFFFCC';" onMouseOut="this.bgColor='';">
    <td nowrap="nowrap" class="listItemText"><a href="{linkURL}" target="_blank">{customerName}</a></td>
    <td nowrap="nowrap" class="listItemText">{reviewDate}</td>
    <td nowrap="nowrap" class="listItemText">{reviewTime}</td>
    <td nowrap="nowrap" class="listItemText">{reviewAction}</td>
    <td nowrap="nowrap" class="listItemText">{reviewUser}</td>
  </tr>
  <!-- END reviewBlock -->
</table>