<script>
    window.addEventListener('DOMContentLoaded', function () {
        var config = {
            modules: 'security',
            inlineErrorMessageCallback: function (error, element) {

            },
            scrollToTopOnError: false
        };
        $.validate(config);

        $.formUtils.addValidator({
            name: 'emailOrEmpty',
            validatorFunction: function (email) {

                if (email === '') {
                    return true;
                }

                var emailParts = email.toLowerCase().split('@'),
                    localPart = emailParts[0],
                    domain = emailParts[1];

                if (localPart && domain) {

                    if (localPart.indexOf('"') === 0) {
                        var len = localPart.length;
                        localPart = localPart.replace(/\"/g, '');
                        if (localPart.length !== (len - 2)) {
                            return false; // It was not allowed to have more than two apostrophes
                        }
                    }

                    return $.formUtils.validators.validate_domain.validatorFunction(emailParts[1]) &&
                        localPart.indexOf('.') !== 0 &&
                        localPart.substring(localPart.length - 1, localPart.length) !== '.' &&
                        localPart.indexOf('..') === -1 &&
                        !(/[^\w\+\.\-\#\-\_\~\!\$\&\'\(\)\*\+\,\;\=\:]/.test(localPart));
                }

                return false;
            },
            errorMessage: '',
            errorMessageKey: 'badEmail'
        });

        $.formUtils.addValidator({
            name: 'atLeastOne',
            validatorFunction: function (value, $el, config, language, $form) {
                var test = $('[data-type="' + $el.data().type + '"]');
                var isValid = false;

                test.each(function () {
                    var elm = $(this);
                    var isMe = elm.get(0) === $el.get(0);

                    if (elm.prop('checked')) {
                        isValid = true;
                    }

                    if (!$el.data().toBeValidated && !isMe) {
                        elm.data("toBeValidated", true);
                        elm.validate();
                    }
                });
                $el.data("toBeValidated", false);

                return isValid;
            },
            errorMessage: '',
            errorMessageKey: 'atLeastOne'
        });

        $.formUtils.addValidator({
            name: 'atLeastOneAtMostOne',
            validatorFunction: function (value, $el, config, language, $form) {
                var test = $('[data-type="' + $el.data().type + '"]');

                var checkedCount = 0;

                test.each(function () {
                    var elm = $(this);
                    var isMe = elm.get(0) === $el.get(0);

                    if (elm.prop('checked')) {
                        checkedCount++;
                    }

                    if (!$el.data().toBeValidated && !isMe) {
                        elm.data("toBeValidated", true);
                        elm.validate();
                    }
                });
                $el.data("toBeValidated", false);
                return checkedCount === 1;
            },
            errorMessage: '',
            errorMessageKey: 'atLeastOne'
        });

        $.formUtils.addValidator({
            name: 'atLeastOneMain',
            validatorFunction: function (value, $el, config, language, $form) {
                var test = $('[data-type="' + $el.data().type + '"]');

                var checkedCount = 0;

                test.each(function () {
                    var elm = $(this);
                    var isMe = elm.get(0) === $el.get(0);

                    if (elm.val() === 'main') {
                        checkedCount++;
                    }

                    if (!$el.data().toBeValidated && !isMe) {
                        elm.data("toBeValidated", true);
                        elm.validate();
                    }
                });
                $el.data("toBeValidated", false);
                return checkedCount > 0;
            }
        });
    })

</script>
<style>
    .redText td input, .redText td textarea, .redText td select, .redText td button {
        color: red !important;
    }
</style>
<h3 style="clear: both;">Contacts</h3>
<div class="contacts"
     id="contactsTable"
>
    <table class="content"
           border="0"
           cellpadding="2"
           cellspacing="1"
           width="100%"
    >
        <thead>
        <tr>
            <td class="headerLightgrey">&nbsp;</td>
            <td class="headerLightgrey">&nbsp;</td>
            <td class="headerLightgrey">Site</td>
            <td class="headerLightgrey">Title</td>
            <td class="headerLightgrey">First</td>
            <td class="headerLightgrey">Last</td>
            <td class="headerLightgrey">Position</td>
            <td class="headerLightgrey">Phone</td>
            <td class="headerLightgrey">Mobile</td>
            <td class="headerLightgrey">Email</td>
            <td class="headerLightgrey">Password</td>
            <td class="headerLightgrey">Failed Logins</td>
            <td class="headerLightgrey">Letters</td>
            <td class="headerLightgrey">Notes</td>
            <td class="headerLightgrey">Work Started?</td>
            <td class="headerLightgrey">Auto-close?</td>
            <td class="headerLightgrey">Others</td>
            <td class="headerLightgrey">Others Work</td>
            <td class="headerLightgrey">Others Close</td>
            <td class="headerLightgrey">Accounts</td>
            <td class="headerLightgrey">{mailshot2FlagDesc}</td>
            <td class="headerLightgrey">{mailshot3FlagDesc}</td>
            <td class="headerLightgrey">{mailshot4FlagDesc}</td>
            <td class="headerLightgrey">Support Level</td>
            <td class="headerLightgrey">HR</td>
            <td class="headerLightgrey">Review</td>
            <td class="headerLightgrey">{mailshot8FlagDesc}</td>
            <td class="headerLightgrey">{mailshot11FlagDesc}</td>
            <td class="headerLightgrey">{mailshot9FlagDesc}</td>
            <td class="headerLightgrey">Mailshot</td>
        </tr>
        </thead>
        <tbody>
        <!-- BEGIN contactBlock -->
        <input type="hidden"
               name="form[contact][{contactID}][contactID]"
               value="{contactID}"
        >
        <input type="hidden"
               name="form[contact][{contactID}][customerID]"
               value="{customerID}"
        >
        <input type="hidden"
               name="form[contact][{contactID}][supplierID]"
               value="{supplierID}"
        >
        <input type="hidden"
               name="form[contact][{contactID}][fax]"
               value="{fax}"
        >
        <input type="hidden"
               name="form[contact][{contactID}][discontinuedFlag]"
               value="{discontinuedFlag}"
        >
        <input
                type="hidden"
                name="form[contact][{contactID}][mobilePhone]"
                value="{mobilePhone}"
        >

        <tr>
            <td>
                <A href="javascript:"
                   onclick="javascript:contactPopup({contactID}, 'editContact', '{customerID}','{siteNo}' )"
                >edit</a>
            </td>
            <td>{deleteContactLink}</td>
            <td>
                <select
                        name="form[contact][{contactID}][siteNo]"
                        data-validation="required"
                >
                    <!-- BEGIN selectSiteBlock -->
                    <option {siteSelected}
                            value="{selectSiteNo}"
                    >{selectSiteDesc}
                    </option>
                    <!-- END selectSiteBlock -->
                </select>
            </td>
            <td class="{titleClass}">
                <input
                        {disabled}
                        name="form[contact][{contactID}][title]"
                        size="2"
                        maxlength="10"
                        value="{title}"
                        required
                        data-validation="required"
                >
            </td>
            <td class='{firstNameClass}'>
                <input
                        {disabled}
                        name="form[contact][{contactID}][firstName]"
                        size="10"
                        maxlength="50"
                        value="{firstName}"
                        required
                        data-validation="required"
                >
            </td>
            <td class='{lastNameClass}'>
                <input
                        {disabled}
                        name="form[contact][{contactID}][lastName]"
                        size="10"
                        maxlength="50"
                        value="{lastName}"
                        required
                        data-validation="required"
                >
            </td>
            <td>
                <input
                        name="form[contact][{contactID}][position]"
                        id="form[contact][{contactID}][position]"
                        value="{position}"
                        size="10"
                        maxlength="20"
                        {disabled}
                />
            </td>
            <td>
                <input
                        {disabled}
                        name="form[contact][{contactID}][phone]"
                        value="{phone}"
                        size="10"
                        maxlength="30"
                >
            </td>
            <td>
                <input
                        {disabled}
                        name="form[contact][{contactID}][mobilePhone]"
                        value="{mobilePhone}"
                        size="10"
                        maxlength="30"
                >
            </td>
            <td class='{emailClass}'>
                <input
                        {disabled}
                        type="email"
                        name="form[contact][{contactID}][email]"
                        value="{email}"
                        size="25"
                        maxlength="50"
                        data-validation="emailOrEmpty server"
                        data-validation-url="/validateUniqueEmail.php"
                >
            </td>
            <td>
                <input
                        {disabled}
                        name="form[contact][{contactID}][portalPassword]"
                        value="{portalPassword}"
                        size="4"
                        maxlength="10"
                >
            </td>
            <td>
                <input
                        {disabled}
                        name="form[contact][{contactID}][failedLoginCount]"
                        value="{failedLoginCount}"
                        size="2"
                        maxlength="5"
                >
            </td>
            <td nowrap="nowrap">
                <select {disabled}
                        name="letters_menu"
                        onchange="MM_jumpMenu('_blank',this,0)"
                >
                    <option>Send Letter</option>
                    <option value="{clientFormURL}">Appointment</option>
                    <!-- BEGIN customLetterBlock -->
                    <option value="{customLetterURL}">{customLetterName}</option>
                    <!-- END customLetterBlock -->
                </select>
            </td>
            <td><input
                    {disabled}
                    name="form[contact][{contactID}][notes]"
                    size="5"
                    maxlength="200"
                    value="{notes}"
            />
            </td>
            <td>
                <input {disabled}
                       type="checkbox"
                       name="form[contact][{contactID}][workStartedEmailFlag]"
                       value="Y"
                       {workStartedEmailFlagChecked}
                       class="checkboxAlign"
                >
            </td>
            <td>
                <input {disabled}
                       type="checkbox"
                       name="form[contact][{contactID}][autoCloseEmailFlag]"
                       value="Y"
                       {autoCloseEmailFlagChecked}
                >
            </td>
            <td>
                <input {disabled}
                       type="checkbox"
                       name="form[contact][{contactID}][othersEmailFlag]"
                       value="Y"
                       {othersEmailFlagChecked}
                       hidden
                       class="onlyMain"
                >
            </td>
            <td>
                <input {disabled}
                       type="checkbox"
                       name="form[contact][{contactID}][othersWorkStartedEmailFlag]"
                       value="Y"
                       {othersWorkStartedEmailFlagChecked}
                       hidden
                       class="onlyMain"
                >
            </td>
            <td>
                <input {disabled}
                       type="checkbox"
                       name="form[contact][{contactID}][othersAutoCloseEmailFlag]"
                       value="Y"
                       {othersAutoCloseEmailFlagChecked}
                       hidden
                       class="onlyMain"
                >
            </td>

            <td>
                <input {disabled}
                       type="checkbox"
                       name="form[contact][{contactID}][accountsFlag]"
                       value="Y"
                       {accountsFlagChecked}
                       data-validation="atLeastOne"
                       data-type="accounts"
                />
            </td>
            <td>
                <input {disabled}
                       type="checkbox"
                       name="form[contact][{contactID}][mailshot2Flag]"
                       value="Y"
                       {mailshot2FlagChecked}
                       data-validation="atLeastOne"
                       data-type="invoice"
                />
            </td>
            <td>
                <input {disabled}
                       type="checkbox"
                       name="form[contact][{contactID}][mailshot3Flag]"
                       value="Y"
                       {mailshot3FlagChecked}
                />
            </td>
            <td>
                <input {disabled}
                       type="checkbox"
                       name="form[contact][{contactID}][mailshot4Flag]"
                       value="Y"
                       {mailshot4FlagChecked}
                       class="stmCheckBox"
                       data-validation="atLeastOneAtMostOne"
                       data-type="statement"
                />
            </td>
            <td>
                <select
                        name="form[contact][{contactID}][supportLevel]"
                        data-validation="atLeastOneMain"
                        data-type="mainSelector"
                >
                    <!-- BEGIN supportLevelBlock -->
                    <option {supportLevelSelected}
                            value="{supportLevelValue}"
                    >
                        {supportLevelDescription}
                    </option>
                    <!-- END supportLevelBlock -->
                </select>
            </td>
            <td>
                <input {disabled}
                       type="checkbox"
                       name="form[contact][{contactID}][hrUser]"
                       value="Y"
                       {hrUserFlagChecked}
                />
            </td>

            <td>
                <input {disabled}
                       type="checkbox"
                       name="form[contact][{contactID}][reviewUser]"
                       value="Y"
                       {reviewUserFlagChecked}
                       data-validation="atLeastOne"
                       data-type="review"
                />
            </td>
            <td>
                <input {disabled}
                       type="checkbox"
                       name="form[contact][{contactID}][mailshot8Flag]"
                       value="Y"
                       {mailshot8FlagChecked}
                />
            </td>
            <td>
                <input {disabled}
                       type="checkbox"
                       name="form[contact][{contactID}][mailshot11Flag]"
                       value="Y"
                       {mailshot11FlagChecked}
                />
            </td>
            <td>
                <input {disabled}
                       type="checkbox"
                       name="form[contact][{contactID}][mailshot9Flag]"
                       value="Y"
                       {mailshot9FlagChecked}
                       data-validation="atLeastOne"
                       data-type="reports"
                />
            </td>
            <td>
                <input {disabled}
                       type="checkbox"
                       name="form[contact][{contactID}][sendMailshotFlag]"
                       value="Y"
                       {sendMailshotFlagChecked}
                />
            </td>
        </tr>

        <!-- END contactBlock -->
        </tbody>
    </table>
</div>