<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Possible duplicated contacts for customer {customerName}:

<table>
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
    </tr>
    </thead>
    <tbody>

    <!-- BEGIN contactBlock -->
    <tr>
        <td>{contactID}</td>
        <td>{contactFirstName}</td>
        <td>{contactLastName}</td>
    </tr>
    <!-- END contactBlock -->

    </tbody>

</table>

</body>
</html>