<table>
    <thead>
    <tr>
        <th width="6%">Service Request</th>
        <th width="42%"> Summary</th>
        <th width="42%">Outcome</th>
        <th width="10%">SLA</th>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN incidentsBlock -->
    <tr>
        <td style="white-space: normal"> {id}</td>
        <td style="white-space: normal">{summary}</td>
        <td style="white-space: normal">{outcome}</td>
        <td style="white-space: normal">{SLA}</td>
    </tr>
    <!-- END incidentsBlock -->
    </tbody>
</table>