<!-- Template: CustomerEdit.inc.html -->
<script src='.javascript/ajax.js'
></script>
<style>
    .what3WordsLinkHolder {
        vertical-align: middle;
    }

    .has-error table thead tr {
        background-color: red;
    }

    table.content tbody td {
        background-color: #F4f4f2;
        text-align: left;
        padding: 5px;
        vertical-align: top;
        white-space: nowrap;
    }

    table.content thead td {
        padding: 5px;
    }

    table.content tbody td.center {
        text-align: center;
    }

    .contactError input {
        border-color: red;
    }

    .lockedIcon::before {
        font-family: "FontAwesome", serif;
        content: '\f023';
        color: green;
    }

    .unlockedIcon::before {
        font-family: "FontAwesome", serif;
        content: '\f13e';
        color: red;
    }

    div.has-error {
        background-color: red !important;
    }

    fieldset label {
        height: 20px;
        width: 140px;
        margin-left: 10px;
        text-align: right;
        clear: both;
        float: left;
        margin-right: 15px;
        margin-top: 10px;
    }

    fieldset input {
        height: 20px;
        width: 200px;
        border: 1px solid #000;
        margin-top: 10px;
        float: left;
    }

    fieldset .comment {
        float: left;
        margin-top: 10px;
    }

    .redText td input, .redText td textarea, .redText td select, .redText td button {
        color: red !important;
    }


    .highlight {
        background-color: lightgreen;
    }


    .contactClear {
        width: 26px;
    }

    .contactSite {
        width: 40px;
    }

    .contactTitle {
        width: 52px;
    }

    .contactFirstName {
        width: 100px;
    }

    .contactLast {
        width: 100px;
    }

    .contactPosition {
        width: 100px;
    }

    .contactPhone {
        width: 100px;
    }

    .contactMobile {
        width: 100px;
    }

    .contactEmail {
        width: 190px;
    }

    .contactPassword {
        width: 60px;
    }

    .contactFailedLogins {
        width: 50px;
    }

    .contactNotes {
        width: 80px;
    }

    .contactInitialLogging {
        width: 50px;
    }

    .contactWorkStarted {
        width: 50px;
    }

    .contactWorkUpdates {
        width: 50px;
    }

    .contactFixed {
        width: 50px;
    }

    .contactPendingClosure {
        width: 50px;
    }

    .contactClosure {
        width: 50px;
    }

    .contactOthersInitialLogging {
        width: 50px;
    }

    .contactOthersWorkStarted {
        width: 50px;
    }

    .contactOthersWorkUpdates {
        width: 50px;
    }

    .contactOthersFixed {
        width: 50px;
    }

    .contactOthersPendingClosure {
        width: 50px;
    }

    .contactOthersClosure {
        width: 50px;
    }

    .contactAccounts {
        width: 50px;
    }

    .contactMailshot2Flag {
        width: 50px;
    }

    .contactMailshot3Flag {
        width: 50px;
    }

    .contactMailshot4Flag {
        width: 50px;
    }

    .contactSupportLevel {
        width: 90px;
    }

    .contactHR {
        width: 50px;
    }

    .contactReview {
        width: 50px;
    }

    .contactMailshot8Flag {
        width: 50px;
    }

    .contactMailshot11Flag {
        width: 50px;
    }

    .contactMailshot9Flag {
        width: 50px;
    }

    .contactMailshot {
        width: 50px;
    }

    .contactLetters {
        width: 290px;
    }

    .contactPendingLeaver {
        width: 50px;
    }

    .contactPendingLeaverDate {
        width: 160px;
    }

    .no-close .ui-dialog-titlebar-close {
        display: none;
    }

</style>
<script src=".javascript/jquery-form-validator-2.3.79.js"
></script>
<div id="newPasswordDialog"
     title="New Password"
     style="display: none"
>
    <fieldset id="register">
        <legend></legend>
        <label>Password </label>
        <input type="password"
               id="password"
        >
        <span class="comment"
              id="passwordComment"
        ></span>
        <label>Repeat Password </label>
        <input type="password"
               id="repeatPassword"
        >
        <span class="comment"
              id="repeatPasswordComment"
        ></span>
    </fieldset>
    <br>
    <div>
        <button onclick="saveNewPassword()"
                disabled
                id="savePasswordButton"
        >Save
        </button>
        <button onclick="cancelNewPassword()">Cancel</button>
    </div>
</div>

<script id="contact-row"
        type="text/template"
>
    <tr>
        <td>
            <input type="hidden"
                   name="form[contact][0][contactID]"
                   value="0"
            >
            <input type="hidden"
                   name="form[contact][0][customerID]"
                   value="{customerID}"
            >
            <input type="hidden"
                   name="form[contact][0][supplierID]"
                   value="0"
            >
            <input type="hidden"
                   name="form[contact][0][fax]"
                   value=""
            >
            <input type="hidden"
                   name="form[contact][0][discontinuedFlag]"
                   value="N"
            >
            <div class="contactClear">
            </div>
        </td>
        <td>
            <div class="contactSite">
                <select name="form[contact][0][siteNo]"
                        data-validation="required"
                        data-type="site"
                        title="site"
                >
                    <!-- BEGIN templateSelectSiteBlock -->
                    <option value="{selectSiteNo}"
                    >{selectSiteDesc}
                    </option>
                    <!-- END templateSelectSiteBlock -->
                </select>
            </div>
        </td>
        <td>
            <div class="contactTitle">
                <input name="form[contact][0][title]"
                       size="2"
                       maxlength="10"
                       value=""
                       required
                       data-validation="required"
                       data-type="title"
                       title="title"
                >
            </div>
        </td>
        <td>
            <div class="contactFirstName">
                <input name="form[contact][0][firstName]"
                       size="10"
                       maxlength="50"
                       value=""
                       required
                       data-validation="required"
                       data-type="firstName"
                       title="First Name"
                >
            </div>
        </td>
        <td>
            <div class="contactLast">
                <input name="form[contact][0][lastName]"
                       size="10"
                       maxlength="50"
                       value=""
                       required
                       data-validation="required"
                       data-type="lastName"
                       title="Last Name"
                >
            </div>
        </td>
        <td>
            <div class="contactPosition">
                <input name="form[contact][0][position]"
                       value=""
                       size="10"
                       maxlength="50"
                       title="Position"
                />
            </div>
        </td>
        <td>
            <div class="contactPhone">
                <input name="form[contact][0][phone]"
                       value=""
                       size="10"
                       maxlength="30"
                       class="telephoneValidator"
                       title="Phone"
                >
            </div>
        </td>
        <td>
            <div class="contactMobile">
                <input name="form[contact][0][mobilePhone]"
                       value=""
                       size="10"
                       maxlength="30"
                       class="telephoneValidator"
                       title="Mobile"
                >
            </div>
        </td>
        <td>
            <div class="contactEmail">
                <input type="email"
                       name="form[contact][0][email]"
                       value=""
                       size="25"
                       maxlength="50"
                       data-validation="emailOrEmpty server"
                       data-validation-url="/validateUniqueEmail.php"
                       data-type="email"
                       title="Email"
                >
            </div>
        </td>
        <td>
            <div class="contactSupportLevel">
                <select name="form[contact][0][supportLevel]"
                        data-validation="atLeastOneMain"
                        data-type="mainSelector"
                        data-except="$('#referred').prop('checked') || isProspect()"
                        title="Support Level"
                >
                    <!-- BEGIN templateSupportLevelBlock -->
                    <option value="{supportLevelValue}"
                    >
                        {supportLevelDescription}
                    </option>
                    <!-- END templateSupportLevelBlock -->
                </select>
            </div>
        </td>
        <td class="center ">
            <div class="contactPassword">
            </div>
        </td>
        <td>
            <div class="contactFailedLogins">
                <input name="form[contact][0][failedLoginCount]"
                       value=""
                       size="2"
                       maxlength="5"
                >
            </div>
        </td>
        <td>
            <div class="contactNotes">
                <input
                        name="form[contact][0][notes]"
                        size="5"
                        maxlength="200"
                        value=""
                />
            </div>
        </td>
        <td class="contactPendingLeaver">
            <div class="content">
                <i class="fab fa-linkedin-in"
                   style="color: red"
                   onclick="checkLink()"
                ></i>
                <input type="hidden"
                       name="form[contact][0][linkedInURL]"
                >
            </div>
        </td>
        <td>
            <div class="contactInitialLogging">

                <input type="checkbox"
                       name="form[contact][0][initialLoggingEmailFlag]"
                       value="Y"
                       class="checkboxAlign"
                       checked
                >
            </div>
        </td>
        <td>
            <div class="contactWorkStarted">

                <input type="checkbox"
                       name="form[contact][0][workStartedEmailFlag]"
                       value="Y"
                       class="checkboxAlign"
                       checked
                >
            </div>
        </td>
        <td>
            <div class="contactWorkUpdates">

                <input type="checkbox"
                       name="form[contact][0][workUpdatesEmailFlag]"
                       value="Y"
                       class="checkboxAlign"
                       checked
                >
            </div>
        </td>
        <td>
            <div class="contactFixed">

                <input type="checkbox"
                       name="form[contact][0][fixedEmailFlag]"
                       value="Y"
                       class="checkboxAlign"
                       checked
                >
            </div>
        </td>
        <td>
            <div class="contactPendingClosure">

                <input type="checkbox"
                       name="form[contact][0][pendingClosureEmailFlag]"
                       value="Y"
                       class="checkboxAlign"
                       checked
                >
            </div>
        </td>
        <td>
            <div class="contactClosure">

                <input type="checkbox"
                       name="form[contact][0][closureEmailFlag]"
                       value="Y"
                       class="checkboxAlign"
                       checked
                >
            </div>
        </td>
        <td>
            <div class="contactOthersInitialLogging">

                <input type="checkbox"
                       name="form[contact][0][othersInitialLoggingEmailFlag]"
                       value="Y"
                       disabled
                       class="onlyMain"
                >
            </div>
        </td>
        <td>
            <div class="contactOthersWorkStarted">
                <input type="checkbox"
                       name="form[contact][0][othersWorkStartedEmailFlag]"
                       value="Y"
                       disabled
                       class="onlyMain"
                >
            </div>
        </td>
        <td>
            <div class="contactOthersWorkUpdates">
                <input type="checkbox"
                       name="form[contact][0][othersWorkUpdatesEmailFlag]"
                       value="Y"
                       disabled
                       class="onlyMain"
                >
            </div>
        </td>
        <td>
            <div class="contactOthersFixed">
                <input type="checkbox"
                       name="form[contact][0][othersFixedEmailFlag]"
                       value="Y"
                       disabled
                       class="onlyMain"
                >
            </div>
        </td>
        <td>
            <div class="contactOthersPendingClosure">
                <input type="checkbox"
                       name="form[contact][0][othersPendingClosureEmailFlag]"
                       value="Y"
                       disabled
                       class="onlyMain"
                >
            </div>
        </td>
        <td>
            <div class="contactOthersClosure">
                <input type="checkbox"
                       name="form[contact][0][othersClosureEmailFlag]"
                       value="Y"
                       disabled
                       class="onlyMain"
                >
            </div>
        </td>
        <td>
            <div class="contactAccounts">

                <input type="checkbox"
                       name="form[contact][0][accountsFlag]"
                       value="Y"
                       data-validation="atLeastOne"
                       data-type="accounts"
                       data-except="$('#referred').prop('checked') || isProspect()"
                />
            </div>
        </td>
        <td>
            <div class="contactMailshot2Flag">
                <input type="checkbox"
                       name="form[contact][0][mailshot2Flag]"
                       value="Y"
                       data-validation="atLeastOne"
                       data-type="invoice"
                       data-except="$('#referred').prop('checked') || isProspect()"
                />
            </div>
        </td>
        <td>
            <div class="contactMailshot3Flag">
                <input type="checkbox"
                       name="form[contact][0][mailshot3Flag]"
                       value="Y"
                       checked
                />
            </div>
        </td>
        <td>
            <div class="contactMailshot4Flag">
                <input type="checkbox"
                       name="form[contact][0][mailshot4Flag]"
                       value="Y"
                       class="stmCheckBox"
                       data-validation="atLeastOneAtMostOne"
                       data-type="statement"
                       data-except="$('#referred').prop('checked') || isProspect()"
                />
            </div>
        </td>

        <td>
            <div class="contactHR">
                <input type="checkbox"
                       name="form[contact][0][hrUser]"
                       value="Y"
                />
            </div>
        </td>

        <td>
            <div class="contactReview">
                <input type="checkbox"
                       name="form[contact][0][reviewUser]"
                       value="Y"
                       data-validation="atLeastOne"
                       data-type="review"
                       data-except="$('#referred').prop('checked') || isProspect()"
                />
            </div>
        </td>
        <td>
            <div class="contactMailshot8Flag">
                <input type="checkbox"
                       name="form[contact][0][mailshot8Flag]"
                       value="Y"
                       data-type="topUp"
                       {topUpValidation}
                       data-except="$('#referred').prop('checked') || isProspect()"
                />
            </div>
        </td>
        <td>
            <div class="contactMailshot11Flag">
                <input type="checkbox"
                       name="form[contact][0][mailshot11Flag]"
                       value="Y"
                       checked
                />
            </div>
        </td>
        <td>
            <div class="contactMailshot9Flag">
                <input type="checkbox"
                       name="form[contact][0][mailshot9Flag]"
                       value="Y"
                       data-validation="atLeastOne"
                       data-type="reports"
                       data-except="$('#referred').prop('checked') || isProspect()"
                />
            </div>
        </td>
        <td>
            <div class="contactMailshot">
                <input type="checkbox"
                       name="form[contact][0][sendMailshotFlag]"
                       value="Y"
                       checked
                />
            </div>
        </td>
        <td nowrap="nowrap">
            <div class="contactLetters">
                <select name="letters_menu"
                        onchange="MM_jumpMenu('_blank',this,0)"
                >
                    <option>Send Letter</option>
                    <!-- BEGIN templateCustomLetterBlock -->
                    <option value="{customLetterURL}">{customLetterName}</option>
                    <!-- END templateCustomLetterBlock -->
                </select>
            </div>
        </td>
        <td>
            <div class="contactPendingLeaver">
                <input type="checkbox"
                       name="form[contact][0][pendingLeaverFlag]"
                       value="Y"
                />
            </div>
        </td>
        <td>
            <div class="contactPendingLeaverDate">
                <input type="date"
                       name="form[contact][0][pendingLeaverDate]"
                       value="{pendingLeaverDate}"
                       autocomplete="off"
                />
            </div>
        </td>
        <td class="contactSpecialAttention">
            <input type="checkbox"
                   name="form[contact][0][specialAttentionContactFlag]"
                   value="Y"
            >
        </td>
    </tr>
</script>
<script src="/components/customerEditMain/dist/CustomerEditComponent.js"></script>
<script>
    // function updateWhat3WordsLink(event) {
    //     generateWhat3WordsLinks(event.target);
    // }
    //
    //
    // function checkLink() {
    //     const iconElement = event.target;
    //     const input = iconElement.nextElementSibling;
    //     let URL = input.value;
    //     if (!URL) {
    //         URL = prompt("Please provide a LinkedIn URL for the contact");
    //         if (URL && !URL.match(/^https?:\/\/.*/)) {
    //             URL = "http://" + URL;
    //         }
    //         if (!URL) {
    //             return;
    //         }
    //         input.value = URL;
    //         iconElement.style.color = 'green';
    //         return;
    //     }
    //
    //     window.open(URL, '_blank');
    // }
    //
    // function checkWebsite() {
    //     let URL = $('#websiteURL').val();
    //     if (!URL) {
    //         URL = prompt("Please provide a Website URL for the customer");
    //         if (URL && !URL.match(/^https?:\/\/.*/)) {
    //             URL = "http://" + URL;
    //         }
    //         if (!URL) {
    //             return;
    //         }
    //         $('#websiteURL').val(URL);
    //
    //         $('.fas.fa-globe')[0].style.color = 'green';
    //         return;
    //     }
    //
    //     window.open(URL, '_blank');
    // }
    //
    // function clearReviewMeetingBooked() {
    //     document.getElementById('reviewMeetingBooked').checked = false;
    // }
    //
    // function setContactsToNoneAndReferCustomer() {
    //     if (!confirm('This is will change all contacts to the support level of None & refer the customer. Please confirm that you want to continue.')) {
    //         return;
    //     }
    //     const currentURL = new URL(location.href);
    //     const customerID = currentURL.searchParams.get('customerID');
    //     $.ajax({
    //         method: 'POST',
    //         dataType: 'JSON',
    //         data: {
    //             action: 'removeSupportAndRefer',
    //             customerID: customerID
    //         }
    //     }).then(result => {
    //         window.location.reload();
    //     });
    // }
    //
    // let contactsTableErrors;
    //
    //
    // function checkIsProspect() {
    //     if (isProspect()) {
    //         $('#primaryMainContactSelector').attr('required', false);
    //     } else if ('{primaryMainMandatory}') {
    //         $('#primaryMainContactSelector').attr('required', true);
    //     }
    // }
    //
    // function isProspect() {
    //     return document.customerMain.isProspect()
    // }
    //
    // const isShowingInactive = {isShowingInactive};
    //
    //
    // function clearRow(contactID) {
    //
    //     if (!confirm('Are you sure you want to delete this contact?')) {
    //         return;
    //     }
    //
    //     const row = $(event.target).closest('tr');
    //
    //     const object = {
    //         contactID: contactID
    //     };
    //     $.ajax({
    //         url: '?action=archiveContact',
    //         method: 'POST',
    //         type: 'post',
    //         dataType: 'json',
    //         data: object
    //     }).then(function (result) {
    //         if (result.status == 'error') {
    //             throw 'Failed to clear contact';
    //         } else {
    //             if (isShowingInactive) {
    //                 row.find('input[type="email"]').val(null);
    //             } else {
    //                 row.remove();
    //             }
    //
    //         }
    //     }).catch(function (error) {
    //         alert('Failed to save password');
    //     });
    //
    // }
    //
    // function addContact(siteNo) {
    //     this.source = document.getElementById("contact-row").innerHTML;
    //     const context = {
    //         name: "a",
    //         id: 1,
    //         userID: 2
    //     };
    //     const html = Mustache.to_html(this.source, context);
    //     $(html)
    //         .find('select[name="form[contact][0][siteNo]"] option[value=' + siteNo + ']')
    //         .attr('selected', true)
    //         .end()
    //         .prependTo('#contactsTable tbody');
    // }
    //
    // let currentContactId = null;
    // let currentPasswordButton = null;
    //
    // function resetPasswordFields() {
    //     $('#password').val(null);
    //     $('#repeatPassword').val(null);
    // }
    //
    // function cancelNewPassword() {
    //     $('#newPasswordDialog').dialog('close');
    // }
    //
    // function saveNewPassword() {
    //     const object = {
    //         password: $('#password').val(),
    //         contactID: currentContactId
    //     };
    //
    //     $.ajax({
    //         url: '?action=saveContactPassword',
    //         method: 'POST',
    //         type: 'post',
    //         dataType: 'json',
    //         data: object
    //     }).then(function (result) {
    //         if (result.status == 'error') {
    //             throw 'Failed to save password';
    //         } else {
    //             alert('Submitted OK');
    //             if ($(currentPasswordButton).hasClass('unlockedIcon')) {
    //                 $(currentPasswordButton).removeClass('unlockedIcon').addClass('lockedIcon');
    //             }
    //         }
    //     }).catch(function (error) {
    //         alert('Failed to save password');
    //         resetPasswordFields();
    //     }).then(function () {
    //         $('#newPasswordDialog').dialog('close');
    //     });
    // }
    //
    //
    // function askNewPassword() {
    //     const data = $(event.target).data();
    //     currentContactId = data.siteNo;
    //     currentPasswordButton = event.target;
    //     $('#newPasswordDialog').dialog('open');
    // }
    //
    // function focusOn(elementName) {
    //     $('[name="' + elementName + '"]').focus();
    // }
    //
    // let validPassword = false;
    // let validRepeatPassword = false;
    //
    // let validatingContactsModal;
    //
    // const what3WordsBlackImg = document.createElement('img');
    // what3WordsBlackImg.src = '/images/w3w_SymbolTransparentBackground_RGB_Black.png'
    // what3WordsBlackImg.height = 30;
    // const what3WordsRedImg = document.createElement('img');
    // what3WordsRedImg.src = '/images/w3w_SymbolTransparentBackground_RGB_Red.png'
    // what3WordsRedImg.height = 30;
    //
    //
    // function generateWhat3WordsLinks(what3WordsInput) {
    //     const holder = what3WordsInput.nextElementSibling;
    //     holder.innerHTML = ''
    //     const value = what3WordsInput.value;
    //     const link = document.createElement('a');
    //     const redImg = what3WordsRedImg.cloneNode();
    //     link.appendChild(redImg);
    //     if (value && what3WordsInput.checkValidity()) {
    //         link.replaceChild(what3WordsBlackImg.cloneNode(), redImg);
    //         link.href = "https://what3words.com/" + value;
    //         link.target = '_blank';
    //     }
    //     holder.appendChild(link);
    // }

    window.addEventListener('DOMContentLoaded', function () {

//         loadNote('first');
//         checkIsProspect();
//         document.querySelector('form[name="form"]').addEventListener('submit', checkMailShotOptions)
//
//         // document.querySelectorAll('.what3WordsInput').forEach(node => {
//         //     console.log('test');
//         //     node.addEventListener('change', updateWhat3WordsLink);
//         //     generateWhat3WordsLinks(node);
//         // })
//
//         $('#newPasswordDialog').dialog({
//             autoOpen: false, width: 500, close: function () {
//                 resetPasswordFields();
//             }
//         });
//
//         validatingContactsModal = $('#validatingContactsModal').dialog({
//             autoOpen: false, width: 500, modal: true, dialogClass: 'no-close', position: {my: 'top', at: 'top'}
//         });
//
//         $(".contactSupportLevel select").change(function () {
//
//             $('.contactSupportLevel select');
//             $('#primaryMainContactSelector')
//         });
//
//         $("#contactsTable tbody tr").click(function () {
//             const selected = $(this).hasClass("highlight");
//             $("#contactsTable tbody tr").removeClass("highlight");
//             if (!selected)
//                 $(this).addClass("highlight");
//         });
//
//         $('#password').keyup(function () {
//             $('#passwordComment').html(checkStrength($('#password').val()));
//             checkSavePassword();
//         });
//
//         $('#repeatPassword').keyup(function () {
//             $('#repeatPasswordComment').html(checkPasswordEqual($('#password').val(), $('#repeatPassword').val()));
//             checkSavePassword();
//         });
//
//         function checkSavePassword() {
//             if (validPassword && validRepeatPassword) {
//                 $('#savePasswordButton').prop("disabled", false);
//             } else {
//                 $('#savePasswordButton').prop("disabled", true);
//             }
//         }
//
//         function checkPasswordEqual(password, repeatPassword) {
//             validRepeatPassword = false;
//             if (!password || !repeatPassword) {
//                 return null;
//             }
//
//             if (password != repeatPassword) {
//                 return 'Not Equal';
//             }
//             validRepeatPassword = true;
//             return null;
//         }
//
//         function checkStrength(password) {
//             validPassword = false;
//             if (!password) {
//                 return false;
//             }
//
//             let strength = 0;
//             if (password.length < 6) {
//                 return 'Too short'
//             }
//
//             if (password.match(/([a-z])/)) strength += 1;
//             if (password.match(/([A-Z])/)) strength += 1;
//             if (password.match(/([0-9])/)) strength += 1;
//             if (password.match(/([!,%,&,@,#,$,^,*,?,_,~])/)) strength += 1;
// // Calculated strength value, we can return messages
// // If value is less than 2
//             if (strength < 3) {
//                 $('#result').removeClass();
//                 $('#result').addClass('weak');
//                 return 'Weak'
//             } else if (strength >= 3) {
//                 $('#result').removeClass();
//                 $('#result').addClass('good');
//                 validPassword = true;
//                 return null
//             }
//         }
//
//         const erroredElements = {};
//         let errorsShowing = {};
//
//         contactsTableErrors = $('#contactsTableErrors');
//
//         function showErrors(data) {
//             contactsTableErrors.find('.errors').html(data.html);
//             contactsTableErrors.show();
//         }
//
//         function hideErrors() {
//             errorsShowing = {};
//             contactsTableErrors.hide();
//         }
//
//         const contactsTable = $('#contactsTable');
//         contactsTable.on('validation', 'input', onValidation);
//         $('#contactsTable').on('beforeValidation', 'input', onBeforeValidation);
//
//         function onBeforeValidation(value, lang, config) {
//
//             if (window.isSubmitting) {
//                 // do stuff
//                 $(this).data('validation-skipped', 1);
//             }
//         }
//
//
//         function onValidation(evt, valid) {
//             //we have to generate the list of errored elements
//             const erroredElements = $('input.error').toArray()
//
//             if (!erroredElements.length) {
//                 hideErrors();
//                 return;
//             }
//
//             // we have to generate the error messages
//
//             const data = erroredElements.reduce((acc, elm) => {
//
//                 const elmData = $(elm).data();
//
//                 if (elmData.type) {
//                     if (!acc.types[elmData.type]) {
//                         // this is the first errored element of this type
//                         acc.types[elmData.type] = true;
//
//                         acc.html += "<div>Validation for " + elmData.validation + " on " + elmData.type + ' Failed. <button type="button" onclick="focusOn(\'' + elm.name + '\')">click here to see it </div>';
//                     }
//                 } else {
//                     // we don't have a type ..so we are going to use the validation as key
//                     if (!acc.types[elmData.validation]) {
//                         // this is the first errored element of this type
//                         acc.types[elmData.validation] = true;
//
//                         acc.html += "<div>Validation for " + elmData.validation + ' Failed. <button type="button" onclick="focusOn(\'' + elm.name + '\')">click here to see it </div>';
//                     }
//                 }
//
//                 // console.log(acc.html);
//                 return acc;
//             }, {types: {}, html: ""});
//             showErrors(data);
//
//         }
//
//         const config = {
//             modules: 'security',
//             showHelpOnFocus: false,
//             addSuggestions: false,
//             ignoreSubmit: true,
//             submitErrorMessageCallback: function ($form, errorMessages, config) {
//                 console.log(errorMessages);
//                 return;
//             },
//             inlineErrorMessageCallback: function ($input, errorMessage, config) {
//             },
//             scrollToTopOnError: true,
//             showErrorDialogs: true,
//         };
//         $.validate(config);
//
//         $.formUtils.addValidator({
//             name: 'emailOrEmpty',
//             validatorFunction: function (email, $el) {
//
//                 if (email === '') {
//                     return true;
//                 }
//
//                 const emailParts = email.toLowerCase().split('@');
//                 let localPart = emailParts[0];
//                 const domain = emailParts[1];
//
//                 if (localPart && domain) {
//
//                     if (localPart.indexOf('"') === 0) {
//                         const len = localPart.length;
//                         localPart = localPart.replace(/\"/g, '');
//                         if (localPart.length !== (len - 2)) {
//                             return false; // It was not allowed to have more than two apostrophes
//                         }
//                     }
//
//                     if (!$.formUtils.validators.validate_domain.validatorFunction(emailParts[1]) &&
//                         localPart.indexOf('.') !== 0 &&
//                         localPart.substring(localPart.length - 1, localPart.length) !== '.' &&
//                         localPart.indexOf('..') === -1 &&
//                         !(/[^\w\+\.\-\#\-\_\~\!\$\&\'\(\)\*\+\,\;\=\:]/.test(localPart))
//                     ) {
//                         return false;
//                     }
//
//
//                     ///we need to check that no other email is set to the same
//                     const test = $('input[data-validation*="emailOrEmpty"]');
//
//                     let isDuplicate = false;
//
//                     test.each(function () {
//                         const elm = $(this);
//                         const isMe = elm.get(0) === $el.get(0);
//
//                         if (!isMe && elm.val().toLowerCase() === email.toLowerCase()) {
//                             isDuplicate = true;
//                             elm.addClass('error');
//                             elm.parent().addClass('has-error');
//                         }
//                     });
//
//                     return !isDuplicate;
//                 }
//
//                 return false;
//             },
//             errorMessage: '',
//             errorMessageKey: 'badEmail'
//         });
//
//         const validatorData = {};
//
//         $.formUtils.addValidator({
//             name: 'atLeastOne',
//             validatorFunction: function (value, $el, config, language, $form) {
//                 const elementData = $el.data();
//                 const dataType = elementData.type;
//                 let isValid = false;
//                 const except = elementData.except;
//                 let exceptCondition = false;
//                 if (except) {
//                     exceptCondition = eval(except);
//                 }
//
//                 if (exceptCondition) {
//                     return true;
//                 }
//
//                 if (validatorData.hasOwnProperty(dataType)) {
//                     // there's an initiator...we should return whatever the initiator says
//                     return validatorData[dataType];
//                 }
//
//                 const test = $('[data-type="' + dataType + '"]');
//
//                 const allElements = test.toArray();
//
//                 let counter = 0;
//
//                 do {
//                     var elm = $(allElements[counter]);
//                     isValid = !!elm.prop('checked');
//                     counter++;
//                 } while (!isValid && counter < allElements.length);
//
//                 validatorData[dataType] = isValid;
//                 test.each(function () {
//                     const elm = $(this);
//                     const isMe = elm.get(0) === $el.get(0);
//                     if (!isMe) {
//                         elm.validate(null);
//                     }
//                 });
//
//                 delete validatorData[dataType];
//                 return isValid;
//             },
//             errorMessage: 'at least one failed',
//             errorMessageKey: 'atLeastOne'
//         });
//
//         $.formUtils.addValidator({
//             name: 'atLeastOneAtMostOne',
//             validatorFunction: function (value, $el, config, language, $form) {
//                 const elementData = $el.data();
//                 const dataType = elementData.type;
//                 const test = $('[data-type="' + dataType + '"]');
//                 let isValid = false;
//                 const except = elementData.except;
//                 let exceptCondition = false;
//                 if (except) {
//                     exceptCondition = eval(except);
//                 }
//
//                 if (exceptCondition) {
//                     return true;
//                 }
//
//                 if (validatorData.hasOwnProperty(dataType)) {
//                     // there's an initiator...we should return whatever the initiator says
//                     return validatorData[dataType];
//                 }
//                 const t0 = performance.now();
//                 const allElements = test.toArray();
//
//                 let counter = 0;
//                 let checkedCount = 0;
//                 do {
//                     var elm = $(allElements[counter]);
//                     checkedCount += !!elm.prop('checked');
//                     counter++;
//                 } while (checkedCount < 2 && counter < allElements.length);
//
//                 isValid = checkedCount > 0 && checkedCount < 2;
//
//                 validatorData[dataType] = isValid;
//
//                 test.each(function () {
//                     const elm = $(this);
//                     const isMe = elm.get(0) === $el.get(0);
//                     if (!isMe) {
//                         elm.validate(null);
//                     }
//                 });
//
//                 delete validatorData[dataType];
//                 const t1 = performance.now();
//                 // console.log('validating ' + dataType + " atLeastOneAtMostOne took " + (t1 - t0) + " milliseconds ");
//                 return isValid;
//             },
//             errorMessage: '',
//             errorMessageKey: 'atLeastOneAtMostOne'
//         });
//
//         $.formUtils.addValidator({
//             name: 'atLeastOneMain',
//             validatorFunction: function (value, $el, config, language, $form) {
//                 const test = $('[data-type="' + $el.data().type + '"]');
//
//                 let checkedCount = 0;
//                 const except = test.data().except;
//                 debugger;
//                 const exceptCondition = eval(except);
//
//                 if (exceptCondition) {
//                     return true;
//                 }
//
//                 test.each(function () {
//                     const elm = $(this);
//                     const isMe = elm.get(0) === $el.get(0);
//
//                     if (elm.val() === 'main') {
//                         checkedCount++;
//                     }
//
//                     if (!$el.data().toBeValidated && !isMe) {
//                         elm.data("toBeValidated", true);
//                         elm.validate();
//                     }
//                 });
//                 $el.data("toBeValidated", false);
//
//
//                 return checkedCount > 0;
//             }
//         });
//
//         window.specialAttentionEndDate = $('#specialAttentionEndDate').get(0);
//         window.lastReviewMeetingDate = $('#lastReviewMeetingDate').get(0);
//         window.reviewDate = $('#reviewDate').get(0);
//
//         const assignClass = function () {
//             const elem = $(this);
//             const tr = elem.closest('tr');
//
//
//             if (elem[0].value === 'main' || elem[0].value === 'supervisor') {
//                 // we want to show the
//                 tr.find('.onlyMain').prop('disabled', false);
//                 if (elem[0].value === 'main') {
//                     tr.addClass('redText');
//                 }
//             } else {
//                 tr.find('.onlyMain').prop('disabled', true);
//                 tr.removeClass('redText');
//             }
//         };
//
//         $('body').on('change', '[data-type="mainSelector"]', assignClass);
//
//         $(window).bind('validatorsLoaded', () => {
//             $('[data-validation-url]').each(function (index) {
//                 const $this = $(this);
//
//                 $this.validate(null, config);
//             });
//         });
//
//         $('[data-type="mainSelector"]').each(assignClass);
//
//         const types = {};
//
//         $('[data-validation="atLeastOne"], [data-validation="atLeastOneAtMostOne"]').each(function (index) {
//             const $this = $(this);
//
//             if (typeof types[$this.data().type] === 'undefined') {
//                 $this.validate();
//                 types[$this.data().type] = true;
//             }
//         });


    });
    // window.onbeforeunload = bunload;

    // function bunload() {
    //     if (customerNotesChanged) {
    //         return 'You haven\'t saved your notes';
    //     }
    // }


    // function setCaretPosition(elemId, caretPos) {
    //     const elem = document.getElementById(elemId);
    //
    //     if (elem != null) {
    //         if (elem.createTextRange) {
    //             const range = elem.createTextRange();
    //             range.move('character', caretPos);
    //             range.select();
    //         } else {
    //             if (elem.selectionStart) {
    //                 elem.focus();
    //                 elem.setSelectionRange(caretPos, caretPos);
    //             } else
    //                 elem.focus();
    //         }
    //     }
    // }
    //
    // let customerNotesChanged = false;
    //
    // function setCustomerNotesChanged() {
    //     customerNotesChanged = true;
    // }
    //
    // function MM_jumpMenu(targ, selObj, restore) { //v3.0
    //     if (selObj.options[selObj.selectedIndex].value) {
    //         window.open(selObj.options[selObj.selectedIndex].value, targ);
    //     }
    //     if (restore) selObj.selectedIndex = 0;
    // }
    //
    // function contactPopup(contactID, action, customerID, siteNo) {
    //     window.open(
    //         '{urlContactPopup}' +
    //         '&action=' + action +
    //         '&contactID=' + contactID +
    //         '&customerID=' + customerID +
    //         '&siteNo=' + siteNo +
    //         '&parentIDField=none' +
    //         '&parentDescField=none',
    //         'contact',
    //         'scrollbars=yes,resizable=yes,height=700,width=500,copyhistory=no, menubar=0'
    //     );
    // }
    //
    // const sortCode = '{sortCode}';
    // const accountNumber = '{accountNumber}';
    // const accountName = '{accountName}';
    // const forceDirectDebit = {forceDirectDebit};
    //
    //
    // function runValidations() {
    //     window.isSubmitting = true;
    //
    //     const emails = {};
    //
    //     const inputs = $(".contacts input[type='email']");
    //     for (let i = 0; i < inputs.length; i++) {
    //         if (inputs[i].value) {
    //             const email = inputs[i].value;
    //
    //             if (emails[email]) {
    //                 alert('Please review form errors, fix them before submitting');
    //                 return false;
    //             }
    //
    //             emails[email] = true;
    //         }
    //
    //     }
    //
    //
    //     if ({customerID} && !isProspect()) {
    //         const primaryMainContactSelector = $('#primaryMainContactSelector');
    //         const value = +$('#primaryMainContactSelector').val();
    //
    //         const mainContactsSelect = $('.contactSupportLevel select option:selected[value="main"]').parent('select');
    //         if (!value) {
    //             if (!mainContactsSelect.length) {
    //                 alert('Please set at least one Main contact, and it will be set as the Primary Main');
    //                 return false;
    //             }
    //             const matches = $(mainContactsSelect[0]).attr('name').match(/\d+/);
    //             if (!matches || !matches.length) {
    //                 alert('Please set at least one Main contact, and it will be set as the Primary Main');
    //                 return false;
    //             }
    //
    //             //we need to make sure there's an option for this
    //             if (!primaryMainContactSelector.find('option[value="' + matches[0] + '"]').length) {
    //                 primaryMainContactSelector.html('<option value="' + matches[0] + '"></option>');
    //             }
    //
    //             $('#primaryMainContactSelector').val(matches[0]);
    //
    //
    //         } else {
    //             let foundMain = false;
    //
    //             mainContactsSelect.each(function () {
    //                 const foundMatch = $(this).attr('name').match(/\d+/);
    //                 if (foundMatch && foundMatch[0] == value) {
    //                     foundMain = true;
    //                 }
    //             });
    //
    //             if (!foundMain) {
    //                 alert("The Primary Main contact is no longer flagged as Main, please flag it back or pick another Main Contact as Primary");
    //                 return false;
    //             }
    //         }
    //     }
    //
    //
    //     if (forceDirectDebit) {
    //
    //         let existSortCode = false;
    //         let newSortCode = null;
    //         const sortCodeElm = $('#sortCode');
    //         if (sortCodeElm.length) {
    //             existSortCode = true;
    //             newSortCode = sortCodeElm.val();
    //         }
    //
    //         if (
    //             existSortCode && !newSortCode ||
    //             !sortCode && !newSortCode
    //         ) {
    //             alert('This customer needs to have a sort code, as it has direct debit renewals');
    //             return false;
    //         }
    //
    //         let existAccountNumber = false;
    //         let newAccountNumber = null;
    //         const accountNumberElm = $('#accountNumber');
    //         if (accountNumberElm.length) {
    //             existAccountNumber = true;
    //             newAccountNumber = accountNumberElm.val();
    //         }
    //
    //         if (existAccountNumber && !newAccountNumber ||
    //             !accountNumber && !newAccountNumber) {
    //             alert("This customer needs to have an account number, as it has direct debit renewals");
    //             return false;
    //         }
    //
    //         const accountNameElm = $('#accountName');
    //         const newAccountName = accountNameElm.val();
    //
    //         if (!newAccountName) {
    //             alert("This customer needs to have an account name, as it has direct debit renewals");
    //             return false;
    //         }
    //     }
    //
    //     return true;
    // }
    //
    // function checkMailShotOptions($event) {
    //     $event.preventDefault();
    //     return Promise.all(
    //         [
    //             document.customerReviewComponent.save(),
    //             document.customerMain.save(),
    //             document.customerSitesComponent.saveSites(),
    //         ])
    //         .then(successes => {
    //             return successes.every(x => x);
    //         })
    //         .then(() => {
    //             validatingContactsModal.dialog('open');
    //             const toReturn = runValidations();
    //             validatingContactsModal.dialog('close');
    //             return toReturn;
    //         })
    //         .then(shouldSubmit => {
    //             if (shouldSubmit) {
    //                 $event.target.submit();
    //             }
    //         })
    // }
</script>

<style>
    .redText td.content > input, .redText td.content > textarea, .redText td.content > select, .redText td.content > button {
        color: red !important;
    }

    .float-right {
        text-align: right;
        float: right
    }
</style>
<link rel="stylesheet"
      href="/font-awesome/css/font-awesome.css"
/>
<span class="formError">{errorMessage}</span>
<a href="{deleteCustomerURL}"
   onClick="if(!confirm('Are you sure you want to delete this customer?')) return(false)"
>{deleteCustomerText}</a>
<form name="form"
      method="post"
      action="{submitURL}"
      AUTOCOMPLETE="off"
>

    <input {disabled}
           type="submit"
           name="Go"
           value="Save"
    >
    <input {disabled}
           name="Button"
           type="button"
           value="Cancel"
           onClick="document.location='{cancelURL}';"
    >
    <button type="button"
            {disabled}
            onclick="setContactsToNoneAndReferCustomer()"
    >
        Set all users to no support
    </button>
    <input {disabled}
           name="displayInactiveSites"
           type="button"
           value="Show Inactive Sites"
           onClick="document.location='{showInactiveSitesURL}';"

    >
    <input {disabled}
           name="displayInactiveContacts"
           type="button"
           value="Show Inactive Contacts"
           onClick="document.location='{showInactiveContactsURL}';"
    >
    <BR>
    {customerFolderLink}
    <br>
    {renewalLink}
    <BR>
    {passwordLink}
    <BR>
    {customerFolderLink}
    <br>
    {thirdPartyContactsLink}
    <br>
    <div id="reactCustomerEditMain" data-customer-id="{customerID}">

    </div>
</form>
<div id="validatingContactsModal">
    <p>Validating contacts</p>
</div>
{orders}

<!--Bootstrap CDN-->
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
>

<!--New Content-->


<!--Required Scripts-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>-->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"-->
<!--        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"-->
<!--        crossorigin="anonymous"-->
<!--&gt;</script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"-->
<!--        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"-->
<!--        crossorigin="anonymous"-->
<!--&gt;</script>-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
></script>

