<!-- Template: InvoiceDisplay.inc.html -->
<script>

    const autocompleteURL = "/Customer.php?action=searchName";
    window.addEventListener('DOMContentLoaded', function () {
        const itemIdInput = document.getElementById('itemID');
        const autocompleteItemElement = document.getElementById('autocompleteItem');
        let props = {
            autocompleteSelectedCallBack: (selectedItem) => {
                props.value = selectedItem.label;
                itemIdInput.value = selectedItem.value;
                document.renderTypeAheadComponent(props, autocompleteItemElement)
            },
            searchRequest: (term, itemsToShow, responseCB) => {
                fetch(
                        '/Item.php?action=SEARCH_ITEMS_JSON',
                        {
                            method: 'POST',
                            body: JSON.stringify({term: props.value, limit: itemsToShow + 1})
                        }
                )
                        .then(x => x.json())
                        .then(response => {
                            if (response.status !== 'ok') {
                                throw new Error(response.message);
                            }

                            responseCB(response.data.map(x => ({
                                label: x.description,
                                value: x.itemID,
                                curUnitCost: x.curUnitCost,
                                curUnitSale: x.curUnitSale,
                                supplierId: x.supplierId,
                                partNumber: x.partNo
                            })))
                        })
            },
            value: "",
            onInputChange: (value) => {
                props.value = value;
                document.renderTypeAheadComponent(props, autocompleteItemElement)
            },
            readOnly: false,
            showClear: false,
        }

        document.renderTypeAheadComponent(props, autocompleteItemElement);


        $('#customerName')[0].addEventListener('autocompleteselect', function ($event) {
            $('#customerID').val($event.detail.item.value);
        });
    });

    function validatesiteDesc() {
        if (Trim(document.getElementById("siteDesc").value) != "") {
            window.open(
                    '{urlSitePopup}&customerID=' + document.getElementById("customerID").value +
                    '&siteDesc=' + escape(document.getElementById("siteDesc").value) +
                    '&parentIDField=siteNo' +
                    '&parentDescField=siteDesc',
                    'address',
                    'scrollbars=yes,resizable=yes,width=500,height=550,copyhistory=no, menubar=0'
            )
        }
    }

    function checkFunctionKey(field) {
        if (event.keyCode == 120) {			// F9 - edit
            switch (field.id) {
                case "siteDesc":
                    if (document.getElementById("siteNo").value != "") {
                        window.open(
                                '{urlSiteEdit}&customerID={customerID}' +
                                '&siteNo=' + escape(document.getElementById("siteNo").value) +
                                '&parentIDField=siteNo' +
                                '&parentDescField=siteDesc',
                                'address', 'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0'
                        );
                    }
                    break;
            }
        }
        return;
    }

</SCRIPT>
<form name="customerItem"
      method="post"
      action="{urlSubmit}"
>
    <TABLE width="600px"
           border="0"
           cellpadding="1"
           cellspacing="1"
    >
        <tr>
            <td class="promptText">Item</td>
            <td class="field">
                <input
                        type="hidden"
                        name="customerItem[1][itemID]"
                        id="itemID"
                        value="{itemID}"
                />
                <div id="autocompleteItem"></div>
        </tr>
        <TR>
            <td class="promptText">Customer</td>
            <td><input
                    type="hidden"
                    name="customerItem[1][customerID]"
                    id="customerID"
                    value="{customerID}"
            />
                <input
                        type="text"
                        name="customerItem[1][customerName]"
                        id="customerName"
                        value="{customerName}"
                        size="50"
                        maxlength="50"
                        customer-search
                > <span class="formErrorMessage">{customerNameMessage}</span></td>
        </TR>
        <TR>
            <TD class="promptText">Site</TD>
            <TD class="displayfield">
                <input
                        type="hidden"
                        name="customerItem[1][siteNo]"
                        id="siteNo"
                        value="{siteNo}"
                />
                <input
                        type="text"
                        id="siteDesc"
                        value="{siteDesc}"
                        onKeydown="javascript:checkFunctionKey(siteDesc)"
                        onChange="javascript:validatesiteDesc()"
                        {DISABLED}
                >
                <span class="formErrorMessage">{siteDescMessage}</span></TD>
        </TR>
        <TR>
            <TD class="promptText">Serial Number</TD>
            <TD class="field"><input
                    type="text"
                    id="serialNo"
                    name="customerItem[1][serialNo]"
                    value="{serialNo}"
            >
                <span class="formErrorMessage">{serialNoMessage}</span></TD>
        </TR>
        <tr>
            <td valign="top"
                class="promptText"
            >&nbsp;
            </td>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="2">
                <input type="submit"
                       name="Update"
                       value="Save"
                ></td>
        </tr>
    </table>
</form>
