<div class="reportSection">
    <h3>Client Portal/Main Contact(s)</h3>

    <div>
        {mainContacts}
    </div>

    <div>
        {contracts}
    </div>

    <div>
        {24HourFlag}
    </div>

    <div>
        <h2>P1 Incidents in the Last Month</h2>
        {p1Incidents}
    </div>
    <div>
        <h2>Starters and Leavers</h2>
        {startersAndLeavers}
    </div>
    <div>
        {thirdPartyServerAccess}
    </div>
    <div>
        {reviewMeetingFrequency}
    </div>

    {customerReviewMeetingText}

    <h2>New Offices / Office Moves</h2>

    <p>Are you planning to open any new or relocate offices in the next 6 months?</p>

    <!-- BEGIN managementReviewBlock -->
    <h2><a href="http://cncapps/{urlServiceRequest}" target="_blank">{reviewHeading}</a></h2>
    <h2>{managementReviewText}</h2>
    <!-- END managementReviewBlock -->

    <h2>A.O.B.</h2>
</div>