<table>
    <thead>
    <tr>
        <th></th>
        <th>Qty</th>
        <th>Average Time in Minutes Per User Account</th>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN startersBlock -->
    <tr>
        <td>Starters</td>
        <td>{startersQty}</td>
        <td>{startersAvgMinutes}</td>
    </tr>
    <!-- END startersBlock -->
    <!-- BEGIN leaversBlock -->
    <tr>
        <td>Leavers</td>
        <td>{leaversQty}</td>
        <td>{leaversAvgMinutes}</td>
    </tr>
    <!-- END leaversBlock -->
     <!-- BEGIN starterPCInstallationBlock -->
     <tr>
        <td>Starter with PC Installation</td>
        <td>{PCInstallationQty}</td>
        <td>{PCInstallationAvgMinutes}</td>
    </tr>
    <!-- END starterPCInstallationBlock -->
    </tbody>
</table>