<div id="reactReviewList" name="reactReviewList"></div>
<!-- <H2>Daily Call List</H2>


<style>
    .details-pane {
        display: none;
        color: #414141;
        background: #f1f1f1;
        border: 1px solid #a9a9a9;
        position: absolute;
        z-index: 99999;
        left: -50%;
        width: 530px;
        padding: 6px 8px;
        text-align: left;
        -webkit-box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.4);
        box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.4);
    }

    .withDetails:hover + .details-pane {
        display: block;
    }

    .details-pane:hover {
        display: block;
    }
</style>
<script>

    window.addEventListener('DOMContentLoaded', function () {

        dataTable = $('#dataTable').DataTable({
            dom: 'lrtip',
            columns: [
                {
                    data: "customerName", name: 'customerName', render: (data, type, row) => {
                        if (!data) {
                            return '';
                        }
                        const anchor = document.createElement("a");
                        anchor.href = "/CustomerCRM.php?action=displayEditForm&customerID=" + row.customerId;
                        anchor.text = data;
                        anchor.target = '_blank'
                        return anchor.outerHTML;
                    }
                },
                {data: 'contactName', name: 'contactName'},
                {
                    data: 'contactEmail', name: 'contactEmail', render: data => {
                        if (!data) {
                            return '';
                        }

                        const anchor = document.createElement('a');
                        anchor.href = "mailto:" + data;
                        anchor.text = data;
                        return anchor.outerHTML;
                    }
                },
                {
                    data: 'contactPhone', name: 'contactPhone', render: data => {
                        if (!data) {
                            return '';
                        }
                        const anchor = document.createElement('a');
                        anchor.href = "tel:" + data;
                        anchor.text = data;
                        return anchor.outerHTML;
                    }
                },
                {
                    data: 'leadStatus', name: 'leadStatus'
                },
                {
                    data: "reviewDate", name: "reviewDate", render: data => {
                        if (!data) {
                            return '';
                        }
                        return moment(data, 'YYYY-MM-DD').format('DD/MM/YYYY');
                    }
                },
                {data: 'reviewTime', name: 'reviewTime'},
                {
                    data: "latestUpdate", name: 'latestUpdate', render: data => {
                        if (!data) {
                            return '';
                        }
                        return '<div style="position: relative"><div class="withDetails">' + data.substring(0, 50) + '</div><div class="details-pane">' + data + '</div></div>'

                    }
                },
                {data: "reviewUserName", name: "reviewUserName"},
            ],
            order: [[5, 'desc'], [6, 'asc']],
            pageLength: 25,
            serverSide: true,
            ajax: {
                url: "?action=getData",
                type: "GET",
                dataSrc: (response) => {
                    spinnerComponent.hideSpinner();
                    return response.data;
                },
                data: (data) => {
                    spinnerComponent.showSpinner();
                    return data;
                }
            },
        });
    })
</script>-->
<!-- Template: CustomerReviewList.inc.html -->
<!--<table class="singleBorder oddRows"
       border="0"
       cellspacing="1"
       cellpadding="1"
       id="dataTable"
>
    <thead>
    <tr>
        <th class="listHeadText"
            scope="col"
        >
            Customer
        </th>
        <th class="listHeadText">
            Contact
        </th>
        <th class="listHeadText">
            Email
        </th>
        <th class="listHeadText">
            Phone
        </th>
        <th class="listHeadText">
            Status
        </th>
        <th class="listHeadText"
            scope="col"
        >
            Date
        </th>
        <th class="listHeadText"
            scope="col"
        >
            Time
        </th>
        <th class="listHeadText"
            scope="col"
        >
            Latest Update
        </th>
        <th class="listHeadText"
            scope="col"
        >
            User
        </th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table> -->
<!--  &lt;!&ndash; BEGIN reviewBlock &ndash;&gt;-->
<!--	<tr valign="top" onMouseOver="this.bgColor='#FFFFCC';" onMouseOut="this.bgColor='';">-->
<!--    <td nowrap="nowrap" class="listItemText"><a href="{linkURL}" target="_blank">{customerName}</a></td>-->
<!--    <td nowrap="nowrap" class="listItemText">{reviewDate}</td>-->
<!--    <td nowrap="nowrap" class="listItemText">{reviewTime}</td>-->
<!--    <td nowrap="nowrap" class="listItemText">{reviewAction}</td>-->
<!--    <td nowrap="nowrap" class="listItemText">{reviewUser}</td>-->
<!--  </tr>-->
