<!-- Template: InvoiceDisplay.inc.html -->
<script language='JavaScript'
        src="CommonJS.js"
></script>

<script language='JavaScript'>

    const autocompleteURL = "/Customer.php?action=searchName";
    window.addEventListener('DOMContentLoaded', function () {
        window.secondsiteValidationSuspendUntilDate = $('#secondsiteValidationSuspendUntilDate').get(0);
        window.sOrderDate = $('#sOrderDate').get(0);
        $('#customerName')[0].addEventListener('autocompleteselect', function ($event) {
            $('#customerID').val($event.detail.item.value);
        });
    });

    function validatesiteDesc() {
        if (Trim(document.getElementById("siteDesc").value) != "") {
            window.open(
                '{urlSitePopup}&customerID={customerID}' +
                '&siteDesc=' + escape(document.getElementById("siteDesc").value) +
                '&parentIDField=siteNo' +
                '&parentDescField=siteDesc',
                'address',
                'scrollbars=yes,resizable=yes,width=500,height=550,copyhistory=no, menubar=0'
            )
        }
    }

    function checkFunctionKey(field) {
        if (event.keyCode == 120) {      // F9 - edit
            switch (field.id) {
                case "itemDescription":
                    if (document.getElementById("itemID").value != "0") {
                        window.open(
                            '{urlItemEdit}&itemID=' +
                            escape(document.getElementById("itemID").value) +
                            '&parentIDField=itemID' +
                            '&parentDescField=itemDescription',
                            'item',
                            'scrollbars=yes,resizable=yes,width=500,height=550,copyhistory=no, menubar=0'
                        );
                    }
                    break;
                case "siteDesc":
                    if (document.getElementById("siteNo").value != "") {
                        window.open(
                            '{urlSiteEdit}&customerID={customerID}' +
                            '&siteNo=' + escape(document.getElementById("siteNo").value) +
                            '&parentIDField=siteNo' +
                            '&parentDescField=siteDesc',
                            'address', 'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0'
                        );
                    }
                    break;
            }
        }

    }

    function validateItemDescription() {
        if (Trim(document.getElementById("itemDescription").value) != "") {
            window.open('{urlItemPopup}&itemDescription=' +
                escape(document.getElementById("itemDescription").value) +
                '&parentIDField=itemID' +
                '&parentSlaResponseHoursField=slaResponseHours' +
                '&parentDescField=itemDescription',
                'items', 'scrollbars=yes,resizable=no,width=450,height=400,copyhistory=no, menubar=0')
        }
    }


</script>
<TABLE width="106"
       border="0"
       cellpadding="2"
       cellspacing="1"
>
    <TR>
        <TD width="100px"
            class="navigateLink"
            valign="top"
        ><a href="{urlDeleteInvoice}"
            onClick="if(!confirm('Are you sure you want to remove this invoice?')) return(false)"
        >{txtDeleteCustomerItem}</a>
        </TD>
    </TR>
</table>
<form name="customerItem"
      method="post"
      action="{urlSubmit}"
>
    <!-- the next 2 are dummies to stop item selection javascript from failing -->
    <input
            type="hidden"
            name="curUnitCost"
            id="curUnitCost"
            value=""
    >
    <input
            type="hidden"
            name="curUnitSale"
            value=""
    >
    <input
            type="hidden"
            name="qtyOrdered"
            id="qtyOrdered"
            value=""
    >
    <input
            type="hidden"
            name="customerItem[1][customerItemID]"
            id="customerItemID"
            value="{customerItemID}"
    >
    <input
            type="hidden"
            name="customerItem[1][siteNo]"
            id="siteNo"
            value="{siteNo}"
    >
    <input
            type="hidden"
            name="custItemRef"
            id="custItemRef"
            value="{custItemRef}"
    >
    <TABLE width="600px"
           border="0"
           cellpadding="1"
           cellspacing="1"
    >
        <tr>
            <td class="promptText">Customer Item No</td>
            <td class="field">{customerItemID}</td>
        </tr>
        <tr>
            <td class="promptText">Item</td>
            <td class="field"><input
                    type="hidden"
                    name="customerItem[1][itemID]"
                    id="itemID"
                    value="{itemID}"
            > <input
                    type="text"
                    {readonly}
                    name="customerItem[1][itemDescription]"
                    id="itemDescription"
                    value="{itemDescription}"
                    onChange="javascript:validateItemDescription()"
                    onKeydown="javascript:checkFunctionKey(itemDescription)"
                    size="70"
                    maxlength="70"
            > <font class="formErrorMessage">{descriptionMessage}</font></td>
        </tr>
        <tr>
            <td class="promptText">Part No</td>
            <td class="field">{partNo}</td>
        </tr>
        <TR>
            <td class="promptText">Customer</td>
            <td><input
                    type="hidden"
                    name="customerItem[1][customerID]"
                    id="customerID"
                    value="{customerID}"
            > <input
                    type="text"
                    {readonly}
                    name="customerItem[1][customerName]"
                    id="customerName"
                    value="{customerName}"
                    size="50"
                    maxlength="50"
                    customer-search
            > <span class="formErrorMessage">{customerNameMessage}</span></td>
        </TR>
        <TR>
            <TD class="promptText">Site</TD>
            <TD class="displayfield">
                <input
                        type="text"
                        {readonly}
                        id="siteDesc"
                        value="{siteDesc}"
                        onKeydown="javascript:checkFunctionKey(siteDesc)"
                        onChange="javascript:validatesiteDesc()"
                        size="50"
                        maxlength="50"
                >
            </TD>
        </TR>
        <TR>
            <TD class="promptText">Serial Number</TD>
            <TD class="field"><input
                    type="text"
                    {readonly}
                    id="serialNo"
                    name="customerItem[1][serialNo]"
                    value="{serialNo}"
            ></TD>
        </TR>
        <tr>
            <td class="promptText">Warranty</td>
            <td class="field"><select
                    {disabled}
                    type="text"
                    id="warrantyID"
                    name="customerItem[1][warrantyID]"
            >
                <option value="0">None</option>
                <!-- BEGIN warrantyBlock -->
                <option {warrantySelected}
                        value="{warrantyID}"
                >{warrantyDescription}
                </option>
                <!-- END warrantyBlock -->
            </select></td>
        </tr>
        <TR>
            <TD class="promptText">Server Name</TD>
            <TD class="field">

                <input
                        type="text"
                        name="customerItem[1][serverName]"
                        id="customerItem[1][serverName]"
                        value="{serverName}"
                        {readonly}
                        size="50"
                        maxlength="50"
                >

            </TD>
        </TR>
        <tr>
            <td class="promptText">Bypass CWA Agent Check</td>
            <td colspan="2">
                <input
                        name="customerItem[1][bypassCWAAgentCheck]"
                        type="checkbox"
                        {bypassCWAAgentCheckChecked}
                        {readonly}
                        value="1"
                >
                Item is supported but can't have the CWA installed on it
            </td>
        </tr>

        <tr>
            <td class="promptText">Exclude Offsite Backup check</td>
            <td colspan="2">
                <input
                        name="customerItem[1][secondsiteLocalExcludeFlag]"
                        id="secondsiteLocalExcludeFlag"
                        type="checkbox"
                        {secondsiteLocalExcludeFlagChecked}
                        {readonly}
                        value="Y"
                >
            </td>
        </tr>

        <tr id="secondSiteReplicationExcludeFlagRow">
            <td class="promptText">Exclude Offsite Backup Replication check</td>
            <td colspan="2">
                <input
                        name="customerItem[1][secondSiteReplicationExcludeFlag]"
                        id="secondSiteReplicationExcludeFlag"
                        type="checkbox"
                        {secondSiteReplicationExcludeFlagChecked}
                        {readonly}
                        value="Y"
                >
            </td>
        </tr>

        <tr>
            <td class="promptText">Offsite Backup Checks Suspended Until</td>
            <td colspan="2">
                <input
                        name="customerItem[1][secondsiteValidationSuspendUntilDate]"
                        id="secondsiteValidationSuspendUntilDate"
                        type="date"
                        placeholder="d/m/y"
                        title="Validation is suspended until this date. Leave blank if active"
                        {secondsiteReadonly}
                        {readonly}
                        value="{secondsiteValidationSuspendUntilDate}"
                        size="10"
                        maxlength="10"
                        autocomplete="off"
                >
                <font class="formErrorMessage">{secondsiteValidationSuspendUntilDateMessage}</font>
                {offsiteBackupSuspendedByText}
            </td>
        </tr>
        <tr>
            <td class="promptText">Offsite Replication Checks Suspended Until</td>
            <td colspan="2">
                <input name="customerItem[1][offsiteReplicationValidationSuspendedUntilDate]"
                       id="offsiteReplicationValidationSuspendedUntilDate"
                       type="date"
                       placeholder="d/m/y"
                       title="Replication validation is suspended until this date. Leave blank if active"
                       {secondsiteReadonly}
                       {readonly}
                       value="{offsiteReplicationValidationSuspendedUntilDate}"
                       size="10"
                       maxlength="10"
                       autocomplete="off"
                >
                <font class="formErrorMessage">{offsiteReplicationValidationSuspendedUntilDateMessage}</font>
                {offsiteReplicationSuspendedByText}
            </td>
        </tr>

        <tr>
            <td class="promptText">Offsite Backup images</td>
            <td>
                <a href="{addSecondsiteImageUrl}">{addSecondsiteImageText}</a>
                <table class="content"
                       border="0"
                       cellpadding="2"
                       cellspacing="1"
                >
                    <tr>
                        <td>Name</td>
                        <td>Status</td>
                        <td>Backup Image Time</td>
                        <td>Backup Age(Days)</td>
                        <td>Replication Age(Days)</td>
                        <td class="headerLightgrey">&nbsp;</td>
                    </tr>
                    <!-- BEGIN secondsiteImageBlock -->
                    <tr>
                        <td class="content">{imageName}</td>
                        <td class="contentWrap">{status}</td>
                        <td class="content">{imageTime}</td>
                        <td class="content">{imageAgeDays}</td>
                        <td class="content">{replicationImageAgeDays}</td>
                        <td class="content"><A href="{editSecondsiteImageLink}">edit</A> <A
                                href="{deleteSecondsiteImageLink}"
                        >{deleteSecondsiteImageText}</A></td>
                    </tr>
                    <!-- END secondsiteImageBlock -->
                </table>
            </td>
        </tr>


        <tr>
            <td class="promptText">Offsite Backup Path</td>
            <td colspan="2">
                <input
                        name="customerItem[1][secondsiteLocationPath]"
                        id="secondsiteLocationPath"
                        type="text"
                        {secondsiteReadonly}
                        {readonly}
                        value="{secondsiteLocationPath}"
                        size="50"
                        maxlength="150"
                >
                <font class="formErrorMessage">{secondsiteLocationPathMessage}</font>
                <span class="formErrorMessage">{secondSiteLocationPathValidationText}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Offsite Backup Replication Path</td>
            <td colspan="2">
                <input
                        name="customerItem[1][secondSiteReplicationPath]"
                        id="secondSiteReplicationPath"
                        type="text"
                        {secondsiteReplicationReadonly}
                        {readonly}
                        value="{secondSiteReplicationPath}"
                        size="50"
                        maxlength="150"
                >
                <span class="formErrorMessage">{secondSiteReplicationPathMessage}</span>
                <span class="formErrorMessage">{secondSiteReplicationPathValidationText}</span>
            </td>
        </tr>

        <tr>
            <td class="promptText">Offsite Backup Image Check Delay Days</td>
            <td colspan="2">
                <select {secondsiteDisabled}
                        {disabled}
                        id="secondsiteImageDelayDays"
                        name="customerItem[1][secondsiteImageDelayDays]"
                >
                    <!-- BEGIN secondsiteImageDelayDaysBlock -->
                    <option {delayDaysSelected}
                            value="{delayDaysValue}"
                    >{delayDaysDescription}
                    </option>
                    <!-- END secondsiteImageDelayDaysBlock -->
                </select>
                <font class="formErrorMessage">{secondsiteImageDelayDaysMessage}</font>
                {imageDelayByText}
            </td>
        </tr>
        <tr>
            <td class="promptText">Server Used Space</td>
            <td colspan="2">
                {serverUsedSpace}
            </td>
        </tr>

        <TR>
            <TD class="promptText"> Sales Order</TD>
            <TD class="field"><input
                    type="text"
                    id="ordheadID"
                    name="customerItem[1][ordheadID]"
                    {readonly}
                    value="{ordheadID}"
                    size="10"
                    maxlength="10"
            > <font class="formErrorMessage">{ordheadIDMessage}</font></TD>
        </TR>
        <TR>
            <TD class="promptText">SO Date</TD>
            <TD class="field">
                <input {readonly}
                       type="date"
                       id="sOrderDate"
                       name="customerItem[1][sOrderDate]"
                       value="{sOrderDate}"
                       size="10"
                       maxlength="10"
                       autocomplete="off"
                >
                <font class="formErrorMessage">{sOrderDateMessage}</font>
            </TD>
        </TR>
        <TR>
            <TD class="promptText">Purchase Order</TD>
            <TD class="field"><input
                    type="text"
                    id="porheadID"
                    name="customerItem[1][porheadID]"
                    value="{porheadID}"
                    {readonly}
                    size="10"
                    maxlength="10"
            > <font class="formErrorMessage">{porheadIDMessage}</font></TD>
        </TR>
        <tr>
            <td valign="top"
                class="promptText"
            >Internal Notes
            </td>
            <td colspan="2">
                <textarea {readonly}
                          cols="80"
                          rows="10"
                          name="customerItem[1][internalNotes]"
                >{internalNotes}</textarea>
            </td>
        </tr>
        <tr>
            <td class="promptText">Contracts</td>
            <td class="field">
            <td>&nbsp;</td>
            <!-- BEGIN contractBlock -->
        <tr>
            <td>&nbsp;</td>
            <td>
                <input
                        type="checkbox"
                        name="contractID[{contractID}]"
                        {contractSelected}
                        {readonly}
                        {disabled}
                        value="{contractID}"
                >
                {contractDescription}
            </td>
        </tr>
        <!-- END contractBlock -->
        <tr>
            <td valign="top"
                class="promptText"
            >Notes
            </td>
            <td colspan="2">
                <textarea {readonly}
                          cols="80"
                          rows="10"
                          name="customerItem[1][customerItemNotes]"
                >{customerItemNotes}</textarea>
            </td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td colspan="2">
                <input type="submit"
                       name="Update"
                       value="Save"
                >
                <a href="{urlDelete}"
                   title="Delete customer item"
                   onClick="if(!confirm('Are you sure you want to delete this record?')) return(false)"
                >{txtDelete}</a>
            </td>
        </tr>
    </table>
</form>
</td>
</tr>
</table>
<script type="text/javascript">
    window.addEventListener('DOMContentLoaded', function () {

        const backupPermission = {offsiteBackupDelayDisable};

        if (!backupPermission) {
            $('select#secondsiteImageDelayDays').attr("disabled", true);
            $("input#secondsiteLocalExcludeFlag").attr('disabled', true);
            $("input#secondSiteReplicationExcludeFlag").attr('disabled', true);
        }


        if ({secondsiteLocalExcludeFlagShow} == 0) {
            $("tr#secondsiteLocalExcludeFlag").hide();
        }

        if ({secondSiteReplicationExcludeFlagShow} == 0) {
            $("#secondSiteReplicationExcludeFlagRow").hide();
        }

        $("input#secondsiteLocalExcludeFlag").click(function () {
            if ($(this).is(':checked')) {
                $('input#secondSiteValidationSuspendUntilDate,input#secondsiteServerDriveLetters,input#secondsiteLocationPath').attr("readonly", true);
                $('select#secondsiteImageDelayDays').attr("disabled", true);
            } else {
                $('input#secondSiteValidationSuspendUntilDate,input#secondsiteServerDriveLetters,input#secondsiteLocationPath').attr("readonly", false);
                if (backupPermission) {
                    $('select#secondsiteImageDelayDays').attr("disabled", false);
                }
            }
        });
        $("input#secondSiteReplicationExcludeFlag").click(function () {
            if ($(this).is(':checked')) {
                $('input#secondSiteReplicationPath').attr("readonly", true);
            } else {
                $('input#secondSiteReplicationPath').attr("readonly", false);
            }
        });

    });
</script>