{contracts}
<h2>P1 Incidents in the Last Month</h2>
{p1Incidents}
<h2>Starters and Leavers - {reportDate}</h2>
{startersAndLeavers}
<h2>Starter with PC Installation</h2>
{startersPCInstallation}
{reviewMeetingFrequency}
{customerReviewMeetingText}
<h2>New Offices / Office Moves</h2>
<p>Are you planning to open any new or relocate offices in the next 6 months?</p>
<!-- BEGIN managementReviewBlock -->
<h3>
    <a href="{urlServiceRequest}"
       target="_blank"
    >{reviewHeading}</a>
</h3>
<p>{managementReviewText}</p>
<!-- END managementReviewBlock -->
<h2>A.O.B.</h2>