<!-- Template: CustomerEdit.inc.html -->
<script type="text/JavaScript">
    <!--


    function MM_jumpMenu(targ, selObj, restore) { //v3.0
        window.open(selObj.options[selObj.selectedIndex].value, targ);
        if (restore) selObj.selectedIndex = 0;
    }

    //-->
</script>
<SCRIPT TYPE="text/javascript">
    <!--
    function popup(mylink, windowname) {
        if (!window.focus) return true;
        var href;
        if (typeof(mylink) == 'string')
            href = mylink;
        else
            href = mylink.href;
        window.open(href, windowname, 'width=400,height=200,scrollbars=yes');
        return false;
    }

    //-->
</SCRIPT>

<form name="form" method="post" action="{submitURL}" AUTOCOMPLETE="off">
    <input type="hidden" name="form[customer][{customerID}][customerID]" value="{customerID}">
    <input type="hidden" name="form[customer][{customerID}][createDate]" value="{createDate}">
    <table width="100%" border="0" cellspacing="0" cellpadding="1">
        <tr>
            <td colspan="21" align="left">
                <table width="100%" border="0" cellspacing="0" cellpadding="1">
                    <tr>
                        <td width="5%" class='tableHeader'> {customerID}</td>
                        <td width="11%" class='{customerNameClass}'><input
                                {disabled}
                                name="form[customer][{customerID}][name]"
                                type="text"
                                value="{customerName}" size="35" maxlength="35"
                        ></td>
                        <td width="1%" class='tableHeader'>Reg</td>
                        <td width="3%" class='tableHeader'><input
                                name="form[customer][{customerID}][regNo]"
                                type="text"
                                value="{regNo}" size="10" maxlength="10"
                                {disabled}
                        ></td>
                        <td width="3%" class='tableHeader'>Mailshot</td>
                        <td width="1%" class='tableEditHeader'><input {disabled} type="checkbox"
                                                                      name="form[customer][{customerID}][mailshotFlag]"
                                                                      value="Y" {mailshotFlagChecked}></td>
                        <td width="3%" class='tableHeader'>Referred</td>
                        <td width="1%" class='tableEditHeader'><input {disabled} type="checkbox"
                                                                      name="form[customer][{customerID}][referredFlag]"
                                                                      value="Y" {referredFlagChecked}></td>
                        <td width="35%" class='tableHeader'>Prospect</td>
                        <td width="1%" class='tableEditHeader'><input {disabled} type="checkbox"
                                                                      name="form[customer][{customerID}][prospectFlag]"
                                                                      value="Y" {prospectFlagChecked}></td>
                        <td width="2%" class='tableHeader'> Type</td>
                        <td width="10%" class='tableEditHeader'><select {disabled}
                                                                        name="form[customer][{customerID}][customerTypeID]">
                            <!-- BEGIN customerTypeBlock -->
                            <option {customerTypeSelected} value="{customerTypeID}">{customerTypeDescription}</option>
                            <!-- END customerTypeBlock -->
                        </select></td>
                        <td width="2%" class='tableEditHeader'>GSC Top Up</td>
                        <td width="7%" class='tableEditHeader'>
                            <input
                                    name="form[customer][{customerID}][gscTopUpAmount]"
                                    type="text"
                                    value="{gscTopUpAmount}" size="10" maxlength="10"
                                    {disabled}
                            >
                            <a href="{deleteCustomerURL}"
                               onClick="if(!confirm('Are you sure you want to delete this customer?')) return(false)">{deleteCustomerText}</a>
                        </td>
                        <td width="2%" class='tableEditHeader'>PCs</td>
                        <td width="7%" class='tableEditHeader'>
                            <select
                                    {disabled}
                                    name="form[customer][{customerID}][noOfPCs]"
                            >
                                <!-- BEGIN noOfPCsBlock -->
                                <option {noOfPCsSelected} value="{noOfPCsValue}">{noOfPCsValue}</option>
                                <!-- END noOfPCsBlock -->
                            </select></td>
                        <td width="3%" class='tableEditHeader'>Servers</td>
                        <td width="3%" class='tableEditHeader'><input
                                name="form[customer][{customerID}][noOfServers]"
                                type="text"
                                value="{noOfServers}" size="10" maxlength="10"
                                {disabled}></td>
                    </tr>
                    <tr>
                        <td valign="top" class='tableEditHeader'>Comments</td>
                        <td colspan="8" class='tableEditHeader'><textarea
                                name="form[customer][{customerID}][comments]" cols="150" rows="10">{comments}</textarea>
                        </td>
                        <td class='tableEditHeader'>&nbsp;</td>
                        <td class='tableHeader'>&nbsp;</td>
                        <td class='tableEditHeader'>&nbsp;</td>
                        <td class='tableEditHeader'>&nbsp;</td>
                        <td class='tableEditHeader'>&nbsp;</td>
                        <td class='tableEditHeader'>&nbsp;</td>
                        <td class='tableEditHeader'>&nbsp;</td>
                        <td class='tableEditHeader'>&nbsp;</td>
                        <td class='tableEditHeader'>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="9" valign="top" class='tableEditHeader'><A href="{nominationFormURL}"
                                                                                onclick="return popup(this, 'nominate')">Create
                            Support Contact Nomination Form</A></td>
                        <td class='tableEditHeader'>&nbsp;</td>
                        <td class='tableHeader'>&nbsp;</td>
                        <td class='tableEditHeader'>&nbsp;</td>
                        <td class='tableEditHeader'>&nbsp;</td>
                        <td class='tableEditHeader'>&nbsp;</td>
                        <td class='tableEditHeader'>&nbsp;</td>
                        <td class='tableEditHeader'>&nbsp;</td>
                        <td class='tableEditHeader'>&nbsp;</td>
                        <td class='tableEditHeader'>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="22"><a href="{addSiteURL}">{addSiteText}</a></td>
        </tr>
        <!-- BEGIN siteBlock -->
        <tr>
            <td colspan="21" class='tableEditHeader'>
                <table width="100%" border="0" cellspacing="0" cellpadding="1">
                    <tr><a href="{deleteSiteURL}"
                           onClick="if(!confirm('Are you sure you want to delete this site?')) return(false)">{deleteSiteText}</a>
                        <td width="7%" class='tableHeader'><input {disabled} type="hidden"
                                                                  name="form[site][{customerID}{siteNo}][siteNo]"
                                                                  value="{siteNo}">
                            <input {disabled} type="hidden" name="form[site][{customerID}{siteNo}][customerID]"
                                   value="{customerID}">
                            <input {disabled} type="hidden" name="form[site][{customerID}{siteNo}][debtorCode]"
                                   value="{debtorCode}">
                            Add1
                        </td>
                        <td class='{add1Class}'><input
                                {disabled}
                                name="form[site][{customerID}{siteNo}][add1]"
                                value="{add1}"
                                size="20"
                                maxlength="35"
                        ></td>
                        <td class='tableHeader'>Add2</td>
                        <td class='tableEditHeader'><input
                                {disabled}
                                name="form[site][{customerID}{siteNo}][add2]"
                                value="{add2}"
                                size="20"
                                maxlength="35"
                        ></td>
                        <td class='tableHeader'>Add3</td>
                        <td class='tableEditHeader'><input
                                {disabled}
                                name="form[site][{customerID}{siteNo}][add3]"
                                value="{add3}"
                                size="20"
                                maxlength="35"
                        ></td>
                        <td class='tableHeader'>Town</td>
                        <td class='{townClass}'><input
                                {disabled}
                                name="form[site][{customerID}{siteNo}][town]"
                                value="{town}"
                                size="15"
                                maxlength="25"
                        ></td>
                        <td class='tableHeader'>County</td>
                        <td width="6%" class='tableEditHeader'><input
                                {disabled}
                                name="form[site][{customerID}{siteNo}][county]"
                                value="{county}"
                                size="15"
                                maxlength="25"
                        ></td>
                        <td class='tableHeader'>Postcode</td>
                        <td class='{postcodeClass}'><input
                                {disabled}
                                name="form[site][{customerID}{siteNo}][postcode]"
                                value="{postcode}"
                                size="10"
                                maxlength="15"
                        ></td>
                        <td class='tableHeader'>Phone</td>
                        <td class='tableEditHeader'><input
                                {disabled}
                                name="form[site][{customerID}{siteNo}][phone]"
                                value="{sitePhone}"
                                size="10"
                                maxlength="20"
                        ></td>
                        <td class='tableHeader'>Sage</td>
                        <td class='tableEditHeader'><input
                                {disabled}
                                name="form[site][{customerID}{siteNo}][sageRef]"
                                value="{sageRef}"
                                size="3"
                                maxlength="6"
                        ></td>
                        <td class='tableHeader'>Invoice</td>
                        <td class='tableEditHeader'><input {disabled} type="radio"
                                                           name="form[customer][{customerID}][invoiceSiteNo]"
                                                           value="{siteNo}" {invoiceSiteFlagChecked}></td>
                        <td class='tableHeader'>Delivery</td>
                        <td class='tableEditHeader'><input {disabled} type="radio"
                                                           name="form[customer][{customerID}][deliverSiteNo]"
                                                           value="{siteNo}" {deliverSiteFlagChecked}></td>
                        <td nowrap class='tableEditHeader'>Max Travel Hours</td>
                        <td class='tableEditHeader'><input name="form[site][{customerID}{siteNo}][maxTravelHours]"
                                                           type="text" size="3" maxlength="3" value="{maxTravelHours}"/>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class='tableHeader'>&nbsp;</td>
            <td class='tableHeader'>&nbsp;</td>
            <td class='tableHeader'>Title</td>
            <td class='tableHeader'>1st Name</td>
            <td class='tableHeader'>Last Name</td>
            <td class='tableHeader'>Phone</td>
            <td class='tableHeader'>Mobile</td>
            <td class='tableHeader'>Fax</td>
            <td class='tableHeader'>Email</td>
            <td class='tableHeader'>Invoice Contact</td>
            <td class='tableHeader'>Deliver Contact</td>
            <td class='tableHeader'>Send Mailshots</td>
            <td class='tableHeader'>{mailshot1FlagDesc}</td>
            <td class='tableHeader'>{mailshot2FlagDesc}</td>
            <td class='tableHeader'>{mailshot3FlagDesc}</td>
            <td class='tableHeader'>{mailshot4FlagDesc}</td>
            <td class='tableHeader'>{mailshot5FlagDesc}</td>
            <td class='tableHeader'>{mailshot6FlagDesc}</td>
            <td class='tableHeader'>{mailshot7FlagDesc}</td>
            <td class='tableHeader'>{mailshot8FlagDesc}</td>
            <td class='tableHeader'>{mailshot9FlagDesc}</td>
            <td class='tableHeader'>{mailshot10FlagDesc}</td>
        </tr>
        <tr>
            <td colspan="22"><a href="{addContactURL}">{addContactText}</a></td>
        </tr>
        <!-- BEGIN contactBlock -->
        <tr>
            <td>&nbsp;{deleteContactLink}</td>
            <td>
                <select name="letters_menu" onchange="MM_jumpMenu('_blank',this,0)">
                    <option>Send Letter</option>
                    <option value="{clientFormURL}">Appointment</option>
                    <option value="{dearJohnURL}">Dear John</option>
                    <option value="{introductionURL}">Introduction</option>
                    <option value="{dmLetterURL}">DM</option>
                </select>
            </td>
            <td><input {disabled} type="hidden" name="form[contact][{contactID}][contactID]" value="{contactID}">
                <input {disabled} type="hidden" name="form[contact][{contactID}][siteNo]" value="{siteNo}">
                <input {disabled} type="hidden" name="form[contact][{contactID}][customerID]" value="{customerID}">
                <input {disabled} type="hidden" name="form[contact][{contactID}][supplierID]" value="{supplierID}">
                <input {disabled} type="hidden" name="form[contact][{contactID}][discontinuedFlag]"
                       value="{discontinuedFlag}">
                <input
                        {disabled}
                        name="form[contact][{contactID}][title]"
                        size="2"
                        maxlength="10"
                        value="{title}"
                ></td>
            <td><input
                    {disabled}
                    name="form[contact][{contactID}][firstName]"
                    size="10"
                    maxlength="25"
                    value="{firstName}"
            ></td>
            <td><input
                    {disabled}
                    name="form[contact][{contactID}][lastName]"
                    size="15"
                    maxlength="35"
                    value="{lastName}"
            ></td>
            <td><input
                    {disabled}
                    name="form[contact][{contactID}][phone]"
                    size="15"
                    maxlength="20"
                    value="{phone}"
            ></td>
            <td><input
                    {disabled}
                    name="form[contact][{contactID}][mobilePhone]"
                    size="15"
                    maxlength="20"
                    value="{mobilePhone}"
            ></td>
            <td><input
                    {disabled}
                    name="form[contact][{contactID}][fax]"
                    size="15"
                    maxlength="20"
                    value="{fax}"
            ></td>
            <td><input
                    {disabled}
                    name="form[contact][{contactID}][email]"
                    size="25"
                    maxlength="60"
                    value="{email}"
            ></td>
            <td><input {disabled} type="radio" name="form[site][{customerID}{siteNo}][invoiceContactID]"
                       value="{contactID}" {invoiceContactFlagChecked}></td>
            <td><input {disabled} type="radio" name="form[site][{customerID}{siteNo}][deliverContactID]"
                       value="{contactID}" {deliverContactFlagChecked}>
            </td>
            <td><input {disabled} type="checkbox" name="form[contact][{contactID}][sendMailshotFlag]" value="Y"
                       {sendMailshotFlagChecked}></td>
            <td><input {disabled} type="checkbox" name="form[contact][{contactID}][mailshot1Flag]" value="Y"
                       {mailshot1FlagChecked}></td>
            <td><input {disabled} type="checkbox" name="form[contact][{contactID}][mailshot2Flag]" value="Y"
                       {mailshot2FlagChecked}></td>
            <td><input {disabled} type="checkbox" name="form[contact][{contactID}][mailshot3Flag]" value="Y"
                       {mailshot3FlagChecked}></td>
            <td><input {disabled} type="checkbox" name="form[contact][{contactID}][mailshot4Flag]" value="Y"
                       {mailshot4FlagChecked}></td>
            <td><input {disabled} type="checkbox" name="form[contact][{contactID}][mailshot5Flag]" value="Y"
                       {mailshot5FlagChecked}></td>
            <td><input {disabled} type="checkbox" name="form[contact][{contactID}][mailshot6Flag]" value="Y"
                       {mailshot6FlagChecked}></td>
            <td><input {disabled} type="checkbox" name="form[contact][{contactID}][mailshot7Flag]" value="Y"
                       {mailshot7FlagChecked}></td>
            <td><input {disabled} type="checkbox" name="form[contact][{contactID}][mailshot8Flag]" value="Y"
                       {mailshot8FlagChecked}></td>
            <td><input {disabled} type="checkbox" name="form[contact][{contactID}][mailshot9Flag]" value="Y"
                       {mailshot9FlagChecked}></td>
            <td><input {disabled} type="checkbox" name="form[contact][{contactID}][mailshot10Flag]" value="Y"
                       {mailshot10FlagChecked}></td>
        </tr>
        <!-- END contactBlock -->
        <!-- END siteBlock -->
        <tr>
            <td colspan="22"><input {disabled} type="submit" name="Go" value="Save"> <input name="Button" type="button"
                                                                                            value="Cancel"
                                                                                            onClick="document.location='{cancelURL}';">
            </td>
        </tr>
    </table>
</form>
<BR/>
<table class="singleBorder" width="750px" border="0" cellspacing="1" cellpadding="1">
    <tr>
        <td width="50px" class="listHeadText">Order No</td>
        <td width="100px" class="listHeadText">Type</td>
        <td width="50px" class="listHeadText">Date</td>
        <td width="250px" class="listHeadText">Cust PO Ref</td>
        <td width="50px" class="listHeadText">Contract</td>
    </tr>
    <!-- BEGIN orderBlock -->
    <tr
            onmousedown="setPointer(this, {rowNum}, 'click', '#FFFFFF', '#FFFFCC', '#FFCC99');"
            onmouseover="setPointer(this, {rowNum}, 'over', '#FFFFFF', '#FFFFCC', '#FFCC99');"
            onmouseout="setPointer(this, {rowNum}, 'out', '#FFFFFF', '#FFFFCC', '#FFCC99');"
    >
        <td class="listItemText"><a href="{orderURL}" target="_blank">{ordheadID}</a></td>
        <td class="listItemText">{orderType}</td>
        <td class="listItemText">{orderDate}</td>
        <td class="listItemText">{custPORef}</td>
        <td class="listItemText"><a href="{listContractURL}">{contract}</a></td>
    </tr>
    <!-- END orderBlock -->
</table>
<!-- End Template: CustomerEdit.inc.html -->