<!-- Template: CustomerEdit.inc.html -->
<script language='JavaScript' src='.javascript/ajax.js'></script>
<script src="ckeditor/ckeditor.js"></script>
<script type="text/JavaScript">

    $(function () {
        window.specialAttentionEndDate = $('#specialAttentionEndDate').get(0);
        window.lastReviewMeetingDate = $('#lastReviewMeetingDate').get(0);
        window.reviewDate = $('#reviewDate').get(0);
        window.meetingDate = $('#meetingDate').get(0);
    });
    window.onbeforeunload = bunload;

    function bunload() {
        if (customerNotesChanged) {
            return 'You haven\'t saved your notes';
        }
    }

    function setCaretPosition(elemId, caretPos) {
        var elem = document.getElementById(elemId);

        if (elem != null) {
            if (elem.createTextRange) {
                var range = elem.createTextRange();
                range.move('character', caretPos);
                range.select();
            }
            else {
                if (elem.selectionStart) {
                    elem.focus();
                    elem.setSelectionRange(caretPos, caretPos);
                }
                else
                    elem.focus();
            }
        }
    }

    var customerNotesChanged = false;

    function setCustomerNotesChanged() {

        customerNotesChanged = true;

    }

    function MM_jumpMenu(targ, selObj, restore) { //v3.0
        window.open(selObj.options[selObj.selectedIndex].value, targ);
        if (restore) selObj.selectedIndex = 0;
    }

    function loadNote(noteIdentifier) {

        var customerID = document.getElementById('customerID').value;

        if (customerID == 0) {
            return;
        }

        if (customerNotesChanged) {
            if (!confirm('You haven\'t saved your notes. Are you sure you want to move away?')) {
                return
            }
        }

        customerNotesChanged = false;

        var created = document.getElementById('customerNoteCreated').value;
        var url = "CustomerNote.php?action=getCustomerNote&customerID=" + customerID + "&created=" + created + "&identifier=" + noteIdentifier;

        loadXMLDoc(url);

    }

    function newNote() {

        var customerNoteID = document.getElementById('customerNoteID');
        var customerNoteOrdheadID = document.getElementById('customerNoteOrdheadID');
        var customerNoteDetails = document.getElementById('customerNoteDetails');
        var customerNoteModifiedText = document.getElementById('customerNoteModifiedText');

        customerNoteID.value = '';
        customerNoteOrdheadID.value = '';
        customerNoteDetails.value = '';
        customerNoteModifiedText.innerHTML = '';

    }

    function deleteNote() {
        var customerID = document.getElementById('customerID').value;
        var customerNoteID = document.getElementById('customerNoteID');

        if (customerNoteID.value == '') {
            return;
        }

        if (!confirm('Are you sure you want to delete this note?')) {
            return;
        }

        customerNotesChanged = false;

        var customerNoteDetails = document.getElementById('customerNoteDetails');
        var customerNoteModifiedText = document.getElementById('customerNoteModifiedText');

        var url = "CustomerNote.php?action=deleteCustomerNote&customerNoteID=" + customerNoteID.value;

        loadXMLDoc(url);

        customerNoteID.value = '';
        customerNoteDetails.value = '';
        customerNoteModifiedText.innerHTML = 'Note Deleted';

    }

    function saveNote() {

        var customerID = document.getElementById('customerID').value;

        if (customerID == 0) {
            return;
        }

        var customerNoteID = document.getElementById('customerNoteID').value;
        var customerNoteOrdheadID = document.getElementById('customerNoteOrdheadID').value;
        var details = encodeURIComponent(document.getElementById('customerNoteDetails').value);

        var url = "CustomerNote.php?action=updateNote&customerNoteID=" +
            customerNoteID + "&ordheadID=" + customerNoteOrdheadID + "&customerID=" + customerID + "&details=" + details;

        customerNotesChanged = false;

        loadXMLDoc(url);

    }

    function contactPopup(contactID, action, customerID, siteNo) {
        window.open(
            '{urlContactPopup}' +
            '&action=' + action +
            '&contactID=' + contactID +
            '&customerID=' + customerID +
            '&siteNo=' + siteNo +
            '&parentIDField=none' +
            '&parentDescField=none',
            'contact',
            'scrollbars=yes,resizable=yes,height=700,width=500,copyhistory=no, menubar=0'
        );
    }

    function checkMailShotOptions() {
        var x = document.getElementsByClassName('stmCheckBox');

        console.log(x);

        var count = 0;
        var i = 0;
        do {
            if (x[i].checked) {
                count++;
            }

            i++;
        } while (count < 2 && i < x.length);

        if (count > 1) {
            alert('There cannot be more than one "stm" option selected');
            return false
        }

        return true;
    }

    $(function () {


        loadNote('first');
    })
    //-->
</script>
<script language='JavaScript' src='popcalendar/popcalendar.js'></script>
<span class="formError">{errorMessage}</span>
<a href="{deleteCustomerURL}" onClick="if(!confirm('Are you sure you want to delete this customer?')) return(false)">{deleteCustomerText}</a>
<form name="form" method="post" action="{submitURL}" AUTOCOMPLETE="off" onsubmit="return checkMailShotOptions()">
    <input type="hidden" id="customerID" name="form[customer][{customerID}][customerID]" value="{customerID}">
    <input type="hidden" name="form[customer][{customerID}][createDate]" value="{createDate}">
    <input type="hidden" name="form[customer][{customerID}][regNo]" value="{regNo}" size="10" maxlength="10">
    <input
            name="form[customer][{customerID}][gscTopUpAmount]"
            type="hidden"
            value="{gscTopUpAmount}"
    >
    <input
            name="customerNoteID"
            id="customerNoteID"
            type="hidden"
            value="{customerNoteID}"
    >
    <input
            name="customerNoteOrdheadID"
            id="customerNoteOrdheadID"
            type="hidden"
            value="{customerNoteOrdheadID}"
    >
    <input
            name="customerNoteCreated"
            id="customerNoteCreated"
            type="hidden"
            value="{customerNoteCreated}"
    >
    <input
            name="customerNoteModified"
            id="customerNoteModified"
            type="hidden"
            value="{customerNoteModified}"
    >
    <input
            name="form[customer][{customerID}][reviewMeetingEmailSentFlag]"
            id="reviewMeetingEmailSentFlag"
            type="hidden"
            value="{reviewMeetingEmailSentFlag}"
    >

    <input {disabled} type="submit" name="Go" value="Save">
    <input {disabled} name="Button" type="button" value="Cancel" onClick="document.location='{cancelURL}';">
    <input {disabled} name="displayInactiveSites" type="button" value="Show Inactive Sites"
           onClick="document.location='{showInactiveSitesURL}';">
    <input {disabled} name="displayInactiveContacts" type="button" value="Show Inactive Contacts"
           onClick="document.location='{showInactiveContactsURL}';">
    <BR/>
    {customerFolderLink}<BR/>
    {renewalLink}<BR/>
    {passwordLink}<BR/>

    <div class="customerEditMain">

        <div class="customerEditMainLeftColumn">

            <table class="content" border="0" cellpadding="2" cellspacing="1" width="100%">
                <tr valign="top">
                    <td class="content" width="13%">Customer {customerID}</td>
                    <td class="content">
                        <input
                                {disabled}
                                name="form[customer][{customerID}][name]"
                                type="text"
                                value="{customerName}" size="35" maxlength="35"
                        >
                    </td>

                </tr>
                <tr>
                    <td class="content">Type</td>
                    <td class="content">
                        <select {disabled} name="form[customer][{customerID}][customerTypeID]">
                            <!-- BEGIN customerTypeBlock -->
                            <option {customerTypeSelected} value="{customerTypeID}">{customerTypeDescription}</option>
                            <!-- END customerTypeBlock -->
                        </select></td>
                </tr>
                <tr>
                    <td class="content">PCs</td>
                    <td class="content">
                        <select
                                {disabled}
                                name="form[customer][{customerID}][noOfPCs]"
                        >
                            <!-- BEGIN noOfPCsBlock -->
                            <option {noOfPCsSelected} value="{noOfPCsValue}">{noOfPCsValue}</option>
                            <!-- END noOfPCsBlock -->
                        </select></td>
                </tr>
                <tr>
                    <td class="content">Servers</td>
                    <td class="content">
                        <input
                                name="form[customer][{customerID}][noOfServers]"
                                type="text"
                                value="{noOfServers}" size="10" maxlength="10"
                                {disabled}></td>
                </tr>
            </table>

        </div> <!-- customerEditMainLeftColumn -->

        <div class="customerEditMainRightColumn">

            <div class="customerReviewTime">
                To be reviewed on
                <input
                        {disabled}
                        type="text"
                        name="form[customer][{customerID}][reviewDate]"
                        id="reviewDate"
                        value="{reviewDate}"
                        size="10"
                        maxlength="10"
                >
                <a
                        href="javascript:;"
                        onClick="popUpCalendar(this, reviewDate, 'dd/mm/yyyy')">
                    <img
                            src="images/calendar.gif"
                            width="24"
                            height="22"
                            hspace="0"
                            vspace="0"
                            border="0"
                            align="absmiddle"
                    > </a>
                Time
                <input
                        {disabled}
                        name="form[customer][{customerID}][reviewTime]"
                        value="{reviewTime}"
                        size="5"
                        maxlength="5"
                >
                <span class="formErrorMessage">{reviewTimeMessage}</span>By
                <select
                        {disabled}
                        type="text"
                        name="form[customer][{customerID}][reviewUserID]"
                        onchange="setFormChanged();"
                >
                    <!-- BEGIN reviewUserBlock -->
                    <option {reviewUserSelected} value="{reviewUserID}">{reviewUserName}</option>
                    <!-- END reviewUserBlock -->
                </select>
            </div> <!-- customerReviewTime -->

            <div class="customerReviewAction">
                <textarea title="Action to be taken" {disabled} cols="120" rows="3"
                          name="form[customer][{customerID}][reviewAction]">{reviewAction}</textarea>
            </div>

            <div class="customerNoteHistory">
        <textarea
                cols="120"
                rows="18"
                readonly="readonly"
                {disabled}
                id="customerNoteHistory"></textarea>
            </div>

            <div class="customerNoteNav">
                <input {disabled} type="button" name="First" value="First" onclick="loadNote('first')">
                <input {disabled} type="button" name="Previous" value="Previous" onclick="loadNote('previous')">
                <input {disabled} type="button" name="Next" value="Next" onclick="loadNote('next')">
                <input {disabled} type="button" name="Last" value="Last" onclick="loadNote('last')">
                <input {disabled} type="button" name="Delete" value="Delete" onclick="deleteNote()">
                <input {disabled} type="button" name="New" value="New" onclick="newNote()">
                <input {disabled} type="button" name="Save" value="Save" onclick="saveNote()">
                {customerNotePopupLink}
            </div>

            <div id="customerNoteModifiedText"></div>

            <div class="customerNoteDetails">
        <textarea
                {disabled}
                name="customerNoteDetails"
                id="customerNoteDetails"
                cols="120"
                onchange="setCustomerNotesChanged()"
                rows="12">{customerNoteDetails}
        </textarea>
            </div>

        </div> <!-- customerEditMainRightColumn -->

    </div> <!-- customerEditMain -->
    <div>
        <h3>Sites</h3>
        <div class="customerEditSites">
            <div class="addSite">
                <a href="{addSiteURL}">{addSiteText}</a>
            </div>
            <!-- BEGIN siteBlock -->
            <DIV class="site">
                <input
                        type="hidden"
                        name="form[site][{customerID}{siteNo}][sageRef]"
                        value="{sageRef}"
                        size="3"
                        maxlength="6"
                >
                <input type="hidden" name="form[site][{customerID}{siteNo}][siteNo]" value="{siteNo}">
                <input type="hidden" name="form[site][{customerID}{siteNo}][customerID]" value="{customerID}">
                <input type="hidden" name="form[site][{customerID}{siteNo}][debtorCode]" value="{debtorCode}">
                <table class="content" border="0" cellpadding="2" cellspacing="1" width="10%">
                    <tr>
                        <td class="headerDarkgrey" colspan="2">Site {siteNo}<a href="{deleteSiteURL}"
                                                                               onClick="if(!confirm('Are you sure you want to delete this site?')) return(false)">{deleteSiteText}</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="content" width="13%">Site Address</td>
                        <td class="content" width="87%">
                            <input
                                    {disabled}
                                    name="form[site][{customerID}{siteNo}][add1]"
                                    value="{add1}"
                                    size="35"
                                    maxlength="35"></td>
                    </tr>
                    <tr>
                        <td class="content">&nbsp;</td>
                        <td class="content">
                            <input
                                    {disabled}
                                    name="form[site][{customerID}{siteNo}][add2]"
                                    value="{add2}"
                                    size="35"
                                    maxlength="35"></td>
                    </tr>
                    <tr>
                        <td class="content">&nbsp;</td>
                        <td class="content"><input
                                {disabled}
                                name="form[site][{customerID}{siteNo}][add3]"
                                value="{add3}"
                                size="35"
                                maxlength="35"/></td>
                    </tr>
                    <tr>
                        <td class="content">Town</td>
                        <td class="content">
                            <input
                                    {disabled}
                                    name="form[site][{customerID}{siteNo}][town]"
                                    value="{town}"
                                    size="25"
                                    maxlength="25"></td>
                    </tr>
                    <tr>
                        <td class="content">County</td>
                        <td class="content">
                            <input
                                    {disabled}
                                    name="form[site][{customerID}{siteNo}][county]"
                                    value="{county}"
                                    size="25"
                                    maxlength="25"></td>
                    </tr>
                    <tr>
                        <td class="content">Postcode</td>
                        <td class="content">
                            <input
                                    {disabled}
                                    name="form[site][{customerID}{siteNo}][postcode]"
                                    value="{postcode}"
                                    size="15"
                                    maxlength="15"></td>
                    </tr>
                    <tr>
                        <td class="content">Phone</td>
                        <td class="content">
                            <input
                                    {disabled}
                                    name="form[site][{customerID}{siteNo}][phone]"
                                    value="{sitePhone}"
                                    size="20"
                                    maxlength="20"></td>
                    </tr>
                    <tr>
                        <td class="content">Max Travel Hours</td>
                        <td class="content"><input
                                name="form[site][{customerID}{siteNo}][maxTravelHours]"
                                id="form[site][{customerID}{siteNo}][maxTravelHours]"
                                value="{maxTravelHours}"
                                size="5"
                                maxlength="5"
                                {disabled}/></td>
                    </tr>
                    <tr>
                        <td class="content">Default Invoice</td>
                        <td class="content">
                            <input {disabled} type="radio" name="form[customer][{customerID}][invoiceSiteNo]"
                                   value="{siteNo}" {invoiceSiteFlagChecked}/></td>
                    </tr>
                    <tr>
                        <td class="content">Default Delivery</td>
                        <td class="content">
                            <input {disabled} type="radio" name="form[customer][{customerID}][deliverSiteNo]"
                                   value="{siteNo}" {deliverSiteFlagChecked}/></td>
                    </tr>
                    <tr>
                        <td class="content">Invoice Contact</td>
                        <td>
                            <select
                                    name="form[site][{customerID}{siteNo}][invoiceContactID]">
                                <!-- BEGIN selectInvoiceContactBlock -->
                                <option {selectInvoiceContactBlockSelected}
                                        value="{selectInvoiceContactBlockContactID}">
                                    {selectInvoiceContactBlockFirstName} {selectInvoiceContactBlockLastName}
                                </option>
                                <!-- END selectInvoiceContactBlock -->
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="content">Delivery Contact</td>
                        <td>
                            <select
                                    name="form[site][{customerID}{siteNo}][deliverContactID]">
                                <!-- BEGIN selectDeliverContactBlock -->
                                <option {selectDeliverContactBlockSelected}
                                        value="{selectDeliverContactBlockContactID}">
                                    {selectDeliverContactBlockFirstName} {selectDeliverContactBlockLastName}
                                </option>
                                <!-- END selectDeliverContactBlock -->
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="content">Active</td>
                        <td class="content">
                            <input {disabled} type="checkbox" name="form[site][{customerID}{siteNo}][activeFlag]"
                                   value="Y" {activeFlagChecked}/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content">
                            <a href="#" onclick="contactPopup(0, 'addContact', {customerID}, {siteNo} )">{addContactText}</a>
                        </td>
                    </tr>

                </table>
            </div> <!-- site -->

            <!-- END siteBlock -->
        </div> <!-- customerEditSites -->
        <br/>
        <br/>
        <h3 style="clear: both;">Contacts</h3>
        <div class="contacts">
            <table class="content" border="0" cellpadding="2" cellspacing="1" width="100%">
                <tr>
                    <td class="headerLightgrey">&nbsp;</td>
                    <td class="headerLightgrey">&nbsp;</td>
                    <td class="headerLightgrey">Site</td>
                    <td class="headerLightgrey">Title</td>
                    <td class="headerLightgrey">First</td>
                    <td class="headerLightgrey">Last</td>
                    <td class="headerLightgrey">Position</td>
                    <td class="headerLightgrey">Phone</td>
                    <td class="headerLightgrey">Mobile</td>
                    <td class="headerLightgrey">Email</td>
                    <td class="headerLightgrey">Password</td>
                    <td class="headerLightgrey">Failed Logins</td>
                    <td class="headerLightgrey">Letters</td>
                    <td class="headerLightgrey">Notes</td>
                    <td class="headerLightgrey">Work Started?</td>
                    <td class="headerLightgrey">Auto-close?</td>
                    <td class="headerLightgrey">Accounts</td>
                    <td class="headerLightgrey">Mailshot</td>
                    <td class="headerLightgrey">{mailshot1FlagDesc}</td>
                    <td class="headerLightgrey">{mailshot2FlagDesc}</td>
                    <td class="headerLightgrey">{mailshot3FlagDesc}</td>
                    <td class="headerLightgrey">{mailshot4FlagDesc}</td>
                    <td class="headerLightgrey">{mailshot5FlagDesc}</td>
                    <td class="headerLightgrey">{mailshot6FlagDesc}</td>
                    <td class="headerLightgrey">{mailshot7FlagDesc}</td>
                    <td class="headerLightgrey">{mailshot8FlagDesc}</td>
                    <td class="headerLightgrey">{mailshot9FlagDesc}</td>
                    <td class="headerLightgrey">{mailshot10FlagDesc}</td>
                </tr>
                <!-- BEGIN contactBlock -->
                <input type="hidden" name="form[contact][{contactID}][contactID]" value="{contactID}">
                <input type="hidden" name="form[contact][{contactID}][customerID]" value="{customerID}">
                <input type="hidden" name="form[contact][{contactID}][supplierID]" value="{supplierID}">
                <input type="hidden" name="form[contact][{contactID}][fax]" value="{fax}">
                <input type="hidden" name="form[contact][{contactID}][discontinuedFlag]" value="{discontinuedFlag}">
                <input
                        type="hidden"
                        name="form[contact][{contactID}][mobilePhone]"
                        value="{mobilePhone}"
                >

                <tr>
                    <td class="content">
                        <A href="#"
                           onclick="javascript:contactPopup({contactID}, 'editContact', '{customerID}','{siteNo}' )">edit</a>
                    </td>
                    <td class="content">{deleteContactLink}</td>
                    <td class="content">
                        <select
                                name="form[contact][{contactID}][siteNo]">
                            <!-- BEGIN selectSiteBlock -->
                            <option {siteSelected} value="{selectSiteNo}">{selectSiteDesc}</option>
                            <!-- END selectSiteBlock -->
                        </select>
                    </td>
                    <td class="content">
                        <input
                                {disabled}
                                name="form[contact][{contactID}][title]"
                                size="2"
                                maxlength="10"
                                value="{title}"
                        >
                    </td>
                    <td class="content" class='{firstNameClass}'>
                        <input
                                {disabled}
                                name="form[contact][{contactID}][firstName]"
                                size="10"
                                maxlength="50"
                                value="{firstName}"
                        >
                    </td>
                    <td class="content" class='{lastNameClass}'>
                        <input
                                {disabled}
                                name="form[contact][{contactID}][lastName]"
                                size="10"
                                maxlength="50"
                                value="{lastName}"
                        >
                    </td>
                    <td class="content"><input
                            name="form[contact][{contactID}][position]" id="form[contact][{contactID}][position]"
                            value="{position}"
                            size="10"
                            maxlength="20"
                            {disabled}/>
                    </td>
                    <td class="content">
                        <input
                                {disabled}
                                name="form[contact][{contactID}][phone]"
                                value="{phone}"
                                size="10"
                                maxlength="30">
                    </td>
                    <td class="content">
                        <input
                                {disabled}
                                name="form[contact][{contactID}][mobilePhone]"
                                value="{mobilePhone}"
                                size="10"
                                maxlength="30">
                    </td>
                    <td class="content">
                        <input
                                {disabled}
                                name="form[contact][{contactID}][email]"
                                value="{email}"
                                size="25"
                                maxlength="50">
                    </td>
                    <td class="content">
                        <input
                                {disabled}
                                name="form[contact][{contactID}][portalPassword]"
                                value="{portalPassword}"
                                size="4"
                                maxlength="10">
                    </td>
                    <td class="content">
                        <input
                                {disabled}
                                name="form[contact][{contactID}][failedLoginCount]"
                                value="{failedLoginCount}"
                                size="2"
                                maxlength="5">
                    </td>
                    <td nowrap="nowrap" class="content"><select {disabled} name="letters_menu"
                                                                onchange="MM_jumpMenu('_blank',this,0)">
                        <option>Send Letter</option>
                        <option value="{clientFormURL}">Appointment</option>
                        <!-- BEGIN customLetterBlock -->
                        <option value="{customLetterURL}">{customLetterName}</option>
                        <!-- END customLetterBlock -->
                    </select>
                    </td>
                    <td class="content"><input
                            {disabled}
                            name="form[contact][{contactID}][notes]"
                            size="5"
                            maxlength="200"
                            value="{notes}"/>
                    </td>
                    <td class="content">
                        <input {disabled} type="checkbox" name="form[contact][{contactID}][workStartedEmailFlag]"
                               value="Y" {workStartedEmailFlagChecked}>
                    </td>
                    <td class="content">
                        <input {disabled} type="checkbox" name="form[contact][{contactID}][autoCloseEmailFlag]"
                               value="Y" {autoCloseEmailFlagChecked}>
                    </td>
                    <td class="content">
                        <input {disabled} type="checkbox" name="form[contact][{contactID}][accountsFlag]" value="Y"
                               {accountsFlagChecked}/>
                    </td>
                    <td class="content">
                        <input {disabled} type="checkbox" name="form[contact][{contactID}][sendMailshotFlag]" value="Y"
                               {sendMailshotFlagChecked}/>
                    </td>
                    <td class="content">
                        <input {disabled} type="checkbox" name="form[contact][{contactID}][mailshot1Flag]" value="Y"
                               {mailshot1FlagChecked}/>
                    </td>
                    <td class="content">
                        <input {disabled} type="checkbox" name="form[contact][{contactID}][mailshot2Flag]" value="Y"
                               {mailshot2FlagChecked}/>
                    </td>
                    <td class="content">
                        <input {disabled} type="checkbox" name="form[contact][{contactID}][mailshot3Flag]" value="Y"
                               {mailshot3FlagChecked}/>
                    </td>
                    <td class="content">
                        <input {disabled} type="checkbox" name="form[contact][{contactID}][mailshot4Flag]" value="Y"
                               {mailshot4FlagChecked} class="stmCheckBox"/>
                    </td>
                    <td class="content">
                        <input {disabled} type="checkbox" name="form[contact][{contactID}][mailshot5Flag]" value="Y"
                               {mailshot5FlagChecked}/>
                    </td>
                    <td class="content">
                        <input {disabled} type="checkbox" name="form[contact][{contactID}][mailshot6Flag]" value="Y"
                               {mailshot6FlagChecked}/>
                    </td>
                    <td class="content">
                        <input {disabled} type="checkbox" name="form[contact][{contactID}][mailshot7Flag]" value="Y"
                               {mailshot7FlagChecked}/>
                    </td>
                    <td class="content">
                        <input {disabled} type="checkbox" name="form[contact][{contactID}][mailshot8Flag]" value="Y"
                               {mailshot8FlagChecked}/>
                    </td>
                    <td class="content">
                        <input {disabled} type="checkbox" name="form[contact][{contactID}][mailshot9Flag]" value="Y"
                               {mailshot9FlagChecked}/>
                    </td>
                    <td class="content">
                        <input {disabled} type="checkbox" name="form[contact][{contactID}][mailshot10Flag]" value="Y"
                               {mailshot10FlagChecked}/>
                    </td>
                </tr>
                <!-- END contactBlock -->
            </table>


            <!--<input name="Button" type="button" value="Cancel" onClick="document.location='{cancelURL}';">-->
        </div>
    </div>
    <div>
        <div class="content">Lead Status</div>

        <select
                name="form[customer][{customerID}][customerLeadStatusID]">
            <option>-- Pick an Option --</option>
            <!-- BEGIN customerLeadStatusBlock -->
            <option {customerLeadStatusSelected}
                    value="{customerLeadStatusID}">
                {customerLeadStatusName}
            </option>
            <!-- END customerLeadStatusBlock -->
        </select>
    </div>
    <div>
        <div class="content">Email Opt Out</div>
        <input type="checkbox" name="form[customer][{customerID}][mailshotFlag]"
               value="Y" {mailshotFlagChecked}/>
    </div>
    <div>
        <label for="dateMeetingConfirmed" class="content">Date Meeting Confirmed</label>
        <input
                {disabled}
                type="date"
                name="form[customer][{customerID}][dateMeetingConfirmedDate]"
                id="dateMeetingConfirmed"
                value="{dateMeetingConfirmedDate}"
        >
    </div>
    <div>
        <label for="meetingDateTime" class="content">
            Meeting Date
        </label>
        <input
                {disabled}
                type="datetime-local"
                name="form[customer][{customerID}][meetingDateTime]"
                id="meetingDateTime"
                value="{meetingDateTime}"
                size="10"
                maxlength="10"
        >
    </div>
    <div>
        <div class="content">Invite Sent</div>
        <input type="checkbox" name="form[customer][{customerID}][InviteSent]"
               value="Y" {InviteSent}/>
    </div>
    <div>
        <div class="content">Report Processed</div>
        <input type="checkbox" name="form[customer][{customerID}][ReportProcessed]"
               value="Y" {ReportProcessed}/>
    </div>
    <div>
        <div class="content">Report Sent</div>
        <input type="checkbox" name="form[customer][{customerID}][ReportSent]"
               value="Y" {ReportSent}/>
    </div>
    <div>
        <div class="content">
            Comments
        </div>
        <textarea name="form[customer][{customerID}][CrmComments]" id="crmComments">{CrmComments}</textarea>
        <script type="text/javascript">
            reason = CKEDITOR.replace('crmComments', {customConfig: '/ckeditor_config.js'});
        </script>
    </div>
    <div>
        <div class="content">
            Company Background
        </div>
        <textarea name="form[customer][{customerID}][CompanyBackground]"
                  id="CompanyBackground">{CompanyBackground}</textarea>
        <script type="text/javascript">
            reason = CKEDITOR.replace('CompanyBackground', {customConfig: '/ckeditor_config.js'});
        </script>
    </div>
    <div>
        <div class="content">
            Decision Maker Background
        </div>
        <textarea name="form[customer][{customerID}][DecisionMakerBackground]"
                  id="DecisionMakerBackground">{DecisionMakerBackground}</textarea>
        <script type="text/javascript">
            reason = CKEDITOR.replace('DecisionMakerBackground', {customConfig: '/ckeditor_config.js'});
        </script>
    </div>
    <div>
        <div class="content">
            Opportunity Deal
        </div>
        <textarea name="form[customer][{customerID}][OpportunityDeal]"
                  id="OpportunityDeal">{OpportunityDeal}</textarea>
        <script type="text/javascript">
            reason = CKEDITOR.replace('OpportunityDeal', {customConfig: '/ckeditor_config.js'});
        </script>
    </div>

    <div>
        <div class="content">
            Rating
        </div>
        <input type="number" value="{Rating}" name="form[customer][{customerID}][Rating]">
    </div>

    <input {disabled} type="submit" name="Go" value="Save">

</form>

