<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<style>
    .text-center {
        text-align: center !important;
    }

    .sla-table {
        margin-top: 20px;
        border: none;
        border-collapse: collapse;

    }

    .sla-table table,
    .sla-table tr,
    .sla-table td,
    .sla-table th {
        border: none !important;
    }

    .sla-table td,
    .sla-table th {
        padding: 0.2rem 0.5rem;

    }
</style>
<script type="text/javascript">
    if (!window.googleChartsLoaded) {
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawCharts);
        window.googleChartsLoaded = true;
    }

    function drawCharts() {
        const hasServiceDesk = document.getElementById("hasServiceDesk").value;
        // graphData['renderServerCare'] ? drawChart('serverCareIncidents') : '';
        // drawChart('serviceDesk');
        // drawChart('otherContracts');
         drawChart('totalSR','line',400);
         drawChart('historicTotalSR','line',400);
        console.log('hasServiceDesk', hasServiceDesk);
        if (hasServiceDesk == "1") {
            drawChart('firstTimeFixRequests', 'pie', 300, 400);
            drawChart('sourceOfRequests', 'pie', 300, 400);
        }
    }

    function drawChart(chartName, type = 'line', height = 500, width = 1000) {

        var data = new google.visualization.DataTable();
        graphData[chartName]['columns'].forEach(function (columnName, id) {
            var type = "number";
            if (id === 0) {
                type = "string";
            }
            data.addColumn(type, columnName);
        });

        data.addRows(graphData[chartName]['data']);

        var options = {
            title: graphData[chartName]['title'],
            legend: { position: 'bottom' },
            height: height,
            width: width,
            titleTextStyle: {               
                bold: true,    // true or false
                italic: false  // true of false
            }
        };
        var chart = null;
        switch (type) {
            case 'line':             
                chart = new google.visualization.LineChart(document.getElementById(chartName));
                //options["legend"] = { position: 'none' };

                break;
            case 'pie':
                chart = new google.visualization.PieChart(document.getElementById(chartName));
                options["is3D"] = true;
                options["legend"] = { position: 'right', maxLines: 4 };
                break;

        }
        const my_div = document.getElementById(chartName);
        google.visualization.events.addListener(chart, 'ready', function () {
            //my_div.innerHTML = '<img src="' + chart.getImageURI() + '">';
        });
        chart.draw(data, options);

    }
</script>
<input type="hidden" id="hasServiceDesk" value="{hasServiceDesk}">
<!--<div style="position: relative">-->
<!--<img src="{waterMark}"-->
<!--style="position: absolute;left: 0px;top: 0px;z-index: 99; opacity: 0.5"-->
<!--/>-->
<!--</div>-->

<div class="reportSection">
    <table class="invisible" style="width: 100%;">
        <tr>
            <td style="width: 90%">&nbsp;<h1>{customerName} - Review Meeting {meetingDate}</h1>
            </td>
            <td><img src="{siteURL}/images/cnclogo.jpg" style="width:100px"></td>
        </tr>
    </table>
</div>
<div class="reportSection" style="margin-bottom:30px">
    <h2>Customer Summary</h2>
    <table>
        <tbody>
            <tr>
                <td>
                    Became Customer:
                </td>
                <td colspan="2">
                    {becameCustomerDate} ({becameCustomerYears} years)
                </td>
            </tr>
            <tr>
                <td>
                    CNC Account Manager:
                </td>
                <td colspan="2">
                    {accountManagerName}
                </td>
            </tr>
            <tr>
                <td>
                    Key Customer Contact:
                </td>
                <td colspan="2">
                    {keyCustomerContactName}
                </td>
            </tr>
            <tr {lastReviewMeetingClass}>
                <td>
                    Last Review Meeting:
                </td>
                <td>
                    {lastReviewMeetingDate}
                </td>
                <td>
                    {reviewMeetingFrequency}
                </td>
            </tr>
            <tr>
                <td>
                    Direct Debit Set Up
                </td>
                <td colspan="2">
                    {directDebitSetup}
                </td>
            </tr>

        </tbody>
    </table>
</div>
<div class="reportSection noNewPage" style="margin-bottom:30px">
    <h2>Summary of CNC Services</h2>
    <table class="content" border="0" cellpadding="2" cellspacing="1" width="100%" id="servicesTable">
        <thead>
            <tr>
                <th colspan="2">&nbsp;</th>
                <th class="text-center">
                    Quantity
                </th>
                <th class="text-center">Direct Debit</th>
                <th class="text-center">Annual Fee(&pound;)</th>
            </tr>

        </thead>
        <tbody>
            <!-- BEGIN itemBlock -->
            {itemTypeHeader}
            <tr class="{itemClass}">
                <td class="content">
                    {description}
                </td>
                <td class="content">{notes}{coveredItemsString}</td>
                <td class="content text-center">{quantity}</td>
                <td class="content text-center">{directDebit}</td>
                <td class="text-center" align="right">{salePrice}
                </td>
            </tr>
            <!-- END itemBlock -->
        </tbody>
    </table>
</div>
<div class="reportSection" style="margin-bottom:30px">
    <h2>Support Analyses
    </h2>

    <table class="collapse" style="width: 600px;">
        <tbody>
            <tr>
                <th style="text-align: left; width:150px">SR Priority</th>
                <td style="text-align: center;  width:50px">1</td>
                <td style="text-align: center;  width:50px">2</td>
                <td style="text-align: center;  width:50px">3</td>
                <td style="text-align: center;  width:50px">4</td>
                <td style="text-align: center;  width:50px">5</td>
            </tr>

            <tr>
                <th style="text-align: left;">Response Hours</th>
                <td style="text-align: center;">{slaP1}</td>
                <td style="text-align: center;">{slaP2}</td>
                <td style="text-align: center;">{slaP3}</td>
                <td style="text-align: center;">{slaP4}</td>
                <td style="text-align: center;">{slaP5}</td>
            </tr>
        </tbody>
    </table>

    <table class="sla-table" style="width: 90%;">
        <thead>
            <tr>
                <th></th>
                <th>P1</th>
                <th>P2</th>
                <th>P3</th>
                <th>P4</th>
                <th>All</th>
            </tr>
        </thead>
        <tbody>
            <!-- BEGIN customerSLABlock -->
            <tr>
                <td style="text-align: right;">{description}                
                </td>
                <td class="text-center">{p1Value}</td>
                <td class="text-center">{p2Value}</td>
                <td class="text-center">{p3Value}</td>
                <td class="text-center">{p4Value}</td>
                <td class="text-center">{allValue}</td>
            </tr>
            <tr style="display:{newLine}">
                <td><br></td>
            </tr>
            <!-- END customerSLABlock -->

        </tbody>
    </table>
</div>

<div class="reportSection">
    <div id="serverCareIncidents"></div>
</div>

<div class="reportSection">
    <div id="serviceDesk"></div>
</div>

<div class="reportSection">
    <div id="otherContracts"></div>
</div>



<div class="reportSection">
    <div class="subSection">
        <div id="totalSR"></div>
    </div>
    <div class="subSection">
        <div id="historicTotalSR"></div>
    </div>    
    <div  class="subSection" style="display: flex; flex-direction: row;">
        <table class="sla-table">
            <tr>
                <td>
                    <div id="firstTimeFixRequests" ></div>
                </td>
                <td>
                    <div id="sourceOfRequests" ></div>
                </td>
            </tr>
        </table>
        
        
    </div>
</div>

<div class="reportSection">
   
    <div class="subSection">
        <h3>Service Request Count By User - {reportDate}</h3>
        <table class="collapse requestCount">
            <colgroup>
                <col span="1" style="width: 40%;">
                <col span="1" style="width: 30%;">
                <col span="1" style="width: 30%;">
            </colgroup>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Raised Manually</th>
                    <th>Proactive Work</th>
                </tr>
            </thead>
            <tbody>
                <!-- BEGIN userBlock -->
                <tr>
                    <td  >{srUserName}</td>
                    <td class="text-center">{srCount}</td>
                    <td class="text-center">{srHiddenCount}</td>
                </tr>
                <!-- END userBlock -->
            </tbody>
        </table>
        <p>
            * Indicates no longer at the company.
        </p>
    </div>
    <div class="subSection">
        <h3>Root Cause - {reportDate}</h3>
        <table class="collapse rootCause ">
            <tbody>
                <!-- BEGIN rootCauseBlock -->
                <tr>

                    <td style="padding: 0.4rem 0.5rem ">{srRootCauseDescription}</td>
                    <td style="padding: 0.4rem 1.8rem " class="text-center">{srCount}</td>

                    <!-- END rootCauseBlock -->
                </tr>
            </tbody>
        </table>
    </div>
</div>



<div class="reportSection">
    <h2>Supported Users - ({supportUsersCount} Total Named Contacts)</h2>
    {supportContactInfo}
</div>

<!-- <div class="reportSection newPage">
    
</div> -->



<div class="reportSection diskSpaceReportSection">
    {diskSpaceSection}
</div>