<!-- Template: CustomerSpecialAttention.inc.html -->
<div class="reportDescription">
    These customers have a 50% reduction on their SLA to ensure they receive a priority service, this may be because
    they are a new customer or because have experienced poor service recently.
</div>
<table width="400" border="0" cellspacing="1" cellpadding="1">
    <tr>
        <td nowrap="nowrap" class="listHeadText">Customer</td>
        <td nowrap="nowrap" class="listHeadText">End</td>
    </tr>
    <!-- BEGIN customerBlock -->
    <tr valign="top" onMouseOver="this.bgColor='#FFFFCC';" onMouseOut="this.bgColor='';">
        <td nowrap="nowrap" class="listItemText">
            <a href="{linkURL}" target="_blank">{customerName}</a>
        </td>

        <td nowrap="nowrap" class="listItemText">{specialAttentionEndDate}</td>
    </tr>
    <!-- END customerBlock -->
</table>
<!-- End Template: CustomerSpecialAttention.inc.html -->
