<p>
    Server Contract = {contractDescription}
</p>
<!-- <p>
    Next Invoice: {nextInvoice}
</p> -->
<p>
    Servers Under Support
</p>
<table>
    <thead>
    <tr>
        <th>Server Details</th>
        <th>Tag No.</th>
        <th>Server Name</th>
        <th>Purchase Date</th>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN contractItemsBlock -->
    <tr>
        <td>{itemDescription}</td>
        <td>{serialNo}</td>
        <td>{serverName}</td>
        <td>{purchaseDate}</td>
    </tr>
    <!-- END contractItemsBlock -->
    </tbody>
</table>
<p>
    Supported Users (Portal) = {usersCount}
</p>
<p>
    Licensed Mailboxes = {mailboxes}
</p>
<p>
    PC's with O/S = {pcs}
</p>
<div style="display: {hasServersNotSupport}">
    <p>    
        Servers Not Support
    </p>
    <table>
        <thead>
        <tr>
            <th>Server Name</th>        
        </tr>
        </thead>
        <tbody>
        <!-- BEGIN serversNotSupportedItemsBlock -->
        <tr>
            <td>{serverName}</td>       
        </tr>
        <!-- END serversNotSupportedItemsBlock -->
        </tbody>
    </table>
</div>
