<html>
<head>
    <script type="text/javascript">
        function submitCustomer(customerID, customerName) {
            if ((opener) && (!opener.closed)) {
                if (opener.document.getElementById("{parentIDField}")) {
                    const parentIDField = opener.document.getElementById("{parentIDField}");
                    parentIDField.value = customerID;
                    const evt = document.createEvent('HTMLEvents');
                    evt.initEvent('change', false, true);
                    parentIDField.dispatchEvent(evt);
                }
                if (opener.document.getElementById("{parentDescField}")) {
                    opener.document.getElementById("{parentDescField}").value = customerName;
                }
                if (opener.document.getElementById("searchForm") && !window.doNotSubmit) {
                    opener.document.searchForm.submit();
                }
                window.close();
            }
        }
    </script>
</head>
<body>
<!-- BEGIN customerBlock -->
<script type="text/javascript">
    submitCustomer({customerID}, '{customerName}')
</script>
<!-- END customerBlock -->
</body>
</html>
