<style media="screen" type="text/css">
    html {
        height: 100%
    }

    body {
        /*display: flex;*/
        height: 100%;
        margin: 0;
        font-family: sans-serif;
        font-size: 10pt;
    }

    .container {
        display: flex;
        width: 100%;
    }

    .flex-row {
        flex-direction: row;
    }

    .flex-column {
        flex-direction: column;
    }

    h1 {
        font-size: 16pt;
        font-weight: bold;
        text-decoration: underline;
        margin: 0 auto 20px auto;
        display: inline-block;
    }

    h2 {
        font-size: 12pt;
    }

    h3 {
        font-size: 10pt;
    }

    table {
        border-collapse: collapse;
        padding: 10px;
        alignment: center;
        margin: 5px auto;
    }

    table, th, td {
        border: 1px solid black;
    }

    .pageBreak {
        page-break-after: always;
    }

    table.collapse {
        border-collapse: collapse;
        margin: 0 auto;
        border: 1px solid #666;
    }

    table.collapse td {
        padding: 3px;
    }

    table.invisible, table.invisible th, table.invisible td {
        border: none;
    }

    .test {
        display: block;
    }

    .test td {
        display: inline-block;
    }

    .graph {
        display: block;
        margin: 20px auto;
    }

    .ul3 {
        margin: 0 auto;
        padding: 0;
        max-width: 800px;
        display: block
    }

    .ul3 li {
        width: 33%;
        list-style-type: none;
        float: left;
        display: inline-block;
    }

    .break {
        display: block;
        width: 100%;
        clear: both
    }

</style>
<div class="pageSize">
    <center><p><img src="/images/CNC-Logo.png" alt=""/></p>
        <br/>
        <h1>{customerName} - Review Meeting {meetingDate}</h1></center>

    <h2>Support</h2>

    <table class="collapse">
        <tr>
            <th style="text-align: left;">SR Priority</th>
            <td style="text-align: center;">1</td>
            <td style="text-align: center;">2</td>
            <td style="text-align: center;">3</td>
            <td style="text-align: center;">4</td>
            <td style="text-align: center;">5</td>
        </tr>

        <tr>
            <th style="text-align: left;">Response Hours</th>
            <td style="text-align: center;">{slaP1}</td>
            <td style="text-align: center;">{slaP2}</td>
            <td style="text-align: center;">{slaP3}</td>
            <td style="text-align: center;">{slaP4}</td>
            <td style="text-align: center;">{slaP5}</td>
        </tr>
    </table>

    <div id="charts">
        {chart}
    </div>

    <h3>Supported Users</h3>
    <ul class="ul3">
        {supportContactInfo}
    </ul>

    <div class="break"></div>


    <table class="collapse" style="width: 600px">
        <tbody><!-- BEGIN rootCauseBlock -->
        <tr>

            <td>{srRootCauseDescription}</td>
            <td>{srCount}</td>

        </tr><!-- END rootCauseBlock -->
        </tbody>
    </table>

    <h3>Service Request Count</h3>
    <table class="collapse" style="width: 450px;">
        <tbody>
        <!-- BEGIN userBlock -->
        <tr>
            <td>
                {srUserName}
            </td>
            <td>
                {srCount}
            </td>
        </tr>
        <!-- END userBlock -->
        </tbody>
    </table>

    <h3>Client Portal/Main Contact(s)</h3>

    <div>
        {mainContacts}
    </div>

    <div>
        {contracts}
    </div>

    <div>
        {24HourFlag}
    </div>

    <div>
        <h3>Service Request Stats</h3>

    </div>

    <div>
        <h2>P1 Incidents in the Last Month</h2>
        {p1Incidents}
    </div>
    <div>
        <h2>Starters and Leavers</h2>
        {startersAndLeavers}
    </div>
    <div>
        {thirdPartyServerAccess}
    </div>
    <div>
        {reviewMeetingFrequency}
    </div>

    {customerReviewMeetingText}

    <h2>New Offices / Office Moves</h2>

    <p>Are you planning to open any new or relocate offices in the next 6 months?</p>

    <!-- BEGIN managementReviewBlock -->
    <h2><a href="http://cncapps/{urlServiceRequest}" target="_blank">{reviewHeading}</a></h2>
    <h2>{managementReviewText}</h2>
    <!-- END managementReviewBlock -->

    <h2>A.O.B.</h2>

</div>
