<html>
<head>
<script type="text/javascript">
function submitCustomer(customerID, customerName) {
	if ((opener) && (!opener.closed)) {
		if(opener.document.getElementById("{parentIDField}")){
			opener.document.getElementById("{parentIDField}").value=customerID;
		}
		if(opener.document.getElementById("{parentDescField}")){
			opener.document.getElementById("{parentDescField}").value=customerName;
		}
    if(opener.document.getElementById("searchForm")){
      opener.document.searchForm.submit();
    }
		window.close();
	}
}
</script>
</head>
<body>
<form name="customer">
<table>
<!-- BEGIN customerBlock -->
<tr>
<td class="listItemText">
	<input type="hidden" value="1">
	<a href="javascript:submitCustomer({customerID}, '{customerName}')">{customerName}</a>
</td>
</tr>
<!-- END customerBlock -->
</table>
</form>
</body>
</html>
