
<p>
    Server Contract = {contractDescription}
</p>
<!-- <p>
Next Invoice: {nextInvoice}
</p> -->
<p>
    Servers Under Support
</p>
<div class="reportSection noNewPage">    
    <table id="servicesTable">
        <thead>
            <tr>
                <th>Server Details</th>
                <th>Tag No.</th>
                <th>Server Name</th>
                <th>Purchase Date</th>
            </tr>
        </thead>
        <tbody>
            <!-- BEGIN contractItemsBlock -->
            <tr>
                <td style="padding:2px">{itemDescription}</td>
                <td style="padding:2px">{serialNo}</td>
                <td style="padding:2px">{serverName}</td>
                <td style="padding:2px">{purchaseDate}</td>
            </tr>
            <!-- END contractItemsBlock -->
        </tbody>
    </table>    
</div>
<p>
    Supported Users (Portal) = {usersCount}
</p>
<p>
    Licensed Mailboxes = {mailboxes}
</p>
<p>
    PC's with O/S = {pcs}
</p>
<div class="reportSection noNewPage">
    <p style="display: {hasServersNotSupport}">
        Servers Not Supported
    </p>
    <table    style="display: {hasServersNotSupport}" id="serverUnsupported">
        <thead>
            <tr>
                <th style=" padding: 0.2rem 1rem;">Server Name</th>
            </tr>
        </thead>
        <tbody>
            <!-- BEGIN serversNotSupportedItemsBlock -->
            <tr>
                <td style=" padding: 0.2rem 1rem;">{serverName}</td>
            </tr>
            <!-- END serversNotSupportedItemsBlock -->
        </tbody>
    </table>
</div>