<form name="form" method="post" action="{submitURL}" AUTOCOMPLETE="off">
    <table class="content">
        <input type="hidden" name="form[contact][{contactID}][contactID]" value="{contactID}">
        <input type="hidden" name="form[contact][{contactID}][siteNo]" value="{siteNo}">
        <input type="hidden" name="form[contact][{contactID}][customerID]" value="{customerID}">
        <input type="hidden" name="form[contact][{contactID}][supplierID]" value="{supplierID}">
        <input type="hidden" name="form[contact][{contactID}][discontinuedFlag]" value="{discontinuedFlag}">
        <input
                type="hidden"
                name="form[contact][{contactID}][fax]"
                value="{fax}"
        >
        <input
                type="hidden"
                name="form[contact][{contactID}][mobilePhone]"
                value="{mobilePhone}"
        >

        <tr>
            <td class="content">Title</td>
            <td class="content">
                <input
                        {disabled}
                        name="form[contact][{contactID}][title]"
                        size="2"
                        maxlength="10"
                        value="{title}"
                >
            </td>
        </tr>
        <tr>
            <td class="content">First Name</td>
            <td class="content" class='{firstNameClass}'>
                <input
                        {disabled}
                        name="form[contact][{contactID}][firstName]"
                        size="10"
                        maxlength="50"
                        value="{firstName}"
                >
            </td>
        </tr>
        <tr>
            <td class="content">Last Name</td>
            <td class="content" class='{lastNameClass}'>
                <input
                        {disabled}
                        name="form[contact][{contactID}][lastName]"
                        size="10"
                        maxlength="50"
                        value="{lastName}"
                >
            </td>
        </tr>
        <tr>
            <td class="content">Position</td>
            <td class="content"><input
                    name="form[contact][{contactID}][position]" id="form[contact][{contactID}][position]"
                    value="{position}"
                    size="10"
                    maxlength="20"
                    {disabled}/>
            </td>
        </tr>
        <tr>
            <td class="content">Phone</td>
            <td class="content">
                <input
                        {disabled}
                        name="form[contact][{contactID}][phone]"
                        value="{phone}"
                        size="10"
                        maxlength="30">
            </td>
        </tr>
        <tr>
            <td class="content">Mobile</td>
            <td class="content">
                <input
                        {disabled}
                        name="form[contact][{contactID}][mobilePhone]"
                        value="{mobilePhone}"
                        size="10"
                        maxlength="30">
            </td>
        </tr>
        <tr>
            <td class="content">Fax</td>
            <td class="content">
                <input
                        {disabled}
                        name="form[contact][{contactID}][fax]"
                        value="{fax}"
                        size="10"
                        maxlength="30">
            </td>
        </tr>
        <tr>
            <td class="content">Email</td>
            <td class="content">
                <input
                        {disabled}
                        name="form[contact][{contactID}][email]"
                        value="{email}"
                        size="25"
                        maxlength="50">
            </td>
        </tr>
        <tr>
            <td class="content">Password</td>
            <td class="content">
                <input
                        {disabled}
                        name="form[contact][{contactID}][portalPassword]"
                        value="{portalPassword}"
                        size="4"
                        maxlength="10">
            </td>
        </tr>
        <tr>
            <td class="content">Failed Logins</td>
            <td class="content">
                <input
                        {disabled}
                        name="form[contact][{contactID}][failedLoginCount]"
                        value="{failedLoginCount}"
                        size="2"
                        maxlength="5">
            </td>
        </tr>
        <tr>
            <td class="content">Notes</td>
            <td class="content"><input
                    {disabled}
                    name="form[contact][{contactID}][notes]"
                    size="80"
                    maxlength="200"
                    value="{notes}"/>
            </td>
        </tr>
        <tr>
            <td class="content">Send Work Started Email?</td>
            <td class="content">
                <input {disabled} type="checkbox" name="form[contact][{contactID}][workStartedEmailFlag]" value="Y"
                       {workStartedEmailFlagChecked}>
            </td>
        </tr>
        <tr>
            <td class="content">Send Auto-close Email?</td>
            <td class="content">
                <input {disabled} type="checkbox" name="form[contact][{contactID}][autoCloseEmailFlag]" value="Y"
                       {autoCloseEmailFlagChecked}>
            </td>
        </tr>
        <tr>
            <td class="content">Accounts Contact?</td>

            <td class="content">
                <input {disabled} type="checkbox" name="form[contact][{contactID}][accountsFlag]" value="Y"
                       {accountsFlagChecked}/>
            </td>
        </tr>
        <tr>
            <td class="content">Send Mailshots?</td>
            <td class="content">
                <input {disabled} type="checkbox" name="form[contact][{contactID}][sendMailshotFlag]" value="Y"
                       {sendMailshotFlagChecked}/>
            </td>
        </tr>
        <tr>
            <td class="content">{mailshot2FlagDesc}</td>
            <td class="content">
                <input {disabled} type="checkbox" name="form[contact][{contactID}][mailshot2Flag]" value="Y"
                       {mailshot2FlagChecked}/>
            </td>
        </tr>
        <tr>
            <td class="content">{mailshot3FlagDesc}</td>
            <td class="content">
                <input {disabled} type="checkbox" name="form[contact][{contactID}][mailshot3Flag]" value="Y"
                       {mailshot3FlagChecked}/>
            </td>
        </tr>
        <tr>
            <td class="content">{mailshot4FlagDesc}</td>
            <td class="content">
                <input {disabled} type="checkbox" name="form[contact][{contactID}][mailshot4Flag]" value="Y"
                       {mailshot4FlagChecked}/>
            </td>
        </tr>
        <tr>
            <td class="content">{mailshot8FlagDesc}</td>
            <td class="content">
                <input {disabled} type="checkbox" name="form[contact][{contactID}][mailshot8Flag]" value="Y"
                       {mailshot8FlagChecked}/>
            </td>
        </tr>
        <tr>
            <td class="content">{mailshot9FlagDesc}</td>
            <td class="content">
                <input {disabled} type="checkbox" name="form[contact][{contactID}][mailshot9Flag]" value="Y"
                       {mailshot9FlagChecked}/>
            </td>
        </tr>
        <tr>
            <td class="content">
                <input {disabled} type="submit" name="Go" value="Save">
                <input name="Button" type="button" value="Cancel" onClick="document.location='{cancelURL}';">{deleteContactLink}
            </td>
        </tr>
    </table>
</form>