<!-- Template: ActivitySearch.inc.html -->
<script language='JavaScript' src="CommonJS.js"></script>
<script language='JavaScript' src='popcalendar/popcalendar.js'></script>
<P class="formErrorMessage">{formError}</P>
<form name="searchForm" method="POST" action="{urlSubmit}">
  <table width="500px" border="0" cellspacing="0" cellpadding="1">
		<tr> 
			<td width="100" class="promptText"><div align="right">from </div></td>
			<td> <input
					type="text"
					name="searchForm[1][fromDate]"
					id="fromDate"
					value="{fromDate}"
					size="10"
					maxlength="10"
				> <a href="javascript:;" onClick="popUpCalendar(this, fromDate, 'dd/mm/yyyy')"><img src="images/calendar.gif" width="24" height="22" hspace="0" vspace="0" border="0" align="absmiddle"></a> 
				<font class="formErrorMessage">{fromDateMessage}</font> </td>
		</tr>
		<tr> 
			<td class="promptText"><div align="right">to</div></td>
			<td> <input
					type="text"
					name="searchForm[1][toDate]"
					id="toDate"
					value="{toDate}"
					size="10"
					maxlength="10"
					onKeypress="javascript:submitOnReturn()"
			> <a href="javascript:;" onClick="popUpCalendar(this, toDate, 'dd/mm/yyyy')"><img src="images/calendar.gif" width="24" height="22" hspace="0" vspace="0" border="0" align="absmiddle"></a> 
				<font class="formErrorMessage">{toDateMessage}</font> </td>
		</tr>
		<tr> 
			<td>&nbsp;</td>
			<td>
			<input type="submit" name="Search" value="Search">
			</td>
		</tr>
	</table>
</form>
<p>A list of customers that have had service call activity within the selected date range.</p>
<table border="0" cellpadding="2" cellspacing="1" class="singleBorder">
		<tr valign="top">
				<td nowrap="nowrap" class="listHeadText"><div align="center">Customer</div></td>
				<td nowrap="nowrap" class="listHeadText">Requests</td>
				<td nowrap="nowrap" class="listHeadText">On Site </td>
		</tr>
		
		<!-- BEGIN resultBlock -->
		<tr valign="top" onmouseover="this.bgColor='#FFFFCC';" onmouseout="this.bgColor=''">
	
				<td nowrap="nowrap">{CustomerName}</td>
				<td nowrap="nowrap">{Activities}</td>
				<td nowrap="nowrap">{OnSite}</td>
		</tr>
		<!-- END resultBlock -->
</table>
<!-- End Template: ActivitySearch.inc.html -->