<!-- Template: DeshboardProjectList.inc.html -->
<style>
    #dashBoardProjectList td {
        text-align: left;
    }
</style>
<script>
    function showLastUpdatedPopup(projectID) {
        let URL = '{lastUpdateURL}';

        URL += "&projectID=" + projectID;
        window.open(URL,
            'Last Update', 'scrollbars=yes,resizable=no,width=980,height=300,copyhistory=no, menubar=0')
    }
</script>
<H2>Current Projects</H2>
<table class="singleBorder"
       width="700"
       border="0"
       cellspacing="1"
       cellpadding="2"
       id="dashBoardProjectList"
>
    <tr>
        <td class="listHeadText">Project</td>
        <td class="listHeadText">Customer</td>
        <td class="listHeadText">Commence</td>
        <td class="listHeadText">Lead Engineer</td>
        <td class="listHeadText">Plan</td>
        <td class="listHeadText">Last Update</td>
    </tr>
    <!-- BEGIN projectBlock -->

    <tr valign="top"
        onMouseOver="this.bgColor='#ffffcc';"
        onMouseOut="this.bgColor='';"
    >
        <td class="orderLineItem"
            style=""
        >
            <a href="{urlEdit}">{description}</a>
        </td>
        <td class="orderLineItem">
            <div align="left">{customerName}</div>
        </td>
        <td class="orderLineItem">
            <div align="left">{commenceDate}</div>
        </td>
        <td class="orderLineItem">
            <div align="left">{engineerName}</div>
        </td>
        <td class="orderLineItem">
            <div align="left">{projectPlanLink}</div>
        </td>
        <td class="orderLineItem">
            <div align="left">{lastUpdatePopup}</div>
        </td>
    </tr>
    <!-- END projectBlock -->
</table>
<!-- End Template: DeshboardProjectList.inc.html -->
