<h3>User Performance</h3>
<table id="user-performance"
       width="400px"
>
    <thead>
    <tr>
        <th width="30%">&nbsp;</th>
        <th>Target %</th>
        <th>Actual %</th>
        <th>Hours</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Week</th>
        <td>{targetPercentage}</td>
        <td class="{weeklyPercentageClass}">{weeklyPercentage}</td>
        <td>{weeklyHours}</td>
    </tr>
    <tr>
        <th>Month</th>
        <td>{targetPercentage}</td>
        <td class="{monthlyPercentageClass}">{monthlyPercentage}</td>
        <td>{monthlyHours}</td>
    </tr>
    </tbody>
</table>