<!-- Template: DeshboardProjectList.inc.html -->
<style>
    #dashBoardProjectList td {
        text-align: left;
    }
</style>
<H2>Current Projects</H2>
<table class="singleBorder" width="700" border="0" cellspacing="1" cellpadding="2" id="dashBoardProjectList">
    <tr>
        <td class="listHeadText">Project</td>
        <td class="listHeadText">Customer</td>
        <td class="listHeadText">Start</td>
        <td class="listHeadText">Expires</td>
        <td class="listHeadText">&nbsp;</td>
    </tr>
    <!-- BEGIN projectBlock -->

    <tr valign="top" onMouseOver="this.bgColor='#ffffcc';" onMouseOut="this.bgColor='';">
        <td class="orderLineItem" style="">
            <a href="{urlEdit}">{description}</a>
        </td>
        <td class="orderLineItem">
            <div align="left">{customerName}</div>
        </td>
        <td class="orderLineItem">
            <div align="left">{startDate}</div>
        </td>
        <td class="orderLineItem">
            <div align="left">{expiryDate}</div>
        </td>
    </tr>
    <!-- END projectBlock -->
</table>
<!-- End Template: DeshboardProjectList.inc.html -->
