<!-- Template: DespatchDisplay.inc.html -->
<SCRIPT language="JavaScript">
    var qtySetZero = true; // initialise flag to indicate current toggle state
    document.onkeydown = function (event) {
        if (event.keyCode == 116) { // F5 toggle
            event.keyCode = 0;
            event.returnValue = false;
            event.cancelBubble = true;

            var qtyToDespatchElements = $('.qtyToDespatch');
            var qtyOutstandingHideElements = $('.qtyOutstandingHide');

            qtyToDespatchElements.each(function (index, item, array) {
                var qtyToDespatch = qtyToDespatchElements[index];
                var qtyOS = qtyOutstandingHideElements[index];
                if (qtySetZero && !qtyToDespatch.disabled) {
                    qtyToDespatch.value = qtyOS.value;
                }
                else {
                    qtyToDespatch.value = 0;
                }
            });

            // toggle global flag
            qtySetZero = !qtySetZero;

        }
    }
</SCRIPT>
<TABLE width="200px" border="0" cellpadding="2" cellspacing="1">
    <TR>
        <TD width="100px" class="navigateLink" valign="top"><a href="{urlHome}">Home</a>
        </TD>
        <TD width="100px" class="navigateLink" valign="top"><a href="{urlSalesOrder}">Sales Order</a>
        </TD>
    </TR>
</TABLE>
<br/>
<form name="despatchForm" method="POST" enctype="multipart/form-data" action="{urlDespatch}">
    <table width="200px" border="0" cellspacing="0" cellpadding="1">
        <tr>
            <td width="60px" class="promptText">Deliver By</td>
            <td class="field">
                <select
                        type="text"
                        id="deliveryMethodID"
                        name="deliveryMethodID"
                >
                    <!-- BEGIN deliveryMethodBlock -->
                    <option {deliveryMethodSelected} value="{deliveryMethodID}">{deliveryMethodDescription}</option>
                    <!-- END deliveryMethodBlock -->
                </select>
            </td>
        </tr>
    </table>
    <BR/>
    <table class="singleBorder" width="600px" border="0" cellspacing="2" cellpadding="1">
        <tr>
            <td width="350px" class="listHeadText">Description</td>
            <td width="57px" class="listHeadText">Part No</td>
            <td width="50px" class="listHeadText">Ordered</td>
            <td width="50px" class="listHeadText">Outstanding</td>
            <td width="140px" class="listHeadText">Despatch (F5 toggle)</td>
        </tr>
        <!-- BEGIN orderLineBlock -->
        <input type="hidden" id="sequenceNo" name="despatch[{sequenceNo}][sequenceNo]" value={sequenceNo}>
        <input type="hidden" class="qtyOutstandingHide" value="{qtyOutstandingHide}">
        <tr onMouseOver="this.bgColor='#FFFFCC';" onMouseOut="this.bgColor='';">
            <td class="{orderLineClass}">
                <DIV align="left">{description}</DIV>
            </td>
            <td class="{orderLineClass}">
                <DIV align="left">{partNo}</DIV>
            </td>
            <td class="{orderLineClass}">{qtyOrdered}</td>
            <td class="{orderLineClass}">{qtyOutstanding}</td>
            <td class="{orderLineClass}"><input type="text" class="qtyToDespatch"
                                                name="despatch[{sequenceNo}][qtyToDespatch]" value="{qtyToDespatch}"
                                                maxlength="5"></td>
        </tr>
        <!-- END orderLineBlock -->
        <tr>
            <td colspan="5"><input type="submit" name="Submit" value="Despatch"></td>
        </tr>
    </table>
</form>
{despatchDisplayNotes}
<!-- End Template: DespatchDisplay.inc.html -->