<!-- Template: DespatchDisplayNotes.inc.html -->
<table class="singleBorder" width="200px" border="0">
	<tr> 
		<td colspan="2" valign="top" class="listHeadText"><div align="center">Delivery Notes</div></td>
	</tr>
	<!-- BEGIN noteBlock -->
	<tr onMouseOver="this.bgColor='#FFFFCC';" onMouseOut="this.bgColor='';"> 
		<td width="30px" class="mainHeadText"><a href="{displayNoteDocURL}">{noteNo}</a></td>
		<td width="170px" class="mainHeadText"><a href="{displayNoteDocURL}">{dateTime}</a></td>
	</tr>
	<!-- END noteBlock -->
</table>
<!-- End Template: DespatchDisplayNotes.inc.html -->
