<!-- Template: DirectDebitInvoicing.html -->
<script>
    function generatePreview() {
        var object = {};

        // Use XMLHttpRequest instead of Jquery $ajax
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            var a;
            if (xhttp.readyState === 4) {

                if (xhttp.status === 200) {

                    // Trick for making downloadable link
                    a = document.createElement('a');
                    a.href = window.URL.createObjectURL(xhttp.response);
                    // Give filename you wish to download
                    a.download = "invoices.pdf";
                    a.style.display = 'none';
                    document.body.appendChild(a);
                    a.click();
                    a.remove();
                    document.getElementById('sendButton').removeAttribute('disabled');
                }

                if (xhttp.status === 400) {
                    alert('There are no direct debit invoices unprinted');
                }
            }
        };
// Post data to URL which handles post request
        xhttp.open("POST", '?action=preview');
        xhttp.setRequestHeader("Content-Type", "application/json");
// You should set responseType as blob for binary responses
        xhttp.responseType = 'blob';
        xhttp.send(JSON.stringify({}));
    }

    function handlePassphrase() {
        const passPhrase = prompt('To continue please provide the secure passphrase');

        if (!passPhrase) {
            return false;
        }


        $('form').append("<input type='hidden' value='" + passPhrase + "' name='passphrase'>");
        return true;
    }
</script>
<form name="invoice"
      method="post"
      action="{urlSubmit}"
>
    <table width="400px"
           border="0"
           cellspacing="0"
           cellpadding="1"
           id="test"
    >
        <tr>
            <td>&nbsp;</td>
            <td>
                <button type="button"
                        name="Trial"
                        onclick="generatePreview()"
                >
                    Preview
                </button>
                <input type="submit"
                       disabled
                       name="Print"
                       value="Send"
                       id="sendButton"
                       onClick="return handlePassphrase();"
                >
            </td>
        </tr>
    </table>
</form>
<!-- End Template: DirectDebitInvoicing.html -->