<!-- Template: EscalationReport.inc.html -->
<script language='JavaScript'
        src="CommonJS.js"
></script>
<script type="application/javascript">
    window.addEventListener('DOMContentLoaded', function () {
        window.fromDate = $('#fromDate').get(0);
        window.toDate = $('#toDate').get(0);
    })
</script>
<P class="formErrorMessage">{formError}</P>
<form name="searchForm"
      method="get"
      action="{urlSubmit}"
>
    <table width="500px"
           border="0"
           cellspacing="0"
           cellpadding="1"
    >
        <tr>
            <td class="promptText">From</td>
            <td>
                <input type="date"
                       name="searchForm[1][fromDate]"
                       id="fromDate"
                       value="{fromDate}"
                       size="10"
                       maxlength="10"
                       onKeypress="javascript:submitOnReturn()"
                       autocomplete="off"
                > <font class="formErrorMessage">{fromDateMessage}</font>
            </td>
        </tr>
        <tr>
            <td class="promptText">To</td>
            <td>
                <input type="date"
                       name="searchForm[1][toDate]"
                       id="toDate"
                       value="{toDate}"
                       size="10"
                       maxlength="10"
                       onKeypress="javascript:submitOnReturn()"
                       autocomplete="off"
                >
                <font class="formErrorMessage">{toDateMessage}</font>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit"
                       name="Search"
                       value="Search"
                       onClick="submit();"
                >
            </td>
        </tr>
    </table>
    <p>&nbsp;</p>

</form>
<h2>Team</h2>
{teamReport}
<h2>Technician</h2>
{technicianReport}
<!-- End Template: EscalationReport.inc.html -->