<script>

    function approveExpense(expenseId) {

    }

    function denyExpense(expenseId) {

    }

    $(function () {
        $('#expensesTable').DataTable({
            dom: 'lfrtip',
            columns: [
                {data: "staffName", name: 'staffName'},
                {
                    data: "serviceRequestId", name: "serviceRequestId", render: (data, type, row, meta) => {
                        return '<a href="Activity.php?action=displayActivity&callActivityID=' + row.activityId + '" target="_blank">' + data + '</a>';
                    }
                },
                {
                    data: "dateSubmitted", name: "dateSubmitted", render: (data) => {
                        if (!data) {
                            return null;
                        }
                        return moment(data, "YYYY-MM-DD HH:mm:ss").format('DD/MM/YYYY');
                    }
                },
                {data: "expenseTypeDescription", name: "expenseTypeDescription"},
                {
                    data: "value", name: "value", render: (data) => {
                        if (!+data) {
                            return null;
                        }
                        return "&pound;" + data.toFixed(2);
                    }
                },
                {data: "projectDescription", name: "projectDescription"},
                {
                    data: "approvedDate", name: "approvedDate", render: (data) => {
                        if (!data) {
                            return null;
                        }
                        return moment(data, "YYYY-MM-DD HH:mm:ss").format('DD/MM/YYYY HH:mm');
                    }
                },
                {data: "approverName", name: "approverName"},
                {data: 'status', name: 'status'},
                {
                    data: 'status',
                    sortable: false,
                    searchable: false,
                    render: (data, type, row, meta) => {
                        if (row.isSelf) {
                            return "";
                        }

                        if (row.status === 'Pending') {
                            return '<button onchange="approveExpense(' + row.id + ')" data-expense-id="row.id">Approve</button><button onchange="denyExpense(' + row.id + ')">Deny</button> ';
                        }
                    }
                }
            ],
            serverSide: true,
            ajax: {
                url: "?action=getExpensesData",
                type: "GET"
            }
        });
        $('#overtimeTable').DataTable({
            dom: 'lfrtip',
            columns: [
                {data: "staffName", name: 'staffName'},
                {
                    data: "serviceRequestId", name: "serviceRequestId", render: (data, type, row, meta) => {
                        return '<a href="Activity.php?action=displayActivity&callActivityID=' + row.activityId + '" target="_blank">' + data + '</a>';
                    }
                },
                {
                    data: "dateSubmitted", name: "dateSubmitted", render: (data) => {
                        if (!data) {
                            return null;
                        }
                        return moment(data, "YYYY-MM-DD HH:mm:ss").format('DD/MM/YYYY');
                    }
                },
                {
                    data: "overtimeDuration", name: "overtimeDuration", sortable: false, render: (data, type, row) => {
                        if (!data) {
                            return '';
                        }
                        return (data / 60).toFixed(2);
                    }
                },
                {data: "projectDescription", name: "projectDescription"},
                {
                    data: "approvedDate", name: "approvedDate", render: (data) => {
                        if (!data) {
                            return null;
                        }
                        return moment(data, "YYYY-MM-DD HH:mm:ss").format('DD/MM/YYYY HH:mm');
                    }
                },
                {data: "approverName", name: "approverName"},
                {data: 'status', name: 'status'}
            ],
            serverSide: true,
            ajax: {
                url: "?action=getOvertimeData",
                type: "GET"
            },
            processing: true,
            language: {
                'loadingRecords': '&nbsp;',
                'processing': 'Loading...'
            }
        })
    })
</script>

<table id="expensesTable">
    <thead>
    <tr>
        <th>
            Staff Name
        </th>
        <th>
            SR Number
        </th>
        <th>
            Date of expense
        </th>
        <th>
            Expense Type
        </th>
        <th>
            Expense Value
        </th>
        <th>
            Project
        </th>
        <th>
            Approved Date
        </th>
        <th>
            Approved By
        </th>
        <th>
            Approved Status
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<br>
<br>
<table id="overtimeTable">
    <thead>
    <tr>
        <th>
            Staff Name
        </th>
        <th>
            SR Number
        </th>
        <th>
            Date of overtime
        </th>
        <th>
            Overtime Duration
        </th>
        <th>
            Project
        </th>
        <th>
            Approved Date
        </th>
        <th>
            Approved By
        </th>
        <th>
            Approved Status
        </th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>