<!-- Template: ExpenseExport.inc.html -->
<script type="application/javascript">
    let theForm = null;
    const checkExport = function (e) {
        e.preventDefault();
        e.stopPropagation();
        // which submit button is clicked
        let activeElement = document.activeElement;
        if (activeElement.type === 'submit' && activeElement.value === 'Export' && !$('#expensesNextProcessingDate').val()) {
            alert('Next Month\'s processing date is required!');
            return false;
        }
        // some action, firing beacon with the value of the submit button
        theForm.submit();
    };
    $(function () {
        theForm = $('form[name="expenseExportForm"]')[0];
        theForm.addEventListener('submit', checkExport);
    })

</script>
<form name="expenseExportForm"
      method="post"
      action="{urlSubmit}"
>
    <P>Export engineer expenses for activities up to the date entered. </P>
    <table width="100%"
           border="0"
           cellspacing="0"
           cellpadding="1"
    >
        <tr>
            <td width="20%"
                class="promptText"
            >Next Month's Processing Date
            </td>
            <td class="field">
                <input type="text"
                       name="expenseExport[1][expensesNextProcessingDate]"
                       id="expensesNextProcessingDate"
                       size="10"
                       maxlength="10"
                       class="jqueryCalendar"
                       autocomplete="off"
                >
                <font class="formErrorMessage">{endDateMessage}</font></td>
        </tr>
        <tr>
            <td width="20%"
                class="promptText"
            >End Date
            </td>
            <td class="field">
                <input type="text"
                       name="expenseExport[1][endDate]"
                       id="endDate"
                       value="{endDate}"
                       size="10"
                       maxlength="10"
                       class="jqueryCalendar"
                       autocomplete="off"
                       required
                >
                <font class="formErrorMessage">{endDateMessage}</font></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit"
                       name="exportType2"
                       value="Trial"
                />
                <input type="submit"
                       name="exportType"
                       value="Export"
                ></td>
        </tr>
    </table>
</form>
<!-- End Template: ExpenseExport.inc.html -->