<!-- Template: ExpensesList.inc.html -->
<script language='JavaScript' src="CommonJS.js"></script>
<TABLE width="100" border="0" cellpadding="2" cellspacing="1">
	<TR> 
		<TD width="100px" class="navigateLink" valign="top"> <a href="{urlCallActivity}">Activity</a> 
		</TD>
	</TR>
</table>
<table class="singleBorder" width="700px" border="0">
	<tr> 
		<td class="promptText">Activity ID</td>
		<td class="mainHeadText">{callActivityID}</td>
		<td class="promptText">Date</td>
		<td class="mainHeadText">{date}</td>
	</tr>
	<tr> 
		<td class="promptText">Customer</td>
		<td class="mainHeadText">{customerName}</td>
		<td class="promptText">Site</td>
		<td class="mainHeadText">{siteDesc}</td>
	</tr>
	<tr> 
		<td class="promptText">Type</td>
		<td class="mainHeadText">{activityType}</td>
		<td class="promptText">User</td>
		<td class="mainHeadText">{activityUserName}</td>
	</tr>
</table>
<BR>
<A href="{urlCreate}">[create new expense]</A> 
<table class="singleBorder" width="700" border="0" cellspacing="1" cellpadding="2">
	<tr> 
		<td class="listHeadText">Expense</td>
		<td class="listHeadText">Miles</td>
		<td class="listHeadText">Amount</td>
		<td class="listHeadText">VAT included</td>
		<td class="listHeadText">&nbsp;</td>
	</tr>
	<!-- BEGIN expenseBlock -->
	<tr valign="top" onMouseOver="this.bgColor='#ffffcc';" onMouseOut="this.bgColor='';"> 
		<td class="orderLineItem"><DIV align="left">{expenseType}</div></td>
		<td class="orderLineItem"><DIV align="left">{mileage}</div></td>
		<td class="orderLineItem"><DIV align="left">{value}</div></td>
		<td class="orderLineItem"><DIV align="left">{vatFlag}</div></td>
		<td class="orderLineItem"><DIV align="left"></div>
			<DIV align="left"> <A href="{urlEdit}" title="Edit expense details">{txtEdit}</A> 
				<A href="{urlDelete}"  title="Delete this expense record" onClick="if(!confirm('Are you sure you want to remove this expense?')) return(false)">{txtDelete}</A> 
			</DIV>
		</td>
	</tr>
	<!-- END expenseBlock -->
	<tr> 
		<td  class="listHeadText">Total</td>
		<td  class="listHeadText">&nbsp;</td>
		<td  class="listHeadText">{totalValue}</td>
		<td  class="listHeadText">&nbsp;</td>
		<td  class="listHeadText">&nbsp;</td>
	</tr>
</table>
<!-- End Template: ExpensesList.inc.html -->
