<style>
    label {
        float: left;
        width: 10em;
        margin-right: 1em;
    }
</style>
<script language='JavaScript'
        src="CommonJS.js"
></script>
<script>
    var savedCustomerName;
    function doSearch() {
        return false;
    }

    function validateCustomerName() {
        if (Trim(document.getElementById("customerName").value) != "") {
            if (document.getElementById("customerName").value != savedCustomerName) {
                window.open('{customerPopupURL}&customerString=' +
                    escape(document.getElementById("customerName").value) +
                    '&parentIDField=customerID' +
                    '&parentDescField=customerName',
                    'customers', 'scrollbars=yes,resizable=no,width=300,height=300,copyhistory=no, menubar=0')
            }
        }
        else {
            document.report.customerID.value = "";
        }
    }
</script>
<form action=""
      onsubmit="return doSearch();"
>
    <div>
        <div>
            <label for="customerName">
                Customer Name
            </label>
            <input type="text"
                   id="customerName"
                   onchange="validateCustomerName()"
            >
            <input type="hidden"
                   id="customerID"
            >
        </div>
        <div>
            <label for="engineerSelect">
                Engineer
            </label>
            <select id="engineerSelect">
                <option value="">All</option>
                <!-- BEGIN userBlock -->
                <option value="{userID}">
                    {userName}
                </option>
                <!-- END userBlock -->
        </div>
    </div>

</form>