<table>
    <thead>
    <tr>
        <td>
            Name
        </td>
        <td>
            First Time Fix Achieved
        </td>
        <td>
            Attempted First Time Fix
        </td>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN firstTimeFixBlock -->
    <tr>
        <td>{name}</td>
        <td>{firstTimeFix}</td>
        <td>{attemptedFirstTimeFix}</td>
    </tr>
    <!-- END firstTimeFixBlock -->
    <tr>
        <td>Total PCT</td>
        <td>{firstTimeFixAchievedPct}</td>
        <td>{firstTimeFixAttemptedPct}</td>
    </tr>
    </tbody>
</table>