<!-- Template: FurtherActionEdit.inc.html -->
<TABLE width="200px" border="0" cellpadding="2" cellspacing="1">
	<TR> 
		<TD width="100px" class="navigateLink" valign="top"><a href="{urlDisplayList}">Back to list</a></TD>
		<TD width="100px" class="navigateLink" valign="top"><a href="{urlDelete}">{txtDelete}</a></TD>
	</TR>
</table>
<FORM  method="post" action="{urlUpdate}" name="furtherAction" AUTOCOMPLETE="OFF">
	<table width="700px" border="0">
		<input
			type="hidden"
			name="furtherAction[1][furtherActionID]"
			value="{furtherActionID}"
		>
		<tr> 
			<td width="115" class="promptText">Description</td>
			<td width="575" class="fieldText"> <input
					name="furtherAction[1][description]"
					type="text" value="{description}"
					size="50"
					maxlength="50"
				> <span class="formErrorMessage">{descriptionMessage}</span> </td>
		</tr>
		<tr> 
			<td width="115" class="promptText">Email Address</td>
			<td width="575" class="fieldText"> <input
					name="furtherAction[1][emailAddress]"
					type="text" value="{emailAddress}"
					size="100"
					maxlength="100"
				> <span class="formErrorMessage">{emailAddressMessage}</span> </td>
		</tr>
		<tr> 
			<td width="115" valign="top" class="promptText">Email Body</td>
			<td width="575" class="fieldText">
				<textarea
					name="furtherAction[1][emailBody]" cols="100" rows="10"
				>{emailBody}</textarea>
				<span class="formErrorMessage">{emailBodyMessage}</span> </td>
		</tr>
		<tr> 
			<td class="promptText">Requires Date</td>
			<td class="fieldText"> <INPUT name="furtherAction[1][requireDate]" type="checkbox" value="Y" {requireDateChecked}>
			</td>
		</tr>
		<tr> 
			<td>&nbsp;</td>
			<td class="formErrorMessage"><input type="submit" name="Submit" value="Update"></td>
		</tr>
	</table>
</form>
<!-- End Template: FurtherActionEdit.inc.html -->