<!-- Template: GoodsInSearch.inc.html -->
<script language='JavaScript'>
function validateSupplierName(){
	if (document.getElementById("supplierName").value != ""){
		window.open(
			'{urlSupplierPopup}&supplierName=' +
			escape(document.getElementById("supplierName").value) +
			'&parentIDField=supplierID' +
			'&parentDescField=supplierName',
			'items',
			'scrollbars=yes,resizable=no,width=450,height=400,copyhistory=no, menubar=0'
		)
	}
	else{
		document.getElementById("supplierID").value = '';
	}
}
function submitOnReturn() {
	if (event.keyCode == 13) {
			document.searchForm.submit();
   }
}
function createOrder(){
	if (document.searchForm.supplierID.value != ""){
			document.location='{urlCreateOrder}&supplierID=' + escape(document.searchForm.supplierID.value)
	}
}
</script>
<form name="searchForm" method="post" action="{submitURL}">
  <table width="500px" border="0" cellspacing="0" cellpadding="1">
		<tr> 
			<td width="100px" class="promptText"><div align="right">Supplier</div></td>
			<td>
				<input
					type="hidden"
					name="supplierID"
					value="{supplierID}"
					id="supplierID"
				>
				<input
					type="text"
					name="supplierName"
					id="supplierName"
					value="{supplierName}"
					onChange="javascript:validateSupplierName()"
					size="50"
					maxlength="50"
				>
		</td>
		</tr>
		<tr> 
			<td class="promptText"><div align="right">Purchase Order No</div></td>
			<td> <input
					type="text"
					onKeypress="javascript:submitOnReturn()"
					name="porheadID"
					value="{porheadID}"
				>
		</td>
		<tr> 
			<td>&nbsp;</td>
			<td>
				<input type="button" name="Search" value="Search" onClick="submit();">
		</tr>
	</table>
</form>
<table class="singleBorder" width="890px" border="0" cellspacing="1" cellpadding="1">
	<tr> 
		<td width="240px" class="listHeadText">Supplier</td>
		<td width="50px" class="listHeadText">Order No</td>
		<td width="70px" class="listHeadText">Status</td>
		<td width="250px" class="listHeadText">Supplier Ref</td>
		<td width="245px" class="listHeadText">Sold To</td>
		<td width="50px" class="listHeadText">&nbsp;</td>
	</tr>
	<!-- BEGIN orderBlock -->
	<tr onMouseOver="this.bgColor='#FFFFCC';" onMouseOut="this.bgColor='';"> 
		<td class="listItemText">{listSupplierName}</td>
		<td class="listItemText"><A HREF="{listGoodsInURL}">{listPorheadID}</A></td>
		<td class="listItemText">{listOrderType}</td>
		<td class="listItemText">{listSupplierRef}</td>
		<td class="listItemText">{listCustomerName}</td>
		<td class="listItemText">{listOrderDelete}</td>
	</tr>
	<!-- END orderBlock -->
</table>
<!-- End Template: GoodsInSearch.inc.html -->