<table class="content" width="100%">
  <tr>
    <td class="listHeadText"><div align="center"><strong>Severity</strong></div></td>
    <td class="listHeadText"><div align="center"><strong>Within SLA</strong></div></td>
    <td class="listHeadText"><div align="center"><strong>Approaching SLA</strong></div></td>
    <td class="listHeadText"><div align="center"><strong>Exceeded SLA</strong></div></td>
    <td class="listHeadText" colspan="2"><div align="center"><strong>Month-to-date SLA Targets</strong></div></td>
  </tr>
  <tr>
    <td class="content"><div align="center"><strong>1</strong></div></td>
    <td class="content"><div align="center"><a href="{urlPriority1WithinSla}" target="_blank">{priority1WithinSla}</a></div></td>
    <td class="content"><div align="center"><a href="{urlPriority1ApproachingSla}" target="_blank">{priority1ApproachingSla}</a></div></td>
    <td class="content"><div align="center"><a href="{urlPriority1ExceededSla}" target="_blank">{priority1ExceededSla}</a></div></td>
    <td class="content"><div align="center"><strong>Responded Within 1 Hour</strong></div></td>
    <td class="content"><div align="center">{respondedWithinSlaMtdPerc}%</div></td>
  </tr>
  <tr>
    <td class="content"><div align="center"><strong>2</strong></div></td>
    <td class="content"><div align="center"><a href="{urlPriority2WithinSla}" target="_blank">{priority2WithinSla}</a></div></td>
    <td class="content"><div align="center"><a href="{urlPriority2ApproachingSla}" target="_blank">{priority2ApproachingSla}</a></div></td>
    <td class="content"><div align="center"><a href="{urlPriority2ExceededSla}" target="_blank">{priority2ExceededSla}</a></div></td>
    <td class="content"><div align="center"><strong>Average Response Hours</strong></div></td>
    <td class="content"><div align="center">{aveResponseHoursMtd}</div></td>
  </tr>
  <tr>
    <td class="content"><div align="center"><strong>3</strong></div></td>
    <td class="content"><div align="center"><a href="{urlPriority3WithinSla}" target="_blank">{priority3WithinSla}</a></div></td>
    <td class="content"><div align="center"><a href="{urlPriority3ApproachingSla}" target="_blank">{priority3ApproachingSla}</a></div></td>
    <td class="content"><div align="center"><a href="{urlPriority3ExceededSla}" target="_blank">{priority3ExceededSla}</a></div></td>
    <td class="content"><div align="center"><strong>Average Fix Hours</strong></div></td>
    <td class="content"><div align="center">{aveFixHoursMtd}</div></td>
  </tr>
  <tr>
    <td class="content"><div align="center"><strong>4</strong></div></td>
    <td class="content" colspan="3"><div align="center"><strong><a href="{urlPriority4}" target="_blank">{priority4}</a></strong></div></td>
    <td class="content"><div align="center"><strong>Number of Incidents</strong></div></td>
    <td class="content"><div align="center">{incidentCountSlaMtd}</div></td>
  </tr>
  <tr>
    <td class="content"><div align="center"><strong>T &amp; M</strong></div></td>
    <td class="content" colspan="3"><div align="center"><strong><a href="{urlTAndM}" target="_blank">{tAndM}</a></strong></div></td>
    <td class="content"><div align="center">&nbsp;</div></td>
    <td class="content"><div align="center">&nbsp;</div></td>
  </tr>
</table>
