<!-- Template: Home.inc.html -->
<table class='singleBorder' width="527" border="0" cellspacing="1" cellpadding="2">
	<tr> 
		<td width="40" class="tableHeader">&nbsp;</td>
		
    <td width="119" class="tableHeader">Invoiced This Month</td>
		<td width="125" class="tableHeader">Invoices Waiting</td>
		
    <td width="128" class="tableHeader"> Sales Orders</td>
		<td width="89" class="tableHeader">Total</td>
	</tr>
	<tr onMouseOver="this.bgColor='#FFFFCC';" onMouseOut="this.bgColor='';"> 
		<td class="tableHeader">Cost</td>
		<td class="displayfield"><div align="right">{invPrintedCost}</div></td>
		<td class="displayfield"><div align="right">{invUnprintedCost}</div></td>
		<td class="displayfield"><div align="right">{soCost}</div></td>
		<td class="displayfield"><div align="right">{costTotal}</div></td>
	</tr>
	<tr onMouseOver="this.bgColor='#FFFFCC';" onMouseOut="this.bgColor='';"> 
		<td class="tableHeader">Sale</td>
		<td class="displayfield"><div align="right">{invPrintedSale}</div></td>
		<td class="displayfield"><div align="right">{invUnprintedSale}</div></td>
		<td class="displayfield"><div align="right">{soSale}</div></td>
		<td class="displayfield"><div align="right">{saleTotal}</div></td>
	</tr>
	<tr onMouseOver="this.bgColor='#FFFFCC';" onMouseOut="this.bgColor='';"> 
		<td class="tableHeader">Profit</td>
		<td class="displayfield"><div align="right">{invPrintedProfit}</div></td>
		<td class="displayfield"><div align="right">{invUnprintedProfit}</div></td>
		<td class="displayfield"><div align="right">{soProfit}</div></td>
		<td class="displayfield"><div align="right">{profitTotal}</div></td>
	</tr>
</table>
<!-- <H3>{callsOutstanding} unresolved service calls</H3> -->