<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages': ['corechart']});

    function chartSystem(id, team) {
        // Set a callback to run when the Google Visualization API is loaded.
        var that = this;
        this.title = "";
        switch (team) {
            case 1:
                this.title = "Help Desk";
                break;
            case 2:
                this.title = "Escalations";
                break;
            case 3:
                this.title = "Implementations";
                break;
        }

        this.membersOptions = {};
        this.storedData = null;
        this.storedOptions = {
            'title': this.title,
            'width': 800,
            'height': 600,
            series: {
                0: {lineDashStyle: [1, 1], lineWidth: 6},
                1: {lineWidth: 8}
            }
        };
        this.mainElm = $('#' + id);
        if (!this.mainElm[0]) {
            throw "Couldn't find the element";
        }

        this.chartDiv = this.mainElm.find('.chart');
        this.chart = null;
        this.days = 30;
        this.ajaxOptions = {
            url: '?action=lastWeekHelpDesk',
            dataType: 'json',
            data: {days: this.days, team: team}
        };
        this.data = $.ajax(this.ajaxOptions);

        this.daysSelector = this.mainElm.find('.daysSelector');
        this.membersSelectors = this.mainElm.find('.membersSelectors');


        this.daysSelector.change(function () {

            that.ajaxOptions.data.days = $(this).val();

            that.data = $.ajax(that.ajaxOptions);
            drawChart()
        });

        this.membersSelectors.on('change', 'input', function () {
            that.membersOptions[this.id] = !that.membersOptions[this.id];
            hideColumns();
        });
        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {
            return that.data.then(function (result) {
                that.membersSelectors.html('');

                Object.keys(result.members).forEach(function (memberKey) {

                    if (that.membersOptions[memberKey] == null) {
                        that.membersOptions[memberKey] = true;
                    }

                    that.membersSelectors.append('<div ><label>' + result.members[memberKey] +
                        '</label><input type="checkbox" id="' + memberKey + '" ' + (that.membersOptions[memberKey] ? 'checked' : '') + '></div>')
                });

                that.storedData = new google.visualization.DataTable(result.data);
                // Instantiate and draw our chart, passing in some options.
                that.chart = new google.visualization.LineChart(that.chartDiv[0]);
                hideColumns();
            });
        }

        function hideColumns() {
            var view = new google.visualization.DataView(that.storedData);

            var columnsToHide = [];

            for (var i = 0; i < that.storedData.getNumberOfColumns(); i++) {
                var columnId = that.storedData.getColumnId(i);
                if (!isNaN(columnId) && !that.membersOptions[columnId]) {
                    // is a number ..so it's an id
                    columnsToHide.push(i);
                }
            }
            view.hideColumns(columnsToHide);
            that.chart.draw(view, that.storedOptions);
        }

        drawChart();
    }

    google.charts.setOnLoadCallback(function () {
        var test = new chartSystem('helpDeskChart', 1);
        var test2 = new chartSystem('escalationsChart', 2);
        var test3 = new chartSystem('implementationsChart', 3);
    });


</script>
<style>
    .membersSelectors {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
</style>
<div id="helpDeskChart">
    <h2>
        Help Desk Team
    </h2>
    <div>
        <div>
            Members:
            <div class="membersSelectors">

            </div>
        </div>
        <div>
            <select name="days" class="daysSelector">
                <option value="7">last 7 Days</option>
                <option value="30" selected>last 30 Days</option>
                <option value="180">last 6 Months</option>
                <option value="365">last Year</option>
            </select>
        </div>

        <div class="chart"></div>
    </div>
</div>
<div id="escalationsChart">
    <h2>
        Escalations Team
    </h2>
    <div>
        <div>
            Members:
            <div class="membersSelectors">

            </div>
        </div>
        <div>
            <select name="days" class="daysSelector">
                <option value="7">last 7 Days</option>
                <option value="30" selected>last 30 Days</option>
                <option value="180">last 6 Months</option>
                <option value="365">last Year</option>
            </select>
        </div>

        <div class="chart"></div>
    </div>
</div>
<div id="implementationsChart">
    <h2>
        Implementations Team
    </h2>
    <div>
        <div>
            Members:
            <div class="membersSelectors">

            </div>
        </div>
        <div>
            <select name="days" class="daysSelector">
                <option value="7">last 7 Days</option>
                <option value="30" selected>last 30 Days</option>
                <option value="180">last 6 Months</option>
                <option value="365">last Year</option>
            </select>
        </div>

        <div class="chart"></div>
    </div>
</div>
{test}