<style>
    .dailyFixedAndReopenedStatsTable td {
        font-weight: bold;
        font-size: 16px;
    }

</style>
<h3>Daily Fixed & Reopened Stats</h3>
<table class="dailyFixedAndReopenedStatsTable">
    <thead>
    <tr>
        <td>Team</td>
        <td>HD</td>
        <td>ESC</td>
        <td>IMT</td>
        <td>Total</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Fixed</td>
        <td>{hdFixed}</td>
        <td>{escFixed}</td>
        <td>{imtFixed}</td>
        <td>{totalFixed}</td>
    </tr>
    <tr>
        <td>Reopened</td>
        <td>{hdReopened}</td>
        <td>{escReopened}</td>
        <td>{imtReopened}</td>
        <td>{totalReopened}</td>
    </tr>
    </tbody>
</table>