<script type="text/javascript"
        src="https://www.gstatic.com/charts/loader.js"
></script>
<script type="text/javascript"
        src=".javascript/handlebars-v4.0.11.js"
></script>
<script type="text/javascript"
        src=".javascript/mustache.min.js"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"
        integrity="sha256-L3S3EDEk31HcLA5C6T2ovHvOcD80+fgqaCDt2BAi92o="
        crossorigin="anonymous"
></script>
<style>
    .chart {
        /* width: 100%; */
        min-height: 200px;

    }

    .item {
        /* width: 30%; */
        flex-basis: 500px;
        margin: 8px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
        border-radius: 10px;
        padding: 0.2rem;
        transition: .3s;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
    }


</style>
<script id="member-item-template"
        type="text/template"
>
    <div class="item">
        <button class="details"
                type="button"
                data-user-id="{% userID %}"
        >Show Details
        </button>
        <br>
        <div id="{% id %}"
             class="chart"
        >

        </div>
    </div>
</script>
<script type="text/javascript">
    const userLevel = {userLevel};
    const userID = {userID};
    const isManager = {isManager};
    const defaultTeam = userLevel <= 5 ? userLevel : 1;
    let timeFrameSelector = null;
    let $teamSelector = null;
    let datePicker = null;

    window.addEventListener('DOMContentLoaded', function () {
        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages': ['corechart']});
        const googleLoadedDeferred = jQuery.Deferred();
        const googleLoaded = googleLoadedDeferred.promise();

        googleLoaded.then((test) => {
            console.log('google has loaded!!')
        });

        $teamSelector = $('#teamSelector');
        const container = $('#teamIndividualCharts');
        timeFrameSelector = document.getElementById('timeFrameSelector');

        datePicker = document.getElementById('hourlyDatePicker');

        timeFrameSelector.addEventListener('change', $event => {
            drawIndividualCharts()
            if (timeFrameSelector.value == 'hourly') {
                datePicker.removeAttribute('hidden');
            } else {
                datePicker.setAttribute('hidden', '');
            }
        })
        datePicker.value = moment().format('YYYY-MM-DD');
        datePicker.addEventListener('change', $event => {
            drawIndividualCharts();
        })


        $teamSelector.val(defaultTeam);
        if (isManager) {
            $teamSelector.show();
        }
        $('body').on('click', '.details', function () {
            const userId = $(this).data().userId;
            const today = moment();
            const sixtyDaysAgo = moment().subtract(60, 'days');
            window.open('?action=detailedCharts&engineerID=' + userId + '&startDate=' + sixtyDaysAgo.format('YYYY-MM-DD') + '&endDate=' + today.format('YYYY-MM-DD'), '_blank');

        });
        drawIndividualCharts();
        $teamSelector.change(function () {
            drawIndividualCharts();
        });
        Mustache.tags = ['{%', '%}'];


        function drawIndividualCharts() {
            const that = this;

            const teamId = $teamSelector.val();
            const timeFrame = timeFrameSelector.value;

            let url = '?action=lastWeekHelpDesk';
            const hourly = 'hourly';
            if (timeFrame == hourly) {
                const dateSelected = datePicker.value;
                url = '?action=getLoggedActivityTimes&date=' + dateSelected;
            }

            this.ajaxOptions = {
                url,
                dataType: 'json',
                data: {team: teamId}
            };
            this.data = googleLoaded.then(() => {
                return $.ajax(this.ajaxOptions)
            });
            this.container = $('#teamIndividualCharts');
            this.container.html('');
            this.source = document.getElementById("member-item-template").innerHTML;
            this.data.then(function (data) {
                if (timeFrame == hourly) {
                    data.data.forEach(function (item) {

                        const id = teamId + '-' + item.engineerId;
                        const context = {
                            name: item.engineerName,
                            id: id,
                            userID: item.engineerId
                        };

                        const html = Mustache.to_html(that.source, context);
                        that.container.append(html);

                        const test = that.container.find('#' + id);

                        const dataTable = new google.visualization.DataTable();
                        dataTable.addColumn('number', 'Hour');
                        dataTable.addColumn('number', '% Logged');
                        dataTable.addRows(
                            item.dataPoints.reduce((acc, loggedMinutes, index) => {
                                if (index >= 7 && index <= 19) {
                                    acc.push([
                                        index,
                                        loggedMinutes / 60 * 100
                                    ])
                                }
                                return acc;
                            }, [])
                        );


                        const storedOptions = {
                            title: item.engineerName,
                            legend: 'none',
                            series: {
                                0: {color: '#0082b9'},
                            }
                        };
                        const chart = new google.visualization.ColumnChart(test[0]);
                        chart.draw(dataTable, storedOptions);
                    });
                } else {
                    data.forEach(function (item) {
                        const id = teamId + '-' + item.userID;
                        const context = {
                            name: item.userName,
                            id: id,
                            userID: item.userID
                        };

                        const html = Mustache.to_html(that.source, context);
                        that.container.append(html);

                        const test = that.container.find('#' + id);

                        const dataTable = new google.visualization.DataTable();
                        dataTable.addColumn('date', 'Dates');
                        dataTable.addColumn('number', 'Hours Logged All Clients(except CNC)');
                        dataTable.addColumn({type: 'string', role: 'style'});
                        dataTable.addColumn('number', 'Hours Logged Against CNC')
                        dataTable.addColumn('number', 'Holiday Hours');
                        dataTable.addColumn('number', 'Sum',);
                        dataTable.addRows(
                            item.dataPoints.map(function (row) {
                                return [
                                    new Date(row['date']),
                                    row['loggedHours'],
                                    row['isHolidays'] ? 'green' : null,
                                    row['cncLoggedHours'],
                                    row['holidayHours'],
                                    row['loggedHours'] + row['cncLoggedHours'] + row['holidayHours'],
                                ]
                            })
                        );


                        const storedOptions = {
                            title: item.userName,
                            trendlines: {3: {color: '#3c3c3c'}},
                            legend: 'none',
                            isStacked: true,
                            seriesType: 'bars',
                            series: {
                                0: {color: '#0082b9'},
                                1: {color: '#c6c6c6'},
                                2: {color: 'green'},
                                3: {type: 'line', areaOpacity: 0, lineWidth: 0, tooltip: {trigger: 'none'}},
                            }
                        };

                        const chart = new google.visualization.ComboChart(test[0]);
                        chart.draw(dataTable, storedOptions);
                    })
                }

            })


        }

        function convertToActualDate(rows) {

            rows.forEach(function (row) {
                row.c[0].v = moment(row.c[0].v).toDate();
            });
            return rows;
        }


        google.charts.setOnLoadCallback(function () {
            googleLoadedDeferred.resolve(true);
        });
    })

</script>
<style>
    .membersSelectors {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .memberItem {
        display: flex;
        width: 160px;
        flex-direction: row;
        height: 50px;
        align-items: center;
        justify-content: space-between;
    }

    .memberItem .name {
        flex: 0 0 50%;
    }

    .memberItem .selectors {
        flex: 0 0 50%;
    }

    .memberItem .selector {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
    }

    .memberItem .selector .item {
        flex: 0 0 50%;
    }
</style>

<select name="team"
        class="teamSelector"
        id="teamSelector"
        hidden
>
    <option value="1"
            selected
    >Help Desk Team
    </option>
    <option value="2">Escalations Team</option>
    <option value="3">Small Projects Team</option>
    <option value="5">Projects Team</option>
</select>
<select class="timeFrameSelector"
        id="timeFrameSelector"
>
    <option value="daily"
            selected
    >Daily
    </option>
    <option value="hourly">Hourly</option>
</select>
<input type="date"
       id="hourlyDatePicker"
       hidden
>
<div id="teamIndividualCharts"
     class="container"
>

</div>