<style>
    .dailyFixedAndReopenedStatsTable td {
        font-weight: bold;
        font-size: 16px;
    }

</style>
<h3>Daily Fixed & Reopened Stats</h3>
<table class="dailyFixedAndReopenedStatsTable">
    <thead>
    <tr>
        <td>Team</td>
        <td>HD</td>
        <td>ESC</td>
        <td>IMT</td>
        <td>Total</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Daily Fixed</td>
        <td>{dailyHdFixed}</td>
        <td>{dailyEscFixed}</td>
        <td>{dailyImtFixed}</td>
        <td>{dailyTotalFixed}</td>
    </tr>
    <tr>
        <td>Daily Reopened</td>
        <td>{dailyHdReopened}</td>
        <td>{dailyEscReopened}</td>
        <td>{dailyImtReopened}</td>
        <td>{dailyTotalReopened}</td>
    </tr>
    <tr>
        <td>Weekly Fixed</td>
        <td>{weeklyHdFixed}</td>
        <td>{weeklyEscFixed}</td>
        <td>{weeklyImtFixed}</td>
        <td>{weeklyTotalFixed}</td>
    </tr>
    <tr>
        <td>Weekly Reopened</td>
        <td>{weeklyHdReopened}</td>
        <td>{weeklyEscReopened}</td>
        <td>{weeklyImtReopened}</td>
        <td>{weeklyTotalReopened}</td>
    </tr>
    </tbody>
</table>