<!-- Template: ActivityProfitReport.inc.html -->
<script language='JavaScript'
        src="CommonJS.js"
></script>
<script type="application/javascript">
    window.addEventListener('DOMContentLoaded', function () {
        window.fromDate = $('#fromDate').get(0);
        window.toDate = $('#toDate').get(0);
    });
</script>
<P class="formErrorMessage">{formError}</P>
<form name="searchForm"
      method="post"
      action="{urlSubmit}"
>
    <table width="500px"
           border="0"
           cellspacing="0"
           cellpadding="1"
    >
        <tr>
            <td class="promptText">
                <div align="right">From</div>
            </td>
            <td>
                <input type="date"
                       name="searchForm[1][fromDate]"
                       id="fromDate"
                       value="{fromDate}"
                       size="10"
                       maxlength="10"
                       autocomplete="off"
                >
                <font class="formErrorMessage">{fromDateMessage}</font>
            </td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">To</div>
            </td>
            <td>
                <input type="date"
                       name="searchForm[1][toDate]"
                       id="toDate"
                       value="{toDate}"
                       size="10"
                       maxlength="10"
                       autocomplete="off"
                >
                <font class="formErrorMessage">{toDateMessage}</font>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit"
                       name="Search"
                       value="Search"
                       onClick="submit();"
            ></td>
        </tr>
    </table>
    <p>&nbsp;</p>

</form>
<p>&nbsp;</p>
<table border="0"
       cellpadding="2"
       cellspacing="1"
       class="singleBorder"
>
    <tr valign="top">
        <td align="center"
            nowrap="nowrap"
            class="listHeadTextCentre"
        >Year
        </td>
        <td align="center"
            nowrap="nowrap"
            class="listHeadTextCentre"
        >Month
        </td>
        <td align="center"
            nowrap="nowrap"
            class="listHeadText"
        >Total Incidents
        </td>
        <td nowrap="nowrap"
            class="listHeadText"
        >Total Hours
        </td>
        <td nowrap="nowrap"
            class="listHeadText"
        >Fix Hours Average
        </td>
        <td nowrap="nowrap"
            class="listHeadText"
        >Response Hours Average
        </td>
    </tr>
    <!-- BEGIN resultBlock -->
    <tr valign="top"
        onmouseover="this.bgColor='#FFFFCC';"
        onmouseout="this.bgColor=''"
    >

        <td nowrap="nowrap">
            <div align="center">{year}</div>
        </td>
        <td nowrap="nowrap">
            <div align="center">{month}</div>
        </td>
        <td align="top"
            nowrap="nowrap"
            class="listItemText"
        >
            <div align="right">{incidentsTotalCount}</div>
        </td>
        <td align="top"
            nowrap="nowrap"
            class="listItemText"
        >
            <div align="right">{activityTotalHours}</div>
        </td>
        <td align="top"
            nowrap="nowrap"
            class="listItemText"
        >
            <div align="right">{fixAverageHours}</div>
        </td>
        <td align="top"
            nowrap="nowrap"
            class="listItemText"
        >
            <div align="right">{responseAverageHours}</div>
        </td>
    </tr>
    <!-- END resultBlock -->
</table>
<!-- End Template: ActivityProfitReport.inc.html -->