<!-- Template: InvoiceHeadDisplay.inc.html -->
<table class="singleBorder" width="700px" border="0">
	<tr> 
		<td width = "60px" class="promptText">Customer</td>
		<td width = "254px" class="mainHeadText">{customerName}</td>
		<td width = "60px" class="promptText">Invoice No</td>
		<td width = "80px" class="mainHeadText">{invheadID}</td>
		<td width = "120px" class="promptText">Date Printed</td>
		<td width = "60px" class="mainHeadText">{datePrinted}</td>
		<td width = "60px" class="promptText">VAT</td>
		<td width = "60px" class="mainHeadText">{vatRate}</td>
	</tr>
</table>
<!-- End Template: InvoiceHeadDisplay.inc.html -->
