<!-- Template: InvoiceSearch.inc.html -->
<script language='JavaScript'
        src="CommonJS.js"
></script>
<script language='JavaScript'>
    $(function () {
        window.startDate = $('#startDate').get(0);
        window.endDate = $('#endDate').get(0);

        $('#customerString')[0].addEventListener('autocompleteselect', function ($event) {
            $('#customerID').val($event.detail.item.value);
        });
    });

    function createInvoice() {
        if (document.searchForm.customerID.value != "") {
            document.location = '{urlCreateInvoice}&customerID=' + escape(document.searchForm.customerID.value)
        }
    }

    function createCreditNote() {
        if (document.searchForm.customerID.value != "") {
            document.location = '{urlCreateCreditNote}&customerID=' + escape(document.searchForm.customerID.value)
        }
    }

    function submitOnReturn() {
        if (event.keyCode == 13) {
            document.searchForm.submit();
        }
    }

</script>
<form name="searchForm"
      method="post"
      action="{urlSubmit}"
      AUTOCOMPLETE="off"
>
    <table width="500px"
           border="0"
           cellspacing="0"
           cellpadding="1"
    >
        <tr>
            <td width="100px"
                class="promptText"
            >
                <div align="right">Customer</div>
            </td>
            <td><input
                    type="hidden"
                    name="invoice[1][customerID]"
                    id="customerID"
                    value="{customerID}"
            > <input
                    type="text"
                    id="customerString"
                    name="customerString"
                    value="{customerString}"
                    size="50"
                    maxlength="50"
                    customer-search
            > <font class="formErrorMessage"> {customerStringMessage} </font></td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Invoice Number</div>
            </td>
            <td><input
                    type="text"
                    onKeypress="javascript:submitOnReturn()"
                    name="invoice[1][invheadID]"
                    value="{invheadID}"
            > <font class="formErrorMessage">{invheadIDMessage}</font></td>
        </tr>
        <tr>
            <td class="promptText">Type</td>
            <td>
                <select name="invoice[1][invoiceType]">
                    <option value="">All</option>
                    <!-- BEGIN invoiceTypeBlock -->
                    <option {invoiceTypeSelected}
                            value="{invoiceType}"
                    >{invoiceTypeDescription}
                    </option>
                    <!-- END invoiceTypeBlock -->
                </select>
            </td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Sales Order Number</div>
            </td>
            <td><input
                    type="text"
                    onKeypress="javascript:submitOnReturn()"
                    name="invoice[1][ordheadID]"
                    value="{ordheadID}"
            > <font class="formErrorMessage"> {ordheadIDMessage} </font></td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Printed</div>
            </td>
            <td><INPUT name="invoice[1][printedFlag]"
                       {DISABLED}
                       type="checkbox"
                       value="Y"
                       {printedFlagChecked}
            >
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Start Date</div>
            </td>
            <td><input
                    type="text"
                    name="invoice[1][startDate]"
                    id="startDate"
                    value="{startDate}"
                    size="10"
                    maxlength="10"
                    onKeypress="javascript:submitOnReturn()"
                    class="jqueryCalendar"
                    autocomplete="off"
            ><font class="formErrorMessage">{startDateMessage}</font></td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">End Date</div>
            </td>
            <td><input
                    type="text"
                    name="invoice[1][endDate]"
                    id="endDate"
                    value="{endDate}"
                    size="10"
                    maxlength="10"
                    onKeypress="javascript:submitOnReturn()"
                    class="jqueryCalendar"
                    autocomplete="off"
            >
                <font class="formErrorMessage">{endDateMessage}</font></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="button"
                       name="Search"
                       value="Search"
                       onClick="submit();"
            >
                <input type="button"
                       name="CreateInvoice"
                       value="New Invoice"
                       onClick="createInvoice();"
                >
                <input type="button"
                       name="CreateCreditNote"
                       value="New Credit Note"
                       onClick="createCreditNote();"
                >
        </tr>
    </table>
</form>
<table class="singleBorder"
       width="700px"
       border="0"
       cellspacing="1"
       cellpadding="1"
>
    <tr>
        <td width="245px"
            class="listHeadText"
        >Customer
        </td>
        <td width="50px"
            class="listHeadText"
        >Invoice No
        </td>
        <td width="50px"
            class="listHeadText"
        >SO No
        </td>
        <td width="50px"
            class="listHeadText"
        >Type
        </td>
        <td width="250px"
            class="listHeadText"
        >Cust PO Ref
        </td>
    </tr>
    <!-- BEGIN invoiceBlock -->
    <tr onMouseOver="this.bgColor='#FFFFCC';"
        onMouseOut="this.bgColor='';"
    >
        <td class="listItemText">{listCustomerName}</td>
        <td class="listItemText"><A HREF="{listInvoiceURL}">{listInvheadID}</A></td>
        <td class="listItemText">{listOrdheadID}</td>
        <td class="listItemText">{listInvoiceType}</td>
        <td class="listItemText">{listCustomerRef}</td>
    </tr>
    <!-- END invoiceBlock -->
</table>
<!-- End Template: InvoiceSearch.inc.html -->