<link rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/datatables.min.css"
/>

<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"
></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"
></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/datatables.min.js"
></script>

<script>
    $(function () {
        $('#theTable').DataTable({
            dom: 'Blfrtip',
            buttons: [
                {
                    extend: 'csv',
                    bom: true
                }
            ],
            paging: false,
        });
    })
</script>
<style>
    table.dataTable tfoot th {
        padding-right: 0 !important;
    }
</style>
<div class="reportDescription">
    This report breakdowns down the support contracts to show details about the ratio of supported users and servers.
</div>
<TABLE id="theTable">
    <thead>
    <TR>
        <th>
            Purchase order
        </th>
        <th>
            Customer Name
        </th>
        <th>
            Description
        </th>
        <th>
            Supplier
        </th>
        <th>
            Delivered To
        </th>
        <th>
            Ordered On
        </th>
        <th>
            Visit Booked For
        </th>
        <th>
            Required By
        </th>
        <th>
            Supplier Ref
        </th>
        <th>
            Project Name
        </th>
        <th>
            Dispatched Date
        </th>
    </TR>
    </thead>
    <tbody>
    <!-- BEGIN notYetReceivedItemBlock -->
    <TR {style}>
        <TD>
            <A href="{purchaseOrderLink}">{purchaseOrderId}</A>
        </TD>
        <td>
            {customerName}
        </td>
        <td>
            {itemDescription}
        </td>
        <td>
            {supplierName}
        </td>
        <td>
            {direct}
        </td>
        <td>
            {purchaseOrderDate}
        </td>
        <td>
            {futureDate}
        </td>
        <td>
            {requiredByDate}
        </td>
        <td>
            {supplierRef}
        </td>
        <td>
            {projectName}
        </td>
        <td>
            {dispatchedDate}
        </td>
    </TR>
    <!-- END notYetReceivedItemBlock -->
    </tbody>
</TABLE>