<html>
<head>
<script type="text/javascript">
function submitItem(itemID, itemDescription, curUnitSale, curUnitCost, qtyOrdered, slaResponseHours) {
	if ((opener) && (!opener.closed)) {
		if(opener.document.getElementById("{parentIDField}")){
			opener.document.getElementById("{parentIDField}").value=itemID;
		}
		if(opener.document.getElementById("{parentDescField}")){
			opener.document.getElementById("{parentDescField}").value=itemDescription;
		}
    if(opener.document.getElementById("{parentSlaResponseHoursField}")){
      opener.document.getElementById("{parentSlaResponseHoursField}").value=slaResponseHours;
    }
		if(opener.document.getElementById("curUnitCost")){
			opener.document.getElementById("curUnitCost").value=curUnitCost;
		}
		if(opener.document.getElementById("curUnitSale")){
			opener.document.getElementById("curUnitSale").value=curUnitSale;
		}
		if(opener.document.getElementById("qtyOrdered")){
			opener.document.getElementById("qtyOrdered").value=qtyOrdered;
		}
		window.close();
	}
}
function checkAll() { 
  for (var i=0;i<document.discontinueForm.elements.length;i++) { 
    var e = document.discontinueForm.elements[i]; 
    e.checked = document.discontinueForm.checkAllBox.checked;
  }
}
</script>
</head>
<body>
<form name="discontinueForm" method="post" action="{urlDiscontinue}">
<table>
<tr>
  <TD colspan="2">
    <INPUT type="button" name="create" value="Create New" onclick="document.location='{urlItemCreate}';">
    <INPUT type="button" name="close" value="Close" onclick="window.close();">
  </TD>
  <td align="left">
      <input type="submit" name="discontinue" value="Discontinue" onClick="if(!confirm('Are you sure you want to discontinue these products?')) return(false)"/>
  </td>
</tr>
<tr>
  <td colspan="2">&nbsp;</td>
  <td align="left">
  <input type="checkbox" name="checkAllBox" id="checkAllBox" value="0" onClick="checkAll();"/>
  </td>
</tr>
<!-- BEGIN itemBlock -->
<tr>
<td class="listItemText">
	<a href="javascript:submitItem({itemID}, '{submitDescription}', '{curUnitSale}', '{curUnitCost}', '{qtyOrdered}', '{slaResponseHours}')">{itemDescription}</a>
</td>
<td class="listItemText">
	{partNo}
</td>
<td class="listItemText">
  <input
    type="checkbox"
    name="discontinueItemIDs[]"
    value="{itemID}"
  >
</td>
</tr>
<!-- END itemBlock -->
</table>
</form>
</body>
</html>
