<script type="module">
    import TypeAheadSearch from "/components/utils/TypeAheadSearch.js";

    let table;

    function renderReactElement(component, props, targetNode, callback) {
        const reactElement = React.createElement(TypeAheadSearch, props, null);
        ReactDOM.render(reactElement, targetNode, callback);
        return reactElement;
    }

    const debounce = (func, wait) => {
        let timeout;
        return function executedFunction(...args) {
            const later = () => {
                clearTimeout(timeout);
                func(...args);
            }
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
        }
    }
    const performSearch = function (value, column) {
        if (table.column(column).search() !== value) {
            table.column(column)
                .search(value);
            table.draw();
        }
    };
    document.addEventListener('DOMContentLoaded', ($event) => {
        const tableElement = document.getElementById('itemListTable');
        const header = tableElement.querySelector('thead');
        const clonedHeaderRow = header.querySelector('tr').cloneNode(true);
        header.appendChild(clonedHeaderRow);


        clonedHeaderRow.querySelectorAll('th').forEach((th, key) => {
            const data = th.dataset;
            th.innerHTML = '';
            if (!data.searchable) {
                return;
            }

            switch (data.searchType) {
                case 'filterAsYouType': {
                    const input = document.createElement('input');
                    input.style.width = '100%';
                    input.addEventListener('keyup', debounce(($event) => {
                        performSearch(input.value, key);
                    }, 300));
                    th.appendChild(input);
                    break;
                }
                case 'autocomplete': {
                    const domContainer = document.createElement('div');

                    const termField = data.autocompleteTermField;

                    let props = {
                        autocompleteSelectedCallBack: (selectedItem) => {
                            props.value = selectedItem.label;
                            performSearch(selectedItem.label, key);
                            renderReactElement(TypeAheadSearch, props, domContainer)
                        },
                        searchRequest: (term, itemsToShow, responseCB) => {
                            fetch(
                                data.autocompleteUrl,
                                {
                                    method: 'POST',
                                    body: JSON.stringify({[termField]: props.value})
                                }
                            )
                                .then(x => x.json())
                                .then(response => {
                                    if (response.status !== 'ok') {
                                        throw new Error(response.message);
                                    }
                                    responseCB(response.data.map(x => ({label: x[termField], value: x[termField]})))
                                })
                        },
                        value: '',
                        onInputChange: (value) => {
                            props.value = value;
                            performSearch(value, key);
                            renderReactElement(TypeAheadSearch, props, domContainer)
                        },
                        readOnly: false,
                        showClear: false,
                    }

                    renderReactElement(TypeAheadSearch, props, domContainer);
                    th.appendChild(domContainer);
                    break;
                }
                case 'renewalTypeDropdown': {
                    const options = [
                        {value: '', label: ''},
                        {value: 1, label: 'Broadband'},
                        {value: 4, label: 'Domain'},
                        {value: 5, label: 'Hosting'},
                        {value: 3, label: 'Quotation'},
                        {value: 2, label: 'Renewals'},
                    ]

                    const selectElm = document.createElement('select');

                    selectElm.addEventListener('change', $event => {
                        performSearch(selectElm.value, 9);
                    })

                    options.forEach(optionData => {
                        const optionElm = document.createElement('option');
                        optionElm.value = optionData.value;
                        optionElm.text = optionData.label;
                        selectElm.options.add(optionElm);
                    })
                    th.appendChild(selectElm);
                }

            }
        });

        table = $('#itemListTable').DataTable({
            dom: "lrtip",
            serverSide: true,
            ajax: '?action=getData',
            orderCellsTop: true,
            fixedHeader: true,
            pageLength: 50,
            columns: [
                {
                    data: "description",
                    name: "description",
                    width: '50px'
                    // render: function (data, type, row) {
                    // return "<a href='RenContract.php?action=edit&ID=" + row.contractID + "' target='_blank'>" + data + "</a>";
                    // }
                },
                {data: "costPrice"},
                {data: "salePrice"},
                {
                    data: "partNumber",
                    name: "partNumber",
                },
                {
                    data: 'itemCategory',
                    name: 'itemCategory'
                },
                {
                    data: 'renewalType',
                    name: 'renewalType',
                },
                {
                    data: 'manufacturer',
                },
                {
                    data: 'id',
                    sortable: false,
                    searchable: false,
                    render: (data) => {
                        return "<button class='salesOrderButton' data-item-id='" + data + "'><i class='fal fa-edit fa-2x'/></button>";
                    }
                },
                {
                    data: 'discontinued'
                },
                {
                    data: 'renewalTypeId'
                }
            ],
            columnDefs: [
                {
                    targets: [8, 9],
                    visible: false,
                }
            ],
            createdRow: (row, data, displayNum) => {
                const button = row.querySelector('.salesOrderButton');
                button.addEventListener('click', ($event) => {
                    open('?action=editItem&itemID=' + button.dataset.itemId);
                });
            }
        });

        const discontinuedDropdown = document.getElementById('discontinuedDropdown')
        discontinuedDropdown.addEventListener('change', () => {
            performSearch(discontinuedDropdown.value, 8);
        })
        performSearch('N', 8);
    })
</script>
<div>
    <label>
        <span>Discontinued Selector</span>
        <select id="discontinuedDropdown">
            <option value="">Show All</option>
            <option value="N"
                    selected
            >Active
            </option>
            <option value="Y">Discontinued</option>
        </select>
    </label>
</div>
<br/>
<table id="itemListTable"
       class="display"
       style="width:100%"
>
    <thead>
    <tr>
        <th data-searchable="true"
            data-search-type="filterAsYouType"
        >Description
        </th>
        <th>Cost Price</th>
        <th>Sale Price</th>
        <th data-searchable="true"
            data-search-type="filterAsYouType"
        >Part Number
        </th>
        <th data-searchable="true"
            data-search-type="autocomplete"
            data-autocomplete-url="/ItemType.php?action=SEARCH_BY_DESCRIPTION"
            data-autocomplete-term-field="description"
        >Item Category
        </th>
        <th data-searchable="true"
            data-search-type="renewalTypeDropdown"
        >Renewal Type
        </th>
        <th data-searchable="true"
            data-search-type="autocomplete"
            data-autocomplete-url="/Manufacturer.php?action=SEARCH_MANUFACTURER_BY_NAME"
            data-autocomplete-term-field="name"
        >Manufacturer
        </th>
        <th>&nbsp;</th>
        <th>discontinued</th>
        <th>renewalTypeId</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>Description</th>
        <th>Cost Price</th>
        <th>Sale Price</th>
        <th>Part Number</th>
        <th>Item Category</th>
        <th>Renewal Type</th>
        <th>Manufacturer</th>
        <th>&nbsp;</th>
        <th>discontinued</th>
        <th>renewalTypeId</th>
    </tr>
    </tfoot>
</table>