<script>
    var dataTable = null;

    var redSelect = null;
    var orangeSelect = null;
    var blackSelect = null;
    var greenSelect = null;
    window.addEventListener('DOMContentLoaded', function () {
        redSelect = $('#red-selector');
        orangeSelect = $('#orange-selector');
        blackSelect = $('#black-selector');
        greenSelect = $('#green-selector');


        dataTable = $('#theTable').DataTable({
            dom: 'Blfrtip',
            buttons: [
                {
                    extend: 'csv',
                    bom: true
                }
            ],
            paging: false,
            order: [
                [3, 'asc'],
                [10, 'asc']
            ],
            columnDefs: [
                {
                    "targets": [14],
                    "visible": false,
                    "searchable": true
                },
            ]
        });
    });

    function filterColor() {
        var colors = [];

        if (redSelect.prop('checked')) {
            colors.push('red');
        }

        if (orangeSelect.prop('checked')) {
            colors.push('orange');
        }

        if (blackSelect.prop('checked')) {
            colors.push('black');
        }

        if (greenSelect.prop('checked')) {
            colors.push('green');
        }

        var search = 'thisshouldnotwork';

        if (colors.length) {
            search = '(' + colors.join('|') + ')';
        }

        dataTable.column(14).search(search, !!colors.length, false).draw();
    }
</script>
<style>
    table.dataTable tfoot th {
        padding-right: 0 !important;
    }

    .red {
        color: red;
    }

    .orange {
        color: orange;
    }

    .green {
        color: green;
        font-weight: bold;
    }

    .black {
        color: black;
    }
</style>
<P>
    <span style="color:red;background-color: red">R</span>
    <input type="checkbox"
           id="red-selector"
           checked
           onchange="filterColor()"
    >
    Not ordered yet.
    <span style="color: orange;background-color: orange">A</span>
    <input type="checkbox"
           checked
           onchange="filterColor()"
           id="orange-selector"
    >
    Ordered but not
    received. <span style="color: black;background-color: black">B</span>
    <input type="checkbox"
           checked
           onchange="filterColor()"
           id="black-selector"
    >
    Ordered and
    received. <span style="color: green;background-color: green">G</span>
    <input type="checkbox"
           checked
           onchange="filterColor()"
           id="green-selector"
    >
    Entire purchase order received.
</P>
<TABLE id="theTable">
    <thead>
    <TR>
        <th>
            PO
        </th>
        <th>
            SO
        </th>
        <th>
            SR
        </th>
        <th>
            Customer Name
        </th>
        <th>
            Qty
        </th>
        <th>
            Description
        </th>
        <th>
            Supplier
        </th>
        <th>
            Delivered To
        </th>
        <th>
            Ordered On
        </th>
        <th>
            Expected On
        </th>
        <th>
            Visit On
        </th>
        <th>
            Reqd By
        </th>
        <th>
            Supplier Ref
        </th>
        <th>
            Project Name
        </th>
        <th>
            Color
        </th>
    </TR>
    </thead>
    <tbody>
    <!-- BEGIN notYetReceivedItemBlock -->
    <TR {style}>
        <TD>
            <A href="{purchaseOrderLink}"
               target="_blank"
            >{purchaseOrderId}</A>
        </TD>
        <td>
            {salesOrderLink}
        </td>
        <td>
            {SRLink}
        </td>
        <td>
            {customerName}
        </td>
        <td>
            {orderedQty}
        </td>
        <td>
            {itemDescription}
        </td>
        <td>
            {supplierName}
        </td>
        <td>
            {direct}
        </td>
        <td data-sort="{purchaseOrderDateSort}">
            {purchaseOrderDate}
        </td>
        <td data-sort="{expectedOnSort}">
            {expectedOn}
        </td>
        <td data-sort="{futureDateSort}">
            {futureDate}
        </td>
        <td data-sort="{requiredByDateSort}">
            {requiredByDate}
        </td>
        <td>
            {supplierRef}
        </td>
        <td>
            {projectLink}
        </td>
        <td>
            {color}
        </td>
    </TR>
    <!-- END notYetReceivedItemBlock -->
    </tbody>
</TABLE>