<script id="rule-items-template"
        type="text/template"
>
    <table>
        <thead>
        <tr>
            <th>Description</th>
            <th>Stockcat</th>
            <th>Reoccurring</th>
            <th>Active</th>
            <th>Show In Customer Review</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% #rules %}
        <tr data-id="{% id %}"
        >
            <td>
                {% description %}
            </td>
            <td>
                {% stockcat %}
            </td>
            <td>
                {% #reoccurring %}
                <i class='fa fa-check'></i>
                {% /reoccurring %}
                {% ^reoccurring %}
                <i class='fa fa-times'></i>
                {% /reoccurring %}
            </td>
            <td>
                {% #active %}
                <i class='fa fa-check'></i>
                {% /active %}
                {% ^active %}
                <i class='fa fa-times'></i>
                {% /active %}
            </td>
            <td>
                {% #showInCustomerReview %}
                <i class='fa fa-check'></i>
                {% /showInCustomerReview %}
                {% ^showInCustomerReview %}
                <i class='fa fa-times'></i>
                {% /showInCustomerReview %}
            </td>
            <td class="buttons">
                <button class="editButton">Edit</button>
            </td>
            <td>
                <div class="containerColumn">
                    <div>
                        <button class="sortOrderActionButton"
                                onclick="moveUp()"
                        >
                            <i class='fa fa-angle-up'></i>
                        </button>
                        <button class="sortOrderActionButton"
                                onclick="moveTop()"
                        >
                            <i class='fa fa-angle-double-up'></i>
                        </button>
                    </div>
                    <div>
                        <button class="sortOrderActionButton"
                                onclick="moveDown()"
                        >
                            <i class='fa fa-angle-down'></i>
                        </button>
                        <button class="sortOrderActionButton"
                                onclick="moveBottom()"
                        >
                            <i class='fa fa-angle-double-down'></i>
                        </button>
                    </div>
                </div>
            </td>
        </tr>
        {% /rules %}
        </tbody>
    </table>

</script>
<script type="application/javascript">
    let currentRule = null;
    let saveButton = null;
    let addButton = null;
    let cancelButton = null;
    let list = null;
    let detail = null;

    let stockCatOptionsPromise = $.ajax({
        url: '?action=getStockCat',
        method: 'GET',
        dataType: 'JSON'
    });
    let rules = [];

    function newRule() {
        return {id: null, description: "", active: null, reoccurring: null, stockcat: null, showInCustomerReview: null};
    }

    function fetchApprovalSubordinates() {
        $.ajax({
            url: '{URLGetData}',
            method: 'GET',
            dataType: 'JSON'
        })
            .then(function (items) {
                rules = items;
                drawList();
            });
    }

    let editingItem = null;

    function drawList() {
        const source = document.getElementById("rule-items-template").innerHTML;
        const context = {rules: rules};
        const html = Mustache.to_html(source, context);
        list.html(html);
    }

    function jsonCopy(src) {
        return JSON.parse(JSON.stringify(src));
    }

    function moveUp() {
        const $elm = $(event.target);
        changeOrder($elm.closest('tr').data().id, 'up');
    }

    function moveTop() {
        const $elm = $(event.target);
        changeOrder($elm.closest('tr').data().id, 'top');
    }

    function moveDown() {
        const $elm = $(event.target);
        changeOrder($elm.closest('tr').data().id, 'down');
    }

    function moveBottom() {
        const $elm = $(event.target);
        changeOrder($elm.closest('tr').data().id, 'bottom');
    }

    function changeOrder(id, direction) {
        $.ajax({
            url: '?action=' + direction + "&itemTypeID=" + id,
            method: 'GET',
        }).then(function () {
            fetchData();
        })
    }

    window.addEventListener('DOMContentLoaded', function () {
        fetchData();

        Mustache.tags = ['{%', '%}'];
        addButton = $('.addButton');
        saveButton = $('.saveButton');
        cancelButton = $('.cancelButton');
        detail = $('.detail');
        list = $('.list');

        cancelEdit();
        list.on('click', '.editButton', function () {
            $elm = $(this);

            const data = $elm.closest('tr').data();
            editingItem = rules.find(e => e.id === data.id);

            if (!editingItem) {
                throw Error('Failed to find element to edit');
            }
            setEditRule(jsonCopy(editingItem));
            cancelButton.show();
            saveButton.show();
            addButton.hide();
        });

        list.on('click', '.deleteButton', function () {

            if (!confirm('are you sure you want to delete this entry?')) {
                return;
            }

            $elm = $(this);

            const data = $elm.closest('tr').data();
            const foundIndex = rules.findIndex(e => e.id === data.id);

            if (foundIndex < 0) {
                throw Error('Failed to find element to delete');
            }
            const urlDeleteItem = "{URLDeleteItem}&id=";
            const url = urlDeleteItem + data.id;

            $.ajax({
                url: url,
                method: 'GET',
            }).then(function () {
                rules.splice(foundIndex, 1);
                drawList();
            })
        });


        cancelButton.click(function () {
            cancelEdit();
        });

        saveButton.click(addOrUpdateCurrentRule);
        addButton.click(addOrUpdateCurrentRule)
    });

    function isRuleValid() {
        if (!detail[0].checkValidity()) {
            detail.submit();
            return false;
        }
        return true;
    }

    function arrayReplaceAt(array, index, value) {
        const ret = array.slice(0);
        ret[index] = value;
        return ret;
    }

    function addOrUpdateCurrentRule() {
        console.log('save button');
        if (!isRuleValid()) {
            return;
        }

        const addURL = '{URLAddItem}';
        const updateURL = '{URLUpdateItem}';

        const url = currentRule.id ? updateURL : addURL;

        $.ajax({
            url: url,
            method: 'POST',
            type: 'post',
            dataType: 'json',
            data: currentRule
        }).then(function (result) {
            if (!currentRule.id) {
                rules.push(result);
            } else {
                const foundIndex = rules.findIndex(rule => currentRule.id === rule.id);
                rules = arrayReplaceAt(rules, foundIndex, currentRule);
            }
            rules.sort((a, b) => a.sortOrder.localeCompare(b.sortOrder));
            drawList();
            cancelEdit();
        })
    }

    function cancelEdit() {
        setEditRule(newRule());
        cancelButton.hide();
        saveButton.hide();
        addButton.show();
    }

    function setEditRule(rule) {
        currentRule = rule;
        $('#activeInput')[0].checked = rule.active;
        $('#descriptionInput').val(rule.description);
        $('#licenseInput').val(rule.license);
        $('#reoccurringInput')[0].checked = rule.reoccurring;
        $('#showInCustomerReviewInput')[0].checked = rule.showInCustomerReview;
        renderStockCat(rule);
    }

    function renderStockCat(item) {
        const select = $('#stockCatInput')[0];
        for (let i = select.options.length - 1; i >= 0; i--) {
            select.remove(i);
        }
        select.add(new Option('-- Please Select --', null, true, !item.stockcat));
        stockCatOptionsPromise.then(stockCatOptions => {
            stockCatOptions.forEach(option => {
                select.add(new Option(option.stockcat, option.stockcat, false, item.stockcat == option.stockcat))
            })
        });

    }


    function updateActive() {
        currentRule.active = $('#activeInput').is(':checked');
    }

    function updateDescription() {
        currentRule.description = $('#descriptionInput').val();
    }

    function updatereoccurring() {
        currentRule.reoccurring = $('#reoccurringInput').is(':checked');
    }

    function updateShowInCustomerReview() {
        currentRule.showInCustomerReview = $('#showInCustomerReviewInput').is(':checked');
    }

    function updateStockcat() {
        currentRule.stockcat = $('#stockCatInput').val();
    }

</script>
<form class="detail"
      onsubmit="return false;"
>

    <div>
        <div style="width: 100px; display: inline-block">
            Description
        </div>
        <input type="text"
               name="description"
               onchange="updateDescription()"
               id="descriptionInput"
        >
    </div>
    <div>
        <div style="width: 100px; display: inline-block">
            Active
        </div>
        <input type="checkbox"
               value="true"
               name="active"
               onchange="updateActive()"
               id="activeInput"
        >
    </div>
    <div>
        <div style="width: 100px; display: inline-block">
            Stock Cat
        </div>
        <select name="stockcat"
                onchange="updateStockcat()"
                id="stockCatInput"
        >

        </select>
    </div>
    <div>
        <div style="width: 100px; display: inline-block">
            Reoccurring
        </div>
        <input type="checkbox"
               value="true"
               name="reoccurring"
               onchange="updatereoccurring()"
               id="reoccurringInput"
        >
    </div>
    <div>
        <div style="width: 100px; display: inline-block">
            Show In Customer Review
        </div>
        <input type="checkbox"
               value="true"
               name="showInCustomerReview"
               onchange="updateShowInCustomerReview()"
               id="showInCustomerReviewInput"
        >
    </div>
    <div>
        <button class="addButton"
        >Add
        </button>
        <button class="saveButton"
                type="button"
                hidden
        >Save
        </button>
        <button class="cancelButton"
                hidden
                type="button"
        >Cancel
        </button>
    </div>
</form>
<div class="list">
</div>