<script type="text/javascript"
        src=".javascript/handlebars-v4.0.11.js"
></script>
<script type="text/javascript"
        src=".javascript/mustache.min.js"
></script>
<script type="application/javascript"
        src=".javascript/mustache-wax.min.js"
></script>

<script id="itemBillingCategory-items-template"
        type="text/template"
>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Arrears Billing</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% #itemBillingCategories %}
        <tr data-id="{% id %}"
        >
            <td>
                {% name %}
            </td>
            <td>
                {% #arrearsBilling %}
                <i class='fa fa-check'></i>
                {% /arrearsBilling %}
                {% ^arrearsBilling %}
                <i class='fa fa-times'></i>
                {% /arrearsBilling %}
            </td>
            <td class="buttons">
                <button class="editButton">Edit</button>
                <button class="deleteButton">Delete</button>
            </td>
        </tr>
        {% /itemBillingCategories %}
        </tbody>
    </table>

</script>
<script type="application/javascript">
    let currentItemBillingCategory = null;
    let saveButton = null;
    let addButton = null;
    let cancelButton = null;
    let list = null;
    let detail = null;

    let itemBillingCategories = [];

    function newItemBillingCategory() {
        return {id: null, name: null, arrearsBilling: false};
    }

    $.ajax({
        url: '{URLGetData}',
        method: 'GET',
        dataType: 'JSON'
    }).then(function (result) {
        itemBillingCategories = result;
        drawList();
    });


    let editingItem = null;

    function drawList() {
        const source = document.getElementById("itemBillingCategory-items-template").innerHTML;
        const context = {itemBillingCategories: itemBillingCategories};
        const html = Mustache.to_html(source, context);
        list.html(html);
    }

    function jsonCopy(src) {
        return JSON.parse(JSON.stringify(src));
    }

    window.addEventListener('DOMContentLoaded', function () {
        Mustache.tags = ['{%', '%}'];
        addButton = $('.addButton');
        saveButton = $('.saveButton');
        cancelButton = $('.cancelButton');
        detail = $('.detail');
        list = $('.list');
        drawList();
        cancelEdit();
        list.on('click', '.editButton', function () {
            $elm = $(this);

            const data = $elm.closest('tr').data();
            editingItem = itemBillingCategories.find(e => e.id === data.id);

            if (!editingItem) {
                throw Error('Failed to find element to edit');
            }
            setEditItemBillingCategory(jsonCopy(editingItem));
            cancelButton.show();
            saveButton.show();
            addButton.hide();
        });

        list.on('click', '.deleteButton', function () {

            if (!confirm('are you sure you want to delete this entry?')) {
                return;
            }

            $elm = $(this);

            const data = $elm.closest('tr').data();
            const foundIndex = itemBillingCategories.findIndex(e => e.id === data.id);

            if (foundIndex < 0) {
                throw Error('Failed to find element to delete');
            }
            const urlDeleteItem = "{URLDeleteItem}&id=";
            const url = urlDeleteItem + data.id;

            $.ajax({
                url: url,
                method: 'GET',
            }).then(function () {
                itemBillingCategories.splice(foundIndex, 1);
                drawList();
            })
        });


        cancelButton.click(function () {
            cancelEdit();
        });

        saveButton.click(addOrUpdateCurrentItemBillingCategory);
        addButton.click(addOrUpdateCurrentItemBillingCategory)
    });

    function isItemBillingCategoryValid() {
        if (!detail[0].checkValidity()) {
            detail.submit();
            return false;
        }
        return true;
    }

    function arrayReplaceAt(array, index, value) {
        const ret = array.slice(0);
        ret[index] = value;
        return ret;
    }

    function addOrUpdateCurrentItemBillingCategory() {
        console.log('save button');
        if (!isItemBillingCategoryValid()) {
            return;
        }

        const addURL = '{URLAddItem}';
        const updateURL = '{URLUpdateItem}';
        const url = currentItemBillingCategory.id ? updateURL : addURL;

        $.ajax({
            url: url,
            method: 'POST',
            type: 'post',
            dataType: 'json',
            data: currentItemBillingCategory
        }).then(function (result) {
            if (!currentItemBillingCategory.id) {
                itemBillingCategories.push(result);
            } else {
                const foundIndex = itemBillingCategories.findIndex(itemBillingCategory => currentItemBillingCategory.id === itemBillingCategory.id);
                itemBillingCategories = arrayReplaceAt(itemBillingCategories, foundIndex, currentItemBillingCategory);
            }
            itemBillingCategories.sort((a, b) => a.name.localeCompare(b.name));
            drawList();
            cancelEdit();
        })
    }

    function cancelEdit() {
        setEditItemBillingCategory(newItemBillingCategory());
        cancelButton.hide();
        saveButton.hide();
        addButton.show();
    }

    function setEditItemBillingCategory(itemBillingCategory) {
        currentItemBillingCategory = itemBillingCategory;
        $('#nameInput').val(itemBillingCategory.name);
        document.getElementById('arrearsBillingInput').checked = itemBillingCategory.arrearsBilling;
    }

    function updateArrearsBilling() {
        currentItemBillingCategory.arrearsBilling = document.getElementById('arrearsBillingInput').checked;
    }

    function updateName() {
        currentItemBillingCategory.name = $('#nameInput').val();
    }

</script>
<form class="detail"
      onsubmit="return false;"
>

    <div>
        <div style="width: 100px; display: inline-block">
            Name
        </div>
        <input type="text"
               maxlength="50"
               name="name"
               onchange="updateName()"
               id="nameInput"
        >
    </div>
    <div>
        <div style="width: 100px; display: inline-block">
            Arrears Billing
        </div>
        <input type="checkbox"
               name="arrearsBilling"
               onchange="updateArrearsBilling()"
               id="arrearsBillingInput"
        >
    </div>
    <div>
        <button class="addButton"
        >Add
        </button>
        <button class="saveButton"
                type="button"
                hidden
        >Save
        </button>
        <button class="cancelButton"
                hidden
                type="button"
        >Cancel
        </button>
    </div>
</form>
<div class="list">
</div>