<div id="reactLeadStatusTypesComponent" name="reactLeadStatusTypesComponent"></div>
<!-- <script type="text/javascript"
        src=".javascript/handlebars-v4.0.11.js"
></script>
<script type="text/javascript"
        src=".javascript/mustache.min.js"
></script>
<script type="application/javascript"
        src=".javascript/mustache-wax.min.js"
></script>

<script id="leadStatusTypes-items-template"
        type="text/template"
>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Appear On Lead Status Screen</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% #leadStatusTypes %}
        <tr data-id="{% id %}"
        >
            <td>
                {% name %}
            </td>
            <td>
                {% #appearOnScreen %}
                <i class='fa fa-check'></i>
                {% /appearOnScreen %}
                {% ^appearOnScreen %}
                <i class='fa fa-times'></i>
                {% /appearOnScreen %}
            </td>
            <td class="buttons">
                <button class="editButton">Edit</button>
                <button class="deleteButton">Delete</button>
            </td>
            <td>
                <div class="containerColumn">
                    <div>
                        <button class="sortOrderActionButton"
                                onclick="moveUp()"
                        >
                            <i class='fa fa-angle-up'></i>
                        </button>
                        <button class="sortOrderActionButton"
                                onclick="moveTop()"
                        >
                            <i class='fa fa-angle-double-up'></i>
                        </button>
                    </div>
                    <div>
                        <button class="sortOrderActionButton"
                                onclick="moveDown()"
                        >
                            <i class='fa fa-angle-down'></i>
                        </button>
                        <button class="sortOrderActionButton"
                                onclick="moveBottom()"
                        >
                            <i class='fa fa-angle-double-down'></i>
                        </button>
                    </div>
                </div>
            </td>
        </tr>
        {% /leadStatusTypes %}
        </tbody>
    </table>

</script>
<script type="application/javascript">
    let currentLeadStatusTypes = null;
    let saveButton = null;
    let addButton = null;
    let cancelButton = null;
    let list = null;
    let detail = null;

    let leadStatusTypes = [];

    function moveUp() {
        const $elm = $(event.target);
        changeOrder($elm.closest('tr').data().id, 'up');
    }

    function moveTop() {
        const $elm = $(event.target);
        changeOrder($elm.closest('tr').data().id, 'top');
    }

    function moveDown() {
        const $elm = $(event.target);
        changeOrder($elm.closest('tr').data().id, 'down');
    }

    function moveBottom() {
        const $elm = $(event.target);
        changeOrder($elm.closest('tr').data().id, 'bottom');
    }

    function changeOrder(id, direction) {
        $.ajax({
            url: '?action=' + direction + "&itemID=" + id,
            method: 'GET',
        }).then(function () {
            fetchData();
        })
    }

    function newLeadStatusTypes() {
        return {id: null, name: null, appearOnScreen: false, sortOrder: null};
    }

    function fetchData() {
        $.ajax({
            url: '{URLGetData}',
            method: 'GET',
            dataType: 'JSON'
        }).then(function (result) {
            leadStatusTypes = result;
            drawList();
        });
    }

    let editingItem = null;

    function drawList() {
        const source = document.getElementById("leadStatusTypes-items-template").innerHTML;
        const context = {leadStatusTypes: leadStatusTypes};
        const html = Mustache.to_html(source, context);
        list.html(html);
    }

    function jsonCopy(src) {
        return JSON.parse(JSON.stringify(src));
    }

    window.addEventListener('DOMContentLoaded', function () {
        addButton = $('.addButton');
        saveButton = $('.saveButton');
        cancelButton = $('.cancelButton');
        detail = $('.detail');
        list = $('.list');
        fetchData();
        Mustache.tags = ['{%', '%}'];
        cancelEdit();
        list.on('click', '.editButton', function () {
            $elm = $(this);

            const data = $elm.closest('tr').data();
            editingItem = leadStatusTypes.find(e => e.id === data.id);

            if (!editingItem) {
                throw Error('Failed to find element to edit');
            }
            setEditLeadStatusTypes(jsonCopy(editingItem));
            cancelButton.show();
            saveButton.show();
            addButton.hide();
        });

        list.on('click', '.deleteButton', function () {

            if (!confirm('are you sure you want to delete this entry?')) {
                return;
            }

            $elm = $(this);

            const data = $elm.closest('tr').data();
            const foundIndex = leadStatusTypes.findIndex(e => e.id === data.id);

            if (foundIndex < 0) {
                throw Error('Failed to find element to delete');
            }
            const urlDeleteItem = "{URLDeleteItem}&id=";
            const url = urlDeleteItem + data.id;

            $.ajax({
                url: url,
                method: 'GET',
            }).then(function () {
                leadStatusTypes.splice(foundIndex, 1);
                drawList();
            })
        });


        cancelButton.click(function () {
            cancelEdit();
        });

        saveButton.click(addOrUpdateCurrentLeadStatusTypes);
        addButton.click(addOrUpdateCurrentLeadStatusTypes)
    });

    function isLeadStatusTypesValid() {
        if (!detail[0].checkValidity()) {
            detail.submit();
            return false;
        }
        return true;
    }

    function arrayReplaceAt(array, index, value) {
        const ret = array.slice(0);
        ret[index] = value;
        return ret;
    }

    function addOrUpdateCurrentLeadStatusTypes() {
        console.log('save button');
        if (!isLeadStatusTypesValid()) {
            return;
        }

        const addURL = '{URLAddItem}';
        const updateURL = '{URLUpdateItem}';
        const url = currentLeadStatusTypes.id ? updateURL : addURL;

        $.ajax({
            url: url,
            method: 'POST',
            type: 'post',
            dataType: 'json',
            data: currentLeadStatusTypes
        }).then(function (result) {
            if (!currentLeadStatusTypes.id) {
                leadStatusTypes.push(result);
            } else {
                const foundIndex = leadStatusTypes.findIndex(leadStatusTypes => currentLeadStatusTypes.id === leadStatusTypes.id);
                leadStatusTypes = arrayReplaceAt(leadStatusTypes, foundIndex, currentLeadStatusTypes);
            }
            leadStatusTypes.sort((a, b) => a.sortOrder - b.sortOrder);
            drawList();
            cancelEdit();
        })
    }

    function cancelEdit() {
        setEditLeadStatusTypes(newLeadStatusTypes());
        cancelButton.hide();
        saveButton.hide();
        addButton.show();
    }

    function setEditLeadStatusTypes(leadStatusTypes) {
        currentLeadStatusTypes = leadStatusTypes;
        $('#nameInput').val(leadStatusTypes.name);
        document.getElementById('appearOnScreenInput').checked = leadStatusTypes.appearOnScreen;
    }

    function updateAppearOnScreen() {
        currentLeadStatusTypes.appearOnScreen = document.getElementById('appearOnScreenInput').checked;
    }

    function updateName() {
        currentLeadStatusTypes.name = $('#nameInput').val();
    }

</script>
<form class="detail"
      onsubmit="return false;"
>

    <div>
        <div style="width: 100px; display: inline-block">
            Name
        </div>
        <input type="text"
               maxlength="50"
               name="name"
               onchange="updateName()"
               id="nameInput"
        >
    </div>
    <div>
        <div style="width: 100px; display: inline-block">
            Appear On Lead Status Screen
        </div>
        <input type="checkbox"
               name="appearOnScreen"
               onchange="updateAppearOnScreen()"
               id="appearOnScreenInput"
        >
    </div>
    <div>
        <button class="addButton"
        >Add
        </button>
        <button class="saveButton"
                type="button"
                hidden
        >Save
        </button>
        <button class="cancelButton"
                hidden
                type="button"
        >Cancel
        </button>
    </div>
</form>
<div class="list">
</div> -->