<script>
    fetch('?action=getLeadData')
        .then(response => response.json())
        .then(data => {
            const leadStatisticsTD = document.getElementById('leadStatistics');
            let map = new Map();

            data.forEach(item => {
                let mapArray = map.get(item.leadStatusName);
                if (!mapArray) {
                    mapArray = [];
                }
                if (item.customerId) {
                    mapArray.push(item);
                }
                map.set(item.leadStatusName, mapArray);
            });
            console.log(map);            
            const orders=['Proposal','Audit','Meeting','Lead'];
            map=new Map([...map.entries()].sort((a,b)=>orders.indexOf(a[0])>orders.indexOf(b[0])?1:-1));
            console.log(map);
            map.forEach((arrayOfLeads, key) => {
                ({parentTd, table, row, header} = getBaseElement());
                header.innerText = key;
                arrayOfLeads.forEach(item => {
                    const anchor = document.createElement('a');
                    anchor.href = "/Customer.php?action=dispEdit&customerID=" + item.customerId;
                    anchor.text = item.customerName;
                    anchor.target = '_blank';
                    const tr = document.createElement('tr');
                    const td = document.createElement('td');
                    td.append(anchor);
                    tr.append(td);
                    table.append(tr);
                })

                leadStatisticsTD.insertAdjacentElement('afterend', parentTd);
            })

        })

    function getBaseElement() {
        const parentTd = document.createElement('td');
        parentTd.vAlign = "top";
        const table = document.createElement('table');
        table.width = 200;
        const row = document.createElement('tr');
        const header = document.createElement('th');
        row.append(header);
        table.append(row);
        parentTd.append(table);
        parentTd.append(table);
        return {parentTd, table, row, header}
    }
</script>
<table width="1000">
    <tr>
        <td valign="top"
            id="leadStatistics"
        >
            <table width="200">
                <tr>
                    <td class="listHeadText"
                        colspan="3"
                    >Customers
                    </td>
                </tr>
                <tr>
                    <td class="listHeadText"
                        width="100"
                    >Year
                    </td>
                    <td class="listHeadText"
                        width="50"
                        nowrap="nowrap"
                    >New
                    </td>
                    <td class="listHeadText"
                        width="50"
                        nowrap="nowrap"
                    >Lost
                    </td>
                </tr>
                <!-- BEGIN countBlock -->
                <tr>
                    <td>{year}</td>
                    <td nowrap="nowrap">{becameCount}</td>
                    <td nowrap="nowrap">{droppedCount}</td>
                </tr>
                <!-- END countBlock -->
            </table>
        </td>
    </tr>
</table>