<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
<title>Computer and Network Consultants</title><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="keywords" content="CNC, Computer &amp; Network Consultants Ltd, Computer Consultancy based in Sussex, Support Services, Network Infrastructure, Technology Sourcing &amp; Integration, Internet Services, Voice &amp; Data Cabling, HP, Dell, Philips, Microsoft, BT Business Plan">
<link rel="stylesheet" href="/screen_customer.css">
</head>
<body {bodyTagExtras} onLoad="document.login.username.focus();" leftmargin="0" topmargin="0" alink="#00a0af" bgcolor="#00a0af" link="#00a0af" marginheight="0" marginwidth="0" text="#000000" vlink="#00a0af">
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
  <tbody><tr bgcolor="#ffffff">
    <td colspan="3" height="5"><img src="/images/dot_clear.gif" height="5" width="1"></td>
  </tr>
  <tr>
    <td bgcolor="#ffffff" width="0%"><img src="/images/dot_clear.gif" height="1" width="5"></td>
    <td height="100%" valign="top" width="75%"><table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" height="100%" width="760">
      <tbody><tr valign="top">
        <td width="141"><table border="0" cellpadding="0" cellspacing="0" width="141">
                  <tbody>
                    <tr> 
                      <td><a href="http://www.cnc-ltd.co.uk/index.html" onFocus="if(this.blur)this.blur()"><img src="/images/logo.gif" alt="CNC Computer and Network Consultants" border="0" height="141" width="141"></a></td>
                    </tr>
                    <tr> 
                      <td><img src="/images/dot_clear.gif" height="5" width="1"></td>
                    </tr>
                    <tr> 
                      <td><table border="0" cellpadding="0" cellspacing="0" width="141">
                          <tbody>
                            <tr bgcolor="#00a0af"> 
                              <td colspan="3"><img src="/images/dot_clear.gif" height="1" width="1"></td>
                            </tr>
                            <tr> 
                              <td bgcolor="#00a0af" width="47"><img src="/images/dot_clear.gif" height="1" width="1"></td>
                              <td width="47"><table border="0" cellpadding="0" cellspacing="0" width="139">
                                  <tbody>
                                    <tr> 
                                      <td><a href="mailto:sales@cnc-ltd.co.uk" onFocus="if(this.blur)this.blur()"><img src="/images/address.gif" alt="Unit 9, Riverside Business Centre, Brighton Road, Shoreham-by-Sea, BN43 6RE" border="0" height="139" width="139"></a></td>
                                    </tr>
                                  </tbody>
                                </table></td>
                              <td bgcolor="#00a0af" width="47"><img src="/images/dot_clear.gif" height="1" width="1"></td>
                            </tr>
                            <tr bgcolor="#00a0af"> 
                              <td colspan="3"><img src="/images/dot_clear.gif" height="1" width="1"></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                  </tbody>
                </table>
                <a href="http://www.cnc-ltd.co.uk/gfi.htm"><br>
								</a></td>
        <td width="5"><img src="/images/dot_clear.gif" height="1" width="5"></td>
        <td bgcolor="#e5f5f7" width="609"><table border="0" cellpadding="0" cellspacing="0" width="609">
                  <tbody>
                    <tr> 
                      <td>&nbsp;</td>
                    </tr>
                    <tr> 
                      <td bgcolor="#ffffff"><table border="0" cellpadding="0" cellspacing="0" width="609">
                          <tbody>
                            <tr> 
                              <td colspan="3"><img src="/images/dot_clear.gif" height="1" width="1"></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                    <tr> 
                      <td>
												<table border="0" cellpadding="0" cellspacing="0" width="609">
                          <tbody>
                            <tr bgcolor="#FFFFFF"> 
                              <td height="23" colspan="3"><div align="right"> 
                                  <table width="100%" border="0" cellpadding="2" cellspacing="1" bgcolor="#000000">
                                    <tr> 
                                      <td bgcolor="#FFFFFF"><div align="right"><img src="/images/dot_clear.gif" height="15" width="1">phone: 
                                          0845 0700 584 </div></td>
                                    </tr>
                                  </table>
                                </div></td>
                            </tr>
                            <tr bgcolor="#FFFFFF"> 
                              <td colspan="2"><img src="/images/dot_clear.gif" height="5" width="1"></td>
                            </tr>
                            <tr> 
                              <td width="15"><img src="/images/dot_clear.gif" height="1" width="1"></td>
                              <td valign="top" width="591"><h1><br>
																	Welcome to CNC</h1>
                                <p>Please log in</p>
                                <form name="login" method="post" action="<?php print $this->url() ?>"><table width="46%" border="0" cellspacing="3" cellpadding="0"> 
                                  <tr> 
                                    <td width="19%">Username</td>
                                    <td width="81%"><input type="text" name="username"  value="<?php if (isset($this->auth["uname"])) print htmlentities($this->auth["uname"]) ?>"></td>
                                  </tr>
                                  <tr> 
                                    <td>Password</td>
                                    <td><input type="password" name="password"></td>
                                  </tr>
                                  <tr> 
                                    <td>&nbsp;</td>
                                    <td> <input type="submit" name="Submit" value="Login"> 
                                </form></td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td valign="top">&nbsp;</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td valign="top"><span class="error"><?php if (isset($GLOBALS['loginMessage'])) print htmlentities($GLOBALS['loginMessage']);?></span></td>
                            </tr>
                        </table>
                        <p></p></td>
                      <td width="10"><img src="/images/dot_clear.gif" height="1" width="25"></td>
                    </tr>
                    <tr> 
                      <td>&nbsp;</td>
                      <td valign="top">&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody></table>
        </td>
        <td bgcolor="#ffffff" width="5"><img src="/images/dot_clear.gif" height="1" width="5"></td>
      </tr>
      <tr valign="top">
        <td bgcolor="#00a0af"><p>&nbsp;</p>
          </td>
        <td>&nbsp;</td>
        <td bgcolor="#00a0af" valign="middle"><table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tbody><tr>
            <td width="2%"><img src="/images/dot_clear.gif" height="1" width="15"></td>
            <td width="98%"><font color="#ffffff" face="Arial, Helvetica, sans-serif" size="1">Computer
                and Network Consultants Ltd.</font></td>
          </tr>
        </tbody></table></td>
        <td>&nbsp;</td>
      </tr>
    </tbody></table>
			</td>
    <td bgcolor="#00a0af" width="100%">&nbsp;</td>
  </tr>
</tbody></table>
</body></html>