<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8"
    />
    <title>CNC</title>
    <link rel="stylesheet"
          href="/screen_customer.css"
    />
    <link href="/login-box.css"
          rel="stylesheet"
          type="text/css"
    />

    <!--&gt;-->
    <link rel="stylesheet"
          href="css/boilerplate.min.css"
    >

    <link rel="stylesheet"
          href="css/bootstrap.min.css"
    >

    <link rel="stylesheet"
          href="css/bootstrap-grid.min.css"
    >

</head>
<body>
<section>
    <div class="page">
        <div class="welcome">
            <img src="images/CNC_logo_whiteout.png"
                 border="0"
                 width="200"
            />
        </div>

        <div class="sign_up">
            <form name="login"
                  method="post"
                  action="<?php print $this->url() ?>"
            >
                <h2>Sign In</h2>
                <input type="text"
                       placeholder="Username"
                       name="username"
                       title="Username"
                       value="<?php if (isset($this->auth["
                       uname"])) print htmlentities($this->auth["uname"]) ?>" size="30" maxlength="2048" />
                <br>
                <input name="password"
                       type="password"
                       placeholder="Password"
                       title="Password"
                       value=""
                       size="30"
                       maxlength="2048"
                       required
                />
                <br>
                <input type="submit"
                       name="Submit"
                       value="Login"
                       class="up"
                >
                <span class="error"
                      style="display: block; padding: 1rem 0"
                ><?php if (isset($GLOBALS['loginMessage'])) print htmlentities($GLOBALS['loginMessage']);?></span>
            </form>
        </div>

    </div>
</section>

</body>
</html>
