<div class="reportDescription">
	This report shows CNC’s spend with each Manufacturer.
</div>
<FORM  method="post" action="{urlGenerateReport}" name="report" >
	Manufacturer<input
	name="manufacturerName"
	size="60"
	type="text"
	value="{manufacturerName}"
>	Year<select
	name="year"
	type="text"
	onChange="form.submit()"
>
	<!-- BEGIN yearBlock -->
	<option {yearSelected} value="{year}">{year}</option>
	<!-- END yearBlock -->
</select>
<input type="submit" value="Search" name="Submit">
</FORM>
<table border="1" cellspacing="1" cellpadding="1">
		<tr>
				<td align="center" bgcolor="#F3F3F3"><strong>Manufacturer</strong></td>
				<td nowrap="nowrap" bgcolor="#F3F3F3"><strong>Year</strong></td>
				<td align="center" bgcolor="#F3F3F3"><strong>1 </strong></td>
				<td align="center" bgcolor="#F3F3F3"><strong>2</strong></td>
				<td align="center" bgcolor="#F3F3F3"><strong>3</strong></td>
				<td align="center" bgcolor="#F3F3F3"><strong>4</strong></td>
				<td align="center" bgcolor="#F3F3F3"><strong>5</strong></td>
				<td align="center" bgcolor="#F3F3F3"><strong>6</strong></td>
				<td align="center" bgcolor="#F3F3F3"><strong>7</strong></td>
				<td align="center" bgcolor="#F3F3F3"><strong>8</strong></td>
				<td align="center" bgcolor="#F3F3F3"><strong>9</strong></td>
				<td align="center" bgcolor="#F3F3F3"><strong>10</strong></td>
				<td align="center" bgcolor="#F3F3F3"><strong>11</strong></td>
				<td align="center" bgcolor="#F3F3F3"><strong>12</strong></td>
		</tr>
		<!-- BEGIN resultsBlock -->
		<tr>
				<td nowrap="nowrap" bgcolor="#E1E1E1">{manufacturer}</td>
				<td width="50" align="right" nowrap="nowrap">{total}</td>
				<td width="50" align="right" nowrap="nowrap">{month1}</td>
				<td width="50" align="right" nowrap="nowrap">{month2}</td>
				<td width="50" align="right" nowrap="nowrap">{month3}</td>
				<td width="50" align="right" nowrap="nowrap">{month4}</td>
				<td width="50" align="right" nowrap="nowrap">{month5}</td>
				<td width="50" align="right" nowrap="nowrap">{month6}</td>
				<td width="50" align="right" nowrap="nowrap">{month7}</td>
				<td width="50" align="right" nowrap="nowrap">{month8}</td>
				<td width="50" align="right" nowrap="nowrap">{month9}</td>
				<td width="50" align="right" nowrap="nowrap">{month10}</td>
				<td width="50" align="right" nowrap="nowrap">{month11}</td>
				<td width="50" align="right" nowrap="nowrap">{month12}</td>
		</tr>
		<!-- END resultsBlock -->
		<tr>
				<td nowrap="nowrap" bgcolor="#E1E1E1">Total</td>
				<td width="50" align="right" nowrap="nowrap">{grandTotal}</td>
				<td colspan="13"></td>
		</tr>
</table>
<!--  <img src="{urlTheChart}" /> -->