<html>
<head>
<script type="text/javascript">
function submitManufacturer(manufacturerID, manufacturerName ) {
	if ((opener) && (!opener.closed)) {
		if(opener.document.getElementById("{parentIDField}")){
			opener.document.getElementById("{parentIDField}").value=manufacturerID;
		}
		if(opener.document.getElementById("{parentDescField}")){
			opener.document.getElementById("{parentDescField}").value=manufacturerName;
		}
		window.close();
	}
}
</script>
</head>
<body>
<!-- BEGIN manufacturerBlock -->
<script type="text/javascript">
submitManufacturer({manufacturerID}, "{submitDescription}");
</script>
<!-- END manufacturerBlock -->
</body>
</html>
