<!-- Template: CustomerProfitabiltyReport.inc.html -->
<script language='JavaScript' src="CommonJS.js"></script>
<script language='JavaScript'>
var state='none'; // display status
var savedCustomerString
function saveCustomerString(){
	savedCustomerString = document.getElementById("customerString").value
}
function validateCustomerString(){
	if (Trim(document.getElementById("customerString").value) != ""){
		if (document.getElementById("customerString").value != savedCustomerString){
			window.open('{urlCustomerPopup}&customerString=' +
			escape(document.getElementById("customerString").value) +
			'&parentIDField=customerID' +
			'&parentDescField=customerString',
			'customers','scrollbars=yes,resizable=no,width=300,height=300,copyhistory=no, menubar=0')
		}
	}
	else{
		document.searchForm.customerID.value = "";
	}
}
function submitOnReturn() {
   if (event.keyCode == 13) {
			document.searchForm.submit();
   }
}
function validateCustomerStringOnReturn() {
   if (event.keyCode == 13) {
			validateCustomerString();
   }
}
</script>
<P class="formErrorMessage">{formError}</P>
<form name="searchForm" method="get" action="{urlSubmit}">
  <table width="500px" border="0" cellspacing="0" cellpadding="1">
		<tr> 
			<td width="100" class="promptText"><div align="right">Customer</div></td>
			<td>
			<input
					type="hidden"
					name="action"
					value="search"
				> 
				<input
					type="hidden"
					name="searchForm[1][customerID]"
					id="customerID"
					value="{customerID}"
				> <input
					type="text"
					id="customerString"
					name="customerString"
					value="{customerString}"
					onFocus="javascript:saveCustomerString()"
					onBlur="javascript:validateCustomerString()"
					onKeypress="javascript:validateCustomerStringOnReturn()"
					size="50"
					maxlength="50"
				> <font class="formErrorMessage"> {customerStringMessage} </font> </td>
		</tr>
    <tr> 
      <td width="100" class="promptText"><div align="right">Months</div></td>
      <td>
        <input
          type="text"
          name="searchForm[1][months]"
          value="{months}"
          size="5"
          maxlength="5"
        > <font class="formErrorMessage"> {monthsMessage} </font> </td>
    </tr>
		<tr>
				<td class="promptText">&nbsp;</td>
				<td>&nbsp;</td>
		</tr>
		<tr> 
			<td>&nbsp;</td>
			<td>
			<input type="submit" name="Search" value="Generate CSV" onClick="submit();">
			<input type="reset" name="Clear" value="Clear"></td>
		</tr>
	</table>
	<p>&nbsp;</p>
	
</form>
<!-- End Template: CustomerProfitabiltyReport.inc.html -->