<H4>Last Quarter</h4>
<table width="700px" border="0">
  <tr> 
    <td>&nbsp;</td>
    <td>Total</td>
    <td>Response</td>
    <td>%</td>
    <td>Fix</td>
    <td>%</td>
  </tr>
  <tr> 
    <td>Sev 1</td>
    <td>{lastQtrSev1Total}</td>
    <td>{lastQtrSev1Repsonse}</td>
    <td>{lastQtrSev1Perc}</td>
    <td>{lastQtrSev1Fix}</td>
    <td>{lastQtrSev1Perc}</td>
  </tr>
  <tr> 
    <td>Sev 2</td>
    <td>{lastQtrSev2Total}</td>
    <td>{lastQtrSev2Repsonse}</td>
    <td>{lastQtrSev2Perc}</td>
    <td>{lastQtrSev2Fix}</td>
    <td>{lastQtrSev2Perc}</td>
  </tr>
  <tr> 
    <td>Sev 3</td>
    <td>{lastQtrSev3Total}</td>
    <td>{lastQtrSev3Repsonse}</td>
    <td>{lastQtrSev3Perc}</td>
    <td>{lastQtrSev3Fix}</td>
    <td>{lastQtrSev3Perc}</td>
  </tr>
</table>