<!-- Template: MonthlyReportList.inc.html -->
<table class="singleBorder" width="417" border="0" cellspacing="1" cellpadding="2">
	<tr> 
		<td width="265" class="listHeadText">Period</td>
	</tr>
	<!-- BEGIN ReportBlock -->
	<tr valign="top" onMouseOver="this.bgColor='#ffffcc';" onMouseOut="this.bgColor='';"> 
		<td class="orderLineItem"><DIV align="left"></div>
			<DIV align="left"> <A href="{urlEdit}" title="Edit details">{period}</a> 
      </div>
    </td>
	</tr>
	<!-- END ReportBlock -->
</table>
<!-- End Template: MonthlyReportList.inc.html -->
