<style>
    .list {
        float: left;
        border-right: solid 2px blue;
        padding-right: 5px;
    }

    .detail {
        float: left;
        padding-left: 5px;
    }

    .emailItem {
        display: flex;
        flex-direction: row;
        width: 300px;
        padding: 2px;
    }

    .emailItem .buttons {
        flex-basis: 100px;
    }

    .emailItem .email {
        flex-basis: 200px;
    }

</style>

<script type="text/javascript"
        src=".javascript/handlebars-v4.0.11.js"
></script>
<script type="text/javascript"
        src=".javascript/mustache.min.js"
></script>
<script type="application/javascript"
        src=".javascript/mustache-wax.min.js"
></script>

<script id="license-list-template"
        type="text/template"
>
    {% #licenses %}
    <div class="licenseItem"
         data-idx="{% idx %}"
    >
        {% value %}
        <div class="buttons">
            <button class="editLicenseItem">Edit</button>
            <button class="deleteLicenseItem">Delete</button>
        </div>
    </div>
    {% /licenses %}
    {% ^licenses %}
    No Licenses Defined
    {% /licenses %}
</script>

<script id="email-items-template"
        type="text/template"
>
    {% #emailItems %}
    <div class="emailItem"
         data-id="{% id %}"
    >
        <div class="email">
            <span>{% firstPart %}@{% lastPart %}</span>
        </div>
        <div class="buttons">
            <button class="editButton">Edit</button>
            <button class="deleteButton">Delete</button>
        </div>
    </div>
    {% /emailItems %}
    {% ^emailItems %}
    There are no emails yet
    {% /emailItems %}
</script>
<script type="application/javascript">
    let currentRule = null;
    let lastPartInput = null;
    let firstPartInput = null;
    let saveButton = null;
    let addButton = null;
    let cancelButton = null;
    let list = null;
    let detail = null;

    let emailItems = [];

    function newCurrentRule() {
        currentRule = {replacement: "", licenses: [], specificity: 0};
    }

    newCurrentRule();

    function putIndexInArray(array) {
        let putIndex = (value, index) => {
            return {
                index,
                value
            }
        }
        return array.map(putIndex)
    }

    function changeWildCard(value) {
        if (value) {
            lastPartInput.prop('disabled', true);
            lastPartInput.val('*');
        } else {
            lastPartInput.prop('disabled', false);
            lastPartInput.val('');
        }
    }

    $.ajax({
        url: '{URLGetData}',
        method: 'GET',
        dataType: 'JSON'
    }).then(function (result) {
        emailItems = result;
        drawList();
    })

    Mustache.tags = ['{%', '%}'];

    Mustache.Formatters = {
        decimal: function (number) {
            if (typeof number !== 'number') {
                return number;
            }

            return number.toFixed(2);
        },
        lightGrayClass: function (number) {

            if (isNaN(parseFloat(number)) || !isFinite(number)) {
                debugger;
                return null;
            }

            if (number != 0) {
                return null;
            }

            return "grey"
        }

    };
    let editingItem = null;
    let currentLicense = null;

    function drawList() {
        const source = document.getElementById("email-items-template").innerHTML;
        const context = {emailItems: emailItems};
        const html = Mustache.to_html(source, context);
        list.html(html);
    }

    let dialog = null;
    let dialogLicenseNameElm = null;
    let licensesList = null;
    $(function () {

        licensesList = $('.licensesList');
        const dialogElem = $('#licenseDialog');
        dialogLicenseNameElm = $('#licenseName');
        dialog = dialogElem.dialog({
            autoOpen: false,
            modal: true,
            position: {
                my: "top left",
                at: "top+20%"
            }
        });

        lastPartInput = $('[name="lastPart"]');
        firstPartInput = $('[name="firstPart"]');
        addButton = $('.addButton');
        saveButton = $('.saveButton');
        cancelButton = $('.cancelButton');
        detail = $('.detail');
        list = $('.list');
        drawList();
        list.on('click', '.editButton', function (thing) {
            $elm = $(this);

            const data = $elm.closest('.emailItem').data();
            editingItem = emailItems.find(e => e.id === data.id);

            if (!editingItem) {
                throw Error('Failed to find element to edit');
            }

            firstPartInput.val(editingItem.firstPart);
            const isWildCard = editingItem.lastPart === '*';
            changeWildCard(isWildCard);
            lastPartInput.val(editingItem.lastPart);
            $('[name="isWildCard"]').each(function () {
                const $radio = $(this);
                $radio.prop('checked', +$radio.val() == isWildCard);
            });
            cancelButton.show();
            saveButton.show();
            addButton.hide();
            detail.data('editItemID', data.id);
        });

        list.on('click', '.deleteButton', function (thing) {

            if (!confirm('are you sure you want to delete this entry?')) {
                return;
            }

            $elm = $(this);

            const data = $elm.closest('.emailItem').data();
            const foundIndex = emailItems.findIndex(e => e.id === data.id);

            if (foundIndex < 0) {
                throw Error('Failed to find element to delete');
            }
            const urlDeleteItem = "{URLDeleteItem}&id=";
            const url = urlDeleteItem + data.id;

            $.ajax({
                url: url,
                method: 'GET',
            }).then(function (result) {
                emailItems.splice(foundIndex, 1);
                drawList();
            })
        });


        cancelButton.click(function () {
            cancelEdit();
        });

        saveButton.click(addOrUpdateCurrentRule);
        addButton.click(addOrUpdateCurrentRule)
    });

    function isRuleValid() {
        if (!detail[0].checkValidity()) {
            detail.submit();
            return false;
        }
        if (!currentRule.licenses.length) {
            alert('Please add at least one License');
            return false;
        }
        return true;
    }

    function addOrUpdateCurrentRule() {
        console.log('save button');
        if (!isRuleValid()) {
            return;
        }

        const addURL = '{URLAddItem}';
        const updateURL = '{URLUpdateItem}';

        const url = currentRule.id ? updateURL : addURL;

        $.ajax({
            url: url,
            method: 'POST',
            type: 'post',
            dataType: 'json',
            data: currentRule
        }).then(function (result) {
            editingItem.firstPart = data.firstPart;
            editingItem.lastPart = data.lastPart;

            drawList();
            cancelEdit();
        })
    }

    function cancelEdit() {
        newCurrentRule();
        cancelButton.hide();
        saveButton.hide();
        addButton.show();
    }

    function showLicenseModal() {
        dialog.dialog('open');
    }

    function closeDialog() {
        dialog.dialog('close');
    }

    function drawLicenses() {
        const source = document.getElementById("license-list-template").innerHTML;
        const context = {licenses: putIndexInArray(currentRule.licenses)};
        const html = Mustache.to_html(source, context);
        licensesList.html(html);
    }

    function addOrSaveLicense() {
        let value = dialogLicenseNameElm.val();

        if (!value) {
            return;
        }

        value = value.toUpperCase();

        if (!currentLicense) {
            currentRule.licenses.push(value);
        }
        closeDialog();
        dialogLicenseNameElm.val(null);
        drawLicenses();
    }


</script>
<div id="licenseDialog">
    <div>
        <label for="licenseName">
            License Name
        </label>
        <input name="licenseName"
               id="licenseName"
        >
    </div>
    <br>
    <div>
        <button onclick="addOrSaveLicense()">OK</button>
        <button>Cancel</button>
    </div>
</div>

<div class="list">
</div>
<form class="detail"
      onsubmit="return false;"
>
    <div>
        <label>
            Replacement
            <input type="text"
                   name="replacement"
                   required
            >
        </label>
    </div>
    <div>
        Licenses:
        <div class="licensesList">

        </div>
        <button onclick="showLicenseModal()">Add License</button>
    </div>
    <div>
        <button class="addButton"
                type="button"
        >Add
        </button>
        <button class="saveButton"
                type="button"
                hidden
        >Save
        </button>
        <button class="cancelButton"
                hidden
                type="button"
        >Cancel
        </button>
    </div>

</form>