<!-- Template: Customer.inc.html -->
<script type='application/javascript'
        src='CommonJS.js'
>
</script>
<script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.3/dist/loadingoverlay.min.js"></script>

<script type="application/javascript">

    function submitOnReturn() {
        if (event.keyCode == 13) {
            document.searchForm.submit();
        }
    }

    $(document).ready(function () {

        $('#myTable thead tr').clone(true).appendTo('#myTable thead');
        $('#myTable thead tr:eq(1) th').each(function (i) {
            var title = $(this).text();
            if ($(this).data().noSearch) {
                $(this).html('');
                return;
            }
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');
            const autocompleteURL = $(this).data().autocompleteUrl;
            const autocompleteTermField = 'term' || $(this).data().autocompleteTermField;
            const performSearch = function (value, column) {
                if (dataTable.column(column).search() != value) {
                    dataTable.column(column)
                        .search(value);
                    dataTable.draw();
                }
            };

            const filterInput = $(this).find('input');
            filterInput.autocomplete({
                minLength: 0,
                source: function (request, responseCB) {
                    const data = {};
                    data[autocompleteTermField] = request.term;
                    $.ajax(
                        autocompleteURL,
                        {
                            method: 'POST',
                            dataType: 'json',
                            data: data
                        }
                    ).then(response => {
                        if (response.length > 40) {
                            response = response.slice(0, 40);
                            response.unshift({
                                id: -1,
                                name: 'Keep typing to filter, there are more results not shown here'
                            });
                        }
                        responseCB(response.map(item => ({label: item.name, value: item.id})));
                    })

                },
                delay: 200,
                select: function (event, ui) {
                    event.preventDefault();
                    event.target.value = ui.item.label;
                    performSearch(ui.item.value, i);
                }
            }).focus(function () {
                $(this).autocomplete("search", $(this).val());
            }).on('change', function () {
                performSearch(filterInput[0].value, i);
            });
        });

        dataTable = $('#myTable').DataTable({
            dom: 'Blrtip',
            buttons: [
                {
                    extend: 'excel'
                },
                {
                    text: 'Check Now',
                    action: () => {
                        window.location = window.location.href + "?action=runCheck"
                    }
                }
            ],
            orderCellsTop: true,
            fixedHeader: true,
            pageLength: 50,
            paging: true,
            serverSide: true,
            ajax: {
                url: "?action=getData", data: (data) => {
                    const startDate = $('#startDate').val();
                    const endDate = $('#endDate').val();
                    if (startDate) {
                        data.startDate = moment(startDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
                    }
                    if (endDate) {
                        data.endDate = moment(endDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
                    }
                }
            },
            columns: [
                {data: "customerName"},
                {
                    data: "contractID",
                    render: function (data, type, row) {
                        return "<a href='RenContract.php?action=edit&ID=" + row.contractID + "' target='_blank'>" + data + "</a>";
                    }
                },
                {data: "office365BackupUsers"},
                {data: "contractUsers"},
                {
                    data: "createdAt", render: (data) => {
                        return moment(data, 'YYYY-MM-DD HH:mm:ss').format('DD/MM/YYYY HH:mm')
                    }
                },
            ]
        });
    });

    function searchContactAudit() {
        dataTable.ajax.reload();
        return false;
    }
</script>

<form name="form"
      method="post"
      onsubmit="return searchContactAudit();"
>
    <table border="0"
           cellspacing="0"
           cellpadding="1"
    >
        <tr>
            <td class="promptText">
                <div align="right">Created Between</div>
            </td>
            <td>
                <input
                        type="text"
                        id="startDate"
                        size="10"
                        maxlength="10"
                        onKeypress="javascript:submitOnReturn()"
                        class="jqueryCalendar"
                        autocomplete="off"
                >
                and <input
                    type="text"
                    id="endDate"
                    size="10"
                    maxlength="10"
                    onKeypress="javascript:submitOnReturn()"
                    class="jqueryCalendar"
                    autocomplete="off"
            >
            </td>
        </tr>
        <tr>
            <td valign="top">&nbsp;</td>
            <td>
                <input type="submit"
                       name="Go"
                       value="Search"
                >
            </td>
        </tr>

    </table>
</form>
<table width="100%"
       border="0"
       cellspacing="0"
       cellpadding="1"
       id="myTable"
>
    <thead>
    <tr>
        <th data-autocomplete-url="/Customer.php?action=searchName">Customer Name</th>
        <th data-no-search="true">Contract</th>
        <th data-no-search="true">Office 365 Backup Users</th>
        <th data-no-search="true">Contract Users</th>
        <th data-no-search="true">Created At</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<!-- End Template: Customer.inc.html -->
