<style>

    .emailItem {
        display: flex;
        flex-direction: row;
        width: 500px;
        padding: 2px;
    }

    .emailItem .buttons {
        flex-basis: 100px;
    }

    .emailItem .email {
        flex-basis: 400px;
    }

</style>

<script type="text/javascript"
        src=".javascript/handlebars-v4.0.11.js"
></script>
<script type="text/javascript"
        src=".javascript/mustache.min.js"
></script>
<script type="application/javascript"
        src=".javascript/mustache-wax.min.js"
></script>

<script id="license-list-template"
        type="text/template"
>
    {% #licenses %}
    <div class="licenseItem"
         data-idx="{% index %}"
    >
        {% value %}
        <div class="buttons">
            <button class="editLicenseItem">Edit</button>
            <button class="deleteLicenseItem">Delete</button>
        </div>
    </div>
    {% /licenses %}
    {% ^licenses %}
    No Licenses Defined
    {% /licenses %}
</script>

<script id="rule-items-template"
        type="text/template"
>
    <table>
        <thead>
        <tr>
            <th>License Combination Assigned</th>
            <th>Mailbox Limit(MB)</th>
            <th>Friendly Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% #rules %}
        <tr data-id="{% id %}"
        >
            <td>
                {% #licenses %}
                {% . %}
                {% /licenses %}
            </td>
            <td>
                {% mailboxLimit %}
            </td>
            <td>
                {% replacement %}
            </td>
            <td class="buttons">
                <button class="editButton">Edit</button>
                <button class="deleteButton">Delete</button>
            </td>
        </tr>
        {% /rules %}
        </tbody>
    </table>

</script>
<script type="application/javascript">
    let currentRule = null;
    let saveButton = null;
    let addButton = null;
    let cancelButton = null;
    let list = null;
    let detail = null;

    let rules = [];

    function newRule() {
        return {replacement: "", licenses: [], specificity: 0};
    }


    function putIndexInArray(array) {
        let putIndex = (value, index) => {
            return {
                index,
                value
            }
        }
        return array.map(putIndex)
    }

    $.ajax({
        url: '{URLGetData}',
        method: 'GET',
        dataType: 'JSON'
    }).then(function (result) {
        rules = result;
        drawList();
    })

    Mustache.tags = ['{%', '%}'];

    Mustache.Formatters = {
        decimal: function (number) {
            if (typeof number !== 'number') {
                return number;
            }

            return number.toFixed(2);
        },
        lightGrayClass: function (number) {

            if (isNaN(parseFloat(number)) || !isFinite(number)) {
                return null;
            }

            if (number != 0) {
                return null;
            }

            return "grey"
        }

    };
    let editingItem = null;
    let currentLicenseIndex = null;

    function drawList() {
        const source = document.getElementById("rule-items-template").innerHTML;
        const context = {rules: rules};
        const html = Mustache.to_html(source, context);
        list.html(html);
    }

    function jsonCopy(src) {
        return JSON.parse(JSON.stringify(src));
    }

    let dialog = null;
    let dialogLicenseNameElm = null;
    let licensesList = null;
    $(function () {
        licensesList = $('.licensesList');
        const dialogElem = $('#licenseDialog');
        dialogLicenseNameElm = $('#licenseName');
        dialog = dialogElem.dialog({
            autoOpen: false,
            modal: true,
            position: {
                my: "top left",
                at: "top+20%"
            }
        });


        addButton = $('.addButton');
        saveButton = $('.saveButton');
        cancelButton = $('.cancelButton');
        detail = $('.detail');
        list = $('.list');
        drawList();
        cancelEdit();
        licensesList.on('click', '.editLicenseItem', function () {
            $elm = $(this);

            const data = $elm.closest('.licenseItem').data();
            currentLicenseIndex = data.idx;

            const currentLicense = currentRule.licenses[currentLicenseIndex];

            if (!currentLicense) {
                throw Error('Failed to find element to edit');
            }

            dialogLicenseNameElm.val(currentLicense);
            showLicenseModal();
        });
        licensesList.on('click', '.deleteLicenseItem', function () {
            $elm = $(this);

            const data = $elm.closest('.licenseItem').data();
            currentRule.licenses.splice(data.idx, 1);
            drawLicenses();
        });

        list.on('click', '.editButton', function (thing) {
            $elm = $(this);

            const data = $elm.closest('tr').data();
            editingItem = rules.find(e => e.id === data.id);

            if (!editingItem) {
                throw Error('Failed to find element to edit');
            }
            setEditRule(jsonCopy(editingItem));
            cancelButton.show();
            saveButton.show();
            addButton.hide();
        });

        list.on('click', '.deleteButton', function (thing) {

            if (!confirm('are you sure you want to delete this entry?')) {
                return;
            }

            $elm = $(this);

            const data = $elm.closest('tr').data();
            const foundIndex = rules.findIndex(e => e.id === data.id);

            if (foundIndex < 0) {
                throw Error('Failed to find element to delete');
            }
            const urlDeleteItem = "{URLDeleteItem}&id=";
            const url = urlDeleteItem + data.id;

            $.ajax({
                url: url,
                method: 'GET',
            }).then(function (result) {
                rules.splice(foundIndex, 1);
                drawList();
            })
        });


        cancelButton.click(function () {
            cancelEdit();
        });

        saveButton.click(addOrUpdateCurrentRule);
        addButton.click(addOrUpdateCurrentRule)
    });

    function isRuleValid() {
        if (!detail[0].checkValidity()) {
            detail.submit();
            return false;
        }
        if (!currentRule.licenses.length) {
            alert('Please add at least one License');
            return false;
        }
        return true;
    }

    function arrayReplaceAt(array, index, value) {
        const ret = array.slice(0);
        ret[index] = value;
        return ret;
    }

    function addOrUpdateCurrentRule() {
        console.log('save button');
        if (!isRuleValid()) {
            return;
        }

        const addURL = '{URLAddItem}';
        const updateURL = '{URLUpdateItem}';

        const url = currentRule.id ? updateURL : addURL;

        $.ajax({
            url: url,
            method: 'POST',
            type: 'post',
            dataType: 'json',
            data: currentRule
        }).then(function (result) {
            if (!currentRule.id) {
                rules.push(result);
            } else {
                const foundIndex = rules.findIndex(rule => currentRule.id === rule.id);
                rules = arrayReplaceAt(rules, foundIndex, currentRule);
            }
            rules = rules.sort((a, b) => b.specificity - a.specificity);
            drawList();
            cancelEdit();
        })
    }

    function cancelEdit() {
        setEditRule(newRule());
        cancelButton.hide();
        saveButton.hide();
        addButton.show();
    }

    function showLicenseModal() {
        dialog.dialog('open');
    }

    function closeDialog() {
        dialog.dialog('close');
    }

    function setEditRule(rule) {
        currentRule = rule;
        $('#replacementInput').val(rule.replacement);
        $('#mailboxLimitInput').val(rule.mailboxLimit);
        drawLicenses();
    }

    function drawLicenses() {
        const source = document.getElementById("license-list-template").innerHTML;
        const context = {licenses: putIndexInArray(currentRule.licenses)};
        const html = Mustache.to_html(source, context);
        licensesList.html(html);
    }

    function addOrSaveLicense() {
        let value = dialogLicenseNameElm.val();

        if (!value) {
            closeDialog();
            return;
        }

        value = value.toUpperCase();

        if (currentLicenseIndex === null) {
            currentRule.licenses.push(value);
            currentRule.specificity = currentRule.licenses.length;
        } else {
            currentRule.licenses = arrayReplaceAt(currentRule.licenses, currentLicenseIndex, value);
        }
        closeDialog();
        dialogLicenseNameElm.val(null);
        drawLicenses();
    }

    function updateReplacement() {
        currentRule.replacement = $('#replacementInput').val();
    }

    function updateMailboxLimit() {
        currentRule.mailboxLimit = $('#mailboxLimitInput').val();
    }

</script>
<div id="licenseDialog">
    <div>
        <label for="licenseName">
            License Name
        </label>
        <input name="licenseName"
               id="licenseName"
        >
    </div>
    <br>
    <div>
        <button onclick="addOrSaveLicense()">OK</button>
        <button>Cancel</button>
    </div>
</div>


<form class="detail"
      onsubmit="return false;"
>

    <div>
        <div style="width: 100px; display: inline-block">
            Mailbox Limit (MB)
        </div>
        <input type="number"
               step="1"
               name="mailboxLimit"
               onchange="updateMailboxLimit()"
               id="mailboxLimitInput"
        >
    </div>
    <div>
        <div style="width: 100px; display: inline-block">
            Friendly Name
        </div>
        <input type="text"
               name="replacement"
               required
               onchange="updateReplacement()"
               id="replacementInput"
        >
    </div>
    <div>
        <div style="width: 100px; display: inline-block">
            Licenses:
        </div>
        <button type="button"
                onclick="showLicenseModal()"
                style="margin-left: 3px;margin-right: 3px; padding: 2px;"
        >Add License
        </button>
        <div class="licensesList">

        </div>
    </div>
    <div>
        <button class="addButton"
        >Add
        </button>
        <button class="saveButton"
                type="button"
                hidden
        >Save
        </button>
        <button class="cancelButton"
                hidden
                type="button"
        >Cancel
        </button>
    </div>

</form>
<div class="list">
</div>