<style>
    .list {
        float: left;
        border-right: solid 2px blue;
        padding-right: 5px;
    }

    .detail {
        float: left;
        padding-left: 5px;
    }

    .ignoredADDomainItem {
        display: flex;
        flex-direction: row;
        width: 300px;
        padding: 2px;
    }

    .ignoredADDomainItem .buttons {
        flex-basis: 100px;
    }

    .ignoredADDomainItem .email {
        flex-basis: 200px;
    }

    input {
        margin-bottom: 5px;
        margin-top: 5px;
    }

</style>

<script type="text/javascript"
        src=".javascript/handlebars-v4.0.11.js"
></script>
<script type="text/javascript"
        src=".javascript/mustache.min.js"
></script>
<script type="application/javascript"
        src=".javascript/mustache-wax.min.js"
></script>

<script id="email-items-template"
        type="text/template"
>
    {% #ignoredADDomainItems %}
    <div class="ignoredADDomainItem"
         data-id="{% id %}"
    >
        <div class="email">
            <span>{% domain %}</span>
            {% #customerID %}
            <span>{% customerString  %}</span>
            {% /customerID %}
            {% ^customerID %}
            <span>Global</span>
            {% /customerID %}
        </div>
        <div class="buttons">
            <button class="editButton">Edit</button>
            <button class="deleteButton">Delete</button>
        </div>
    </div>
    {% /ignoredADDomainItems %}
    {% ^ignoredADDomainItems %}
    There are no ignored domains yet
    {% /ignoredADDomainItems %}
</script>
<script type="application/javascript">
    let customerSection = null;
    let domainInput = null;
    let saveButton = null;
    let addButton = null;
    let cancelButton = null;
    let list = null;
    let detail = null;

    let ignoredADDomainItems = [];

    function changeWildCard(value) {
        if (value) {
            customerSection.show();
            customerSection.find('[name="customerID"]').val('');
            customerSection.find('[name="form[customerString]"]').val('');
        } else {
            customerSection.hide();
            customerSection.find('[name="customerID"]').val('');
            customerSection.find('[name="form[customerString]"]').val('');
        }
    }

    $.ajax({
        url: '{URLGetData}',
        method: 'GET',
        dataType: 'JSON'
    }).then(function (result) {
        ignoredADDomainItems = result;
        drawList();
    })

    Mustache.tags = ['{%', '%}'];

    Mustache.Formatters = {
        decimal: function (number) {
            if (typeof number !== 'number') {
                return number;
            }

            return number.toFixed(2);
        },
        lightGrayClass: function (number) {

            if (isNaN(parseFloat(number)) || !isFinite(number)) {
                return null;
            }

            if (number != 0) {
                return null;
            }

            return "grey"
        }

    };
    let editingItem = null;

    function drawList() {
        const source = document.getElementById("email-items-template").innerHTML;
        const context = {ignoredADDomainItems: ignoredADDomainItems};
        const html = Mustache.to_html(source, context);
        list.html(html);
    }

    $(function () {
        customerSection = $('.customerSection');
        domainInput = $('[name="domain"]');
        addButton = $('.addButton');
        saveButton = $('.saveButton');
        cancelButton = $('.cancelButton');
        list = $('.list');
        detail = $('.detail');
        drawList();
        list.on('click', '.editButton', function (thing) {
            $elm = $(this);

            const data = $elm.closest('.ignoredADDomainItem').data();
            editingItem = ignoredADDomainItems.find(e => e.id === data.id);

            if (!editingItem) {
                throw Error('Failed to find element to edit');
            }

            domainInput.val(editingItem.domain);
            const isCustomerSpecific = !!editingItem.customerID;
            changeWildCard(isCustomerSpecific);
            customerSection.find('[name="customerID"]').val(editingItem.customerID);
            customerSection.find('[name="form[customerString]"]').val(editingItem.customerString);
            $('[name="isCustomerSpecific"]').each(function () {
                const $radio = $(this);
                $radio.prop('checked', +$radio.val() == isCustomerSpecific);
            });
            cancelButton.show();
            saveButton.show();
            addButton.hide();
            detail.data('editItemID', data.id);
        });

        list.on('click', '.deleteButton', function (thing) {

            if (!confirm('are you sure you want to delete this entry?')) {
                return;
            }

            $elm = $(this);

            const data = $elm.closest('.ignoredADDomainItem').data();
            const foundIndex = ignoredADDomainItems.findIndex(e => e.id === data.id);

            if (foundIndex < 0) {
                throw Error('Failed to find element to delete');
            }
            const urlDeleteItem = "{URLDeleteItem}&id=";
            const url = urlDeleteItem + data.id;

            $.ajax({
                url: url,
                method: 'GET',
            }).then(function (result) {
                ignoredADDomainItems.splice(foundIndex, 1);
                drawList();
            })
        });


        cancelButton.click(function () {
            cancelEdit();
        });

        saveButton.click(function () {
            if (!detail[0].checkValidity()) {
                detail.submit();
                return;
            }

            const customerString = customerSection.find('[name="form[customerString]"]').val();
            const customerID = +customerSection.find('[name="customerID"]').val();
            if ($('[name="isCustomerSpecific"][value="1"]')[0].checked && !customerID) {
                alert('Please select a customer');
                return;
            }

            const data = {
                domain: domainInput.val(),
                customerID: customerID,
                customerString: customerString,
                id: editingItem.id
            };

            $.ajax({
                url: '{URLUpdateItem}',
                method: 'POST',
                type: 'post',
                dataType: 'json',
                data: data
            }).then(function (result) {
                editingItem.domain = data.domain;
                editingItem.customerID = data.customerID;
                editingItem.customerString = data.customerString;

                drawList();
                cancelEdit();
            })

        });

        addButton.click(function () {
            if (!detail[0].checkValidity()) {
                detail.submit();
                return;
            }
            const customerString = customerSection.find('[name="form[customerString]"]').val();
            const customerID = +customerSection.find('[name="customerID"]').val();
            if ($('[name="isCustomerSpecific"][value="1"]')[0].checked && !customerID) {
                alert('Please select a customer');
                return;
            }

            const data = {
                domain: domainInput.val(),
                customerID: customerSection.find('[name="customerID"]').val(),
                customerString: customerString
            };

            $.ajax({
                url: '{URLAddItem}',
                method: 'POST',
                type: 'post',
                dataType: 'json',
                data: data
            }).then(function (newItem) {
                ignoredADDomainItems.push(newItem);
                drawList();
                cancelEdit();
            })

        });

        changeWildCard(false);


    });

    function cancelEdit() {
        changeWildCard(false);
        $('[name="isCustomerSpecific"]').each(function () {
            const $radio = $(this);
            $radio.prop('checked', !+$radio.val());
        });
        cancelButton.hide();
        saveButton.hide();
        addButton.show();
        editingItem = null;
        domainInput.val('');
    }


    var savedCustomerString;

    function saveCustomerString() {
        savedCustomerString = document.getElementById("customerString").value
    }

</script>
<div class="list">
</div>
<form class="detail"
      onsubmit="return false;"
>
    <div>
        <span>OS Name:</span>
        <br>
        <input type="text"
               name="name"
               required
        >
    </div>
    <div>
        <span>OS Version:</span>
        <br>
        <input type="number"
               name="version"
               required
        >
    </div>
    <div>
        <span>OS Build:</span>
        <br>
        <input type="number"
               name="build"
               required
        >.<input type="number"
                 name="subBuild"
    >
    </div>
    <div>
        <span>Availability Date:</span>
        <br>
        <input type="text"
               name="availabilityDate"
               required
               class="jqueryCalendar"
        >
    </div>
    <div>
        <span>EOL Date:</span>
        <br>
        <input type="text"
               name="endOfLifeDate"
               class="jqueryCalendar"
        >
    </div>
    <div>
        <button class="addButton"
                type="button"
        >Add
        </button>
        <button class="saveButton"
                type="button"
                hidden
        >Save
        </button>
        <button class="cancelButton"
                hidden
                type="button"
        >Cancel
        </button>
    </div>

</form>