<!-- Template: passwordEdit.inc.html -->
<FORM  method="post" action="{urlUpdate}" name="password" AUTOCOMPLETE="OFF">
	<table width="700px" border="0">
		<input
			type="hidden"
			name="password[1][customerID]"
			value="{customerID}"
		>
    <input
      type="hidden"
      name="password[1][passwordID]"
      value="{passwordID}"
    >
		<tr>
				<td class="promptText">Username</td>
				<td class="fieldText"><input
					name="password[1][username]"
					type="text" value="{username}"
					title="e.g. login name"
					size="100"
					maxlength="100">
					<span class="formErrorMessage">{usernameMessage}</span> </td>
		</tr>
    <tr>
        <td class="promptText">Service</td>
        <td class="fieldText"><input
          name="password[1][service]"
          type="text" value="{service}"
          title="e.g. Server 1"
          size="60"
          maxlength="60">
          <span class="formErrorMessage">{serviceMessage}</span> </td>
    </tr>
    <tr>
        <td class="promptText">Password</td>
        <td class="fieldText"><input
          name="password[1][password]"
          type="text" value="{password}"
          size="60"
          maxlength="60">
          <span class="formErrorMessage">{passwordMessage}</span> </td>
    </tr>
    <tr>
        <td class="promptText">Notes</td>
        <td class="fieldText"><input
          name="password[1][notes]"
          type="text" value="{notes}"
          size="100"
          maxlength="200">
          <span class="formErrorMessage">{notesMessage}</span> </td>
    </tr>
		<tr> 
			<td>&nbsp;</td>
			<td class="formErrorMessage"><input type="submit" name="Submit" value="Update"></td>
		</tr>
	</table>
</form>