<!-- Template: passwordEdit.inc.html -->
<script>
    const hasSalesPasswordAccess = {hasSalesPasswordAccess};
    const salesPasswordValue = {salesPassword};
    $(function () {
        if (!hasSalesPasswordAccess) {
            document.querySelector('.salesPasswordAccess').innerHTML = "";
            const hiddenInput = document.createElement('input');
            hiddenInput.type = "hidden";
            hiddenInput.value = salesPasswordValue;
            hiddenInput.name = 'salesPassword';
            document.querySelector("[name='password']").append(hiddenInput);
        }
    })
</script>
<FORM method="post"
      action="{urlUpdate}"
      name="password"
      AUTOCOMPLETE="OFF"
>
    <table width="700px"
           border="0"
    >
        <input type="hidden"
               name="password[1][customerID]"
               value="{customerID}"
        >
        <input type="hidden"
               name="password[1][passwordID]"
               value="{passwordID}"
        >
        <tr>
            <td class="promptText">Username</td>
            <td class="fieldText">
                <input name="password[1][username]"
                       type="text"
                       value="{username}"
                       title="e.g. login name"
                       size="100"
                       maxlength="100"
                >
                <span class="formErrorMessage">{usernameMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Service</td>
            <td class="fieldText">
                <select name="password[1][serviceID]">
                    <option value>No Service</option>
                    <!-- BEGIN passwordServiceBlock -->
                    <option value="{passwordServiceID}"
                            {selected}
                    >
                        {passwordServiceDescription}
                    </option>
                    <!-- END passwordServiceBlock -->
                </select>
                <span class="formErrorMessage">{serviceMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Password</td>
            <td class="fieldText">
                <input name="password[1][password]"
                       type="text"
                       value="{password}"
                       size="60"
                       maxlength="60"
                >
                <span class="formErrorMessage">{passwordMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Notes</td>
            <td class="fieldText">
                <input name="password[1][notes]"
                       type="text"
                       value="{notes}"
                       size="100"
                       maxlength="200"
                >
                <span class="formErrorMessage">{notesMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">URL</td>
            <td class="fieldText">
                <input name="password[1][URL]"
                       type="text"
                       value="{URL}"
                       size="100"
                       maxlength="200"
                >
                <span class="formErrorMessage">{URLMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Level</td>
            <td class="fieldText">
                <select name="password[1][level]"
                        required
                >
                    <option value>-- Select a Level --</option>
                    <!-- BEGIN levelBlock -->
                    <option {levelSelected}
                            value="{level}"
                    >
                        {level} - {levelDescription}
                    </option>
                    <!-- END levelBlock -->
                </select>
                <span class="formErrorMessage">{levelMessage}</span>
            </td>
        </tr>
        <tr class="salesPasswordAccess">
            <td class="promptText">Sales Password</td>
            <td class="fieldText">
                <input type="checkbox"
                       name="password[1][salesPassword]"
                       value="true"
                       {salesPasswordChecked}
                >
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="formErrorMessage">
                <input type="submit"
                       name="Submit"
                       value="Update"
                >
            </td>
        </tr>
    </table>
</form>