<style>
    {
        display: inline !important
    }
    .cke_combo__tokens .cke_combo_text {
        width: 70px;
    }
</style>
<!-- Template: FurtherActionEdit.inc.html -->
<TABLE width="200px"
       border="0"
       cellpadding="2"
       cellspacing="1"
>
    <TR>
        <TD width="100px"
            class="navigateLink"
            valign="top"
        >
            <a href="{urlDisplayList}">Back to list</a>
        </TD>
        <TD width="100px"
            class="navigateLink"
            valign="top"
        >
            <a href="{urlDelete}">{txtDelete}</a>
        </TD>
    </TR>
</table>
<FORM method="post"
      action="{urlUpdate}"
      name="passwordService"
      AUTOCOMPLETE="OFF"
>
    <table border="0">
        <input type="hidden"
               name="passwordService[1][passwordServiceID]"
               value="{passwordServiceID}"
        >
        <input type="hidden"
               name="passwordService[1][sortOrder]"
               value="{sortOrder}"
        >
        <tr>
            <td class="promptText">Description</td>
            <td class="fieldText">
                <input name="passwordService[1][description]"
                       type="text"
                       value="{description}"
                       size="50"
                       maxlength="50"
                >
                <span class="formErrorMessage">{descriptionMessage}</span>
            </td>
        </tr>
        <tr>
            <td valign="top"
                class="promptText"
            >
                One Per Customer
            </td>
            <td class="fieldText">
                <input name="passwordService[1][onePerCustomer]"
                       {onePerCustomerChecked}
                       value="1"
                       type="checkbox"
                >
                <span class="formErrorMessage">{onePerCustomerMessage}</span></td>
        </tr>
        <tr>
            <td class="promptText">Default Level</td>
            <td class="fieldText">
                <select name="passwordService[1][defaultLevel]"
                        required
                >
                    <!-- BEGIN passwordLevelBlock -->
                    <option {selected}
                            value="{value}"
                    >
                        {description}
                    </option>
                    <!-- END passwordLevelBlock -->
                </select>
                <span class="formErrorMessage">{descriptionMessage}</span>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="formErrorMessage">
                <input type="submit"
                       name="Submit"
                       value="{updateOrCreate}"
                >
            </td>
        </tr>
    </table>
</form>
<!-- End Template: FurtherActionEdit.inc.html -->