<!-- Template: Customer.inc.html -->
<script type='application/javascript'
        src='CommonJS.js'
>
</script>
<link rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/datatables.min.css"
/>

<script type="text/javascript"
        src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/datatables.min.js"
></script>
<script type="application/javascript">
    $(document).ready(function () {
        dataTable = $('#myTable').DataTable({
            dom: 'Blfrtip',
            buttons: [
                // {
                //     extend: 'csv',
                //     bom: true,
                //     exportOptions: {
                //         orthogonal: 'data'
                //     }
                // },
                {
                    extend: 'excel'
                }
            ],
            paging: false,
        });
    });

</script>
<table width="100%"
       border="0"
       cellspacing="0"
       cellpadding="1"
       id="myTable"
>
    <thead>
    <tr>
        <th>Customer</th>
        <th>Username</th>
        <th>Password</th>
        <th>Service</th>
        <th>Notes</th>
        <th>URL</th>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN PasswordsBlock -->
    <tr>
        <td>{customer}</td>
        <td>{username}</td>
        <td>{password}</td>
        <td>{serviceName}</td>
        <td>{notes}</td>
        <td>{URL}</td>
    </tr>
    <!-- END PasswordsBlock -->
    </tbody>
</table>
<!-- End Template: Customer.inc.html -->
