<!-- Template: RenewalReport.inc.html -->
<H2>{customerName}</H2>
<script src=".javascript/clipboard.js-master/dist/clipboard.min.js"></script>
<script>
    $(function () {
        var test = new Clipboard('.btn');
    })
</script>
<style>
    .btn {
        position: relative;
        display: inline-block;
        padding: 6px 12px;
        font-size: 13px;
        font-weight: bold;
        line-height: 20px;
        color: #333;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        background-color: #eee;
        background-image: linear-gradient(#fcfcfc, #eee);
        border: 1px solid #d5d5d5;
        border-radius: 3px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-appearance: none;
    }

    .btn img {
        width: 13px;
        margin-top: -3px;
        position: relative;
        top: 3px;
    }

    .clipboard {
        float: right;
    }
</style>
<table class="content"
       border="0"
       cellpadding="2"
       cellspacing="1"
       width="100%"
>
    <thead>
    <tr>
        <th>Username</th>
        <th>Service</th>
        <th>Password</th>
        <th>Notes</th>
        <th>URL</th>
        <th colspan="2">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN passwordBlock -->
    <tr>
        <td class="contentLeftAlign">
            <span id="username{passwordID}">{username}</span>
            <button class="btn clipboard"
                    data-clipboard-target="#username{passwordID}"
            >
                <img src="/images/clippy.png">
            </button>
        </td>
        <td class="contentLeftAlign"
            style="white-space: normal;"
        >{service}
        </td>
        <td class="contentLeftAlign"
            style="white-space: normal;"
        >
            <span id="password{passwordID}">{password}</span>
            <button class="btn clipboard"
                    data-clipboard-target="#password{passwordID}"
            >
                <img src="/images/clippy.png">
            </button>
        </td>
        <td class="contentLeftAlign"
            style="white-space: normal;"
        >{notes}
        </td>
        <td class="contentLeftAlign"
            style="white-space: normal;"
        >{URL}
        </td>
        <td class="contentLeftAlign"><A href="{urlEdit}">edit</a></td>
        <td class="contentLeftAlign"><A href="{urlArchive}"
                                        onClick="if(!confirm('Are you sure you want to archive this password?')) return(false)"
        >archive</a>
        </td>
    </tr>
    <!-- END passwordBlock -->
    </tbody>
</table>
<A href="{urlAdd}">add new</a>
<h2>Load from CSV</h2>
<form name="loadFromCsv"
      action="{urlLoadFromCsv}"
      enctype="multipart/form-data"
      method="post"
>
    <input type="hidden"
           name="MAX_FILE_SIZE"
           value="1048"
           id="MAX_FILE_SIZE"
    />
    <table>
        <tr>
            <td colspan="2">The CSV file must be have 4 columns in this order: username, service, password, notes. No
                field names in 1st row.
            </td>
        </tr>
        <tr>
            <td>File To Upload</td>
            <td><input type="file"
                       name="csvFile"
                       id="csvFile"
            /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"
                       name="upload"
                       id="upload"
                       value="Upload"
                />
            </td>
        </tr>
    </table>

</form>
<!-- End Template: RenContractList.inc.html -->