<!-- Template: PopupPage.inc.html -->
<HTML>
<HEAD>
    <TITLE>{pageTitle}</TITLE>
    <META http-equiv="Content-Type"
          content="text/html; charset=UTF-8"
    >
    <link href="/screen.css"
          rel="stylesheet"
          type="text/css"
    >
    <link rel="stylesheet"
          href=".javascript/jquery-ui-1.12.1/jquery-ui.min.css"
    >
    <script src=".javascript/jquery-3.3.1.min.js"></script>
    <script src=".javascript/date-polyfill/date-polyfill.min.js"
            defer
    ></script>
    <script type="application/javascript"
            src=".javascript/modernizr.js"
            defer
    >
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"
            defer
    ></script>
    <script src=".javascript/jquery-ui-1.12.1/jquery-ui.min.js" defer></script>
    <script src=".javascript/fromDateToDate.js"></script>
    <script src="https://kit.fontawesome.com/0231a7a920.js"
            crossorigin="anonymous"
            defer
    ></script>
    {javaScript}
</HEAD>
<BODY onLoad="self.focus()">
<TABLE width="100%"
       border="0"
       cellpadding="5"
       cellspacing="0"
>
    <TR>
        <TD align="left">
            <H1>{pageHeader}</H1><font class="formErrorMessage">{formErrorMessage}</font>
        </TD>
    </TR>
    <tr>
        <TD colspan="2">
            {CONTENTS}
        </TD>
    </TR>
</TABLE>
</BODY>
</HTML>
<!-- End template: PopupPage.inc.html -->
