<!-- Template: PopupPage.inc.html -->
<HTML>
<HEAD>
<TITLE>{pageTitle}</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="/screen.css" rel="stylesheet" type="text/css">
</HEAD>
	<BODY onLoad="self.focus()">
		<TABLE width="100%" border="0" cellpadding="5" cellspacing="0">
			<TR>
				<TD align="left">
					<H1>{pageTitle}</H1><font class="formErrorMessage">{formErrorMessage}</font>
				</TD>
			</TR>
				<TD colspan="2">				
					{CONTENTS}
				</TD>
			</TR>
		</TABLE>
	</BODY>
</HTML>
<!-- End template: PopupPage.inc.html -->
