<!-- Template: PortalCustomerDocumentEdit.inc.html -->
<TABLE border="0"
       cellpadding="2"
       cellspacing="1"
>
    <TR>
        <TD class="navigateLink"
            valign="top"
        ><a href="{urlDisplayCustomer}">Back to customer</a></TD>
        <TD class="navigateLink"
            valign="top"
        ><a href="{urlDelete}">{txtDelete}</a></TD>
    </TR>
</table>
<FORM method="post"
      action="{urlUpdate}"
      name="portalCustomerDocument"
      AUTOCOMPLETE="OFF"
      enctype="multipart/form-data"
>

    <table border="0">
        <input
                type="hidden"
                name="portalCustomerDocument[1][portalCustomerDocumentID]"
                value="{portalCustomerDocumentID}"
        >
        <input
                type="hidden"
                name="portalCustomerDocument[1][customerID]"
                value="{customerID}"
        >
        <input type="hidden"
               name="portalCustomerDocument[1][createdDate]"
               value="{createdDate}"
        />
        <tr>
            <td class="promptText">Description</td>
            <td class="fieldText"><input
                    name="portalCustomerDocument[1][description]"
                    type="text"
                    value="{description}"
                    size="50"
                    maxlength="50"
            > <span class="formErrorMessage">{descriptionMessage}</span></td>
        </tr>
        <tr>
            <td class="promptText">Customer Contract?</td>
            <td class="fieldText"><input name="portalCustomerDocument[1][customerContract]"
                                         type="checkbox"
                                         value="Y"
                                         {customerContractChecked}
            ><span class="formErrorMessage">{customerContractMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Main Contact Only?</td>
            <td class="fieldText"><input name="portalCustomerDocument[1][mainContactOnlyFlag]"
                                         type="checkbox"
                                         value="Y"
                                         {mainContactOnlyFlagChecked}
            ><span class="formErrorMessage">{mainContactOnlyFlagMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">File</td>
            <td class="fieldText"><input name="userfile"
                                         type="file"
                                         value="{userfile}"
                                         size="30"
                                         class="dragUploader"
                                         data-description="portalCustomerDocument[1][description]"
            > <span
                    class="formErrorMessage"
            >{userfileMessage}</span></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="formErrorMessage"><input type="submit"
                                                name="Submit"
                                                value="Update"
            ></td>
        </tr>
    </table>
</form>
<!-- End Template: PortalCustomerDocumentEdit.inc.html -->