<!-- Template: PrepayAdjustment.inc.html -->
<script language='JavaScript'
        src="CommonJS.js"
></script>
<script language='JavaScript'>
    const autocompleteURL = "/Customer.php?action=searchName";
    $(function () {
        window.date = $('#date').get(0);

        $('#customerName').autocomplete({
            minLength: 0,
            source: function (request, responseCB) {
                const data = {};
                data.term = request.term;
                $.ajax(
                    autocompleteURL,
                    {
                        method: 'POST',
                        dataType: 'json',
                        data: data
                    }
                ).then(response => {
                    responseCB(response);
                })
            },
            select: function (event, ui) {
                event.preventDefault();
                event.target.value = ui.item.label;
                $('#customerID').val(ui.item.id);
            },
            delay: 200,
        }).focus(function () {
            $(this).autocomplete("search", $(this).val());
        });
    });

</script>
<form name="customerItem"
      method="post"
      action="{urlSubmit}"
>
    <TABLE width="600"
           border="0"
           cellpadding="1"
           cellspacing="1"
    >
        <TR>
            <td class="promptText">Customer</td>
            <td><input
                    type="hidden"
                    name="callActivity[1][customerID]"
                    id="customerID"
                    value="{customerID}"
            />
                <input
                        type="text"
                        name="customerName"
                        id="customerName"
                        value="{customerName}"
                        size="50"
                        maxlength="50"
                > <span class="formErrorMessage">{customerIDMessage}</span></td>
        </TR>
        <TR>
            <TD class="promptText">Value</TD>
            <TD class="field"><input
                    {DISABLED}
                    type="text"
                    name="callActivity[1][curValue]"
                    value="{curValue}"
                    size="8"
                    maxlength="8"
            />
                <span class="formErrorMessage">{curValueMessage}</span>
            </TD>
        </TR>
        <TR>
            <TD class="promptText">Date</TD>
            <TD class="field"><input
                    type="text"
                    id="date"
                    size="10"
                    maxlength="10"
                    name="callActivity[1][date]"
                    value="{date}"
                    class="jqueryCalendar"
                    autocomplete="off"
            > <span class="formErrorMessage">{dateMessage}</span>
            </TD>
        </TR>
        <tr>
            <td valign="top"
                class="promptText"
            >&nbsp;
            </td>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="2">
                <input type="submit"
                       name="Update"
                       value="Save"
                ></td>
        </tr>
    </table>
</form>
<!-- End Template: PrepayAdjustment.inc.html -->