<!-- Template: prizewinnerEdit.inc.html -->
<TABLE width="200px" border="0" cellpadding="2" cellspacing="1">
	<TR> 
		<TD width="100px" class="navigateLink" valign="top"><a href="{urlDisplayList}">Back to list</a></TD>
		<TD width="100px" class="navigateLink" valign="top"><a href="{urlDelete}">{txtDelete}</a></TD>
	</TR>
</table>
<FORM  method="post" action="{urlUpdate}" name="prizewinner" AUTOCOMPLETE="OFF">
	<table width="700px" border="0">
		<input
			type="hidden"
			name="prizewinner[1][prizewinnerID]"
			value="{prizewinnerID}"
		>
    <input
      type="hidden"
      name="prizewinner[1][yearMonth]"
      value="{yearMonth}"
    >
		<tr> 
			<td class="promptText">Month</td>
			<td class="fieldText">{yearMonth}</td>
		</tr>
    <tr> 
      <td width="115" class="promptText" valign="top">Winner</td>
      <td width="575" class="fieldText">
        <select
          name="prizewinner[1][contactID]"
          >
          <option value="">Please Select</option>
          <!-- BEGIN contactBlock -->
          <option {contactSelected} value="{contactID}">{requestName} of {customerName}</option>
          <!-- END contactBlock -->
        </select>
        <span class="formErrorMessage">{contactMessage}</span>
      </td>
    </tr>
    <tr> 
      <td class="promptText">Approved</td>
      <td class="fieldText">
        <input type="checkbox" name="prizewinner[1][approvedFlag]" value="Y" {approvedFlagChecked} title="Authorised to get a prize?">
        <span class="formErrorMessage">{approvedFlagMessage}</span> </td>
    </tr>
		<tr> 
			<td>&nbsp;</td>
			<td class="formErrorMessage"><input type="submit" name="Submit" value="Update"></td>
		</tr>
	</table>
</form>
<!-- End Template: prizewinnerEdit.inc.html -->