<!-- Template: ActivityCreate3.inc.html -->
{activityWizardHeader}
<script type="application/javascript">
    $(function () {
        window.date = $('#date').get(0);
    });
</script>
<form name="form"
      method="post"
      action="{submitURL}"
>
    <table border="0"
           cellspacing="0"
           cellpadding="1"
    >
        <tr class="singleBorder">
            <td class="promptText">Priority</td>
            <td class="fieldText"><select
                    type="text"
                    id="priority"
                    name="priority"
            >
                <option value="">Please Select</option>
                <!-- BEGIN priorityBlock -->
                <option {prioritySelected}
                        value="{priority}"
                >{priorityDesc}
                </option>
                <!-- END priorityBlock -->
            </select>
                <span class="formErrorMessage">{priorityMessage}</span></td>
        </tr>
        <tr class="singleBorder">
            <td class="promptText">Date</td>
            <td class="fieldText">
                <input type="text"
                       name="date"
                       id="date"
                       value="{date}"
                       size="10"
                       maxlength="10"
                       onchange="setFormChanged();"
                       autocomplete="off"
                       class="jQueryCalendar"
                />
                <span class="formErrorMessage">{dateMessage}</span>
            </td>
        </tr>
        <tr class="singleBorder">
            <td class="promptText">Time</td>
            <td class="fieldText"><input
                    type="text"
                    name="startTime"
                    value="{startTime}"
                    size="5"
                    maxlength="5"
            />
                <span class="formErrorMessage">{startTimeMessage}</span></td>
        </tr>


        <tr>
            <td valign="top">&nbsp;</td>
            <td>
        </tr>
        <tr>
            <td valign="top"><input name="Back"
                                    type="button"
                                    value="Back"
                                    onclick="document.location='{backURL}';"
            >
            </td>
            <td><input name="Next"
                       type="submit"
                       id="Next"
                       value="Next"
            >
        </tr>
    </table>
</form>
<table>
    <!-- BEGIN itemBlock -->
    <tr>
        <td class="listItemText">
            {itemDescription}
        </td>
    </tr>
    <!-- END itemBlock -->
</table>
<!-- End Template: ActivityCreate3.inc.html -->
