<script>
    function showHistoryPopup(url) {
        window.open(url,
            'Updates History', 'scrollbars=yes,resizable=no,width=870,height=300,copyhistory=no, menubar=0')
    }
</script>

<table>
    <thead>
    <tr>
        <th>Description</th>
        <th>Customer Name</th>
        <th>Commencement</th>
        <th>Project Plan</th>
        <th>Latest Update</th>
        <th>Updates</th>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN projectBlock -->
    <tr>
        <td>{description}</td>
        <td>{customerName}</td>
        <td>{commenceDate}</td>
        <td>{projectPlanLink}</td>
        <td>{latestUpdate}</td>
        <td><a onclick="showHistoryPopup('{historyPopupURL}')">History</a></td>
    </tr>
    <!-- END projectBlock -->
    </tbody>
</table>
<button onclick="window.open('?action=currentProjectsReport','_blank')">
    View Report
</button>
