<!-- Template: ProspectImport.inc.html -->
<P>
	Import prospects from a CSV file
</P>
<form name="prospectUpload" method="POST" enctype="multipart/form-data" action="{urlSubmit}">
<table class="singleBorder" width="50px" border="0" cellspacing="2" cellpadding="0">
	<tr> 
		<td class="promptText">File</td>
		<td valign="middle" class="field">
			<input type="file" name="prospectFile" value="{prospectFile}" size="50" maxlength="50">
		</td>
		<td><input type="submit" name="Upload" value="Import"></td>
	</tr>
</table>
</form>
<!-- End Template: ProspectImport.inc.html -->