<!-- Template: PurchaseOrderSearch.inc.html -->
<script language='JavaScript'>

    function submitOnReturn() {
        if (event.keyCode == 13) {
            document.searchForm.submit();
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        const reactSupplierSearchContainer = document.getElementById('reactSupplierSearchContainer');
        document.renderSupplierSearchComponent(reactSupplierSearchContainer, {
            inputId: 'supplierID',
            defaultText: ''
        });
    })

    function createOrder() {
        if (
            (document.searchForm.supplierID.value != "") &&
            (document.searchForm.ordheadID.value != "")
        ) {
            document.location =
                '{urlCreateOrder}&supplierID=' + escape(document.searchForm.supplierID.value) +
                '&ordheadID=' + escape(document.searchForm.ordheadID.value)
        }
    }
</script>
<form name="searchForm"
      method="post"
      action="{submitURL}"
      AUTOCOMPLETE="off"
>
    <table width="500px"
           border="0"
           cellspacing="0"
           cellpadding="1"
    >
        <tr>
            <td width="100px"
                class="promptText"
            >
                <div align="right">Supplier</div>
            </td>
            <td>
                <input
                        type="hidden"
                        name="supplierID"
                        id="supplierID"
                        value="{supplierID}"
                >
                <div id="reactSupplierSearchContainer"
                     data-input-id="supplierID"
                ></div>
            </td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Purchase Order No</div>
            </td>
            <td><input
                    type="text"
                    onKeypress="javascript:submitOnReturn()"
                    name="porheadID"
                    value="{porheadID}"
            ></td>
        <tr>
            <td class="promptText">
                <div align="right">Sales Order No</div>
            </td>
            <td><input
                    type="text"
                    onKeypress="javascript:submitOnReturn()"
                    name="ordheadID"
                    value="{ordheadID}"
            ></td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Status</div>
            </td>
            <td>
                <select name="orderType">
                    <option value=""></option>
                    <!-- BEGIN orderTypeBlock -->
                    <option {orderTypeSelected}
                            value="{orderType}"
                    >{orderTypeDescription}
                    </option>
                    <!-- END orderTypeBlock -->
                </select></td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Supplier Ref</div>
            </td>
            <td><input
                    type="text"
                    name="supplierRef"
                    id="supplierRef"
                    value="{supplierRef}"
                    size="30"
                    maxlength="30"
                    onKeypress="javascript:submitOnReturn()"
            ></td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Search</div>
            </td>
            <td><input
                    type="text"
                    name="lineText"
                    value="{lineText}"
                    size="50"
                    maxlength="50"
                    onKeypress="javascript:submitOnReturn()"
            ></td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Start Date</div>
            </td>
            <td>
                <input type="date"
                       name="fromDate"
                       id="fromDate"
                       value="{fromDate}"
                       size="10"
                       maxlength="10"
                       onkeypress="submitOnReturn()"
                       autocomplete="off"
                >
                <font class="formErrorMessage">{fromDateMessage}</font></td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">End Date</div>
            </td>
            <td>
                <input type="date"
                       name="toDate"
                       id="toDate"
                       value="{toDate}"
                       size="10"
                       maxlength="10"
                       onkeypress="submitOnReturn()"
                       autocomplete="off"
                >
                <font class="formErrorMessage">{toDateMessage}</font></td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Part No</div>
            </td>
            <td><input
                    type="text"
                    name="partNo"
                    value="{partNo}"
                    size="20"
                    maxlength="20"
                    onKeypress="javascript:submitOnReturn()"
            ></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="button"
                       name="Search"
                       value="Search"
                       onClick="submit();"
                >
                <input type="button"
                       name="CreateOrder"
                       value="New Order"
                       onClick="createOrder();"
                >
                <input type="button"
                       name="Clear"
                       value="Clear"
                       onClick="document.location='{clearURL}'"
                ></td>
        </tr>
    </table>
</form>
<table class="singleBorder"
       width="890px"
       border="0"
       cellspacing="1"
       cellpadding="1"
>
    <tr>
        <td width="240px"
            class="listHeadText"
        >Supplier
        </td>
        <td width="50px"
            class="listHeadText"
        >Order No
        </td>
        <td width="70px"
            class="listHeadText"
        >Status
        </td>
        <td width="250px"
            class="listHeadText"
        >Supplier Ref
        </td>
        <td width="245px"
            class="listHeadText"
        >Sold To
        </td>
        <td width="50px"
            class="listHeadText"
        >&nbsp;
        </td>
    </tr>
    <!-- BEGIN orderBlock -->
    <tr onMouseOver="this.bgColor='#FFFFCC';"
        onMouseOut="this.bgColor='';"
    >
        <td class="listItemText">{listSupplierName}</td>
        <td class="listItemText"><A HREF="{listOrderURL}">{listPorheadID}</A></td>
        <td class="listItemText">{listOrderType}</td>
        <td class="listItemText">{listSupplierRef}</td>
        <td class="listItemText">{listCustomerName}</td>
        <td class="listItemText">{listOrderDelete}</td>
    </tr>
    <!-- END orderBlock -->
</table>
<!-- End Template: PurchaseOrderSearch.inc.html -->