<!-- Template: PurchaseOrderLineEdit.inc.html -->
<script language='JavaScript'
        src="CommonJS.js"
></script>
{purchaseOrderLineEditJS}
<script language='JavaScript'>
    function checkFunctionKey(field) {
        if (event.keyCode == 120) {			// F9 - edit
            switch (field.id) {
                case "itemDescription":
                    if (document.getElementById("itemID").value != "0") {
                        window.open('{urlItemEdit}&itemID=' + escape(document.getElementById("itemID").value), 'items', 'scrollbars=yes,resizable=no,width=610,height=560,copyhistory=no, menubar=0');
                    }
                    break;
            }
        }
        return;
    }
</SCRIPT>
<table width="300px"
       border="0"
>
    <tr>
        <td width="100px"
            class="promptText"
        >Supplier
        </td>
        <td class="mainHeadText">{supplierName}</td>
    </tr>
    <tr>
        <td class="promptText">Order No</td>
        <td class="mainHeadText">{porheadID}</td>
    </tr>
</table>
<table width="910px"
       border="0"
>
    <tr>
        <td colspan="2"
            valign="top"
            class="listHeadText"
        >
            <div align="center">Order
                Line
        </td>
    </tr>
</table>
<form name="porline"
      method="post"
      action="{urlSubmit}"
      AUTOCOMPLETE="off"
>
    <input
            type="hidden"
            name="porline[1][porheadID]"
            value="{porheadID}"
    >
    <input
            type="hidden"
            name="porline[1][itemID]"
            id="itemID"
            value="{itemID}"
    >
    <input
            type="hidden"
            name="porline[1][sequenceNo]"
            value="{sequenceNo}"
    >
    <input
            type="hidden"
            name="porline[1][qtyReceived]"
            value="{qtyReceived}"
    >
    <input
            type="hidden"
            name="porline[1][qtyInvoiced]"
            value="{qtyInvoiced}"
    >
    <!-- This so that item popup does not crash -->
    <input
            type="hidden"
            name="dummy"
            value=""
    >
    <input
            type="hidden"
            name="dummy"
            id="qtyOrdered"
            value=""
    >
    <table width="500px"
           border="0"
           cellspacing="0"
           cellpadding="3"
    >
        <tr>
            <td class="promptText">Item</td>
            <td class="field">
                <input
                        type="text"
                        name="porline[1][itemDescription]"
                        id="itemDescription"
                        value="{itemDescription}"
                        onChange="javascript:validateItemDescription()"
                        onKeydown="javascript:checkFunctionKey(itemDescription)"
                        size="50"
                        maxlength="50"
                        {disableOnPartReceive}
                >
                <font class="formErrorMessage">{itemDescriptionMessage}</font>
            </td>
        </tr>
        <tr>
            <td class="promptText">Qty Ordered</td>
            <td class="field">
                <input
                        type="text"
                        name="porline[1][qtyOrdered]"
                        value="{qtyOrdered}"
                        onKeypress="javascript:submitOnReturn()"
                        align="right"
                        size="10"
                        maxlength="10"
                        {disableOnPartReceive}
                >
                <font class="formErrorMessage">{qtyOrderedMessage}</font>
            </td>
        </tr>
        <tr>
            <td class="promptText">Cost Price</td>
            <td class="field">
                <input
                        type="text"
                        name="porline[1][curUnitCost]"
                        id="curUnitCost"
                        value="{curUnitCost}"
                        onKeypress="javascript:submitOnReturn()"
                        size="10"
                        align="right"
                        maxlength="10"
                        {disableOnPartReceive}
                >
                <font class="formErrorMessage">{curUnitCostMessage}</font>
            </td>
        </tr>
        <tr>
            <td class="promptText">Date Expected</td>
            <td class="field">
                <input type="date"
                       name="porline[1][expectedDate]"
                       id="expectedDate"
                       value="{expectedDate}"
                       onKeypress="javascript:submitOnReturn()"
                       size="10"
                       align="right"
                       maxlength="10"
                >
                <font class="formErrorMessage">{expectedDateMessage}</font>
            </td>
        </tr>
        <tr>
            <td class="promptText">Date TBC</td>
            <td class="field">
                <input type="checkbox"
                       name="porline[1][expectedTBC]"
                       {expectedTBCChecked}
                       onKeypress="javascript:submitOnReturn()"
                       align="right" 
                >
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="button"
                       name="Submit"
                       value="Submit"
                       onClick="submit();"
                >
                <input type="button"
                       name="Cancel"
                       value="Cancel"
                       onClick="document.location='{urlCancel}';"
                >
                <input type="reset"
                       name="Reset"
                       value="Reset"
                >
            </td>
        </tr>
    </table>
</form>
<!-- End Template: PurchaseOrderLineEdit.inc.html -->
