<!-- Template: FurtherActionList.inc.html -->
<A href="{urlCreate}">[create new]</A>
<style>
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

    }

    .alignCenter {
        align-self: center;
    }

    .containerColumn {
        display: flex;
        flex-direction: column;
    }

    .orderLineItem {
        vertical-align: middle;
    }

    .sortOrderActionButton {
        width: 25px;
        height: 25px;
    }

    .sortOrderActionButton[disabled] i::before {
        /*font-family: 'FontAwesome';*/
        font-size: smaller;
        content: '\f05e'
    }
</style>
<form action="?action=changeOrder"
      method="post"
>
    <table class="singleBorder"
           width="417"
           border="0"
           cellspacing="1"
           cellpadding="2"
    >
        <tr>
            <td class="listHeadText">Description</td>
            <td class="listHeadText">Linked Sales Order</td>
            <td class="listHeadText"></td>
        </tr>
        <!-- BEGIN quotationTemplateBlock -->
        <tr valign="top"
            onMouseOver="this.bgColor='#ffffcc';"
            onMouseOut="this.bgColor='';"
        >
            <td class="orderLineItem"
                style="height: 100%"
            >
                <DIV align="left">{description}</div>
            </td>
            <td class="orderLineItem"
                style="height: 100%;"
            >
                <DIV align="left"><a href="{linkedSalesOrderURL}"
                                     target="_blank"
                >{linkedSalesOrderId}</a></div>
            </td>
            <td class="orderLineItem container">
                <DIV align="left"
                     class="alignCenter"
                >
                    <A href="{urlEdit}"
                       title="Edit"
                    >
                        {txtEdit}
                    </a>
                    <A href="{urlDelete}"
                       title="Delete this type"
                       onClick="if(!confirm('Are you sure you want to remove this?')) return(false)"
                    >
                        {txtDelete}
                    </A>
                </DIV>
                <div class="containerColumn">
                    <div>

                        <button class="sortOrderActionButton"
                                {sortOrderUp}
                                name="sortOrder[{id}]"
                                value="up"
                        >
                            <i class='fa fa-angle-up'></i>
                        </button>
                        <button class="sortOrderActionButton"
                                {sortOrderTop}
                                name="sortOrder[{id}]"
                                value="top"
                        >
                            <i class='fa fa-angle-double-up'></i>
                        </button>
                    </div>
                    <div>
                        <button class="sortOrderActionButton"
                                {sortOrderDown}
                                name="sortOrder[{id}]"
                                value="down"
                        >
                            <i class='fa fa-angle-down'></i>
                        </button>
                        <button class="sortOrderActionButton"
                                {sortOrderBottom}
                                name="sortOrder[{id}]"
                                value="bottom"
                        >
                            <i class='fa fa-angle-double-down'></i>
                        </button>
                    </div>
                </div>
            </td>
        </tr>
        <!-- END quotationTemplateBlock -->
    </table>
</form>