<!-- Template: searchSearch.inc.html -->
<script language='JavaScript'
        src="CommonJS.js"
></script>
<script language='JavaScript'>
    window.addEventListener('DOMContentLoaded', function () {
        window.fromDate = $('#fromDate').get(0);
        window.toDate = $('#toDate').get(0);
        $('#customerString')[0].addEventListener('autocompleteselect', function ($event) {
            $('#customerID').val($event.detail.item.value);
        });
    });
    var state = 'none'; // display status
    function submitOnReturn() {
        if (event.keyCode == 13) {
            document.searchForm.submit();
        }
    }

</script>
<div class="reportDescription">
    This report shows how many quotes were converted into orders.
</div>
<P class="formErrorMessage">{formError}</P>
<form name="searchForm"
      method="POST"
      action="{urlSubmit}"
>
    <table width="300px"
           border="0"
           cellspacing="0"
           cellpadding="1"
    >
        <tr>
            <td width="100"
                class="promptText"
            >
                <div align="right">Customer</div>
            </td>
            <td>
                <input
                        type="hidden"
                        name="action"
                        value="search"
                >
                <input
                        type="hidden"
                        name="search[1][customerID]"
                        id="customerID"
                        value="{customerID}"
                > <input
                    type="text"
                    id="customerString"
                    name="customerString"
                    value="{customerString}"
                    size="50"
                    maxlength="50"
                    customer-search
            > <font class="formErrorMessage"> {customerStringMessage} </font></td>
        </tr>
        <tr>
            <td class="promptText">&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Raised from</div>
            </td>
            <td>
                <input type="date"
                       name="search[1][fromDate]"
                       id="fromDate"
                       value="{fromDate}"
                       size="10"
                       maxlength="10"
                       onkeypress="submitOnReturn()"
                       autocomplete="off"
                >
                <font class="formErrorMessage">{fromDateMessage}</font>
            </td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">to</div>
            </td>
            <td>
                <input type="date"
                       name="search[1][toDate]"
                       id="toDate"
                       value="{toDate}"
                       size="10"
                       maxlength="10"
                       onkeypress="submitOnReturn()"
                       autocomplete="off"
                >
                <font class="formErrorMessage">{toDateMessage}</font>
            </td>
        </tr>


        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit"
                       name="Search"
                       value="Search"
                >
        </tr>
    </table>
    <p>&nbsp;</p>

</form>
<table style="max-width: 600px;"
       border="0"
       cellspacing="1"
       cellpadding="1"
       class="table table-striped"
>
<thead>
    <tr>
        <th >Year</th>
        <th >Month</th>
        <th >Quotes</th>
        <th >Conversions</th>
        <th >Percentage</th>
    </tr>
</thead>
<tbody>
    <!-- BEGIN rowBlock -->
    <tr>
        <td>{year}</td>
        <td>{month}</td>
        <td>{quoteCount}</td>
        <td>{conversionCount}</td>
        <td>{conversionPercentage}</td>
    </tr>
    <!-- END rowBlock -->
</tbody>
</table>
<p><img src="{urlChart}"/></p>

