<!-- Template: ItemSelectNone.inc.html -->
<html lang="EN">
<head>
</head>
<body>
<P>{description} not found</P>
<table>
    <tr>
        <TD>
            <INPUT type="button"
                   name="create"
                   value="Create New"
                   onclick="document.location='quoteTemplates.php?action=createQuotationTemplate';"
            >
        </TD>
        <TD>
            <INPUT type="button"
                   name="close"
                   value="Close"
                   onclick="window.close();"
            >
        </TD>
    </tr>
</table>
</body>
</html>
<!-- End Template: ItemSelectNone.inc.html -->
