<script language='JavaScript'
        src="CommonJS.js"
>
</script>
<script src=".javascript/DirectDebitLogic.js"
>
</script>
<script>
    function addItem() {
        const itemId = prompt('ID of the item to add');
        if (!itemId) {
            return;
        }
        fetch('?action=addItemToContract&contractCustomerItemId={customerItemID}&itemToAddId=' + itemId)
                .then(res => res.json())
                .then(res => {
                    if (res.status !== 'ok') {
                        throw new Error(res.message);
                    }
                    document.location.reload();
                })
                .catch(error => {
                    alert(error);
                })
    }
</script>
<style>
    .fieldText input[type=number] {
        width: 95px;
    }

</style>
<script language='JavaScript'>
    const clientCheckDirectDebit = {clientCheckDirectDebit};
    let itemIdInput;
    let itemSelectorElement;
    let allowDirectDebitElement;

    let directDebitCheckboxElement;
    window.addEventListener('DOMContentLoaded', function () {
        window.despatchDate = document.getElementById('despatchDate');
        window.expiryDate = document.getElementById('expiryDate');
        allowDirectDebitElement = document.getElementById('allowDirectDebit');
        itemIdInput = document.getElementById('itemID');
        itemSelectorElement = document.getElementById('itemSelector');
        directDebitCheckboxElement = document.getElementById('directDebit');
        checkDirectDebit();


        document.renderItemSelectorComponent(itemSelectorElement, {
            itemId: +itemIdInput.value, inputId: 'itemID'
        })
    });

    function checkDirectDebit() {

        const parent = directDebitCheckboxElement.parentElement;
        if (clientCheckDirectDebit && allowDirectDebitElement.value !== 'false') {
            directDebitCheckboxElement.removeAttribute('disabled');
            if (parent.children.length > 1) {
                parent.querySelector('span').remove();
            }
        } else {
            if (!clientCheckDirectDebit) {
                if (parent.children.length < 2) {
                    const span = document.createElement('span');
                    span.textContent = "This customer needs bank details before Direct Debit can be used.";
                    span.className = "redText";
                    parent.append(span)
                }
            }
            directDebitCheckboxElement.setAttribute('disabled', true);
            directDebitCheckboxElement.checked = false;
        }
    }

    function checkFunctionKey(field) {
        if (event.keyCode == 120) {      // F9 - edit
            switch (field.id) {
                case "siteDesc":
                    if (document.getElementById("siteNo").value != "") {
                        window.open(
                                '{urlSiteEdit}&customerID={customerID}' +
                                '&siteNo=' + escape(document.getElementById("siteNo").value) +
                                '&parentIDField=siteNo' +
                                '&parentDescField=siteDesc',
                                'address', 'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0'
                        );
                    }
                    break;
            }
        }
        return;
    }


    function validateSiteDesc() {
        if (Trim(document.getElementById("siteDesc").value) != "") {
            window.open(
                    '{urlSitePopup}&customerID={customerID}' +
                    '&siteDesc=' + escape(document.getElementById("siteDesc").value) +
                    '&parentIDField=siteNo' +
                    '&parentDescField=siteDesc',
                    'address',
                    'scrollbars=yes,resizable=yes,width=500,height=550,copyhistory=no, menubar=0'
            )
        }
    }

    function recalculateSalePrice() {
        const monthSale = $('#unitSale').val() * $('#units').val();
        $('#annualSalePrice').val((monthSale * 12).toFixed(2));
    }

    function recalculatePrices() {
        recalculateSalePrice();
        recalculateCostPrice();
    }

    function recalculateCostPrice() {
        const monthCost = $('#unitCost').val() * $('#units').val();
        $('#annualCostPrice').val((monthCost * 12).toFixed(2));
    }

</script>
<style>
    input[readonly].users {
        background-color: rgb(231, 231, 231);

    }
</style>
<!-- Template: RenContractEdit.inc.html -->
<TABLE width="200px"
       border="0"
       cellpadding="2"
       cellspacing="1"
>
    <TR>
        <TD width="100px"
            class="navigateLink"
            valign="top"
        >
            <a href="{urlDelete}">{txtDelete}</a>
        </TD>
    </TR>
</table>
<FORM method="post"
      action="{urlUpdate}"
      name="renContract"
      AUTOCOMPLETE="OFF"
>
    <table width="700px"
           border="0"
    >
        <input type="hidden"
               value="{allowDirectDebit}"
               id="allowDirectDebit"
        >
        <input type="hidden"
               name="renContract[1][customerItemID]"
               value="{customerItemID}"
        >
        <input type="hidden"
               name="renContract[1][customerID]"
               id="customerID"
               value="{customerID}"
        >
        <input type="hidden"
               name="renContract[1][customerName]"
               value="{customerName}"
        >
        <input type="hidden"
               name="renContract[1][siteNo]"
               id="siteNo"
               value="{siteNo}"
        >
        <input type="hidden"
               name="renContract[1][invoiceFromDate]"
               value="{invoiceFromDate}"
        >
        <input type="hidden"
               name="renContract[1][invoiceToDate]"
               value="{invoiceToDate}"
        >
        <tr>
            <td width="167"
                class="promptText"
                align="right"
            >Customer
            </td>
            <td width="523"
                class="fieldText"
            >{customerName}
            </td>
        </tr>
        <TR>
            <TD class="promptText">Site</TD>
            <TD class="displayfield">
                <input type="text"
                       name="renContract[1][siteDesc]"
                       id="siteDesc"
                       value="{siteDesc}"
                       onKeydown="javascript:checkFunctionKey(siteDesc)"
                       onChange="javascript:validateSiteDesc()"
                       {DISABLED}
                       size="50"
                       maxlength="50"
                >
            </TD>
        </TR>
        <tr>
            <td class="promptText">Item</td>
            <td class="field">
                <input type="hidden"
                       name="renContract[1][itemID]"
                       id="itemID"
                       value="{itemID}"
                >
                <div id="itemSelector"></div>
            </td>
        </tr>
        {prices}
        <tr>
            <td class="promptText">Number of Users/Units</td>
            <td class="fieldText">
                <input name="renContract[1][users]"
                       type="number"
                       value="{users}"
                       title="Users"
                       onkeyup="recalculatePrices()"
                       id="units"
                       class="users"
                       {usersDisable}

                >
                <span class="formErrorMessage">{usersMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Unit Sale Price/Month</td>
            <td class="fieldText">
                <input type="number"
                       value="{salePricePerMonth}"
                       onkeyup="recalculateSalePrice()"
                       onmouseup="recalculateSalePrice()"
                       id="unitSale"
                       step="0.01"
                       name="renContract[1][salePricePerMonth]"
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">Unit Cost Price/Month</td>
            <td class="fieldText">
                <input type="number"
                       value="{costPricePerMonth}"
                       onkeyup="recalculateSalePrice()"
                       onmouseup="recalculateSalePrice()"
                       id="unitCost"
                       step="0.01"
                       name="renContract[1][costPricePerMonth]"
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">Installation Date</td>
            <td class="fieldText">
                <input name="renContract[1][installationDate]"
                       type="date"
                       value="{installationDate}"
                       {readonly}
                       size="10"
                       maxlength="10"
                       data-jqueryCalendarBeforeShowDay="beforeShowDay"
                       required
                       id="installationDate"
                >
                <span class="formErrorMessage">{installationDateMessage}</span>
            </td>
            <td class="promptText">
                Initial Contract Length (months)
            </td>
            <td class="fieldText">
                <select {disabled}
                        name="renContract[1][initialContractLength]"
                >
                    <!-- BEGIN initialContractLengthBlock -->
                    <option {initialContractLengthSelected}
                            value="{initialContractLength}"
                    >{initialContractLengthDescription}
                    </option>
                    <!-- END initialContractLengthBlock -->
                </select>
            </td>
        </tr>
        <tr>
            <td class="promptText">Total Invoiced (months)</td>
            <td class="fieldText">
                <input name="renContract[1][totalInvoiceMonths]"
                       type="text"
                       value="{totalInvoiceMonths}"
                       {readonly}
                       size="10"
                       maxlength="10"
                >
                <span class="formErrorMessage">{totalInvoiceMonthsMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Invoice Interval (months)</td>
            <td class="fieldText">
                <input name="renContract[1][invoicePeriodMonths]"
                       {readonly}
                       type="text"
                       value="{invoicePeriodMonths}"
                       size="10"
                       maxlength="10"
                       id="invoiceInterval"
                >
                <span class="formErrorMessage">{invoicePeriodMonthsMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Contract Expiry Date</td>
            <td class="fieldText">{calculatedExpiryDate}</td>
        </tr>
        <tr>
            <td class="promptText">Next Invoice Period</td>
            <td class="fieldText">{invoiceFromDate} to {invoiceToDate}</td>
        </tr>
        <tr>
            <td class="promptText">Official Order Number</td>
            <td class="fieldText">
                <input type="text"
                       name="renContract[1][officialOrderNumber]"
                       maxlength="100"
                       size="80"
                       value="{officialOrderNumber}"
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">Sales Order Comment</td>
            <td class="fieldText">
                <input name="renContract[1][notes]"
                       type="text"
                       value="{notes}"
                       title="Appears as a comment line on the generated sales order before the item line"
                       {readonly}
                       size="45"
                       maxlength="45"
                >
                <span class="formErrorMessage">{notesMessage}</span>
            </td>
        </tr>

        {declined}
        <tr>
            <td class="promptText">Part No</td>
            <td class="field">{itemID}</td>
        </tr>
        <TR>
            <TD class="promptText">Printed Contract Start Date</TD>
            <TD class="field">
                <input type="date"
                       id="despatchDate"
                       name="renContract[1][despatchDate]"
                       size="10"
                       maxlength="10"
                       {readonly}
                       value="{despatchDate}"
                       autocomplete="off"
                >
                <font class="formErrorMessage">{despatchDateMessage}</font>
            </TD>
        </TR>
        {renContractPrePayFields}
        <TR>
            <TD class="promptText">Billing End Date</TD>
            <TD class="field">
                <input type="date"
                       id="expiryDate"
                       {readonly}
                       name="renContract[1][expiryDate]"
                       size="10"
                       maxlength="10"
                       value="{expiryDate}"
                       autocomplete="off"
                >
                <font class="formErrorMessage">{expiryDateMessage}</font>
            </TD>
        </TR>

        <tr>
            <td class="promptText">
                <div align="right">Renewal Status</div>
            </td>
            <td>
                <select {disabled}
                        name="renContract[1][renewalStatus]"
                >
                    <option value="">
                    </option>
                    <!-- BEGIN renewalStatusBlock -->
                    <option {renewalStatusSelected}
                            value="{renewalStatusValue}"
                    >{renewalStatusDescription}
                    </option>
                    <!-- END renewalStatusBlock -->
                </select>
            </td>
        </tr>
        <tr>
            <td valign="top"
                class="promptText"
            >Contract Details
            </td>
            <td colspan="2">
                <textarea {readonly}
                          cols="80"
                          rows="10"
                          name="renContract[1][customerItemNotes]"
                          title="Appears on printed contract"
                >{customerItemNotes}</textarea>
            </td>
        </tr>
        <tr>
            <td valign="top"
                class="promptText"
            >Internal Notes
            </td>
            <td colspan="2">
                <textarea cols="80"
                          rows="10"
                          name="renContract[1][internalNotes]"
                >{internalNotes}</textarea>
            </td>
        </tr>

        <tr>
            <td valign="top"
                class="promptText"
            >Auto-generate Sales Invoice
            </td>
            <td colspan="2">
                <input type="checkbox"
                       name="renContract[1][autoGenerateContractInvoice]"
                       value="Y"
                       {autoGenerateContractInvoiceChecked}
                       title="If checked then the system will automatically generate a sales invoice otherwise just a sales order will be created"
                       id="autoGenerateContractInvoice"
                >
            </td>
        </tr>
        <tr>
            <td valign="top"
                class="promptText"
            >Direct Debit
            </td>
            <td colspan="2">
                <input type="checkbox"
                       name="renContract[1][directDebitFlag]"
                       value="Y"
                       {directDebitFlagChecked}
                       title="If checked then the system will automatically generate a sales invoice otherwise just a sales order will be created"
                       id="directDebit"
                >
            </td>
        </tr>
        <tr>
            <td valign="top"
                class="promptText"
            >
                Transaction Type
            </td>
            <td colspan="2">
                <select name="renContract[1][transactionType]"
                >
                    <!-- BEGIN TransactionTypesBlock   -->
                    <option value="{transactionType}"
                            {selected}
                    >
                        {transactionType}
                    </option>
                    <!-- END TransactionTypesBlock   -->
                </select>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="2">
                <input type="submit"
                       name="Update"
                       value="Save"
                >
                <a href="{urlDelete}"
                   title="Delete customer item"
                   onClick="if(!confirm('Are you sure you want to delete this record?')) return(false)"
                >{txtDelete}</a>
                <a href="{urlPrintContract}"
                   title="Print Support Contract"
                >{txtPrintContract}</a>
            </td>
        </tr>
    </table>
</form>
<H3>Covered Items</H3>
<button onclick="addItem()">
    Add Item
</button>
<table class="singleBorder">
    <!-- BEGIN coveredItemsBlock -->
    <tr class="singleBorder">
        <td>
            <a href="{coveredItemUrl}"
               target="_blank"
            >{coveredItemDescription}</a>
        </td>
        <td>{coveredItemSerialNo}</td>
    </tr>
    <!-- END coveredItemsBlock -->
</table>
<!-- End Template: RenContractEdit.inc.html -->