<!-- Template: RenContractList.inc.html -->
<script language='JavaScript' src="CommonJS.js"></script>
<table class="singleBorder" width="673" border="0" cellspacing="1" cellpadding="2">
	<tr> 
		<td width="265" class="listHeadText"><a href="{urlList}&orderBy=cus_name">Customer</a></td>
		<td width="265" class="listHeadText"><a href="{urlList}&orderBy=itm_desc">Type</a></td>
		<td width="265" class="listHeadText">&nbsp;</td>
		<td width="265" class="listHeadText"><a href="{urlList}&orderBy=invoiceFromDateYMD">Invoice From</a></td>
		<td width="265" class="listHeadText"><a href="{urlList}&orderBy=invoiceToDateYMD">To</a></td>
		<td width="141" class="listHeadText">&nbsp;</td>
	</tr>
	<!-- BEGIN rowBlock -->
	<tr valign="top" onMouseOver="this.bgColor='#ffffcc';" onMouseOut="this.bgColor='';"> 
		<td class="orderLineItem"><DIV align="left">{customerName}</div></td>
		<td class="orderLineItem"><DIV align="left">{itemDescription}</div></td>
		<td class="orderLineItem"><DIV align="left">{notes}</div></td>
		<td class="orderLineItem"><DIV align="left">{invoiceFromDate}</div></td>
		<td class="orderLineItem"><DIV align="left">{invoiceToDate}</div></td>
		<td class="orderLineItem"><DIV align="left"></div>
			<DIV align="left"> <A href="{urlEdit}" title="Edit renewal details">{txtEdit}</a> 
			</DIV></td>
	</tr>
	<!-- END rowBlock -->
</table>
<!-- End Template: RenContractList.inc.html -->
