<!-- Template: RenContractList.inc.html -->
<script>

    $(function () {
        $('#theTable').DataTable({
            dom: 'Blfrtip',
            buttons: [
                {
                    extend: 'csv',
                    bom: true
                }
            ],
            columnDefs: [
                {type: "date-eu", targets: [3, 4]}
            ],
            paging: false,
            order: [
                [0, 'asc'],
            ]
        });
    })

</script>
<table class="singleBorder"
       width="673"
       border="0"
       cellspacing="1"
       cellpadding="2"
       id="theTable"
>
    <thead>

    <tr>
        <td width="265"
            class="listHeadText"
        >Customer
        </td>
        <td width="265"
            class="listHeadText"
        >Type
        </td>
        <td width="265"
            class="listHeadText"
        >&nbsp;
        </td>
        <td width="265"
            class="listHeadText"
        >Invoice From
        </td>
        <td width="265"
            class="listHeadText"
        >To
        </td>
        <td width="141"
            class="listHeadText"
        >&nbsp;
        </td>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN rowBlock -->
    <tr valign="top"
        onMouseOver="this.bgColor='#ffffcc';"
        onMouseOut="this.bgColor='';"
    >
        <td class="orderLineItem alignLeft">
            {customerName}
        </td>
        <td class="orderLineItem alignLeft">
            {itemDescription}
        </td>
        <td class="orderLineItem alignLeft">
            {notes}
        </td>
        <td class="orderLineItem alignLeft">
            {invoiceFromDate}
        </td>
        <td class="orderLineItem alignLeft">
            {invoiceToDate}
        </td>
        <td class="orderLineItem alignLeft">
            <DIV align="left"><A href="{urlEdit}"
                                 title="Edit renewal details"
            >{txtEdit}</a>
            </DIV>
        </td>
    </tr>
    <!-- END rowBlock -->
    </tbody>
</table>
<!-- End Template: RenContractList.inc.html -->
