<!-- Template: RenDomainEdit.inc.html -->
<script language='JavaScript'
        src="CommonJS.js"
></script>
<script language='JavaScript'>

    let itemIdInput;
    let itemSelectorElement;

    document.addEventListener('DOMContentLoaded', () => {
        itemIdInput = document.getElementById('itemID');
        itemSelectorElement = document.getElementById('itemSelector');
        document.renderItemSelectorComponent(
                itemSelectorElement,
                {
                    itemId: +itemIdInput.value,
                    inputId: 'itemID',
                }
        );


    })

</script>
<TABLE width="200px"
       border="0"
       cellpadding="2"
       cellspacing="1"
>
    <TR>
        <TD width="100px"
            class="navigateLink"
            valign="top"
        ><a href="{urlDelete}">{txtDelete}</a></TD>
    </TR>
</table>
<FORM method="post"
      action="{urlUpdate}"
      name="renDomain"
      AUTOCOMPLETE="OFF"
>
    <table width="700px"
           border="0"
    >
        <input
                type="hidden"
                name="renDomain[1][customerItemID]"
                value="{customerItemID}"
        >
        <input
                type="hidden"
                name="renDomain[1][customerID]"
                value="{customerID}"
        >
        <input
                type="hidden"
                name="renDomain[1][customerName]"
                value="{customerName}"
        >
        <input
                type="hidden"
                name="renDomain[1][siteName]"
                value="{siteName}"
        >
        <input
                type="hidden"
                name="renDomain[1][siteNo]"
                value="{siteNo}"
        >
        <input
                type="hidden"
                name="renDomain[1][salePrice]"
                value="{salePrice}"
        >
        <input
                type="hidden"
                name="renDomain[1][costPrice]"
                value="{costPrice}"
        >
        <tr>
            <td width="167"
                class="promptText"
                align="right"
            >Customer
            </td>
            <td width="523"
                class="fieldText"
            >{customerName}
            </td>
        </tr>
        <TR>
            <TD class="promptText">Site</TD>
            <td class="fieldText">{siteName}</td>
        </TR>
        <tr>
            <td class="promptText">Item</td>
            <td class="field"><input
                    type="hidden"
                    name="renDomain[1][itemID]"
                    id="itemID"
                    value="{itemID}"
            >
                <div id="itemSelector"></div>
            </td>
        </tr>
        {pricePerMonth}
        <tr>
            <td class="promptText">Domain</td>
            <td class="fieldText"><input
                    name="renDomain[1][notes]"
                    {readonly}
                    type="text"
                    value="{notes}"
                    title="Will appear as a comment line on the generated sales order before the item line"
                    size="50"
                    maxlength="45"
            >
                <span class="formErrorMessage">{notesMessage}</span></td>
        </tr>
        <tr>
            <td class="promptText">Start Date</td>
            <td class="fieldText">
                <input name="renDomain[1][installationDate]"
                       type="date"
                       value="{installationDate}"
                       {readonly}
                       size="10"
                       maxlength="10"
                       autocomplete="off"
                >
                <span class="formErrorMessage">{installationDateMessage}</span></td>
            <td class="promptText">
                Initial Contract Length (months)
            </td>
            <td class="fieldText">
                <select {disabled}
                        name="renDomain[1][initialContractLength]"
                >
                    <!-- BEGIN initialContractLengthBlock -->
                    <option {initialContractLengthSelected}
                            value="{initialContractLength}"
                    >{initialContractLengthDescription}
                    </option>
                    <!-- END initialContractLengthBlock -->
                </select>
            </td>
        </tr>
        <tr>
            <td class="promptText">Total Invoiced (months)</td>
            <td class="fieldText"><input
                    name="renDomain[1][totalInvoiceMonths]"
                    type="text"
                    value="{totalInvoiceMonths}"
                    {readonly}
                    size="10"
                    maxlength="10"
            >
                <span class="formErrorMessage">{totalInvoiceMonthsMessage}</span></td>
        </tr>
        <tr>
            <td class="promptText">Invoice Interval (months)</td>
            <td class="fieldText"><input
                    name="renDomain[1][invoicePeriodMonths]"
                    type="text"
                    value="{invoicePeriodMonths}"
                    {readonly}
                    size="10"
                    maxlength="10"
            >
                <span class="formErrorMessage">{invoicePeriodMonthsMessage}</span></td>
        </tr>
        <tr>
            <td class="promptText">Contract Expiry Date</td>
            <td class="fieldText">{calculatedExpiryDate}</td>
        </tr>
        <tr>
            <td class="promptText">Next Invoice Period</td>
            <td class="fieldText">{invoiceFromDate} to {invoiceToDate}</td>
        </tr>
        {declined}
        <tr>
            <td valign="top"
                class="promptText"
            >Internal Notes
            </td>
            <td colspan="2">
                <textarea cols="80"
                          rows="10"
                          name="renDomain[1][internalNotes]"
                >{internalNotes}</textarea>
            </td>
        </tr>
        <tr>
            <td valign="top"
                class="promptText"
            >
                Auto-generate Sales Invoice
            </td>
            <td colspan="2">
                <input type="checkbox"
                       name="renDomain[1][autoGenerateContractInvoice]"
                       value="Y"
                       {autoGenerateContractInvoiceChecked}
                       title="If checked then the system will automatically generate a sales invoice otherwise just a sales order will be created"
                       id="autoGenerateContractInvoice"
                >
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="formErrorMessage">&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="formErrorMessage">
                <input type="submit"
                       {readonly}
                       name="Submit"
                       value="Update"
                >
                <a href="{urlPrintContract}"
                   title="Print Support Contract"
                >{txtPrintContract}</a>
            </td>
        </tr>
    </table>
</form>
<!-- End Template: RenDomainEdit.inc.html -->