<!-- Template: RenewalReport.inc.html -->

<style>
    .wrong {
        color: red;
        font-weight: bold;
    }
</style>
<div style="float: right">
    <h2>Send Contracts to be signed</h2>
    <button type="button"
            onclick="previewPDF()"
            {disabled}
    >Preview
    </button>
    <input type="hidden"
           name="PDFPath"
           id="PDFPath"
    >

    <label for="signableContact">
        Signee Contact
    </label>
    <select name="signableContact"
            id="signableContact"
            onchange="changedSignableContact()"
            {disabled}
    >
        <option selected
                value=""
        >-- Pick a Contact --
        </option>
        <!-- BEGIN toSignContactsBlock -->
        <option value="{toSignContactID}">
            {toSignContactName}
        </option>
        <!-- END toSignContactsBlock -->
    </select>
    <button type="button"
            id="sendSignable"
            disabled
            onclick="sendDocument()"
    >Send
    </button>
</div>
<H2>{customerName}</H2>
<script>

    const showOfficeButton = {showOfficeButton};


    function runOfficeReport(customerID) {
        alert('This process can take up to 30 minutes to complete, depending on the customer size, please check customer Review Folder later.');
        fetch('?action=runOfficeReport&customerID=' + customerID).then(() => {
        })
    }

    window.addEventListener('DOMContentLoaded', function () {

        if (showOfficeButton) {
            $('.officeReport.hidden').removeClass('hidden');
        }

        $('#selectAll').change(function () {
            if ($(this).prop('checked')) {
                $('#renewalTable tbody input[type=checkbox]').prop('checked', true);
            } else {
                $('#renewalTable tbody input[type=checkbox]').prop('checked', false);
            }
            $(this).prop('indeterminate', false);
            pdfFileName = null;
            checkSendSignable(false);
        })
        $('#renewalTable tbody input[type=checkbox]').change(function () {
            var allCheckBoxes = 0;
            var checkedCheckBoxes = 0;
            $('#renewalTable tbody input[type=checkbox]').each(function () {
                allCheckBoxes++;
                if ($(this).prop('checked')) {
                    checkedCheckBoxes++;
                }
            })
            if (checkedCheckBoxes === allCheckBoxes) {
                $('#selectAll').prop('checked', true);
            } else {
                $('#selectAll').prop('checked', false);
            }

            if (checkedCheckBoxes > 0 && checkedCheckBoxes < allCheckBoxes) {
                $('#selectAll').prop('indeterminate', true)
            } else {
                $('#selectAll').prop('indeterminate', false)
            }
            pdfFileName = null;

            checkSendSignable(false);
        })
    })
    var pdfFileName = null;

    function previewPDF() {

        var contractsIds = [];
        $('#renewalTable tbody input[type=checkbox]').each(function () {
            if ($(this).prop('checked')) {
                contractsIds.push($(this).attr('id'));
            }
        });


        if (!contractsIds.length) {
            return;
        }
        var data = {
            customerID: {customerID},
            contractsIDs: contractsIds
        };
        spinnerComponent.showSpinner();

        $.ajax({
            url: '?action=previewPDF',
            method: 'POST',
            type: 'post',
            dataType: 'json',
            data: data
        }).then(function (result) {
            pdfFileName = result.fileName;
            window.open(result.URL);
            const signableContact = $('#signableContact').val();
            checkSendSignable(signableContact);
            spinnerComponent.hideSpinner();
        });
    }

    function checkSendSignable() {

        if (pdfFileName && $('#signableContact').val()) {
            $('#sendSignable').prop('disabled', false);
        } else {
            $('#sendSignable').prop('disabled', true);
        }
    }

    function changedSignableContact() {
        checkSendSignable();
    }

    function sendDocument() {

        if (confirm("Are you sure you want to send these contract documents?")) {

            var data = {
                contactID: $('#signableContact').val(),
                fileName: pdfFileName,
                customerID: {customerID},
            };

            $.ajax({
                url: '?action=sendPDF',
                method: 'POST',
                type: 'post',
                dataType: 'json',
                data: data
            }).then(function (result) {
                if (result.status) {
                    window.location.reload();
                } else {
                    alert('Failed to send envelope');
                }
            });
        }
    }

</script>
<form name="domain"
      action="{urlCreateQuote}"
      method="post"
>
    <table class="content"
           border="0"
           cellpadding="2"
           cellspacing="1"
           width="100%"
           id="renewalTable"
    >
        <thead>
        <tr>
            <th>
                <input type="checkbox"
                       id="selectAll"
                >
            </th>
            <th colspan="2">&nbsp;</th>
            <th>Invoiced Until</th>
            <th>Contract Expiry Date</th>
            <th>Units</th>
            <th>DD</th>
            <th>Cost(&pound;)</th>
            <th>Sale(&pound;)</th>
            <th width="2%">&nbsp;</th>
        </tr>

        </thead>
        <tbody>


        <!-- BEGIN itemBlock -->
        {itemTypeHeader}
        {runOffice365Thingy}
        <tr class="{itemClass}">
            <td style="vertical-align: baseline">
                {checkbox}
            </td>
            <td class="content">
                <A HREF="{linkURL}"
                   target="_blank"
                >{description}</a>
            </td>
            <td class="content">{notes}{coveredItemsString}</td>
            <td class="content">{expiryDate}</td>
            <td class="content">{calculatedExpiryDate}</td>
            <td class="content {unitsNotEqualItems}">{units}</td>
            <td class="content">{directDebit}</td>
            <td class="contentRightAlign">{costPrice}</td>
            <td class="contentRightAlign">{salePrice}</td>
        </tr>
        <!-- END itemBlock -->
        <tr>
            <td colspan="7"
                class="contentRightAlign"
            >&nbsp;
            </td>
            <td colspan="2"
                class="content"
            ><A HREF="{addExternalItemURL}">[add new external item]</A></td>
        </tr>
        <tr>
            <td colspan="7">Total</td>
        </tr>
        <tr>
            <td colspan="7"
                class="contentRightAlign"
            >&nbsp
            </td>
            <td class="contentRightAlign">{totalCostPrice}</td>
            <td class="contentRightAlign">{totalSalePrice}</td>
            <td>&nbsp;</td>
        </tr>
        </tbody>
    </table>
</form>
<!-- End Template: RenContractList.inc.html -->
