"Domains","","","","","",""
"","","Grant No","Expires","Quantity","Cost(£)","Sale(£)"<!-- BEGIN domainBlock -->
"{domain}","{details}","","{expiryDate}","1","{costPrice}","{salePrice}"
<!-- END domainBlock -->
"Contracts","","","","","",""<!-- BEGIN contractBlock -->
"{contractDetails}","{contract}","","{contractExpiryDate}","1","{costPrice}","{salePrice}"
<!-- END contractBlock -->
"Broadband","","","","","",""<!-- BEGIN broadbandBlock -->
"{adslPhone}","{service}","","{expiryDate}","1","{costPrice}","{salePrice}"
<!-- END broadbandBlock -->
"Quotation","","","","","",""<!-- BEGIN quotationBlock -->
"{item}","{type}","{grantNumber}","{expiryDate}","{quantity}","{costPrice}","{salePrice}"
<!-- END quotationBlock -->