<!-- Template: RenQuotationEdit.inc.html -->
<script language='JavaScript'
        src="CommonJS.js"
></script>
<script>
    let itemIdInput;
    let itemSelectorElement;

    document.addEventListener('DOMContentLoaded', () => {

        itemIdInput = document.getElementById('itemID');
        itemSelectorElement = document.getElementById('itemSelector');
        document.renderItemSelectorComponent(
                itemSelectorElement,
                {
                    itemId: +itemIdInput.value,
                    inputId: 'itemID'
                }
        );
    })
</script>
<TABLE width="200px"
       border="0"
       cellpadding="2"
       cellspacing="1"
>
    <TR>
        <TD width="100px"
            class="navigateLink"
            valign="top"
        ><a href="{urlDelete}">{txtDelete}</a></TD>
    </TR>
</table>
<FORM method="post"
      action="{urlUpdate}"
      name="renQuotation"
      AUTOCOMPLETE="OFF"
>
    <table width="700px"
           border="0"
    >
        <input
                type="hidden"
                name="renQuotation[1][customerItemID]"
                value="{customerItemID}"
        >
        <input
                type="hidden"
                name="renQuotation[1][customerID]"
                value="{customerID}"
        >
        <input
                type="hidden"
                name="renQuotation[1][customerName]"
                value="{customerName}"
        >
        <input
                type="hidden"
                name="renQuotation[1][siteName]"
                value="{siteName}"
        >
        <input
                type="hidden"
                name="renQuotation[1][siteNo]"
                value="{siteNo}"
        >
        <input
                type="hidden"
                name="renQuotation[1][curUnitSale]"
                value="{curUnitSale}"
        >
        <input
                type="hidden"
                name="renQuotation[1][curUnitCost]"
                value="{curUnitCost}"
        >
        <input
                type="hidden"
                name="renQuotation[1][ordheadID]"
                value="{ordheadID}"
        >
        <input
                type="hidden"
                name="renQuotation[1][renQuotationTypeID]"
                value="{renQuotationTypeID}"
        >
        <tr>
            <td width="167"
                class="promptText"
                align="right"
            >Customer
            </td>
            <td width="523"
                class="fieldText"
            >{customerName}
            </td>
        </tr>
        <tr>
            <td class="promptText">Item</td>
            <td class="field"><input
                    type="hidden"
                    name="renQuotation[1][itemID]"
                    id="itemID"
                    value="{itemID}"
            >
                <div id="itemSelector"></div>
            </td>
        </tr>
        <tr>
            <td class="promptText">Start Date</td>
            <td class="fieldText">
                <input name="renQuotation[1][startDate]"
                       type="date"
                       value="{startDate}"
                       {readonly}
                       size="10"
                       maxlength="10"
                       autocomplete="off"
                >

                <span class="formErrorMessage">{startDateMessage}</span></td>
        </tr>
        <tr>
            <td class="promptText">Contract Expiry Date</td>
            <td class="fieldText">{calculatedExpiryDate}</td>
        </tr>
        <tr>
            <td class="promptText">Type</td>
            <td>
                <select
                        id="action"
                        name="renQuotation[1][renQuotationTypeID]"
                        {disabled}
                >
                    <!-- BEGIN typeBlock -->
                    <option {typeSelected}
                            value="{renQuotationTypeID}"
                    >{typeDescription}
                    </option>
                    <!-- END typeBlock -->
                </select>
            </td>
        </tr>
        <tr>
            <td class="promptText">Cost Price</td>
            <td class="fieldText"><input
                    name="renQuotation[1][costPrice]"
                    type="text"
                    value="{costPrice}"
                    {readonly}
                    size="50"
                    maxlength="50"
            >
                <span class="formErrorMessage">{costPriceMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Sale Price</td>
            <td class="fieldText"><input
                    name="renQuotation[1][salePrice]"
                    type="text"
                    value="{salePrice}"
                    {readonly}
                    size="50"
                    maxlength="50"
            >
                <span class="formErrorMessage">{salesPriceMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Quantity</td>
            <td class="fieldText"><input
                    name="renQuotation[1][qty]"
                    type="text"
                    value="{qty}"
                    {readonly}
                    size="4"
                    maxlength="6"
            >
                <span class="formErrorMessage">{quantityMessage}</span>
            </td>
        </tr>
        <tr>
            <td valign="top"
                class="promptText"
            >Internal Notes
            </td>
            <td colspan="2">
                <textarea cols="80"
                          rows="10"
                          name="renQuotation[1][internalNotes]"
                >{internalNotes}</textarea>
            </td>
        </tr>
        <tr>
            <td valign="top"
                class="promptText"
            >
                Comments
            </td>
            <td colspan="2">
                <textarea cols="80"
                          rows="10"
                          name="renQuotation[1][customerItemNotes]"
                >{comments}</textarea>
            </td>
        </tr>
        <tr>
            <td class="promptText">Serial No</td>
            <td class="fieldText"><input
                    name="renQuotation[1][serialNo]"
                    type="text"
                    value="{serialNo}"
                    size="10"
                    maxlength="10"
            >
                <span class="formErrorMessage">{serialNoMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Details</td>
            <td class="fieldText"><input
                    name="renQuotation[1][grantNumber]"
                    type="text"
                    value="{grantNumber}"
                    {disabled}
                    size="50"
                    maxlength="50"
            >
                <span class="formErrorMessage">{grantNumberMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Declined</td>
            <td class="fieldText">
                <input
                        name="renQuotation[1][declinedFlag]"
                        {readonly}
                        type="checkbox"
                        value="Y"
                        {declinedFlagChecked}
                /></td>
        </tr>
        <tr>
            <td class="promptText">Date Generated</td>
            <td class="fieldText">
                <input type="date"
                       name="renQuotation[1][dateGenerated]"
                       value="{dateGenerated}"
                       {readonly}
                       size="10"
                       maxlength="10"
                       autocomplete="off"
                >
                <span class="formErrorMessage">{dateGeneratedMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Sales Order Link</td>
            <td class="fieldText">
                {salesOrderLink}
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="formErrorMessage">&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="formErrorMessage"><input type="submit"
                                                name="Submit"
                                                value="Update"
            ></td>
        </tr>
    </table>
</form>
<!-- End Template: RenQuotationEdit.inc.html -->