<!-- Template: RenQuotationList.inc.html -->
<script language='JavaScript'
        src="CommonJS.js"
>
</script>
<script>

    $(function () {
        $('#theTable').DataTable({
            dom: 'Blfrtip',
            buttons: [
                {
                    extend: 'csv',
                    bom: true
                }
            ],
            columnDefs: [
                {type: "date-eu", targets: [3, 4]}
            ],
            paging: false,
            order: [
                [0, 'asc'],
            ]
        });
    })

</script>


<table class="singleBorder"
       id="theTable"
       width="600"
       border="0"
       cellspacing="1"
       cellpadding="2"
>
    <thead>
    <tr>
        <td width="300"
            class="listHeadText"
        >
            Customer
        </td>
        <td width="200"
            class="listHeadText"
        >
            Item
        </td>
        <td width="50"
            class="listHeadText"
        >
            Sales Order
        </td>
        <td width="50"
            class="listHeadText"
        >
            Invoice From
        </td>
        <td width="50"
            class="listHeadText"
        >
            Expiry Date
        </td>
        <td width="50"
            class="listHeadText"
        >
            Comments
        </td>
        <td width="50"
            class="listHeadText"
        >
            Latest Quote Sent
        </td>
        <td width="50"
            class="listHeadText"
        >&nbsp;
        </td>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN rowBlock -->
    <tr valign="top"
        onMouseOver="this.style.backgroundColor ='#ffffcc';"
        onMouseOut="this.style.backgroundColor='{sentQuotationColor}';"
        style="background-color: {sentQuotationColor};"
    >
        <td class="orderLineItem alignLeft">
            {customerName}
        </td>
        <td class="orderLineItem alignLeft">
            {itemDescription}
        </td>
        <td class="orderLineItem alignLeft">
            {salesOrderLink}
        </td>
        <td class="orderLineItem alignLeft">
            {startDate}
        </td>
        <td class="orderLineItem alignLeft">
            {nextPeriodStartDate}
        </td>
        <td class="orderLineItem alignLeft">
            {comments}
        </td>
        <td class="orderLineItem alignLeft">
            {latestQuoteSent}
        </td>
        <td class="orderLineItem alignLeft">
            <A href="{urlEdit}"
               title="Edit renewal details"
               target="_blank"
            >{txtEdit}</a>
        </td>
    </tr>
    <!-- END rowBlock -->
    </tbody>
</table>
<!-- End Template: RenQuotationList.inc.html -->
