<!-- Template: PortalCustomerDocumentEdit.inc.html -->
<TABLE border="0" cellpadding="2" cellspacing="1">
	<TR> 
		<TD class="navigateLink" valign="top"><a href="{urlDisplayOrder}">Back to order</a></TD>
		<TD class="navigateLink" valign="top"><a href="{urlDelete}">{txtDelete}</a></TD>
	</TR>
</table>
<FORM  method="post" action="{urlUpdate}" name="salesOrderDocument" AUTOCOMPLETE="OFF" enctype="multipart/form-data">
  <input type="hidden" name="MAX_FILE_SIZE" value="6291456">
	<table border="0">
		<input
			type="hidden"
			name="salesOrderDocument[1][salesOrderDocumentID]"
			value="{salesOrderDocumentID}"
		>
    <input
      type="hidden"
      name="salesOrderDocument[1][ordheadID]"
      value="{ordheadID}"
    >
    
		<tr> 
			<td class="promptText">Description</td>
			<td class="fieldText"> <input
					name="salesOrderDocument[1][description]"
					type="text" value="{description}"
					size="50"
					maxlength="50"
				> <span class="formErrorMessage">{descriptionMessage}</span> </td>
		</tr>
    <tr> 
      <td class="promptText">File</td>
      <td class="fieldText"><input name="userfile" type="file"  value="{userfile}" size="30"> <span class="formErrorMessage">{userfileMessage}</span> </td>
    </tr>
		<tr> 
			<td>&nbsp;</td>
			<td class="formErrorMessage"><input type="submit" name="Submit" value="Update"></td>
		</tr>
	</table>
</form>
<!-- End Template: PortalCustomerDocumentEdit.inc.html -->