<script type="text/javascript">
    window.addEventListener('DOMContentLoaded', function () {
        window.etaDate = $('#etaDate').get(0);
        let reason = CKEDITOR.replace(
            'taskLists',
            {
                customConfig: '/ckeditor_config.js'
            }
        );
        // reason.config.width = "50%";
        reason.config.height = "250px";
        let internalNote = CKEDITOR.replace(
            'internalNote',
            {
                customConfig: '/ckeditor_config.js'
            }
        )
        // internalNote.config.width = "50%";
        internalNote.config.height = "250px";
    });

    function insertValueQuery(myListBox, myQuery) {

        oEditor = eval('CKEDITOR.instances.' + myQuery);

        if (myListBox.options.length > 0) {
            var chaineAj = "";
            var NbSelect = 0;
            for (var i = 0; i < myListBox.options.length; i++) {
                if (myListBox.options[i].selected) {
                    NbSelect++;
                    if (NbSelect > 1)
                        chaineAj += ", ";
                    chaineAj += myListBox.options[i].value;
                }
            }

            oEditor.insertHtml(chaineAj);

        }
    }

</script>
<form name="inputForm"
      method="post"
      action="{urlSubmit}"
>

    <table style="width: 100%;">
        <tr>
            <td>ETA</td>
            <td>
                <input required
                       type="date"
                       name="inputForm[1][etaDate]"
                       id="etaDate"
                       value="{etaDate}"
                       autocomplete="off"
                >

            </td>
        </tr>
        <tr>
            <td>Contract</td>
            <td colspan="2">
                <select required
                        id="serviceRequestCustomerItemID"
                        name="inputForm[1][serviceRequestCustomerItemID]"
                >
                    <option value="">Please select</option>
                    <option value="-1">T &amp; M</option>
                    <!-- BEGIN contractBlock -->
                    <option {contractSelected}
                            value="{serviceRequestCustomerItemID}"
                    >{contractDescription}
                    </option>
                    <!-- END contractBlock -->
                </select>
                <span class="formErrorMessage">{contractCustomerItemIDMessage}</span>
            </td>
        </tr>
        <tr>
            <td>Priority</td>
            <td colspan="2">
                <select required
                        id="serviceRequestPriority"
                        name="inputForm[1][serviceRequestPriority]"
                >
                    <option value="">Please select</option>
                    <!-- BEGIN priorityBlock -->
                    <option {prioritySelected}
                            value="{priority}"
                    >{priorityDescription}
                    </option>
                    <!-- END priorityBlock -->
                </select>
                <span class="formErrorMessage">{priorityMessage}</span>
            </td>
        </tr>
        <tr>
            <td>Standard Text</td>
            <td colspan="1"
                valign="top"
            >
                <select id="tablefields"
                        name="standardText"
                        multiple="multiple"
                        size="16"
                >
                    <!-- BEGIN standardTextBlock -->
                    <option value="{standardTextContent}"
                            title=""
                    >{standardTextDescription}
                    </option>
                    <!-- END standardTextBlock -->
                </select>
                <input type="button"
                       name="insert"
                       value="Insert"
                       onclick="insertValueQuery( standardText, 'taskLists' )"
                       title="Insert"
                />
            </td>
        </tr>
        <tr>
            <td>
                Task Lists
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <textarea id="taskLists"
                          name="inputForm[1][serviceRequestTaskList]"
                >{serviceRequestTaskList}</textarea>
            </td>
        </tr>
        <tr>
            <td>
                Internal Note
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <textarea id="internalNote"
                          name="inputForm[1][serviceRequestInternalNote]"
                >{serviceRequestInternalNote}</textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"
                       name="queue"
                       value="Create For Small Projects"
                />
                <input type="submit"
                       name="queue"
                       value="Create For Projects"
                />
            </td>
        </tr>
    </table>
</form>