<!-- Template: SalesOrderDisplay.inc.html -->
<script src="CommonJS.js"
></script>

<script type="text/javascript">

    function customerNotePopup() {
        window.open(
            '{urlCustomerNote}',
            'item',
            'scrollbars=yes,resizable=yes,width=660,height=560,copyhistory=no, menubar=0'
        );

    }

    function serviceRequestPopup() {
        window.open(
            '{urlServiceRequest}',
            'item',
            'scrollbars=yes,resizable=yes,width=900,height=800,copyhistory=no, menubar=0'
        );

    }

    function checkFunctionKey(field) {

        if (event.keyCode == 120) {			// F9 - edit
            switch (field.id) {
                case "itemDescription":
                    if (document.getElementById("itemID").value != "0") {
                        window.open(
                            '{urlItemEdit}&itemID=' +
                            escape(document.getElementById("itemID").value) +
                            '&parentIDField=itemID' +
                            '&parentDescField=itemDescription',
                            'item',
                            'scrollbars=yes,resizable=yes,width=610,height=560,copyhistory=no, menubar=0'
                        );
                    }
                    break;
                case "invSiteDesc":
                    if (document.getElementById("invSiteNo").value != "") {
                        window.open(
                            '{urlSiteEdit}&customerID={customerID}' +
                            '&siteNo=' + escape(document.getElementById("invSiteNo").value) +
                            '&parentIDField=invSiteNo' +
                            '&parentDescField=invSiteDesc',
                            'address', 'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0'
                        );
                    }
                    break;
                case "delSiteDesc":
                    if (document.getElementById("delSiteNo").value != "") {
                        window.open(
                            '{urlSiteEdit}&customerID={customerID}' +
                            '&siteNo=' + escape(document.getElementById("delSiteNo").value) +
                            '&parentIDField=delSiteNo' +
                            '&parentDescField=delSiteDesc',
                            'address', 'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0');
                    }
                    break;
                case "invContactName":
                    if (document.getElementById("invContactID").value != "") {
                        window.open(
                            '{urlContactEdit}' +
                            '&contactID=' + escape(document.getElementById("invContactID").value) +
                            '&parentIDField=invContactID' +
                            '&parentDescField=invContactName',
                            'address', 'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0');
                    }
                    break;
                case "delContactName":
                    if (document.getElementById("delContactID").value != "") {
                        window.open(
                            '{urlContactEdit}' +
                            '&contactID=' + escape(document.getElementById("delContactID").value) +
                            '&parentIDField=delContactID' +
                            '&parentDescField=delContactName',
                            'address', 'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0');
                    }
                    break;
            }
        }
        return;
    }

    function confirmOption(text) {
        return confirm('Are you sure you want to ' + text);
    }

    function checkCreation() {
        if (this.event.target.parentElement.className === 'createItem') {
            if (!confirm('Are you sure you want to create this renewal item?')) {
                this.event.preventDefault();
                return false;
            }
            this.event.target.style.color = "green";
        }
    }

    let actionSelector;
    let supplierToChangeId;
    let salutationInput;
    let introductionTextArea;
    let emailSubjectInput;
    let orderHeadIdInput;
    let toggleCheckBoxes;
    let updateSupplierName;
    let lineSelectors;
    let newLineSubmitButton;
    let newLineSubmitRecurringButton;
    let newLineOneOffSequenceNumberInput;
    let newLineRecurringSequenceNumberInput;
    let oneOffTable;
    let recurringTable;

    let requiredByDateInput;
    let tbcInput;

    document.addEventListener('DOMContentLoaded', () => {
        window.fromDate = $('#fromDate').get(0);
        window.toDate = $('#toDate').get(0);

        function updateSequenceNumbers(items, fromSequenceNo, toSequenceNo) {
            if (!items.length) {
                return;
            }
            let lowerBound = fromSequenceNo;
            let upperBound = toSequenceNo;
            if (lowerBound > upperBound) {
                upperBound = fromSequenceNo;
                lowerBound = toSequenceNo;
            }

            if (upperBound > items.length) {
                upperBound = items.length;
            }
            if (lowerBound < 0) {
                lowerBound = 0;
            }

            for (let i = lowerBound - 1; i < upperBound; i++) {
                items[i].dataset.sequenceNo = (i + 1).toString();
            }
        }

        const oneOffSortableJQuery = $('.sortableLines');
        oneOffSortableJQuery.sortable({
            axis: "y",
            tolerance: "pointer",
            containment: 'parent',
            handle: '.handle',
            update: (event, ui) => {
                const lineData = ui.item.data();
                const movingLineId = lineData.lineId;
                const fromSequenceNo = lineData.sequenceNo;
                const updatedTime = getUpdatedTimeCurrentValue();
                let swappedItem = ui.item.next();
                if (ui.position.top > ui.originalPosition.top) {
                    swappedItem = ui.item.prev();
                }
                const toSequenceNo = swappedItem.data().sequenceNo;
                const replacedLineId = swappedItem.data().lineId;
                fetch('?action=MOVE_LINE_TO_POSITION', {
                    method: 'POST',
                    body: JSON.stringify(
                        {
                            lineId: movingLineId,
                            replacedLineId,
                            updatedTime
                        }
                    )
                })
                    .then(x => x.json())
                    .then(response => {
                        if (response.status !== 'ok') {
                            throw new Error(response.message);
                        }
                        updateUpdatedTimeInput(response.updatedTime);
                        updateSequenceNumbers(ui.item.parent().children(), fromSequenceNo, toSequenceNo);
                    })
                    .catch(errorResponse => {
                        alert(errorResponse);
                        oneOffSortableJQuery.sortable('cancel');
                    })

            }
        });

        actionSelector = document.querySelector('#actionSelector');
        supplierToChangeId = document.querySelector('#updateSupplierID');
        salutationInput = document.querySelector('#salutation');
        introductionTextArea = document.querySelector('#introduction');
        emailSubjectInput = document.querySelector('#emailSubject');
        orderHeadIdInput = document.querySelector('[name="form[ordheadID]"]');
        toggleCheckBoxes = document.querySelectorAll('[name="Toggle"]');
        updateSupplierName = document.querySelector('#updateSupplierName');
        updateSupplierName.style.display = 'none';
        document.renderSupplierSearchComponent(updateSupplierName, {inputId: 'updateSupplierID', defaultText: ''})
        requiredByDateInput = document.querySelector('#requiredByDate');
        tbcInput = document.querySelector('#tbc');
        lineSelectors = document.querySelectorAll('input[type="checkbox"][name="selectedOrderLine[]"]');
        newLineSubmitButton = document.querySelector('button[name="addLine"]');
        newLineSubmitRecurringButton = document.querySelector('button[name="ordline[1][isRecurring]"]')
        oneOffTable = document.getElementById("oneOffTable");
        recurringTable = document.getElementById("recurringTable");
        newLineOneOffSequenceNumberInput = document.querySelector('input[name="oneOffSequenceNumber"]')
        newLineRecurringSequenceNumberInput = document.querySelector('input[name="recurringSequenceNumber"]')

        function handleNewLineClick() {
            newLineOneOffSequenceNumberInput.value = getOneOffLastSelectedLineCheckboxSequenceNumber();
            newLineRecurringSequenceNumberInput.value = getRecurringLastSelectedLineCheckboxSequenceNumber();
        }

        newLineSubmitButton.addEventListener('click', handleNewLineClick);
        newLineSubmitRecurringButton.addEventListener('click', handleNewLineClick);


        toggleCheckBoxes.forEach(el => {
            el.addEventListener('change', $event => {
                const parentTable = el.closest('table');
                const checkBoxes = parentTable.querySelectorAll('tbody input[type="checkbox"]');
                checkBoxes.forEach(checkBox => {
                    checkBox.checked = el.checked;
                })
            })
        })


        document.querySelectorAll('.lineItemQuantityOrdered').forEach(el => {
            el.addEventListener('input', handleQuantityChanged)
            el.addEventListener('change', handleUpdateLine);
        })

        document.querySelectorAll('.lineItemUnitCost').forEach(el => {
            el.addEventListener('input', handleUnitCostChange)
            el.addEventListener('change', handleUpdateLine);
        })
        document.querySelectorAll('.lineItemUnitSale').forEach(el => {
            el.addEventListener('input', handleUnitSaleChange)
            el.addEventListener('change', handleUpdateLine);
        })

        document.querySelectorAll('.updateItemPriceButton').forEach(el => {
            el.addEventListener('click', handleUpdateItemPrice);
        })

        document.querySelectorAll('.deleteLineButton').forEach(el => {
            el.addEventListener('click', handleDeleteLine)
        })

        function getLastSelectedLineCheckboxSequenceNumber(table) {
            const selected = table.querySelectorAll('[name="selectedOrderLine[]"]:checked');
            if (!selected.length) {
                return null;
            }
            return selected[selected.length - 1].closest('tr').dataset.sequenceNo;
        }

        function getOneOffLastSelectedLineCheckboxSequenceNumber() {
            return getLastSelectedLineCheckboxSequenceNumber(oneOffTable);
        }

        function getRecurringLastSelectedLineCheckboxSequenceNumber() {
            return getLastSelectedLineCheckboxSequenceNumber(recurringTable);
        }

        function getSelectedHTMLRows() {
            return Array.from(document.querySelectorAll('[name="selectedOrderLine[]"]:checked')).map(checkbox => {
                return checkbox.closest('tr');
            });
        }

        function getSelectedLinesIds() {
            const selectedLines = [];
            document.querySelectorAll('[name="selectedOrderLine[]"]:checked').forEach((selectedCheckbox) => {
                selectedLines.push(selectedCheckbox.value);
            });
            return selectedLines;
        }

        actionSelector.addEventListener('change', $event => {
            let updateSupplierDisplayValue = "inline-block";
            let purchaseOrderDisplayValue = 'inline-block';
            if (actionSelector.value !== 'CHANGE_SUPPLIER_FOR_LINES') {
                updateSupplierDisplayValue = 'none'
            }

            if (actionSelector.value !== 'CREATE_PURCHASE_ORDERS') {
                purchaseOrderDisplayValue = 'none';
            }

            requiredByDateInput.style.display = purchaseOrderDisplayValue;
            tbcInput.style.display = purchaseOrderDisplayValue;
            updateSupplierName.style.display = updateSupplierDisplayValue;
        })

        document.querySelector('#performActionButton').addEventListener('click', $event => {
            console.log('perform action');
            if (!actionSelector.selectedOptions.length) {
                return;
            }

            const selectedOptionText = actionSelector.selectedOptions[0].value;

            switch (selectedOptionText) {
                case 'CONVERT_TO_ORDER':
                case 'COPY_TO_ORDER': {
                    const orderHeadId = orderHeadIdInput.value;
                    const selectedLines = getSelectedLinesIds();
                    if (!selectedLines.length) {
                        alert('Please select at least 1 line to proceed');
                        return;
                    }

                    fetch('?action=' + selectedOptionText,
                        {
                            method: 'POST',
                            body: JSON.stringify(
                                {
                                    orderHeadId,
                                    selectedLines
                                }
                            )
                        }
                    )
                        .then(x => x.json())
                        .then(res => {
                            if (res.status !== 'ok') {
                                throw new Error(res.message);
                            }

                            if (res.orderHeadId !== orderHeadId) {
                                open('SalesOrder.php?action=displaySalesOrder&ordheadID=' + res.orderHeadId)
                            } else {
                                window.location.reload();
                            }
                        })
                        .catch(error => {
                            alert(error.message);
                        })

                    break;
                }
                case 'CREATE_PURCHASE_ORDERS': {
                    const orderHeadId = orderHeadIdInput.value;
                    let url = '/PurchaseOrder.php?action=generatePOs&ordheadID=' + orderHeadId;
                    const requiredByDate = requiredByDateInput.value;

                    if (requiredByDate) {
                        url += ("&requiredByDate=" + requiredByDate);
                    } else {
                        if (!tbcInput.checked) {
                            return alert("Provide a date, or check the TBC checkbox!");
                        }
                    }
                    open(url);
                    const evt = document.createEvent('HTMLEvents');
                    evt.initEvent('change', false, true);
                    actionSelector.value = 'CREATE_SIGNABLE_QUOTE';
                    actionSelector.dispatchEvent(evt);
                    actionSelector.querySelector('option[value="CREATE_PURCHASE_ORDERS"]').remove();
                    break;
                }
                case 'CREATE_SERVICE_REQUEST_FROM_ORDER': {
                    const selectedLines = getSelectedLinesIds();

                    if (!selectedLines.length) {
                        alert('Please select at least 1 line to proceed');
                        return;
                    }

                    const orderHeadId = orderHeadIdInput.value;
                    let url = '?action=CREATE_SERVICE_REQUEST_FROM_ORDER&ordheadID=' + orderHeadId;
                    url = [url, ...selectedLines.map((lineId, idx) => {
                        return 'selectedLines[' + idx + ']=' + lineId
                    })].join('&');

                    open(url, '_blank');
                    break;
                }
                case 'DELETE_LINES': {
                    const selectedLines = getSelectedLinesIds();

                    if (!selectedLines.length) {
                        alert('Please select at least 1 line to proceed');
                        return;
                    }

                    const updatedTime = getUpdatedTimeCurrentValue();

                    fetch('?action=DELETE_LINES',
                        {
                            method: 'POST',
                            body: JSON.stringify({
                                selectedLines,
                                updatedTime,
                            })
                        }
                    )
                        .then(response => response.json())
                        .then(response => {
                            if (response.status !== 'ok') {
                                throw new Error(response.message);
                            }

                            updateUpdatedTimeInput(response.updatedTime);
                            getSelectedHTMLRows().forEach(row => {
                                deleteRowAndUpdate(row);
                            })

                        })
                        .catch(error => {
                            alert(error.message);
                        })
                    break
                }

                case 'CHANGE_SUPPLIER_FOR_LINES': {
                    const selectedLines = getSelectedLinesIds();
                    const supplierId = supplierToChangeId.value;

                    if (!supplierId) {
                        alert('Please select a supplier first');
                        return;
                    }


                    if (!selectedLines.length) {
                        alert('Please select at least 1 line to proceed');
                        return;
                    }

                    fetch('?action=CHANGE_SUPPLIER_FOR_LINES',
                        {
                            method: 'POST',
                            body: JSON.stringify({
                                selectedLines,
                                supplierId
                            })
                        }
                    )
                        .then(response => response.json())
                        .then(response => {
                            if (response.status == 'error') {
                                throw new Error(response.message);
                            }
                            document.location.reload();
                        })
                        .catch(error => {
                            alert(error.message);
                        })
                    break;
                }
                case 'CREATE_MANUAL_ORDER_FORM': {
                    const orderHeadId = orderHeadIdInput.value;
                    const selectedLines = getSelectedLinesIds();

                    if (!selectedLines.length) {
                        alert('Please select at least 1 line to proceed');
                        return;
                    }

                    fetch('?action=CREATE_MANUAL_ORDER_FORM',
                        {
                            method: 'POST',
                            body: JSON.stringify({
                                selectedLines,
                                orderHeadId
                            })
                        }
                    )
                        .then(response => response.json())
                        .then(response => {
                            if (response.status == 'error') {
                                throw new Error(response.message);
                            }
                            document.location.reload();
                        })
                        .catch(error => {
                            alert(error.message);
                        })
                    break;
                }
                case 'CREATE_SIGNABLE_QUOTE': {

                    const salutation = salutationInput.value;
                    const introduction = introductionTextArea.value;
                    const emailSubject = emailSubjectInput.value;
                    const orderHeadId = orderHeadIdInput.value;

                    if (!salutation || !introduction || !emailSubject) {
                        alert('Please make sure you have set Salutation, Email Subject and Introduction before trying again');
                        return;
                    }
                    const selectedLines = getSelectedLinesIds();

                    if (!selectedLines.length) {
                        alert('Please select at least 1 line to proceed');
                        return;
                    }

                    fetch('?action=CREATE_SIGNABLE_QUOTE',
                        {
                            method: 'POST',
                            body: JSON.stringify({
                                selectedLines,
                                salutation,
                                introduction,
                                emailSubject,
                                orderHeadId
                            })
                        }
                    )
                        .then(response => response.json())
                        .then(response => {
                            if (response.status == 'error') {
                                throw new Error(response.message);
                            }
                            document.location.reload();
                        })
                        .catch(error => {
                            alert(error.message);
                        })

                    break;
                }
            }
        })

        function deleteRowAndUpdate(row) {
            updateRowCalculatedValues(row, 0, 0, 0);
            const tbody = row.parentElement;
            const currentSequenceNo = row.dataset.sequenceNo;
            row.remove();
            updateSequenceNumbers(tbody.children, currentSequenceNo, tbody.childElementCount);
        }

        function handleDeleteLine($event) {

            if (!confirm('Are you sure you want to delete this row?')) {
                return;
            }

            const target = $event.target;
            const parentRow = target.closest('tr');
            const lineId = parentRow.dataset.lineId;
            const updatedTime = getUpdatedTimeCurrentValue();

            fetch('?action=DELETE_LINE',
                {
                    method: 'POST',
                    body: JSON.stringify({
                        lineId,
                        updatedTime
                    })
                }
            )
                .then(r => r.json())
                .then(response => {
                    if (response.status !== 'ok') {
                        throw new Error(response.message);
                    }
                    updateUpdatedTimeInput(response.updatedTime);
                    deleteRowAndUpdate(parentRow);
                })
                .catch(error => {
                    alert(error);
                })
        }

        function updateUpdatedTimeInput(newValue) {
            document.querySelectorAll('input[name="updatedTime"]').forEach(el => {
                el.value = newValue;
            })

            document.querySelectorAll('.updatedTimeLink').forEach(el => {
                const [domainPart, searchParams] = el.href.split('?');
                const params = new URLSearchParams(searchParams);
                params.set('updatedTime', newValue);
                el.href = domainPart + '?' + params.toString();
            })

        }

        function getUpdatedTimeCurrentValue() {
            return document.querySelector('input[name="updatedTime"]').value;
        }

        function handleUpdateItemPrice($event) {
            const target = $event.target;
            const parentRow = target.closest('tr');
            const unitSale = parentRow.querySelector('.lineItemUnitSale').value;
            const unitCost = parentRow.querySelector('.lineItemUnitCost').value;
            const lineId = parentRow.dataset.lineId;
            fetch('?action=UPDATE_ITEM_PRICE', {
                method: 'POST',
                body: JSON.stringify({
                    lineId,
                    unitSale,
                    unitCost
                })
            })
                .then(() => {
                    alert('Price updated');
                })
                .catch(() => {
                    alert('Failed to update price');
                })
        }

        function handleUpdateLine($event) {
            const target = $event.target;
            const parentRow = target.closest('tr');
            const unitSale = parentRow.querySelector('.lineItemUnitSale').value;
            const quantity = parentRow.querySelector('.lineItemQuantityOrdered').value;
            const unitCost = parentRow.querySelector('.lineItemUnitCost').value;

            const rowOverlay = document.createElement('div');
            const trPosition = parentRow.getBoundingClientRect();
            rowOverlay.style.height = String(trPosition.height) + "px";
            rowOverlay.style.width = String(trPosition.width) + "px";
            rowOverlay.style.position = 'fixed';
            rowOverlay.style.left = String(trPosition.left) + "px";
            rowOverlay.style.top = String(trPosition.top) + "px";
            rowOverlay.style.backgroundColor = "rgba(255, 255, 255, 0.8)";
            const indicatorHolder = document.createElement('div');
            indicatorHolder.style.position = 'relative';

            const indicator = document.createElement('div');
            indicator.className = "loading";
            indicator.style.top = String(trPosition.height);
            indicatorHolder.append(indicator);
            rowOverlay.append(indicatorHolder);
            document.body.append(rowOverlay);

            fetch('?action=UPDATE_LINE_VALUES', {
                method: 'POST',
                body: JSON.stringify({
                    lineId: parentRow.dataset.lineId,
                    unitSale,
                    quantity,
                    unitCost,
                })
            })
                .catch(() => {
                    alert('Failed trying to save');
                })
                .then(() => {
                    rowOverlay.parentNode.removeChild(rowOverlay);
                    location.reload();
                })

        }

        function getCalculatedValues(quantity, unitCost, unitSale) {
            const totalCost = unitCost * quantity;
            const totalSale = unitSale * quantity;
            const profitAmount = totalSale - totalCost;
            const profitPercentage = totalCost ? profitAmount / totalCost * 100 : 0;
            return {
                totalCost,
                totalSale,
                profitAmount,
                profitPercentage
            }
        }


        function updateRowCalculatedValues(row, quantity, unitCost, unitSale) {
            const calculatedValues = getCalculatedValues(quantity, unitCost, unitSale);
            const lineItemCostTotal = row.querySelector('.lineItemCostTotal');
            if (!lineItemCostTotal) {
                return;
            }
            lineItemCostTotal.textContent = calculatedValues.totalCost.toFixed(2);
            row.querySelector('.lineItemSaleTotal').textContent = calculatedValues.totalSale.toFixed(2);
            const lineItemProfitAmount = row.querySelector('.lineItemProfitAmount');
            lineItemProfitAmount.textContent = calculatedValues.profitAmount.toFixed(2);
            if (calculatedValues.profitAmount < 0) {
                lineItemProfitAmount.classList.add('orderLineLoss');
            } else {
                lineItemProfitAmount.classList.remove('orderLineLoss');
            }
            const lineItemProfitPercentage = row.querySelector('.lineItemProfitPercentage');
            lineItemProfitPercentage.textContent = calculatedValues.profitPercentage.toFixed(2);
            if (calculatedValues.profitPercentage < 0) {
                lineItemProfitPercentage.classList.add('orderLineLoss');
            } else {
                lineItemProfitPercentage.classList.remove('orderLineLoss');
            }
            const tbody = row.closest('tbody');
            const grandTotals = Array.from(tbody.querySelectorAll('tr')).reduce((sums, tr) => {
                const lineItemQuantityOrderedInput = tr.querySelector('.lineItemQuantityOrdered');
                if (!lineItemQuantityOrderedInput) {
                    return sums;
                }
                const lineItemUnitCostInput = tr.querySelector('.lineItemUnitCost');
                const lineItemUnitSaleInput = tr.querySelector('.lineItemUnitSale');

                const lineItemCostTotal = parseFloat(lineItemUnitCostInput.value) * parseFloat(lineItemQuantityOrderedInput.value);
                const lineItemSaleTotal = parseFloat(lineItemUnitSaleInput.value) * parseFloat(lineItemQuantityOrderedInput.value);
                const profitAmount = lineItemSaleTotal - lineItemCostTotal;

                sums.costGrandTotal += lineItemCostTotal
                sums.saleGrandTotal += lineItemSaleTotal;
                sums.profitAmountGrandTotal += profitAmount
                return sums;
            }, {
                costGrandTotal: 0,
                saleGrandTotal: 0,
                profitAmountGrandTotal: 0
            })
            const footer = row.closest('table').querySelector('tfoot');
            footer.querySelector('.costGrandTotal').textContent = grandTotals.costGrandTotal.toFixed(2);
            footer.querySelector('.saleGrandTotal').textContent = grandTotals.saleGrandTotal.toFixed(2);
            footer.querySelector('.profitAmountGrandTotal').textContent = grandTotals.profitAmountGrandTotal.toFixed(2);
            footer.querySelector('.profitPctGrandTotal').textContent = (grandTotals.costGrandTotal ? grandTotals.profitAmountGrandTotal * (100 / grandTotals.costGrandTotal) : 0).toFixed(2);
        }

        //$curProfitGrandTotal * (100 / $curCostGrandTotal)
        function handleQuantityChanged($event) {
            // get the parent row
            const target = $event.target;
            const quantityValue = target.value;
            const parentRow = target.closest('tr');
            const unitCost = parentRow.querySelector('.lineItemUnitCost').value;
            const unitSale = parentRow.querySelector('.lineItemUnitSale').value;
            updateRowCalculatedValues(parentRow, quantityValue, unitCost, unitSale);
        }

        function handleUnitCostChange($event) {
            const target = $event.target;
            const unitCost = target.value;
            const parentRow = target.closest('tr');
            const quantity = parentRow.querySelector('.lineItemQuantityOrdered').value;
            const unitSale = parentRow.querySelector('.lineItemUnitSale').value;
            updateRowCalculatedValues(parentRow, quantity, unitCost, unitSale);
        }

        function handleUnitSaleChange($event) {
            const target = $event.target;
            const unitSale = target.value;
            const parentRow = target.closest('tr');
            const quantity = parentRow.querySelector('.lineItemQuantityOrdered').value;
            const unitCost = parentRow.querySelector('.lineItemUnitCost').value;
            updateRowCalculatedValues(parentRow, quantity, unitCost, unitSale);
        }
    })

</script>

{salesOrderLineEditJS} {salesOrderSiteEditJS}
{projectLink}
<div style="position: sticky; top: -1px; background: white;padding-top: 6px">
    <TABLE width="1000px"
           border="0"
           cellpadding="2"
           cellspacing="1"
    >
        <TR>
            <TD width="100px"
                class="navigateLink"
                valign="top"
            ><a href="{urlDeleteOrder}"
                onClick="if(!confirm('Are you sure you want to remove this quote?')) return(false)"
            >{txtDeleteOrder}</a>
            </TD>
            <TD width="100px"
                class="navigateLink"
                valign="top"
            ><a href="{urlPurchaseOrders}">{txtPurchaseOrders}</a>
            </TD>
            <TD width="100px"
                class="navigateLink"
                valign="top"
            ><a href="{urlInvoices}">{txtInvoices}</a>
            </TD>
            <TD width="100px"
                class="navigateLink"
                valign="top"
            ><a href="{urlDespatch}">{txtDespatch}</a>
            </TD>
            <TD width="100px"
                class="navigateLink"
                valign="top"
            > {linkServiceRequest}
            </TD>
            <TD width="100px"
                class="navigateLink"
                valign="top"
            ><a href="{urlRenewalReport}"
                target="_blank"
            >{txtRenewalReport}</a>
            </TD>
            <TD width="100px"
                class="navigateLink"
                valign="top"
            ><a href="javascript:"
                onclick="customerNotePopup()"
            >{txtCustomerNote}</a></TD>
            <TD width="100px"
                class="navigateLink"
                valign="top"
            >
            </TD>
            <TD width="100px"
                valign="top"
            >{uncSalesOrderConf}
            </TD>
        </TR>
    </table>
    <br/>
    {salesOrderHeadDisplay} {salesOrderDisplayNewLine}
    <table>
        <tbody>
        <tr>
            <td colspan="7">
                <input
                        type="hidden"
                        name="form[updateSupplierID]"
                        id="updateSupplierID"
                        value="{updateSupplierID}"
                >

                <select {readOnly}
                        id="actionSelector"
                >
                    <!-- BEGIN actionBlock -->
                    <option {SELECTED}
                            value="{action}"
                            {disabled}
                    >{actionDescription}
                    </option>
                    <!-- END actionBlock -->
                </select>
                <input
                        {fromOrdheadIDStyle}
                        type="text"
                        name="form[fromOrdheadID]"
                        id="fromOrdheadID"
                        value="{fromOrdheadID}"
                        placeholder="From Sales Order ID"
                >
                <input type="date"
                       name="requiredByDate"
                       id="requiredByDate"
                       value="{requiredByDateValue}"
                       title="Required By Date"
                       style="display: none"
                >
                <input type="checkbox"
                       id="tbc"
                       title="Date TBC"
                       style="display: none"
                >
                <div id="updateSupplierName"
                     style="padding-right: 30px"
                >
                </div>
                <button id="performActionButton"
                        {readOnly}
                        type="button"
                        class="salesOrderButton not-so-faint"
                        title="Complete selected action"
                >
                    <i class="fal fa-play fa-2x"></i>
                </button>
                <font class="formErrorMessage">{linesMessage}</font>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<h2>One Off Costs</h2>
<br/>
<table class="singleBorder sortableTable"
       width="970"
       border="0"
       id="oneOffTable"
       cellspacing="1"
       cellpadding="1"
>
    <thead>
    <tr>
        <td class="listHeadText">
            <div> &nbsp;</div>
        </td>
        <td class="listHeadText toggleColumn">
            <div>
                <input type="checkbox"
                       name="Toggle"
                >
            </div>
        </td>
        <td class="listHeadText renewalsColumn">
            <div> &nbsp;</div>
        </td>
        <td class="listHeadText showStockLevels">
            <div> In Stock</div>
        </td>
        <td class="listHeadText descriptionColumn">
            <div> Description</div>
        </td>
        <td class="listHeadText partNumberColumn">
            <div>
                Part No
            </div>
        </td>
        <td class="listHeadText supplierColumn">
            <div>
                Supplier
            </div>
        </td>
        <td class="listHeadText financialColumn">
            <DIV>
                Qty
            </DIV>
        </td>
        <td class="listHeadText financialColumn">
            <DIV>
                Cost(&pound;)
            </DIV>
        </td>
        <td class="listHeadText financialColumn">
            <DIV>
                Total(&pound;)
            </DIV>
        </td>
        <td class="listHeadText financialColumn">
            <DIV>
                Sale(&pound;)
            </DIV>
        </td>
        <td class="listHeadText financialColumn">
            <DIV>Total(&pound;)</DIV>
        </td>
        <td class="listHeadText financialColumn">
            <DIV>Profit(&pound;)</DIV>
        </td>
        <td class="listHeadText financialColumn">
            <DIV>Profit(%)</DIV>
        </td>         
        <td class="orderLineClass createPOColumn"
        >
            <div>{salesOrderDisplayCreatePO}</div>
        </td>
       
    </tr>
    </thead>
    <tbody class="sortableLines"
           style="padding-top: 5px;"
    >
    <!-- BEGIN orderLineBlock -->
    {salesOrderLine}
    <!-- END orderLineBlock -->
    </tbody>
    <tfoot>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="orderTotalItem">&nbsp;</td>
        <td class="orderTotalItem">
            <DIV align="left"> Totals</DIV>
        </td>
        <td class="orderTotalItem">&nbsp;</td>
        <td class="orderTotalItem">&nbsp;</td>
        <td class="orderTotalItem">&nbsp;</td>
        <td class="orderTotalItem">&nbsp;</td>
        <td class="{orderTotalCostClass} costGrandTotal">{curCostGrandTotal}</td>
        <td class="orderTotalItem">&nbsp;</td>
        <td class="{orderTotalSaleClass} saleGrandTotal">{curSaleGrandTotal}</td>
        <td class="{orderTotalProfitClass} profitAmountGrandTotal">{curProfitGrandTotal}</td>
        <td class="{orderTotalProfitClass} profitPctGrandTotal">{percProfitGrandTotal}</td>
        <td class="{orderTotalItem}">&nbsp;</td>
    </tr>
    </tfoot>
</table>
<h2>Recurring Costs</h2>
<br/>
<table class="singleBorder sortableTable"
       width="970"
       border="0"
       id="recurringTable"
       cellspacing="1"
       cellpadding="1"
>
    <thead>


    <tr>
        <td class="listHeadText">
            <div> &nbsp;</div>
        </td>
        <td class="listHeadText toggleColumn">
            <div>
                <input type="checkbox"
                       name="Toggle"
                >
            </div>
        </td>
        <td class="listHeadText renewalsColumn">
            <div> &nbsp;</div>
        </td>
        <td class="listHeadText showStockLevelsColumn"></td>
        <td class="listHeadText descriptionColumn">
            <div> Description</div>
        </td>
        <td class="listHeadText partNumberColumn">
            <div>
                Part No
            </div>
        </td>
        <td class="listHeadText supplierColumn">
            <div>
                Supplier
            </div>
        </td>
        <td class="listHeadText financialColumn">
            <DIV>
                Qty
            </DIV>
        </td>
        <td class="listHeadText financialColumn">
            <DIV>
                Cost(&pound;)
            </DIV>
        </td>
        <td class="listHeadText financialColumn">
            <DIV>
                Total(&pound;)
            </DIV>
        </td>
        <td class="listHeadText financialColumn">
            <DIV>
                Sale(&pound;)
            </DIV>
        </td>
        <td class="listHeadText financialColumn">
            <DIV>Total(&pound;)</DIV>
        </td>
        <td class="listHeadText financialColumn">
            <DIV>Profit(&pound;)</DIV>
        </td>
        <td class="listHeadText financialColumn">
            <DIV>Profit(%)</DIV>
        </td>
        <td class="orderLineClass createPOColumn"
        >
            <div>{salesOrderDisplayCreatePO}</div>
        </td>
    </tr>
    </thead>
    <tbody class="sortableLines">

    <!-- BEGIN recurringOrderLineBlock -->
    {salesOrderLine}
    <!-- END recurringOrderLineBlock -->
    </tbody>
    <tfoot>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="orderTotalItem">&nbsp;</td>
        <td class="orderTotalItem">&nbsp;</td>
        <td class="orderTotalItem">
            <DIV align="left"> Totals</DIV>
        </td>
        <td class="orderTotalItem">&nbsp;</td>
        <td class="orderTotalItem">&nbsp;</td>
        <td class="orderTotalItem">&nbsp;</td>
        <td class="orderTotalItem">&nbsp;</td>
        <td class="{recurringOrderTotalCostClass} costGrandTotal">{recurringCurCostGrandTotal}</td>
        <td class="orderTotalItem">&nbsp;</td>
        <td class="{recurringOrderTotalSaleClass} saleGrandTotal">{recurringCurSaleGrandTotal}</td>
        <td class="{recurringOrderTotalProfitClass} profitAmountGrandTotal">{recurringCurProfitGrandTotal}</td>
        <td class="{recurringOrderTotalProfitClass} profitPctGrandTotal">{recurringPercProfitGrandTotal}</td>
        <td class="{orderTotalItem}">&nbsp;</td>
    </tr>
    </tfoot>
</table>
<form name="quickQuoteForm"
      method="POST"
      enctype="multipart/form-data"
      action="{urlSubmitOrderLines}"
>
    <input type="hidden"
           name="form[ordheadID]"
           value="{ordheadID}"
    >
    <input type="hidden"
           name="form[ordheadID]"
           value="{ordheadID}"
    >
    {salesOrderGenerateQuotes}

</form>
{salesOrderDisplayQuotes}
<table width="700px"
       border="0"
       cellspacing="0"
       cellpadding="1"
>
    <tr>
        <form name="ordheadinv"
              method="post"
              action="{urlUpdateInvAddress}"
        >
            <INPUT type="hidden"
                   name="updatedTime"
                   value="{updatedTime}"
            >
            <td valign="top"
                class="mainHeadText"
            >
                <table class="singleBorder"
                       width="348px"
                       border="0"
                       cellspacing="1"
                       cellpadding="2"
                >
                    <tr>
                        <td valign="top"
                            class="listHeadText"
                        >
                            <div align="center">
                                Invoice Address
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top"
                            class="mainHeadText"
                        ><P class="addressLine">{invAdd1}</P>
                            <P class="addressLine">{invAdd2}</P>
                            <P class="addressLine">{invAdd3}</P>
                            <P class="addressLine">{invTown}</P>
                            <P class="addressLine">{invCounty}</P>
                            <P class="addressLine">{invPostcode}</P></td>
                    </tr>
                    <tr>
                        <td class="mainHeadText">
                            <input type="hidden"
                                   name="form[ordheadID]"
                                   value="{ordheadID}"
                            >
                            <input type="hidden"
                                   name="form[siteNo]"
                                   id="invSiteNo"
                                   value="{invSiteNo}"
                            >
                            <input
                                    type="text"
                                    name="form[invSiteDesc]"
                                    id="invSiteDesc"
                                    value="{invSiteDesc}"
                                    onKeydown="javascript:checkFunctionKey(invSiteDesc)"
                                    onChange="javascript:validateInvSiteDesc()"
                                    {readOnly}
                                    size="50"
                                    maxlength="50"
                            > <input
                                type="text"
                                name="blah"
                                style="display:none"
                        > <input
                                type="button"
                                name="SubmitInvAdd"
                                {readOnly}
                                value="Select"
                                onClick="form.submit();"
                        ></td>
                    </tr>
                </table>
            </td>
        </form>
        <form name="ordheaddel"
              method="post"
              action="{urlUpdateDelAddress}"
        >
            <INPUT type="hidden"
                   name="updatedTime"
                   value="{updatedTime}"
            >
            <td valign="top">
                <table class="singleBorder"
                       width="348px"
                       border="0"
                       cellspacing="1"
                       cellpadding="2"
                >
                    <tr>
                        <td valign="top"
                            class="listHeadText"
                        >
                            <div align="center">Delivery
                                Address
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top"
                            class="mainHeadText"
                        ><P class="addressLine">{delAdd1}</P>
                            <P class="addressLine">{delAdd2}</P>
                            <P class="addressLine">{delAdd3}</P>
                            <P class="addressLine">{delTown}</P>
                            <P class="addressLine">{delCounty}</P>
                            <P class="addressLine">{delPostcode}</P></td>
                    </tr>
                    <tr>
                        <td class="mainHeadText"><input type="hidden"
                                                        name="form[ordheadID]"
                                                        value="{ordheadID}"
                        >
                            <input type="hidden"
                                   name="form[siteNo]"
                                   id="delSiteNo"
                                   value="{delSiteNo}"
                            >
                            <input
                                    type="text"
                                    name="form[delSiteDesc]"
                                    id="delSiteDesc"
                                    value="{delSiteDesc}"
                                    {readOnly}
                                    onKeydown="javascript:checkFunctionKey(delSiteDesc)"
                                    onChange="javascript:validateDelSiteDesc()"
                                    size="50"
                                    maxlength="50"
                            > <input
                                    type="text"
                                    name="blah"
                                    style="display:none"
                            > <input type="button"
                                     name="SubmitDelAdd"
                                     value="Select"
                                     onClick="form.submit();"
                                     {readOnly}
                            >
                        </td>
                    </tr>
                </table>
            </td>
        </form>
    </tr>
</table>
<table width="700px"
       border="0"
       cellspacing="0"
       cellpadding="1"
>
    <tr>
        <td width="50%"
            class="mainHeadText"
        >
            <table class="singleBorder"
                   width="348px"
                   border="0"
                   cellspacing="1"
                   cellpadding="2"
            >
                <tr>
                    <td colspan="2"
                        valign="top"
                        class="listHeadText"
                    >
                        <div align="center">Invoice
                            Contact
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="60px"
                        class="promptText"
                    >Contact
                    </td>
                    <td width="400px"
                        class="mainHeadText"
                    >{invContact}
                    </td>
                </tr>
                <tr>
                    <td width="60px"
                        class="promptText"
                    >Email
                    </td>
                    <td class="mainHeadText"><a href="mailto:{invContactEmail}">{invContactEmail}</a></td>
                </tr>
                <tr>
                    <td width="60px"
                        class="promptText"
                    >DDI
                    </td>
                    <td class="mainHeadText"><a href="tel:{invContactPhone}">{invContactPhone}</a></td>
                </tr>
                <tr>
                    <td width="60px"
                        class="promptText"
                    >Switchboard
                    </td>
                    <td class="mainHeadText"><a href="tel:{invSitePhone}">{invSitePhone}</a></td>
                </tr>
                <tr>
                    <td width="60px"
                        class="promptText"
                    >Fax
                    </td>
                    <td class="mainHeadText">{invContactFax}</td>
                </tr>
                <tr>
                    <form name="invcon"
                          method="post"
                          action="{urlUpdateInvContact}"
                    >
                        <INPUT type="hidden"
                               name="updatedTime"
                               value="{updatedTime}"
                        >
                        <td colspan="2"
                            class="mainHeadText"
                        ><input type="hidden"
                                name="form[ordheadID]"
                                value="{ordheadID}"
                        >
                            <input type="hidden"
                                   name="form[contactID]"
                                   id="invContactID"
                                   value="{invContactID}"
                            >
                            <input
                                    type="text"
                                    name="form[invContactName]"
                                    id="invContactName"
                                    value="{invContactName}"
                                    onKeydown="javascript:checkFunctionKey(invContactName)"
                                    onChange="javascript:validateInvContactName()"
                                    {readOnly}
                                    size="50"
                                    maxlength="50"
                            > <input
                                    type="text"
                                    name="blah"
                                    style="display:none"
                            > <input type="button"
                                     name="SubmitInvContact"
                                     value="Select"
                                     onClick="form.submit();"
                                     {readOnly}
                            >
                        </td>
                    </form>
                </tr>
            </table>
        </TD>
        <td width="50%"
            class="mainHeadText"
        >
            <table class="singleBorder"
                   width="348px"
                   border="0"
                   cellspacing="1"
                   cellpadding="2"
            >
                <tr>
                    <td colspan="2"
                        valign="top"
                        class="listHeadText"
                    >
                        <div align="center">Delivery Contact</div>
                    </td>
                </tr>
                <tr>
                    <td width="60px"
                        class="promptText"
                    >Contact
                    </td>
                    <td width="400px"
                        class="mainHeadText"
                    >{delContact}
                    </td>
                </tr>
                <tr>
                    <td width="60px"
                        class="promptText"
                    >Email
                    </td>
                    <td class="mainHeadText"><a href="mailto:{delContactEmail}">{delContactEmail}</a></td>
                </tr>
                <tr>
                    <td width="60px"
                        class="promptText"
                    >DDI
                    </td>
                    <td class="mainHeadText"><a href="tel:{delContactPhone}">{delContactPhone}</a></td>
                </tr>
                <tr>
                    <td width="60px"
                        class="promptText"
                    >Switchboard
                    </td>
                    <td class="mainHeadText"><a href="tel:{delSitePhone}">{delSitePhone}</a></td>
                </tr>
                <tr>
                    <td width="60px"
                        class="promptText"
                    >Fax
                    </td>
                    <td class="mainHeadText">{delContactFax}</td>
                </tr>
                <tr>
                    <form name="delcon"
                          method="post"
                          action="{urlUpdateDelContact}"
                    >
                        <INPUT type="hidden"
                               name="updatedTime"
                               value="{updatedTime}"
                        >
                        <td colspan="2"
                            class="mainHeadText"
                        ><input type="hidden"
                                name="form[ordheadID]"
                                value="{ordheadID}"
                        >
                            <input type="hidden"
                                   name="form[contactID]"
                                   id="delContactID"
                                   value="{delContactID}"
                            >
                            <input
                                    type="text"
                                    name="form[delContactName]"
                                    id="delContactName"
                                    value="{delContactName}"
                                    onKeydown="javascript:checkFunctionKey(delContactName)"
                                    onChange="javascript:validateDelContactName()"
                                    {readOnly}
                                    size="50"
                                    maxlength="50"
                            > <input
                                    type="text"
                                    name="blah"
                                    style="display:none"
                            > <input type="button"
                                     name="SubmitDelContact"
                                     value="Select"
                                     onClick="form.submit();"
                                     {readOnly}
                            >
                        </td>
                    </form>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>{salesOrderHeadAmend}</td>
        <td>{salesOrderDisplayDocuments}</td>
    </tr>
    <tr>
        <td>{despatchDisplayNotes}</td>
        <td></td>
    </tr>
</table>
<!-- End Template: SalesOrderDisplay.inc.html -->