<!-- Template: SalesOrderHeadDisplay.inc.html -->
<table class="singleBorder" width="910px" border="0">
	<tr> 
		<td width = "60px" class="promptText">Customer</td>
		<td width = "200px" class="mainHeadText"><a href="{urlCustomerDisplay}" target="_blank">{customerName}</a></td>
		<td width = "60px" class="promptText">Order No</td>
		<td width = "80px" class="mainHeadText">{customerID}/{ordheadID}</td>
		<td class="promptText">Date Raised</td>
		<td class="mainHeadText">{date}</td>
		<td class="promptText">VAT</td>
		<td class="mainHeadText">{vat}</td>
		<td class="promptText">{markupOriginalQuote}</td>
	</tr>
</table>
<!-- End Template: SalesOrderHeadDisplay.inc.html -->
