<!-- Template: SalesOrderSearch.inc.html -->
<style>
    .salesOrderForm input[type="text"], .salesOrderForm select {
        width: 189px;
    }

    .salesOrderForm input[name="customerString"] {
        width: 250px;
    }
</style>
<script>
    function submitOnReturn() {
        if (event.keyCode == 13) {
            document.searchForm.submit();
        }
    }

    window.addEventListener('DOMContentLoaded', function () {
        $('#customerString')[0].addEventListener('autocompleteselect', function ($event) {
            $('#customerID').val($event.detail.item.value);
        })
    });

    function createQuote() {
        if (document.searchForm.customerID.value != "") {
            document.location = '{createQuoteURL}&customerID=' + escape(document.searchForm.customerID.value)
        }
    }

    function createTemplatedQuote() {
        document.location = '{createTemplatedQuoteURL}' + (document.searchForm.customerID.value ? ("&customerID=" + document.searchForm.customerID.value) : "")
    }

    function createOrder() {
        if (document.searchForm.customerID.value != "") {
            document.location = '{createOrderURL}&customerID=' + escape(document.searchForm.customerID.value)
        }
    }

    function submitOnReturn() {
        if (event.keyCode == 13) {
            document.searchForm.submit();
        }
    }

</script>
<form name="searchForm"
      method="post"
      action="{submitURL}"
      AUTOCOMPLETE="off"
>
    <table width="600px"
           border="0"
           cellspacing="0"
           cellpadding="1"
           class="salesOrderForm"
    >
        <tr>
            <td width="100px"
                class="promptText"
            >
                <div align="right">Customer</div>
            </td>
            <td>
                <input
                        type="hidden"
                        name="customerID"
                        id="customerID"
                        value="{customerID}"
                >
                <input type="text"
                       name="customerString"
                       id="customerString"
                       value="{customerString}"
                       size="50"
                       maxlength="50"
                       customer-search
                > <font class="formErrorMessage"> {customerStringMessage} </font></td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Order Number</div>
            </td>
            <td>
                <input type="text"

                       onKeypress="javascript:submitOnReturn()"
                       name="form[ordheadID]"
                       value="{ordheadID}"
                > <font class="formErrorMessage"> {ordheadIDMessage} </font></td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Order Type</div>
            </td>
            <td><select name="form[orderType]">
                <option value=""></option>
                {orderTypeSelector}
                onFocus="closeCalendar()"
            </select></td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Quotation User</div>
            </td>
            <td><select name="form[quotationUserID]">
                <option value="">All Users</option>
                {userSelector}
            </select></td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Customer PO Ref</div>
            </td>
            <td>
                <input type="text"
                       name="form[custPORef]"
                       id="custPORef"
                       value="{custPORef}"
                       size="23"
                       maxlength="23"
                       onKeypress="javascript:submitOnReturn()"
                ></td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Search</div>
            </td>
            <td><input
                    type="text"
                    name="form[lineText]"
                    value="{lineText}"
                    size="50"
                    maxlength="50"
                    onKeypress="javascript:submitOnReturn()"
            ></td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">Start Date</div>
            </td>
            <td>
                <input type="date"
                       name="form[fromDate]"
                       id="fromDate"
                       value="{fromDate}"
                       size="10"
                       maxlength="10"
                       onKeypress="javascript:submitOnReturn()"
                       autocomplete="off"
                >
                <font class="formErrorMessage">{fromDateMessage}</font></td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">End Date</div>
            </td>
            <td>
                <input type="date"
                       name="form[toDate]"
                       id="toDate"
                       value="{toDate}"
                       size="10"
                       maxlength="10"
                       onKeypress="javascript:submitOnReturn()"
                       autocomplete="off"
                >
                <font class="formErrorMessage">{toDateMessage}</font></td>
        </tr>
    </table>
    <input type="button"
           name="Search"
           value="Search"
           onClick="submit();"
    >
    <input type="button"
           name="CreateQuote"
           value="New Manual Quote"
           onClick="createQuote();"
    >
    <input type="button"
           name="TemplatedQuote"
           value="New Templated Quote"
           onClick="createTemplatedQuote();"
    >
    <input type="button"
           name="CreateOrder"
           value="New Order"
           onClick="createOrder();"
    >
    <input type="button"
           name="Clear"
           value="Clear"
           onClick="document.location='{clearURL}'"
    >
</form>
<table width="900"
       border="0"
       cellpadding="1"
       cellspacing="1"
       class="singleBorder"
>
    <tr>
        <td width="127"
            class="listHeadText"
        >Customer
        </td>
        <td width="101"
            class="listHeadText"
        >Order No
        </td>
        <td width="99"
            class="listHeadText"
        >Type
        </td>
        <td width="97"
            class="listHeadText"
        >Date Raised
        </td>
        <td width="120"
            class="listHeadText"
        >Date Last Quoted
        </td>
        <td width="101"
            class="listHeadText"
        >Cust PO Ref
        </td>
        <td width="570"
            class="listHeadText"
        >First Comment
        </td>
    </tr>
    <!-- BEGIN orderBlock -->
    <!--	<tr onMouseOver="this.bgColor='#FFFFCC';" onMouseOut="this.bgColor='';">  -->
    <tr style="background-color: white"
        onmousedown="setPointer(this, {rowNum}, 'click', '#FFFFFF', '#FFFFCC', '#FFCC99');"
        onmouseover="setPointer(this, {rowNum}, 'over', '#FFFFFF', '#FFFFCC', '#FFCC99');"
        onmouseout="setPointer(this, {rowNum}, 'out', '#FFFFFF', '#FFFFCC', '#FFCC99');"
    >
        <td nowrap
            class="listItemText"
        >{listCustomerLink}
        </td>
        <td class="listItemText"><A HREF="{listOrderURL}"
                                    target="_blank"
        >{listOrdheadID}</A></td>
        <td class="listItemText">{listOrderType}</td>
        <td class="listItemText">{listOrderDate}</td>
        <td class="listItemText">{listOrderLastQuotedDate}</td>
        <td class="listItemText">{listCustPORef}</td>
        <td class="listItemText">{firstComment}</td>
    </tr>
    <!-- END orderBlock -->
</table>
<!-- End Template: SalesOrderSearch.inc.html -->