<!-- Template: SalesOrderLineEdit.inc.html -->
<script language='JavaScript'
        src="CommonJS.js"
></script>
{salesOrderLineEditJS}
{salesOrderHeadDisplay}
<!-- NOTE: This is also in salesOrderDisplay.inc.html -->
<script>
    let partNumberRow;
    let itemIdInput;
    document.addEventListener('DOMContentLoaded', () => {
        itemIdInput = document.getElementById('itemID');
        itemIdInput.addEventListener('change', ($event) => {
            updatePartNumber();
        })
        partNumberRow = document.getElementById('partNumberRow');
        updatePartNumber();
    })

    async function updatePartNumber() {
        const itemId = itemIdInput.value;
        let display = 'none';
        let text = '';
        if (itemId) {
            const response = await fetch('/Item.php?action=GET_ITEM&itemId=' + itemId);
            const r = await response.json();
            display = 'table-row';
            text = r.data.partNo;
        }
        partNumberRow.style.display = display;
        partNumberRow.querySelector('.field').textContent = text;
    }

    function checkFunctionKey(field) {
        if (event.keyCode == 120) {			// F9 - edit
            switch (field.id) {
                case "itemDescription":
                    if (document.getElementById("itemID").value != "0") {
                        window.open(
                            '{urlItemEdit}&itemID=' +
                            escape(document.getElementById("itemID").value) +
                            '&parentIDField=itemID' +
                            '&parentDescField=itemDescription',
                            'item',
                            'scrollbars=yes,resizable=yes,width=610,height=550,copyhistory=no, menubar=0'
                        );
                    }
                    break;
                case "supplierName":
                    if (document.getElementById("supplierID").value != "0") {
                        window.open('{urlSupplierEdit}&supplierID=' +
                            escape(document.getElementById("supplierID").value),
                            'suppliers',
                            'scrollbars=yes,resizable=no,height=400,width=450,copyhistory=no, menubar=0');
                    }
                    break;
            }
        }
        return;
    }

    function itemIdChanged($event) {
        console.log($event.target.value);
    }
</SCRIPT>
<table width="910px"
       border="0"
>
    <tr>
        <td colspan="2"
            valign="top"
            class="listHeadText"
        >
            <div align="center">Order Line</div>
        </td>
    </tr>
</table>
<form name="ordline"
      method="post"
      action="{urlSubmit}"
      AUTOCOMPLETE="off"
>
    <INPUT type="hidden"
           name="updatedTime"
           value="{updatedTime}"
    >
    <input type="hidden"
           name="ordline[1][id]"
           value="{lineId}"
    >
    <input type="hidden"
           name="ordline[1][ordheadID]"
           value="{ordheadID}"
    >
    <input type="hidden"
           name="ordline[1][itemID]"
           id="itemID"
           value="{itemID}"
    >
    <input type="hidden"
           name="ordline[1][sequenceNo]"
           value="{sequenceNo}"
    >
    <input type="hidden"
           name="ordline[1][supplierID]"
           value="{supplierID}"
           id="supplierID"
    >
    <input type="hidden"
           name="ordline[1][renewalCustomerItemID]"
           value="{renewalCustomerItemID}"
    >
    <input type="hidden"
           name="ordline[1][isRecurring]"
           value="{isRecurring}"
    />
    <table width="500px"
           border="0"
           cellspacing="0"
           cellpadding="3"
    >
        <tr>
            <td class="promptText">Line Type</td>
            <td class="field">
                <select {lineTypeReadOnly}
                        type="text"
                        id="lineType"
                        name="ordline[1][lineType]"
                >
                    <!-- BEGIN lineTypeBlock -->
                    <option {lineTypeSelected}
                            value="{lineType}"
                    >{lineTypeDesc}
                    </option>
                    <!-- END lineTypeBlock -->
                </select>
            </td>
        </tr>
        <tr>
            <td class="promptText">Item</td>
            <td class="field">
                <input type="text"
                       name="ordline[1][description]"
                       id="itemDescription"
                       value="{description}"
                       onChange="javascript:validateItemDescription()"
                       onKeydown="javascript:checkFunctionKey(itemDescription)"
                       size="70"
                       maxlength="70"
                >
                <font class="formErrorMessage">{descriptionMessage}</font>
            </td>
        </tr>
        <tr id="partNumberRow"
            style="display: none"
        >
            <td class="promptText">Part Number</td>
            <td class="field">

            </td>
        </tr>
        <tr>
            <td class="promptText">Supplier</td>
            <td class="field">
                <div id="reactSupplierSearchContainer"
                     data-input-id="supplierID"
                ></div>
            </td>
        </tr>
        <tr>
            <td class="promptText">Quantity</td>
            <td class="field">
                <input
                        type="text"
                        name="ordline[1][qtyOrdered]"
                        id="qtyOrdered"
                        value="{qtyOrdered}"
                        onKeypress="javascript:submitOnReturn()"
                        align="right"
                        size="10"
                        maxlength="10"
                >
                <font class="formErrorMessage">{qtyOrderedMessage}</font>
            </td>
        </tr>
        <tr>
            <td class="promptText">Cost Price</td>
            <td class="field">
                <input
                        type="text"
                        name="ordline[1][curUnitCost]"
                        id="curUnitCost"
                        value="{curUnitCost}"
                        onKeypress="javascript:submitOnReturn()"
                        size="10"
                        align="right"
                        maxlength="10"
                >
                <font class="formErrorMessage">{curUnitCostMessage}</font>
            </td>
        </tr>
        <tr>
            <td class="promptText">Sale Price</td>
            <td class="field">
                <input
                        type="text"
                        name="ordline[1][curUnitSale]"
                        value="{curUnitSale}"
                        align="right"
                        onKeypress="javascript:submitOnReturn()"
                        size="10"
                        maxlength="10"
                >
                <font class="formErrorMessage">{curUnitSaleMessage}</font>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="button"
                       name="Submit"
                       value="Submit"
                       onClick="submit();"
                >
                <input type="button"
                       name="Cancel"
                       value="Cancel"
                       onClick="document.location='{urlCancel}';"
                >
                <input type="reset"
                       name="Reset"
                       value="Reset"
                >
            </td>
        </tr>
    </table>
</form>
<!-- End Template: SalesOrderLineEdit.inc.html -->
