<!-- Template: SalesOrderDisplayCreatePO.inc.html -->
<script>


</script>
<button type="button"
        name="createPO"
        value="Create POs"
        onclick="goToCreatePO()"
        class="salesOrderButton not-so-faint"
>
    <i class="fal fa-layer-plus fa-2x"></i>
</button>
<div>
    <span>Required By</span>
    <input type="date"
           name="requiredByDate"
           id="requiredByDate"
           value="{requiredByDateValue}"
    >
</div>
<div>
    <span>Date TBC</span>
    <input type="checkbox"
           id="tbc"
    >
</div>
<!-- End Template: SalesOrderDisplayCreatePO.inc.html -->
