<!-- Template: SalesOrderVisitEmail.inc.html -->
<script type="application/javascript">
    $(function () {
        window.etaDate = $('#etaDate').get(0);
    });
</script>
<form name="inputForm"
      method="post"
      action="{urlSubmit}"
>
    <table>

        <tr>
            <td>ETA Date</td>
            <td>
                <input type="date"
                       name="inputForm[etaDate]"
                       id="etaDate"
                       value="{etaDate}"
                       autocomplete="off"
                >
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <fieldset>
                    <legend>Billing</legend>
                    Pre-pay<input type="radio"
                                  name="inputForm[billing]"
                                  value="PP"
                >
                    Sales Order<input type="radio"
                                      name="inputForm[billing]"
                                      value="SO"
                >
                    T & M<input type="radio"
                                name="inputForm[billing]"
                                value="TM"
                >
                </fieldset>
            </td>
        </tr>
        <tr>
            <td colspan="2">Notes</td>
        </tr>
        <tr>
            <td colspan="2"><textarea rows="20"
                                      cols="60"
                                      name="inputForm[text]"
            ></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit"
                                   name="Submit"
                                   value="Send"
            />
            </td>
        </tr>
    </table>
</form>
<!-- End Template: SalesOrderVisitEmail.inc.html -->