<!-- Template: SalesOrderDisplayCreatePO.inc.html -->
<script>

    function goToCreatePO() {

        let url = '{urlCreatePO}';

        const requiredByDate = $('#requiredByDate').val();

        const tbcInput = document.getElementById('tbc');

        if (requiredByDate) {
            url += ("&requiredByDate=" + requiredByDate);
        } else {
            if (!tbcInput.checked) {
                return alert("Provide a date, or check the TBC checkbox!");
            }
        }
        document.location = url;
    }
</script>
<input type="button"
       name="createPO"
       value="Create POs"
       onclick="goToCreatePO()"
>
<label>
    <span>Required By</span>
    <input type="date"
           name="requiredByDate"
           id="requiredByDate"
           value="{requiredByDateValue}"
    >
    Date TBC
    <input type="checkbox"
           id="tbc"
    >
</label>
<!-- End Template: SalesOrderDisplayCreatePO.inc.html -->
