<script language='JavaScript'>
    function validateItemDescription() {
        if (document.getElementById("lineType").value === "I") {
            if (Trim(document.getElementById("itemDescription").value) != "") {
                window.open('{urlItemPopup}&itemDescription=' +
                    escape(encodeURIComponent(document.getElementById("itemDescription").value)) +
                    '&parentIDField=itemID' +
                    '&parentDescField=itemDescription',
                    'items', 'scrollbars=yes,resizable=no,width=610,height=560,copyhistory=no, menubar=0')
            }
        }

        if (document.getElementById('lineType').value === 'T') {
            if (Trim(document.getElementById("itemDescription").value)) {
                window.open('quoteTemplates.php?action=dispTemplateQuotationPopup&htmlFmt=popup&description=' +
                    escape(encodeURIComponent(document.getElementById("itemDescription").value)) +
                    '&parentLinkedSalesOrderField=itemID' +
                    '&parentDescField=itemDescription',
                    'Quotation Templates', 'scrollbars=yes,resizable=no,width=610,height=560,copyhistory=no, menubar=0')
            }
        }
    }

    function submitOnReturn() {
        if (event.keyCode == 13) {
            document.ordline.submit();
        }
    }
</script>