<!-- Template: SalesOrderCommentLine.inc.html -->
<tr onMouseOver="this.bgColor='#FFFFCC';"
    onMouseOut="this.bgColor='';"
    data-line-id="{lineId}"
    data-sequence-no="{sequenceNo}"
    data-line-type="{lineType}"
    data-stock-link="{stockInChannelLink}"
>
    <td class="orderLineItem handle salesOrderButton">
        <i class="fal fa-sort fa-2x"></i>
    </td>
    <td class="orderLineComment">
        <INPUT type="hidden"
               name="ordline[{lineId}][lineType]"
               value="{lineType}"
        >
        <input type="checkbox"
               name="selectedOrderLine[]"
               value="{lineId}"
               {orderLineChecked}
        >
        <INPUT type="hidden"
               name="ordline[{lineId}][sequenceNo]"
               value="{sequenceNo}"
        >
        <INPUT type="hidden"
               name="ordline[{lineId}][id]"
               value="{lineId}"
        >
    </td>
    <td class="orderLineComment">&nbsp;</td>
    <td class="orderLineComment">&nbsp;</td>
    <td class="orderLineComment">
        <DIV align="left"> {salesOrderLineDesc}</DIV>
    </td>
    <td class="orderLineComment">&nbsp;</td>
    <td class="orderLineComment">&nbsp;</td>
    <td class="orderLineComment">&nbsp;</td>
    <td class="orderLineComment">&nbsp;</td>
    <td class="orderLineComment">&nbsp;</td>
    <td class="orderLineComment">&nbsp;</td>
    <td class="orderLineComment">&nbsp;</td>
    <td class="orderLineComment">&nbsp;</td>
    <td class="orderLineComment">&nbsp;</td>
    <td class="orderLineComment">
        <DIV align="left"> {salesOrderLineIcons}</DIV>
    </td>
</tr>
<!-- End Template: SalesOrderCommentLine.inc.html -->