<!-- Template: SalesOrderItemLine.inc.html -->
<tr onMouseOver="this.bgColor='#FFFFCC';"
    onMouseOut="this.bgColor='';"
    data-line-id="{lineId}"
    data-sequence-no="{sequenceNo}"
    data-line-type="{lineType}"
    data-item-id="{itemId}"
    data-supplier-id="{supplierId}"
    data-item-updated-by="{itemUpdatedBy}"
    data-item-updated-at="{itemUpdatedAt}"
    data-item-cost="{itemCost}"
    data-item-sale="{itemSale}"
    data-show-stock="{showStock}"
    data-amount-in-stock="{amountInStock}"
    data-stock-link ="{stockInChannelLink}"
>
    <td class="orderLineItem handle salesOrderButton">
        <i class="fal fa-sort fa-2x"></i>
    </td>
    <td class="orderLineItem">
        <input type="checkbox"
               name="selectedOrderLine[]"
               value="{lineId}"
               {orderLineChecked}
        >
        <INPUT type="hidden"
               name="ordline[{lineId}][lineType]"
               value="{lineType}"
        >
        <INPUT type="hidden"
               name="ordline[{lineId}][description]"
               value="{description}"
        >
        <INPUT type="hidden"
               name="ordline[{lineId}][sequenceNo]"
               value="{sequenceNo}"
        >
        <INPUT type="hidden"
               name="ordline[{lineId}][id]"
               value="{lineId}"
        >
    </td>
    <td class="orderLineItem">{renewalIcon}</td>
    <td class="orderLineItem stock-level-container">
  {showStockLevels}
    </td>
    <td class="orderLineItem">
        <DIV align="left">{salesOrderLineDesc}</DIV>
    </td>
    <td class="orderLineItem">
        <DIV align="left"> {partNo}</DIV>
    </td>
    <td class="orderLineItem" >
        <DIV align="left" class="supplier-name"> {lineSupplierName}</DIV>
    </td>
    <td class="orderLineItem">
        <INPUT {readOnly}
               type="number"
               name="ordline[{lineId}][qtyOrdered]"
               value="{qtyOrdered}"
               size="3"
               class="lineItemQuantityOrdered salesSizeBox"
        >
        <input type="hidden" class="showStockLevelslink" value="{showStockLevels}">
        <input type="hidden" class="ssQuntity" value="{ssQuntity}">
    </td>
    <td class="orderLineItem">
        <INPUT {readOnly}
               type="number"
               name="ordline[{lineId}][curUnitCost]"
               value="{curUnitCost}"
               size="3"
               class="lineItemUnitCost salesSizeBox"
        >
    </td>
    <td class="orderLineItem lineItemCostTotal">{curCostTotal}</td>
    <td class="orderLineItem">
        <INPUT {readOnly}
               type="number"
               name="ordline[{lineId}][curUnitSale]"
               value="{curUnitSale}"
               size="3"
               class="lineItemUnitSale salesSizeBox"
        >
    </td>
    <td class="orderLineItem lineItemSaleTotal">{curSaleTotal}</td>
    <td class="{orderLineProfitClass} lineItemProfitAmount">{curProfit}</td>
    <td class="{orderLineProfitClass} lineItemProfitPercentage">{percProfit}</td>
    <td class="orderLineItem">
        <DIV align="left"> {salesOrderLineIcons}</DIV>
    </td>
</tr>
<!-- End Template: SalesOrderItemLine.inc.html -->
