<!-- Template: SalesOrderGenerateQuotes.inc.html -->
<BR/>
<script>

    function changeText() {
        $('#introduction').val(atob($(event.target).val()));
    }
</script>
<table width="650px"
       border="0"
       cellspacing="1"
       cellpadding="0"

>
    <tr>
        <td width="100%"
            valign="top"
        >
            <table class="singleBorder"
                   width="100%"
                   border="0"
                   cellspacing="2"
                   cellpadding="0"
            >
                <font class="formErrorMessage">{userMessage}</font>
                <tr>
                    <td colspan="3"
                        valign="top"
                        class="listHeadText"
                    >
                        <div align="center">Quick Quote Parameters</div>
                    </td>
                </tr>
                <tr>
                    <td class="promptText">
                        <div align="right">Salutation</div>
                    </td>
                    <td colspan="2"
                        valign="middle"
                        class="field"
                    >
                        <input type="text"
                               name="form[salutation]"
                               value="{salutation}"
                               maxlength="40"
                               size="40"
                        ><font class="formErrorMessage">{salutationMessage}</font>
                    </td>
                </tr>
                <tr>
                    <td class="promptText">
                        <div align="right">Email subject</div>
                    </td>
                    <td>
                        <input type="text"
                               name="form[emailSubject]"
                               value="{emailSubject}"
                               maxlength="60"
                               size="70"
                               id="emailSubject"
                        >
                    </td>
                </tr>
                <tr>
                    <td class="promptText">
                        <div align="right">Quote Introduction</div>
                    </td>
                    <td>
                        <textarea name="form[introduction]"
                                  id="introduction"
                                  cols="80"
                                  rows="3"
                        >{introduction}</textarea><font class="formErrorMessage">{introductionMessage}</font>
                    </td>
                </tr>
                <tr>
                    <td class="promptText">
                        <div align="right">Quote Introduction Text</div>
                    </td>
                    <td>
                        <select onchange="changeText()">
                            <!-- BEGIN quickQuoteTextBlock -->
                            <option {quickQuoteTextSelected}
                                    value="{quickQuoteTextValue}"
                            >{quickQuoteTextDescription}
                            </option>
                            <!-- END quickQuoteTextBlock -->
                        </select>
                    </td>
                </tr>

                </form>
            </table>
        </td>
    </tr>
    <tr>
        <td width="50%"
            valign="top"
        >
            <table class="singleBorder"
                   width="100%"
                   border="0"
                   cellspacing="2"
                   cellpadding="0"
            >
                <!-- </table> -->
                <form name="manualQuoteForm"
                      method="POST"
                      enctype="multipart/form-data"
                      action="{uploadQuoteDocURL}"
                >
                    <input type="hidden"
                           name="form[ordheadID]"
                           value="{ordheadID}"
                    >
                    <!-- <table width="455px" border="0" cellspacing="2" cellpadding="0"> -->
                    <tr>
                        <td colspan="4"
                            valign="top"
                            class="listHeadText"
                        >
                            <div align="center">
                                Upload Manual Quote
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td class="promptText">File</td>
                        <td valign="middle"
                            class="field"
                        ><input type="file"
                                name="quoteFile"
                                size="50"
                                maxlength="50"
                        >
                            <font class="formErrorMessage">{quoteFileMessage}</font>
                        </td>
                        <td><input type="submit"
                                   name="Upload"
                                   value="Upload"
                        ></td>
                        <td valign="middle"
                            class="field"
                        >&nbsp;
                        </td>
                    </tr>
                </form>
            </table>
        </td>
        <td width="50%">
            <script>
                function toggleMonitor() {
                    const toggleURL = new URL(location.href);
                    toggleURL.searchParams.append('action', 'toggleSOMonitor');
                    toggleURL.searchParams.append('salesOrderId', {ordheadID});
                    fetch(toggleURL.toString())
                }
            </script>

            <table class="singleBorder"
                   width="100%"
                   border="0"
                   cellspacing="2"
                   cellpadding="0"
            >

                <tr>
                    <td valign="top"
                        class="listHeadText"
                    >
                        <div align="center"
                             style="white-space: nowrap"
                        >
                            Monitor This Sales Order
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>
                        <input name="monitor"
                               type="checkbox"
                               {monitorChecked}
                               onchange="toggleMonitor()"
                        >
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- End Template: SalesOrderGenerateQuotes.inc.html -->
