<!-- Template: SalesOrderLineEdit.inc.html -->
<script language='JavaScript'
        src="CommonJS.js"
></script>
{salesOrderLineEditJS}
{salesOrderHeadDisplay}
<!-- NOTE: This is also in salesOrderDisplay.inc.html -->
<script>
    let partNumberRow;
    let itemIdInput;
    let lineTypeSelectorElement;
    let itemDescriptionInput;
    let qtyOrderedInput;
    let curUnitCostInput;
    let curUnitSaleInput
    let reactSupplierContainer;
    let supplierIDElement;
    let isReactElementRendered = false;
    let hookedListeners = false;
    let itemSearchRowElement;
    let autocompleteItemElement;
    let itemDescriptionLabelElement;
    let itemDescription = {itemDescription}

    document.addEventListener('beforeunload', () => {
        window.opener.location.reload();
    })
    document.addEventListener('DOMContentLoaded', () => {
        reactSupplierContainer = document.getElementById('reactSupplierSearchContainer');
        supplierIDElement = document.getElementById('supplierID');
        lineTypeSelectorElement = document.getElementById('lineType');
        itemSearchRowElement = document.getElementById('itemSearchRow');
        autocompleteItemElement = document.getElementById('autocompleteItem');
        itemDescriptionLabelElement = document.getElementById('itemDescriptionLabel');
        itemDescriptionInput = document.getElementById("itemDescription");
        qtyOrderedInput = document.getElementById("qtyOrdered");
        curUnitCostInput = document.getElementById("curUnitCost");
        curUnitSaleInput = document.querySelector("input[name='ordline[1][curUnitSale]']");


        let props = {
            autocompleteSelectedCallBack: (selectedItem) => {
                props.value = selectedItem.label;
                itemIdInput.value = selectedItem.value;
                curUnitCostInput.value = selectedItem.curUnitCost;
                curUnitSaleInput.value = selectedItem.curUnitSale;
                itemDescriptionInput.value = selectedItem.label;
                updatePartNumber(selectedItem.partNumber);
                document.renderTypeAheadComponent(props, autocompleteItemElement)
                if (selectedItem.supplierId) {
                    supplierIDElement.value = selectedItem.supplierId;
                }
                checkInputs();
            },
            searchRequest: (term, itemsToShow, responseCB) => {
                fetch(
                        '/Item.php?action=SEARCH_ITEMS_JSON',
                        {
                            method: 'POST',
                            body: JSON.stringify({term: props.value, limit: itemsToShow + 1})
                        }
                )
                        .then(x => x.json())
                        .then(response => {
                            if (response.status !== 'ok') {
                                throw new Error(response.message);
                            }

                            responseCB(response.data.map(x => ({
                                label: x.description,
                                value: x.itemID,
                                curUnitCost: x.curUnitCost,
                                curUnitSale: x.curUnitSale,
                                supplierId: x.supplierId,
                                partNumber: x.partNo
                            })))
                        })
            },
            value: itemDescription,
            onInputChange: (value) => {
                props.value = value;
                document.renderTypeAheadComponent(props, autocompleteItemElement)
            },
            readOnly: false,
            showClear: false,
        }

        document.renderTypeAheadComponent(props, autocompleteItemElement);
        partNumberRow = document.getElementById('partNumberRow');
        updatePartNumber();
        checkInputs();
    })

    function clearSupplier() {
        supplierIDElement.value = "";
        checkInputs();
    }

    async function updatePartNumber(partNumber) {
        let display = 'none';
        let text = '';
        if (partNumber) {
            display = 'table-row';
            text = partNumber;
        }
        partNumberRow.style.display = display;
        partNumberRow.querySelector('.field').textContent = text;
    }

    function checkInputs() {
        const lineType = lineTypeSelectorElement.value;

        if (lineType === 'I') {
            qtyOrderedInput.disabled = false;
            curUnitCostInput.disabled = false;
            curUnitSaleInput.disabled = false;
            itemSearchRowElement.style.display = 'table-row';
            itemDescriptionLabelElement.textContent = "Description";
            document.renderSupplierSearchComponent(reactSupplierContainer, {
                inputId: 'supplierID',
                supplierId: Number(supplierIDElement.value)
            })
            isReactElementRendered = true;
        } else {
            itemSearchRowElement.style.display = 'none';
            itemDescriptionLabelElement.textContent = "Comment";
            if (isReactElementRendered) {
                document.unmountComponentAtNode(reactSupplierContainer);
                isReactElementRendered = false;
            }
            qtyOrderedInput.disabled = true;
            curUnitCostInput.disabled = true;
            curUnitSaleInput.disabled = true;
        }
    }

    function validate() {
        if (lineTypeSelectorElement.value == "I") {
            if (!supplierIDElement.value) {
                alert("Please Select Supplier");
                return false;
            }
            if (!qtyOrderedInput.value) {
                alert("Please Enter Quantity")
                return false;
            }
        }
        return true;
    }
</SCRIPT>
<table width="910px"
       border="0"
>
    <tr>
        <td colspan="2"
            valign="top"
            class="listHeadText"
        >
            <div align="center">Order Line</div>
        </td>
    </tr>
</table>
<form name="ordline"
      method="post"
      action="{urlSubmit}"
      AUTOCOMPLETE="off"
>
    <INPUT type="hidden"
           name="updatedTime"
           value="{updatedTime}"
    >
    <input type="hidden"
           name="ordline[1][id]"
           value="{lineId}"
    >
    <input type="hidden"
           name="ordline[1][ordheadID]"
           value="{ordheadID}"
    >
    <input type="hidden"
           name="ordline[1][itemID]"
           id="itemID"
           value="{itemID}"
    >
    <input type="hidden"
           name="ordline[1][sequenceNo]"
           value="{sequenceNo}"
    >
    <input type="hidden"
           name="ordline[1][supplierID]"
           value="{supplierID}"
           id="supplierID"
    >
    <input type="hidden"
           name="ordline[1][renewalCustomerItemID]"
           value="{renewalCustomerItemID}"
    >
    <input type="hidden"
           name="ordline[1][isRecurring]"
           value="{isRecurring}"
    />
    <input type="hidden"
           name="isPopup"
           value="{isPopup}"
    >
    <table width="500px"
           border="0"
           cellspacing="0"
           cellpadding="3"
    >
        <tr>
            <td class="promptText">Line Type</td>
            <td class="field">
                <select {lineTypeReadOnly}
                        type="text"
                        id="lineType"
                        name="ordline[1][lineType]"
                        onchange="checkInputs()"
                >
                    <!-- BEGIN lineTypeBlock -->
                    <option {lineTypeSelected}
                            value="{lineType}"
                    >{lineTypeDesc}
                    </option>
                    <!-- END lineTypeBlock -->
                </select>
            </td>
        </tr>
        <tr id="itemSearchRow"
            style="display: none"
        >
            <td class="promptText">Selected Item</td>
            <td class="field">
                <div id="autocompleteItem"></div>
            </td>
        </tr>
        <tr>
            <td class="promptText"
                id="itemDescriptionLabel"
            >Item
            </td>
            <td class="field">
                <input type="text"
                       name="ordline[1][description]"
                       id="itemDescription"
                       value="{description}"
                       size="70"
                       maxlength="70"
                >
                <font class="formErrorMessage">{descriptionMessage}</font>
            </td>
        </tr>

        <tr id="partNumberRow"
            style="display: none"
        >
            <td class="promptText">Part Number</td>
            <td class="field">

            </td>
        </tr>
        <tr>
            <td class="promptText">Supplier</td>
            <td class="field">
                <div id="reactSupplierSearchContainer"></div>
            </td>
        </tr>
        <tr>
            <td class="promptText">Quantity</td>
            <td class="field">
                <input
                        type="text"
                        name="ordline[1][qtyOrdered]"
                        id="qtyOrdered"
                        value="{qtyOrdered}"
                        onKeypress="javascript:submitOnReturn()"
                        align="right"
                        size="10"
                        maxlength="10"
                >
                <font class="formErrorMessage">{qtyOrderedMessage}</font>
            </td>
        </tr>
        <tr>
            <td class="promptText">Cost Price</td>
            <td class="field">
                <input
                        type="text"
                        name="ordline[1][curUnitCost]"
                        id="curUnitCost"
                        value="{curUnitCost}"
                        onKeypress="javascript:submitOnReturn()"
                        size="10"
                        align="right"
                        maxlength="10"
                >
                <font class="formErrorMessage">{curUnitCostMessage}</font>
            </td>
        </tr>
        <tr>
            <td class="promptText">Sale Price</td>
            <td class="field">
                <input
                        id="curUnitSale"
                        type="text"
                        name="ordline[1][curUnitSale]"
                        value="{curUnitSale}"
                        align="right"
                        onKeypress="javascript:submitOnReturn()"
                        size="10"
                        maxlength="10"
                >
                <font class="formErrorMessage">{curUnitSaleMessage}</font>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="button"
                       name="Submit"
                       value="Submit"
                       onClick="validate()&&submit();"
                >
                <input type="button"
                       name="Cancel"
                       value="Cancel"
                       onClick="window.close();"
                >
                <input type="reset"
                       name="Reset"
                       value="Reset"
                >
            </td>
        </tr>
    </table>
</form>
<!-- End Template: SalesOrderLineEdit.inc.html -->
