<table class="oddRows">
    <thead>
    <tr>
        <th>
            Customer Name
        </th>
        <th>
            SR Link
        </th>
        <th>
            Sales Request
        </th>
        <th>
            Requested By
        </th>
        <th>
            Requested Date & Time
        </th>
        <th>
            Attachments
        </th>
        <th>
            Type
        </th>
        <th>

        </th>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN SalesRequestsBlock -->
    <tr class="topAlign">
        <td>
            {customerName}
        </td>
        <td>
            {srLink}
        </td>
        <td>
            {salesRequest}
        </td>
        <td>
            {requestedBy}
        </td>
        <td>
            {requestedDateTime}
        </td>
        <td>
            {attachments}
        </td>
        <td>{type}</td>
        <td>
            {processCRLink}
        </td>
    </tr>
    <!-- END SalesRequestsBlock -->
    </tbody>
</table>