<!-- Begin template: ScreenSales.inc.html -->
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <STRONG>Sales</STRONG>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <a href="SalesOrder.php">Sales Orders</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <a href="PurchaseOrder.php">Purchase Orders</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <a href="Customer.php">Customer Search</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <a href="ReviewList.php"
           title="Daily Call"
        >My Daily Call List</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <A href="CustomerCRM.php"
           title="Customer CRM"
        >Customer CRM</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <a href="ContractReport.php?filter[custitem.renewalStatus]=R"
           title="Contract Report"
        >Contracts</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <a href="Invoice.php">Invoices</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <a href="Supplier.php">Suppliers</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <a href="CustomerReviewMeeting.php">Customer Review Meeting</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <A href="PrepayAdjustment.php"
           title="Prepay Adjustment"
        >Prepay Adjustment</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <A href="RenewalReport.php"
           title="Renewal Report"
        >Renewal Report</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <A href="LeadStatusReport.php"
           title="Customer Lead Status Report"
        >Lead Status</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <a href="GoodsIn.php"
           title="Books Goods In"
        >Goods In</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <a href="StockLevel.php">Stock Levels</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <a href="Password.php">Passwords</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <a href="POStatusReport.php">PO Status Report</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <a href="ContactAudit.php">Contact Audit Log</a>
    </TD>
</TR>
<tr>
    <TD align="left"
        nowrap="nowrap"
    >
        <a href="SalesRequestDashboard.php">Sales Requests Dashboard</a>
    </TD>
</tr>
<!-- End template: ScreenSales.inc.html -->