<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <A href="EscalationReport.php">Escalation</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <A href="../../htdocs/OffsiteBackupStatus.php?action=failureAnalysis">Offsite Backup Failure Analysis</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <A href="TeamPerformanceReport.php">Team Performance</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <A href="ServiceRequestReport.php">Service Request Report</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <A href="CustomerSrAnalysisReport.php">Customer SR Analysis</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <A href="ServiceRequestsByCustomerReport.php">SRs by Customer</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <A href="FirstTimeFixReport.php">First Time Fix Report</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <A href="DailyReport.php?action=outstandingIncidents&onScreen=true&dashboard=true&daysAgo=7">7 Dayers</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <a href="ChangeRequestDashboard.php">Pending Change Requests</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <a href="TimeRequestDashboard.php">Pending Time Requests</a>
    </TD>
</TR>

