<!-- Begin template: ScreenAccounts.inc.html -->

<li class="menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-calculator"></i>Accounts</a>
    <ul class="sub-menu children dropdown-menu">
        <li><a href="PurchaseInv.php">Purchase Invoice Auth</a>
        </li>
        <li><a href="Invoice.php?action=invUnprinted">Unprinted
            Invoices</a></li>


        <li><a href="Invoice.php?action=invoiceReprint">Reprint Invoices</a></li>


        <li><a href="SageExport.php">Sage Export</a></li>


        <li><a href="ExcelExport.php">Excel Sales Report</a></li>


        <li><a href="CustomerProfitabilityReport.php">Customer Profitability Report</a></li>


        <li><a href="NewsletterHitReport.php">Newsletters</a></li>


        <li><a href="Expense.php?action=exportForm"
               title="Export Engineer Expenses & Overtime">Expenses
            &amp; OT Export</a></li>


        <li><a href="PrePay.php" title="Pre-Pay Export">PrePay Export</a></li>


        <li><a href="GoodsIn.php">Goods In</a></li>


        <li><a href="User.php">Users</a></li>


        <li><a href="Team.php">Teams</a></li>


        <li><a href="PaymentTerms.php">Payment Terms</a></li>


        <li><a href="Header.php">System Header</a></li>


        <li><a href="ContactExport.php">Contact Extraction</a></li>


        <li><a href="Prizewinner.php">Prizewinners</a></li>


        <li><a href="MISReport.php">MIS Report</a></li>


        <li><a href="CustomerAnalysisReport.php">Customer Analysis Report</a></li>


        <li><a href="ContractAnalysisReport.php">Contract Analysis Report</a></li>


        <li><a href="StaffProductivityReport.php">Staff Productivity Report</a></li>


        <li><a href="CustomerProfitabilityMonthsReport.php">Customer Profitability Export</a>
        </li>
    </ul>
</li>




<!-- End template: ScreenAccounts.inc.html -->