<!-- Begin template: ScreenTechnical.inc.html  aaaa -->

<li class="menu-item-has-children active dropdown">
    <a href="#"
       class="dropdown-toggle"
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false"
    > <i class="menu-icon fa fa-laptop"></i>Technical</a>
    <ul class="sub-menu children dropdown-menu">
        <li data-menu-id="101"><a href="Activity.php?action=activityCreate1">Log Request</a></li>
        <li data-menu-id="102"><a href="Activity.php">Search Service Requests</a></li>
        <li data-menu-id="103"><a href="CurrentActivityReport.php?action=setFilter&selectedCustomerID=">Current Service
            Requests</a></li>
        <li data-menu-id="104"><a href="Password.php">Passwords</a></li>
        <li data-menu-id="105"><a href="#"
                                  onclick="window.open('Password.php?action=generate&htmlFmt=popup','reason','scrollbars=yes,resizable=yes,height=524,width=855,copyhistory=no, menubar=0' )"
        >Generate Password</a></li>
        <li data-menu-id="105"><a href="CustomerItem.php">Customer Items</a></li>
        <li><a href="SalesOrder.php">Sales Orders</a></li>

        {starterLeaverMenu}
        <li><a href="SecondSite.php">2nd Site Backup</a></li>
        {technicalSD}
        <li><a href="Project.php">Projects</a></li>
    </ul>
</li>
<!--<TR>-->
<!--<TD align="left">-->
<!--<STRONG>Technical</STRONG>-->
<!--</TD>-->
<!--</TR>-->
<!--<TR>-->
<!--<TD align="left"-->
<!--nowrap="nowrap"-->
<!--&gt;-->
<!--<A href="Activity.php?action=activityCreate1">Log Request</a>-->
<!--</TD>-->
<!--</TR>-->
<!--<TR>-->
<!--<TD align="left"-->
<!--nowrap="nowrap"-->
<!--&gt;-->
<!--<A href="Activity.php">Search Service Requests</a>-->
<!--</TD>-->
<!--</TR>-->

<!--<TR>-->
<!--<TD align="left"-->
<!--nowrap="nowrap"-->
<!--&gt;-->
<!--<A href="CurrentActivityReport.php?action=setFilter&selectedCustomerID=">Current Service Requests</a>-->
<!--</TD>-->
<!--</TR>-->
<!--<TR>-->
<!--<TD align="left"-->
<!--nowrap="nowrap"-->
<!--&gt;-->
<!--<a href="Password.php">Passwords</a>-->
<!--</TD>-->
<!--</TR>-->
<!--<TR>-->
<!--<TD align="left"-->
<!--nowrap="nowrap"-->
<!--&gt;-->
<!--<A href="CustomerItem.php">Customer Items</a>-->
<!--</TD>-->
<!--</TR>-->
<!--<TR>-->
<!--<TD align="left"-->
<!--nowrap="nowrap"-->
<!--&gt;-->
<!--<A href="SalesOrder.php">Sales Orders</a>-->
<!--</TD>-->
<!--</TR>-->
<!--<TR>-->
<!--<TD align="left"-->
<!--nowrap="nowrap"-->
<!--&gt;-->
<!--<A href="#"-->
<!--onclick="window.open('Password.php?action=generate&htmlFmt=popup','reason','scrollbars=yes,resizable=yes,height=524,width=855,copyhistory=no, menubar=0' )"-->
<!--&gt;Generate Password</a>-->
<!--</TD>-->
<!--</TR>-->
<!--{starterLeaverMenu}-->
<!--<TR>-->
<!--<TD align="left"-->
<!--nowrap="nowrap"-->
<!--&gt;-->
<!--<A href="SecondSite.php">2nd Site Backup</a>-->
<!--</TD>-->
<!--</TR>-->
<!--<TR>-->
<!--<TD align="left"-->
<!--nowrap="nowrap"-->
<!--&gt;-->
<!--<A href="SecondSiteReplication.php">2nd Site Replication</a>-->
<!--</TD>-->
<!--</TR>-->
<!--{technicalSD}-->
<!--<TR>-->
<!--<TD align="left"-->
<!--nowrap="nowrap"-->
<!--&gt;-->
<!--<A href="Project.php">Projects</a>-->
<!--</TD>-->
<!--</TR>-->
<!-- End template: ScreenTechnical.inc.html -->