<!-- Begin template: ScreenAccounts.inc.html -->
				<TR> 
					<TD align="left"><STRONG>Accounts</STRONG></TD>
				</TR>
				<TR> 
					<TD align="left" nowrap="nowrap"><A href="PurchaseInv.php">Purchase Invoice Auth</a> 
					</TD>
				</TR>
				<TR> 
					<TD align="left" nowrap="nowrap"><A href="Invoice.php?action=invUnprinted">Unprinted 
						Invoices</a> </TD>
				</TR>
        <TR> 
          <TD align="left" nowrap="nowrap"><A href="Invoice.php?action=invoiceReprint">Reprint Invoices</a> </TD>
        </TR>
				<TR> 
					<TD align="left" nowrap="nowrap"><A href="SageExport.php">Sage Export</a> </TD>
				</TR>
				<TR> 
					<TD align="left" nowrap="nowrap"><A href="ExcelExport.php">Excel Sales Report</a> </TD>
				</TR>
        <TR> 
          <TD align="left" nowrap="nowrap"><A href="CustomerProfitabilityReport.php">Customer Profitability Report</a> </TD>
        </TR>
				<TR> 
					<TD align="left" nowrap="nowrap"><A href="NewsletterHitReport.php">Newsletters</a> </TD>
				</TR>
				<TR> 
					<TD align="left" nowrap="nowrap"><A href="Expense.php?action=exportForm" title="Export Engineer Expenses & Overtime">Expenses 
						&amp; OT Export</a> </TD>
				</TR>
				<TR> 
					<TD align="left" nowrap="nowrap"><A href="PrePay.php" title="Pre-Pay Export">PrePay Export</a></TD>
				</TR>
				<TR> 
					<TD align="left" nowrap="nowrap"><A href="GoodsIn.php">Goods In</a> </TD>
				</TR>
				<TR> 
					<TD align="left" nowrap="nowrap"><A href="User.php">Users</a> </TD>
				</TR>
        <TR> 
          <TD align="left" nowrap="nowrap"><A href="Team.php">Teams</a> </TD>
        </TR>
				<TR> 
					<TD align="left" nowrap="nowrap"><A href="PaymentTerms.php">Payment Terms</a> </TD>
				</TR>
				<TR> 
					<TD align="left" nowrap="nowrap"><A href="Header.php">System Header</a> </TD>
				</TR>
        <TR> 
          <TD align="left" nowrap="nowrap"><A href="ContactExport.php">Contact Extraction</a> </TD>
        </TR>
        <TR> 
          <TD align="left" nowrap="nowrap"><A href="MISReport.php">MIS Report</a> </TD>
        </TR>
        <TR> 
          <TD align="left" nowrap="nowrap"><A href="CustomerAnalysisReport.php">Customer Analysis Report</a> </TD>
        </TR>
        <TR> 
          <TD align="left" nowrap="nowrap"><A href="ContractAnalysisReport.php">Contract Analysis Report</a> </TD>
        </TR>
        <TR> 
          <TD align="left" nowrap="nowrap"><A href="StaffProductivityReport.php">Staff Productivity Report</a> </TD>
        </TR>
        <TR> 
          <TD align="left" nowrap="nowrap"><A href="CustomerReviewMeeting.php">Customer Review Meeting</a> </TD>
        </TR>
        <TR> 
          <TD align="left" nowrap="nowrap"><A href="CustomerProfitabilityMonthsReport.php">Customer Profitability Export</a> </TD>
        </TR>
<!-- End template: ScreenAccounts.inc.html -->