<!-- Begin template: ScreenTechnical.inc.html -->
<TR>
    <TD align="left">
        <STRONG>Technical</STRONG>
    </TD>
</TR>
<TR>
    <TD align="left" nowrap="nowrap">
        <A href="Activity.php?action=activityCreate1">Log Request</a>
    </TD>
</TR>
<TR>
    <TD align="left" nowrap="nowrap">
        <A href="Activity.php">Search Service Requests</a>
    </TD>
</TR>

<TR>
    <TD align="left" nowrap="nowrap">
        <A href="CurrentActivityReport.php?action=setFilter&selectedCustomerID=">Current Service Requests</a>
    </TD>
</TR>
<TR>
    <TD align="left" nowrap="nowrap">
        <A href="CustomerItem.php">Customer Items</a>
    </TD>
</TR>
<TR>
    <TD align="left" nowrap="nowrap">
        <A href="SalesOrder.php">Sales Orders</a>
    </TD>
</TR>
<TR>
    <TD align="left" nowrap="nowrap">
        <A href="Password.php?action=generate">Generate Password</a>
    </TD>
</TR>
<TR>
    <TD align="left" nowrap="nowrap">
        <A href="SecondSite.php">2nd Site</a>
    </TD>
</TR>
<!-- End template: ScreenTechnical.inc.html -->