<!-- Begin template: ScreenRenewals.inc.html -->
				<TR> 
					<TD align="left"><STRONG>Service Renewals</STRONG></TD>
				</TR>
				<TR> 
				<TD align="left" nowrap="nowrap"> <A href="RenBroadband.php" title="Internet">Internet</a> </TD>
				</TR>
				<TR> 
					<TD align="left" nowrap="nowrap"><A href="RenContract.php" title="Contract">Contract</a></TD>
				</TR>
				<TR> 
					<TD align="left" nowrap="nowrap"><A href="RenQuotation.php" title="Renewals">Renewal</a></TD>
				</TR>
				<TR> 
					<TD align="left" nowrap="nowrap"><A href="RenDomain.php" title="Domain Names">Domain</a></TD>
				</TR>
        <TR> 
          <TD align="left" nowrap="nowrap"><A href="RenHosting.php" title="Hosting Accounts">Hosting</a></TD>
        </TR>
<!-- End template: ScreenRenewals.inc.html -->
