<!-- Begin template: ScreenTechnical.inc.html -->
<TR>
    <TD align="left">
        <STRONG>Technical</STRONG>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <A href="Activity.php?action=activityCreate1">Log Request</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <A href="Activity.php">Search Service Requests</a>
    </TD>
</TR>

<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <A href="CurrentActivityReport.php?action=setFilter&selectedCustomerID=">Current Service Requests</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <A href="CustomerItem.php">Customer Items</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <A href="SalesOrder.php">Sales Orders</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <A href="#"
           onclick="window.open('Password.php?action=generate&htmlFmt=popup','reason','scrollbars=yes,resizable=yes,height=50,width=80,copyhistory=no, menubar=0' )"
        >Generate Password</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <A href="SecondSite.php">2nd Site Backup</a>
    </TD>
</TR>
<TR>
    <TD align="left"
        nowrap="nowrap"
    >
        <A href="SecondSiteReplication.php">2nd Site Replication</a>
    </TD>
</TR>
{technicalSD}
<!-- End template: ScreenTechnical.inc.html -->