<!-- Begin template: ScreenMaintenance.inc.html -->

<li class="menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-wrench"></i>Maintenance</a>
    <ul class="sub-menu children dropdown-menu">
        <li>
            <a href="ActivityType.php">Activity Types</a>
        </li>
        <li>
            <a href="RootCause.php">Root Causes</a>
        </li>
        <li>
            <a href="Manufacturer.php">Manufacturers</a>
        </li>
        <li>
            <a href="ExpenseType.php">Expense Types</a>
        </li>
        <li>
            <a href="StandardText.php">Standard Text</a>
        </li>
        <li>
            <a href="PasswordServices.php">Password Services</a>
        </li>
        <li>
            <a href="Sector.php">Business Sectors</a>
        </li>

        <li>
            <a href="CustomerType.php">Referral Types</a>

        <li>
            <a href="Questionnaire.php">Questionnaires</a>
        </li>

        <li>
            <a href="UtilityEmails.php">Utility Emails</a>
        </li>

        <li>
            <a href="IgnoredADDomains.php">Ignored AD Domains</a>
        </li>
        {appraiserScreen}
    </ul>
</li>


<!-- End template: ScreenMaintenance.inc.html -->