<li><a href="EscalationReport.php">Escalation</a></li>
<li><a href="SecondSite.php?action=failureAnalysis">2ndSite Failure Analysis</a></li>
<li><a href="TeamPerformanceReport.php">Team Performance</a></li>
<li><a href="ServiceRequestReport.php">Service Request Report</a></li>
<li><a href="CustomerSrAnalysisReport.php">Customer SR Analysis</a></li>
<li><a href="ServiceRequestsByCustomerReport.php">SRs by Customer</a></li>
<li><a href="FirstTimeFixReport.php">First Time Fix Report</a></li>
<li><a href="DailyReport.php?action=outstandingIncidents&onScreen=true&dashboard=true&daysAgo=7">7 Dayers</a></li>
<li><a href="ChangeRequestDashboard.php">Pending Change Requests</a></li>
<li>
    <a href="TimeRequestDashboard.php">Pending Time Requests</a>
</li>

