<!-- Template: screen.inc.html -->
<HTML>
<HEAD>
<TITLE>{pageTitle}</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="/screen.css" rel="stylesheet" type="text/css">
<script src="/jquery/jquery.min.js"></script>
<SCRIPT TYPE="text/javascript">
<!--
function popup(mylink, windowname)
{
if (! window.focus)return true;
var href;
if (typeof(mylink) == 'string')
   href=mylink;
else
   href=mylink.href;
window.open(href, windowname, 'width=400,height=400,scrollbars=yes, resizable=yes');
//return false;
}
//-->
</script>
{javaScript}
</HEAD>
<BODY {bodyTagExtras} {environmentTag}>
<TABLE width="100%" border="0">
	<TR>
		<TD width="100px" valign="top">
			<TABLE width="100px" border="0" bgcolor="#e1e1f0">
				<TR> 
					<TD align="center"> <A href="index.php"><IMG src="images/cncscreenlogo_small.gif" width="100" border="0"></A> 
					</TD>
				</TR>
				<TR> 
					<TD align="left"> <HR/> </TD>
				</TR>
        {screenTechnical}
				{screenSales}
        {screenReports}
        {screenRenewals}
        {screenAccounts}
				{screenMaintenance}
				<TR> 
					<TD align="left" class='userName'><HR/></TD>
				</TR>
				<TR> 
					<TD align="left" class='userName'>{userName} <A href="index.php?action=logout">logout</A></TD>
				</TR>
			</TABLE>
		</TD>
		<TD valign="top">
			<H1>{pageTitle}</H1><font class="formErrorMessage">{formErrorMessage}</font>
			<BR/>
			{CONTENTS}
		</TD>
	</TR>
</TABLE>
</BODY>
</HTML>
<!-- End template: screen.inc.html -->
