<!-- Begin template: ScreenReports.inc.html -->

<li class="menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-file"></i>Reports</a>
    <ul class="sub-menu children dropdown-menu">
        <li><a href="ManagementReports.php?action=SalesByCustomer">Sales/Customer</a></li>

        <li><a href="ManagementReports.php?action=SpendBySupplier">Spend/Supplier</a></li>

        <li><a href="ManagementReports.php?action=SpendByManufacturer">Spend/Manufacturer</a></li>

        <li><a href="QuestionnaireReport.php">Questionnaire Report</a></li>

        <li><a href="QuotationConversionReport.php">Quotation Conversion</a></li>

        <li><a href="Customer.php?action=display24HourSupportCustomers">24 Hour Support
            Customers</a></li>

        <li><a href="Customer.php?action=displaySpecialAttentionCustomers">Special Attention
            Customers</a></li>
        <li><a href="Customer.php?action=displayContractAndNumbersReport">Service Contracts Ratio</a></li>

    </ul>
</li>


<!-- End template: ScreenReports.inc.html -->