<!-- Begin template: ScreenReports.inc.html -->
<TR>
    <TD align="left" nowrap="nowrap">
        <STRONG>Reports</STRONG>
    </TD>
</TR>
<TR>
    <TD align="left" nowrap="nowrap">
        <A href="ManagementReports.php?action=SalesByCustomer">Sales/Customer</a>
    </TD>
</TR>
<TR>
    <TD align="left" nowrap="nowrap">
        <A href="ManagementReports.php?action=SpendBySupplier">Spend/Supplier</a>
    </TD>
</TR>
<TR>
    <TD align="left" nowrap="nowrap">
        <A href="ManagementReports.php?action=SpendByManufacturer">Spend/Manufacturer</a>
    </TD>
</TR>
<TR>
    <TD align="left" nowrap="nowrap">
        <A href="QuestionnaireReport.php">Questionnaire Report</a>
    </TD>
</TR>
<TR>
    <TD align="left" nowrap="nowrap">
        <A href="QuotationConversionReport.php">Quotation Conversion</a>
    </TD>
</TR>
<TR>
    <TD align="left" nowrap="nowrap">
        <A href="Customer.php?action=display24HourSupportCustomers">24 Hour Support
            Customers</a>
    </TD>
</TR>
<TR>
    <TD align="left" nowrap="nowrap">
        <A href="Customer.php?action=displaySpecialAttentionCustomers">Special Attention
            Customers</a>
    </TD>
</TR>
<TR>
    <TD align="left" nowrap="nowrap">
        <A href="Customer.php?action=displayContractAndNumbersReport">Service Contracts Ratio</a>
    </TD>
</TR>
<!-- End template: ScreenReports.inc.html -->