<!-- Template: screen.inc.html -->
<HTML>
<HEAD>
    <TITLE>{pageTitle}</TITLE>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/screen.css" rel="stylesheet" type="text/css">
    <link href="/changeLog.css" rel="stylesheet" type="text/css">
    <script src="/moment/moment.min.js"></script>
    <script src="/jquery/jquery.min.js"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <SCRIPT TYPE="text/javascript">
        function popup(mylink, windowname) {
            if (!window.focus) return true;
            var href;
            if (typeof(mylink) == 'string')
                href = mylink;
            else
                href = mylink.href;
            window.open(href, windowname, 'width=400,height=400,scrollbars=yes, resizable=yes');
        }

        var modal;
        var wrapper;
        var modalOpen;

        $(function () {
            modal = $("#changemodal");
            wrapper = $("#changemodal-wrapper");
            modalOpen = false;

            $("#close-button").on("click", function (event) {
                closeChangelogModal();
            });

        });


        function listener(evt) {
            evt = evt || window.event;
            if (evt.keyCode == 27 && modalOpen) {
                closeChangelogModal();
            }
        }

        function openChangelogModal() {
            setTimeout(function () {
                modalOpen = true;
            }, 300);
            wrapper.css("display", 'block');
            modal.css("display", 'block');
            wrapper.attr("class", "animated fadeIn");
            modal.attr("class", "animated zoomIn");
            window.addEventListener('keyup', listener, false);
        }

        function closeChangelogModal() {
            setTimeout(function () {
                wrapper.css("display", 'none');
                modal.css("display", 'none');
                modalOpen = false;
            }, 300);
            wrapper.attr("class", "animated fadeOut");
            modal.attr("class", "animated zoomOut");
            window.removeEventListener('keyup', listener, false);
        }

        function toggleChangelogModal() {
            if (modalOpen) {
                closeChangelogModal();
            } else {
                openChangelogModal();
            }
        }

        (function () {
            document.addEventListener('keyup', listener, false);
            document.addEventListener("click", function (e) {
                var level = 0;
                for (var element = e.target; element; element = element.parentNode) {
                    if (element.id === 'changemodal') {
                        return;
                    }
                    level++;
                }
                if (modalOpen) closeChangelogModal();
            });
        })();

    </script>
    {javaScript}

</HEAD>
<BODY {bodyTagExtras} {environmentTag}>
<TABLE width="100%" border="0">
    <TR>
        <TD width="100px" valign="top">
            <TABLE width="100px" border="0" bgcolor="#e1e1f0">
                <TR>
                    <TD align="center"><A href="index.php"><IMG src="images/cncscreenlogo_small.gif" width="100"
                                                                border="0"></A>
                    </TD>
                </TR>
                <TR>
                    <TD align="left">
                        <HR/>
                    </TD>
                </TR>
                {screenTechnical}
                {screenSales}
                {screenReports}
                {screenRenewals}
                {screenAccounts}
                {screenMaintenance}
                <TR>
                    <TD align="left" class='userName'>
                        <HR/>
                    </TD>
                </TR>
                <tr>
                    <td  align="left">
                        <A href="About.php">About</A>
                    </td>
                </tr>
                <TR>
                    <TD align="left" class='userName'>{userName} <A href="index.php?action=logout">logout</A></TD>
                </TR>
            </TABLE>
        </TD>
        <TD valign="top">
            <H1>{pageTitle}</H1><font class="formErrorMessage">{formErrorMessage}</font>
            <BR/>
            {CONTENTS}
        </TD>
    </TR>
</TABLE>
{changeLogStuff}
</BODY>
</HTML>
<!-- End template: screen.inc.html -->
