<!-- Begin template: ScreenRenewals.inc.html -->

<li class="menu-item-has-children dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Screen Renewals</a>
	<ul class="sub-menu children dropdown-menu">
		<li> <a href="RenBroadband.php" title="Internet">Internet</a> </li>
		<li><a href="RenContract.php" title="Contract">Contract</a></li>
		<li><a href="RenQuotation.php" title="Renewals">Renewal</a></li>
		<li><a href="RenDomain.php" title="Domain Names">Domain</a></li>
		<li><a href="RenHosting.php" title="Hosting Accounts">Hosting</a></li>
	</ul>
</li>
<!-- End template: ScreenRenewals.inc.html -->
