<script>
    $(function () {
        $('.userAllocation').change(function () {
            console.log(this.value);
            window.location = this.value;
        })
    })
</script>
<table class="table-bordered oddRows"
       width="100%"
>
    <thead>
    <tr valign="center">
        <th class="listHeadText"
            colspan="2"
            width="34%"
        >
            <div align="left">{queueShortest_SLA_RemainingName} ({queueShortest_SLA_RemainingCount})</div>
        </th>
        <th class="listHeadText"
            width="1%"
        >
            <div align="left">Priority</div>
        </th>
        <th class="listHeadText">
            <div align="left">Open Hours</div>
        </th>
        <th class="listHeadText">
            <div align="left">Time Spent</div>
        </th>
        <th class="listHeadText">
            <div align="left">Number Of Activities</div>
        </th>
        <th class="listHeadText">
            <div align="left">Description</div>
        </th>
        <th class="listHeadText">
            <div align="left">Assigned To</div>
        </th>
        <th class="listHeadText">
            <div align="left">Updated</div>
        </th>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN queueShortest_SLA_RemainingBlock -->
    <tr valign="center">
        <td width="2%"
            bgcolor="{bgColour}"
            class="problemId"
        >
            <A href="{urlViewActivity}"
               target="_blank"
            >{problemID}</A>
        </td>

        <td width="20%"
            {customerNameDisplayClass}
        >
            <A href={urlCustomer}
               target="_blank"
            >{customerName}</a>
        </td>

        <td width="3%"
            bgcolor="{priorityBgColor}"
        >
            <div align="center">{priority}</div>
        </td>
        <td width="5%"
            bgcolor="{hoursRemainingBgColor}"
            title="Green = Awaiting Customer Blue = CNC Yellow = Not Started"
        >
            <div align="center">{hoursRemaining}</div>
        </td>

        <td width="5%"
            align="center"
        >{totalActivityDurationHours}
        </td>
        <td width="5%">
            <div align="center">{activityCount}</div>
        </td>
        <td width="37%">
            <A
                    href="#"
                    onClick="window.open(
          '{urlProblemHistoryPopup}',
          'reason',
          'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0'); return false"
            >{reason}
            </A>
        </td>

        <td width="10%"
            valign="center"
        >
            <select class="userAllocation">{engineerDropDown}</select>
        </td>

        <td width="10%"
            nowrap="nowrap"
            bgcolor="{updatedBgColor}"
            title="Purple = Updated by another user OR has an alarm date in past"
        >{date} {time}
        </td>

    </tr>
    <!-- END queueShortest_SLA_RemainingBlock -->
    </tbody>
</table>
<br>
<table class="table-bordered oddRows"
       width="100%"
>
    <thead>
    <tr valign="center">
        <th class="listHeadText"
            colspan="2"
            width="34%"
        >
            <div align="left">{queueOldest_Updated_SRsName} ({queueOldest_Updated_SRsCount})</div>
        </th>
        <th class="listHeadText"
            width="1%"
        >
            <div align="left">Priority</div>
        </th>
        <th class="listHeadText">
            <div align="left">Open Hours</div>
        </th>
        <th class="listHeadText">
            <div align="left">Time Spent</div>
        </th>
        <th class="listHeadText">
            <div align="left">Number Of Activities</div>
        </th>
        <th class="listHeadText">
            <div align="left">Description</div>
        </th>
        <th class="listHeadText">
            <div align="left">Assigned To</div>
        </th>
        <th class="listHeadText">
            <div align="left">Updated</div>
        </th>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN queueOldest_Updated_SRsBlock -->
    <tr valign="center">
        <td width="2%"
            bgcolor="{bgColour}"
            class="problemId"
        >
            <A href="{urlViewActivity}"
               target="_blank"
            >{problemID}</A>
        </td>

        <td width="20%"
            {customerNameDisplayClass}
        >
            <A href={urlCustomer}
               target="_blank"
            >{customerName}</a>
        </td>

        <td width="3%"
            bgcolor="{priorityBgColor}"
        >
            <div align="center">{priority}</div>
        </td>
        <td width="5%"
            bgcolor="{hoursRemainingBgColor}"
            title="Green = Awaiting Customer Blue = CNC Yellow = Not Started"
        >
            <div align="center">{hoursRemaining}</div>
        </td>

        <td width="5%"
            align="center"
        >{totalActivityDurationHours}
        </td>
        <td width="5%">
            <div align="center">{activityCount}</div>
        </td>
        <td width="37%">
            <A
                    href="#"
                    onClick="window.open(
          '{urlProblemHistoryPopup}',
          'reason',
          'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0'); return false"
            >{reason}
            </A>
        </td>

        <td width="10%"
            valign="center"
        >
            <select class="userAllocation">{engineerDropDown}</select>
        </td>

        <td width="10%"
            nowrap="nowrap"
            bgcolor="{updatedBgColor}"
            title="Purple = Updated by another user OR has an alarm date in past"
        >{date} {time}
        </td>

    </tr>
    <!-- END queueOldest_Updated_SRsBlock -->
    </tbody>
</table>
<br>
<table class="table-bordered oddRows"
       width="100%"
>
    <thead>
    <tr valign="center">
        <th class="listHeadText"
            colspan="2"
            width="34%"
        >
            <div align="left">{queueLongest_Open_SRName} ({queueLongest_Open_SRCount})</div>
        </th>
        <th class="listHeadText"
            width="1%"
        >
            <div align="left">Priority</div>
        </th>
        <th class="listHeadText">
            <div align="left">Open Hours</div>
        </th>
        <th class="listHeadText">
            <div align="left">Time Spent</div>
        </th>
        <th class="listHeadText">
            <div align="left">Number Of Activities</div>
        </th>
        <th class="listHeadText">
            <div align="left">Description</div>
        </th>
        <th class="listHeadText">
            <div align="left">Assigned To</div>
        </th>
        <th class="listHeadText">
            <div align="left">Updated</div>
        </th>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN queueLongest_Open_SRBlock -->
    <tr valign="center">
        <td width="2%"
            bgcolor="{bgColour}"
            class="problemId"
        >
            <A href="{urlViewActivity}"
               target="_blank"
            >{problemID}</A>
        </td>

        <td width="20%"
            {customerNameDisplayClass}
        >
            <A href={urlCustomer}
               target="_blank"
            >{customerName}</a>
        </td>

        <td width="3%"
            bgcolor="{priorityBgColor}"
        >
            <div align="center">{priority}</div>
        </td>
        <td width="5%"
            bgcolor="{hoursRemainingBgColor}"
            title="Green = Awaiting Customer Blue = CNC Yellow = Not Started"
        >
            <div align="center">{hoursRemaining}</div>
        </td>

        <td width="5%"
            align="center"
        >{totalActivityDurationHours}
        </td>
        <td width="5%">
            <div align="center">{activityCount}</div>
        </td>
        <td width="37%">
            <A
                    href="#"
                    onClick="window.open(
          '{urlProblemHistoryPopup}',
          'reason',
          'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0'); return false"
            >{reason}
            </A>
        </td>

        <td width="10%"
            valign="center"
        >
            <select class="userAllocation">{engineerDropDown}</select>
        </td>

        <td width="10%"
            nowrap="nowrap"
            bgcolor="{updatedBgColor}"
            title="Purple = Updated by another user OR has an alarm date in past"
        >{date} {time}
        </td>

    </tr>
    <!-- END queueLongest_Open_SRBlock -->
    </tbody>
</table>
<br>
<table class="table-bordered oddRows"
       width="100%"
>
    <thead>
    <tr valign="center">
        <th class="listHeadText"
            colspan="2"
            width="34%"
        >
            <div align="left">{queueMost_Hours_LoggedName} ({queueMost_Hours_LoggedCount})</div>
        </th>
        <th class="listHeadText"
            width="1%"
        >
            <div align="left">Priority</div>
        </th>
        <th class="listHeadText">
            <div align="left">Open Hours</div>
        </th>
        <th class="listHeadText">
            <div align="left">Time Spent</div>
        </th>
        <th class="listHeadText">
            <div align="left">Number Of Activities</div>
        </th>
        <th class="listHeadText">
            <div align="left">Description</div>
        </th>
        <th class="listHeadText">
            <div align="left">Assigned To</div>
        </th>
        <th class="listHeadText">
            <div align="left">Updated</div>
        </th>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN queueMost_Hours_LoggedBlock -->
    <tr valign="center">
        <td width="2%"
            bgcolor="{bgColour}"
            class="problemId"
        >
            <A href="{urlViewActivity}"
               target="_blank"
            >{problemID}</A>
        </td>

        <td width="20%"
            {customerNameDisplayClass}
        >
            <A href={urlCustomer}
               target="_blank"
            >{customerName}</a>
        </td>

        <td width="3%"
            bgcolor="{priorityBgColor}"
        >
            <div align="center">{priority}</div>
        </td>
        <td width="5%"
            bgcolor="{hoursRemainingBgColor}"
            title="Green = Awaiting Customer Blue = CNC Yellow = Not Started"
        >
            <div align="center">{hoursRemaining}</div>
        </td>

        <td width="5%"
            align="center"
        >{totalActivityDurationHours}
        </td>
        <td width="5%">
            <div align="center">{activityCount}</div>
        </td>
        <td width="37%">
            <A
                    href="#"
                    onClick="window.open(
          '{urlProblemHistoryPopup}',
          'reason',
          'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0'); return false"
            >{reason}
            </A>
        </td>

        <td width="10%"
            valign="center"
        >
            <select class="userAllocation">{engineerDropDown}</select>
        </td>

        <td width="10%"
            nowrap="nowrap"
            bgcolor="{updatedBgColor}"
            title="Purple = Updated by another user OR has an alarm date in past"
        >{date} {time}
        </td>

    </tr>
    <!-- END queueMost_Hours_LoggedBlock -->
    </tbody>
</table>

<br>
<table class="table-bordered oddRows"
       width="100%"
>
    <thead>
    <tr valign="center">
        <th class="listHeadText"
            colspan="2"
            width="34%"
        >
            <div align="left">{queueActivities_By_XX_Engineers_In_XX_HoursName}
                ({queueActivities_By_XX_Engineers_In_XX_HoursCount})
            </div>
        </th>
        <th class="listHeadText"
            width="1%"
        >
            <div align="left">Priority</div>
        </th>
        <th class="listHeadText">
            <div align="left">Open Hours</div>
        </th>
        <th class="listHeadText">
            <div align="left">Time Spent</div>
        </th>
        <th class="listHeadText">
            <div align="left">Number Of Activities</div>
        </th>
        <th class="listHeadText">
            <div align="left">Description</div>
        </th>
        <th class="listHeadText">
            <div align="left">Assigned To</div>
        </th>
        <th class="listHeadText">
            <div align="left">Updated</div>
        </th>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN queueActivities_By_XX_Engineers_In_XX_HoursBlock -->
    <tr valign="center">
        <td width="2%"
            bgcolor="{bgColour}"
            class="problemId"
        >
            <A href="{urlViewActivity}"
               target="_blank"
            >{problemID}</A>
        </td>

        <td width="20%"
            {customerNameDisplayClass}
        >
            <A href={urlCustomer}
               target="_blank"
            >{customerName}</a>
        </td>

        <td width="3%"
            bgcolor="{priorityBgColor}"
        >
            <div align="center">{priority}</div>
        </td>
        <td width="5%"
            bgcolor="{hoursRemainingBgColor}"
            title="Green = Awaiting Customer Blue = CNC Yellow = Not Started"
        >
            <div align="center">{hoursRemaining}</div>
        </td>

        <td width="5%"
            align="center"
        >{totalActivityDurationHours}
        </td>
        <td width="5%">
            <div align="center">{activityCount}</div>
        </td>
        <td width="37%">
            <A
                    href="#"
                    onClick="window.open(
          '{urlProblemHistoryPopup}',
          'reason',
          'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0'); return false"
            >{reason}
            </A>
        </td>

        <td width="10%"
            valign="center"
        >
            <select class="userAllocation">{engineerDropDown}</select>
        </td>

        <td width="10%"
            nowrap="nowrap"
            bgcolor="{updatedBgColor}"
            title="Purple = Updated by another user OR has an alarm date in past"
        >{date} {time}
        </td>

    </tr>
    <!-- END queueActivities_By_XX_Engineers_In_XX_HoursBlock -->
    </tbody>
</table>
<br>
<style>
    .openSR thead td {
        font-size: 16px;
        font-weight: bold;
    }
</style>
<table class="table-bordered oddRows openSR">
    <thead>
    <tr>
        <td class="listHeadText">
            <div>
                Customer
            </div>
        </td>
        <td class="listHeadText">
            Open SR
        </td>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN OpenSRByCustomerBlock -->
    <tr valign="center">
        <td width="20%"
        >
            <A href={urlCustomer}
               target="_blank"
            >{customerName}</a>
        </td>
        <td width="2%"
        >
            {srCount}
        </td>
    </tr>
    <!-- END OpenSRByCustomerBlock -->
    </tbody>
</table>