<script>
    window.addEventListener('DOMContentLoaded', function () {
        $('.userAllocation').change(function () {
            console.log(this.value);
            window.location = this.value;
        })


    });

    filters = {
        helpDesk: 'HD',
        escalation: 'ES',
        smallProjects: 'SP',
        projects: 'P'
    };

    function changeFilter() {

        var isP5 = window.location.search.indexOf('showP5') > -1;

        var urlString = window.location.origin + window.location.pathname;
        var url = new URL(urlString);
        if (isP5) {
            url.searchParams.append('showP5', true)
        }

        Object.keys(filters).forEach(function (key) {
            if (document.getElementById(key).checked) {
                url.searchParams.append(filters[key], null);
            }
        });


        window.location.href = url.toString();

    }


    setTimeout(() => {
        window.location.reload();
    }, 10 * 60 * 1000)

</script>
<table width="100%">
    <tr>
        <!-- BEGIN userSrCountBlock -->
        <td>{openSrInitials}:{openSrCount}</td>
        <!-- END userSrCountBlock -->
    </tr>
</table>
<div id="filters">
    <label for="helpDesk">HD</label>
    <input type="checkbox"
           {helpDeskChecked}
           id="helpDesk"
           onchange="changeFilter()"
    >
    <label for="escalation">ES</label>
    <input type="checkbox"
           {escalationChecked}
           id="escalation"
           onchange="changeFilter()"
    >
    <label for="smallProjects">SP</label>
    <input type="checkbox"
           {smallProjectsChecked}
           id="smallProjects"
           onchange="changeFilter()"
    >
    <label for="projects">P</label>
    <input type="checkbox"
           {projectsChecked}
           id="projects"
           onchange="changeFilter()"
    >

</div>
{shortestSLARemaining}
{currentOpenP1Requests}
{shortestSLAFixRemaining}
{criticalServiceRequests}
{currentOpenSRs}
{oldestUpdatedSR}
{longestOpenSR}
{mostHoursLogged}
{activitiesByXXEngineersInXXHours}

<style>
    .openSR thead td {
        font-size: 16px;
        font-weight: bold;
    }
</style>
<table class="table-bordered oddRows openSR">
    <thead>
    <tr>
        <td class="listHeadText">
            <div>
                Customer
            </div>
        </td>
        <td class="listHeadText">
            Open SR
        </td>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN OpenSRByCustomerBlock -->
    <tr valign="center">
        <td width="20%"
        >
            <A href={urlCustomer}
               target="_blank"
            >{customerName}</a>
        </td>
        <td width="2%"
        >
            {srCount}
        </td>
    </tr>
    <!-- END OpenSRByCustomerBlock -->
    </tbody>
</table>