<!-- Template: CustomerAnalysisReport.inc.html -->
<script language='JavaScript'
        src="CommonJS.js"
></script>
<script language='JavaScript'>
    $(function () {
        $('#customerString')[0].addEventListener('autocompleteselect', function ($event) {
            $('#customerID').val($event.detail.item.value);
        });
    });

    function submitOnReturn() {
        if (event.keyCode == 13) {
            document.searchForm.submit();
        }
    }

</script>
<div class="reportDescription">
    This shows the number of failures relating to servers protected by Offsite Backups for a given period.
</div>
<P class="formErrorMessage">{formError}</P>
<form name="searchForm"
      method="get"
      action="{urlSubmit}"
>
    <table width="500px"
           border="0"
           cellspacing="0"
           cellpadding="1"
    >
        <tr>
            <td width="100"
                class="promptText"
            >
                <div align="right">Customer</div>
            </td>
            <td>
                <input
                        type="hidden"
                        name="action"
                        value="failureAnalysis"
                >
                <input
                        type="hidden"
                        name="searchForm[1][customerID]"
                        id="customerID"
                        value="{customerID}"
                > <input
                    type="text"
                    id="customerString"
                    name="customerString"
                    value="{customerString}"
                    size="50"
                    maxlength="50"
                    customer-search
            > <font class="formErrorMessage"> {customerStringMessage} </font></td>
        </tr>
        <tr>
            <td width="100"
                class="promptText"
            >
                <div align="right">Start Month/Year</div>
            </td>
            <td>
                <input type="text"
                       name="searchForm[1][startYearMonth]"
                       value="{startYearMonth}"
                       placeholder="Month/Year"
                       size="10"
                       maxlength="7"
                       required

                > <font class="formErrorMessage"> {startYearMonthMessage} </font></td>
        </tr>
        <tr>
            <td width="100"
                class="promptText"
            >
                <div align="right">End Month/Year</div>
            </td>
            <td>
                <input type="text"
                       name="searchForm[1][endYearMonth]"
                       value="{endYearMonth}"
                       placeholder="Month/Year"
                       size="10"
                       maxlength="7"
                > <span class="formErrorMessage"> {endYearMonthMessage} </span></td>
        </tr>
        <tr>
            <td class="promptText">&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit"
                       name="Search"
                       value="Screen Report"
                >
                <input type="submit"
                       name="Search"
                       value="Generate CSV"
                >
                <input type="button"
                       name="Clear"
                       value="Clear"
                       onclick="window.location ='?action=failureAnalysis' "
                ></td>
        </tr>
    </table>
    <p>&nbsp;</p>
    <table>
        <thead>
        <tr>
            <th><a href="{reportUrl}&orderBy=customerName">Customer</a></th>
            <th><a href="{reportUrl}&orderBy=serverName">Server</a></th>
            <th><a href="{reportUrl}&orderBy=period">Period</a></th>
            <th><a href="{reportUrl}&orderBy=errors">Errors</a></th>
        </tr>
        </thead>
        <tbody>
        <!-- BEGIN rowsBlock -->
        <tr>
            <td>{customerName}</td>
            <td>{serverName}</td>
            <td>{period}</td>
            <td align="right">{errors}</td>
        </tr>
        <!-- END rowsBlock -->
        </tbody>
    </table>
</form>
<!-- End Template: CustomerAnalysisReport.inc.html -->