<!-- Template: SectorEdit.inc.html -->
<TABLE width="200px" border="0" cellpadding="2" cellspacing="1">
	<TR> 
		<TD width="100px" class="navigateLink" valign="top"><a href="{urlDisplayList}">Back to list</a></TD>
		<TD width="100px" class="navigateLink" valign="top"><a href="{urlDelete}">{txtDelete}</a></TD>
	</TR>
</table>
<FORM  method="post" action="{urlUpdate}" name="sector" AUTOCOMPLETE="OFF">
	<table width="700px" border="0">
		<input
			type="hidden"
			name="sector[1][sectorID]"
			value="{sectorID}"
		>
		<tr> 
			<td width="115" class="promptText">Description</td>
			<td width="575" class="fieldText"> <input
					name="sector[1][description]"
					type="text" value="{description}"
					size="50"
					maxlength="50"
				> <span class="formErrorMessage">{descriptionMessage}</span> </td>
		</tr>
		<tr> 
			<td>&nbsp;</td>
			<td class="formErrorMessage"><input type="submit" name="Submit" value="Update"></td>
		</tr>
	</table>
</form>
<!-- End Template: SectorEdit.inc.html -->