<!-- Template: ServiceChangeRequestReview.inc.html -->
<script src="CommonJS.js"></script>
<script>
    function makeTimeNotRequired() {
        $('[name="allocatedTimeValue"]').attr('required', false);
    }

    let timeSelectorElement = null;
    let timeInputElement = null;
    let allocationErrorElement = null;
    let saveButtonElement = null;
    const remainingLimitTime = {remainingLimitTime};
    const isAdditionalTimeLimitApprover = {additionalTimeLimitApprover};
    const minutesInADay = {minutesInADay};

    window.addEventListener('DOMContentLoaded', function () {
        timeSelectorElement = $('#allocatedTimeAmountSelector');
        timeInputElement = $('input[name="allocatedTimeValue"]');
        allocationErrorElement = $('#allocationError');
        saveButtonElement = $('#saveButton');

        checkRemainingTime();
        timeSelectorElement.change(function () {
            checkRemainingTime();
        });
        timeInputElement.change(function () {
            checkRemainingTime();
        })

    });

    function checkRemainingTime() {
        if (!isAdditionalTimeLimitApprover) {
            const timeSelectedOption = timeSelectorElement[0].selectedOptions[0];
            const timeValue = +timeInputElement.val();
            let totalMinutes = timeValue;
            switch (timeSelectedOption.value) {
                case 'hours':
                    totalMinutes = timeValue * 60;
                    break;
                case 'days':
                    totalMinutes = timeValue * minutesInADay;
            }
            if (remainingLimitTime < totalMinutes) {
                disableSave('You are not allowed to add additional minutes to this SR for the selected team, please discuss this with management to proceed.');
                return;
            }
        }
        enableSave();
        return;
    }

    function disableSave(allocationError = null) {
        saveButtonElement.attr('disabled', 'disabled');
        if (allocationError) {
            allocationErrorElement.html(allocationError);
        } else {
            allocationErrorElement.html('');
        }
    }

    function enableSave() {
        saveButtonElement.removeAttr('disabled');
        allocationErrorElement.html('');
    }

</script>
<p><A
        href="#"
        onClick="window.open(
      '{urlProblemHistoryPopup}',
      'reason',
      'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0'); return false"
>View SR history
</A>
</p>
<form method="post"
      action="{urlSubmit}"
      name="changerequest"
      AUTOCOMPLETE="off"
>

    <input type="hidden"
           name="callActivityID"
           value="{callActivityID}"
    >

    <table>
        <tr>
            <td class="promptText">SR</td>
            <td colspan="3"
                class="mainHeadText"
            >{problemID}
            </td>
        </tr>

        <tr>
            <td class="promptText">Customer</td>
            <td class="mainHeadText">{customerName}</td>
        </tr>

        <tr>
            <td class="promptText">Requester</td>
            <td class="mainHeadText">{userName}</td>
        </tr>
        <tr>
            <td class="promptText">Requester Team</td>
            <td class="mainHeadText">{requesterTeamName}</td>
        </tr>

        <tr>
            <td class="promptText"
                style="vertical-align: top;"
            >Notes
            </td>
            <td class="mainHeadText">{requestDetails}</td>
        </tr>


        <tr>
            <td class="promptText"
                style="vertical-align: top;"
            >Requested Date Time
            </td>
            <td class="mainHeadText">{requestedDateTime}</td>
        </tr>

        <tr>
            <td class="promptText"
                style="vertical-align: top;"
            >Chargeable Hours
            </td>
            <td class="mainHeadText">{chargeableHours}</td>
        </tr>

        <tr>
            <td class="promptText"
                style="vertical-align: top;"
            >Time Spent So Far
            </td>
            <td class="mainHeadText">{timeSpentSoFar}</td>
        </tr>

        <tr>
            <td class="promptText"
                style="vertical-align: top;"
            >Time Left On Budget
            </td>
            <td class="mainHeadText">{timeLeftOnBudget}</td>
        </tr>


        <tr>
            <td class="promptText">Granted Minutes</td>
            <td class="mainHeadText">
                <input style="width: 50px"
                       name="allocatedTimeValue"
                       type="text"
                       value="{allocatedTimeValue}"
                       required
                >
                <span></span>
                <select name="allocatedTimeAmount"
                        id="allocatedTimeAmountSelector"
                >
                    <option value="minutes">Minutes</option>
                    <option value="hours">Hours</option>
                    <option value="days"
                            id="dayOption"
                            hidden
                    >Days
                    </option>
                </select>
                <span id="allocationError"
                      class="redText"
                ></span>
            </td>
        </tr>
        <tr>
            <td class="promptText"
                style="vertical-align: top;"
            >Comments
            </td>
            <td>
                <textarea name="comments">{comments}</textarea>
                <script type="text/javascript">
                    reason = CKEDITOR.replace('comments', {customConfig: '/ckeditor_config.js'});
                    reason.addCss('body { font-size: 10pt; }');
                </script>
            </td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit"
                       name="Submit"
                       value="Approve"
                       id="saveButton"
                >
                <input type="submit"
                       name="Submit"
                       value="Deny"
                       onclick="makeTimeNotRequired()"
                >
                <input type="submit"
                       name="Submit"
                       value="Delete"
                       onclick="makeTimeNotRequired()"
                >
            </td>
        </tr>
    </table>
</form>
<!-- End Template: ServiceChangeRequestReview.inc.html -->
