<!-- Template: ActivitySearch.inc.html -->
<script>
    $(function () {
        window.fromDate = $('#fromDate').get(0);
        window.toDate = $('#toDate').get(0);
        $('#customerString')[0].addEventListener('autocompleteselect', function ($event) {
            $('#customerID').val($event.detail.item.value);
        });
    });

    function submitOnReturn() {
        if (event.keyCode == 13) {
            document.searchForm.submit();
        }
    }
</script>
<div class="reportDescription">
    This will create an export of Service Requests showing key facts, including priority, SLA and fix hours.
</div>
<P class="formErrorMessage">{formError}</P>
<form name="searchForm"
      method="get"
      action="{urlSubmit}"
>
    <table width="500px"
           border="0"
           cellspacing="0"
           cellpadding="1"
    >
        <tr>
            <td width="100"
                class="promptText"
            >
                <div align="right">Customer</div>
            </td>
            <td>
                <input
                        type="hidden"
                        name="action"
                        value="search"
                >
                <input
                        type="hidden"
                        name="searchForm[1][customerID]"
                        id="customerID"
                        value="{customerID}"
                > <input
                    type="text"
                    id="customerString"
                    name="customerString"
                    value="{customerString}"
                    size="50"
                    maxlength="50"
                    customer-search
            > <font class="formErrorMessage"> {customerStringMessage} </font></td>
        </tr>
        <tr>
            <td class="promptText">&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">from</div>
            </td>
            <td>
                <input type="date"
                       name="searchForm[1][fromDate]"
                       id="fromDate"
                       value="{fromDate}"
                       size="10"
                       maxlength="10"
                       onKeypress="javascript:submitOnReturn()"
                       autocomplete="off"
                ><font class="formErrorMessage">{fromDateMessage}</font></td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">to</div>
            </td>
            <td>
                <input type="date"
                       name="searchForm[1][toDate]"
                       id="toDate"
                       value="{toDate}"
                       size="10"
                       maxlength="10"
                       onKeypress="javascript:submitOnReturn()"
                       autocomplete="off"
                > <font class="formErrorMessage">{toDateMessage}</font></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit"
                       name="Search"
                       value="Search"
                       onClick="submit();"
                >
            </td>
        </tr>
    </table>
    <p>&nbsp;</p>

</form>
<!-- End Template: ActivitySearch.inc.html -->