<!-- Template: ServiceChangeRequestReview.inc.html -->
<script src="CommonJS.js"></script>
<script src="ckeditor/ckeditor.js"></script>
<p><A
      href="#"
      onClick= "window.open(
      '{urlProblemHistoryPopup}',
      'reason',
      'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0'); return false">View SR history
    </A>
</p>
<form  method="post" action="{urlSubmit}" name="changerequest" AUTOCOMPLETE = "off">

  <input type="hidden" name="callActivityID"  value="{callActivityID}">

  <table>
    <tr>
      <td class="promptText">SR</td>
      <td colspan="3" class="mainHeadText">{problemID}</td>
    </tr>

    <tr>
      <td class="promptText">Customer</td>
      <td class="mainHeadText">{customerName}</td>
    </tr>

    <tr>
      <td class="promptText">Requester</td>
      <td class="mainHeadText">{userName}</td>
    </tr>

    <tr>
      <td class="promptText" style="vertical-align: top;">Request</td>
      <td class="mainHeadText">{requestDetails}</td>
    </tr>

    <tr>
      <td class="promptText" style="vertical-align: top;">Comments</td>
      <td>
      <textarea name="comments">{comments}</textarea>
        <script  type="text/javascript">
          reason = CKEDITOR.replace( 'comments', { customConfig : '/ckeditor_config.js' } );
          reason.addCss( 'body { font-size: 10pt; }' );
        </script>
      </td>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td>
        <input type="submit" name="Submit" value="Approve">
        <input type="submit" name="Submit" value="Deny">
        <input type="submit" name="Submit" value="Further Details Required">
      </td>
    </tr>
  </table>
</form>
<!-- End Template: ServiceChangeRequestReview.inc.html -->
