<!-- Template: ServiceRequestFixedEdit.inc.html -->
<script src="CommonJS.js"></script>
<!--<script src="ckfinder/ckfinder.js"></script>-->

<script>
    const minCharCount = 160;
    var formChanged = false;

    function proceedWithCancel(form) {
        if (formChanged == true) {
            return confirm('Are you sure that you want to cancel without saving your changes?');
        } else {
            return true;
        }
    }

    function setFormChanged() {
        formChanged = true;
    }

    function strpad(val) {
        return (!isNaN(val) && val.toString().length == 1) ? "0" + val : val;
    }

    function checkCharCount() {
        if (!isHidden && CKEDITOR.instances.resolutionSummary.wordCount.charCount < minCharCount) {
            alert('The resolution summary must have at least ' + minCharCount + ' characters');
            return false;
        }
        return true;
    }

    function changeRootCause() {
        const text = $('#rootCauseSelector')[0].selectedOptions[0].dataset.fixedText;
        if (text) {
            CKEDITOR.instances.resolutionSummary.insertHtml(atob(text));
        }
    }
</script>

<table width="100%">
    <tr>
        <td>{activityWizardHeader} {contractListPopupLink} {thirdPartyContactLink} {SRLink} {historyLink}
            {contactHistoryLink}
        </td>
        <td align="right"
            id="autoUpdateLabel"
        ></td>
    </tr>
</table>
<FORM method="post"
      action="{urlUpdateActivity}"
      name="callActivity"
      AUTOCOMPLETE="off"
      onsubmit="return checkCharCount();"
>
    <input type="hidden"
           name="problemID"
           value="{problemID}"
    >
    <input type="hidden"
           name="customerID"
           value="{customerID}"
    >

    <table class="singleBorder"
           width="900"
           border="0"
    >
        <tr>
            <td class="promptText">ID</td>
            <td colspan="3"
                class="mainHeadText"
            >{customerID}_{callActivityID}
            </td>
        </tr>
        <tr>
            <td class="promptText">Customer</td>
            <td class="mainHeadText">{customerName}</td>
        </tr>
        {contractDropdown}
        <tr>
            <td class="promptText">Root Cause</td>
            <td>
                <select name="rootCauseID"
                        onchange="changeRootCause()"
                        id="rootCauseSelector"
                >
                    <option value="">Not known</option>
                    <!-- BEGIN rootCauseBlock -->
                    <option {rootCauseSelected}
                            value="{itemRootCauseID}"
                            data-fixed-text="{rootCauseFixedText}"
                    >{rootCauseDescription}
                    </option>
                    <!-- END rootCauseBlock -->
                </select><span class="formErrorMessage">{rootCauseIDMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Flag For Management Review</td>
            <td>
                <input
                        type=checkbox
                        name="managementReviewFlag"
                        {managementReviewFlagChecked}
                        value="Y"
                >
            </td>
        </tr>
        <tr>
            <span class="formErrorMessage">{resolutionSummaryMessage}</span>
            <td colspan="2"><textarea name="resolutionSummary">{resolutionSummary}</textarea>
                <script type="text/javascript">
                    const isHidden = {hiddenSR};
                    CKEDITOR.config.width = '870';
                    CKEDITOR.config.height = '220';
                    CKEDITOR.config.resize_minWidth = '760';
                    CKEDITOR.config.disableNativeSpellChecker = false;
                    CKEDITOR.config.removePlugins = 'liststyle,tabletools,scayt,menubutton,contextmenu,language,tableselection';

                    reason = CKEDITOR.replace('resolutionSummary', {
                            contentsCss: '/screen.css',
                            toolbarStartupExpanded: false,
                            disableNativeSpellChecker: false,
                            toolbar: 'CNCToolbar',
                            toolbar_CNCToolbar:
                                [
                                    ['Source', '-', '-', 'Bold', 'Italic', 'Underline', 'Strike', 'TextColor', 'BGColor'],
                                    ['NumberedList', 'BulletedList'],
                                    ['Table'],
                                    ['Format', 'Font', 'FontSize'],
                                    ['Anchor', 'Link'],
                                    ['Undo', 'Redo']
                                ],
                            extraPlugins: 'font,wordcount',
                            fontSize_sizes: '8/8pt;9/9pt;10/10pt;11/11pt;12/12pt;14/14pt;16/16pt;18/18pt;20/20pt;22/22pt;24/24pt;26/26pt;28/28pt;36/36pt;48/48pt;72/72pt',
                            wordcount: {
                                showParagraphs: false,
                                showCharCount: true,
                                minCharCount: isHidden ? -1 : minCharCount
                            },
                        }
                    );
                    CKEDITOR.instances.resolutionSummary.on('paste', function (evt) {
                        evt.cancel();
                    });
                    reason.addCss('body { font-size: 10pt; }');
                </script>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"
                       name="Submit"
                       value="Save"
                >
            </td>
        </tr>
    </table>
</FORM>
<form method="post"
      action="{uploadURL}"
      name="uploadFile"
      AUTOCOMPLETE="off"
      enctype="multipart/form-data"
>
    <table class="singleBorder"
           width="900"
           border="0"
    >
        <tr>
            <td class="listHead">Documents</td>
        </tr>
        <tr>
            <td>
                <table class="singleBorder"
                       width="100%"
                >
                    <tr>
                        <td width="29%"
                            class="listHeadText"
                        >Description
                        </td>
                        <td width="28%"
                            class="listHeadText"
                        >File
                        </td>
                        <td width="18%"
                            class="listHeadText"
                        >Date
                        </td>
                        <td width="14%"
                            class="listHeadText"
                        >User
                        </td>
                        <td width="14%"
                            class="listHeadText"
                        >&nbsp;
                        </td>
                    </tr>
                    <!-- BEGIN documentBlock -->
                    <tr valign="top"
                        onMouseOver="this.bgColor='#ffffcc';"
                        onMouseOut="this.bgColor='';"
                    >
                        <td nowrap="nowrap"><A href="{urlViewFile}"
                                               title="View attached document"
                                               target="_blank"
                        >{description}</A>
                        </td>
                        <td nowrap="nowrap"><A href="{urlViewFile}"
                                               title="View attached document"
                                               target="_blank"
                        >{filename}</A>
                        </td>
                        <td nowrap="nowrap">{createDate}</td>
                        <td nowrap="nowrap">{createUserName}</td>
                        <td><A href="{urlDeleteFile}&isGather=true"
                               title="Delete attached document"
                               onClick="if(!confirm('Are you sure you want to remove this document?')) return(false)"
                        >{txtDeleteFile}</A>
                        </td>
                    </tr>
                    <!-- END documentBlock -->
                    <tr>
                        <td class="promptTextLeft">Description</td>
                        <td colspan="4">
                            <input name="userfile[]"
                                   type="file"
                                   value="{userfile}"
                                   class="dragUploader"
                                   multiple
                            >
                            <input type="submit"
                                   name="gatherFixed"
                                   value="Upload"
                            >
                            <span class="promptTextLeft">
                            {uploadErrors}
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>

<div id="partsUsedDialog"
     title="Parts Used"
>
    <textarea id="partsUsedText"
              cols="30"
              rows="10"
    ></textarea>
    <br>
    <div>
        <button onclick="sendPartsUsedToSales()">Send</button>
        <button onclick="cancelPartsUsed()">Cancel</button>
    </div>
</div>
<script>
    $('#partsUsedDialog').dialog({autoOpen: false, width: 910});
    CKEDITOR.replace('partsUsedText', {
            customConfig: '/ckeditor_config.js'
        }
    );


    function showPartsUsedDialog() {
        $('#partsUsedDialog').dialog('open');
    }

    function showSalesRequestDialog() {
        startSalesRequest({problemID});
    }

    function sendPartsUsedToSales() {
        var object = {
            message: CKEDITOR.instances.partsUsedText.getData(),
            callActivityID: {callActivityID}
        };

        $.ajax({
            url: '{urlMessageToSales}',
            method: 'POST',
            type: 'post',
            dataType: 'json',
            data: object
        }).then(function (result) {
            if (result.status == 'error') {
                throw 'Failed to send message';
            } else {
                $('#partsUsedDialog').dialog('close');
                alert('Submitted OK');
            }
        }).catch(function () {
            alert('Failed to send message');
        });
    }

    function cancelPartsUsed() {
        $('#partsUsedDialog').dialog('close');
    }

</script>
<table>
    <tr>
        <td colspan="4"
            class="promptTextLeft"
            valign="top"
        >
            <button onclick="showPartsUsedDialog()">Parts Used</button>
        </td>
        <td colspan="4"
            class="promptTextLeft"
            valign="top"
        >
            <button onclick="showSalesRequestDialog()">Sales Request</button>
        </td>
    </tr>
</table>
<!-- End Template: ServiceRequestFixedEdit.inc.html -->
