<table class="singleBorder" width="100%">
<!-- BEGIN serverBlock -->	
	<tr>
			<td width="21%" valign="bottom">&nbsp;</td>
			<td width="19%" valign="bottom">&nbsp;</td>
			<td valign="bottom">&nbsp;</td>
	</tr>
	<tr>
			<td colspan="3" valign="bottom"><u><strong>Server: {serverName}</strong></u></td>
		</tr>
	<tr>
			<td width="21%" valign="bottom">&nbsp;</td>
			<td width="19%" valign="bottom">&nbsp;</td>
			<td valign="bottom">&nbsp;</td>
	</tr>
	<tr>
			<td colspan="3" valign="bottom"><strong>Disk Usage</strong> </td>
		</tr>
	
	<tr>
			<td valign="bottom"><strong>Name</strong></td>
			<td valign="bottom"><strong>Total Size </strong></td>
			<td valign="bottom"><strong>Free Space </strong></td>
	</tr>
	<tr>
			<td valign="bottom">{disk1Name}</td>
			<td valign="bottom">{disk1Total}</td>
			<td valign="bottom">{disk1Free}</td>
	</tr>
	<tr>
			<td valign="bottom">{disk2Name}</td>
			<td valign="bottom">{disk2Total}</td>
			<td valign="bottom">{disk2Free}</td>
	</tr>
	<tr>
			<td valign="bottom">{disk3Name}</td>
			<td valign="bottom">{disk3Total}</td>
			<td valign="bottom">{disk3Free}</td>
	</tr>
	<tr>
			<td valign="bottom">&nbsp;</td>
			<td valign="bottom">&nbsp;</td>
			<td valign="bottom">&nbsp;</td>
	</tr>
	<tr>
			<td colspan="3" valign="bottom"><strong>Anti-virus: Server </strong> </td>
		</tr>
	
	
	<tr>
			<td valign="bottom">Application</td>
			<td valign="bottom">{antiVirusServerApp}</td>
			<td valign="bottom">&nbsp;</td>
	</tr>
	<tr>
			<td valign="bottom">Current DAT </td>
			<td valign="bottom">{antiVirusServerDAT}</td>
			<td valign="bottom">&nbsp;</td>
	</tr>
	<tr>
			<td valign="bottom">Current Engine </td>
			<td valign="bottom">{antiVirusServerEng}</td>
			<td valign="bottom">&nbsp;</td>
	</tr>
	<tr>
			<td valign="bottom">&nbsp;</td>
			<td valign="bottom">&nbsp;</td>
			<td valign="bottom">&nbsp;</td>
	</tr>
	<tr>
			<td colspan="3" valign="bottom"><strong>Anti-virus: Email </strong> </td>
	</tr>
	
	<tr>
			<td valign="bottom">Application</td>
			<td colspan="2" valign="bottom">{antiVirusEmailApp}</td>
		</tr>
	<tr>
			<td valign="bottom">Current DAT </td>
			<td colspan="2" valign="bottom">{antiVirusEmailDAT}</td>
		</tr>
	<tr>
			<td valign="bottom" nowrap>Current Engine </td>
			<td colspan="2" valign="bottom">{antiVirusEmailEng}</td>
		</tr>
	<tr>
			<td valign="bottom">&nbsp;</td>
			<td valign="bottom">&nbsp;</td>
			<td valign="bottom">&nbsp;</td>
	</tr>
	<tr>
			<td colspan="3" valign="bottom"><strong>Backup</strong> </td>
	</tr>
	<tr>
			<td valign="bottom">Application</td>
			<td colspan="2" valign="bottom">{backupApp}</td>
		</tr>
	<tr>
			<td valign="bottom">Last Result  </td>
			<td colspan="2" valign="bottom">{backupLastResult}</td>
		</tr>
	<tr>
			<td colspan="3" valign="bottom">&nbsp;</td>
	</tr>
	<tr>
			<td colspan="3" valign="bottom"><strong>RAID Array </strong> </td>
	</tr>
	
	<tr>
			<td valign="bottom">Healthy?</td>
			<td colspan="2" valign="bottom">{isRaidArrayHealthy}</td>
	</tr>
	<tr>
			<td colspan="3" valign="bottom">&nbsp;</td>
	</tr>
	<tr>
			<td colspan="3" valign="bottom"><strong>UPS</strong> </td>
	</tr>
	
	<tr>
			<td valign="bottom">Online?</td>
			<td colspan="2" valign="bottom">{isUPSOnline}</td>
	</tr>
<!-- END serverBlock -->
</table>
