<H2>Service Call {callActivityID}</H2>
<table width="100%" class="singleBorder">
		<tr>
				<th scope="row"><div align="left">{companyName}</div></th>
				</tr>
		<tr>
				<td scope="row"><div align="left"><span class="addressLine">{add1}</span></div></td>
				</tr>
		<tr>
				<td scope="row"><div align="left"><span class="addressLine">{add2}</span></div></td>
				</tr>
		<tr>
				<td scope="row"><div align="left"><span class="addressLine">{add3}</span></div></td>
				</tr>
		<tr>
				<td scope="row"><div align="left"><span class="addressLine">{town}</span></div></td>
				</tr>
		<tr>
				<td scope="row"><div align="left"><span class="addressLine">{county}</span></div></td>
				</tr>
		<tr>
				<td scope="row"><div align="left">{postcode}</div></td>
			</tr>
	</table>
	<BR/>
	<table width="100%" class="singleBorder">
		<tr>
				<th width="31%" align="left" nowrap="nowrap">IT Support Line</th>
				<td width="66%">{itSupportPhone}</td>
				<td width="3%">&nbsp;</td>
		</tr>
		<tr>
				<th align="left" nowrap="nowrap">Phone System Support Line</th>
				<td>{phoneSystemSupportPhone}</td>
				<td>&nbsp;</td>
		</tr>
		<tr>
				<th align="left" nowrap="nowrap">Date</th>
				<td>{date}</td>
				<td>&nbsp;</td>
		</tr>
		<tr>
				<th align="left" nowrap="nowrap">Arrival</th>
				<td>{startTime}</td>
				<td>&nbsp;</td>
		</tr>
		<tr>
				<th align="left" nowrap="nowrap">Departure</th>
				<td>{endTime}</td>
				<td>&nbsp;</td>
		</tr>
		<tr>
				<th align="left" nowrap="nowrap">Your Contact</th>
				<td>{contactName}</td>
				<td>&nbsp;</td>
		</tr>
		<tr>
				<th align="left" nowrap="nowrap">Engineer</th>
				<td>{userName}</td>
				<td>&nbsp;</td>
		</tr>
</table>
	<BR/>
	{serviceCallEmailNewEquipment}
	<table width="100%">
	<TR>
		<TH><div align="left">Reason</div></TH>
	</TR>
	<TR>
		<TD class="singleBorder">{reason}</TD>
	</TR>
	<TR>
		<TH><div align="left">Action Taken</div></TH>
	</TR>
	<TR>
		<TD class="singleBorder">{action}</TD>
	</TR>
	<TR>
		<TH><div align="left">Final Status</div></TH>
	</TR>
	<TR>
		<TD class="singleBorder">{finalStatus}</TD>
	</TR>
</table>
{serviceCallEmailServerChecks}
<BR/>