<!-- Template: ServiceRequestFixedEdit.inc.html -->
<script src="CommonJS.js"></script>
<script>
    let teamSelectorElement = null;
    let timeSelectorElement = null;
    let timeInputElement = null;
    let allocationErrorElement = null;
    let saveButtonElement = null;
    const isAdditionalTimeLimitApprover = {additionalTimeLimitApprover};
    const minutesInADay = {minutesInADay};
    window.addEventListener('DOMContentLoaded', function () {
        CKEDITOR.replace('comments', {customConfig: '/ckeditor_config.js'});
        teamSelectorElement = $('#teamSelector');
        timeSelectorElement = $('#allocatedTimeAmountSelector');
        timeInputElement = $('input[name="allocatedTimeValue"]');
        allocationErrorElement = $('#allocationError');
        saveButtonElement = $('#saveButton');

        if (teamSelectorElement.val() == 3) {
            $('#dayOption').show();
        } else {
            $('#dayOption').hide();
        }
        teamSelectorElement.change(function () {
            const elm = $(this);

            if (elm.val() == 3) {
                $('#dayOption').show();
            } else {
                $('#dayOption').hide();
            }
            checkRemainingTime();
        });

        timeSelectorElement.change(function () {
            checkRemainingTime();
        });
        timeInputElement.change(function () {
            checkRemainingTime();
        })

    });

    function checkRemainingTime() {
        if (!isAdditionalTimeLimitApprover) {
            const teamSelectedOption = teamSelectorElement[0].selectedOptions[0];
            const timeSelectedOption = timeSelectorElement[0].selectedOptions[0];
            const timeValue = +timeInputElement.val();
            let totalMinutes = timeValue;
            switch (timeSelectedOption.value) {
                case 'hours':
                    totalMinutes = timeValue * 60;
                    break;
                case 'days':
                    totalMinutes = timeValue * minutesInADay;
            }
            if (teamSelectedOption.dataset.minutesToAllocate < totalMinutes) {
                disableSave('You are not allowed to add additional minutes to this SR for the selected team, please discuss this with management to proceed.');
                return;
            }
        }
        enableSave();

    }

    function disableSave(allocationError = null) {
        saveButtonElement.attr('disabled', 'disabled');
        if (allocationError) {
            allocationErrorElement.html(allocationError);
        } else {
            allocationErrorElement.html('');
        }
    }

    function enableSave() {
        saveButtonElement.removeAttr('disabled');
        allocationErrorElement.html('');
    }

</script>


<FORM method="post"
      action="{urlUpdateActivity}"
      name="callActivity"
      AUTOCOMPLETE="off"
>
    <input type="hidden"
           name="problemID"
           value="{problemID}"
    >

    <p><A
            href="javascript:"
            onClick="window.open(
          '{urlProblemHistoryPopup}',
          'reason',
          'scrollbars=yes,resizable=yes,height=550,width=500,copyhistory=no, menubar=0'); return false"
    >View SR history
    </A></p>
    <table>
        <tr>
            <td class="promptText">SR</td>
            <td colspan="3"
                class="mainHeadText"
            >{problemID}
            </td>
        </tr>
        <tr>
            <td class="promptText">Customer</td>
            <td class="mainHeadText">{customerName}</td>
        </tr>

        <tr>
            <td class="promptText">Team</td>
            <td class="mainHeadText">
                <select name="teamLevel"
                        id="teamSelector"
                >
                    <option {teamLevel1Selected}
                            value="1"
                            data-minutes-to-allocate="{helpdeskHardLimitRemainingMinutes}"
                    >Helpdesk
                    </option>
                    <option {teamLevel2Selected}
                            value="2"
                            data-minutes-to-allocate="{escalationsHardLimitRemainingMinutes}"
                    >Escalations
                    </option>
                    <option {teamLevel3Selected}
                            value="3"
                            data-minutes-to-allocate="{smallProjectsHardLimitRemainingMinutes}"
                    >Small Projects
                    </option>
                    <option {teamLevel5Selected}
                            value="5"
                    >Projects
                    </option>
                </select>
            </td>
        </tr>

        <tr>
            <td class="promptText">Granted Minutes</td>
            <td class="mainHeadText">
                <input style="width: 50px"
                       name="allocatedTimeValue"
                       type="text"
                       value="{allocatedTimeValue}"
                       required
                >
                <span></span>
                <select name="allocatedTimeAmount"
                        id="allocatedTimeAmountSelector"
                >
                    <option value="minutes">Minutes</option>
                    <option value="hours">Hours</option>
                    <option value="days"
                            id="dayOption"
                            hidden
                    >Days
                    </option>
                </select>
                <span id="allocationError"
                      class="redText"
                ></span>
            </td>
        </tr>

        <tr>
            <td class="promptText"
                style="vertical-align: top;"
            >Comments
            </td>
            <td>
                <textarea name="comments">{comments}</textarea>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="submit"
                       name="Submit"
                       value="Save"
                       id="saveButton"
                >
            </td>
        </tr>
    </table>
</FORM>

<!-- End Template: ServiceRequestFixedEdit.inc.html -->
