<!-- Template: ContractsAnalysisReport.inc.html -->
<script>
    window.addEventListener('DOMContentLoaded', function () {
        $('#customerString')[0].addEventListener('autocompleteselect', function ($event) {
            $('#customerID').val($event.detail.item.value);
        });
    });
</script>
<P class="formErrorMessage">{formError}</P>
<form name="searchForm"
      method="get"
      action="{urlSubmit}"
>
    <table width="500px"
           border="0"
           cellspacing="0"
           cellpadding="1"
    >
        <tr>
            <td width="100"
                class="promptText"
            >Year (YYYY)
            </td>
            <td>
                <input
                        type="text"
                        name="searchForm[1][year]"
                        value="{year}"
                        placeholder="YYYY"
                        size="4"
                        maxlength="4"
                >
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit"
                       name="Search"
                       value="Run"
                >
            </td>
        </tr>
    </table>
    <p>&nbsp;</p>
    <table id="team-performance">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Target</th>
            <th>Jan</th>
            <th>Feb</th>
            <th>Mar</th>
            <th>Apr</th>
            <th>May</th>
            <th>Jun</th>
            <th>Jul</th>
            <th>Aug</th>
            <th>Sep</th>
            <th>Oct</th>
            <th>Nov</th>
            <th>Dec</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <th>HD SLA %</th>
            <td>{hdTeamTargetSlaPercentage}</td>
            <td class="{hdTeamActualSlaPercentage1Class}">{hdTeamActualSlaPercentage1}</td>
            <td class="{hdTeamActualSlaPercentage2Class}">{hdTeamActualSlaPercentage2}</td>
            <td class="{hdTeamActualSlaPercentage3Class}">{hdTeamActualSlaPercentage3}</td>
            <td class="{hdTeamActualSlaPercentage4Class}">{hdTeamActualSlaPercentage4}</td>
            <td class="{hdTeamActualSlaPercentage5Class}">{hdTeamActualSlaPercentage5}</td>
            <td class="{hdTeamActualSlaPercentage6Class}">{hdTeamActualSlaPercentage6}</td>
            <td class="{hdTeamActualSlaPercentage7Class}">{hdTeamActualSlaPercentage7}</td>
            <td class="{hdTeamActualSlaPercentage8Class}">{hdTeamActualSlaPercentage8}</td>
            <td class="{hdTeamActualSlaPercentage9Class}">{hdTeamActualSlaPercentage9}</td>
            <td class="{hdTeamActualSlaPercentage10Class}">{hdTeamActualSlaPercentage10}</td>
            <td class="{hdTeamActualSlaPercentage11Class}">{hdTeamActualSlaPercentage11}</td>
            <td class="{hdTeamActualSlaPercentage12Class}">{hdTeamActualSlaPercentage12}</td>
        </tr>
        <tr>
            <th>HD Fix Hours</th>
            <td>{hdTeamTargetFixHours}</td>
            <td class="{hdTeamActualFixHours1Class}">{hdTeamActualFixHours1}</td>
            <td class="{hdTeamActualFixHours2Class}">{hdTeamActualFixHours2}</td>
            <td class="{hdTeamActualFixHours3Class}">{hdTeamActualFixHours3}</td>
            <td class="{hdTeamActualFixHours4Class}">{hdTeamActualFixHours4}</td>
            <td class="{hdTeamActualFixHours5Class}">{hdTeamActualFixHours5}</td>
            <td class="{hdTeamActualFixHours6Class}">{hdTeamActualFixHours6}</td>
            <td class="{hdTeamActualFixHours7Class}">{hdTeamActualFixHours7}</td>
            <td class="{hdTeamActualFixHours8Class}">{hdTeamActualFixHours8}</td>
            <td class="{hdTeamActualFixHours9Class}">{hdTeamActualFixHours9}</td>
            <td class="{hdTeamActualFixHours10Class}">{hdTeamActualFixHours10}</td>
            <td class="{hdTeamActualFixHours11Class}">{hdTeamActualFixHours11}</td>
            <td class="{hdTeamActualFixHours12Class}">{hdTeamActualFixHours12}</td>
        </tr>
        <tr>
            <th>HD Qty</th>
            <td>{hdTeamTargetFixQtyPerMonth}</td>
            <td class="{hdTeamActualFixQtyPerMonth1Class}">{hdTeamActualFixQtyPerMonth1}</td>
            <td class="{hdTeamActualFixQtyPerMonth2Class}">{hdTeamActualFixQtyPerMonth2}</td>
            <td class="{hdTeamActualFixQtyPerMonth3Class}">{hdTeamActualFixQtyPerMonth3}</td>
            <td class="{hdTeamActualFixQtyPerMonth4Class}">{hdTeamActualFixQtyPerMonth4}</td>
            <td class="{hdTeamActualFixQtyPerMonth5Class}">{hdTeamActualFixQtyPerMonth5}</td>
            <td class="{hdTeamActualFixQtyPerMonth6Class}">{hdTeamActualFixQtyPerMonth6}</td>
            <td class="{hdTeamActualFixQtyPerMonth7Class}">{hdTeamActualFixQtyPerMonth7}</td>
            <td class="{hdTeamActualFixQtyPerMonth8Class}">{hdTeamActualFixQtyPerMonth8}</td>
            <td class="{hdTeamActualFixQtyPerMonth9Class}">{hdTeamActualFixQtyPerMonth9}</td>
            <td class="{hdTeamActualFixQtyPerMonth10Class}">{hdTeamActualFixQtyPerMonth10}</td>
            <td class="{hdTeamActualFixQtyPerMonth11Class}">{hdTeamActualFixQtyPerMonth11}</td>
            <td class="{hdTeamActualFixQtyPerMonth12Class}">{hdTeamActualFixQtyPerMonth12}</td>
        </tr>

        <tr>
            <td colspan="13">&nbsp;</td>
        </tr>

        <tr>
            <th>Esc SLA %</th>
            <td>{esTeamTargetSlaPercentage}</td>
            <td class="{esTeamActualSlaPercentage1Class}">{esTeamActualSlaPercentage1}</td>
            <td class="{esTeamActualSlaPercentage2Class}">{esTeamActualSlaPercentage2}</td>
            <td class="{esTeamActualSlaPercentage3Class}">{esTeamActualSlaPercentage3}</td>
            <td class="{esTeamActualSlaPercentage4Class}">{esTeamActualSlaPercentage4}</td>
            <td class="{esTeamActualSlaPercentage5Class}">{esTeamActualSlaPercentage5}</td>
            <td class="{esTeamActualSlaPercentage6Class}">{esTeamActualSlaPercentage6}</td>
            <td class="{esTeamActualSlaPercentage7Class}">{esTeamActualSlaPercentage7}</td>
            <td class="{esTeamActualSlaPercentage8Class}">{esTeamActualSlaPercentage8}</td>
            <td class="{esTeamActualSlaPercentage9Class}">{esTeamActualSlaPercentage9}</td>
            <td class="{esTeamActualSlaPercentage10Class}">{esTeamActualSlaPercentage10}</td>
            <td class="{esTeamActualSlaPercentage11Class}">{esTeamActualSlaPercentage11}</td>
            <td class="{esTeamActualSlaPercentage12Class}">{esTeamActualSlaPercentage12}</td>
        </tr>
        <tr>
            <th>Esc Fix Hours</th>
            <td>{esTeamTargetFixHours}</td>
            <td class="{esTeamActualFixHours1Class}">{esTeamActualFixHours1}</td>
            <td class="{esTeamActualFixHours2Class}">{esTeamActualFixHours2}</td>
            <td class="{esTeamActualFixHours3Class}">{esTeamActualFixHours3}</td>
            <td class="{esTeamActualFixHours4Class}">{esTeamActualFixHours4}</td>
            <td class="{esTeamActualFixHours5Class}">{esTeamActualFixHours5}</td>
            <td class="{esTeamActualFixHours6Class}">{esTeamActualFixHours6}</td>
            <td class="{esTeamActualFixHours7Class}">{esTeamActualFixHours7}</td>
            <td class="{esTeamActualFixHours8Class}">{esTeamActualFixHours8}</td>
            <td class="{esTeamActualFixHours9Class}">{esTeamActualFixHours9}</td>
            <td class="{esTeamActualFixHours10Class}">{esTeamActualFixHours10}</td>
            <td class="{esTeamActualFixHours11Class}">{esTeamActualFixHours11}</td>
            <td class="{esTeamActualFixHours12Class}">{esTeamActualFixHours12}</td>
        </tr>
        <tr>
            <th>Esc Qty</th>
            <td>{esTeamTargetFixQtyPerMonth}</td>
            <td class="{esTeamActualFixQtyPerMonth1Class}">{esTeamActualFixQtyPerMonth1}</td>
            <td class="{esTeamActualFixQtyPerMonth2Class}">{esTeamActualFixQtyPerMonth2}</td>
            <td class="{esTeamActualFixQtyPerMonth3Class}">{esTeamActualFixQtyPerMonth3}</td>
            <td class="{esTeamActualFixQtyPerMonth4Class}">{esTeamActualFixQtyPerMonth4}</td>
            <td class="{esTeamActualFixQtyPerMonth5Class}">{esTeamActualFixQtyPerMonth5}</td>
            <td class="{esTeamActualFixQtyPerMonth6Class}">{esTeamActualFixQtyPerMonth6}</td>
            <td class="{esTeamActualFixQtyPerMonth7Class}">{esTeamActualFixQtyPerMonth7}</td>
            <td class="{esTeamActualFixQtyPerMonth8Class}">{esTeamActualFixQtyPerMonth8}</td>
            <td class="{esTeamActualFixQtyPerMonth9Class}">{esTeamActualFixQtyPerMonth9}</td>
            <td class="{esTeamActualFixQtyPerMonth10Class}">{esTeamActualFixQtyPerMonth10}</td>
            <td class="{esTeamActualFixQtyPerMonth11Class}">{esTeamActualFixQtyPerMonth11}</td>
            <td class="{esTeamActualFixQtyPerMonth12Class}">{esTeamActualFixQtyPerMonth12}</td>
        </tr>

        <tr>
            <td colspan="13">
                <HR>
            </td>
        </tr>

        <tr>
            <th>SP SLA %</th>
            <td>{smallProjectsTeamTargetSlaPercentage}</td>
            <td class="{smallProjectsTeamActualSlaPercentage1Class}">{smallProjectsTeamActualSlaPercentage1}</td>
            <td class="{smallProjectsTeamActualSlaPercentage2Class}">{smallProjectsTeamActualSlaPercentage2}</td>
            <td class="{smallProjectsTeamActualSlaPercentage3Class}">{smallProjectsTeamActualSlaPercentage3}</td>
            <td class="{smallProjectsTeamActualSlaPercentage4Class}">{smallProjectsTeamActualSlaPercentage4}</td>
            <td class="{smallProjectsTeamActualSlaPercentage5Class}">{smallProjectsTeamActualSlaPercentage5}</td>
            <td class="{smallProjectsTeamActualSlaPercentage6Class}">{smallProjectsTeamActualSlaPercentage6}</td>
            <td class="{smallProjectsTeamActualSlaPercentage7Class}">{smallProjectsTeamActualSlaPercentage7}</td>
            <td class="{smallProjectsTeamActualSlaPercentage8Class}">{smallProjectsTeamActualSlaPercentage8}</td>
            <td class="{smallProjectsTeamActualSlaPercentage9Class}">{smallProjectsTeamActualSlaPercentage9}</td>
            <td class="{smallProjectsTeamActualSlaPercentage10Class}">{smallProjectsTeamActualSlaPercentage10}</td>
            <td class="{smallProjectsTeamActualSlaPercentage11Class}">{smallProjectsTeamActualSlaPercentage11}</td>
            <td class="{smallProjectsTeamActualSlaPercentage12Class}">{smallProjectsTeamActualSlaPercentage12}</td>
        </tr>
        <tr>
            <th>SP Fix Hours</th>
            <td>{smallProjectsTeamTargetFixHours}</td>
            <td class="{smallProjectsTeamActualFixHours1Class}">{smallProjectsTeamActualFixHours1}</td>
            <td class="{smallProjectsTeamActualFixHours2Class}">{smallProjectsTeamActualFixHours2}</td>
            <td class="{smallProjectsTeamActualFixHours3Class}">{smallProjectsTeamActualFixHours3}</td>
            <td class="{smallProjectsTeamActualFixHours4Class}">{smallProjectsTeamActualFixHours4}</td>
            <td class="{smallProjectsTeamActualFixHours5Class}">{smallProjectsTeamActualFixHours5}</td>
            <td class="{smallProjectsTeamActualFixHours6Class}">{smallProjectsTeamActualFixHours6}</td>
            <td class="{smallProjectsTeamActualFixHours7Class}">{smallProjectsTeamActualFixHours7}</td>
            <td class="{smallProjectsTeamActualFixHours8Class}">{smallProjectsTeamActualFixHours8}</td>
            <td class="{smallProjectsTeamActualFixHours9Class}">{smallProjectsTeamActualFixHours9}</td>
            <td class="{smallProjectsTeamActualFixHours10Class}">{smallProjectsTeamActualFixHours10}</td>
            <td class="{smallProjectsTeamActualFixHours11Class}">{smallProjectsTeamActualFixHours11}</td>
            <td class="{smallProjectsTeamActualFixHours12Class}">{smallProjectsTeamActualFixHours12}</td>
        </tr>
        <tr>
            <th>SP Qty</th>
            <td>{smallProjectsTeamTargetFixQtyPerMonth}</td>
            <td class="{smallProjectsTeamActualFixQtyPerMonth1Class}">{smallProjectsTeamActualFixQtyPerMonth1}</td>
            <td class="{smallProjectsTeamActualFixQtyPerMonth2Class}">{smallProjectsTeamActualFixQtyPerMonth2}</td>
            <td class="{smallProjectsTeamActualFixQtyPerMonth3Class}">{smallProjectsTeamActualFixQtyPerMonth3}</td>
            <td class="{smallProjectsTeamActualFixQtyPerMonth4Class}">{smallProjectsTeamActualFixQtyPerMonth4}</td>
            <td class="{smallProjectsTeamActualFixQtyPerMonth5Class}">{smallProjectsTeamActualFixQtyPerMonth5}</td>
            <td class="{smallProjectsTeamActualFixQtyPerMonth6Class}">{smallProjectsTeamActualFixQtyPerMonth6}</td>
            <td class="{smallProjectsTeamActualFixQtyPerMonth7Class}">{smallProjectsTeamActualFixQtyPerMonth7}</td>
            <td class="{smallProjectsTeamActualFixQtyPerMonth8Class}">{smallProjectsTeamActualFixQtyPerMonth8}</td>
            <td class="{smallProjectsTeamActualFixQtyPerMonth9Class}">{smallProjectsTeamActualFixQtyPerMonth9}</td>
            <td class="{smallProjectsTeamActualFixQtyPerMonth10Class}">{smallProjectsTeamActualFixQtyPerMonth10}</td>
            <td class="{smallProjectsTeamActualFixQtyPerMonth11Class}">{smallProjectsTeamActualFixQtyPerMonth11}</td>
            <td class="{smallProjectsTeamActualFixQtyPerMonth12Class}">{smallProjectsTeamActualFixQtyPerMonth12}</td>
        </tr>
        </tbody>
    </table>
</form>
<br>
<h1>SR Statistics</h1>
<table border="0"
       cellspacing="0"
       cellpadding="1"
>
    <tr>
        <td class="promptText">Customer Name</td>
        <td>
            <input
                    type="hidden"
                    name="customerID"
                    id="customerID"
                    value="{customerID}"
            >
            <input type="text"
                   id="customerString"
                   customer-search
            >
        </td>
    </tr>
    <tr>
        <td class="promptText">
            <div align="right">Between</div>
        </td>
        <td>
            <input type="date"
                   id="startDate"
                   size="10"
                   maxlength="10"
                   autocomplete="off"
            >
            and
            <input type="date"
                   id="endDate"
                   size="10"
                   maxlength="10"
                   autocomplete="off"
            >
        </td>
    </tr>
    <tr>
        <td>
            <script>
                let startDateInput = null;
                let endDateInput = null;
                let customerIdInput = null;
                let dataTableTemplate = null;
                let reportSectionElement = null;
                document.addEventListener('DOMContentLoaded', () => {
                    Mustache.tags = ['{%', '%}'];
                    startDateInput = document.getElementById('startDate');
                    endDateInput = document.getElementById('endDate');
                    customerIdInput = document.getElementById('customerID');
                    dataTableTemplate = document.getElementById('reportData').innerHTML;
                    reportSectionElement = document.getElementById('reportSection');
                });

                function generateOverFixSLAWorkingHoursLink(label, priority) {
                    const url = new URL('/Activity.php', window.location.protocol + "//" + window.location.host);
                    url.searchParams.append('action', 'search');
                    url.searchParams.append('activity[1][customerID]', customerIdInput.value);
                    url.searchParams.append('activity[1][callActTypeID]', '51');
                    url.searchParams.append('activity[1][contractCustomerItemID]', '99');
                    url.searchParams.append('activity[1][searchFormOverFixSLAWorkingHours]', "1");
                    url.searchParams.append('activity[1][fromDate]', startDateInput.value);
                    url.searchParams.append('activity[1][toDate]', endDateInput.value);
                    url.searchParams.append('activity[1][status]', "FIXED_OR_COMPLETED");
                    if (priority) {
                        url.searchParams.append('activity[1][priority]', priority);
                    }
                    const anchor = document.createElement('a');
                    anchor.target = '_blank';
                    anchor.href = url.toString();
                    anchor.text = label;
                    return anchor
                }

                function generateActivitySearchLink(label, priority) {

                    const url = new URL('/Activity.php', window.location.protocol + "//" + window.location.host);
                    url.searchParams.append('action', 'search');
                    url.searchParams.append('activity[1][customerID]', customerIdInput.value);
                    url.searchParams.append('activity[1][callActTypeID]', '51');
                    url.searchParams.append('activity[1][contractCustomerItemID]', '99');
                    url.searchParams.append('activity[1][searchFormFixSLAOption]', 'B');
                    url.searchParams.append('activity[1][fromDate]', startDateInput.value);
                    url.searchParams.append('activity[1][toDate]', endDateInput.value);
                    url.searchParams.append('activity[1][status]', "FIXED_OR_COMPLETED");
                    if (priority) {
                        url.searchParams.append('activity[1][priority]', priority);
                    }
                    const anchor = document.createElement('a');
                    anchor.target = '_blank';
                    anchor.href = url.toString();
                    anchor.text = label;
                    return anchor
                }

                function showStats() {
                    if (!customerIdInput.value) {
                        alert('There is no customer ID set, please select a customer');
                        return;
                    }

                    const customerId = customerIdInput.value;
                    const startDateString = startDateInput.value;
                    const endDateString = endDateInput.value;

                    const commonParams = {};

                    if (startDateString) {
                        commonParams.startDate = startDateString
                    }

                    if (endDateString) {
                        commonParams.endDate = endDateString
                    }
                    const getUrl = window.location;
                    const baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
                    const allCustomersStatsURLString = '/internal-api/stats';
                    const allCustomersStatsURL = new URL(allCustomersStatsURLString, baseUrl);
                    const allCustomersBreakdownStatsURL = new URL(allCustomersStatsURLString, baseUrl);
                    allCustomersBreakdownStatsURL.searchParams.append('breakDown', 'true');
                    const allCustomersProactiveStatsURL = new URL(allCustomersStatsURLString, baseUrl);
                    allCustomersProactiveStatsURL.searchParams.append('type', 'proactive');
                    const allCustomersProactiveBreakdownStatsURL = new URL(allCustomersStatsURLString, baseUrl);
                    allCustomersProactiveBreakdownStatsURL.searchParams.append('type', 'proactive');
                    allCustomersProactiveBreakdownStatsURL.searchParams.append('breakDown', 'true');
                    const allCustomersCustomerFacingStatsURL = new URL(allCustomersStatsURLString, baseUrl);
                    allCustomersCustomerFacingStatsURL.searchParams.append('type', 'customerFacing');
                    const allCustomersCustomerFacingBreakdownStatsURL = new URL(allCustomersStatsURLString, baseUrl);
                    allCustomersCustomerFacingBreakdownStatsURL.searchParams.append('type', 'customerFacing');
                    allCustomersCustomerFacingBreakdownStatsURL.searchParams.append('breakDown', 'true');


                    const specificCustomerStatsURLString = '/internal-api/customerStats/' + customerId;
                    const specificCustomerStatsURL = new URL(specificCustomerStatsURLString, baseUrl);
                    const specificCustomerBreakdownStatsURL = new URL(specificCustomerStatsURLString, baseUrl);
                    specificCustomerBreakdownStatsURL.searchParams.append('breakDown', 'true');
                    const specificCustomerProactiveStatsURL = new URL(specificCustomerStatsURLString, baseUrl);
                    specificCustomerProactiveStatsURL.searchParams.append('type', 'proactive');
                    const specificCustomerProactiveBreakdownStatsURL = new URL(specificCustomerStatsURLString, baseUrl);
                    specificCustomerProactiveBreakdownStatsURL.searchParams.append('type', 'proactive');
                    specificCustomerProactiveBreakdownStatsURL.searchParams.append('breakDown', 'true');

                    const specificCustomerCustomerFacingStatsURL = new URL(specificCustomerStatsURLString, baseUrl);
                    specificCustomerCustomerFacingStatsURL.searchParams.append('type', 'customerFacing');
                    const specificCustomerCustomerFacingBreakdownStatsURL = new URL(specificCustomerStatsURLString, baseUrl);
                    specificCustomerCustomerFacingBreakdownStatsURL.searchParams.append('breakDown', 'true');
                    specificCustomerCustomerFacingBreakdownStatsURL.searchParams.append('type', 'customerFacing');


                    const urls = [
                        allCustomersStatsURL,
                        allCustomersBreakdownStatsURL,
                        allCustomersProactiveStatsURL,
                        allCustomersProactiveBreakdownStatsURL,
                        allCustomersCustomerFacingStatsURL,
                        allCustomersCustomerFacingBreakdownStatsURL,
                        specificCustomerStatsURL,
                        specificCustomerBreakdownStatsURL,
                        specificCustomerProactiveStatsURL,
                        specificCustomerProactiveBreakdownStatsURL,
                        specificCustomerCustomerFacingStatsURL,
                        specificCustomerCustomerFacingBreakdownStatsURL,
                    ];

                    Object.keys(commonParams).forEach(key => {
                        urls.forEach(url => url.searchParams.append(key, commonParams[key]))
                    });
                    reportSectionElement.innerHTML = "<div class='loading' style='position: absolute'></div>";
                    Promise.all(urls.map(url => fetch(url.toString()).then(response => response.json()))
                    ).then(getContext)
                            .then((data) => {
                                const context = {item: data};
                                reportSectionElement.innerHTML = Mustache.to_html(dataTableTemplate, context);
                            })
                }

                function addData(customersData, labels, key, customerP1, allP1, customerP2, allP2, customerP3, allP3, customerP4, allP4, specificCustomerStats, allCustomersStats) {
                    customersData.push(
                            {
                                "description": labels[key].label,
                                "p1": customerP1 ? labels[key].format(customerP1[key]) : null,
                                "p1Class": customerP1 ? labels[key].assignClass(customerP1[key], allP1[key]) : null,
                                "p1Link": customerP1 && labels[key].link ? labels[key].link(customerP1[key], 1) : null,
                                "p2": customerP2 ? labels[key].format(customerP2[key]) : null,
                                "p2Class": customerP2 ? labels[key].assignClass(customerP2[key], allP2[key]) : null,
                                "p2Link": customerP2 && labels[key].link ? labels[key].link(customerP2[key], 2) : null,
                                "p3": customerP3 ? labels[key].format(customerP3[key]) : null,
                                "p3Class": customerP3 ? labels[key].assignClass(customerP3[key], allP3[key]) : null,
                                "p3Link": customerP3 && labels[key].link ? labels[key].link(customerP3[key], 3) : null,
                                "p4": customerP4 ? labels[key].format(customerP4[key]) : null,
                                "p4Class": customerP4 ? labels[key].assignClass(customerP4[key], allP4[key]) : null,
                                "p4Link": customerP4 && labels[key].link ? labels[key].link(customerP4[key], 4) : null,
                                "all": labels[key].format(specificCustomerStats[key]),
                                "allClass": labels[key].assignClass(specificCustomerStats[key], allCustomersStats[key]),
                                "allLink": labels[key].link ? labels[key].link(specificCustomerStats[key]) : null
                            }
                    );
                }

                function addSummaryData(allData, labels, key, allP1, allP2, allP3, allP4, allCustomersStats) {
                    allData.push(
                            {
                                "description": labels[key].label,
                                "p1": allP1 ? labels[key].format(allP1[key]) : null,
                                "p2": allP2 ? labels[key].format(allP2[key]) : null,
                                "p3": allP3 ? labels[key].format(allP3[key]) : null,
                                "p4": allP4 ? labels[key].format(allP4[key]) : null,
                                "all": labels[key].format(allCustomersStats[key]),
                            }
                    )
                }

                function getContext(
                        [
                            allCustomersStats,
                            allCustomersBreakdownStats,
                            allCustomersProactiveStats,
                            allCustomersProactiveBreakdownStats,
                            allCustomersCustomerFacingStats,
                            allCustomersCustomerFacingBreakdownStats,
                            specificCustomerStats,
                            specificCustomerBreakdownStats,
                            specificCustomerProactiveStats,
                            specificCustomerProactiveBreakdownStats,
                            specificCustomerCustomerFacingStats,
                            specificCustomerCustomerFacingBreakdownStats,
                        ]
                ) {

                    const higherIsBetter = (customer, allCustomers) => {
                        return customer >= allCustomers ? "performance-green" : 'performance-warn'
                    };
                    const lowerIsBetter = (customer, allCustomers) => {
                        return customer <= allCustomers ? "performance-green" : 'performance-warn'
                    };
                    const zeroTolerance = (customer, allCustomers) => {
                        return customer ? "performance-warn" : "performance-green";
                    }
                    const noColour = (customer, allCustomers) => {
                        return null;
                    };

                    const labels = {
                        "fixed": {
                            label: "Total SRs fixed",
                            format: x => x,
                            assignClass: noColour,
                            showInSummary: true
                        },
                        "raised": {
                            label: "Total SRs Raised",
                            format: x => x,
                            assignClass: noColour,
                            showInSummary: true
                        },
                        "responseTime": {
                            label: "Average Response Time",
                            format: x => x ? x.toFixed(2) : x,
                            assignClass: lowerIsBetter,
                            showInSummary: true
                        },
                        "sla": {
                            label: 'Response SLA',
                            format: x => x,
                            assignClass: x => null,
                            showInSummary: false
                        },
                        "slaMet": {
                            label: "% of Response SLAs Met",
                            format: x => (x * 100).toFixed(2),
                            assignClass: higherIsBetter,
                            showInSummary: true
                        },
                        "closedWithin8Hours": {
                            label: "% Closed within 8 hours of being raised",
                            format: x => (x * 100).toFixed(2),
                            assignClass: higherIsBetter,
                            showInSummary: true
                        },
                        "reopened": {
                            label: "% Reopened SRs",
                            format: x => (x * 100).toFixed(2),
                            assignClass: lowerIsBetter,
                            showInSummary: true
                        },
                        "avgChargeableTime": {
                            label: "Average Time of work carried out",
                            format: x => x ? x.toFixed(2) : x,
                            assignClass: lowerIsBetter,
                            showInSummary: true,
                        },
                        "avgTimeAwaitingCNC": {
                            label: "Average Fix Time (Awaiting CNC)",
                            format: x => x ? x.toFixed(2) : x,
                            assignClass: lowerIsBetter
                        },
                        "avgTimeFromRaiseToFixHours": {
                            label: "Average Time from Initial to Fixed",
                            format: x => x ? x.toFixed(2) : x,
                            assignClass: lowerIsBetter,
                            showInSummary: true,
                        },
                        "fixSLAFailedPct": {
                            label: "% of Fix SLAs Failed",
                            format: x => x ? (x * 100).toFixed(2) : x,
                            assignClass: zeroTolerance,
                            showInSummary: false
                        },
                        "fixSLAFailedCount": {
                            label: "Number of Fix SLAs Failed",
                            format: x => x,
                            assignClass: zeroTolerance,
                            showInSummary: false,
                            link: generateActivitySearchLink
                        },
                        "overFixSLAWorkingHours": {
                            label: "Number of SRs over Fix SLA Working Hours",
                            format: x => x,
                            assignClass: zeroTolerance,
                            showInSummary: false,
                            link: generateOverFixSLAWorkingHoursLink
                        }
                    };
                    const customersData = [];
                    const customerProactiveData = [];
                    const customerCustomerFacingData = [];
                    const allData = [];
                    const allProactiveData = [];
                    const allCustomerFacingData = [];
                    const data = [
                        {name: 'Customer - All Service Requests', data: customersData},
                        {name: 'Customer - Customer Facing Requests', data: customerCustomerFacingData},
                        {name: 'Customer - Proactive Requests', data: customerProactiveData},
                        {name: 'All Customers - All Service Requests', data: allData},
                        {name: 'All Customers - Customer Facing Requests', data: allCustomerFacingData},
                        {name: 'All Customers - Proactive Requests', data: allProactiveData},

                    ];

                    const tableCombinations = [
                        [
                            allCustomersStats,
                            specificCustomerStats,
                            allCustomersBreakdownStats,
                            specificCustomerBreakdownStats,
                            customersData,
                            allData
                        ],
                        [
                            allCustomersCustomerFacingStats,
                            specificCustomerCustomerFacingStats,
                            allCustomersCustomerFacingBreakdownStats,
                            specificCustomerCustomerFacingBreakdownStats,
                            customerCustomerFacingData,
                            allCustomerFacingData
                        ],
                        [
                            allCustomersProactiveStats,
                            specificCustomerProactiveStats,
                            allCustomersProactiveBreakdownStats,
                            specificCustomerProactiveBreakdownStats,
                            customerProactiveData,
                            allProactiveData
                        ]
                    ];

                    Object.keys(specificCustomerStats).forEach(key => {
                        if (!labels[key]) {
                            return;
                        }

                        tableCombinations.forEach(
                                combination => {
                                    const allCustomersBreakdownStats = combination[2]
                                    const allP1 = allCustomersBreakdownStats.find(x => x.priority === 1);
                                    const allP2 = allCustomersBreakdownStats.find(x => x.priority === 2);
                                    const allP3 = allCustomersBreakdownStats.find(x => x.priority === 3);
                                    const allP4 = allCustomersBreakdownStats.find(x => x.priority === 4);
                                    const specificCustomerBreakdownStats = combination[3];
                                    const customerP1 = specificCustomerBreakdownStats.find(x => x.priority === 1);
                                    const customerP2 = specificCustomerBreakdownStats.find(x => x.priority === 2);
                                    const customerP3 = specificCustomerBreakdownStats.find(x => x.priority === 3);
                                    const customerP4 = specificCustomerBreakdownStats.find(x => x.priority === 4);
                                    const customersData = combination[4];
                                    const specificCustomerStats = combination[1];
                                    const allCustomersStats = combination[0];
                                    addData(customersData, labels, key, customerP1, allP1, customerP2, allP2, customerP3, allP3, customerP4, allP4, specificCustomerStats, allCustomersStats);
                                    if (!labels[key].showInSummary) {
                                        return;
                                    }
                                    const allData = combination[5];
                                    addSummaryData(allData, labels, key, allP1, allP2, allP3, allP4, allCustomersStats);
                                }
                        )
                    });
                    return data;
                }
            </script>
            <button onclick="showStats()">Run</button>
        </td>
    </tr>
</table>
<style>
    #reportSection th {
        width: 30px;
    }
</style>
<div id="reportSection">

</div>
<script id="reportData"
        type="text/template"
>
    {% #item %}
    <br>
    <h3>{% name %}</h3>
    <table>
        <thead>
        <tr>
            <th style="min-width: 245px;"></th>
            <th>P1</th>
            <th>P2</th>
            <th>P3</th>
            <th>P4</th>
            <th>All</th>
        </tr>
        </thead>
        <tbody>
        {% #data %}
        <tr>
            <td>
                {% description %}
            </td>
            <td class="{% p1Class %}"> {% #p1Link %}<a href="{% p1Link %}"
                                                       target="_blank"
            >{% p1 %}</a>{% /p1Link %}{% ^p1Link %}{% p1 %}{% /p1Link %}
            </td>
            <td class="{% p2Class %}"> {% #p2Link %}<a href="{% p2Link %}"
                                                       target="_blank"
            >{% p2 %}</a>{% /p2Link %}{% ^p2Link %}{% p2 %}{% /p2Link %}
            </td>
            <td class="{% p3Class %}"> {% #p3Link %}<a href="{% p3Link %}"
                                                       target="_blank"
            >{% p3 %}</a>{% /p3Link %}{% ^p3Link %}{% p3 %}{% /p3Link %}
            </td>
            <td class="{% p4Class %}"> {% #p4Link %}<a href="{% p4Link %}"
                                                       target="_blank"
            >{% p4 %}</a>{% /p4Link %}{% ^p4Link %}{% p4 %}{% /p4Link %}
            </td>
            <td class="{% allClass %}"> {% #allLink %}<a href="{% allLink %}"
                                                         target="_blank"
            >{% all %}</a>{% /allLink %}{% ^allLink %}{% all %}{% /allLink %}
            </td>
        </tr>
        {% /data %}
        </tbody>
    </table>
    {% /item %}
</script>
