<!-- Template: StaffAvailableList.inc.html -->
<H2>Service Desk</H2>
<form name="staffAvailableForm" action="{urlUpdate}" method="POST">
<table class="singleBorder" width="700" border="0" cellspacing="1" cellpadding="2">
	<tr> 
		<td width="265" class="listHeadText"></td>
		<td class="listHeadTextRight">AM</td>
		<td class="listHeadTextRight">PM</td>
		<td class="listHeadTextRight"></td>
	</tr>
	<!-- BEGIN staffAvailableBlock -->
	<tr valign="top" onMouseOver="this.bgColor='#ffffcc';" onMouseOut="this.bgColor='';"> 
		<td class="orderLineItem"><INPUT name="staffAvailable[{staffAvailableID}][staffAvailableID]"  value="{staffAvailableID}" type="hidden" ><DIV align="left">{firstName} {lastName}</div></td>
		<td class="orderLineItem"><INPUT name="staffAvailable[{staffAvailableID}][am]" {DISABLED} type="checkbox" value="0.5" {amChecked}></td>
		<td align="center" class="orderLineItem"><INPUT name="staffAvailable[{staffAvailableID}][pm]" {DISABLED} type="checkbox"  value="0.5" {pmChecked}></td>
		<td class="orderLineItem" width ="200"></td>
	</tr>
	<!-- END staffAvailableBlock -->
	</tr>
	<tr> 
		<td colspan="4"class="orderLineItem"><DIV align="left"><STRONG>Problems</STRONG></DIV></td>
	</tr>
	<tr>
		<td colspan="4" class="fieldText"> <textarea
					name="header[helpDeskProblems]"
					cols="115"
					rows="20"
				>{helpDeskProblems}</textarea><span class="formErrorMessage">{helpDeskProblemsMessage}</span> </td>
	
	</tr>
	<tr>
		<td colspan="3" align="right"><input type="submit" name="Submit" value="Save"></td> 
	</tr>
	
</table>
</form>
<!-- End Template: StaffAvailableList.inc.html -->
