<!-- Template: ActivitySearch.inc.html -->
<script language='JavaScript'
        src="CommonJS.js"
></script>
<script language='JavaScript'>
    const autocompleteURL = "/Customer.php?action=searchName";
    window.addEventListener('DOMContentLoaded', function () {
        window.startDate = $('#startDate').get(0);
        window.endDate = $('#endDate').get(0);
    });

    function submitOnReturn() {
        if (event.keyCode == 13) {
            document.searchForm.submit();
        }
    }

</script>
<form name="searchForm"
      method="POST"
      action="{urlSubmit}"
>
    <table width="300px"
           border="0"
           cellspacing="0"
           cellpadding="1"
    >
        <tr>
            <td class="promptText">
                <div align="right">Start Date</div>
            </td>
            <td>
                <input type="date"
                       name="searchForm[1][startDate]"
                       id="startDate"
                       value="{startDate}"
                       size="10"
                       maxlength="10"
                       onkeypress="submitOnReturn()"
                       autocomplete="off"
                >
                <font class="formErrorMessage">{startDateMessage}</font>
            </td>
        </tr>
        <tr>
            <td class="promptText">
                <div align="right">End Date</div>
            </td>
            <td>
                <input type="date"
                       name="searchForm[1][endDate]"
                       id="endDate"
                       value="{endDate}"
                       size="10"
                       maxlength="10"
                       onkeypress="submitOnReturn()"
                       autocomplete="off"
                >
                <font class="formErrorMessage">{endDateMessage}</font>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit"
                       name="Search"
                       value="Search"
                >
                <input type="button"
                       name="Clear"
                       value="Clear"
                       onClick="document.location='Activity.php'"
                /></td>
        </tr>
    </table>
</form>