<style>
    {
        display: inline !important
    }
    .cke_combo__tokens .cke_combo_text {
        width: 70px;
    }
</style>
<script>

    const config = {
        contentsCss: '/screen.css',
        toolbarStartupExpanded: false,
        disableNativeSpellChecker: false,
        toolbar_CNCToolbar:
            [
                {
                    name: 'line1',
                    items: ['Source', '-', '-', 'Bold', 'Italic', 'Underline', 'Strike']
                },
                ['NumberedList', 'BulletedList'],
                ['Table'],
                ['Format', 'Font', 'FontSize'],
                ['Anchor', 'Link'],
                ['Undo', 'Redo'],
                {name: 'tokens', items: ['tokens']}
            ],
        toolbar: 'CNCToolbar',
        extraPlugins: 'tokens,font',
        removePlugins: 'tableselection',
        fontSize_sizes: '8/8pt;9/9pt;10/10pt;11/11pt;12/12pt;14/14pt;16/16pt;18/18pt;20/20pt;22/22pt;24/24pt;26/26pt;28/28pt;36/36pt;48/48pt;72/72pt'
    };
    let editor;
    window.addEventListener('DOMContentLoaded', function () {
        CKEDITOR.config.width = '870';
        CKEDITOR.config.resize_minWidth = '760';
        editor = CKEDITOR.replace('standardTextEditor', config);
        checkTags();
    });

    function checkTags() {
        var selectedOptions = $('#typeSelector').find(":selected");
        var customConfig = Object.assign({}, config);
        if (selectedOptions.length) {
            var option = selectedOptions[0];
            if (!updateType(+option.value)) {
                return;
            }
            var tags = option.getAttribute('data-tags');

            if (tags) {
                tags = JSON.parse(tags);
                customConfig.tags = tags;
            }
        }
        recreateEditor(customConfig);
    }

    const salesRequestTypeID = 7;
    const salesQuotationTypeID = 8;

    function updateType(type) {
        if (type === salesQuotationTypeID) {
            destroyEditorInstance();
            return false
        }

        if (type === salesRequestTypeID) {
            $('#salesRequestEmailRow').show();
            $('#salesRequestUnassignFlagRow').show();
            $('#salesRequestEmailRow input').attr('required', true);
            $('#salesRequestDoNotNotifySalesOption').show();
        } else {
            $('#salesRequestEmailRow').hide();
            $('#salesRequestUnassignFlagRow').hide();
            $('#salesRequestEmailRow input').attr('required', false);
            $('#salesRequestDoNotNotifySalesOption').hide();
        }
        return true;
    }

    function destroyEditorInstance() {
        if (CKEDITOR.instances.standardTextEditor) {
            CKEDITOR.instances.standardTextEditor.destroy();
        }
    }

    function recreateEditor(config) {
        destroyEditorInstance();
        CKEDITOR.replace('standardTextEditor', config);
    }

</script>
<!-- Template: FurtherActionEdit.inc.html -->
<TABLE width="200px"
       border="0"
       cellpadding="2"
       cellspacing="1"
>
    <TR>
        <TD width="100px"
            class="navigateLink"
            valign="top"
        ><a href="{urlDisplayList}">Back to list</a></TD>
        <TD width="100px"
            class="navigateLink"
            valign="top"
        ><a href="{urlDelete}">{txtDelete}</a></TD>
    </TR>
</table>
<FORM method="post"
      action="{urlUpdate}"
      name="standardText"
      AUTOCOMPLETE="OFF"
>
    <table border="0">
        <input
                type="hidden"
                name="standardText[1][stt_standardtextno]"
                value="{stt_standardtextno}"
        >
        <tr>
            <td class="promptText">Type</td>
            <td class="fieldText">
                <select name="standardText[1][stt_standardtexttypeno]"
                        onchange="checkTags()"
                        id="typeSelector"
                >
                    <option value="">Please select</option>
                    <!-- BEGIN typeBlock -->
                    <option {typeSelected}
                            value="{stt_standardtexttypeno}"
                            data-tags='{variables}'
                    >{typeDescription}
                    </option>
                    <!-- END typeBlock -->
                </select>
        <tr>
            <td class="promptText">Description</td>
            <td class="fieldText">
                <input
                        name="standardText[1][stt_desc]"
                        type="text"
                        value="{stt_desc}"
                        size="50"
                        maxlength="50"
                > <span class="formErrorMessage">{descriptionMessage}</span></td>
        </tr>
        <tr hidden
            id="salesRequestEmailRow"
        >
            <td class="promptText">Email</td>
            <td class="fieldText">
                <input name="standardText[1][salesRequestEmail]"
                       type="text"
                       value="{salesRequestEmail}"
                       size="50"
                >
            </td>
        </tr>
        <tr hidden
            id="salesRequestUnassignFlagRow"
        >
            <td class="promptText">Unassign SR</td>
            <td class="fieldText">
                <input name="standardText[1][salesRequestUnassignFlag]"
                       type="checkbox"
                       {salesRequestUnassignFlagChecked}
                       value="Y"
                >
            </td>
        </tr>
        <tr hidden
            id="salesRequestDoNotNotifySalesOption"
        >
            <td class="promptText">
                Do Not Notify Sales Option
            </td>
            <td>
                <input name="standardText[1][salesRequestDoNotNotifySalesOption]"
                       type="checkbox"
                       {salesRequestDoNotNotifySalesOptionChecked}
                       value="Y"
                >
            </td>
        </tr>
        <tr>
            <td valign="top"
                class="promptText"
            >Content
            </td>
            <td class="fieldText">
				<textarea
                        name="standardText[1][stt_text]"
                        id="standardTextEditor"
                        cols="100"
                        rows="10"
                >{stt_text}</textarea>
                <span class="formErrorMessage">{stt_textMessage}</span></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="formErrorMessage"><input type="submit"
                                                name="Submit"
                                                value="Update"
            ></td>
        </tr>
    </table>
</form>
<!-- End Template: FurtherActionEdit.inc.html -->