<script src=".javascript/customerPicker.js"
        type="module"
></script>
<script>
    (function () {

        const toUpdateJSON = '{toUpdate}';


        let optionElm, optionsStringElm, optionsHolder, multipleChoice, questionOptions, addButton,
            questionTypeSelector;
        $(function () {
            const mainElement = document.getElementById({questionID});

            optionElm = mainElement.querySelector('.optionValue');
            optionsStringElm = mainElement.querySelector('.optionsString');
            optionsHolder = mainElement.querySelector('.optionsHolder');
            multipleChoice = mainElement.querySelector('.questionMultipleChoice');
            questionOptions = mainElement.querySelector('.questionOptions');
            addButton = mainElement.querySelector('.addButton');
            questionTypeSelector = mainElement.querySelector('.questionTypeSelector');

            addButton.addEventListener('click', checkAddOption);
            questionTypeSelector.addEventListener('change', onQuestionTypeSelectoChange);

            if (toUpdateJSON) {
                const toUpdate = JSON.parse(toUpdateJSON);
                mainElement.querySelector('[name="question[formType]"]').value = toUpdate.formType;
                mainElement.querySelector('[name="question[name]"]').value = toUpdate.name;
                mainElement.querySelector('[name="question[type]"]').value = toUpdate.type;
                changeQuestionType(toUpdate.type);
                mainElement.querySelector('[name="question[label]"]').value = toUpdate.label;
                mainElement.querySelector('[name="question[required]"]').checked = toUpdate.required;
                mainElement.querySelector('[name="question[multi]"]').checked = toUpdate.multi;
                optionsStringElm.value = JSON.stringify(toUpdate.options);
                redrawOptionsHolder(getOptions());


            }

        });

        function getOptions() {
            const optionsString = optionsStringElm.value;
            let options = [];
            if (optionsString) {
                options = JSON.parse(optionsString);
                if (!options) {
                    options = [];
                }
            }
            return options;
        }

        function storeOptions(options) {
            optionsStringElm.value = JSON.stringify(options);
        }

        function checkAddOption() {
            debugger;
            const option = optionElm.value;
            let options = getOptions();
            options.push(option);
            optionElm.value = null;
            storeOptions(options);
            redrawOptionsHolder(options);
        }

        function redrawOptionsHolder(options) {
            optionsHolder.innerHTML = "";
            options.reduce((acc, option, count) => {
                const div = document.createElement('div');
                div.innerHTML = option;
                const removeButton = document.createElement('button');
                removeButton.type = 'button';
                removeButton.addEventListener('click', testRemoveOptions(count));
                removeButton.innerText = 'X';
                div.appendChild(removeButton);

                optionsHolder.appendChild(div);
                return acc;
            }, '');
        }

        function testRemoveOptions(value) {
            return function () {
                return removeOption(value);
            };
        }

        function removeOption(idx) {
            const options = getOptions();
            options.splice(idx, 1);
            storeOptions(options);
            redrawOptionsHolder(options);
        }

        function onQuestionTypeSelectoChange() {
            const $elm = $(event.target);
            changeQuestionType($elm.val());
        }

        function changeQuestionType(value) {
            switch (value) {
                case 'multi':
                    multipleChoice.style.display = 'table-row';
                    questionOptions.style.display = 'table-row';
                    break;
                case 'free':
                case 'y/n':
                default:
                    multipleChoice.style.display = 'none';
                    questionOptions.style.display = 'none';
            }
        }
    })();


</script>
<div id="{questionID}">
    <form action="{action}"
          method="post"
    >
        <table width="700px"
               border="0"
        >
            <tr {hideOnEdit}>
                <td class="promptText">Customer</td>
                <td class="fieldText">
                    <input
                            type="hidden"
                            name="question[customerID]"
                            id="customerID"
                            value="{customerID}"
                    >
                    <input type="text"
                           id="customerString"
                           value="{customerString}"
                           customer-picker="customerID"
                           size="50"
                           maxlength="50"

                    >
                </td>
            </tr>
            <tr>
                <td class="promptText">Starter/Leaver</td>
                <td class="fieldText">
                    <select required
                            name="question[formType]"
                    >
                        <option value="starter">Starter</option>
                        <option value="leaver">Leaver</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="promptText">Name(no space allowed)</td>
                <td class="fieldText">
                    <input type="text"
                           required
                           pattern="\S+"
                           name="question[name]"
                    >
                </td>
            </tr>
            <tr>
                <td class="promptText">Question Type</td>
                <td class="fieldText">
                    <select name="question[type]"
                            class="questionTypeSelector"
                            required
                    >
                        <option value="y/n">Yes/No</option>
                        <option value="multi">Multiple Choice</option>
                        <option value="free">Free Type</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="promptText">Question Label</td>
                <td class="fieldText">
                    <input type="text"
                           name="question[label]"
                           required
                    >
                </td>
            </tr>
            <tr class="questionOptions"
                hidden
            >
                <td class="promptText">Question Options</td>
                <td class="fieldText">
                    <input type="hidden"
                           name="question[options]"
                           class="optionsString"
                    >
                    <input type="text"
                           placeholder="type an option and hit Enter to add it"
                           class="optionValue"
                    >
                    <button type="button"
                            class="addButton"
                    >Add
                    </button>
                    <div class="optionsHolder">

                    </div>
                </td>
            </tr>
            <tr class="questionMultipleChoice"
                hidden
            >
                <td class="promptText">Multiple Answers?</td>
                <td class="fieldText">
                    <input type="checkbox"
                           name="question[multi]"
                           value="true"
                    >
                </td>
            </tr>
            <tr>
                <td class="promptText">Required?</td>
                <td class="fieldText">
                    <input type="checkbox"
                           name="question[required]"
                           value="true"
                    >
                </td>
            </tr>
        </table>

        <button>{addOrEdit} Question</button>
    </form>
</div>