<!-- Template: CustomerAnalysisReport.inc.html -->
<script language='JavaScript'
        src="CommonJS.js"
></script>
<script language='JavaScript'
        src='popcalendar/popcalendar.js'
></script>
<script language='JavaScript'>
    var state = 'none'; // display status
    var savedCustomerString

    function saveCustomerString() {
        savedCustomerString = document.getElementById("customerString").value
    }

    function validateCustomerString() {
        if (Trim(document.getElementById("customerString").value) != "") {
            if (document.getElementById("customerString").value != savedCustomerString) {
                window.open('{urlCustomerPopup}&customerString=' +
                    escape(document.getElementById("customerString").value) +
                    '&parentIDField=customerID' +
                    '&parentDescField=customerString',
                    'customers', 'scrollbars=yes,resizable=no,width=300,height=300,copyhistory=no, menubar=0')
            }
        } else {
            document.searchForm.customerID.value = "";
        }
    }

    function submitOnReturn() {
        if (event.keyCode == 13) {
            document.searchForm.submit();
        }
    }

    function validateCustomerStringOnReturn() {
        if (event.keyCode == 13) {
            validateCustomerString();
        }
    }

    function checkFields() {
        var customerIDInput = $('[name="searchForm[1][customerID]"]');
        var startDateInput = $('[name="searchForm[1][startDate]"]');
        var endDateInput = $('[name="searchForm[1][endDate]"]');

        if (!customerIDInput.val() && !startDateInput.val() && !endDateInput.val()) {
            alert('Please fill at least one field');
            return false;
        }
    }
</script>
<P class="formErrorMessage">{formError}</P>
<form name="searchForm"
      method="get"
      action="{urlSubmit}"
      onsubmit="return checkFields()"
>
    <table width="500px"
           border="0"
           cellspacing="0"
           cellpadding="1"
    >
        <tr>
            <td width="100"
                class="promptText"
            >
                <div align="right">Customer</div>
            </td>
            <td>
                <input type="hidden"
                       name="action"
                       value="search"
                >
                <input type="hidden"
                       name="searchForm[1][customerID]"
                       id="customerID"
                       value="{customerID}"
                >
                <input type="text"
                       id="customerString"
                       name="customerString"
                       value="{customerString}"
                       onFocus="javascript:saveCustomerString()"
                       onBlur="javascript:validateCustomerString()"
                       onKeypress="javascript:validateCustomerStringOnReturn()"
                       size="50"
                       maxlength="50"
                > <font class="formErrorMessage"> {customerStringMessage} </font>
            </td>
        </tr>
        <tr>
            <td width="100"
                class="promptText"
            >
                <div align="right">Start Date</div>
            </td>
            <td>
                <input name="searchForm[1][startDate]"
                       value="{startDate}"
                       size="10"
                       maxlength="7"
                       class="jqueryCalendar"
                       required
                > <font class="formErrorMessage"> {startDateMessage} </font>
            </td>
        </tr>
        <tr>
            <td width="100"
                class="promptText"
            >
                <div align="right">End Date</div>
            </td>
            <td>
                <input name="searchForm[1][endDate]"
                       value="{endDate}"
                       size="10"
                       maxlength="7"
                       class="jqueryCalendar"
                       required
                > <font class="formErrorMessage"> {endDateMessage} </font>
            </td>
        </tr>
        <tr>
            <td class="promptText">&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit"
                       name="Search"
                       value="Screen Report"
                >
            </td>
        </tr>
    </table>
    <p>&nbsp;</p>
    <table>
        <thead>
        <tr>
            <th></th>
            <th>Quantity</th>
            <th>Max Duration</th>
            <th>Avg. Duration</th>
            <th>Min Duration</th>
            <th>Max Open Hours</th>
            <th>Avg. Open Hours</th>
            <th>Min Open Hours</th>
            <th>Avg. Cost</th>
            <th>Total Cost</th>
            <th>Avg. Customer Contacts</th>
            <th>Avg. Remote Support</th>
            <th>Avg. Activities</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>Starters</td>
            <td align="right">{startersQuantity}</td>
            <td align="right">{startersMaxDuration}</td>
            <td align="right">{startersAvgDuration}</td>
            <td align="right">{startersMinDuration}</td>
            <td align="right">{startersMaxOpenHours}</td>
            <td align="right">{startersAvgOpenHours}</td>
            <td align="right">{startersMinOpenHours}</td>
            <td align="right">{startersAvgCost}</td>
            <td align="right">{startersTotalCost}</td>
            <td align="right">{startersAvgCustomerContact}</td>
            <td align="right">{startersAvgRemoteSupport}</td>
            <td align="right">{startersAvgActivities}</td>
        </tr>
        <tr>
            <td>Leavers</td>
            <td align="right">{leaversQuantity}</td>
            <td align="right">{leaversMaxDuration}</td>
            <td align="right">{leaversAvgDuration}</td>
            <td align="right">{leaversMinDuration}</td>
            <td align="right">{leaversMaxOpenHours}</td>
            <td align="right">{leaversAvgOpenHours}</td>
            <td align="right">{leaversMinOpenHours}</td>
            <td align="right">{leaversAvgCost}</td>
            <td align="right">{leaversTotalCost}</td>
            <td align="right">{leaversAvgCustomerContact}</td>
            <td align="right">{leaversAvgRemoteSupport}</td>
            <td align="right">{leaversAvgActivities}</td>
        </tr>
        <tr>
            <td>Total</td>
            <td align="right">{totalQuantity}</td>
            <td align="right">{totalMaxDuration}</td>
            <td align="right">{totalAvgDuration}</td>
            <td align="right">{totalMinDuration}</td>
            <td align="right">{totalMaxOpenHours}</td>
            <td align="right">{totalAvgOpenHours}</td>
            <td align="right">{totalMinOpenHours}</td>
            <td align="right">{totalAvgCost}</td>
            <td align="right">{totalTotalCost}</td>
            <td align="right">{totalAvgCustomerContact}</td>
            <td align="right">{totalAvgRemoteSupport}</td>
            <td align="right">{totalAvgActivities}</td>
        </tr>


        </tbody>
    </table>
</form>
<!-- End Template: CustomerAnalysisReport.inc.html -->