<script>
    (function () {

        const toUpdateBase64 = {toUpdate};
        let toUpdateJSON = null;
        if (toUpdateBase64) {
            toUpdateJSON = atob(toUpdateBase64);
        }

        const type = {type};

        function deleteQuestion() {
            if (!confirm('are you sure you want to delete this question?')) {
                return;
            }

            window.location = "?action=deleteQuestion&questionID=" + {questionID} + "&customerID=" + customerID + (type ? "&type=" + type : '');
        }

        let optionElm, optionsStringElm, optionsHolder, multipleChoice, questionOptions, addButton,
            questionTypeSelector;
        window.addEventListener('DOMContentLoaded', function () {
            const mainElement = document.getElementById({questionID});

            $('#customerString')[0].addEventListener('autocompleteselect', function ($event) {
                $('#customerID').val($event.detail.item.value);
            });

            optionElm = mainElement.querySelector('.optionValue');
            optionsStringElm = mainElement.querySelector('.optionsString');
            optionsHolder = mainElement.querySelector('.optionsHolder');
            multipleChoice = mainElement.querySelector('.questionMultipleChoice');
            questionOptions = mainElement.querySelector('.questionOptions');
            addButton = mainElement.querySelector('.addButton');
            const deleteButton = mainElement.querySelector('.deleteButton');
            questionTypeSelector = mainElement.querySelector('.questionTypeSelector');

            addButton.addEventListener('click', checkAddOption);
            questionTypeSelector.addEventListener('change', onQuestionTypeSelectoChange);
            deleteButton.addEventListener('click', deleteQuestion);

            if (toUpdateJSON) {
                const toUpdate = JSON.parse(toUpdateJSON);
                deleteButton.hidden = false;
                mainElement.querySelector('[name="question[formType]"]').value = toUpdate.formType;
                if (type) {
                    mainElement.querySelector('.formTypeRow').hidden = true;
                    const element = document.createElement('input');
                    element.type = 'hidden';
                    element.name = 'type';
                    element.value = type;
                    mainElement.querySelector('form').appendChild(element)
                }
                mainElement.querySelector('[name="question[name]"]').value = toUpdate.name;
                mainElement.querySelector('[name="question[type]"]').value = toUpdate.type;
                changeQuestionType(toUpdate.type);
                mainElement.querySelector('[name="question[label]"]').value = toUpdate.label;
                mainElement.querySelector('[name="question[required]"]').checked = toUpdate.required;
                mainElement.querySelector('[name="question[multi]"]').checked = toUpdate.multi;
                optionsStringElm.value = JSON.stringify(toUpdate.options);
                redrawOptionsHolder(getOptions());


            } else {
                if (type) {
                    mainElement.querySelector('.formTypeRow').hidden = true;
                    const element = document.createElement('input');
                    element.type = 'hidden';
                    element.name = 'type';
                    element.value = type;
                    mainElement.querySelector('form').appendChild(element)
                }
            }

        });

        function getOptions() {
            const optionsString = optionsStringElm.value;
            let options = [];
            if (optionsString) {
                options = JSON.parse(optionsString);
                if (!options) {
                    options = [];
                }
                options = options.sort((a, b) => a.localeCompare(b));
            }
            return options;
        }

        function storeOptions(options) {
            optionsStringElm.value = JSON.stringify(options);
        }

        function checkAddOption() {
            const option = optionElm.value;
            if (!optionElm.value) {
                return;
            }
            let options = getOptions();
            options.push(option);
            options = options.sort((a, b) => a.localeCompare(b));
            optionElm.value = null;
            storeOptions(options);
            redrawOptionsHolder(options);
        }

        function redrawOptionsHolder(options) {
            optionsHolder.innerHTML = "";
            options.reduce((acc, option, count) => {
                const div = document.createElement('div');
                const removeButton = document.createElement('button');
                removeButton.type = 'button';
                removeButton.dataset.id = count;
                removeButton.textContent = 'test';
                removeButton.innerHTML = '<i class="fa fa-trash-alt"></i>';
                div.appendChild(removeButton);
                const span = document.createElement('span');
                span.innerText = ' ' + option;
                div.appendChild(span);


                removeButton.addEventListener('click', removeOption);
                optionsHolder.appendChild(div);
                return acc;
            }, '');
        }

        function removeOption() {
            debugger;
            let target = event.target;
            if (target.tagName === "I") {
                target = target.parentElement;
            }
            const options = getOptions();
            let idx = target.dataset.id;
            options.splice(idx, 1);
            storeOptions(options);
            redrawOptionsHolder(options);
        }

        function onQuestionTypeSelectoChange() {
            const $elm = $(event.target);
            changeQuestionType($elm.val());
        }

        function changeQuestionType(value) {
            switch (value) {
                case 'multi':
                    multipleChoice.style.display = 'table-row';
                    questionOptions.style.display = 'table-row';
                    break;
                case 'free':
                case 'y/n':
                default:
                    multipleChoice.style.display = 'none';
                    questionOptions.style.display = 'none';
            }
        }
    })();


</script>
<div id="{questionID}">
    <form action="{action}"
          method="post"
    >
        <table width="700px"
               border="0"
        >
            <tr {hideOnEdit}>
                <td class="promptText">Customer</td>
                <td class="fieldText">
                    <input type="hidden"
                           name="question[customerID]"
                           id="customerID"
                           value="{customerID}"
                    >
                    <input type="text"
                           id="customerString"
                           value="{customerString}"
                           size="50"
                           maxlength="50"
                           customer-search

                    >
                </td>
            </tr>
            <tr class="formTypeRow">
                <td class="promptText">Starter/Leaver</td>
                <td class="fieldText">
                    <select required
                            name="question[formType]"
                    >
                        <option value="starter">Starter</option>
                        <option value="leaver">Leaver</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="promptText">Name(no space allowed)</td>
                <td class="fieldText">
                    <input type="text"
                           required
                           pattern="\S+"
                           name="question[name]"
                    >
                </td>
            </tr>
            <tr>
                <td class="promptText">Question Type</td>
                <td class="fieldText">
                    <select name="question[type]"
                            class="questionTypeSelector"
                            required
                    >
                        <option value="y/n">Yes/No</option>
                        <option value="multi">Multiple Choice</option>
                        <option value="free">Free Type</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="promptText">Question Label</td>
                <td class="fieldText">
                    <input type="text"
                           name="question[label]"
                           required
                    >
                </td>
            </tr>
            <tr class="questionOptions"
                hidden
            >
                <td class="promptText">Question Options</td>
                <td class="fieldText">
                    <input type="hidden"
                           name="question[options]"
                           class="optionsString"
                    >
                    <input type="text"
                           placeholder="type an option and press Add to add it"
                           class="optionValue"
                    >
                    <button type="button"
                            class="addButton"
                    >Add
                    </button>
                    <div class="optionsHolder">

                    </div>
                </td>
            </tr>
            <tr class="questionMultipleChoice"
                hidden
            >
                <td class="promptText">Multiple Answers?</td>
                <td class="fieldText">
                    <input type="checkbox"
                           name="question[multi]"
                           value="true"
                    >
                </td>
            </tr>
            <tr>
                <td class="promptText">Required?</td>
                <td class="fieldText">
                    <input type="checkbox"
                           name="question[required]"
                           value="true"
                    >
                </td>
            </tr>
        </table>

        <button>{addOrEdit} Question</button>
        <button type="button"
                class="deleteButton"
                hidden
        ><i class="fa fa-trash-alt"></i></button>
    </form>
</div>