<script language='JavaScript'
        src="CommonJS.js"
></script>
<script>
    let optionElm, optionsStringElm;
    $(function () {
        optionElm = document.getElementById('optionValue');
        optionsStringElm = document.getElementById('optionsString');
    })

    function getOptions() {
        const optionsString = optionsStringElm.value;
        let options = [];
        if (optionsString) {
            options = JSON.parse(optionsString);
        }
        return options;
    }

    function storeOptions(options) {
        optionsStringElm.value = JSON.stringify(options);
    }

    function checkAddOption() {
        const option = optionElm.value;
        let options = getOptions();
        options.push(option);
        optionElm.value = null;
        storeOptions(options);
        redrawOptionsHolder(options);
    }

    function redrawOptionsHolder(options) {
        const optionsHolder = document.getElementById('optionsHolder');

        const optionsHolderHTML = options.reduce((acc, option, count) => {
            acc += "<div>" + option + " <button type='button' onclick='removeOption(" + count + ")'>X</button></div>";
            return acc;
        }, '');
        optionsHolder.innerHTML = optionsHolderHTML;
    }

    function removeOption(idx) {
        const options = getOptions();
        options.splice(idx, 1);
        storeOptions(options);
        redrawOptionsHolder(options);
    }

    function changeQuestionType() {
        const $elm = $(event.target);

        const multipleChoice = document.querySelector('.questionMultipleChoice');
        const questionOptions = document.querySelector('.questionOptions');


        switch ($elm.val()) {
            case 'multi':
                multipleChoice.style.display = 'table-row';
                questionOptions.style.display = 'table-row';
                break;
            case 'free':
            case 'y/n':
            default:
                multipleChoice.style.display = 'none';
                questionOptions.style.display = 'none';


        }
    }

    let savedCustomerString;

    function saveCustomerString() {
        savedCustomerString = document.getElementById("customerString").value
    }

    function validateCustomerString() {
        if (Trim(document.getElementById("customerString").value) != "") {
            if (document.getElementById("customerString").value != savedCustomerString) {
                window.open('Customer.php?action=dispCustPopup&htmlFmt=popup&customerString=' +
                    escape(document.getElementById("customerString").value) +
                    '&parentIDField=customerID' +
                    '&parentDescField=customerString',
                    'customers', 'scrollbars=yes,resizable=no,width=300,height=300,copyhistory=no, menubar=0')
            }
        } else {
            document.searchForm.customerID.value = "";
        }
    }

    function validateCustomerStringOnReturn() {
        if (event.keyCode == 13) {
            validateCustomerString();
        }
    }
</script>
<div>
    <form action="StarterLeaverManagement.php?action=addQuestion"
          method="post"
    >
        <table width="700px"
               border="0"
        >
            <tr>
                <td class="promptText">Customer</td>
                <td class="fieldText">
                    <input
                            type="hidden"
                            name="question[customerID]"
                            id="customerID"
                            value="{customerID}"
                    >
                    <input type="text"
                           id="customerString"
                           value="{customerString}"
                           onFocus="saveCustomerString()"
                           onBlur="validateCustomerString()"
                           onKeypress="validateCustomerStringOnReturn()"
                           size="50"
                           maxlength="50"

                    >
                </td>
            </tr>
            <tr>
                <td class="promptText">Starter/Leaver</td>
                <td class="fieldText">
                    <select required
                            name="question[formType]"
                    >
                        <option value="starter">Starter</option>
                        <option value="leaver">Leaver</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="promptText">Name(no space allowed)</td>
                <td class="fieldText">
                    <input type="text"
                           required
                           pattern="\S+"
                           name="question[name]"
                    >
                </td>
            </tr>
            <tr>
                <td class="promptText">Question Type</td>
                <td class="fieldText">
                    <select onchange="changeQuestionType()"
                            name="question[type]"
                            required
                    >
                        <option value="y/n">Yes/No</option>
                        <option value="multi">Multiple Choice</option>
                        <option value="free">Free Type</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="promptText">Question Label</td>
                <td class="fieldText">
                    <input type="text"
                           name="question[label]"
                           required
                    >
                </td>
            </tr>
            <tr class="questionOptions"
                hidden
            >
                <td class="promptText">Question Options</td>
                <td class="fieldText">
                    <input type="hidden"
                           name="question[options]"
                           id="optionsString"
                    >
                    <input type="text"
                           placeholder="type an option and hit Enter to add it"
                           id="optionValue"
                    >
                    <button onclick="checkAddOption()"
                            type="button"
                    >Add
                    </button>
                    <div id="optionsHolder">

                    </div>
                </td>
            </tr>
            <tr class="questionMultipleChoice"
                hidden
            >
                <td class="promptText">Multiple Answers?</td>
                <td class="fieldText">
                    <input type="checkbox"
                           name="question[multi]"
                           value="true"
                    >
                </td>
            </tr>
            <tr>
                <td class="promptText">Required?</td>
                <td class="fieldText">
                    <input type="checkbox"
                           name="question[required]"
                           value="true"
                    >
                </td>
            </tr>
        </table>

        <button>Add Question</button>
    </form>
</div>