<TABLE cellpadding="0" cellspacing="0" class="zeroBorder"
	style="border-bottom: gray 1px dotted; border-left: gray 1px dotted; width: 500.35pt; border-collapse: collapse; margin-left: 0pt; font-size: 1em; border-top: gray 1px dotted; border-right: gray 1px dotted">
	<TR>
		<TD>Contract</TD>
		<TD>{contractName}</TD>
	</TR>
	<TR>
		<TD>Servers:</TD>
		<TD>
			<TABLE>
		<!-- BEGIN serverBlock -->
				<TR>
					<TD>
						{serverDescription} {serverSerialNo} {serverName}
					</TD>
				</TR>
		<!-- END serverBlock -->
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>Expiry Date</TD>
		<TD>{contractExpiry}</TD>
	</TR>
</TABLE>
<TABLE>
	<TR>
		<TD>Is the server and equipment under warranty:</TD>
		<TD>
			<TABLE>
		<!-- BEGIN warrantyBlock -->
				<TR>
					<TD>
						{warrantySerialNo} {warrantyServerName} {warrantyExpiryDate}
					</TD>
				</TR>
		<!-- END warrantyBlock -->
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>If no, how much for extension and from whom?</TD>
		<TD>
		</TD>
	</TR>
	<TR>
		<TD>&nbsp</TD>
		<TD>&nbsp</TD>
	</TR>
	<TR>
		<TD>Do we have a box to box VPN with this customer:</TD>
		<TD>
		</TD>
	</TR>
	<TR>
		<TD>&nbsp</TD>
		<TD>&nbsp</TD>
	</TR>
	<TR>
		<TD>Are there any improvements we should suggest?</TD>
		<TD>
		</TD>
	</TR>
	<TR>
		<TD>&nbsp</TD>
		<TD>&nbsp</TD>
	</TR>
	<TR>
		<TD>Are we charging an appropriate amount?</TD>
		<TD>
		</TD>
	</TR>
	<TR>
		<TD>&nbsp</TD>
		<TD>&nbsp</TD>
	</TR>
	<TR>
		<TD>Do we still want to provide support?</TD>
		<TD>
		</TD>
	</TR>
	<TR>
		<TD>&nbsp</TD>
		<TD>&nbsp</TD>
	</TR>
	<TR>
		<TD>If Yes, when is the remote health check being performed:</TD>
		<TD>
		</TD>
	</TR>
	<TR>
		<TD>&nbsp</TD>
		<TD>&nbsp</TD>
	</TR>
	<TR>
		<TD>Is an on-site health check required?</TD>
		<TD>
		</TD>
	</TR>
	<TR>
		<TD>If Yes, when and for how long?</TD>
		<TD>
		</TD>
	</TR>
	<TR>
		<TD>&nbsp</TD>
		<TD>&nbsp</TD>
	</TR>
	<TR>
		<TD colspan="2">Notes</TD>
		<TD>
	</TR>
</TABLE>	