<html>
<head>
    <script type="text/javascript">
        function submitSupplier(supplierID, supplierName) {
            if ((opener) && (!opener.closed)) {
                opener.document.getElementById("{parentDescField}").value = supplierName;
                const idInput = opener.document.getElementById("{parentIDField}")
                idInput.value = supplierID;
                const evt = document.createEvent('HTMLEvents');
                evt.initEvent('change', false, true);
                idInput.dispatchEvent(evt);
                window.close();
            }
        }
    </script>
</head>
<body>
<table>
    <TR>
        <TD>
            <!--DISABLED FOR NOW			<INPUT type="button" name="create" value="Create New" onclick="document.location='{urlSupplierCreate}';">-->
        </TD>
        <TD>
            <INPUT type="button"
                   name="close"
                   value="Close"
                   onclick="window.close();"
            >
        </TD>
    <TR/>
</table>
<table>
    <!-- BEGIN supplierBlock -->
    <tr>
        <td class="listSupplierText">
            <input type="hidden"
                   value="1"
            >
            <a href="javascript:submitSupplier({supplierID}, '{submitName}')">{supplierName}</a>
        </td>
    </tr>
    <!-- END supplierBlock -->
</table>
</body>
</html>
