<html>
<head>
    <script type="text/javascript">
        function submitItem(supplierID, supplierName) {
            if ((opener) && (!opener.closed)) {
                const idInput = opener.document.getElementById("{parentIDField}")
                idInput.value = supplierID;
                const evt = document.createEvent('HTMLEvents');
                evt.initEvent('change', false, true);
                idInput.dispatchEvent(evt);
                opener.document.getElementById("{parentDescField}").value = supplierName;

                window.close();
            }
        }
    </script>
</head>
<body>
<!-- BEGIN supplierBlock -->
<script type="text/javascript">
    submitItem({supplierID}, '{submitName}');
</script>
<!-- END supplierBlock -->
</body>
</html>