<!-- Template: TeamList.inc.html -->
<A href="{urlCreate}">[create new]</A> 
<table class="singleBorder" width="417" border="0" cellspacing="1" cellpadding="2">
	<tr> 
		<td class="listHeadText">Team</td>
    <td class="listHeadText">Role</td>
    <td class="listHeadText">Level</td>
    <td class="listHeadText">Active</td>
		<td class="listHeadText">&nbsp;</td>
	</tr>
	<!-- BEGIN TeamBlock -->
	<tr valign="top" onMouseOver="this.bgColor='#ffffcc';" onMouseOut="this.bgColor='';"> 
		<td class="orderLineItem"><DIV align="left">{name}</div></td>
    <td class="orderLineItem"><DIV align="left">{teamRoleName}</div></td>
    <td class="orderLineItem"><DIV align="left">{level}</div></td>
    <td class="orderLineItem"><DIV align="left">{activeFlag}</div></td>
		<td class="orderLineItem"><DIV align="left"></div>
			<DIV align="left"> <A href="{urlEdit}" title="Edit details">{txtEdit}</a> 
				<A href="{urlDelete}"  title="Delete" onClick="if(!confirm('Are you sure you want to remove this team?')) return(false)">{txtDelete}</A> 
			</DIV></td>
	</tr>
	<!-- END TeamBlock -->
</table>
<!-- End Template: TeamList.inc.html -->
