<script>


    let createButton;
    window.addEventListener('DOMContentLoaded', function () {
        const customerIdInput = document.getElementById('customerID');
        createButton = document.getElementById('createButton');
        document.getElementById('customerString').addEventListener('autocompleteselect', function ($event) {
            customerIdInput.value = $event.detail.item.value;
            createButton.removeAttribute('disabled');
        });
    });

    function clearForm() {
        document.createTemplatedQuotationForm.reset();
        createButton.setAttribute('disabled', '');
    }

    const openTabURL = '{openTabURL}';
    if (openTabURL) {
        window.open(openTabURL, '_blank').focus();
    }

</script>
<form method="post"
      action=""
      name="createTemplatedQuotationForm"
>
    <table>
        <tbody>
        <tr>
            <td class="promptText">Customer:</td>
            <td>
                <input type="hidden"
                       name="form[customerID]"
                       id="customerID"
                       value="{customerID}"
                >
                <input type="text"
                       name="form[customerString]"
                       id="customerString"
                       value="{customerString}"
                       size="50"
                       maxlength="50"
                       customer-search
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">Template:</td>
            <td>
                <select name="form[templates][]"
                        multiple
                        required
                        size="20"
                >
                    <!-- BEGIN templatesBlock -->
                    <option value="{templateID}"
                            {selected}
                    >{description}
                    </option>
                    <!-- END templatesBlock -->
                </select>
            </td>
        </tr>
        <tr>
            <td class="promptText">Existing Quotation</td>
            <td>
                <input type="text"
                       value="{existingQuotationID}"
                       name="form[existingQuotationID]"
                >
            </td>
        </tr>
        </tbody>
    </table>
    <button disabled
            id="createButton"
    >Create
    </button>
    <button type="button"
            onclick="clearForm();"
    >Clear
    </button>
</form>
