<!-- Template: UserEdit.inc.html -->
<script type="application/javascript"
        src=".javascript/luxon.min.js"
></script>
<script type="text/javascript">
    function editEncryptedNew() {
        const el = $(event.target);
        const parent = el.closest('td');

        const encryptedElement = parent.find('.encrypted');

        let encryptedValue = encryptedElement.val();


        let passPhrase = window.storedPassPhrase;
        if (!passPhrase) {
            passPhrase = prompt('Please provide secure passphrase');
            storePassPhrase(passPhrase);
        }
        if (!passPhrase) {
            return;
        }

        const data = encryptedElement.data();

        const formData = new FormData();

        formData.append('passphrase', passPhrase);
        formData.append('encryptedData', encryptedValue);
        if (data.extraData) {
            formData.append('extraData', data.extraData)
        }
        return fetch('?action=decrypt', {
            method: 'POST',
            body: formData
        }).then(response => {
            if (response.ok) {
                return response.json()
            }
            return response.json().then(e => {
                throw e;
            })
        }).then(json => {
            if (json) {
                return json;
            } else {
                return {decryptedData: ''};
            }
        }).then(serverData => {
            return generateInput(data.name, parent, serverData, data.extraData, data.customClass, data.customFunction, data.additionalAttributes);
        }).catch(e => {
            alert(e.error);
        })
    }

    function onSalaryChanged() {
        updateHourlyRate($('#salary').val(), $('#hoursInStandardDay').val());
    }

    function updateHourlyRate(salary, hoursInStandardDay) {
        console.log(salary, hoursInStandardDay);
        $('#hourlyPayRateInput').val((salary / 52 / (hoursInStandardDay * 5)).toFixed(2));
    }

    function onHoursInAStandardDayChanged() {
        updateHoursWorkedInAWeek();
        let salaryInput = $('#salary')[0];

        let promise = new Promise(resolve => {
            resolve(salaryInput)
        });
        if (!salaryInput) {
            promise = editEncryptedNew().then(() => {
                return $('#salary')[0];
            })

        }
        promise.then(salaryInput => {
            updateHourlyRate(salaryInput.value, $('#hoursInStandardDay').val());
        })
    }


    window.addEventListener('DOMContentLoaded', function () {
        updateHoursWorkedInAWeek();
        updateLengthOfService();
        generateEmptyInputs();
        checkApproverSelector();
        updateHiddenExpenseApproverValue();
    });

    function updateLengthOfService() {
        let newValue = null;
        const dateValue = $('#startDate').val();
        try {
            const date = moment(dateValue, 'YYYY-MM-DD');
            if (date.isValid) {
                const today = moment();
                const differenceMonths = today.diff(date, 'months');
                newValue = (differenceMonths / 12).toFixed(1);
            }
        } catch (e) {

        }
        let message = "Not Valid Start Date";
        if (newValue) {
            message = "Length Of Service: " + newValue + " years";
        }
        $('#lengthOfService').html(message);
    }


    function checkApproverSelector() {
        const autoApproveExpensesCheckbox = $('#autoApproveExpensesCheckbox')[0];
        $('#hiddenExpenseApprover').attr('disabled', !autoApproveExpensesCheckbox.checked);
        $('#expenseApproverSelector').attr('disabled', !!autoApproveExpensesCheckbox.checked);
    }

    function updateHiddenExpenseApproverValue() {
        $('#hiddenExpenseApprover').val($('#expenseApproverSelector').val());
    }

    function updateHoursWorkedInAWeek() {
        $('#hoursWorkedInAWeek').html("Hours Worked In A Week: " + $('#hoursInStandardDay').val() * 5 + " hours")
    }

    function isEmpty(obj) {
        for (var key in obj) {
            if (obj.hasOwnProperty(key))
                return false;
        }
        return true;
    }

    window.storedPassPhrase = null;

    function storePassPhrase(passPhrase) {
        storedPassPhrase = passPhrase;
        setTimeout(() => {
            window.storedPassPhrase = null;
        }, 300000);
    }

    function generateEmptyInputs() {
        $('.encrypted[value=""]').each(function () {
            const data = $(this).data();

            generateInput(
                data.name,
                $(this).closest('td'),
                {decryptedData: ''},
                data.extraData,
                data.customClass,
                data.customFunction,
                data.additionalAttributes
            );
        })
    }

    function generateInput(id, parent, data, extraData, additionalClass, additionalFunction, additionalAttribute) {
        let additionalAttributes = "";
        if (additionalAttribute) {
            additionalAttributes = Object.keys(additionalAttribute).reduce((acc, key) => {
                acc += " " + key + " ='" + additionalAttribute[key] + "'";
                return acc;
            }, "")
        }

        parent.append('<input id="' + id + '" ' + additionalAttributes + (additionalClass ? " class='" + additionalClass + "'" : '') + ' name="user[1][' + id + ']" value="' + data.decryptedData + '">');

        if (data.extraData) {
            parent.append('<span>' + data.extraData + '</span>');
        }

        if (additionalFunction) {
            window[additionalFunction]();
        }

        parent.find('button').hide();
    }

    window.onload = function () {
        $('#basedAtCustomerSiteCheckbox')[0].addEventListener('change', function ($event) {
            if ($event.target.checked)
                $('#siteCustomerString')[0].removeAttribute('disabled');
            else
                $('#siteCustomerString')[0].setAttribute('disabled', 'disabled');

        })
        if (!$('#basedAtCustomerSiteCheckbox')[0].checked)
            $('#siteCustomerString')[0].setAttribute('disabled', 'disabled');
        $('#siteCustomerString')[0].addEventListener('autocompleteselect', function ($event) {
            $('#siteCustId').val($event.detail.item.value);
        });
    }
</script>
<TABLE width="200px"
       border="0"
       cellpadding="2"
       cellspacing="1"
>
    <TR>
        <TD width="100px"
            class="navigateLink"
            valign="top"
        ><a href="{urlDisplayList}">Back to list</a></TD>
        <TD width="100px"
            class="navigateLink"
            valign="top"
        ><a href="{urlDelete}">{txtDelete}</a></TD>
    </TR>
</table>
<FORM method="post"
      action="{urlUpdate}"
      name="user"
      AUTOCOMPLETE="OFF"
>
    <table width="700px"
           border="0"

    >
        <input type="hidden"
               name="user[1][userID]"
               value="{userID}"
        >
        <input style="display: none;"
               type="checkbox"
               name="user[1][callBackEmail]"
               {callBackEmailChecked}
        >
        <tr>
            <td class="promptText">Name</td>
            <td class="fieldText">
                <input {DISABLED}
                       name="user[1][name]"
                       type="text"
                       value="{name}"
                       size="50"
                       maxlength="50"
                       required
                > <span class="formErrorMessage">{nameMessage}</span></td>
        </tr>
        <tr>
            <td class="promptText">Salutation</td>
            <td class="fieldText">
                <input {DISABLED}
                       name="user[1][salutation]"
                       type="text"
                       value="{salutation}"
                       size="50"
                       maxlength="50"
                       required
                > <span class="formErrorMessage">{salutationMessage}</span></td>
        </tr>
        <tr>
            <td class="promptText">First Name</td>
            <td class="field">
                <input {DISABLED}
                       type="text"
                       name="user[1][firstName]"
                       value="{firstName}"
                       size="50"
                       maxlength="50"
                       required
                > <span class="formErrorMessage">{firstNameMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Last Name</td>
            <td class="field">
                <input {DISABLED}
                       type="text"
                       name="user[1][lastName]"
                       value="{lastName}"
                       size="50"
                       maxlength="50"
                       required
                > <span class="formErrorMessage">{lastNameMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Job Title</td>
            <td class="field">
                <input {DISABLED}
                       type="text"
                       name="user[1][jobTitle]"
                       value="{jobTitle}"
                       size="50"
                       maxlength="50"
                       required
                > <span class="formErrorMessage">{jobTitleMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Team</td>
            <td class="fieldText">
                <select
                        {DISABLED}
                        type="text"
                        name="user[1][teamID]"
                >
                    <!-- BEGIN teamBlock -->
                    <option {teamSelected}
                            value="{teamID}"
                    >{teamName}
                    </option>
                    <!-- END teamBlock -->
                </select>
            </td>
        </tr>
        <tr>
            <td class="promptText">Manager</td>
            <td class="fieldText"><select
                    {DISABLED}
                    type="text"
                    name="user[1][managerID]"
            >
                <option value="0">None</option>
                <!-- BEGIN managerBlock -->
                <option {managerSelected}
                        value="{managerID}"
                >{managerName}
                </option>
                <!-- END managerBlock -->
            </select></td>
        </tr>
        <tr>
            <td class="promptText">Based at a customer site</td>
            <td class="fieldText">
                <input name="user[1][basedAtCustomerSite]"
                       type="checkbox"
                       id="basedAtCustomerSiteCheckbox"
                       {DISABLED}
                       {basedAtCustomerSiteChecked}

                />
            </td>
        </tr>
        <tr>
            <td class="promptText">Customer</td>
            <td class="fieldText">
                <input
                        type="hidden"
                        name="user[1][siteCustId]"
                        id="siteCustId"
                        value="{siteCustId}"
                />
                <input type="text"
                       id="siteCustomerString"
                       name="siteCustomerString"
                       value="{siteCustomerString}"
                       size="50"
                       maxlength="50"
                       customer-search=""
                       class="ui-autocomplete-input"
                       autocomplete="off"
                       {DISABLED}
                >


            </td>
        </tr>
        <tr>
            <td class="promptText">Automatically Approve This Users Expenses</td>
            <td class="fieldText">
                <input name="user[1][autoApproveExpenses]"
                       type="checkbox"
                       value="1"
                       id="autoApproveExpensesCheckbox"
                       {DISABLED}
                       {autoApproveExpensesChecked}
                       onchange="checkApproverSelector()"
                />
            </td>
        </tr>
        <tr>
            <td class="promptText">Expenses/overtime approver</td>
            <td class="fieldText">
                <input name="user[1][expenseApproverID]"
                       type="hidden"
                       id="hiddenExpenseApprover"
                       disabled
                >
                <select {DISABLED}
                        type="text"
                        name="user[1][expenseApproverID]"
                        id="expenseApproverSelector"
                        onchange="updateHiddenExpenseApproverValue()"
                >
                    <option value="0">None</option>
                    <!-- BEGIN expenseApproverBlock -->
                    <option {expenseApproverSelected}
                            value="{expenseApproverID}"
                    >{expenseApproverName}
                    </option>
                    <!-- END expenseApproverBlock -->
                </select></td>
        </tr>
        <tr>
            <td class="promptText">Username</td>
            <td class="field">
                <input {DISABLED}
                       type="text"
                       name="user[1][username]"
                       value="{username}"
                       size="20"
                       maxlength="20"
                       required
                > <span class="formErrorMessage">{usernameMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Employee No</td>
            <td class="field">
                <input {DISABLED}
                       type="text"
                       name="user[1][employeeNo]"
                       value="{employeeNo}"
                       size="20"
                       maxlength="20"
                > <span class="formErrorMessage">{employeeNoMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Start Date</td>
            <td class="field">
                <input type="date"
                       name="user[1][startDate]"
                       value="{startDate}"
                       onchange="updateLengthOfService()"
                       id="startDate"
                       wren
                >
                <span id="lengthOfService"></span> <span class="formErrorMessage">{startDateMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Date Of Birth</td>
            <td class="field">
                <button type="button"
                        onclick="editEncryptedNew()"
                ><i class="fa fa-pencil-alt {dateOfBirthPencilColor}"></i>
                </button>
                <input type="hidden"
                       name="user[1][encryptedDateOfBirth]"
                       value="{encryptedDateOfBirth}"
                       class="encrypted"
                       data-name="dateOfBirth"
                       data-extra-data="age"
                       data-additional-attributes='{"type": "date", "required": true}'
                >
            </td>
        </tr>
        <tr>
            <td width="20%"
                class="promptText"
            >Address
            </td>

            <td class="field">
                <button type="button"
                        onclick="editEncryptedNew()"
                ><i class="fa fa-pencil-alt {address1PencilColor}"></i>
                </button>
                <input type="hidden"
                       name="user[1][encryptedAddress1]"
                       value="{encryptedAddress1}"
                       class="encrypted"
                       data-name="address1"
                >
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="field">
                <button type="button"
                        onclick="editEncryptedNew()"
                ><i class="fa fa-pencil-alt {address2PencilColor}"></i>
                </button>
                <input type="hidden"
                       name="user[1][encryptedAddress2]"
                       value="{encryptedAddress2}"
                       class="encrypted"
                       data-name="address2"
                >
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="field">
                <button type="button"
                        onclick="editEncryptedNew()"
                ><i class="fa fa-pencil-alt {address3PencilColor}"></i>
                </button>
                <input type="hidden"
                       name="user[1][encryptedAddress3]"
                       value="{encryptedAddress3}"
                       class="encrypted"
                       data-name="address3"
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">Town</td>
            <td class="field">
                <button type="button"
                        onclick="editEncryptedNew()"
                ><i class="fa fa-pencil-alt {townPencilColor}"></i>
                </button>
                <input type="hidden"
                       name="user[1][encryptedTown]"
                       value="{encryptedTown}"
                       class="encrypted"
                       data-name="town"
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">County</td>
            <td class="field">
                <button type="button"
                        onclick="editEncryptedNew()"
                ><i class="fa fa-pencil-alt {countyPencilColor}"></i>
                </button>
                <input type="hidden"
                       name="user[1][encryptedCounty]"
                       value="{encryptedCounty}"
                       class="encrypted"
                       data-name="county"
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">Postcode</td>
            <td class="field">
                <button type="button"
                        onclick="editEncryptedNew()"
                ><i class="fa fa-pencil-alt {postcodePencilColor}"></i>
                </button>
                <input type="hidden"
                       name="user[1][encryptedPostcode]"
                       value="{encryptedPostcode}"
                       class="encrypted"
                       data-name="postcode"
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">Petrol Rate</td>
            <td class="field">
                <input {DISABLED}
                       type="text"
                       name="user[1][petrolRate]"
                       value="{petrolRate}"
                       size="10"
                       maxlength="10"
                > <span class="formErrorMessage">{petrolRateMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Company Healthcare Start Date</td>
            <td class="field">
                <input {DISABLED}
                       type="date"
                       name="user[1][companyHealthcareStartDate]"
                       value="{companyHealthcareStartDate}"
                       size="10"
                       maxlength="10"
                > <span class="formErrorMessage">{companyHealthcareStartDateMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Enhanced CNC 2 year pension Start Date</td>
            <td class="field">
                <input {DISABLED}
                       type="date"
                       name="user[1][enhancedCNC2YearPensionStartDate]"
                       value="{enhancedCNC2YearPensionStartDate}"
                       size="10"
                       maxlength="10"
                > <span class="formErrorMessage">{enhancedCNC2YearPensionStartDateMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Pension Additional payments</td>
            <td class="field">
                <button type="button"
                        onclick="editEncryptedNew()"
                ><i class="fa fa-pencil-alt {pensionAdditionalPaymentsPencilColor}"></i>
                </button>
                <input type="hidden"
                       name="user[1][encryptedPensionAdditionalPayments]"
                       value="{encryptedPensionAdditionalPayments}"
                       class="encrypted"
                       data-name="pensionAdditionalPayments"
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">Salary</td>
            <td class="field">
                <button type="button"
                        onclick="editEncryptedNew()"
                        id="salaryButton"
                ><i class="fa fa-pencil-alt {salaryPencilColor}"></i>
                </button>
                <input type="hidden"
                       name="user[1][encryptedSalary]"
                       value="{encryptedSalary}"
                       class="encrypted"
                       data-name="salary"
                       data-additional-attributes='{"onchange": "onSalaryChanged()", "type": "number", "required": true}'

                >
            </td>
        </tr>
        <tr>
            <td class="promptText">Hourly Pay Rate</td>
            <td class="field">
                <input {DISABLED}
                       type="text"
                       name="user[1][hourlyPayRate]"
                       value="{hourlyPayRate}"
                       size="10"
                       maxlength="10"
                       readonly
                       id="hourlyPayRateInput"
                > <span class="formErrorMessage">{hourlyPayRateMessage}</span>

            </td>
        </tr>

        <tr>
            <td class="promptText">Hours In Standard Day</td>
            <td class="field">
                <input {DISABLED}
                       type="text"
                       name="user[1][standardDayHours]"
                       value="{standardDayHours}"
                       size="10"
                       maxlength="10"
                       onchange="onHoursInAStandardDayChanged()"
                       id="hoursInStandardDay"
                ><span id="hoursWorkedInAWeek"></span> <span class="formErrorMessage">{standardDayHoursMessage}</span>
            </td>
        </tr>

        <tr>
            <td class="promptText">Salary Sacrifice</td>
            <td class="field">
                <button type="button"
                        onclick="editEncryptedNew()"
                ><i class="fa fa-pencil-alt {salarySacrificePencilColor}"></i>
                </button>
                <input type="hidden"
                       name="user[1][encryptedSalarySacrifice]"
                       value="{encryptedSalarySacrifice}"
                       class="encrypted"
                       data-name="salarySacrifice"
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">National Insurance Number</td>
            <td class="field">
                <button type="button"
                        onclick="editEncryptedNew()"
                ><i class="fa fa-pencil-alt {nationalInsuranceNumberPencilColor}"></i>
                </button>
                <input type="hidden"
                       name="user[1][encryptedNationalInsuranceNumber]"
                       value="{encryptedNationalInsuranceNumber}"
                       class="encrypted"
                       data-name="nationalInsuranceNumber"
                >
            </td>
        </tr>

        <tr>
            <td class="promptText">Signature File</td>
            <td class="field">
                <input {DISABLED}
                       type="text"
                       name="user[1][signatureFilename]"
                       value="{signatureFilename}"
                       size="10"
                       maxlength="10"
                > <span class="formErrorMessage">{signatureFilenameMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Password Level</td>
            <td class="field">
                <select name="user[1][passwordLevel]"
                        required
                >
                    <!-- BEGIN levelBlock -->
                    <option {levelSelected}
                            value="{level}"
                    >
                        {level} {levelDescription}
                    </option>
                    <!-- END levelBlock -->
                </select>
                <span class="formErrorMessage">{passwordLevelMessage}</span>
            </td>
        </tr>
        <tr>
            <td class="promptText">Additional Time Level Approver</td>
            <td class="fieldText">
                <input name="user[1][additionalTimeLevelApprover]"
                       type="checkbox"
                       value="true"
                       {DISABLED}
                       {additionalTimeLevelApproverChecked}
                />
            </td>
        </tr>
        <tr>
            <td class="promptText">Hold all SRs for QA Review</td>
            <td class="fieldText">
                <input name="user[1][holdAllSRsforQAReview]"
                       type="checkbox"
                       value="true"
                       {DISABLED}
                       {holdAllSRsforQAReviewChecked}
                />
            </td>
        </tr>
        <!-- <tr>
            <td class="promptText">BCC on customer emails</td>
            <td class="fieldText">

            </td>
        </tr> -->
        <tr>
            <td class="promptText">&nbsp;</td>
            <td class="fieldText">&nbsp;</td>
        </tr>
        <tr>
            <td class="promptText">Active</td>
            <td class="fieldText">
                <INPUT name="user[1][activeFlag]"
                       {DISABLED}
                       type="checkbox"
                       value="Y"
                       {activeFlagChecked}
                ></td>
        </tr>

        <tr>
            <td colspan="2">
                <h3>Menus to show</h3>
            </td>
        </tr>
        <tr>
            <td class="promptText"
                title="Customer Items and the Despatch process"
            >Technical
            </td>
            <td class="fieldText">
                <INPUT name="perms[]"
                       {DISABLED}
                       id="technical"
                       type="checkbox"
                       value="technical"
                       {technicalChecked}
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">SD Manager</td>
            <td class="fieldText"><INPUT name="user[1][receiveSdManagerEmailFlag]"
                                         {DISABLED}
                                         type="checkbox"
                                         value="Y"
                                         title="Allocate time from dashboard and display staff performance on user's home page"
                                         {receiveSdManagerEmailFlagChecked}
            ></td>
        </tr>
        <tr>
            <td class="promptText"
                title="Purchase Orders, Sales Orders, Sales Invoices, Customer Maintenance"
            >Sales
            </td>
            <td class="fieldText">
                <INPUT name="perms[]"
                       {DISABLED}
                       id="sales"
                       type="checkbox"
                       value="sales"
                       {salesChecked}
                >
            </td>
        </tr>
        <tr>
            <td class="promptText"
                title="Account Management"
            >Account Management
            </td>
            <td class="fieldText">
                <INPUT name="perms[]"
                       {DISABLED}
                       type="checkbox"
                       value="accountManagement"
                       {accountManagementChecked}
                >
            </td>
        </tr>
        <tr>
            <td class="promptText"
                title="Access to Reports Menu"
            >Reports
            </td>
            <td class="fieldText"><INPUT name="perms[]"
                                         {DISABLED}
                                         id="reports"
                                         type="checkbox"
                                         value="reports"
                                         {reportsChecked}
            ></td>
        </tr>
        <tr>
            <td class="promptText"
                title="Access to Renewals Menu"
            >Renewals
            </td>
            <td class="fieldText"><INPUT name="perms[]"
                                         {DISABLED}
                                         id="renewals"
                                         type="checkbox"
                                         value="renewals"
                                         {renewalsChecked}
            ></td>
        </tr>
        <tr>
            <td class="promptText"
                title="Purchase Invoices, Pre-pay Export, Expenses and Overtime, Sage Export, User Maintenance, Amendment of Completed Sales Orders"
            >
                Accounts
            </td>
            <td class="fieldText">
                <INPUT name="perms[]"
                       {DISABLED}
                       id="accounts"
                       type="checkbox"
                       value="accounts"
                       {accountsChecked}
                ></td>
        </tr>
        <tr>
            <td class="promptText"
                title="Access to Maintenance Menu"
            >Maintenance
            </td>
            <td class="fieldText">
                <INPUT name="perms[]"
                       {DISABLED}
                       id="maintenance"
                       type="checkbox"
                       value="maintenance"
                       {maintenanceChecked}
                ></td>
        </tr>
        <tr>
            <td class="promptText"
                title="Senior Management"
            >Senior Management
            </td>
            <td class="fieldText">
                <INPUT name="perms[]"
                       {DISABLED}
                       type="checkbox"
                       value="seniorManagement"
                       {seniorManagementChecked}
                >
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h3>Generic Permissions</h3>
            </td>
        </tr>
        <tr>
            <td class="promptText">Helpdesk</td>
            <td class="fieldText">
                <input name="user[1][helpdeskFlag]"
                       type="checkbox"
                       value="Y"
                       {DISABLED}
                       {helpdeskFlagChecked}
                />
            </td>
        </tr>
        <tr>
            <td class="promptText"
                title="Completion of Service Requests, Set Logging Problem flag, Setting Activities to Checked, Service Request Master Dashboard"
            >
                Supervisor
            </td>
            <td class="fieldText"><INPUT name="perms[]"
                                         {DISABLED}
                                         id="supervisor"
                                         type="checkbox"
                                         value="supervisor"
                                         {supervisorChecked}
            ></td>
        </tr>
        <tr>
            <td class="promptText">Appear in Queue</td>
            <td class="fieldText">
                <INPUT name="user[1][appearInQueueFlag]"
                       {DISABLED}
                       type="checkbox"
                       value="Y"
                       title="Does this user appear on the SR queue filter?"
                       {appearInQueueFlagChecked}
                >
            </td>
        </tr>
        <tr>
            <td class="promptText">Exclude from Stats</td>
            <td class="fieldText">
                <input name="user[1][excludeFromStatsFlag]"
                       type="checkbox"
                       id="user[1][excludeFromStatsFlag]"
                       value="Y"
                       {DISABLED}
                       {excludeFromStatsFlagChecked}
                />
            </td>
        </tr>
        <tr>
            <td class="promptText">Sales Password Access</td>
            <td class="fieldText">
                <input name="user[1][salesPasswordAccess]"
                       type="checkbox"
                       id="user[1][salesPasswordAccess]"
                       value="true"
                       {DISABLED}
                       {salesPasswordAccessChecked}
                />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h3>Team Lead Permissions</h3>
            </td>
        </tr>
        <tr>
            <td class="promptText">Change SR Priority</td>
            <td class="fieldText">
                <INPUT name="user[1][changePriorityFlag]"
                       {DISABLED}
                       type="checkbox"
                       value="Y"
                       {changePriorityFlagChecked}
                ></td>
        </tr>
        <tr>
            <td class="promptText">
                <div class="tooltip"
                     style="justify-content: flex-end;"
                >SR Queue Manager
                    <div class="tooltiptext tooltip-bottom">
                        Change Initial Activity Date And Time, allocate time, change queues and re-open SRs
                    </div>
                </div>

            </td>

            <td class="fieldText">
                <input name="user[1][queueManager]"
                       type="checkbox"
                       id="user[1][queueManager]"
                       value="Y"
                       {DISABLED}
                       {queueManagerChecked}
                />
            </td>
        </tr>
        <tr>
            <td class="promptText">
                <div class="tooltip"
                     style="justify-content: flex-end;"
                >Exclude from SDManger Dashboard
                    <div class="tooltiptext tooltip-bottom">
                        Exclude from SDManger Dashboard
                    </div>
                </div>

            </td>

            <td class="fieldText">
                <input name="user[1][excludeFromSDManagerDashboard]"
                       type="checkbox"
                       id="user[1][excludeFromSDManagerDashboard]"
                       {DISABLED}
                       {excludeFromSDManagerDashboardChecked}
                />

            </td>
        </tr>
        <tr>
            <td class="promptText">Change SR contracts</td>
            <td class="fieldText">
                <input name="user[1][changeSRContractsFlag]"
                       type="checkbox"
                       id="user[1][changeSRContractsFlag]"
                       value="Y"
                       {DISABLED}
                       {changeSRContractsFlagChecked}
                />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h3>Specific Permissions</h3>
            </td>
        </tr>
        <tr>
            <td class="promptText">Starter & Leaver question management</td>
            <td class="fieldText">
                <input name="user[1][starterLeaverQuestionManagementFlag]"
                       type="checkbox"
                       id="user[1][starterLeaverQuestionManagementFlag]"
                       value="Y"
                       {DISABLED}
                       {starterLeaverQuestionManagementFlagChecked}
                />
            </td>
        </tr>
        <tr>
            <td class="promptText">Offsite Backup Additional Permissions</td>
            <td class="fieldText">
                <input name="user[1][offsiteBackupAdditionalPermissionsFlag]"
                       type="checkbox"
                       id="user[1][offsiteBackupAdditionalPermissionsFlag]"
                       value="Y"
                       {DISABLED}
                       {offsiteBackupAdditionalPermissionsFlagChecked}
                />
            </td>
        </tr>

        <tr>
            <td class="promptText">Project Management</td>
            <td class="fieldText">
                <input name="user[1][projectManagementFlag]"
                       type="checkbox"
                       id="user[1][projectManagementFlag]"
                       value="Y"
                       {DISABLED}
                       {projectManagementFlagChecked}
                />
            </td>
        </tr>
        <tr>
            <td class="promptText">Staff Appraiser</td>
            <td class="fieldText">
                <input name="user[1][staffAppraiserFlag]"
                       type="checkbox"
                       id="user[1][staffAppraiserFlag]"
                       value="Y"
                       {DISABLED}
                       {staffAppraiserFlagChecked}
                />
            </td>
        </tr>
        <tr>
            <td class="promptText">Expense Approver</td>
            <td class="fieldText">
                <input name="user[1][isExpenseApprover]"
                       type="checkbox"
                       id="user[1][isExpenseApprover]"
                       value="1"
                       {DISABLED}
                       {isExpenseApproverChecked}
                />
            </td>
        </tr>
        <tr>
            <td class="promptText">Global Expense Approver</td>
            <td class="fieldText">
                <input name="user[1][globalExpenseApprover]"
                       type="checkbox"
                       id="user[1][globalExpenseApprover]"
                       value="1"
                       {DISABLED}
                       {globalExpenseApproverChecked}
                />
            </td>
        </tr>
        <tr>
            <td class="promptText">StreamOne License Management</td>
            <td class="fieldText">
                <input name="user[1][streamOneLicenseManagement]"
                       type="checkbox"
                       id="user[1][streamOneLicenseManagement]"
                       value="Y"
                       {DISABLED}
                       {streamOneLicenseManagementChecked}
                />
            </td>
        </tr>
        <tr>
            <td class="promptText">Create Renewal Sales Orders</td>
            <td class="fieldText">
                <input name="user[1][createRenewalSalesOrdersFlag]"
                       type="checkbox"
                       id="user[1][createRenewalSalesOrdersFlag]"
                       value="Y"
                       {DISABLED}
                       {createRenewalSalesOrdersFlagChecked}
                />
            </td>
        </tr>
        <tr>
            <td class="promptText">Mass deletion of Unstarted Service Requests</td>
            <td class="fieldText">
                <input name="user[1][massDeletionOnUnstartedServiceRequestPermission]"
                       type="checkbox"
                       value="1"
                       {DISABLED}
                       {massDeletionOnUnstartedServiceRequestPermissionChecked}
                />
            </td>
        </tr>
        <tr>
            <td class="promptText">Allow Force Closing of SRs</td>
            <td class="fieldText">
                <input name="user[1][forceClosingPermission]"
                       type="checkbox"
                       value="1"
                       {DISABLED}
                       {forceClosingPermissionChecked}
                />
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="formErrorMessage">
                <input type="submit"
                       name="Submit"
                       value="Update"
                >
            </td>
        </tr>
    </table>
</form>
<!-- End Template: UserEdit.inc.html -->