.service-request-summary {
    display: flex;
    flex-direction: row;
}

.service-request-summary dt {
    padding-left: 10px;
}
.form-group{
    display: flex;
    flex-direction: column;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}