{% extends "@internal/wrapper.html.twig" %}
{% block content %}
    <p>
        Service Penalties may be incurred if this request is not fixed soon because the Service
        Request {{ serviceRequestId }} will breach its FIX SLA shortly.
    </p>
{% endblock %}