{% extends "wrapper.html.twig" %}
{# @var items \CNCLTD\SolarwindsAccountItem[] #}
{% block styles %}
{% endblock %}
{% block content %}
    <p>
    These customers are missing Contract IDs within the Office 365 Backup Portal:
    {% for item in items %}
        <p>
            {{ item.name }}
        </p>
    {% endfor %}
{% endblock %}