{% extends '@customerFacing/wrapper.html.twig' %}
{# @var string contactFirstName #}
{% block headerTitle %}
    Billing Notice
{% endblock %}

{% block headerContet %}
    Advance Notification of a Direct Debit Collection
{% endblock %}

{% block content %}
    <p>
        Thank you for taking the time to meet with us, I've now uploaded a formal response to your customer
        <a href="https://www.cnc-ltd.co.uk/portal/documents/">portal</a> along with a copy of the review documents
        should you wish to look at them.</p>

    <p>
        If you need any assistance with the new portal and finding the document, please do not hesitate to contact us.
    </p>

    <p>Regards</p>

{% endblock %}

{% block leftFooter %}

{% endblock %}

{% block rightFooter %}

{% endblock %}