.test{
    flex-direction:column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 5px;
}
.display-active-menu{
    line-height: 30px;
}
.display-active-menu div{
    background-color: #dbdbdb;
    border-top: white solid 1px;
}
.display-active-menu div:hover{
    background-color: #bdbec1;
    cursor: pointer;
}
.activities-contianer{
    width:960px;
    margin-top:5px;
    border:1px solid #bdbec1;
    border-radius: 5px;
    padding:5px
}
.activities-edit-contianer{
    width:1080px;
    margin-top:5px;
    border:1px solid #bdbec1;
    border-radius: 5px;
   
}
.activity-detials-flex{    
    display: flex;
    flex-flow: row wrap;    
}
.label{
    width: 80px;
    color: #992211;
    white-space: nowrap;
}