/* The Modal (background) */

.modal {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 100;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);

    /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    /* color: #212529 !important; */
    color: #FFFFFF !important;
    text-align: left !important;
    position: relative;
    /* background-color: #fefefe; */
    background-color: #575757;
    margin: auto;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    max-width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.2s;
}

.modal button {
    background-color: #C6C6C6 !important;
    color: #000000 !important;
}

.modal-content h4 {
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    line-height: 1.8 !important;
}

.modal-content table {
    color: #FFFFFF;
}

.modal-content .tooltip {
    color: #FFFFFF;
}

/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        scale: 0.5;
        opacity: 0
    }
    to {
        scale: 1;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        width: 0px;
        opacity: 0
    }
    to {
        width: 100%;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 10px 16px;
    /* background-color: #5cb85c; */
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    cursor: grab;
}

.modal-title {
    margin-bottom: 0 !important;
    line-height: 1.5 !important;
    /* color: rgb(33, 37, 41) !important; */
    color: #FFFFFF !important;
    font-weight: 500;
    font-size: 1.25rem;
}

.modal-body {
    padding: 2px 16px;
    max-height: 600px;
    overflow-y: auto;
}

.modal-footer {
    padding: 2px 16px;
    /* background-color: #5cb85c; */
    color: #000;
    border-top: 1px solid #e9ecef;
    text-align: right;
}

 