BODY {
    font-size: 12px;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
}

div.environment-design {
    background-color: #fdffe5;
}

div.environment-test {
    background-color: #f1f9d1;
}

div.environment-website {
    background-color: #f0f9ff;
}

div.environment-development, div.environment-dev2 {
    background-color: #fae8ef;
}

.oddRows > tbody > tr:nth-child(odd) {
    background-color: rgb(250, 250, 250);
}

option:disabled {
    color: #c3c3c3
}

a.disabled {
    color: black;
}

button > a {
    color: #FFFFFF;
}

button > a:hover {
    text-decoration: none;
}

TD, INPUT, SELECT, TEXTAREA {
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 2px;
}

.fakeLink {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    outline: none;
}

.fakeLink.mainSupportContact {
    color: red;
}

.fakeLink:hover {
    text-decoration: underline;
}

.fakeLink:active {
    color: red;
}

.fakeLink[disabled] {
    color: inherit;
    cursor: inherit;
}

.redText {
    color: red;
}

P {
    margin-bottom: 0;
    margin-top: 0;
}

TEXTAREA.customer {
    width: 100%;
}

A {
    background-color: transparent;
    text-decoration: none;
    color: BLUE;
}

A.mainSupportContact {
    color: RED;
    font-weight: bold;
    font-style: italic;

}

A:HOVER {
    text-decoration: underline;
}

/*
A:VISITED {
	background-color : transparent;
	color : BLUE;
}
*/
.navigateLink {
    background-color: #cccccc;
    text-align: center;
}

.navigateLinkCustomerNoteExists {
    color: red;
    background-color: #cccccc;
    text-align: center;
}

.navigateLinkCustomerNoteExists.allFixedSRs {
    color: green;
}

H1 {
    color: #000080;
    font-size: 1.5em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

H2 {
    font-size: 1em;
    color: #000080;
}

H3 {
    color: #000080;
}

TABLE {
    /*	background-color : transparent; */
    BORDER: 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}

TABLE.singleBorder {
    border: #e1e1f0 2px solid;
}

table.main {
    /*	padding: 0px;
        margin: 0px; */
    border-collapse: collapse;
    border: 0 none;
    width: 760px;
}

table.content {
    background-color: #CCCCCC;
    border: black;
    padding: 2px;
}

td.content {
    background-color: #F4f4f2;
    text-align: left;
    padding: 5px;
    vertical-align: top;
    white-space: nowrap;
}

td.contentWrap {
    background-color: #F4f4f2;
    text-align: left;
    padding: 5px;
    vertical-align: middle;
}

td.contentRightAlign {
    background-color: #F4f4f2;
    text-align: right;
    padding: 5px;
    vertical-align: top;
    white-space: nowrap;
}

td.contentLeftAlign {
    background-color: #F4f4f2;
    text-align: left;
    padding: 5px;
    vertical-align: top;
    white-space: nowrap;
}

.headerLightgrey {
    font-family: arial, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    background-color: #CCCCCC;
    text-align: left;
}

.headerDarkgrey {
    font-family: arial, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    background-color: #666666;
    text-align: left;
}

DIV.addSite {
}

DIV.clearBoth {
    clear: both;
}

DIV.site {
    height: auto;
    float: left;
}

DIV.orderSearchScroll {
    PADDING-RIGHT: 0px;
    OVERFLOW-Y: scroll;
    PADDING-LEFT: 0px;
    LEFT: 0px;
    VISIBILITY: visible;
    OVERFLOW-X: hidden;
    PADDING-BOTTOM: 0px;
    WIDTH: 715px;
    PADDING-TOP: 0px;
    border: 0px solid #e1e1f0;
    border-right-width: 0;
    POSITION: relative;
    height: 250px;
    TOP: 0px;
    BACKGROUND-COLOR: #f4f2f2
}

DIV.purchOrderSearchScroll {
    BORDER-RIGHT: #e1e1f0 0px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #e1e1f0 0px solid;
    OVERFLOW-Y: scroll;
    PADDING-LEFT: 0px;
    LEFT: 0px;
    VISIBILITY: visible;
    OVERFLOW-X: hidden;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #e1e1f0 0px solid;
    WIDTH: 890px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #e1e1f0 0px solid;
    POSITION: relative;
    height: 250px;
    TOP: 0px;
    BACKGROUND-COLOR: #f4f2f2
}

.redText {
    color: red;
}

/* Classes are specialised to modify attributes within a general tag definition above */
.message {
    color: #FF9900;
    font-size: smaller;
}

.formErrorMessage {
    color: red;
    font-size: smaller;
}

.bigErrorMessage {
    color: Red;
    font-size: larger;
}

.notesAlert {
    color: Red;
    font-size: larger;
}

.field {
    color: black;
    text-align: left;
}

.notepadField {
    color: black;
    font-size: 8pt;
    text-align: left;
}

.fieldRight {
    color: black;
    text-align: right;
}

.displayfield {
    color: Black;
    text-align: left;
}

.promptText {
    text-align: right;
    color: #992211;
    white-space: nowrap;
}

.promptTextLeft {
    text-align: left;
    color: #992211;
    white-space: nowrap;
}

.tableHeader {
    background-color: #cccccc;
    text-align: center;
    color: Black;
}

.tableEditHeader {
    background-color: #cccccc;
    text-align: left;
    color: Black;
}

.tableEditHeaderUC {
    background-color: #cccccc;
    text-align: left;
    color: Black;
    text-transform: Uppercase;
}

.warrantyExpiredError {
    color: red;
    font-size: larger;
}

.formErrorUC {
    background-color: red;
    text-transform: Uppercase;
}

.listHeadText {
    color: Black;
    background-color: #cccccc;
    text-align: left;
    font-size: 16px;
}

.listHeadTextRight {
    color: Black;
    background-color: #cccccc;
    text-align: right;
}

.listHeadTextCentre {
    color: Black;
    background-color: #cccccc;
    text-align: center;
}

.listHeadNumber {
    color: Black;
    background-color: #cccccc;
    text-align: right;
}

.mainHeadText {
    color: Black;
    text-align: left;
}

.orderLineComment {
    color: Blue;
    background-color: #DDDDDD;
    text-align: left;
    white-space: nowrap;
}

.orderLineItem {
    color: Black;
    white-space: nowrap;
    text-align: right;
}

.alignLeft {
    text-align: left;
}

.dataTables_wrapper table {
    margin: 0px !important;
}

.orderLineLoss {
    color: Red;
    text-align: right;
}

.orderTotalItem {
    color: Black;
    background-color: #cccccc;
    text-align: right;
}

.orderTotalLoss {
    color: Red;
    background-color: #cccccc;
    text-align: right;
}

.hotLeadHeading {
    color: Black;
    background-color: #f8bebe;
    text-align: left;
}

.warmLeadHeading {
    color: Black;
    background-color: #fff4b5;
    text-align: left;
}

.coldLeadHeading {
    color: Black;
    background-color: #bef8e8;
    text-align: left;
}

.deadLeadHeading {
    color: White;
    background-color: Black;
    text-align: left;
}

P.addressLine {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.hidden {
    display: none;
}

.activityReason {
    color: Green;
}

.activityAction {
    color: Blue;
}

.activityFinalStatus {
    color: Red;
}

.activityCompleted {
    color: #009933;
    font-size: larger;
    text-align: left;
}

TH.filter {
    background-color: #CCCCCC;
    font-style: normal;
    font-weight: normal;
    color: #336600;
    font-size: 1em;
}

.column_heading {
    background-color: #EAEBE9;
    font-size: 1em;
}

TABLE.fieldChooser {
    border: #e1e1f0 1px solid;
    width: 500px;
    height: 100%;
    vertical-align: top;
}

.specialAttentionCustomer {
    background-color: #F8A5B6;
}

.specialAttentionContact {
    background-color: #ffe6e6;
}

div.customerEditMain {
    display: flex;
    flex-direction: row;
}

div.customerEditMainLeftColumn {
}

div.customerEditMainRightColumn {
}

div.customerEditProjects {
    clear: both;
}

div.customerEditSites {
    clear: both;
}

div.customerNoteNav {
    /*  clear: both; */
}

id.customerNoteModifiedText {
    margin: 5px;
}

div.customerNoteDetails {
    margin: 5px;
}

div.customerReviewTime {
    margin: 5px;
}

div.customerReviewAction {
    margin: 5px;
}

div.customerNoteHistory {
    margin: 5px;
}

h2.projectAlert {
    color: white;
    background-color: red;
    font-size: +2em;
}

tr.profitAlert {
    background-color: #F7DADF;
}

tr.externalItem {
    color: red;
}

span#hdRemainMinutes {
    color: red;
    font-size: large;
    font-weight: bold;
}

span#esRemainMinutes {
    color: red;
    font-size: large;
    font-weight: bold;
}

span#imRemainMinutes {
    color: red;
    font-size: large;
    font-weight: bold;
}

span#projectRemainMinutes {
    color: red;
    font-size: large;
    font-weight: bold;
}

.performance-green {
    background-color: #B2FFB2;
}

table#team-performance td, table#team-performance th {
    text-align: right;
}

table#user-performance-helpdesk td, table#user-performance-helpdesk th {
    text-align: right;
}

table#user-performance-escalations td, table#user-performance-escalations th {
    text-align: right;
}

.performance-warn {
    background-color: #F5AEBD;
}


.boring-gray {
    background-color: #cccccc;
}

table.second-site-image td, table.second-site-image th {
    text-align: left;
}

table.second-site-image th {
    font-size: 12px;
}

table#passed {
    background-color: #bcf7dd;
}

table#bad-config, table#image-not-found, table#server-not-found, table#out-of-date {
    background-color: #F7E4E8;

}

table#suspended {
    background-color: #F2F7E4;
}

table#excluded {
    background-color: #a2bf95;
}


.hiddenText {
    text-align: center;
    color: red;
    font-size: large;
    font-weight: bold;

}

table.table-bordered tr {
    background-color: rgb(238, 238, 238)
}

div.reportDescription {
    font-family: Arial, sans-serif;
}

/* Absolute Center Spinner */
.loading {
    position: absolute;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.invisible {
    opacity: 0;
}

.parentLoading {
    position: relative;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.makeItColor td {
    font-size: large;
}

.makeItColor td:nth-child(3n+1) {
    background: red;
}

.makeItColor td:nth-child(3n+2) {
    background: green;
}

.makeItColor td:nth-child(3n+3) {
    background: yellow;
}

table.fixed_header {
    table-layout: fixed;
}

.fixed_header tbody, .fixed_header thead {
    display: block;
}

.fixed_header tbody {
    overflow-y: scroll;
    max-height: 851px;
    direction: ltr;
    /*width: 100%;*/
}

.fixed_header tbody tr {
    direction: ltr;
}

.fixed_header tbody td {
    overflow: hidden;
}

.fixed_header td, .fixed_header th {
    word-wrap: break-word;
}

.fixed_header thead tr, .fixed_header tbody tr {
    display: block;
}

.redPencil {
    color: red;
}

.greenPencil {
    color: green;
}

.topAlign > td {
    vertical-align: top;
}

.alert-field {
    background-color: rgb(248, 165, 182);
}

.custom-file-upload {
    position: relative;
    overflow: hidden;
}

.custom-file-upload input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/*Old button design*/
/* input[type="button"], input[type="submit"], button, input[type="reset"], .custom-file-upload {

    background-color: #C6C6C6;
    color: black;
    border: none;
    padding: 3.5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 2px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

input[type="button"]:hover, input[type="submit"]:hover, button:hover, input[type="reset"]:hover, .custom-file-upload:hover {
    background-color: #E6E6E6;
}

input[type="button"][disabled], input[type="submit"][disabled], button[disabled], input[type="reset"][disabled], .custom-file-upload[disabled] {
    background-color: #efefef;
    color: #C6C6C6;
    cursor: not-allowed;
} */
/*new Button design*/
input[type="button"], input[type="submit"], button, input[type="reset"], .custom-file-upload {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 3px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*secondary*/
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    margin: 2px;
}

input[type="button"]:hover, input[type="submit"]:hover, button:hover, input[type="reset"]:hover, .custom-file-upload:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
    text-decoration: none;
}

input[type="button"]:focus, input[type="submit"]:focus, button:focus, input[type="reset"]:focus, .custom-file-upload:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, .5);
}

input[type="button"]:active, input[type="submit"]:active, button:active, input[type="reset"]:active, .custom-file-upload:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

input[type="button"][disabled], input[type="submit"][disabled], button[disabled], input[type="reset"][disabled], .custom-file-upload[disabled] {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    opacity: 0.65;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-info {
    background-color: #0082B9 !important;
}

/*end*/
table.cell-padding-1 th, table.cell-padding-1 td {
    padding: 1px;
}

.child-item-container {
    display: flex;
    flex-direction: column;
}

.c-item-list__item {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

.c-item-list__link {
    width: 350px;
    padding-left: 10px;
}

.wrapper {
    position: relative;
    display: inline-block;
}

.wrapper span {
    position: absolute;
    right: 7px;
    height: 22px;
}

.wrapper span i {
    height: 100%;
    font-size: 14px;
    padding-top: 4px;
}

.newLine input[type="number"] {
    width: 60px;
}

.salesOrderButton {
    background-color: transparent;
}

.salesOrderButton[disabled] {
    background-color: transparent;
}

.salesOrderButton i {
    color: #C6C6C6;
}

.salesOrderButton.not-so-faint i {
    color: #3C3C3C
}

.toggleColumn div {
    width: 16px
}

.renewalsColumn div {
    width: 10px;
}

.descriptionColumn div {
    width: 250px
}

.partNumberColumn div {
    width: 80px;
}

.supplierColumn div {
    width: 250px;
}

.financialColumn div {
    width: 70px;
    text-align: right;
}

.createPOColumn div {
    width: 30px;
}

.sortableTable input[type="number"] {
    width: 47px;
}

#itemListTable th {
    padding-left: 2px;
}

#itemListTable .typeahead-input {
    width: 180px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#autocompleteItem .ui-autocomplete-input {
    width: 300px;
}

table.sticky-header {
    position: relative;
}

table.sticky-header thead th {
    position: sticky;
    top: 0;
    background: white;
}

.icon {
    color: #404041;
}

.icon-size1 {
    color: #404041;
    font-size: 18px;
}

.m-5 {
    margin: 5pt;
}

.pointer {
    cursor: pointer;
}
