.supplier_edit_form input, .supplier_edit_form select {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    padding: 8px 12px;
}

.additional_charge_rate_form input {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    padding: 8px 12px;
}

.suggestions {
    color: black !important;
}

.specificCustomerPriceEditForm {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.specificCustomerPriceEditForm > div {
    margin: 6px;
}

.specificCustomerPriceEditForm input {
    width: auto;
}