{% extends '@customerFacing/style-3-rows-email/style-3-rows.twig' %}
{# @var string contactFirstName #}
{# @var string renewalType #}
{% block headerTitle %}
    Quote Reminder
{% endblock %}

{% block headerContet %}
    We know you're busy, so here's a gentle reminder
{% endblock %}

{% block content %}
    <p>{{ contactFirstName }},</p>
    <p>
        We recently sent you a renewal quotation for {{ renewalType }} as this will soon expire, a copy of which is
        attached.
    </p>

    <p>
        If you would like to proceed, follow the instructions on the quotation to electronically sign the order but if
        you have any questions, please contact us in advance of the renewal date.
    </p>


{% endblock %}

{% block leftFooter %}
    <br>
    <br>
{% endblock %}

{% block rightFooter %}

{% endblock %}