{% extends "@api/wrapper.html.twig" %}
{% block content %}
    <br>
    <br>
    <p>Thank you for your order which will be processed for you.</p>
    <p>If installation is required our Project Team will be in touch in due course.</p>
{% endblock %}
