{% extends '@customerFacing/wrapper.html.twig' %}
{# @var string contactFirstName #}
{% block headerTitle %}
    Billing Notice
{% endblock %}

{% block headerContet %}
    Advance Notification of a Direct Debit Collection
{% endblock %}

{% block content %}
    <p>
        The documents for our forthcoming review meeting are now uploaded to the customer portal, please take a few
        moments to review ready for our discussion.
    </p>
    <p>Regards</p>
{% endblock %}

{% block leftFooter %}
    You can click <a href="https://www.cnc-ltd.co.uk/portal/documents/">here</a> to go directly to them within
    our portal and we look forward to seeing you then.
{% endblock %}

{% block rightFooter %}

{% endblock %}