{% extends '@customerFacing/wrapper.html.twig' %}
{# @var senderFirstName string #}
{# @var senderLastName string #}
{# @var meetingDateTime \DateTimeInterface #}
{% block replyText %}
{% endblock %}
{% block headerTitle %}
    Account Management
{% endblock %}

{% block headerContet %}
    It's good to keep in touch
{% endblock %}

{% block content %}
    <p>
        The documents for our forthcoming review meeting have been uploaded to your customer portal, please take a few
        moments to review them ready for our discussion.
    </p>
    <p>
        We look forward to seeing you on the {{ meetingDateTime | date('jS F \\a\\t g:ia') }}
    </p>
    <p>
        Many thanks
    </p>
    <p>
        {{ senderFirstName }} {{ senderLastName }}
    </p>
{% endblock %}

{% block leftFooter %}
    Click <a href="https://www.cnc-ltd.co.uk/portal/documents/">here</a> to view the documents on our portal.
{% endblock %}

{% block rightFooter %}

{% endblock %}